#set($layout="/layout/loginAndSign.vm")
#set($head="register")
#parse("/common/login/head.vm")
<div class="wrapper reg-wrap">
	<div class="tip">
		<em>恭喜您，$!{company.account}：已注册成功！</em>
		<p>为了让您获得更精准的服务，让您的商业伙伴能够及时联系到您，我们建议您立即完善以下信息:</p>
	</div>
	<form id="regform2" name="regform2" action="#springUrl('/register/doRegister2.htm')" method="post">
		<fieldset class="reg-form">
			<em>以下打<b class="red">*</b>为必填项</em>
			<p><label for="companyName" class="t">公司名称<b class="red">*</b></label><input type="text" id="companyName" name="companyName" class="field tran validate[required]" /></p>
			<p><label for="department" class="t">我的部门<b>&nbsp;</b></label><input type="text" id="department" name="department" class="field tran" /></p>
			<p><label for="position" class="t">我的职位<b class="red">*</b></label><input type="text" id="position" name="position" class="field tran validate[required]" /></p>
			<p>
				<label for="area" class="t " name="areaCode" id="areaCode">国家/地区<b class="red">*</b></label>
				<select name="areaCode" id="areaCode">
					<option value="" >请选择国家</option>
					<option value="1000" >中国</option>
					<option value="1001" >日本</option>
				</select>
				<select name="areaCode" id="areaCode">
					<option value="" >请选择省份</option>
					<option value="1000" >浙江</option>
					<option value="1001" >湖北</option>
				</select>
				<select name="areaCode" id="areaCode">
					<option value="" >请选择城市</option>
					<option value="1000" >杭州</option>
					<option value="1001" >武汉</option>
				</select>
				<select name="areaCode" id="areaCode">
					<option value="" >请选择区县</option>
					<option value="1000" >江干区</option>
					<option value="1001" >江夏区</option>
				</select>
			</p>
			<p><label for="address" class="t">地址<b class="red">*</b></label><input type="text" id="address" name="address" class="field tran validate[required]" /></p>
			<p><label for="business" class="t">主营产品<b class="red">*</b></label><input type="text" id="business" name="business" class="field tran validate[required]" /></p>
			<p><label for="tel" class="t">固定电话<b>&nbsp;</b></label><input type="text" placeholder="086" maxlength="3" class="field tran plc" style="width: 40px" /><input type="text" placeholder="0571" maxlength="4" class="field tran plc" style="width: 40px" /><input type="text" id="tel" name="tel" class="field tran" style="width: 145px" /></p>
			<p><label for="fax" class="t">传真<b>&nbsp;</b></label><input type="text" placeholder="086" maxlength="3" class="field tran plc" style="width: 40px" /><input type="text" placeholder="0571" maxlength="4" class="field tran plc" style="width: 40px" /><input type="text" id="fax" name="fax" class="field tran" style="width: 145px" /></p>
			<p class="left"><input type="submit" value="保 存" class="btn_s2" /> <a href="#springUrl('/zhushou/shangji/fabu.htm')">下次再说</a></p>
		</fieldset>
		<input type="hidden" id="id" value="$!id" name="id" />
	</form>
</div>
#parse("/common/login/footer.vm")
#parse("/common/importValidator.vm")
<script>
	jQuery(document).ready(function(){
		var reg = new kl91.reg.Validate("regform2");
	});
	
</script>
