#set( $layout = "/layout/blank.vm" )

<input type="hidden" id="accountId" value="$!{user.accountId}" />
<input type="hidden" id="account" value="$!{user.account}" />
<input type="hidden" id="email" value="$!{user.email}"/>
<input type="hidden" id="companyId" value="$!{user.companyId}" />
<input type="hidden" id="membershipCode" value="$!{user.membershipCode}" />
<input type="hidden" id="zstFlag" value="$!{user.zstFlag}"/>
<input type="hidden" id="areaCode" value="$!{user.areaCode}"/>
<input type="hidden" id="serviceCode" value="$!{user.serviceCode}"/>

<input type="hidden" id="ticket" value="$!{user.ticket}"/>
<input type="hidden" id="key" value="$!{user.key}"/>
