<div class="companyContBox">
    <div class="Tags"><h3 class="Tags_TitleN">给我留言</h3><span class="inquiryTip">客户将能接收到你的留言，并可查看你的联系方式 <span class="inquiryTipO">(注:只要给客户留言您将自动成为本站普通会员)</span></span></div>
    <form name="onlineMessageForm" id="onlineMessageForm" method="post" action="$!{address.front}/inquiry/inquiry.htm" target="_blank" onsubmit="return false;">
		<div class="iqur_items">
		    <label for="content"><font color="RED">*</font> 留言内容：</label>
			<textarea name="content" cols="60" rows="6" class="blak" id="content">$!{content}</textarea>
        </div>
		<div class="iqur_items" style="position:relative">
			<label for="email"><font color="RED">*</font> 您的邮箱：</label>
			<input name="email" type="text" id="email"  value="$!{sessionUser.email}" size="30" maxlength="40" #if($!{sessionUser}) disabled="true" #end />
			<span><font style=" color:#FF0000">非常重要！</font></span>
			<div class="iqur_tishi" id="registerMsg">
				请输入您在本站注册的Email地址和账户
				<br/>
				<a href="$!{address.front}/register/register.htm" target="_blank">点击注册</a>
             </div>
		</div>
        <div class="iqur_items" id="pwddiv">  
			#if(!$!{sessionUser})
				<label for="password"><font color="RED">*</font> 您的密码：</label>
                <input name="password" type="password" id="password" value="" size="30" maxlength="40" />
			#end
        </div>
		<div id="unregisterdiv" style="display:none;" >
			您还没有注册，不能留言，请先注册成为zz91用户
			<a href="$!{address.front}/register/register.htm" target="_blank">点击注册</a>
		</div>
        <div class="iqur_items">
				<label>&nbsp</label>
                <input class="submit" type="submit" name="onlineMessageSubmitBtn" id="buttonMaxGray" value="确 定"  />
        </div>
		<input type="hidden" name="registertag" id="registertag" value="" />
        <input type="hidden" name="title" id="title" value="$!{inquiry.title}" />
        <input type="hidden" name="receiverAccount" id="receiverAccount" value="$!{inquiry.receiverAccount}" />
        <input type="hidden" name="beInquiredId" id="beInquiredId" value="$!{inquiry.beInquiredId}" />
        <input type="hidden" name="beInquiredType" id="beInquiredType" value="$!{inquiry.beInquiredType}" />
	</form>
    <div style="clear:both"></div>
</div>
<script type="text/javascript">
    function cTrim(sInputString,iType) {
    	var sTmpStr = ' '
    	var i = -1
    	if(iType == 0 || iType == 1) {
            while(sTmpStr == ' ') {
                ++i
                sTmpStr = sInputString.substr(i,1)
            }
            sInputString = sInputString.substring(i)
        }
    	
        if(iType == 0 || iType == 2) {
            sTmpStr = ' '
            i = sInputString.length
            while(sTmpStr == ' ') {
                --i
                sTmpStr = sInputString.substr(i,1)
            }
            sInputString = sInputString.substring(0,i+1)
        }
        return sInputString
    }


	jQuery(document).ready(function(){
		
		jQuery("#email").focus(function(){
			jQuery(".iqur_tishi").fadeIn(500);
		});
		
		jQuery("#email").blur(function(){
			if(this.value==""){
				//jQuery("#pwdtr").css("display","none");
				jQuery("#registerDiv").css("display","none");
				return false;
    		}
			jQuery.ajax({
				url:'#springUrl("/user/isemailregist.htm")',
				data:{email:jQuery("#email").val()},
				cache:false,
				dataType:"json",
				type:"post",
				success:function(data){
					if(data.success){
						jQuery("#pwddiv").css("display","");
						jQuery("#password").focus();
						jQuery("#unregisterdiv").css("display","none");
					}else{
						jQuery("#pwddiv").css("display","none");
						jQuery("#unregisterdiv").css("display","");
					}
				}
			});
		});
		
		jQuery("#onlineMessageForm").submit(function(){
			var _content = jQuery("#content").val();
			if (_content == "请不要在留言内容（此方格内）中留下您公司的信息或联系方式，否则对方客户有可能收不到您所发送的信息" ||  _content == ""){
            	alert("请输入留言内容");
           		jQuery("#content").focus();
            	return false;
            }
			
			if(cTrim(_content,0).length<=0) {
				alert("请输入留言内容");
           		jQuery("#content").focus();
            	return false;
			}
			//alert(cTrim(jQuery("#content").val(),0).length);
			if(jQuery("#email").val().length<=0) {
                alert("请输入电子邮件!");
                jQuery("#email").focus();
                return false;
            }
			
			if(!/^(.+)@(.+)(\.\w+)+$/ig.test(jQuery("#email").val())){
                alert("电子邮箱格式错误!");
                jQuery("#email").focus();
                return  false;
            }
			
			if(typeof(jQuery("#password").val())!="undefined"){
			
				if(jQuery("#password").val()==""){
					alert("请输入登录密码!");
					jQuery("#password").focus();
					return false;
				}
				
				zz91Util.login({
        			username:jQuery("#email").val(),
        			password:jQuery("#password").val(),
        			url:jQuery("#url").val(),
        			contextpath:"#springUrl('')",
					success:function(response){
						if(response.success){
                            inquiry();
                        }else{
                            alert(response.data);
                        }
					}
        		});
				
			}else{
				inquiry();
			}
		});
	});

    function inquiry(){
		//jQuery("#onlineMessageForm").submit();
    	var _data={
        	receiverAccount:jQuery("#receiverAccount").val(),
        	beInquiredId:jQuery("#beInquiredId").val(),
        	beInquiredType:jQuery("#beInquiredType").val(),
        	title:jQuery("#title").val(),
        	content:jQuery("#content").val()
        };
    
        jQuery.ajax({
        	url:"#springUrl('/inquiry/createInquiry.htm')",
        	type:"POST",
        	data:_data,
        	dataType:"json",
        	success:function(response){
            	if(response.success){
					window.location.href="#springUrl('/inquiry/inquirySuccess.htm?pid=')"+response.data;
            	}else{
					zz91Util.showmsg(response.data);
				}
        	}
        });
    }
</script>