<div class="main">
	#parse("/common/top.vm")
	
	#parse("/common/nav.vm")

	#parse("/common/banner.vm")
    <div class="mainblock3">
    	<div class="left">
			#parse("/common/compinfo.vm")
			
            <div style="clear:both"></div>
			
			#parse("/common/tags.vm")
			
			#parse("/common/interest.vm")
			
        </div>
        <!--end left-->
        <div class="right">
        	<div class="title">
            	<span class="zi7">公司动态</span>
                <a href="#springUrl('/ppc/gsdt')$!{company.company.id}.htm" class="zi8">更多</a>
            </div>
            <!--end title-->
            <div class="content">
				<ul class="u2">
					#foreach($obj in $page.records)
						<li>
							<a href="#springUrl('/ppc/newsdetail')$!{obj.id}.htm" target="_blank">$!{obj.title} #printFragmentDate("yyyy-MM-dd HH:mm:ss" $!{obj.created})</a>
						</li>
					#end
				</ul>
                <!--end zi16-->
                <br />
                <br />
				#phonePageNav($page "#springUrl('/ppc/gsdt')$!{company.company.id}.htm" "" "")
##                <div class="btn1">
##                	<a class="zi22" href="#">首页</a>
##                    <a class="zi22" href="#">上一页</a>
##                    <a class="zi22" href="#">1</a>
##                    <a class="zi22" href="#">2</a>
##                    <a class="zi22" href="#">3</a>
##                    <a class="zi22" href="#">4</a>
##                    <a class="zi22" href="#">5</a>
##                    <a class="zi22" href="#">6</a>
##                    <a class="zi22" href="#">下一页</a>
##                    <a class="zi22" href="#">末页</a>
##                </div>
                <!--end zi16-->
            </div>
            <!--end content-->
        </div>
        <!--end right-->
        <div class="cl"></div>
    </div>
    <!--end mainblock1-->
    
</div>
<!--end main-->