###if($headName!="officeImg")
##	<div id="TB_overlayBG" style="display:none;height:1915px;">&nbsp;</div>
###end
<div class="pop-window" id="popWindow"> 
	<div class="title"><img src="http://img0.zz91.com/zz91/myrc/images/zz91_close.jpg" alt="关闭" />发布提醒：<font class="text">请选择需要发布的产品类型</font></div> 
	<div class="content clearfix">        	
		<div class="ppleft">
			<a href="$!{address.myrc}/myproducts/office_post1.htm">
					<div class="ppcat p-green">
		   				<h3>废料</h3>
		       			<p>可发布废塑料、废金属、废旧二手设备等废料信息</p>
		            </div>
            </a>
            <div class="ppbtn p-feiliao"><a href="$!{address.myrc}/myproducts/office_post1.htm">立即发布</a></div>
        </div>
        <div class="ppcenter">
        	<a href="$!{address.myrc}/myyuanliao/office_post1.htm">
		        	<div class="ppcat p-org">
		        		<h3>原料</h3>
		                <p>可发布塑料原料等原料供求信息</p>
		            </div>
            </a>
        	<div class="ppbtn p-yuanliao"><a href="$!{address.myrc}/myyuanliao/office_post1.htm">立即发布</a></div>
        </div>
        <div class="ppright">
        	<div class="ppcat p-grey">
        		<h3>制品</h3>
        		<p>可发布塑料制品、橡胶制品、硅胶制品等制品供求信息</p>
        	</div>
        	<div class="ppbtn p-zhipin">敬请期待</div>
       	</div>
    </div> 
</div> 
<!--end pop-window-->
<nav class="container mt menu_bar" id="Js_menu_fix">
    <ul class="menu" id="Js_menu">
        <li>
            <a href="#springUrl('/index.htm')">我的管家</a>
            <ul>
                <!--li><a href="#springUrl('/myproducts/office_post1.htm')">发布供求</a></li-->
				<li><a class="popWin" href="javascript:;">发布供求</a></li>
                <li><a href="#springUrl('/myproducts/office_post_list.htm?checkStatus=1&isExpired=0&isPause=0')">刷新供求</a></li>
                <li><a href="#springUrl('/mymessage/inbox.htm')?isViewed=0">未读留言</a></li>
                <li><a href="#springUrl('/mycompany/updateCompany.htm')">公司资料</a></li>
				<li><a href="#springUrl('/mysubscribe/remind.htm')">接收方式</a></li>
				<li><a href="#springUrl('/mysubscribe/favorites.htm')">我的收藏夹</a></li>
				<li><a href="#springUrl('/photoabum/index.htm')">相册管理</a></li>
				##<li><a href="#springUrl('/myphone/index.htm')"><span class="red">我的来电宝</span></a></li>
                <li #if($!{sessionUser.membershipCode}=="10051000") class="hidden" #end><a href="#springUrl('/myfeedback/member.htm')">问题/建议</a></li>
            </ul>
        </li>
        <li>
            <a href="#springUrl('/myproducts/office_post_list.htm?checkStatus=1&isExpired=0&isPause=0')">商机管理</a>
            <ul>
                <!--li><a href="#springUrl('/myproducts/office_post1.htm')">发布供求</a></li-->
				<li><a class="popWin" href="javascript:;">发布供求</a></li>
				<li><a href="#springUrl('/myproducts/office_post_list.htm?checkStatus=1&isExpired=0&isPause=0')">管理废料供求</a></li>
				<li><a href="#springUrl('/myyuanliao/office_post_list.htm')">管理原料供求</a></li>
                <li><a href="#springUrl('/myproducts/groupList.htm')">供求系列</a></li>
                <li><a href="#springUrl('/mycompanyprice/createPrice.htm')">发布报价</a></li>
                <li><a href="#springUrl('/mycompanyprice/list.htm')">企业报价</a></li>
				 <li><a href="#springUrl('/mycompanyprice/priceList.htm')">企业自主报价</a></li>
            </ul>
        </li>
		<li>
            <a href="#springUrl('/mytrust/purchase.htm')">厂家直购</a>
            <ul>
                <li><a href="#springUrl('/mytrust/entrust.htm')">委托采购</a></li>
                <li><a href="#springUrl('/mytrust/purchase.htm')">我的采购</a></li>
                <li><a href="#springUrl('/mytrust/supply.htm')">我的供货</a></li>
            </ul>
        </li>
        <li>
            <a href="#springUrl('/mymessage/inbox.htm')">询价管理</a>
            <ul>
                <li><a href="#springUrl('/mymessage/inbox.htm')">询价收件箱</a></li>
                <li><a href="#springUrl('/mymessage/sent.htm')">询价发件箱</a></li>
                ##<li><a href="#springUrl('/mymessage/inbox.htm?isRubbish=1')">垃圾询价</a></li>
                <li #if($!{sessionUser.membershipCode}=="10051000") class="hidden" #end><a href="#springUrl('/myfeedback/vip.htm')">客服留言</a></li>
            </ul>
		</li>
		#if($!{sessionUser.membershipCode}=="10051000")
			<li>
				<a href="#springUrl('/mycompanycustomers/list.htm')">客户管理</a>
				<ul>
					<li><a href="#springUrl('/mycompanycustomers/saveCompanyCustomers.htm')">添加客户</a></li>
					<li><a href="#springUrl('/mycompanycustomers/list.htm')">客户列表</a></li>
				</ul>
			</li>
		#end
        <li>
            <a href="#springUrl('/mysubscribe/bizList.htm')">商机和行情</a>
            <ul>
                <li><a href="#springUrl('/mysubscribe/bizList.htm')">最新在线商机</a></li>
                <li><a href="#springUrl('/mysubscribe/priceList.htm')">最新在线行情</a></li>
				##<li><a href="#springUrl('/mysubscribe/smsList.htm')">最新短信报价</a></li>
                <li><a href="#springUrl('/mysubscribe/manageSubscribeBiz.htm')">商机订制管理</a></li>
				##<li><a href="#springUrl('/mysubscribe/manageSubscribeSms.htm')">短信订制管理</a></li>
                <li><a href="#springUrl('/mysubscribe/manageSubscribePrice.htm')">行情订制管理</a></li>
                ##<li><a href="#springUrl('/mysubscribe/myfavorite.htm')">我的篮子</a></li>
				<li><a href="#springUrl('/mysubscribe/favorites.htm')">我的收藏夹</a></li>
            </ul>
        </li>
		<li #if($!{isEsite}==false && $!{sessionUser.membershipCode}=="10051000") class="hidden" #end >
            <a href="#springUrl('/esite/esitenews/index.htm')">商铺管理</a>
            <ul>
				#if($!{sessionUser.membershipCode}=="10051003")
                <li><a href="#springUrl('/esite/esiteconfig/ldbindex.htm')" target="_blank">商铺图片修改</a></li>
				#else
				<li><a href="#springUrl('/esite/esiteconfig/index.htm')" target="_blank">商铺外观设计</a></li>
                <li><a href="#springUrl('/esite/esitedomain/index.htm')">商铺域名管理</a></li>
				#end
                <li><a href="#springUrl('/esite/esitenews/index.htm')">公司动态管理</a></li>
				#if($!{sessionUser.membershipCode}!="10051003")
                <li><a href="#springUrl('/esite/esitefriendlink/index.htm')">友情链接管理</a></li>
				#end
##				#if($!{mark})
##				<li><a href="http://$!{DomainZz91}.zz91.com/sitemap.xml" target="_blank">网站地图管理</a></li>
##				#end
				#if($!{sessionUser.membershipCode}=="10051003")
                <li><a href="$!{address.www}/ppc/index$!{sessionUser.companyId}.htm" target="_blank">进入我的商铺</a></li>
				#else 
				<li><a href="#springUrl('/esite/esitedomain/toEsite.htm')" id="Js_url" target="_blank">进入我的商铺</a></li>
				#end
				
            </ul>
        </li>
		
		<li #if( !${phone} || $!{sessionUser.membershipCode}!="10051000") class="hidden" #end >
            <a href="#springUrl('/esite/esitenews/index.htm')">公司动态</a>
            <ul>
            </ul>
        </li>
		
        <li > ## #if($!{sessionUser.membershipCode}=="10051000") class="hidden" #end
            <a href="#springUrl('/credit/creditbaseinfo/index.htm?flag=1')">诚信档案</a>
 ##           <ul>
##				<li><a href="#springUrl('/credit/creditbaseinfo/index.htm')">基本信息</a></li>
##                <li><a href="#springUrl('/credit/creditcustomervote/index.htm')">客户评价</a></li>
##                <li><a href="#springUrl('/credit/creditfile/index.htm')">我的证书</a></li>
##                <li><a href="#springUrl('/credit/creditreference/index.htm')">资信参考人</a></li>
##            </ul>
        </li>
		#if($!{sessionUser.membershipCode}=="10051000")
##			<li>
##				<a href="#springUrl('/myscore/changeDetails.htm')">我的积分</a>
##				<ul>
##					<li><a href="$!{address.score}" target="_blank">积分商城</a></li>
##					<li><a href="#springUrl('/myscore/changeDetails.htm')">积分变更历史</a></li>
##					<li><a href="#springUrl('/myscore/conversionHistory.htm')">积分兑换历史</a></li>
##					<li><a href="$!{address.score}/rule.htm" target="_blank">积分规则</a></li>
##				</ul>
##			</li>
		#else
			<li>
				<a href="#springUrl('/mydata/index.htm')">精准营销</a>
			</li>
		#end
        <li>
            <a href="#springUrl('/mycompany/companyList.htm')">会员资料</a>
            <ul>
                <li><a href="#springUrl('/mycompany/companyList.htm')">企业简介及照片</a></li>
                <li><a href="#springUrl('/mycompanyaccountcontact/index.htm')">更多联系人</a></li>
                <li><a href="#springUrl('/changepassword.htm')">修改密码</a></li>
                ##<li><a href="#springUrl('/changeaccountname.htm')">修改用户名</a></li>
            </ul>
		</li>
		<li>
			<a href="$!{address.yang}/mngr/managerIndex.htm" target="_blank"><font color=red><b>样品交易</b></font></a>
##            <ul>
##                <li><a href="#springUrl('/myspot/promotion.htm')">我的促销</a></li>
##				<li><a href="#springUrl('/myspot/auction.htm')">我的竞拍</a></li>
##				<li><a href="#springUrl('/myspot/order.htm')">我的订单</a></li>
##                <li><a href="#springUrl('/mycompanyaccountcontact/index.htm')">更多联系人</a></li>
##                <li><a href="#springUrl('/changepassword.htm')">修改密码</a></li>
##				  <li><a href="#springUrl('/changeaccountname.htm')">修改用户名</a></li>
##            </ul>
        </li>
    </ul>
</nav>

#if($!{sessionUser.membershipCode}!="10051000" && $!{sessionUser.membershipCode}!="10051003")
	#cacheFragment("$!{address.fragment}/myrc/showPrompt.htm?cid=$!{sessionUser.companyId}" "" "" "")
		#if($!{showFlag} != "1")
            <div class="grid_9-info">
                认证获信赖，交易求保障。<a href="#springUrl('/credit/creditbaseinfo/index.htm')">完善您的诚信档案</a>，获得认证标志，彰显企业实力，赢得更多目标客户。
            </div>
		#end
    #end
#end
    <!--end grid_9-info-->
