@charset "gb2312";
A
{
COLOR:#666666; TEXT-DECORATION:none
}
A:hover
{
TEXT-DECORATION:underline; color:#000000
}
BODY
{
MARGIN:0px 0px 0px 0px; TEXT-ALIGN:center; color:#000000; FONT-SIZE:12px; 
background:url(cn/images/background.jpg) #c6cfd0 repeat-x
}
table,td
{
FONT-FAMILY:??ì?; FONT-SIZE:12px; color:#000000
}
input,textarea
{
background:#f6f6f6; font-family:??ì?; font-size:12px
}

.table01
{
width:754px
}
.table02
{
width:554px
}
.table03
{
width:272px
}
.table04
{
width:190px
}

.td01
{
width:554px; vertical-align:top
}
.td02
{
width:10px
}
.td03
{
width:272px; vertical-align:top
}
.td04
{
width:190px; vertical-align:top
}
.td05
{
background-color:#F5F3F4; width:10px; vertical-align:bottom
}

.left_01
{
height:32px; width:20px; background-image:url(cn/images/left_01.gif)
}
.left_02
{
background-image:url(cn/images/left_02.gif)
}
.left_03
{
height:20px; width:20px; background-image:url(cn/images/left_03.gif)
}
.left_04
{
height:24px; width:20px; background-image:url(cn/images/left_04.gif)
}
.left_05
{
height:20px; width:20px; background-image:url(cn/images/left_05.gif)
}
.left_06
{
height:24px; width:20px; background-image:url(cn/images/left_06.gif)
}
.left_07
{
background-image:url(cn/images/left_07.gif)
}
.left_08
{
height:20px; width:20px; background-image:url(cn/images/left_08.gif)
}
.left_09
{
height:32px; width:20px; background-image:url(cn/images/left_09.gif)
}
.left_10
{
background-image:url(cn/images/left_10.gif)
}
.left_11
{
height:20px; width:20px; background-image:url(cn/images/left_11.gif)
}
.left_12
{
height:33px; width:20px; background-image:url(cn/images/left_12.gif)
}
.left_13
{
background-image:url(cn/images/left_13.gif)
}
.left_14
{
height:39px; width:20px; background-image:url(cn/images/left_14.gif)
}

.right_01
{
height:32px; width:20px; background-image:url(cn/images/right_01.gif)
}
.right_02
{
background-image:url(cn/images/right_02.gif)
}
.right_03
{
height:20px; width:20px; background-image:url(cn/images/right_03.gif)
}
.right_04
{
height:24px; width:20px; background-image:url(cn/images/right_04.gif)
}
.right_05
{
height:20px; width:20px; background-image:url(cn/images/right_05.gif)
}
.right_06
{
background-image:url(cn/images/right_06.gif)
}
.right_07
{
height:20px; width:20px; background-image:url(cn/images/right_07.gif)
}
.right_08
{
height:20px; width:20px; background-image:url(cn/images/right_08.gif)
}
.right_09
{
height:32px; width:20px; background-image:url(cn/images/right_09.gif)
}
.right_10
{
background-image:url(cn/images/right_10.gif)
}
.right_11
{
height:20px; width:20px; background-image:url(cn/images/right_11.gif)
}
.right_12
{
height:33px; width:20px; background-image:url(cn/images/right_12.gif)
}
.right_13
{
background-image:url(cn/images/right_13.gif)
}
.right_14
{
height:32px; width:20px; background-image:url(cn/images/right_14.gif)
}

.center_01
{
background-image:url(cn/images/center_01.gif); padding-bottom:3px; font-family:oúì?; font-weight:bolder; 
font-size:14px; color:#555555
}
.center_02
{
background-color:#ffffff; padding:5px
}
.center_02_
{
background-color:#ffffff; padding:5px
}
.center_03
{
background-image:url(cn/images/center_03.gif)
}
.center_04
{
background-image:url(cn/images/center_04.gif)
}
.center_05
{
background-image:url(cn/images/center_05.gif)
}
.center_06
{
background-image:url(cn/images/center_06.gif)
}
.center_07
{
background-image:url(cn/images/center_07.gif)
}
.center_08
{
background-color:#ffffff; padding-top:5px; padding-bottom:5px
}
.center_09
{
background-image:url(cn/images/center_09.gif); padding-bottom:3px; font-family:oúì?; font-weight:bolder; 
font-size:14px; color:#555555
}
.center_10
{
background-color:#E5EAF0; padding:5px
}
.center_11
{
background-image:url(cn/images/center_11.gif)
}
.center_12
{
background-image:url(cn/images/center_12.gif)
}
.center_13
{
background-color:#ffffff; padding:5px
}
.center_14
{
background-image:url(cn/images/center_14.gif); padding-bottom:3px; font-family:oúì?; font-weight:bolder; 
font-size:14px; color:#555555; vertical-align:bottom
}

.top01
{
height:15px; background-image:url(cn/images/top01.gif)
}
.top02
{
padding:10px; background-image:url(cn/images/top02.gif); vertical-align:top
}
.top03
{
height:15px; background-image:url(cn/images/top03.gif)
}

.end1
{
widht:754px; padding:20px; line-height:150%; font-size:10px; color:#333333; font-family:Arial
}
.end1_
{
widht:754px; padding:20px; line-height:150%; font-size:10px; color:#333333; font-family:Arial
}
.end2
{
font-family:Arial; color:#333333; font-size:12px
}
.end3
{
color:#A7B0B7
}
.end4
{
height:33px; width:10px; background-image:url(cn/images/menu_left.gif)
}
.end5
{
background-image:url(cn/images/menu_center.jpg)
}
.end6
{
height:33px; width:10px; background-image:url(cn/images/menu_right.gif)
}
.end7
{
width:700px; background-image:url(../cn/images/top_logo2.jpg)
}
.end8
{
width:403px
}

.m1
{
height:23px; font-size:13px; background:url(cn/images/me02.gif); text-indent:8px; padding-top:3px
}
.m2
{
height:23px; font-size:13px; text-indent:8px; padding-top:3px
}
.m3
{
padding-bottom:3px; padding-left:8px; padding-top:8px
}
.m4
{
color:#176FFF
}