<!DOCTYPE html>
<html>
	
<head>
	<meta charset="utf-8" />
	<title>$!{seoTitle}</title>
	<meta name="description" content="$!{seoDescription}" />
	<meta name="keywords" content="$!{seoKeywords}" />

	#parse("/common/import.vm")
	#parse("/common/context.vm")
	<style type="text/css">
	.contain {margin:0 auto; width:958px;}
	</style>
</head>

<body>
	
	#parse('/common/topbar.vm')
	#parse('/common/esiteheader.vm')
	
	#if($!{epAuthUser})
		<input type="hidden" id="loginstatus" value="1" />
	#else
		<input type="hidden" id="loginstatus" value="0" />
	#end
	
	$screen_content
	
	#parse('/common/esitefooter.vm')
</body>
</html>