#set($headname="shequ")
#set($layout="/layout/shequLayout.vm")
  <!--end hz-header-->
  <div class="huzhu">
  	<div class="hz-left fl">
    	<div class="mainblock">
            <div class="mb-dh lt1">精选推荐</div>
            <!--end mb-dh-->
            <div class="mb-box">
                <div class="m1-left fl" style="margin-right:14px;">
                    <div class="m1-box-carousel">
						<div class="ctrl-panel">
							<a class="m-page" href="javascript:;" rel="js_btn_list">1</a>
							<a class="m-page" href="javascript:;" rel="js_btn_list">2</a>
							<a class="m-page" href="javascript:;" rel="js_btn_list">3</a>
							<a class="m-page" href="javascript:;" rel="js_btn_list">4</a>
                            <a class="m-page" href="javascript:;" rel="js_btn_list">5</a>	
    					</div>
                        <!--end ctrl-panel-->
					<div class="scroll-wrap">
						<div class="scroll_box_content" rel="scroll_box_content">
							<div class="content_list">
								<script type="text/javascript" src="http://gg.zz91.com/show?p=727&amp;keywords=1"></script>			
							</div>
							<div class="content_list">
								<script type="text/javascript" src="http://gg.zz91.com/show?p=727&amp;keywords=2"></script>			
							</div>
							<div class="content_list">
								<script type="text/javascript" src="http://gg.zz91.com/show?p=727&amp;keywords=3"></script>			
							</div>
							<div class="content_list">
								<script type="text/javascript" src="http://gg.zz91.com/show?p=727&amp;keywords=4"></script>			
							</div>
                            <div class="content_list">
								<script type="text/javascript" src="http://gg.zz91.com/show?p=727&amp;keywords=5"></script>			
							</div>
						</div>
                        <!--end scroll_box_content-->
					</div>
                    <!--end scroll-wrap-->
				</div>
                <!--end m1-box-carousel-->
                <script type="text/javascript" src="http://img0.zz91.com/zz91/newhuzhu/js/carousel.js"></script>
               </div>
               <!--end m1-left-->
               <div class="m1-left fl">
                    <ul class="item1">
						#cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=10041008&size=8", "", "", "")
								#foreach($index in $!list)
									<li><a #if($!{index.link}&&$!{index.link}!="")href="$!{index.link}" #else href="#"#end target="_blank">${index.title}</a></li>
								#end
						#end
                    </ul>
                </div>
                <!--end m1-left-->
                <div class="cb"></div>
             </div>
            <!--end mb-box-->
          </div>
          <!--end mainblock-->
         <div class="mainblock">
            <div class="mb_box">
            	<div class="mb_box_item fl">
                	<div class="mb-dh lt2">
                    	<div class="d_tit fl  f16">废料动态</div>
                        <!--end d_tit-->
                        <div class="d-link fr"><a href="#springUrl('/shequ/dongtai/')" class="f12 blue" target="_blank">[全部]</a></div>
                        <!--end -->
                        <div class="cb"></div>
                    </div>
                    <!--end mb-dh-->
                    <div class="cb"></div>
                    <div class="mb-list">
                		<ul class="sq-item">
							#cacheFragment("$!{address.fragment}/huzhu/bbsPost.htm?assistId=4&size=5" "" "" "")
							#foreach(${li} in ${list})
								<li><a #if($!{li.url}&&$!{li.url}!="")href="$!{li.url}" #else href="#springUrl('/detail/')$!{li.id}.html" #end target="_blank">&middot;[废料动态]&nbsp;${li.title}</a></li>
							#end
							#end
                    	</ul>
                    </div>
                    <!--end mb-list-->
                </div>
                <!--end mb_box_item fl-->
                 <div class="mb_box_item fr">
                	<div class="mb-dh lt3 f15">
                    	<div class="d_tit fl f16">江湖风云</div>
                        <!--end d_tit-->
                        <div class="d-link fr"><a href="#springUrl('/shequ/zixun/')" class="f12 blue" target="_blank">[全部]</a></div>
                        <!--end -->
                        <div class="cb"></div>
                    </div>
                    <!--end mb-dh-->
                    <div class="cb"></div>
                    <div class="mb-list">
                		<ul class="sq-item">
							#cacheFragment("$!{address.fragment}/huzhu/bbsPost.htm?assistId=7&size=5" "" "" "")
                    		#foreach(${li} in ${list})
								<li><a #if($!{li.url}&&$!{li.url}!="")href="$!{li.url}" #else href="#springUrl('/detail/')$!{li.id}.html"#end>&middot;[江湖风云]&nbsp;${li.title}</a></li>
							#end
							#end
                    	</ul>
                    </div>
                    <!--end mb-list-->
                </div>
                <!--end mb_box_item fr-->
                <div class="cb"></div>
            </div>
            <!--end mb_box-->
            <div class="mb_box">
            	<div class="mb_box_item fl">
                	<div class="mb-dh lt4">
                    	<div class="d_tit fl f16">骗子曝光台</div>
                        <!--end d_tit-->
                        <div class="d-link fr"><a href="#springUrl('/shequ/baoguang/')" class="f12 blue" target="_blank">[全部]</a></div>
                        <!--end -->
                        <div class="cb"></div>
                    </div>
                    <!--end mb-dh-->
                    <div class="cb"></div>
                    <div class="mb-list">
                		<ul class="sq-item">
							#cacheFragment("$!{address.fragment}/huzhu/bbsPost.htm?assistId=6&size=5" "" "" "")
                    		#foreach(${li} in ${list})
								<li><a #if($!{li.url}&&$!{li.url}!="")href="$!{li.url}" #else href="#springUrl('/detail/')$!{li.id}.html"#end>&middot;[骗子曝光台]&nbsp;${li.title}</a></li>
							#end
							#end
                    	</ul>
                    </div>
                    <!--end mb-list-->
                </div>
                <!--end mb_box_item fl-->
                <div class="mb_box_item fr">
                	<div class="mb-dh lt4 f15">
                    	<div class="d_tit fl f16">商务交流</div>
                        <!--end d_tit-->
                        <div class="d-link fr"><a href="#springUrl('/shequ/jiaoliu/')" class="f12 blue" target="_blank">[全部]</a></div>
                        <!--end -->
                        <div class="cb"></div>
                    </div>
                    <!--end mb-dh-->
                    <div class="cb"></div>
                    <div class="mb-list">
                		<ul class="sq-item">
                    		#foreach(${li} in ${list})
								<li><a #if($!{li.url}&&$!{li.url}!="")href="$!{li.url}" #else href="#springUrl('/detail/')$!{li.id}.html"#end>&middot;[商务交流]&nbsp;${li.title}</a></li>
							#end
                    	</ul>
                    </div>
                    <!--end mb-list-->
                </div>
                <!--end mb_box_item fr-->
                <div class="cb"></div>
            </div>
            <!--end mb_box-->	
        </div>
       <!--end mainblock-->
    </div>
    <!--end hz-left-->
    <div class="hz-right fr">
    	<div class="sublock">
        	<div class="sub-dh f16 gclear">24小时热帖</div>
            <!--end sub-dh-->
            <div class="sub-post gclear mb">
                <ul class="item3">
					#cacheFragment("$!{address.fragment}/huzhu/hotReply.htm?categoryId=2&size=10" "" "" "")
					#foreach($postlist in $!{postDailylist})
						#if(4>$velocityCount)
							<li>
								<b class="prefix-gdot">${velocityCount}</b>
								<a #if($!{postlist.url}&&$!{postlist.url}!="")href="$!{postlist.url}" #else href="#springUrl('/detail/')$!{postlist.id}.html"#end target="_blank" title="$!{postlist.title}">$!{postlist.title}</a>
							</li>
							#else
							<li>
								<b class="prefix-dot1"></b>
								<a #if($!{postlist.url}&&$!{postlist.url}!="")href="$!{postlist.url}" #else href="#springUrl('/detail/')$!{postlist.id}.html"#end target="_blank" title="$!{postlist.title}">$!{postlist.title}</a>
							</li>
							#end
					#end
					#end
               </ul>
            </div>
           <!--end sub-post-->
        </div>
        <!--end sublock-->
##        <div class="sublock">
##        	<div class="sub-dh gclear">
##            	<div class="sub-dh-tle f16 fl">最新商机</div>
##                <!--end -->
##                <div class="sub-dh-more fr"><a href="http://trade.zz91.com" target="_blank" class="blue">[更多]</a></div>
##                <!--end sub-dh-more-->
##                <div class="cb"></div>
##            </div>
##            <!--end sub-dh-->
##            <div class="sub-post gclear mb">
##                <ul class="item3">
##					#cacheFragment("$!{address.fragment}/huzhu/NewProduct.htm" "" "" "")
##					#foreach(${li} in ${gongying})
##						<li><a href="http://trade.zz91.com/productdetails$!{li.id}.htm" target="_blank" title="${li.title}">【供应】${li.title}</a></li>
##
##					#end
##					#end
##                </ul>
##            </div>
##           <!--end sub-post-->
##        </div>
		<div class="sublock">
        	<div class="sub-dh gclear">
            	<div class="sub-dh-tle f16 fl">政策法规</div>
                <!--end -->
                <div class="sub-dh-more fr"><a href="$!{address.huzhu}/newhuzhu/search.htm?keywords=政策法规" target="_blank" class="blue">[更多]</a></div>
                <!--end sub-dh-more-->
                <div class="cb"></div>
            </div>
            <!--end sub-dh-->
            <div class="sub-post gclear mb">
                <ul class="item3">
					#foreach(${li} in ${list1})
						<li><a href="#springUrl('/detail/')$!{li.id}.html" target="_blank" title="${li.title}">#printTitle(${li.title} 20 '...')</a></li>

					#end
                </ul>
            </div>
           <!--end sub-post-->
        </div>
        <!--end sublock-->
        <div class="sublock">
        	<div class="sub-dh gclear">
            	<div class="sub-dh-tle f16 fl">站务管理</div>
                <!--end -->
                <div class="sub-dh-more fr"><a href="#springUrl('/shequ/zhanwu/')" target="_blank" class="blue">[更多]</a></div>
                <!--end sub-dh-more-->
                <div class="cb"></div>
            </div>
            <!--end sub-dh-->
            <div class="sub-post gclear mb">
                <ul class="item3">
					#cacheFragment("$!{address.fragment}/huzhu/bbsPost.htm?assistId=10&size=5" "" "" "")
					#foreach(${li} in ${list})
	                    <li><a #if($!{li.url}&&$!{li.url}!="")href="$!{li.url}" #else href="#springUrl('/detail/')$!{li.id}.html"#end target="_blank" title="${li.title}">&middot;${li.title}</a></li>
					#end
					#end
                </ul>
            </div>
           <!--end sub-post-->
        </div>
        <!--end sublock-->
    </div>
    <!--end hz-right-->
    <div class="cb"></div>
  </div>
  <!--end huzhu-->
</div>
<!--end community-->