
<div class="pircelistwz">当前位置： 
	<a href="$!{address.front}" target="_blank">ZZ91再生网</a> >
	<a href="#springUrl('/index.htm')" target="_blank">资讯报价中心</a> > 
	$!{categoryName}
</div>
<div class="pricebody">
<div class="pricelsitleft pirclistbb">
        <div class="pircelisttitle">$!{categoryName}</div>
        <div class="pircelistinfo">
            <ul>
            	#foreach($n in $!{page.records})
                	#if($velocityCount==1)
                        <div>
                	#end
                		<li #if($velocityCount%5==0) #end>
                		<span>#printFragmentDate("yyy-MM-dd" $!{n.gmtPublish})</span>
                		<a href="#springUrl('/zixun/zxdetails')${n.id}.htm" target="_blank" title="${n.title}">
                			#printTitle(${n.title} 20 "")
                		</a>
                		</li>
                	#if($velocityCount==5)
                		</div>
            		#end
            	#end
            </ul>
        </div>
        <div class="pircelistpage">#staticPageNav(${page} "#springUrl('/zixun/list')$!{category}--t$!{type}" "" "")</div>
</div>

<!--右边信息-->
<div class="priceright">
	#cacheFragment("#localFragment('/fragment/newsfragment/queryNewsByCategoryAndType.htm?categoryCode=1000&type=0&size=10&flag=0')", "", "", "")
            <div class="pricerightssbj"><strong>最新二手设备资讯</strong></div>
                    <div class="priceright_info">
                            <ul>
								#foreach($!l in ${list})
                            		<li>
										<span >#printFragmentDate("yyyy-MM-dd" ${l.gmtShow})
                                        </span>
                            			<a href="#springUrl('/zixun/zxdetails')${l.id}.htm" target="_blank" title="${l.title}">#printTitle(${l.title} 13 "")</a>
                            		</li>
                            	#end
                            </ul>
                    </div>
            </div>
	#end
<!--结束右边信息-->
<div class="clear"></div>
</div><!--内容-->