
<div class="pircelistwz">当前位置： 
	<a href="$!{address.front}" target="_blank">ZZ91再生网</a> >
	<a href="#springUrl('/index.htm')" target="_blank">资讯报价中心</a>> 
	$!{news.title}
</div>
<div class="pricebody">
<div class="pricelsitleft pirclistbb">
<div class="pircedeisd">
        <div class="pircedeisud"><span>
				#if("$!{downNews.id}"!="")<strong>下一篇:</strong>
					<a href="#springUrl('/zixun/zxdetails')$!{downNews.id}.htm" >#printTitle($!{downNews.title} 20 "")</a>#end</span>
				#if("$!{onNews.id}"!="")<strong>上一篇:</strong>
					<a href="#springUrl('/zixun/zxdetails')$!{onNews.id}.htm" >#printTitle($!{onNews.title} 20 "")</a>#end</div>
        <div class="pircedeis_a">$!{news.title}</div>
        <div class="pircedeis_b">发布时间：#printFragmentDate("yyyy-MM-dd" $!{news.gmtPublish})  相关标签： $!{news.tags} </div>
		#*
        <div class="pircedeis_c"><img src="images/11_03.jpg" width="521" height="363" /></div>
        <div class="pircedeis_d">废料啦啦啦啦啦啦啦啦啦啦</div>
		*#
        <div class="pircedeis_e">
			$!{news.details}
		</div>
</div>
</div>
<!--右边信息-->
<div class="priceright">
	#cacheFragment("#localFragment('/fragment/newsfragment/queryNewsByCategoryAndType.htm?categoryCode=1000&type=0&size=10&flag=0')", "", "", "")
            <div class="pricerightssbj"><strong>最新二手设备资讯</strong></div>
                <div class="priceright_info">
                    <ul>
                    	#foreach($!l in ${list})
                    		<li>
								<span >#printFragmentDate("yyyy-MM-dd" ${l.gmtShow})</span>
                    			<a href="#springUrl('/zixun/zxdetails')${l.id}.htm" target="_blank" title="${l.title}">#printTitle(${l.title} 13 "")</a>
                    		</li>
                    	#end
                    </ul>
                </div>
            </div>
	#end
<!--结束右边信息-->
<div class="clear"></div>
</div><!--内容-->