body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../生意管家_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:9px;
    top:9px;
    width:961px;
    height:37px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:37px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../生意管家_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:52px;
    width:156px;
    height:66px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:156px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:25px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../生意管家_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:171px;
    top:53px;
    width:110px;
    height:61px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:67px;
}

.u5 {
    position:absolute;
    left:2px;
    top:23px;
    width:106px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../生意管家_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:298px;
    top:54px;
    width:502px;
    height:61px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:502px;
    height:61px;
}

.u7 {
    position:absolute;
    left:2px;
    top:22px;
    width:498px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../生意管家_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:12px;
    top:129px;
    width:952px;
    height:35px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:958px;
    height:41px;
}

.u9 {
    position:absolute;
    left:2px;
    top:10px;
    width:948px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../生意管家_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:15px;
    top:518px;
    width:350px;
    height:241px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:356px;
    height:247px;
}

.u11 {
    position:absolute;
    left:2px;
    top:112px;
    width:346px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../生意管家_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:750px;
    top:207px;
    width:214px;
    height:182px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:188px;
}

.u13 {
    position:absolute;
    left:2px;
    top:83px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:760px;
    top:216px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:896px;
    top:371px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../生意管家_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:15px;
    top:209px;
    width:328px;
    height:177px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:334px;
    height:183px;
}

.u17 {
    position:absolute;
    left:2px;
    top:80px;
    width:324px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../生意管家_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:353px;
    top:207px;
    width:357px;
    height:182px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:363px;
    height:188px;
}

.u19 {
    position:absolute;
    left:2px;
    top:83px;
    width:353px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_line {
    background-image: url('../生意管家_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:0px;
    top:4px;
    width:955px;
    height:3px;
}

.u20 {
    position:absolute;
    left:15px;
    top:826px;
    width:955px;
    height:10px;
    
}

.u21 {
    position:absolute;
    left:40px;
    top:348px;
    width:140px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:624px;
    top:304px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:624px;
    top:344px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24_normal {
    background-image: url('../生意管家_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:750px;
    top:399px;
    width:214px;
    height:243px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:249px;
}

.u25 {
    position:absolute;
    left:2px;
    top:114px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:760px;
    top:408px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:896px;
    top:617px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../生意管家_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:750px;
    top:652px;
    width:214px;
    height:107px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:113px;
}

.u29 {
    position:absolute;
    left:2px;
    top:46px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:760px;
    top:663px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../生意管家_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:382px;
    top:518px;
    width:328px;
    height:241px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:334px;
    height:247px;
}

.u32 {
    position:absolute;
    left:2px;
    top:112px;
    width:324px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:613px;
    top:739px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:396px;
    top:533px;
    width:84px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:35px;
    top:533px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:195px;
    top:348px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:624px;
    top:224px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38 {
    position:absolute;
    left:624px;
    top:264px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39_menu {
    background-image: url('../生意管家_files/u39_menu.png');
}

.u39_menu {
    position:absolute;
    left:20px;
    top:131px;
    width:515px;
    height:35px;
}

#u39_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:512px;
    height:32px;
}

#u40 {
    position:absolute;
    left:3px;
    top:3px;
    width:505px;
    height:25px
}

.u41_mouseOver {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u41_normal {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_mouseOver {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u43_normal {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u43_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_mouseOver {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u45_normal {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u45_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_mouseOver {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u47_normal {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u47_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_mouseOver {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u49_normal {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u49_container {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:35px;
    top:217px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_line {
    background-image: url('../生意管家_files/u52_line.png');
}

.u52_line {
    position:absolute;
    left:0px;
    top:4px;
    width:328px;
    height:3px;
}

.u52 {
    position:absolute;
    left:15px;
    top:232px;
    width:328px;
    height:10px;
    
}

.u53 {
    position:absolute;
    left:35px;
    top:564px;
    width:318px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:35px;
    top:609px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:35px;
    top:647px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:774px;
    top:698px;
    width:167px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:68px;
    top:264px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:92px;
    top:299px;
    width:146px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:831px;
    top:91px;
    width:117px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:800px;
    top:58px;
    width:125px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_menu {
    background-image: url('../生意管家_files/u61_menu.png');
}

.u61_menu {
    position:absolute;
    left:922px;
    top:50px;
    width:48px;
    height:37px;
}

#u61_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:34px;
}

#u62 {
    position:absolute;
    left:3px;
    top:3px;
    width:38px;
    height:27px
}

.u63_mouseOver {
    background-image: url('../生意管家_files/u63_mouseOver.png');
}

.u63_normal {
    background-image: url('../生意管家_files/u63_mouseOver.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:22px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:39px;
    height:28px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:29px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:390px;
    top:229px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:364px;
    top:269px;
    width:71px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:364px;
    top:309px;
    width:71px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:389px;
    top:349px;
    width:71px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:430px;
    top:349px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:430px;
    top:309px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:430px;
    top:270px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:430px;
    top:229px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../生意管家_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:12px;
    top:170px;
    width:952px;
    height:26px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:958px;
    height:32px;
}

.u74 {
    position:absolute;
    left:2px;
    top:5px;
    width:948px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_menu {
    background-image: url('../生意管家_files/u75_menu.png');
}

.u75_menu {
    position:absolute;
    left:20px;
    top:167px;
    width:415px;
    height:35px;
}

#u75_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:412px;
    height:32px;
}

#u76 {
    position:absolute;
    left:3px;
    top:3px;
    width:405px;
    height:25px
}

.u77_mouseOver {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u77_normal {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u77_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_mouseOver {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u79_normal {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u79_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_mouseOver {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u81_normal {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u81_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_mouseOver {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u83_normal {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u83_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_menu {
    background-image: url('../生意管家_files/u85_menu.png');
}

.u85_menu {
    position:absolute;
    left:460px;
    top:167px;
    width:215px;
    height:35px;
}

#u85_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:32px;
}

#u86 {
    position:absolute;
    left:3px;
    top:3px;
    width:205px;
    height:25px
}

.u87_mouseOver {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u87_normal {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u87_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_mouseOver {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u89_normal {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u89_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_menu {
    background-image: url('../生意管家_files/u91_menu.png');
}

.u91_menu {
    position:absolute;
    left:703px;
    top:167px;
    width:315px;
    height:35px;
}

#u91_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:32px;
}

#u92 {
    position:absolute;
    left:3px;
    top:3px;
    width:305px;
    height:25px
}

.u93_mouseOver {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u93_normal {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u93_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_mouseOver {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u95_normal {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u95_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_mouseOver {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u97_normal {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u97_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_menu {
    background-image: url('../生意管家_files/u99_menu.png');
}

.u99_menu {
    position:absolute;
    left:1061px;
    top:167px;
    width:415px;
    height:35px;
}

#u99_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:412px;
    height:32px;
}

#u100 {
    position:absolute;
    left:3px;
    top:3px;
    width:405px;
    height:25px
}

.u101_mouseOver {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u101_normal {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u101_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_mouseOver {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u103_normal {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u103_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_mouseOver {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u105_normal {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u105_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_mouseOver {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u107_normal {
    background-image: url('../生意管家_files/u41_mouseOver.png');
}

.u107_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_menu {
    background-image: url('../生意管家_files/u109_menu.png');
}

.u109_menu {
    position:absolute;
    left:1061px;
    top:208px;
    width:256px;
    height:34px;
}

#u109_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:31px;
}

#u110 {
    position:absolute;
    left:3px;
    top:3px;
    width:246px;
    height:24px
}

.u111_mouseOver {
    background-image: url('../生意管家_files/u111_mouseOver.png');
}

.u111_normal {
    background-image: url('../生意管家_files/u111_mouseOver.png');
}

.u111_container {
    position:absolute;
    left:0px;
    top:0px;
    width:141px;
    height:19px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:25px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_mouseOver {
    background-image: url('../生意管家_files/u113_mouseOver.png');
}

.u113_normal {
    background-image: url('../生意管家_files/u113_mouseOver.png');
}

.u113_container {
    position:absolute;
    left:141px;
    top:0px;
    width:100px;
    height:19px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:25px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../生意管家_files/u115_normal.png');
}

.u115_container {
    position:absolute;
    left:15px;
    top:396px;
    width:695px;
    height:112px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:701px;
    height:118px;
}

.u116 {
    position:absolute;
    left:2px;
    top:48px;
    width:691px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../生意管家_files/u117_normal.png');
}

.u117_container {
    position:absolute;
    left:35px;
    top:408px;
    width:74px;
    height:70px;
}

#u117_img {
    position:absolute;
    left:0px;
    top:0px;
    width:74px;
    height:70px;
}

.u118 {
    position:absolute;
    left:2px;
    top:27px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:396px;
    top:570px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:625px;
    top:531px;
    width:78px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:580px;
    top:570px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:396px;
    top:601px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:580px;
    top:601px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:396px;
    top:631px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:580px;
    top:631px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:396px;
    top:663px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:580px;
    top:663px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:396px;
    top:698px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:580px;
    top:698px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:44px;
    top:485px;
    width:58px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../生意管家_files/u117_normal.png');
}

.u131_container {
    position:absolute;
    left:128px;
    top:408px;
    width:74px;
    height:70px;
}

#u131_img {
    position:absolute;
    left:0px;
    top:0px;
    width:74px;
    height:70px;
}

.u132 {
    position:absolute;
    left:2px;
    top:27px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:137px;
    top:485px;
    width:58px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../生意管家_files/u117_normal.png');
}

.u134_container {
    position:absolute;
    left:221px;
    top:408px;
    width:74px;
    height:70px;
}

#u134_img {
    position:absolute;
    left:0px;
    top:0px;
    width:74px;
    height:70px;
}

.u135 {
    position:absolute;
    left:2px;
    top:27px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:230px;
    top:485px;
    width:58px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../生意管家_files/u117_normal.png');
}

.u137_container {
    position:absolute;
    left:315px;
    top:408px;
    width:74px;
    height:70px;
}

#u137_img {
    position:absolute;
    left:0px;
    top:0px;
    width:74px;
    height:70px;
}

.u138 {
    position:absolute;
    left:2px;
    top:27px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:324px;
    top:485px;
    width:58px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../生意管家_files/u117_normal.png');
}

.u140_container {
    position:absolute;
    left:413px;
    top:408px;
    width:74px;
    height:70px;
}

#u140_img {
    position:absolute;
    left:0px;
    top:0px;
    width:74px;
    height:70px;
}

.u141 {
    position:absolute;
    left:2px;
    top:27px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:422px;
    top:485px;
    width:58px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

