<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>$!{pageTitle}</title>
	<meta name="keywords" content="$!{pageKeywords}" />
	<meta name="description" content="$!{pageDescription}" />
	<link rel="shortcut icon" href="$!{address.img}/front/favicon.ico">
	<link type="text/css" rel="stylesheet" href="$!{address.img}/front/css/zz91.hack.css" />
	<link type="text/css" rel="stylesheet" href="$!{address.img}/front/css/zz91.comm.css" />
	<script type="text/javascript" src="$!{address.img}/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js"></script>
	<script type="text/javascript" src="$!{address.img}/front/js/topbar/jquery.topbar.js"></script>
	<script type="text/javascript" src="$!{address.img}/front/js/zz91.common.js"></script>
	#parse("/common/context.vm")
	#parse("/seo/analysis_head.vm")
</head>
<body>
    <div id="fl_ltop" style="right:0;top:400;position:absolute;display:none;">
    	<a href="#" onClick="showAd();return false;">
    		<img src="$!{address.images}/root/replay.jpg" />
    	</a>
    </div>
	#parse("/common/topbar/topbar.vm")
	#parse("/common/header/header.vm")
	$screen_content
	#parse("/common/footer/footer.vm")
	#parse("/seo/analysis_body.vm")
</body>
</html>
#parse("/seo/analysis_foot.vm")
