<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>zz91.crm.cs.open</title>
	#parse("/zz91/common/import.vm")
	#parse("/zz91/common/context.vm")
	
	<script type="text/javascript" src="$!{address.js}/api/ldb.js" ></script>

	<script type="text/javascript">
		Ext.onReady(function() {
			
			var form=new ast.ast1949.api.ldb.SvrApplyDetailForm({
				region:"center",
				autoScroll:true
			});
			
			var viewport=new Ext.Viewport({
				layout:"border",
				items:[form]
			});
			
			form.loadOpenDetail("$!{companySvrId}","$!{companyId}",$!{data});
			
			#if($!{isSms}==1)
				form.smsShow();
			#else
				form.smsHide();
			#end
			#if($!{svr_code})
				form.feeTong();
			#end
		});
	</script>
</head>

<body>
</body>
</html>