	<link rel="shortcut icon" href="$!{address.img}/front/favicon.ico" />

	<link rel="stylesheet" type="text/css" href ="$!{address.img}/lib/extjs/4.0.7-gpl/resources/css/ext-all.css"  />
	<link rel="stylesheet" type="text/css" href="$!{address.img}/lib/extjs/themes/boomy.css" />
	<link rel="stylesheet" type="text/css" href="$!{address.img}/lib/extjs/themes/desktop-all.css" />

	<script type="text/javascript" src="$!{address.img}/lib/extjs/4.0.7-gpl/ext-all.js" ></script>
	<script type="text/javascript" src="$!{address.img}/lib/extjs/4.0.7-gpl/locale/ext-lang-zh_CN.js" ></script>

	<script type="text/javascript" src="#springUrl('/app/admin/login.js')" ></script>