<style>
	.imptContent {padding:20px;}
	.required {font-weight:bold;color:red;}
	.btn {font-size:18px; font-weight:bold;color:red;}
</style>

<script type="text/javascript" >
	
	function btntoggle(){
		Ext.get("imptbtn").dom.value="好了，剩下的我来搞定，亲，你可以喝咖啡去了";
		Ext.get("imptbtn").dom.disabled=true;
	}
</script>
<div class="imptContent">
<h3 >买家库信息导入</h3>
<form action="#springUrl('/data/ibdcompany/impt.htm')" enctype="multipart/form-data" method="post" onsubmit="btntoggle();">
	<h4>Excel Index</h4>
	<table border="0" cellpadding="2">
		<tr>
			<th>字段</th>
			<th>excel列（起始0）</th>
			<th>参考列</th>
		</tr>
		<tr>
			<td colspan="4"><hr /></td>
		</tr>
		<tr>
			<td class="required">名录类别(必选项)</td>
			<td colspan="3">
				<select name="categoryCode">
					<option value="" selected>请选择</option>
					#foreach($l in $list)
        			<option value="$!{l.code}">${l.name}</option>
					#end
        		</select>
			</td>
		</tr>
		<tr>
			<td colspan="4"><hr /></td>
		</tr>
		<tr>
            <td>公司名称</td>
			<td><input type="text" value="" name="name"/></td>
			<td>0</td>
		</tr>
		<tr>
			<td>公司介绍</td>
			<td><input type="text" value="" name="details"/></td>
			<td>11</td>
		</tr>
		<tr>
			<td>主营行业</td>
			<td><input type="text" value="" name="industry"/></td>
			<td>13</td>
		</tr>
		<tr>
			<td>主营产品</td>
			<td><input type="text" value="" name="mainProduct"/></td>
			<td>12</td>
		</tr>
		<tr>
			<td>企业类型</td>
			<td><input type="text" value="" name="enterpriseType"/></td>
			<td>14</td>
		</tr>
		<tr>
			<td>法人</td>
			<td><input type="text" value="" name="legal"/></td>
			<td>20</td>
		</tr>
		<tr>
			<td>注册资金</td>
			<td><input type="text" value="" name="funds"/></td>
			<td>16</td>
		</tr>
		<tr>
			<td>地址</td>
			<td><input type="text" value="" name="address"/></td>
			<td>7</td>
		</tr>
		<tr>
			<td>员工人数</td>
			<td><input type="text" value="" name="employeeNum"/></td>
			<td>18</td>
		</tr>
		<tr>
			<td>注册地区</td>
			<td><input type="text" value="" name="registerArea"/></td>
			<td>17</td>
		</tr>
		<tr>
			<td>经营模式:</td>
			<td><input type="text" value="" name="businessModel"/></td>
			<td>15</td>
		</tr>
		<tr>
			<td>联系人</td>
			<td><input type="text" value="" name="contact"/></td>
			<td>1</td>
		</tr>
		<tr>
			<td>性别</td>
			<td><input type="text" value="" name="sex"/></td>
			<td>2</td>
		</tr>
		<tr>
			<td>职称</td>
			<td><input type="text" value="" name="position"/></td>
			<td>3</td>
		</tr>
		<tr>
			<td>电话</td>
			<td><input type="text" value="" name="phone"/></td>
			<td>4</td>
		</tr>
		<tr>
			<td>手机</td>
			<td><input type="text" value="" name="mobile"/></td>
			<td>5</td>
		</tr>
		<tr>
			<td>传真</td>
			<td><input type="text" value="" name="fax"/></td>
			<td>6</td>
		</tr>
		<tr>
			<td>邮政编码</td>
			<td><input type="text" value="" name="addressZip"/></td>
			<td>8</td>
		</tr>
		<tr>
			<td>邮箱</td>
			<td><input type="text" value="" name="email"/></td>
			<td>9</td>
		</tr>
		<tr>
			<td>公司网址</td>
			<td><input type="text" value="" name="domain"/></td>
			<td>10</td>
		</tr>
		#*
		<tr>
			<td>公司图片</td>
			<td><input type="text" value="" name="photoCover"/></td>
			<td></td>
		</tr>
		*#
		<tr>
			<td>注册时间</td>
			<td><input type="text" value="" name="registerTime"/></td>
			<td>19</td>
			<td>格式:xxxx-xx-xx或xx年xx月xx日</td>
		</tr>
		<tr>
			<td colspan="4"><hr /></td>
		</tr>
	</table>
	
	<h4 >Excel文件</h4>
	<div><input type="file" name="excel" /></div>
	<br/>
	<div><input type="submit" id="imptbtn" name="importexcel" value="填写正确，一定要要填写正确（否则出现问题后果自负），然后猛击这里！！！" class="btn" /></div>
</form>
</div>
