#set($layout="/layout/blank.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>入驻市场申请</title>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/industrial/css/IndustrialBelt.css" />
<script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js" ></script>
<script type="text/javascript" src="http://img0.zz91.com/zz91/industrial/js/openoverlay.js"></script>
<script>
$(document).ready(function(){
	$("#btn").click(function(){
	     closeoverlay();
    	 parent.window.location.href='$!{address.myrc}/mycompany/updateCompany.htm?lmcode=1201';
	});  
});
</script>
</head>
<body>
    <div class="remind" style="line-height:25px;text-align:left;padding-left:10px;"><span style="font-weight:bold;">提醒：</span>您的公司主营行业或公司地址不符合该市场入驻条件，您将无法入驻该市场
		<p style="padding:0 0 0 40px;margin:0">如果您的公司经营地址有误，请<a id="btn" style="color:#0000ff;">修改公司地址</a>后重新入驻</p>
	</div>
</body>
</html>