#set($layout="/layout/blank.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>入驻市场申请</title>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/industrial/css/IndustrialBelt.css" />
<script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js" ></script>
<script type="text/javascript" src="http://img0.zz91.com/zz91/industrial/js/openoverlay.js"></script>
</head>
<body>
<style>
div li{
	    float:left;
	    display:inline;
      }
#left{
	 height:100px;
     width:150px;
	 line-height:20pt;
     float:left;
	 font-weight:bold;
}
#right{
     height:100px;
     width:390px;
	 line-height:20pt;
     float:left;
	 text-align:left;
}
#notice{
    height:50px;
    width:520px;
	margin:0;
    float:left;
	text-align:left;
	padding-left:10px;
}
#button{
	height:50px;
    width:540px;
	float:left;
}
#btn1 {
	background: #02C3A3;
	border: 0;
	color: #fff;
	height: 30px;
	width: 120px;
	cursor:pointer;
}
#btn2 {
	border: 0;
	background: #e0e0e0;
	height: 30px;
	width: 60px;
	cursor: pointer;
}
</style>
<script>
$(document).ready(function(){
	$("#btn1").click(function(){
	     closeoverlay();
		 parent.window.location.href='$!{address.myrc}/mycompany/updateCompany.htm?lmcode=1201';
	});
	$("#btn2").click(function(){
		 parent.$(".overlaybox").hide();
	});
});

</script>
    <div class="remind">
		<div>
		<div id="left">您已入驻以下市场：</div>
		<div id="right">
			<ul>
				#printTitle($!{market} 45 "...")
			</ul>
		</div>
		<div class="cb"></div>
		</div>
        <div id="notice">您可以前往生意管家选择继续入驻其他市场或者修改已入驻市场</div>
			<div id="button">
				<button id="btn1">添加/修改市场</button>
				<button id="btn2">返回</button>
				<div>
				</div>
			</div>
	</div>
</body>
</html>