##<link rel="shortcut icon" href="$!{address.img}/front/favicon.ico" />
##<link rel="stylesheet" href="$!{address.img}/zz91/css/zz91.common.css" />
##<link rel="stylesheet" href="$!{address.img}/zz91/trade/css/quickPost.css" />
##
##<!--import common js-->
##<script src="$!{address.img}/lib/asto/modernizr.js"></script>
##<script src="$!{address.img}/lib/asto/asto-all-1.0.0.js"></script>

<link rel="shortcut icon" href="$!{address.img}/front/favicon.ico" />
<link rel="stylesheet" href="$!{address.img}/zz91/css/zz91.common.css" />
<link rel="stylesheet" href="$!{address.img}/zz91/trade/css/quickPost.css" />
<link rel="stylesheet" type="text/css" href="$!{address.img}/zz91/quickPost/css/base.css"/>
<link rel="stylesheet" type="text/css" href="$!{address.img}/zz91/quickPost/css/index.css"/>
<link rel="stylesheet" href="$!{address.img}/lib/jquery-ui/1.8.16/south-street/jquery-ui-1.8.16.custom.css" />
<!--import common js-->
<SCRIPT src="$!{address.img}/zz91/quickPost/js/jquery.min.js" type=text/javascript></SCRIPT>
<SCRIPT src="$!{address.img}/zz91/quickPost/js/miniposttrade1.js" type=text/javascript></SCRIPT>
<script src="$!{address.img}/lib/asto/asto-all-1.0.0.js"></script>
<script src="$!{address.img}/lib/jquery/jquery-1.6.2.min.js"></script>
<script src="$!{address.img}/lib/jquery-ui/1.8.16/jquery-ui-1.8.16.custom.min.js"></script>
