<link rel="stylesheet" href="$!{address.css}/trade/uselogin/css/login.css" />

<div class="nav">
    <div class="nav-main">
        <div class="fl logoimg">
			<a href="$!{address.www}" target="_blank">
				<img src="http://img0.taozaisheng.com/trade/comm/logo_2.png" />
			</a>
        </div>
    </div>
</div>
<div class="content clearfix">
    <div class="clearfix login-all">
        <div class="advert fl">
			<script type="text/javascript" src="http://gg.zz91.com/show?p=750"></script>
		</div>
		<form action="doLogin.htm" method="post" id="loginForm">
			
    		<div class="login-main fr">
				#if($!{account})
					<span style="color:red">帐号或密码错误，请重试。</span>
				#end
##				#if($!{flag})
##					<span style="color:red">请先登陆,才可购买。</span>
##				#end
				<div class="login-main-into">
					<i class="icon-login iconfont">&#xe606;</i>
					<input class="into-xixi" placeholder="手机号/邮箱/zz91再生网账号" name="account" value="$!{account}"/>
				</div>
				<div class="login-main-into">
					<i class="icon-login iconfont">&#xe607;</i>
					<input type="password"  class="into-xixi" name="password"/>
					<input type="hidden" name="url" value="$!{url}"/>
				</div>
                <div class="cantlogin clearfix">
                    <a href="#springUrl('/forgetPwd.htm')" class="fl">忘记登录密码？</a>
                    <a href="#springUrl('/register/step1.htm')" class="fr">免费注册</a>
                </div>
                <div class="login-btn" onclick="jQuery('#loginForm').submit();">登    录</div>
            </div>
		</form>
    </div>
</div>
<script >
	$(document).keydown(function(e){
	if(e.keyCode == 13) {
	$('#loginForm').submit();
	}
	});
</script>