<div id="all_offer_index" class="bodyCont moveChild mb">
	<div class="bodyContTitle" >
		#set($navTitle="供应信息")
		#foreach($!{obj} in $!{navColumnConfig})
			#if($!{obj.id}=="zxgq")
				#set($navTitle=$!{obj.t})
			#end
		#end
##        #foreach($main in $!{mainConfig})
##            #if(${main.id} == "all_offer_index")
##                #set($navTitle=${main.title})
##            #end
##		#end
        <span class="titleLinkColor titleName t"  onclick="Move.editTitle(this.parentNode.parentNode);">$!{navTitle}</span>
        <a href="#springUrl('/zxgq.htm')" class="titleLinkColor more">更多 >></a>
    </div>
    <div class="bodyContContent rightConteWidth clearfix">
		#if($!{cid}=="760523")
		    <div class="video">
                <iframe border="0" name="aaaa" marginWidth="0" frameSpacing="0" marginHeight="0" src='http://ajlong.zz91.com/vedio/flash1.html' frameBorder="0" noResize width="320" scrolling="no"  height="240" vspale="0"></iframe>
                <p>安晶龙色选机选料视频</p>
            </div>
		#end
		#cacheFragment("$!{address.esiteFragment}/esite/productsList.htm?cid=$!{cid}&size=15","","1","")
        
		<ul class="plist clearfix"> 
            #foreach($!{picList} in $!{list})
				#if($!{picList.products.productsTypeCode}=="10331001")
					#set($proTypeCode='求购')
				#else
					#set($proTypeCode='供应')
				#end
                <li class="bodyContContentImgLi">
                    <div class="image imgBorder">
						<a class="topicLink" href="/products$!{picList.products.id}.htm" target="_blank" >
						##<a href="/static/products.htm?id=$!{picList.products.id}" target="_blank">
						#if(${picList.coverPicUrl} && ${picList.coverPicUrl}!="")
							<img src="$!{address.thumb}$!{address.resource}/$!{picList.coverPicUrl}&width=104&height=93" width="104" height="93" class="border" alt="$proTypeCode$!{picList.products.title}" />
						#else
							<img src="$!{address.images}/myrc/noimage.gif" width="100" height="80" class="border" />
						#end
						</a>
                    </div>
                    <p>
                         <a class="topicLink" href="/products$!{picList.products.id}.htm" target="_blank" >
						##<a class="topicLink" href="/static/products.htm?id=$!{picList.products.id}" target="_blank" >
                            $proTypeCode$!{picList.products.title}
                        </a>
                    </p>
                </li>
            #end
        </ul>
		#end
    </div>
</div>
