<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
		#parse("/zz91/common/import.vm")
		#parse("/zz91/common/context.vm")
		
	<script type="text/javascript" src="$!{address.js}/ext-ckeditor/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="$!{address.js}/ext-ckeditor/Ext.form.BasicForm.js"></script>
	<script type="text/javascript" src="$!{address.js}/ext-ckeditor/Ext.form.CKEditor.js"></script>	
	
	<script type="text/javascript" src="#springUrl('/app/lib/FileUploadField.js')" ></script>
	<script type="text/javascript" src="#springUrl('/app/lib/UploadWin.js')" ></script>
	<script type="text/javascript" src="$!{address.js}/admin/lib/ComboTree.js" ></script>
	
	<script type="text/javascript" src="$!{address.js}/admin/xiazai/category.js"></script>
	<script type="text/javascript" src="$!{address.js}/admin/xiazai/tree.js" ></script>
	<script type="text/javascript" src="$!{address.js}/admin/xiazai/add.js" ></script>
	
	<script type="text/javascript" >
		Ext.onReady(function(){
		
        	var form = new ast.ast1949.admin.xiazai.InfoForm({
        		title:"添加或者编辑-下载中心-文档信息",
        		id:_C.INFO_FORM,
        		region:"center"
        	});
        	
        	var viewport = new Ext.Viewport({
        		layout:'border',
        		items:[form]
        	}); 
			
			#if($!{code})
				Ext.get("code").dom.value = "$!{code}";
				Ext.get("label").dom.value = "$!{label}";
			#end

			#if($!{id})
				form.init($!{id});
			#end

			#if($!{cid})
				form.initCopy($!{cid});
			#end
			
        });
		
	</script>
</head>	 
<body>
	<input type="hidden" id="proId" name="proId" value="$!{proId}" /> 
	<input type="hidden" id="priceId" name="priceId" value="$!{priceId}" /> 
	<input type="hidden" id="title" name="title" value="$!{title}" /> 
	<input type="hidden" id="tags" name="tags" value="$!{tags}" />
	<input type="hidden" id="assistTypeName" name="assistTypeName" value="$!{assistTypeName}" />
	<input type="hidden" id="typeName" name="typeName" value="$!{typeName}" /> 
	
</body>

</html>