#set($layout="layout/blank.vm")
document.write('<div class="fl top-left clearfix">');
#if(${yousuyuanUser})
				document.write('<span class="first-span">您好! #printTitle($!{sessionUser.account} 15 "...")! 欢迎来到优塑源网!</span>');
				document.write('<span>');
				document.write('<a href="$!{address.myrc}/myyuanliao/office_post_list.htm" target="_blank">生意管家</a>');
				document.write('</span>');
				document.write('<span>');
				document.write('<a  href="#springUrl('/logout.htm')" >退出</a>');
				document.write('</span>');
			#else
				document.write('<span class="first-span">您好，欢迎来到优塑源网！</span>');
                document.write('<span><a href="#springUrl('/login.htm')">登录</a></span>');
                document.write('<span><a href="#springUrl('/register/register_stp1.htm')" target="_blank">免费注册</a></span>');
#end
document.write('</div>');

