<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
	<!-- for include js code -->
	#parse("/zz91/common/import.vm")
	#parse("/zz91/common/context.vm")
	
	<script type="text/javascript" src="$!{address.js}/admin/lib/StandardGridPanelViewport.js" ></script>
	<script type="text/javascript" src="$!{address.js}/admin/lib/StandardGridPanel.js" ></script>
	<script type="text/javascript" src="$!{address.js}/admin/lib/StandardEditorGridPanel.js" ></script>
	
    <script type="text/javascript" src="$!{address.js}/admin/crm/opens/apply.js" ></script>
	
	<script type="text/javascript" >
		var PAGE_CONST = new function(){
			this.COMPANY_ID	= "$!{cid}";
			this.SERVE_ID	= "$!{sid}";
			this.SERVE_NAME	= "$!{sname}";
			this.ORDER_ID	= "$!{oid}";
			
			//品牌通类别
			var brand_category="";
			#set($size=$!{brandList.size()})
    		#foreach($bl in $!{brandList})
				#set($count=$velocityCount)
    			brand_category+='{boxLabel:"$!{bl.name}",name:"codes",inputValue:"$!{bl.id}"}';
				#if($size>$count)
					brand_category+=',';
				#end
    		#end
			if(brand_category==null||brand_category.length<=0){
				brand_category="{}";
			}
			this.BRAND_CATEGORY=eval("["+brand_category+"]");
			
			//广告类别
			var ad_category="";
			#set($size=$!{adList.size()})
    		#foreach($al in $!{adList})
				#set($count=$velocityCount)
    			ad_category+='{boxLabel:"$!{al.name}",name:"codes",inputValue:"$!{al.id}"}';
				#if($size>$count)
					ad_category+=',';
				#end
    		#end
			if(ad_category==null||ad_category.length<=0){
				ad_category="{}";
			}
			this.AD_CATEGORY=eval("["+ad_category+"]");
			
			//小广告类别
			var sad_category="";
			#set($size=$!{sadList.size()})
    		#foreach($sal in $!{sadList})
				#set($count=$velocityCount)
    			sad_category+='{boxLabel:"$!{sal.name}",name:"codes",inputValue:"$!{sal.id}"}';
				#if($size>$count)
					sad_category+=',';
				#end
    		#end
			if(sad_category==null||sad_category.length<=0){
				sad_category="{}";
			}
			this.SAD_CATEGORY=eval("["+sad_category+"]");
		}

    </script>
</head>

<body>
</body>
</html>