@charset "utf-8";
/* CSS Document */
html{color:#2c2c2c; font-size:12px;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,pre,code,p,th,td,form,img{margin:0; padding:0; border:none; font-family:"宋体";}
input,select{margin:0; padding:0;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul,li{list-style:none;}
.noclear{clear:both;}
.topicbody{width:960px; margin:0 auto;}
.topicspace8{width:960px; height:8px; margin:0 auto;}
.topicspace10{width:960px; height:10px; margin:0 auto;}
.topicspace15{width:960px; height:15px; margin:0 auto;}
.topicspace20{width:960px; height:20px; margin:0 auto;}
.space8{height:8px; margin:0 auto;}
.space10{height:10px; margin:0 auto;}

.toggleBtn{ position:absolute; right:12px; bottom:10px; z-index:3}
.toggleBtn a{text-align:center; text-decoration:none; background:url(images/sildebgno.png) left top no-repeat;height:18px;width:18px; margin-right:4px;font:italic bold 13px/18px 'Microsoft YaHei' '宋体'; color:#f27800;display:block; float:left; _background: none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img0.huanbao.com/huanbao/images/global/sildebgno.png');}
.toggleBtn a:hover{color:#f27800;cursor:pointer; text-decoration:none;}
.toggleBtn a.selected{ background-position:left -20px; text-decoration:none; color:#FFF; background:url(images/sildebgyes.png) left top no-repeat; _background: none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img0.huanbao.com/huanbao/images/global/slidebcyes.png')}
.toggleBtn a.selected:hover{color:#FFF;cursor:pointer; text-decoration:none;}
.toggleImg{ position:absolute; z-index:2; height:342px; width:626px }
.toggleImg img{ width:626px; height:342px; position:absolute; display:none}

.topicadsl{width:626px; height:342px; position:relative; z-index:1; overflow:hidden; float:left;}
.topicadsr{width:334px; height:342px; float:left;}
.topictitle{width:334px; height:40px; background:url(images/topic_05.jpg) repeat-x;}
.topictitl{width:95px; height:40px; float:left;}
.topictitr{width:7px; height:40px; float:right;}
.topicadscon{width:314px; height:282px; padding:10px; background-color:#f6faf2; line-height:26px; font-size:14px;}
.topicadscontit{font-weight:bold; color:#333;}
.topicadscon a{font-size:12px; color:#0774ac; text-decoration:none;}
.topicadscon a:hover{font-size:12px; color:#f27800; text-decoration:none;}

.topicconl{width:700px; float:left;}
.topiccontit{width:698px; height:32px; background:url(images/topic_25.jpg); border:solid 1px #c6eca7;}
.topiccontita{width:30px; height:32px; background:url(images/topic_28.jpg) left no-repeat; line-height:32px; float:left;}
.topiccontitas{width:30px; height:32px; background:url(images/topic_24.jpg) left no-repeat; line-height:32px; float:left;}
.topiccontitb{width:200px; height:32px; line-height:32px; font-size:14px; font-weight:bold; float:left;}
.topiccontitc{width:80px; height:32px; line-height:32px; text-align:center; float:right;}
.topiccontitc a{font-size:12px; color:#949494; text-decoration:none;}
.topiccontitc a:hover{font-size:12px; color:#f27800; text-decoration:none;}
.topicconinfo{width:668px; height:130px; padding-top:15px; padding-left:15px; padding-right:15px; border:solid 1px #c6eca7; border-top:0px;}
.topicconinfoa{width:334px; height:115px; float:left;}
.topicconinfob{width:140px; height:107px; padding:2px; border:solid 1px #e2e2e2; float:left;}
.topicconinfoc{width:170px; height:113px; margin-left:8px; line-height:22px; float:left;}
.topicconinfoc a{font-size:12px; color:#0774ac; text-decoration:none;}
.topicconinfoc a:hover{font-size:12px; color:#f27800; text-decoration:none;}

.topicconr{width:250px; float:right;}
.topicconrtit{width:238px; height:32px; border:solid 1px #dad9d9; background:url(images/topic_13.jpg) repeat-x; padding-left:10px; font-size:14px; font-weight:bold; color:#000; line-height:32px;}
.topicconrcon{width:240px; border:solid 1px #dad9d9; border-top:0px; padding-top:10px; padding-bottom:10px; padding-left:8px;}
.topicconrcon li{height:24px; line-height:24px;}
.topicconrcon span{color:#f27800;}
.topicconrcon a{font-size:12px; color:#292a29; text-decoration:none;}
.topicconrcon a:hover{font-size:12px; color:#f27800; text-decoration:none;}
.topicconrkey{width:240px; height:85px; border:solid 1px #dad9d9; border-top:0px; padding-top:10px; padding-bottom:10px; padding-left:8px;}
.topicconrkey a{padding:5px 5px; line-height:28px; text-decoration:none; font-size:14px;}
.topicconrcola{color:#f27800;}
.topicconrcolb{color:#3b8803;}
.topicconrcolc{color:#0774ac;}
.topicconrads{width:250px; height:180px;}

.topiclistwz{width:690px; height:30px; background-color:#f3f4f2; color:#000; padding-left:10px; line-height:30px;}
.topiclisttit{width:690px; height:30px; line-height:30px; font-size:14px; font-weight:bold; color:#000; padding-left:10px;}
.topiclistinfo{width:650px;}
.topiclistinfo li{height:26px; line-height:26px; padding-left:10px;}
.topiclistinfo span{float:right; color:#ababab;}
.topiclistinfo a{font-size:14px; color:#262626; text-decoration:none;}
.topiclistinfo a:hover{font-size:14px; color:#f27800; text-decoration:none;}
.topiclistpage{width:700px; height:50px; text-align:center;}