##非生意管家模板，没有生意管家各种功能菜单
<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
    <title>$!{seoTitle}</title>
##    <meta name="keywords" content="$!{seoKeywords}" />
##   <meta name="description" content="$!{seoDescription}" />

	<link type="text/css" rel="stylesheet" href="http://img0.huanbao.com/huanbao/www/css/hb.comm.css" />
    <link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
    <script type="text/javascript" src="http://img0.huanbao.com/lib/jquery/jquery-1.8.0.min.js"></script>
	
	#if("$!{epAuthUser.account}"=="")
		#parse("/common/importNorm.vm")
    	<link rel="stylesheet" href="$!{address.img}/huanbao/myesite/css/base.css?20121219" />
    	<link rel="stylesheet" href="$!{address.img}/huanbao/myesite/css/theme.css?20121213" />
    	<script src="$!{address.img}/lib/asto/asto-all-1.0.0.js" ></script>
	#else
		#parse("/common/import.vm")
	#end
		#parse("/common/content.vm")
	
</head>
<body>
##   #cacheFragment("$!{address.fragment}/fragment/app/topbar.htm?loginName=$!{epAuthUser.account}&1", "", "", "")
##			$!{fragmentContext}
##	#end
     $screen_content
	#cacheFragment("$!{address.fragment}/fragment/app/footer.htm", "", "", "")
			$!{fragmentContext}
	#end
 ##   <script src="$!{address.img}/huanbao/www/js/search.js"></script>
</body>
</html>
