<!DOCTYPE html>

<html lang="zh-CN" dir="ltr">
<head>
    <meta charset="utf-8" />
	
    <title>$!{seoTitle}</title>
    <meta name="keywords" content="$!{seoKeywords}" />
    <meta name="description" content="$!{seoDescription}" />
	
	<link type="text/css" rel="stylesheet" href="http://img0.huanbao.com/huanbao/www/css/hb.comm.css" />
    <link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
	<style >
		body {min-width: 200px; padding-top:0px;}
	</style>
	
	#parse("/common/import.vm")
</head>

<body>
##	#cacheFragment("$!{address.fragment}/fragment/app/topbar.htm?loginName=$!{epAuthUser.account}&1", "", "", "")
##			$!{fragmentContext}
##	#end

	   $screen_content
	#cacheFragment("$!{address.fragment}/fragment/app/footer.htm", "", "", "")
			$!{fragmentContext}
	#end
     

    <script src="$!{address.img}/huanbao/www/js/search.js"></script>
</body>
</html>