<div class="body">
    <div class="nav">
        <span class="nav_header">${searchKey}</span>
        <span class="f14">您现在的位置：</span>
        <span class="f14">
            <a href="/index.htm">产品相册</a>
            &gt; </span>
            <span class="f14">
                <a href="#">${searchKey} 没有数据</a>
            </span>
    </div>
    <div class="img">
        <a href="$!{address.myrc}/myproducts/office_post1.htm" target="_blank"><img src="$!{address.img}/zz91/picture/image/img.png" /></a>
    </div>
    #parse("/common/buttom.vm")
</div>