## 导航栏目
#set($key="index")
#parse("/common/menu.vm")
<div class="body1" >
    <div class="info">
        #parse("/common/menuLabel.vm")
        <!--导航-->
        
        <!--推荐产品-->
        <div class="fjs">
            <div class="title">
                <span class="more">废金属</span>
                <span style="display:block;float:right;margin-right:10px;">
                    <a href="#springUrl('/searchPic-%E9%87%91%E5%B1%9E.htm')">更多&gt;&gt;</a>
                </span>
            </div>
            <div class="content1">
				#foreach($obj in $!{jsList})
					#if($velocityCount==1)
					<div class="img_1">
						<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
							<img src="$!{address.thumb}${address.resource}/$!{obj.coverPicUrl}&width=170&height=192" />
						</a>
					</div>
					<div class="img_2">
						<ul>
					#elseif($velocityCount==10)
						<div class="img_1">
							<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
								<img src="$!{address.thumb}${address.resource}/${obj.coverPicUrl}&width=180&height=196" />
							</a>
						</div>
					#elseif($velocityCount==9)
						<li>
							<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
								#if($!{obj.coverPicUrl} && $!{obj.coverPicUrl}!="")
									<img src="$!{address.thumb}$!{address.resource}/${obj.coverPicUrl}&width=122&height=88"/>
								#else
									<img src="http://img0.zz91.com/front/images/global/noimage.gif"/>
								#end
							</a>
						</li>
						</ul>
					</div>
					#else
						<li>
							<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
								#if($!{obj.coverPicUrl} && $!{obj.coverPicUrl}!="")
									<img src="$!{address.thumb}$!{address.resource}/${obj.coverPicUrl}&width=122&height=88"/>
								#else
									<img src="http://img0.zz91.com/front/images/global/noimage.gif"/>
								#end
							</a>
						</li>
					#end
				#end
			</div>
		</div>
		<!--废金属-->
        <div class="fjs">
            <div class="title">
                <span class="more">废塑料</span>
                <span style="float:right;margin-right:10px;">
                    <a href="#springUrl('/searchPic-%E5%A1%91%E6%96%99.htm')">更多&gt;&gt;</a>
                </span>
            </div>
            <div class="content1">
				#foreach($obj in $!{slList})
					#if($velocityCount==1)
					<div class="img_1">
						<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
							<img src="$!{address.thumb}${address.resource}/${obj.coverPicUrl}&width=170&height=192" />
						</a>
					</div>
					<div class="img_2">
						<ul>
					#elseif($velocityCount==10)
						<div class="img_1">
							<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
								<img src="$!{address.thumb}${address.resource}/${obj.coverPicUrl}&width=180&height=196" />
							</a>
						</div>
					#elseif($velocityCount==9)
						<li>
							<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
								#if($!{obj.coverPicUrl} && $!{obj.coverPicUrl}!="")
									<img src="$!{address.thumb}$!{address.resource}/${obj.coverPicUrl}&width=122&height=88"/>
								#else
									<img src="http://img0.zz91.com/front/images/global/noimage.gif"/>
								#end
							</a>
						</li>
						</ul>
					</div>
					#else
						<li>
							<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
								#if($!{obj.coverPicUrl} && $!{obj.coverPicUrl}!="")
									<img src="$!{address.thumb}$!{address.resource}/${obj.coverPicUrl}&width=122&height=88"/>
								#else
									<img src="http://img0.zz91.com/front/images/global/noimage.gif"/>
								#end
							</a>
						</li>
					#end
				#end
            </div>
        </div>
        <!--废电子电器-->
        <div class="fjs">
            <div class="title">
                <span class="more">废电子电器</span>
                <span style="float:right;margin-right:10px;">
                    <a href="#springUrl('/searchPic-%E5%BA%9F%E7%94%B5%E5%AD%90%E7%94%B5%E5%99%A8.htm')">更多&gt;&gt;</a>
                </span>
            </div>
            <div class="content1">
				#foreach($obj in $!{dzList})
					#if($velocityCount==1)
					<div class="img_1">
						<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
							<img src="$!{address.thumb}${address.resource}/${obj.coverPicUrl}&width=170&height=192" />
						</a>
					</div>
					<div class="img_2">
						<ul>
					#elseif($velocityCount==10)
						<div class="img_1">
							<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
								<img src="$!{address.thumb}${address.resource}/${obj.coverPicUrl}&width=180&height=196" />
							</a>
						</div>
					#elseif($velocityCount==9)
						<li>
							<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
								#if($!{obj.coverPicUrl} && $!{obj.coverPicUrl}!="")
									<img src="$!{address.thumb}$!{address.resource}/${obj.coverPicUrl}&width=122&height=88"/>
								#else
									<img src="http://img0.zz91.com/front/images/global/noimage.gif"/>
								#end
							</a>
						</li>
						</ul>
					</div>
					#else
						<li>
							<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
								#if($!{obj.coverPicUrl} && $!{obj.coverPicUrl}!="")
									<img src="$!{address.thumb}$!{address.resource}/${obj.coverPicUrl}&width=122&height=88"/>
								#else
									<img src="http://img0.zz91.com/front/images/global/noimage.gif"/>
								#end
							</a>
						</li>
					#end
				#end
            </div>
        </div>
        <!--废橡胶-->
        <div class="fjs">
            <div class="title">
                <span class="more">废橡胶</span>
                <span style="float:right;margin-right:10px;">
                    <a href="#springUrl('/searchPic-%E5%BA%9F%E6%A9%A1%E8%83%B6.htm')">更多&gt;&gt;</a>
                </span>
            </div>
            <div class="content1">
				#foreach($obj in $!{xjList})
					#if($velocityCount==1)
					<div class="img_1">
						<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
							<img src="$!{address.thumb}${address.resource}/${obj.coverPicUrl}&width=170&height=192" />
						</a>
					</div>
					<div class="img_2">
						<ul>
					#elseif($velocityCount==10)
						<div class="img_1">
							<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
								<img src="$!{address.thumb}${address.resource}/${obj.coverPicUrl}&width=180&height=196" />
							</a>
						</div>
					#elseif($velocityCount==9)
						<li>
							<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
								#if($!{obj.coverPicUrl} && $!{obj.coverPicUrl}!="")
									<img src="$!{address.thumb}$!{address.resource}/${obj.coverPicUrl}&width=122&height=88"/>
								#else
									<img src="http://img0.zz91.com/front/images/global/noimage.gif"/>
								#end
							</a>
						</li>
						</ul>
					</div>
					#else
						<li>
							<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
								#if($!{obj.coverPicUrl} && $!{obj.coverPicUrl}!="")
									<img src="$!{address.thumb}$!{address.resource}/${obj.coverPicUrl}&width=122&height=88"/>
								#else
									<img src="http://img0.zz91.com/front/images/global/noimage.gif"/>
								#end
							</a>
						</li>
					#end
				#end
            </div>
        </div>
        <!--废橡胶-->
        <!--废旧二手设备-->
        <div class="fjs">
            <div class="title">
                <span class="more">废旧二手设备</span>
                <span style="float:right;margin-right:10px;">
                    <a href="#springUrl('/searchPic-%E5%BA%9F%E6%97%A7%E4%BA%8C%E6%89%8B%E8%AE%BE%E5%A4%87.htm')">更多&gt;&gt;</a>
                </span>
            </div>
            <div class="content1">
				#foreach($obj in $!{esList})
					#if($velocityCount==1)
					<div class="img_1">
						<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
							<img src="$!{address.thumb}${address.resource}/${obj.coverPicUrl}&width=170&height=192" />
						</a>
					</div>
					<div class="img_2">
						<ul>
					#elseif($velocityCount==10)
						<div class="img_1">
							<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
								<img src="$!{address.thumb}${address.resource}/${obj.coverPicUrl}&width=180&height=196" />
							</a>
						</div>
					#elseif($velocityCount==9)
						<li>
							<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
								#if($!{obj.coverPicUrl} && $!{obj.coverPicUrl}!="")
									<img src="$!{address.thumb}$!{address.resource}/${obj.coverPicUrl}&width=122&height=88"/>
								#else
									<img src="http://img0.zz91.com/front/images/global/noimage.gif"/>
								#end
							</a>
						</li>
						</ul>
					</div>
					#else
						<li>
							<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
								#if($!{obj.coverPicUrl} && $!{obj.coverPicUrl}!="")
									<img src="$!{address.thumb}$!{address.resource}/${obj.coverPicUrl}&width=122&height=88"/>
								#else
									<img src="http://img0.zz91.com/front/images/global/noimage.gif"/>
								#end
							</a>
						</li>
					#end
				#end
            </div>
        </div>
        <!--废旧二手设备-->
        <!--废纸-->
        <div class="fjs">
            <div class="title">
                <span class="more">废纸</span>
                <span style="float:right;margin-right:10px;">
                    <a href="#springUrl('/searchPic-%E5%BA%9F%E7%BA%B8.htm')">更多&gt;&gt;</a>
                </span>
            </div>
            <div class="content1">
				#foreach($obj in $!{fzList})
					#if($velocityCount==1)
					<div class="img_1">
						<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
							<img src="$!{address.thumb}${address.resource}/${obj.coverPicUrl}&width=170&height=192" />
						</a>
					</div>
					<div class="img_2">
						<ul>
					#elseif($velocityCount==10)
						<div class="img_1">
							<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
								<img src="$!{address.thumb}${address.resource}/${obj.coverPicUrl}&width=180&height=196" />
							</a>
						</div>
					#elseif($velocityCount==9)
						<li>
							<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
								#if($!{obj.coverPicUrl} && $!{obj.coverPicUrl}!="")
									<img src="$!{address.thumb}$!{address.resource}/${obj.coverPicUrl}&width=122&height=88"/>
								#else
									<img src="http://img0.zz91.com/front/images/global/noimage.gif"/>
								#end
							</a>
						</li>
						</ul>
					</div>
					#else
						<li>
							<a href="#springUrl('/info')${obj.products.id}.htm" target="_blank" title="${obj.products.title}">
								#if($!{obj.coverPicUrl} && $!{obj.coverPicUrl}!="")
									<img src="$!{address.thumb}$!{address.resource}/${obj.coverPicUrl}&width=122&height=88"/>
								#else
									<img src="http://img0.zz91.com/front/images/global/noimage.gif"/>
								#end
							</a>
						</li>
					#end
				#end
            </div>
        </div>
        <!--废纸-->
    </div>
    #parse("/common/buttom.vm")
</div>
