<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>$!{bbsUserProfilerDO.nickname}_再生互助_$!{siteInfo.site_name}</title>
<meta name="keywords" content="再生互助,$!{bbsUserProfilerDO.nickname}" />
<meta name="description" content="欢迎来到$!{bbsUserProfilerDO.nickname}在$!{siteInfo.site_name}-互助社区安的新家" />
<link rel="shortcut icon" href="$!{address.images}/logo/favicon.ico">
#parse("/common/import.vm")
#parse("/common/dialogBoxInclude.vm")
<script type="text/javascript">
	function showme(id){
		var url="#springUrl('/postEdit.htm?postId=')"+id;
		dialog("修改帖子", "iframe:"+url+"", "800px", "500px", "iframe");
	}
</script>
#parse("/seo/analysis_head.vm")
</head>
<body>
      #parse("/bbs/bbs_top.vm")
	  <div class="tips">
        <h3 class="report_tips1">我的互助社区</h3>
        <div class="reply_tips">
        	#if($!{bbsUserProfilerDO})
        		我在<span class="reply_text1">$!{date.format('yyyy-MM-dd',$!{mycompany.regtime})}</span>入住互助社区，共发表了<span class="reply_text1">$!{countPosted}</span>个帖子，审核通过了<span class="reply_text1">$!{bbsUserProfilerDO.postNumber}</span>条帖子，回复了<span class="reply_text1">$!{countReply}</span>个帖子
##				，现在我的财富值为<span class="reply_text1">#if($!{bbsUserProfilerDO.integral})$!{bbsUserProfilerDO.integral}#else 0 #end
				</span>
        	#end	
        </div>
	  </div>
      <div style="clear:both"></div>
      <div class="report_content">
      #parse("/bbs/bbs_left.vm")
      $screen_content
      #parse("/bbs/bbs_right.vm")
      <div style="clear:both"></div>
      </div>
    #cacheFragment("$!{address.fragment}/china/footer.htm","","","")
    	$!{fragmentContext}
    #end
	#parse("/seo/analysis_body.vm")
</body>
</html>
#parse("/seo/analysis_foot.vm")
