#set( $layout = "/layout/myrcLayout.vm" )
#leftMenu("1203","","00")
<div class="myrcNormalFrame">
	<div class="tishiWarn" style="margin-top:0">
		对基本资料和联系方式进行修改,请<a onmousedown="return aliclick(this,'?tracelog=company_more_one')" href="updateCompany.htm?lmcode=1201">点击这里</a>
		<br>
		对详细资料和企业图片进行修改,请<a onmousedown="return aliclick(this,'?tracelog=company_more_two')" href="updateImg.htm?nextstep=2">点击这里</a>
	</div>
	
	<div class="officetitle">企业信息</div>
	<div class="productskuang">
			<div class="publishFormItems">
				<div class="products_title">企业名称:</div>
				<div class="products_fill">$!{company.name}</div>
			</div>
			<div class="publishFormItems">
				<div class="products_title">企业简介:</div>
				<div class="products_fill">$!{company.introduction}</div>
			</div>
			<div class="publishFormSub">
				<a href="#springUrl('/mycompany/updateIntroduction.htm')" class="buttonMax">点此修改公司简介</a>
			</div>
			<div style="clear:both"></div>
	</div>
	<div class="officetitle">企业照片</div>
	<div class="productskuang">
			<div class="publishFormItems">
				#if($!{uploadedFileList.size()}==0)
                    <font style="color:#AAA">没有照片:(</font>
				#else
    				#foreach($!list in $!{uploadedFileList})
    					<img title="$!{list.remark}" src="$!{address.resource}/$!{list.filepath}/$!{list.filename}" border="0" width="100" height="100" style="border:1px solid #CCC; margin:4px;"/>
					#end
				#end
			</div>
			<div class="publishFormSub">
				<a href="#springUrl('/mycompany/updateImg.htm')" class="buttonMax">查看和上传更多图片</a>
			</div>
	</div>
</div>