#set($layout="/layout/blank.vm")
<script type="text/javascript" src="$!{address.js}/jquery-1.4rc1.js"></script>
<script type="text/javascript" src="$!{address.js}/interface.js"></script>

<script type="text/javascript">
    function onAjaxUpLoad(data) {
		var obj = eval(data);
		jQuery("#filename").val(obj.uploadedFilename);
		jQuery("#filepath").val(obj.path);
		parent.test(data);
	}
</script>
<title>postImg</title>

<script>
function uploadpress(){
	tab.style.display="none"
	tabpress.style.display=""
	form1.submit()
}
</script>
</head>
<body>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" id="tab">
		<form id="form1" name="form1" enctype="multipart/form-data" method="post" action="saveImg.htm">
			<tr>
				<td bgcolor="#FF9900"></td>
				<td height="3" bgcolor="#FF9900">   </td>
			</tr>
			<tr>
				<td bgcolor="#f2f2f2">&nbsp;</td>
				<td height="25" bgcolor="#f2f2f2">上传图片</td>
			</tr>
			<tr>
				<td bgcolor="#FFF5E8">&nbsp;</td>
				<td bgcolor="#FFF5E8">图片说明:<input name="remark" type="text" id="remark" maxlength="20" value="">
                        <span class=s><font color=#999999>(请对图片作简要说明，2-20个字)</font></span> </td>
 			</tr>
			<tr>
				<td bgcolor="#FFF5E8">&nbsp;</td>
				<td >
					<iframe src="#springUrl('/ajaxUpload.htm?&filetype=img&model=')$!{uploadModel}" id="upfile" frameborder="no" scrolling="no" style="width:400px; height:28px;">
					</iframe>
					<input type="hidden" id="filename" name="filename" />
					<input type="hidden" id="filepath" name="filepath" value="">
			    </td>
				<td height="25" bgcolor="#FFF5E8">
					<input type="button" name="Submit" value="确定" onClick="uploadpress()" />
					<input name="m" type="hidden" id="m" value="1">
				</td>
  			</tr>
				<td bgcolor="#FFF5E8">&nbsp;</td>
				<td bgcolor="#FFF5E8">
					<table cellspacing="0" cellpadding="0">
						<img id="show" style="display:none">
							<TR>
								<TD height="22"><strong>
										<font color="#FF6600">提示：</font></strong>所选图片都必须是jpg或gif格式，每张图片的大小不得超过200K
								</TD>
							</TR>
				    </table>
				</td>
		</form>
	</table>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" id="tabpress" style="display:none">
		<tr>
			<td height="95" align="center">正在上传，请稍候...</td>
		</tr>
	</table>
</body>


