#set($layout="/layout/blank.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>废料商情杂志_供求信息|废金属|废塑料|废纸|废橡胶|_$!{address.name}</title>
    <meta content="$!{address.name}的废料商情杂志为您发布最有效最全面的废料供求信息。" name="description" />
    <meta content="再生资源,废料,商情,商情杂志,废料杂志,供求" name="keywords" />
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <link rel="stylesheet" href="$!{address.css}/periodical/style.css" type="text/css" />
</head>

<body>
    <form name="form1" method="post" action="$!{address.server}/periodical/list.htm" id="form1">
		<table border="0" cellpadding="0" cellspacing="0" width="1003">
			<tr>
				<td>
					<img name="index_r1_c1" src="$!{address.images}/periodical/index_r1_c1.jpg" width="1003" height="9" border="0" id="index_r1_c1" alt="" />
				</td>
			</tr>
			<tr>
				<td>
					<table align="left" border="0" cellpadding="0" cellspacing="0" width="1003">
						<tr>
                            <td>
                                <img name="index_r2_c1" src="$!{address.images}/periodical/index_r2_c1.jpg" width="386" height="20" border="0"  id="index_r2_c1" alt="" />
							</td>
                            <td background="$!{address.images}/periodical/index_r2_c4.jpg" width="593" height="20">
                                <marquee direction="left" scrollamount="3">欢迎来到&nbsp;&nbsp;&nbsp;&nbsp;ZZ91.COM-$!{address.name}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;刊登广告信息请拨打热线：0571-56189188</marquee>
                            </td>
							<td>
                                <img name="index_r2_c14" src="$!{address.images}/periodical/index_r2_c14.jpg" width="24" height="20" border="0" id="index_r2_c14" alt="" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="1003">
                        <tr>
                            <td>
                                <img name="index_r3_c1" src="$!{address.images}/periodical/index_r3_c1.jpg" width="425" height="37" border="0"
                                    id="index_r3_c1" alt="" />
                            </td>
                            <td>
								<a href="magazineDetails.aspx?id=225" id="topLink1">
									<img src="$!{address.images}/periodical/index_r3_c5.jpg" width="139" height="37" border="0" id="index_r3_c5"alt="" />
								</a>
                            </td>
                            <td>
                                <img name="index_r3_c6" src="$!{address.images}/periodical/index_r3_c6.jpg" width="30" height="37" border="0"id="index_r3_c6" alt="" />
                            </td>
                            <td>
								<a href="magazineDetails.aspx?id=360" id="topLink2">
									<img src="$!{address.images}/periodical/index_r3_c7.jpg" width="141" height="37" border="0" id="index_r3_c7" alt="" />
								</a>
							</td>
                            <td>
                                <img name="index_r3_c9" src="$!{address.images}/periodical/index_r3_c9.jpg" width="27" height="37" border="0"  id="index_r3_c9" alt="" />
                            </td>
                            <td>
                            	<a href="magazineDetails.aspx?id=228" id="topLink3">
                                <img src="$!{address.images}/periodical/index_r3_c10.jpg" width="139" height="37" border="0" id="index_r3_c10"alt="" />
								</a>
                            </td>
                            <td>
                                <img name="index_r3_c13" src="$!{address.images}/periodical/index_r3_c13.jpg" width="102" height="37" border="0"id="index_r3_c13" alt="" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <img name="index_r4_c1" src="$!{address.images}/periodical/index_r4_c1.jpg" width="1003" height="19" border="0" id="index_r4_c1" alt="" /></td>
            </tr>
            <tr>
                <td>
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="1003">
                        <tr>
                            <td>
                                <img name="index_r5_c1" src="$!{address.images}/periodical/index_r5_c1.jpg" width="386" height="33" border="0"
                                    id="index_r5_c1" alt="" />
							</td>
                            <td background="$!{address.images}/periodical/index_r5_c4.jpg" width="276" height="33">位置：
								<a href="$!{address.server}">中国再生资源交易网</a>>>商情杂志</td>
                            <td>
                                <img name="index_r5_c8" src="$!{address.images}/periodical/index_r5_c8.jpg" width="100" height="33" border="0" id="index_r5_c8" alt="" />
							</td>
                            <td background="$!{address.images}/periodical/index_r5_c10.jpg" width="217" height="33">
							</td>
                            <td>
                                <img name="index_r5_c14" src="$!{address.images}/periodical/index_r5_c14.jpg" width="24" height="33" border="0" id="index_r5_c14" alt="" />
							</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <form id="form1" name="form1" method="post" action="sy.asp">
                            <tr>
                                <td width="110">
                                    <img name="index_r7_c1" src="$!{address.images}/periodical/left_1.jpg" width="110" height="48" border="0" id="index_r7_c1" alt="" />
								</td>
                                <td background="$!{address.images}/periodical/top_d.jpg" bgcolor="#FFF">
                                    <div style="float: right; width: 100%;">
                                        <div id="AspNetPager1" class="pager">
                                         <!--分页-->
                                        </div>
										<span style="margin: 0 10px 0 0; padding: 3px 0 0 0; float: right; color: #FFF;">
											<a href='http://www.zz91.com/cn/publish/sq/resource/ZZ91废料商情_0909.pdf' target='_blank' style='color:yellow;'>
												2009年5月刊免费下载
											</a>
												总条数：<font color="#FF0000"><b>136</b>
												</font>
										</span>
                                    </div>
                                </td>
                                <td width="84">
                                    <img name="index_r7_c11" src="$!{address.images}/periodical/top_right.jpg" width="84" height="48" border="0" id="index_r7_c11" alt="" />
								</td>
                            </tr>
                        </form>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td background="$!{address.images}/periodical/mid_left.jpg" width="72"></td>
                            <td bgcolor="#FFFFFF" align="center">
								#foreach($p in $periodicalList)
                                    <ul id="picList">
                                       <li>
                                        	<a href="$!{address.server}/periodical/details$!{p.id}.htm" target="_blank">
                                                <img src="$!{resourceUrl}/$!{p.previewUrl}/$!{periodicalId}s/$!{p.imageName}" alt="$!{p.imageName}" class="slt" />
                                                <p>$!{p.name}</p>
                                        	</a>
    								  </li>
                                    </ul>
                                 #end
                            </td>
                            <td background="$!{address.images}/periodical/mid_right.jpg" width="52"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" width="100%" align="center" border="0">
                        <tr>
                            <td width="79">
                                <img src="$!{address.images}/periodical/bottom_left.jpg" width="79" height="38" /></td>
                            <td background="$!{address.images}/periodical/bottom_d.jpg" height="38" width="100%"></td>
                            <td width="65">
                                <img src="$!{address.images}/periodical/bottom_right.jpg" width="65" height="38" />
							</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#FFFFFF">
                        <tr>
                            <td>&nbsp;</td>
                            <form name="form3" action="sy.asp">
                                <td bgcolor="#FFFFFF" width="721" height="51">
									<ul id="bList">
										#foreach($one in $!oneCover)
                                	<li><a href="$!{address.server}/periodical/details$!{one.id}.htm">封&#160;&#160;面</a></li>
										#end
										#foreach($back in $!backCover)
                                	<li><a href="$!{address.server}/periodical/details$!{bcak.id}.htm">封&#160;&#160;底</a></li>
									    #end
									   #foreach($two in $!twoCover)
                                	<li><a href="$!{address.server}/periodical/details$!{two.id}.htm">封&#160;&#160;二</a></li>
									   #end
									   #foreach($three in $threeCover)
									<li><a href="$!{address.server}/periodical/details$!{three.id}.htm">封&#160;&#160;三</a></li>
									   #end
									   #foreach($index in $indexList)
									<li><a href="$!{address.server}/periodical/details$!{index.id}.htm">广告索引</a></li>
									   #end
									</ul>
                                <div id="AspNetPager2">
									<!--#pagePlan($pageDTO $totalRecords )
									  #pageBar($totalPages $currentPage "")-->
									  #newPageBar($totalPages $currentPage "")
									<!--分页-->
                                </div>
                                </td>
                            </form>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="1003" height="95">
                    <div class="ztcz_foot">
                        <p>
                            <a href="http://www.zz91.com/about/index.asp" target="_blank">关于我们</a> | 
							<a href="http://www.zz91.com/cn/helpcenter/"target="_blank">新手指南</a> | 
							<a href="http://www.zz91.com/cn/zst_service_new_2.asp" target="_blank">支付方式</a> | 
							<a href="http://www.zz91.com/about/contactus.asp" target="_blank">联系我们</a> | 
							<a href="http://www.zz91.com/webmap.html" target="_blank">网站地图</a>| 
							<a href="http://www.zz91.com/about/linkus.asp" target="_blank">友情链接</a> | 
							<a href="http://www.zz91.com/about/question.asp" target="_blank">建议箱</a> |
                            <script language="javascript" src="http://count12.51yes.com/click.aspx?id=121011663&logo=12"></script>
                        </p>
                        <p>
                            <a href="$!{address.server}">ZZ91.COM-中国再生资源交易网</a> 版权所有</p>
                        <p>地址：浙江省杭州市江干区九盛路9号东方电子商务园A13栋 &nbsp;邮编：310019 &nbsp;客服热线：0571-56611111 &nbsp;56612345 &nbsp;传真：0571-56637777</p>
                    </div>
                </td>
            </tr>
        </table>
        <script language="javascript" src="http://www.zz91.com/cn/publish/GetDissertationCount.asp"></script>
    </form>
</body>
</html>
