#set($layout="/layout/impt.vm")
<style>
	.imptContent {padding:20px;}
	.required {font-weight:bold;color:red;}
	.btn {font-size:18px; font-weight:bold;color:red;}
</style>

<div class="imptContent">
<h3 >ZZ91(公司)信息导入</h3>
	<h4>Excel Index</h4>
<form action="#springUrl('/data/companymake/impt.htm')" enctype="multipart/form-data" method="post" >
	<table border="0" cellpadding="2">
		<tr>
			<th>字段</th>
			<th>excel列（起始0）</th>
			<th>参考列</th>
		</tr>
		<tr>
			<td colspan="4"><hr /></td>
		</tr>
		<tr>
			<td class="required">类别选择</td>
			<td colspan="3">
				<select name="categoryCode">
					<option value="" selected>请选择</option>
					#foreach($l in $list)
        			<option value="$!{l.code}">${l.label}</option>
					#end
        		</select>
			</td>
		</tr>
		<tr>
			<td colspan="4"><hr /></td>
		</tr>
		<tr>
			<td class="required">账户Id</td>
			<td><input type="text" value="3" name="account"/></td>
		</tr>
		<tr>
			<td>公司名称</td>
			<td><input type="text" value="4" name="name"/></td>
		</tr>
		<tr>
			<td>公司介绍</td>
			<td><input type="text" value="11" name="details"/></td>
		</tr>
		<tr>
			<td class="required">采购商</td>
			<td colspan="3">
				<select name="mainBuy">
        			<option value="0" selected>非采购商</option>
        			<option value="1">采购商</option>
        		</select>
			</td>
		</tr>
		<tr>
			<td>主营产品(采购)</td>
			<td><input type="text" value="" name="mainProductBuy"/></td>
			<td></td>
		</tr>
		<tr>
			<td class="required">供应商</td>
			<td colspan="3">
				<select name="mainSupply">
        			<option value="0" selected>非供应商</option>
        			<option value="1">供应商</option>
        		</select>
			</td>
		</tr>
		<tr>
			<td>主营产品(供应)</td>
			<td><input type="text" value="" name="mainProductSupply"/></td>
			<td></td>
		</tr>
		<tr>
			<td>联系人</td>
			<td><input type="text" value="5" name="contact"/></td>
		</tr>
		<!--
		<tr>
			<td>性别</td>
			<td><input type="text" value="" name="sex"/></td>
		</tr>
		-->
		<tr>
			<td>手机</td>
			<td><input type="text" value="7" name="mobile"/></td>
		</tr>
		<tr>
			<td>电话</td>
			<td><input type="text" value="6" name="phone"/></td>
		</tr>
		<tr>
			<td>传真</td>
			<td><input type="text" value="8" name="fax"/></td>
		</tr>
		<tr>
			<td>地址</td>
			<td><input type="text" value="10" name="address"/></td>
		</tr>
		<tr>
			<td>邮编</td>
			<td><input type="text" value="9" name="addressZip"/></td>
		</tr>
		<tr>
			<td colspan="4"><hr /></td>
		</tr>
		#*<tr>
			<td>文件路径</td>
			<td><input type="text" value="xx.xls" name="fileName"/></td>
			<td>格式:必须是以.xls为后缀名的Excel文件</td>
		</tr>
		*#
	</table>
    <h4 >Excel文件</h4>
	<div>
		<input type="file" name="excel" />
	</div>
	<br/>
	<div><input type="submit" id="imptbtn" name="importexcel" value="填写正确，一定要要填写正确（否则后果自负），然后猛击这里！！！" class="btn" /></div>
</form>
</div>
