.surplus{
	display: table;
	width: 100%;
	border-bottom: 1px solid #e1e1e1
}
.surplus-td{
	display: table-cell;
	vertical-align: middle;
	height: 100px;
	text-align: center;
	color: #ff7800
}
.surplus-title{
	font-size: 16px
}
.surplus-moery{
	font-size: 30px;
	margin-top: 16px;
}
.old-buy{
}
.old-buy div{
	border-bottom: 1px solid #e1e1e1;
}
.day-but{
	float: left;
	width: 50%;
	border-right: 1px solid #e1e1e1;
	padding-left: 8px;
	padding-bottom: 8px
}
.mouth-buy{
	float: left;
	width: 50%;
	padding-left: 8px;
	padding-bottom: 8px
}
.old-buy-tg{
	font-size: 14px;
	color: #959595
}
.old-buy-moery{
	font-size: 15px;
	color: #000
}
.buy-list span:first-child{
	float: left;
	padding-left: 8px;
	color: #01ba2e;
	font-size: 16px;
	margin: 10px 0
}
.btn-one{
	color: #ff0000
}

