.type-title{
	text-align: center;
	font-size: 14px;
	color: #010101;
	padding: 10px 0px;
}
.moery-type{
	padding-left:8px;
	overflow: hidden;
}
.moery-type div{
	float: left;
	width: 50%;
	padding-right: 8px;
	margin-bottom: 8px;
}
.moery-type div span{
	display: block;
	background-color: #01ba2e;
	text-align: center;
	color: #fff;
	height: 35px;
	line-height: 35px;
}
.tishi{
	padding:0 8px;
}
.redfont{
	color: #ff0000
}
.give-moery dt{
	color: #959595;
	font-size: 14px;
	padding: 5px 8px;
	border-bottom:1px solid #e1e1e1;
}
.give-moery dd{
	border-bottom:1px solid #e1e1e1;
	padding: 5px 8px;
	font-size: 10px;
}