.back-ul li{
	padding: 8px 8px;
	border-bottom: 1px solid #e1e1e1;
}
.btn{
	padding: 0 10px;
	border-radius: 5px;
	color: #fff;
	background-color: #01aa2a
}
.back-red{
	color: #ff0000;
	margin-left: 10px;
}
.back-ts{
	font-size: 12px;
}
.back-info{
	border:1px solid #e1e1e1;
	background-color: #f2f2f2;
	font-size: 12px;
	padding: 5px 8px;
	margin: 10px 0;
}
.back-time{
	font-size: 12px;
	color: #959595;
	margin-left: 10px;
}


/****shequ-tw.html****/
.back-all{
	font-size: 12px;
	margin-bottom: 8px;
}
.hfts{
	color: #01aa2a;
	margin-left: 10px;
}

.my-hf-info{
	font-size: 12px;
	line-height: 14px;
}
.my-hf-info span{
	color: #959595;
	margin-right: 10px;
	margin-bottom: 5px;
}