


#if($!{massege}=="upgrade")
<a href="/cn/zst_service_new.asp" target="_blank">
	<img src="http://www.zz91.com/cn/infoimages/look.jpg" width="200"  border="0">
</a>
#end

#if($!{showcontact}=="true")
	<div id="contactInformation"></div>
	<input type="button" id="showme" value="查看联系方式" >
#end

