#set($layout="/layout/default.vm")
<div class="header "
	<div  class="header hb_dhwzs">
		<a href="$!{address.www}" target="_blank">首页</a>&gt;
		环保设备库地图
    </div>
	
</div>
<div class="header" style="border:solid 1px #ebeceb;">
		<div class="qydttitle">主要栏目</div>
        <div class="qydt_info">
			<ul>
                <li><a href="$!{address.trade2}" target="_blank">产品首页</a></li>
				<li><a href="$!{address.trade2}/supply" target="_blank">即时供应</a></li>
                <li><a href="$!{address.news}" target="_blank">资讯</a></li>
				<li><a href="$!{address.exhibit}" target="_blank">展会</a></li>
                <li><a href="$!{address.company}" target="_blank">公司库</a></li>
                <li><a href="$!{address.trade}/buy/index.htm" target="_blank">买家中心</a></li>
            </ul>    
            <div class="clear"></div>
        </div>
		<div class="qydttitle">主要行业</div>
        <div class="qydt_info">
            <ul>
                <li><a href="$!{address.trade2}/wushui" target="_blank">污水处理设备</a></li>
            	<li><a href="$!{address.trade2}/yuanshui" target="_blank">原水处理设备</a></li> 
            	<li><a href="$!{address.trade2}/kongqi" target="_blank">空气净化设备</a></li>
            	<li><a href="$!{address.trade2}/cailiao" target="_blank">材料药剂</a></li>
            	<li><a href="$!{address.trade2}/peijian" target="_blank">泵/阀/风机</a></li>
            	<li><a href="$!{address.trade2}/huanwei" target="_blank">环卫设备</a></li>
            	<li><a href="$!{address.trade2}/yiqiyibiao" target="_blank">仪器仪表</a></li>
            	<li><a href="$!{address.trade2}/zonghe" target="_blank">综合设备</a></li>
            </ul> 
            <div class="clear"></div>
        </div>
        <div class="qydttitle">主要产品</div>
		#cacheFragment("$!{address.fragment}/fragment/trade/queryIndexCategory.htm?trs", "", "", "60")
    		<div class="qydt_info">
				#foreach($list1 in $!{supplyCategory})
					<div >
						#foreach($list2 in $!{list1.child})
							<div class="qydt_infodiv">
								<a href="#springUrl('/list')-$!{list2.categoryDomain.id}.htm" target="_blank">
    								$!{list2.categoryDomain.name}
                                </a>
							</div>
							<ul>
							#foreach($list3 in $!{list2.child})
								<li>
                                    <a href="#springUrl('/list')-$!{list3.categoryDomain.id}.htm" title="$!{list3.categoryDomain.name}" target="_blank">#printTitle($!{list3.categoryDomain.name} 10 '')</a>
                                </li>
								
							#end
							</ul>
							<div class="clear"></div>
						#end
                    </div>
				#end
            </div>
		#end
        <div class="qydttitle">行业最新</div>
    	<div class="qydt_info">
			<ul>
			#cacheFragment("$!{address.trade}/getCategory.htm?code=1000&dfin", "", "", "300")
        			#foreach($ct in $!{cglist})
                        <li><a href="#springUrl('/supply/index--')$!{ct.code}.htm" target="_blank">最新$!{ct.name}</a></li>
        			#end
			#end
			</ul> 
            <div class="clear"></div>
        </div>
		
    </div>
</div>
