#set($layout="/layout/defaultS.vm")
<div class="container mt clearfix">
	<div class="grid_12">
        <ul class="breadcrumb">
			<li><a href="#">公司管理</a><span class="divider">/</span></li>
			<li>修改门市部模板</li>
		</ul>
		
		#if($!{msg})
    	<div class="alert alert-info">
        	<a onclick="return false;" target="_blank">$!{msg}</a>
        </div>
		#end
		
		<div class="well mt">
			<div class="well-head">修改门市部模板</div>
			<div class="well-content">
				<div class="control-group" >
					<label class="control-label">当前门市部模板</label>
					<div class="controls">
                          #if("$!{cssStyle}" == "" || "$!{cssStyle}" == "advanced")
                          	<img src="$!{address.img}/huanbao/images/myesite/Tem_01.jpg" width="167" height="113" class="img-polaroid" />
                          #end
                          #if("$!{cssStyle}" == "orange")
                          	<img src="$!{address.img}/huanbao/images/myesite/Tem_02.jpg" width="167" height="113" class="img-polaroid" />
                          #end
                          #if("$!{cssStyle}" == "blue")
                          	<img src="$!{address.img}/huanbao/images/myesite/Tem_03.jpg" width="167" height="113" class="img-polaroid" />
                          #end
                          #if("$!{cssStyle}" == "black")
                          	<img src="$!{address.img}/huanbao/images/myesite/Tem_04.jpg" width="167" height="113" class="img-polaroid" />
                          #end
                          #if("$!{cssStyle}" == "red")
                          	<img src="$!{address.img}/huanbao/images/myesite/Tem_05.jpg" width="167" height="113" class="img-polaroid" />
                          #end
                          #if("$!{cssStyle}" == "purple")
                          	<img src="$!{address.img}/huanbao/images/myesite/Tem_06.jpg" width="167" height="113" class="img-polaroid" />
                          #end
                          #if("$!{cssStyle}" == "bigblue")
                          	<img src="$!{address.img}/huanbao/images/myesite/bigblue.jpg" width="167" height="113" class="img-polaroid" />
                          #end
                          #if("$!{cssStyle}" == "blossoming")
                          	<img src="$!{address.img}/huanbao/images/myesite/blossoming.jpg" width="167" height="113" class="img-polaroid" />
                          #end
                          #if("$!{cssStyle}" == "blueclassic")
                          	<img src="$!{address.img}/huanbao/images/myesite/blueclassic.jpg" width="167" height="113" class="img-polaroid" />
                          #end
                          #if("$!{cssStyle}" == "grain")
                          	<img src="$!{address.img}/huanbao/images/myesite/grain.jpg" width="167" height="113" class="img-polaroid" />
                          #end
                          #if("$!{cssStyle}" == "green")
                          	<img src="$!{address.img}/huanbao/images/myesite/green.jpg" width="167" height="113" class="img-polaroid" />
                          #end
                          #if("$!{cssStyle}" == "landscape")
                          	<img src="$!{address.img}/huanbao/images/myesite/landscape.jpg" width="167" height="113" class="img-polaroid" />
                          #end
                          #if("$!{cssStyle}" == "metal")
                          	<img src="$!{address.img}/huanbao/images/myesite/metal.jpg" width="167" height="113" class="img-polaroid" />
                          #end
                          #if("$!{cssStyle}" == "pinkcharm")
                          	<img src="$!{address.img}/huanbao/images/myesite/pinkcharm.jpg" width="167" height="113" class="img-polaroid" />
                          #end
                          #if("$!{cssStyle}" == "warmyellow")
                          	<img src="$!{address.img}/huanbao/images/myesite/warmyellow.jpg" width="167" height="113" class="img-polaroid" />
                          #end
					</div>
				</div>
				<div class="alert alert-info">友情提示:选择模板后,请点击保存模板按钮保存模板信息</div>
                <form id="styleForm" name="styleForm" method="post" action="#springUrl('/company/doUpdateStyle.htm')">             
				<div class="control-group mt">
					<label class="control-label">其他可选模板</label>
					<div class="controls clearfix">
						<div class="grid_3">	
                            <img src="$!{address.img}/huanbao/images/myesite/Tem_01.jpg" width="167" height="113" class="img-polaroid" />
                            <p>
                                <label for="advanced" class="radio">
                                    <input type="radio" name="type" id="advanced" value="advanced" #if("$!{cssStyle}" == "" || "$!{cssStyle}" == "advanced") checked #end/>
                                选择该模板</label> 
                            </p>
                        </div>                     
						<div class="grid_3">	
							<img src="$!{address.img}/huanbao/images/myesite/Tem_02.jpg" width="167" height="113" class="img-polaroid" />
                            <p>
                                <label for="orange" class="radio">
                                    <input type="radio" name="type" id="orange" value="orange" #if("$!{cssStyle}" == "orange") checked #end />选择该模板
                                </label>
                            </p>                     
						</div>                     
                        <div class="grid_3">    
							<img src="$!{address.img}/huanbao/images/myesite/Tem_03.jpg" width="167" height="113" class="img-polaroid" />
                            <p>
                                <label for="blue" class="radio">
                                    <input type="radio" name="type" id="blue" value="blue" #if("$!{cssStyle}" == "blue") checked #end/>选择该模板
                                </label>
                            </p>                     
						</div>                     
                        <div class="grid_3"> 
							<img src="$!{address.img}/huanbao/images/myesite/Tem_04.jpg" width="167" height="113" class="img-polaroid" />
                            <p>
                                <label for="black" class="radio"><input type="radio" name="type" id="black" value="black" #if("$!{cssStyle}" == "black") checked #end/>选择该模板</label>
                            </p>
                        </div>                     
                        <div class="grid_3">                      
							<img src="$!{address.img}/huanbao/images/myesite/Tem_05.jpg" width="167" height="113" class="img-polaroid" />
                            <p>
                                <label for="red" class="radio">
                                    <input type="radio" id="red" value="red" #if("$!{cssStyle}" == "red") checked #end/>选择该模板
                                </label>
                            </p>
                        </div>                     
                        <div class="grid_3">          
							<img src="$!{address.img}/huanbao/images/myesite/Tem_06.jpg" width="167" height="113" class="img-polaroid" />
                            <p>
                                <label for="purple" class="radio">
                                    <input type="radio" name="type" id="purple" value="purple" #if("$!{cssStyle}" == "purple") checked #end/>选择该模板
                                </label>
                            </p>
                        </div>                     
                        <div class="grid_3">                      
							<img src="$!{address.img}/huanbao/images/myesite/bigblue.jpg" width="167" height="113" class="img-polaroid" />
                            <p>
                                <label for="bigblue" class="radio">
                                    <input type="radio" name="type" id="bigblue" value="bigblue" #if("$!{cssStyle}" == "bigblue") checked #end/>选择该模板
                                </label>
                            </p>
                        </div>                     
                        <div class="grid_3">                      
							<img src="$!{address.img}/huanbao/images/myesite/blossoming.jpg" width="167" height="113" class="img-polaroid" />
                            <p>
                                <label for="blossoming" class="radio">
                                    <input type="radio" name="type" id="blossoming" value="blossoming" #if("$!{cssStyle}" == "blossoming") checked #end/>选择该模板
                                </label>
                            </p>
                        </div>                     
                        <div class="grid_3">                      
							<img src="$!{address.img}/huanbao/images/myesite/blueclassic.jpg" width="167" height="113" class="img-polaroid" />
                            <p>
                                <label for="blueclassic" class="radio">
                                    <input type="radio" name="type" id="blueclassic" value="blueclassic" #if("$!{cssStyle}" == "blueclassic") checked #end/>选择该模板
                                </label>
                            </p>
                        </div>                     
                        <div class="grid_3">                      
							<img src="$!{address.img}/huanbao/images/myesite/grain.jpg" width="167" height="113" class="img-polaroid" />
                            <p>
                                <label for="grain" class="radio">
                                    <input type="radio" name="type" id="grain" value="grain" #if("$!{cssStyle}" == "grain") checked #end/>选择该模板
                                </label>
                            </p>
                        </div>                     
                        <div class="grid_3">                      
							<img src="$!{address.img}/huanbao/images/myesite/green.jpg" width="167" height="113" class="img-polaroid" />
                            <p>
                                <label for="green" class="radio">
                                    <input type="radio" name="type" id="green" value="green" #if("$!{cssStyle}" == "green") checked #end/>选择该模板
                                </label>
                            </p>
                        </div>                     
                        <div class="grid_3">                      
							<img src="$!{address.img}/huanbao/images/myesite/landscape.jpg" width="167" height="113" class="img-polaroid" />
                            <p>
                                <label for="landscape" class="radio">
                                    <input type="radio" name="type" id="landscape" value="landscape" #if("$!{cssStyle}" == "landscape") checked #end/>选择该模板</label>
                            </p>
                        </div>                     
                        <div class="grid_3">                      
							<img src="$!{address.img}/huanbao/images/myesite/metal.jpg" width="167" height="113" class="img-polaroid" />
                            <p>
                                <label for="metal" class="radio">
                                    <input type="radio" name="type" id="metal" value="metal" #if("$!{cssStyle}" == "metal") checked #end/>选择该模板
                                </label>
                            </p>
                        </div>                     
                        <div class="grid_3">                      
							<img src="$!{address.img}/huanbao/images/myesite/pinkcharm.jpg" width="167" height="113" class="img-polaroid" />
                            <p>
                                <label for="pinkcharm" class="radio">
                                    <input type="radio" name="type" id="pinkcharm" value="pinkcharm" #if("$!{cssStyle}" == "pinkcharm") checked #end/>选择该模板
                                </label>
                            </p>
                        </div>                     
                        <div class="grid_3">                      
							<img src="$!{address.img}/huanbao/images/myesite/warmyellow.jpg" width="167" height="113" class="img-polaroid" />
                            <p> 
                                <label for="" class="radio">
                                    <input type="radio" name="type" id="warmyellow" value="warmyellow" #if("$!{cssStyle}" == "warmyellow") checked #end/>选择该模板
                                </label>
                            </p>
                        </div>       
                    </div>
                    <div class="form-actions">
                        <input type="submit" value="保存模板信息"  class="btn btn-primary" />   
                    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function(){
		myrc.select("Js_select");
		myrc.menu(8, 3);
	});
</script>