body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../注册2_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:20px;
    top:29px;
    width:157px;
    height:83px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:157px;
    height:83px;
}

.u1 {
    position:absolute;
    left:2px;
    top:34px;
    width:153px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../注册2_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:194px;
    top:30px;
    width:180px;
    height:80px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u3 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../注册2_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:740px;
    top:78px;
    width:182px;
    height:31px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:188px;
    height:37px;
}

.u5 {
    position:absolute;
    left:2px;
    top:8px;
    width:178px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:324px;
    top:149px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../注册2_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:409px;
    top:149px;
    width:81px;
    height:15px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:87px;
    height:21px;
}

.u8 {
    position:absolute;
    left:2px;
    top:0px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:507px;
    top:149px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:246px;
    top:182px;
    width:601px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../注册2_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:367px;
    top:244px;
    width:279px;
    height:29px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:285px;
    height:35px;
}

.u12 {
    position:absolute;
    left:2px;
    top:6px;
    width:275px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:275px;
    top:251px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../注册2_files/u11_normal.png');
}

.u14_container {
    position:absolute;
    left:367px;
    top:292px;
    width:279px;
    height:29px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:285px;
    height:35px;
}

.u15 {
    position:absolute;
    left:2px;
    top:6px;
    width:275px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../注册2_files/u11_normal.png');
}

.u16_container {
    position:absolute;
    left:367px;
    top:339px;
    width:279px;
    height:29px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:285px;
    height:35px;
}

.u17 {
    position:absolute;
    left:2px;
    top:6px;
    width:275px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:267px;
    top:299px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:275px;
    top:346px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:366px;
    top:636px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21_menu {
    background-image: url('../注册2_files/u21_menu.png');
}

.u21_menu {
    position:absolute;
    left:487px;
    top:633px;
    width:115px;
    height:35px;
}

#u21_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:32px;
}

#u22 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:25px
}

.u23_mouseOver {
    background-image: url('../注册2_files/u23_mouseOver.png');
}

.u23_normal {
    background-image: url('../注册2_files/u23_mouseOver.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:291px;
    top:490px;
    width:59px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../注册2_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:366px;
    top:482px;
    width:280px;
    height:29px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:35px;
}

.u27 {
    position:absolute;
    left:2px;
    top:6px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:897px;
    top:621px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:292px;
    top:531px;
    width:75px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../注册2_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:520px;
    top:526px;
    width:126px;
    height:26px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:32px;
}

.u31 {
    position:absolute;
    left:2px;
    top:5px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../注册2_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:441px;
    top:525px;
    width:50px;
    height:26px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:32px;
}

.u33 {
    position:absolute;
    left:2px;
    top:6px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_line {
    background-image: url('../注册2_files/u34_line.png');
}

.u34_line {
    position:absolute;
    left:0px;
    top:4px;
    width:19px;
    height:3px;
}

.u34 {
    position:absolute;
    left:496px;
    top:534px;
    width:19px;
    height:10px;
    
}

.u35_normal {
    background-image: url('../注册2_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:366px;
    top:525px;
    width:41px;
    height:26px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:32px;
}

.u36 {
    position:absolute;
    left:2px;
    top:6px;
    width:37px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_line {
    background-image: url('../注册2_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:0px;
    top:4px;
    width:19px;
    height:3px;
}

.u37 {
    position:absolute;
    left:414px;
    top:534px;
    width:19px;
    height:10px;
    
}

.u38 {
    position:absolute;
    left:318px;
    top:576px;
    width:75px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../注册2_files/u30_normal.png');
}

.u39_container {
    position:absolute;
    left:520px;
    top:573px;
    width:126px;
    height:26px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:32px;
}

.u40 {
    position:absolute;
    left:2px;
    top:5px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../注册2_files/u32_normal.png');
}

.u41_container {
    position:absolute;
    left:441px;
    top:572px;
    width:50px;
    height:26px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:32px;
}

.u42 {
    position:absolute;
    left:2px;
    top:6px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_line {
    background-image: url('../注册2_files/u43_line.png');
}

.u43_line {
    position:absolute;
    left:0px;
    top:4px;
    width:19px;
    height:3px;
}

.u43 {
    position:absolute;
    left:496px;
    top:581px;
    width:19px;
    height:10px;
    
}

.u44_normal {
    background-image: url('../注册2_files/u35_normal.png');
}

.u44_container {
    position:absolute;
    left:366px;
    top:572px;
    width:41px;
    height:26px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:32px;
}

.u45 {
    position:absolute;
    left:2px;
    top:6px;
    width:37px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_line {
    background-image: url('../注册2_files/u46_line.png');
}

.u46_line {
    position:absolute;
    left:0px;
    top:4px;
    width:19px;
    height:3px;
}

.u46 {
    position:absolute;
    left:414px;
    top:581px;
    width:19px;
    height:10px;
    
}

.u47_line {
    background-image: url('../注册2_files/u47_line.png');
}

.u47_line {
    position:absolute;
    left:0px;
    top:4px;
    width:882px;
    height:3px;
}

.u47 {
    position:absolute;
    left:9px;
    top:672px;
    width:882px;
    height:10px;
    
}

.u48_normal {
    background-image: url('../注册2_files/u11_normal.png');
}

.u48_container {
    position:absolute;
    left:367px;
    top:431px;
    width:279px;
    height:29px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:285px;
    height:35px;
}

.u49 {
    position:absolute;
    left:2px;
    top:6px;
    width:275px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:275px;
    top:390px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:367px;
    top:387px;
    width:112px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u52 {
    position:absolute;
    left:489px;
    top:387px;
    width:86px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:585px;
    top:387px;
    width:93px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54 {
    position:absolute;
    left:275px;
    top:437px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:689px;
    top:387px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u56 {
    position:absolute;
    left:246px;
    top:207px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:897px;
    top:646px;
    width:265px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

