#parse("/common/topBar.vm")
#set($pageName="index")
#parse("/common/menu.vm")

<div class="wrapper site-main clearfix">
	#parse("/common/left.vm")
	<div class="site-right">
			<div class="wrap mt20 about">
				<div class="wt">
					<div class="t">公司介绍</div>
				</div>
				<div class="wc">
					<p>$!{company.introduction}</p>
				</div>
			</div>
			<div class="wrap mt20">
				<div class="wt">
					<div class="t">最新产品信息</div>
				</div>
				<div class="wc clearfix">
					#foreach($obj in $page.records)
						<figure class="plist">
							<a href="productsDetail$!{obj.id}.htm" class="b" title="$!{obj.title}"><img src="$!{address.img}/$!{obj.picCover}" /></a>
							<figcaption><a href="productsDetail$!{obj.id}.htm" title="$!{obj.title}">$!{obj.title}</a></figcaption>
						</figure>
					#end
				</div>
			</div>
			<div class="wrap mt20 msg">
				<div class="wt">
					<div class="t">在线留言</div>
				</div>
				<div class="wc">
					<p></p>
					<a href="liuyan.htm" class="btn_m">点此给我留言</a>
				</div>
			</div>
		</div>
	</div>
</div>