#parse("/common/topBar.vm")
#set($pageName="liuyan")
#parse("/common/menu.vm")

<div class="wrapper site-main clearfix">
	
	## left vm
	#parse("/common/left.vm")
	##

	<div class="site-right">
		<div class="wrap mt20 ms">
			<div class="wt">
				<div class="t">在线留言</div>
			</div>
			#if($result==1)
				<p>
					<span style="color:red">没有登录，无法留言，请登录后再留言</span>
				</p>
			#end
			<div class="wc">
				<form id="form1" name="myrcForm" method="post" action="doLiuyan.htm">
					<p>
						<label for="">您的姓名：</label>
						<input type="text" class="field" />
					</p>
					<p class="pr pos1">
						<label for="">标题：</label>
						<input type="text" name="title" class="field validate[required]" value="$!{title}"/>
					</p>
					<p class="pr">
						<label for="">内容：</label>
						<textarea name="content"  class="validate[required]"></textarea>
					</p>
					<p><input type="submit" value="发送留言" class="btn_s" /></p>
					<input type="hidden" name="cid" value="$!{sessionUser.companyId}" />
					<input type="hidden" name="pid" value="$!{pid}" />
				</form>
			</div>
		</div>
	</div>
</div>
	<script src="$!{address.img}/kl91/js/jquery-1.7.2.min.js"></script>
	<script src="$!{address.img}/kl91/js/validationEngine_kl91.min.js"></script>
	<script src="$!{address.img}/kl91/js/jquery.validationEngine-zh_CN.js"></script>
	<script>
	jQuery("#form1").validationEngine();
	</script>