.top-tell {
	padding: 0px 0px;
	line-height: 25px;
	font-size: 12px;
	position: fixed;
	top:0px;
	width:100%;
	background-color:#f2f2f2;
	z-index: 1000
}
.ftcolor {
	color: #959595;
	
}
.active {
	float: right;
}
.phone {
	position: relative;
	padding-left: 5px;
	float: left;
}
.phone i {
	position: absolute;
	height: 15px;
	width: 15px;
	display: block;
	background-image: url(../image/imageslist.png);
	background-size: 320px;
	background-position: -148px -56px;
	left: 0px;
	top: 5px;
}
.phone span {
	color: #ff0000
}
.nav {
	margin: 0px 8px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-flex-flow: row;
	flex-flow: row;
}
.nav div:nth-child(2) {
	margin: 0 8px
}
.nav div {
	text-align: center;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	background-color: #cccccc;
	font-size: 13px;
}
.nav .now-nav {
	color: #fff;
	background-color: #01ba2e
}
.out-info{
	margin-top: 20px;
}
.out-info li {
	overflow: hidden;
	font-size: 12px;
	position: relative;
}
.out-info .chengjiaoimg{
	position: absolute;
	right:40%;
	bottom: 30px;
}
.info-detail {
	padding: 17px 8px 8px;
}
.info-div {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-flex-flow: row;
	flex-flow: row;
}
.info-div div:nth-child(2) {
	margin: 0 8px
}
.info-div div {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width:50%;
}
.impt-info {
	font-size: 14px;
	color: #01ba2e
}
.handle {
	padding: 0 8px;
	background-color:#f2f2f2;
}
.handle span {
	float: left;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
}
.handle span:last-child {
	background-color: #ff9600;
	color: #fff;
	width:100px;
	float: right;
}
.callphone {
	position: relative;
}
.callphone i {
	position: absolute;
	background-image: url(../image/imageslist.png);
	background-size: 320px;
	background-position: -148px -56px;
	left: 50%;
	top: 50%;
	display: block;
	height: 15px;
	width: 15px;
	margin-top: -7px;
	margin-left: -25px;
}
