<div class="businesscenter_right_title2">
    <h3>名企访谈</h3>
</div>
<div class="businesscenter_right_content2">
	<div style="padding:5px;">
		<div style='float:left;'>
			#set($adsPlacesId=259)
			#showAds($adsList259 $adsPlacesId)
		</div>
		<ul>
		#foreach($mq in $mingqi)
			<li>
				<a href='#if($!{mq.news.goUrl}!="") $!{mq.news.goUrl} #else $!{address.huzhu}/viewReply.htm?postId=$!{mq.news.bbsPostId} #end'class='a1' target='_blank'  title='$!{mq.news.title}'>
					#if($velocityCount>3) 
						[$!{mq.news.label}]$!stringUtils.controlLength($!{mq.news.title},50)
					#else
						[$!{mq.news.label}]$!stringUtils.controlLength($!{mq.news.title},38)
					#end
				</a>
			</li>
		#end
		</ul>
	</div>
	<div style="clear:both"></div>
</div>