<div class="businesscenter_right_title1">
    <h3>最新热门废料资讯</h3>
</div>
<div class="businesscenter_right_content1">
		<div id="topnewsad1" class="topnewsad1">
			##printAds(260 "topnewsad1")
			<img src="http://img1.zz91.com/ads/2009/9/3015373.JPG" alt="$!{tn.title}" ></img>
         </div>
		#cacheFragment("$!{address.fragment}/price/newHotPrice.htm?code=price_comment&size=12" "" "" "")
		 <ul>
		 #foreach($tn in $!{list})
			<li class="liListGreen">
				<a href="$!{address.price}/priceDetails_$!{tn.id}.htm" target="_blank" title=" $!{tn.title}" class='a1'>#printTitle($!{tn.title} 22 "")</a>
			</li>
		 #end
         </ul>
		#end
		 <div style="clear:both"> </div>
      </div>

</div>