#set($layout="/layout/publish.vm")
<!------trade postbuy stptwo mainblock start------>
<div class="hb_mainblock">
    <section class="trade_pstbuytwo_above">
          <header class="fontorange pubsuccess">恭喜您，信息已经发布成功！</header>
          <article class="pstbuytwo_conts_server">
                  <h3 class="tit">作为<a href="$!{address.www}">中国环保网</a>的买家，你可以直接享受以下服务</h3>
                  <p>
						1.<em class="fontorange">发布</em>求购信息，接收卖家报价，掌握生意主动性
						<a href ="#springUrl('/buy/publish_StpOne.htm')" target="_blank" ref="nofollow" class="btn">马上发布</a>
				  </p>
                  <p>
						2.您可以直接<em class="fontorange">查看</em>合适卖家的联系方式，全免费哦
                        <a href="$!{address.www}/trade/buy/list.htm?keywords=$!{keywordsEncode}" ref="nofollow" target="_blank" class="btn">马上搜索</a>
                  <p>
						3.根据您发布的产品信息，系统会定期给你<em class="fontorange">匹配</em>相关的卖家信息
				  </p>
				   
			     <p class="trade_pstbuysp2_bottom">
					<a href="#springUrl("/buy/publish_StpOne.htm")" ref="nofollow" class="trade_pstbuysp2_bbtn">继续发布求购信息</a>
					<a href="#springUrl("/buy/index.htm")" class="trade_pstbuysp2_bmtxt" >管理已发布的信息</a>
				 </p>  
          </article>
    </section>
	
    <section class="trade_pstbuytwo_below">
             <h3 class="tit">今日推荐其他卖家信息</h3>
              <ul> 
               #foreach($supply in $!{newestSupply})
               <li class="trade_pstbuytwo_below_li">
					<table>
						<tr>
							<td class="bkl_01"><a href="$!{address.esite}/detail$!{supply.supply.id}.htm" target="_blank"  class="fontblue">#printTitle($!{supply.supply.title} 22 "")</a></td>
							<td class="bkl_02">$!{supply.supply.province}$!{supply.supply.city}&nbsp</td>
							<td class="bkl_03">$!date.format('yyyy-MM-dd',$!{supply.supply.gmtRefresh})</td>
							<td class="bkl_04"><a href="$!{address.esite}/index$!{supply.supply.cid}.htm" target="_blank"  class="fontblue">$!{supply.comp.name}</a></td>
						</tr>
					</table>
              </li>
			   #end
			   <div class="clear"></div>
             </ul>
    </section>  
  
</div>