<div class="wrap st3 mt">
	 <div class="wt">
		<h3>会展预告</h3>
		<a id="UCDownBlock1_hlHZYG" href="#springUrl('/list')10371002.htm" class="more" target="_blank">更多...</a>
     </div>
	<div class="wc clearfix news">
		<dl class="over">
			<dt><img src="$!{address.img}/zz91/exhibit/images/bo3.gif" />
				#foreach($notice in $!noticeExhibitList)
					#if($velocityCount==1)
					<p><a id="UCDownBlock1_hlHZYGPicName" href="#springUrl('/details')$!{notice.exhibitDO.id}.htm" title="$!{notice.exhibitDO.name}">$!{notice.exhibitDO.name}</a>
					</p>
					#end		
                #end   
			</dt>
			<dd>
            #foreach($notice in $!noticeExhibitList)
                #if($velocityCount==1)
				<p><a href="#springUrl('/details')$!{notice.exhibitDO.id}.htm" target="_blank">$!{notice.exhibitDO.name}</a></p>
				<span>#printTitle($!{notice.exhibitDO.content} 90 "...")</span>
				#end		
            #end
			</dd>
		</dl>
		<ul>
		#foreach($notice in $!noticeExhibitList)
			#if($velocityCount>1)
				<li><a href="#springUrl('/details')$!{notice.exhibitDO.id}.htm" target="_blank" id="hlList" title="$!{notice.exhibitDO.name}">$!{notice.exhibitDO.name}</a>
				</li>			
            #end
        #end
		</ul>
	</div>
</div>