#cacheFragment("$!{address.fragment}/fragment/exhibit/categoryExhibitDtos.htm?categoryCode=10001013&size=5","","","600")
 <article class="borderlightgreen html5radius height margintop8">
      <header><h3 class="et_bg fontlightgreen paddingleft14 html5radius"><a href="#springUrl('/list')10001013.htm" target="_blank">展会资讯</a></h3></header>
      <section>
		
             <figure class="et_section3_r_fig">
             #if($!list.size() > 0)
             #set($topext =${list.get(0)})
                   <script type="text/javascript" src="http://gg.zz91.com/show?p=158"></script>
                   <h4 class="fontlightgreen font14 marginleft8 marginbottom8"><a href="#springUrl('/details')$!{topext.exhibit.id}.htm" target="_blank">#printTitle(${topext.exhibit.name} 22 '')</a></h4>
                   <P class="txtindent marginleft8"><a href="#springUrl('/details')$!{topext.exhibit.id}.htm" class="fontblue" target="_blank">[详细]</a></P>     
                   <div class="clear"></div>
             #end
             </figure>
             <ul class="et_section3_r_ul1">
                #foreach($l in $list)
					#if($velocityCount>1)
						<li><a href="#springUrl('/details')$!{l.exhibit.id}.htm"  target="_blank" title="${l.exhibit.name}">#printTitle(${l.exhibit.name} 20 '')</a></li>
					#end
				#end
             </ul>
      </section>
      <div class="clear"></div>
</article>
#end
