<div class="list-type">
	<a href="shoujian.htm" #if($pageName=="shoujian") class="btn_s3" #else class="btn_s3_grey" #end >收件箱</a>
	<a href="fajian.htm" #if($pageName=="fajian") class="btn_s3" #else class="btn_s3_grey" #end >发件箱</a>
	<a href="huishou.htm" #if($pageName=="huishou") class="btn_s3" #else class="btn_s3_grey" #end >回收站</a>
</div>