
<link rel="shortcut icon" href="$!{address.img}/huanbao/images/logo/favicon.ico">
		
<link rel="stylesheet" href="$!{address.img}/huanbao/css/hb.hack.css?20111012" />
<link rel="stylesheet" href="$!{address.img}/huanbao/css/hb.comm.css?20111012" />
	
<!--[if lt IE 9]>
	<script type="text/javascript" src="$!{address.img}/huanbao/js/global/html5forIE.js"></script>
<![endif]-->

<script src="$!{address.img}/huanbao/js/jquery/jquery-1.6.4.min.js"></script>
<script src="$!{address.img}/lib/asto/asto-all-1.0.0.js"></script>