#set($layout='/layout/trade/detaillayout.vm')
<!------trade buysch last mainblock start------>
<article class="hb_mainblock">
			<div class="buysch_lst_nav">
    		当前位置:<a href="$!{address.www}">环保网</a>
    		&gt;
    		<a href="$!{address.trade}">交易中心</a>
        	&gt;
        	<a href="#springUrl('/trade')/buy/index.htm">买家中心</a>
			&gt <span class="fontorange"><a href="#">$!{buyDto.tradeBuy.title}</a></span>
			</div>
		 <section class="buysch_lst_top bordergrey html5radius">
                  <section class="buysch_lst_top_above">
                          <h1 class="fontbold tit fontorange html5radius"><font color="#262626">$!{buyDto.tradeBuy.title}</font></h1>
						  <div class="pstoferindex_detail">
						  <div class="pstoferindex_detailcon">
													  <div class="pstoferindex_detailconinfo">
                             <div class="buysch_above_m_botom">
                                <ul>
                                     <li><b>采购要求：</b> </li>
                                     <li>$!{buyDto.tradeBuy.details}</li>
                                 </ul>
                             </div>
							 <div class="clear"></div>
						  </div>
							  <div class="pstoferindex_detailconl">
                              <article class="buysch_above_m">
                                    <div class="buysch_above_m_top">
                                         <ul>
                                             <li>求购数量： </li>
                                             <li>$!{buyDto.tradeBuy.quantity} </li>
                                         </ul>
                                         <ul>
                                             <li>数量单位：$!{buyDto.tradeBuy.quantityUntis}</li>
											 <li></li>
                                         </ul>
                                         <ul>
                                             <li>收货地址：</li>
                                             <li>$!{buyDto.provinceName} $!{buyDto.areaName}</li>
                                         </ul>
										 <ul>
                                             <li>期望供应商所在地：</li>
                                             <li>$!{buyDto.supplyAreaName}</li>
                                         </ul>
										 <ul>
                                             <li>发布日期：</li>
                                             <li>#printFragmentDate("yyyy-MM-dd",$!{buyDto.tradeBuy.gmtRefresh})</li>
                                         </ul>
										 <ul>
                                             <li>过期时间：</li>
                                             <li>#printFragmentDate("yyyy-MM-dd",$!{buyDto.tradeBuy.gmtExpired})</li>
                                         </ul>
                                         <div class="clear"></div>
                                    </div>
                              </article>
							  <div class="clear"></div>
							  </div>
							  <div class="pstoferindex_detailconr">
							  <article class="buysch_above_l">
								  <div class="buysch_above_m_center"><div class="pstoferindex_detailconcen"><span class="buysch_m_btn_l"><a href="#messages" >点此留言</a></span><!--<span class="buysch_m_btn_r"><a href="#contact">查看联系方式</a></span>--></div></div>
                              </article>
							  </div>
							  <div class="clear"></div>
						  </div>

						  <div class="clear"></div>
						  </div>
						  <div class="pstoferindex_detailcontel">
						  <article class="buysch_above_r html5radius">
                                       <!--<h3>找设备就用<a href="$!{address.www}/fudus/vpindex.htm" class="fontorange" target="_blank">中环通</a></h3>-->
                                       <div id="contact">
											<ul>
												<li class="pstoferindex_detailtel">
　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　<ul>
	                                                  <li>申请中环通， 可直接查看客户联系方式</li>
	                                                  <li><a href="$!{address.www}/fudus/vpindex.htm" target="_blank"><img src="${address.img}/huanbao/images/trade/post/Dcljzht.jpg" width="100" height="23" /></a></li>
													  <li style="color:#f27800;">中环通热线：0571-56633090 <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2604876159&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2604876159:41" alt="点击这里给我发消息" title="点击这里给我发消息" align="absmiddle"></a></li>
                                                 　　　　　　　　　　　　　　　　　　　　　　　　　</ul>
												</li>
												<li class="pstoferindex_detailtela">
                                                   <ul>
												      <li class="pstoferindex_detailtelb">请点此查看联系方式：</li>
												      <li><div class="pstoferindex_detailtelc"><span class="buysch_m_btn_r"><a href="JavaScript:viewContact($!{buyDto.tradeBuy.cid});" >查看联系方式</a></span></div></li>
												   </ul>
												</li>
												<li class="pstoferindex_detailteld"></li>
											</ul>
											<div class="clear"></div>
                                        </div>
										<div class="clear"></div>
                          </article>
						  <div class="clear"></div>
						  </div>
						  <div class="clear"></div>
                  </section>
                  <div class="clear"></div>
         </section>		 
         <aside class="buysch_lst_botom" id="messages">
                <h3 class="bordergrey">在线留言</h3>
				#if($!{epAuthUser})
					<input type="hidden" id="loginstatus" value="1" />
				#else
					<input type="hidden" id="loginstatus" value="0" />
                #end
				<form id="messageForm" method="post" action="$!{address.myesite}/message/sendInquiry.htm">
                  <div class="buysch_lst_botom_titleform">
						<span class="buysch_lst_form_txt">
							<span class="fontred">* </span><label>标题</label>
						</span>
						<span class="buysch_lst_form_ipt">
							<input type="text" id="title" name="title" value="我对 $!{buyDto.tradeBuy.title} 感兴趣"/>
						</span>
				  </div>
                  <div class="buysch_lst_botom_areaform">
					<label><span class="buysch_lst_form_txt"><span class="fontred">* </span>内容</span><span class="buysch_lst_form_area"><textarea id="details" name="details"></textarea></span></label>
				  </div>
                <div class="buysch_lst_botom_sure">
                    <input type="button" value="确 定" id="sendMsgBtn"/></div>
					<input type="hidden" id="targetId" name="targetId" value="$!{buyDto.tradeBuy.id}" />
					<input type="hidden" id="targetType" name="targetType" value="1" />
					<input type="hidden" id="targetUid" name="targetUid" value="$!{buyDto.tradeBuy.uid}" />
					<input type="hidden" id="targetCid" name="targetCid" value="$!{buyDto.tradeBuy.cid}"/>
					<input type="hidden" id="buyTitle" name="buyTitle" value="$!{buyDto.tradeBuy.title}"/>
					<input type="hidden" name="refurl" value="$!{address.trade}/buy/detail$!{buyDto.tradeBuy.id}.htm" />
            	    <div class="clear"></div>
            	</form>
         </aside>
		 #cacheFragment("$!{address.fragment}/fragment/trade/hotBuy.htm?limit=10", "", "", "600")
         <section class="buysch_lst_mid html5radius bordergrey">
                  <h3 class="html5radius">最新求购信息</h3>
                  <ul class="buysch_lst_mid_ul html5radius bordergrey">
                      <li class="buysch_lst_mid_li lstbg">
                         <ul>
                            <li class="buysch_lstmid_li1">采购产品</li>
                            <li class="buysch_lstmid_li2">采购数量</li>
                            <li class="buysch_lstmid_li3">发布日期</li>
                            <li class="buysch_lstmid_li4">我要联系</li>
                         </ul>
                         <div class="clear"></div>
                      </li>
                         <li class="buysch_lst_mid_li">
						 #foreach($l in $!{list})
                         <ul>
                            <li class="buysch_lstmid_li1"><a href="#springUrl('/trade/buy/detail')$!{l.buy.id}.htm" target="_blank">[采购]$!{l.buy.title}</a></li>
                            <li class="buysch_lstmid_li2">
								#if("$!{l.buy.quantity}" == "" || "$!{l.buy.quantity}"=="0")
									大量
								#else
									$!{l.buy.quantity} $!{l.buy.quantityUntis}
								#end
							</li>
                            <li class="buysch_lstmid_li3">#printFragmentDate("yyyy-MM-dd",$!{l.buy.gmtRefresh})</li>
                            <li class="buysch_lstmid_li4"><a href="JavaScript:viewContact($!{l.buy.cid});" >联系方式</a></li>
                         </ul>                         
                         <div class="clear"></div>
						 #end
                         </li>
						 <div class="clear"></div>
                  </ul>
                  <div class="clear"></div>
         </section>
		 #end
         <footer class="buysch_lst_foot html5radius">
         <form action="list.htm" method="post">
                 <div class="buysch_lst_foot_sch"><span class="buysch_lst_ftsch_l html5radius">求购</span>
					<span class="buysch_lst_foot_input"><input type="text" name="keywords" class="search_input"/></span>
					<span class="buysch_lst_foot_r">
					##<a href="#">搜索</a>
					<input type="submit" value="搜索" />
					</span></div>
		</form>
        </footer>
</article>
<!------trade buysch last mainblock start------>

<div id="divSCA" style="display:none; background-color:#FFF;"> 
	<div style="width:457px;"><img src="${address.img}/huanbao/images/trade/post/detail_07.jpg" width="457" height="230" /></div>
    <div style="width:457px; text-align:center;">
		<a href="$!{address.www}/fudus/vpindex.htm" target="_blank">
    	<img src="${address.img}/huanbao/images/trade/post/detail_10.jpg" width="196" height="34" /></a>&nbsp;&nbsp;
        <a href="#springUrl('/trade')/buy/detail$!{buyDto.tradeBuy.id}.htm#messages">
		<img src="${address.img}/huanbao/images/trade/post/detail_12.jpg" width="196" height="34" id="pigMess" /></a>
	</div>
</div>
<div id="divSCA2" style="display:none; background-color:#FFF;"> 
    <div style='width:457px;'>
        <div style='width:357px; margin:0 auto;'>
           <ul class='buysch_above_r_ul'>
              <li class='buysch_above_r_li'>
                 <ul><li class='buysch_above_r_li_VIPcontent'>公司名称：</li>
					<li id="t_compProfile_name"></li>
                 </ul>
                 <div class='clear'></div>
              </li>
              <li class='buysch_above_r_li'>
                 <ul>
                    <li class='buysch_above_r_li_VIPcontent'>联系人：</li>
                    <li id="t_contacts"></li>
                 </ul>
                 <div class='clear'></div>
              </li>
              <li class='buysch_above_r_li'>
                 <ul>
                    <li class='buysch_above_r_li_VIPcontent'>手机：</li>
                    <li id="t_mobile"></li>
                 </ul>
                 <div class='clear'></div>
              </li>
              <li class='buysch_above_r_li'>
                 <ul>
                    <li class='buysch_above_r_li_VIPcontent'>座机：</li>
                    <li id="t_phone"></li>
                 </ul>
                 <div class='clear'></div>
              </li>
              <li class='buysch_above_r_li'>
                 <ul>
                    <li class='buysch_above_r_li_VIPcontent'>传真：</li>
                    <li id="t_fax"></li>
                 </ul>
                 <div class='clear'></div>
              </li>
           </ul>
        </div>
    </div>
</div>

#parse("/trade/common/footSubnet.vm")

<script type="text/javascript">
	
	if($!{show}==1){
		Asto.util.Message.show({
			msg:"留言成功！",
			autoClose:5000
		});
	}
	jQuery(document).ready(function(){
		jQuery("#sendMsgBtn").click(function(){
			if (jQuery("#title").val()=="") {
        		Asto.util.Message.show({
    				msg:"请输入标题！",
    				autoClose:10000
    			});
    			jQuery("#title").focus();
        	} else if (jQuery("#details").val()==""){
        	    Asto.util.Message.show({
    				msg:"请输入内容！",
    				autoClose:10000
    			});
    			jQuery("#details").focus();
        	} else if(jQuery("#loginstatus").val()!="1"){
    			var loginbox=new Asto.util.PopupBox({
    		  		url:"$!{address.myesite}/common/loginMini.htm",
    		  		destUrl:"$!{address.myesite}/callback/login.htm",
    		  		callbackFn:function(success, data){
    		  			loginbox.close();
    		  			jQuery("#loginstatus").val("1");
    					jQuery("#messageForm").submit();
    		 		},
					modal:true,
    		  		width:510,
    		  		height:400
    	  		});
    		  	loginbox.show();
    		} else {
    			jQuery("#messageForm").submit();
    		}
		});
		
	});
function viewContact(cid) {
	if(jQuery("#loginstatus").val()=="1"){
		jQuery.ajax({
		    url:'#springUrl('/trade/buy/viewBuyContacts.htm')',
		    data:{"cid":cid},
		    cache:false,
		    dataType:"json",
		    type:"get",
			async:false,
		    success:function(req){
		            if(req.success){
						jQuery("#t_compProfile_name").html(req.data.name);
						jQuery("#t_contacts").html(req.data.contacts);
						jQuery("#t_mobile").html(req.data.mobile);
						jQuery("#t_phone").html(req.data.phone);
						jQuery("#t_fax").html(req.data.fax);
                		jQuery("#divSCA2").dialog({
                			width:500,
                			modal:true
                		});
		            } else {
                		jQuery("#divSCA").dialog({
                			width:500,
                			modal:true
                		});
					}
		        },
		    failure:function(){
				hb.util.Message.show({
			        msg:"获取数据失败！",
			        autoClose:10000
				 });
		    }
		});

	} else {
		var loginbox=new Asto.util.PopupBox({
	  		url:"$!{address.myesite}/common/loginMini.htm",
	  		destUrl:"$!{address.myesite}/callback/login.htm",
	  		callbackFn:function(success, data){
	  			loginbox.close();
	  			jQuery("#loginstatus").val("1");
	 		},
			modal:true,
	  		width:510,
	  		height:400
  		});
	  	loginbox.show();
	}
jQuery("#pigMess").click(function(){
	$("#divSCA").dialog("close"); 
})
}
</script>
