#set($layout="/layout/default.vm")
#parse("/common/importValidate.vm")
<table width="1000" border="0" align="center" cellpadding="0"
	cellspacing="0">
	<tr>
		<td width="197" valign="top" bgcolor="#128fc4">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td><img
					src="$!{address.img}/huanbao/images/myesite/cominfotitle.jpg"
					width="197" height="75" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
		</table>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td>
				<div style="padding-left: 20px;">
				<ul>
					<li class="hbnyleft"><a href="#springUrl("/company/updateCompany.htm")">修改基本信息</a></li>
					##<li class="hbnyleft"><a href="#springUrl("/company/updatePhoto.htm")">修改公司形象照片</a></li>
					<li class="hbnylefts"><a href="#springUrl("/company/updateAccount.htm")">修改联系人信息</a></li>
					<li class="hbnyleft"><a href="#springUrl("/company/updatePasswd.htm")">修改密码</a></li>
				</ul>
				</div>
				</td>
			</tr>
		</table>
		</td>
		<td valign="top" class="hbnycon">
		<form id="accountForm" class="margintop8" method="post" action="#springUrl('/company/doAccount.htm')">
		<input id="id" name="id" type="hidden" value="$!{account.id}"/>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td class="hbnytit">修改联系人信息</td>
			</tr>
		</table>
		<table width="100%" border="0" cellpadding="0" cellspacing="0" class="hbnyconinfo">
			<tr>
				<td width="120" align="right"><span>*</span> 联系人姓名：</td>
				<td><input id="name" name="name" type="text" value="$!{account.name}" class="hbnyconinput hbnycontit50 validate[required,maxSize[50]]"/></td>
			</tr>
			<tr>
				<td align="right"><span>*</span> 性别：</td>
				<td><input type="radio" name="sex" value="0" #if($!{account.sex} != 1) checked #end/>先生 <input type="radio" name="sex" value="1" #if($!{account.sex} ==1) checked #end/>女士 </td>
			</tr>
			<tr>
				<td align="right"><span>*</span> 手机：</td>
				<td><input id="mobile" name="mobile" type="text" value="$!{account.mobile}" class="hbnyconinput hbnycontit50 validate[required,custom[mobile]]" /></td>
			</tr>
			<tr>
				<td align="right"><span>*</span> 邮箱：</td>
				<td><input id="email" name="email" readonly="true" type="text" value="$!{account.email}" class="hbnyconinput hbnycontit50 validate[required,custom[email]]" /></td>
			</tr>
			<tr>
				<td align="right"> 座机：</td>
				<td>
            	<input id="phoneCountry" name="phoneCountry" class="hbnyconinput" type="text" value="$!{account.phoneCountry}" size="4" maxlength="2"/>
            	<input id="phoneArea" name="phoneArea" class="hbnyconinput" type="text" value="$!{account.phoneArea}" size="8" maxlength="4"/>
            	<input id="phone" name="phone" type="text" class="hbnyconinput hbnycontit30 validate[maxSize[15],custom[phone]]" value="$!{account.phone}"/>
				</td>
			</tr>
			<tr>
				<td align="right"> 传真：</td>
				<td>
                	<input id="faxCountry" name="faxCountry" class="hbnyconinput" type="text" value="$!{account.faxCountry}"  size="4" maxlength="2"/>
                	<input id="faxArea" name="faxArea" class="hbnyconinput" type="text" value="$!{account.faxArea}" size="8" maxlength="4"/>
                	<input id="fax" name="fax" type="text" class="hbnyconinput hbnycontit30 validate[maxSize[15],custom[number]]" value="$!{account.fax}"/>
				</td>
			</tr>
			<tr>
				<td align="right"> 部门：</td>
				<td><input id="dept" name="dept" type="text" value="$!{account.dept}" class="hbnyconinput hbnycontit50 validate[maxSize[20]]"/></td>
			</tr>
			<tr>
				<td align="right"> QQ：</td>
				<td><input id="contact" name="qq" type="text" value="$!{account.qq}" class="hbnyconinput hbnycontit50 validate[maxSize[20]]"/></td>
			</tr>
			<tr>
				<td align="right"> 其他联系方式：</td>
				<td><input id="contact" name="contact" type="text" value="$!{account.contact}" class="hbnyconinput hbnycontit50 validate[maxSize[30]]"/></td>
			</tr>
			<tr>
				<td align="right"> 职位：</td>
				<td><input id="position" name="position" type="text" value="$!{account.position}" class="hbnyconinput hbnycontit50 validate[maxSize[30]]"/></td>
			</tr>
			<tr>
				<td align="right">&nbsp;</td>
				<td><input type="image" src="$!{address.img}/huanbao/images/myesite/hbmem_22.jpg" width="101" height="34" /></td>
			</tr>
			<tr>
				<td align="right">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</table>
		</form>
		</td>
	</tr>
</table>
<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery("#accountForm").validationEngine("attach");
});
</script>