.menu {
	background:url(../images/aboutus/menuBg.jpg) repeat-x;
	float:left;
	width:958px;
	height:37px;
}
/*----------下拉框样式-------------------------*/
#nav {
	z-index:500;
	font-family:arial, verdana, sans-serif;
	height: 37px;
}
#nav li.top{
	float: left;
	width: 135px;
	text-align: center;
	line-height: 37px;
}
#nav li.top a{
	display:block;
	width: 135px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
#nav li.top a:hover, #nav li.selected{
	display:block;
	color:#fff;
	background-color:#07AA6B;
}
#nav li.iehover{
	background-color: #07AA6B;
}
#nav li#c2.iehover,#nav li:hover#c2{
	background-color: #07AA6B;
}
#nav li#c3.iehover,#nav li:hover#c3{
	background-color: #07AA6B;
}
/* Default list styling */

#nav li:hover {position:relative; z-index:200;}

#nav li:hover ul.sub{
	left:0px;
	top:37px;
	padding:0px;
	white-space:nowrap;
	width:135px;
	height:auto;
	z-index:300;
	background-color: #07AA6B;
	color: #fff;
	filter:alpha(opacity=90);    
     -moz-opacity: 0.9;    
     opacity: 0.9;    
}
#nav li:hover ul.sub a{
	color:#fff;
}
#nav li:hover ul.sub li{
	display:block; 
	height:30px; 
	position:relative; 
	float:left; 
	width:135px; 
	font-weight:normal;
	font-size:14px;
	line-height:30px;

}
#nav li:hover ul.sub li a{
	display:block;
	color:#fff;
	width:135px;
	
}
#nav li:hover ul.sub li a:hover {
	color:#fff;
	background-color: #F38120;
	width:135px;
}
#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul{
	left:135px;
	top:0px;
	padding:3px;
	white-space:nowrap;
	width:135px;
	z-index:400;
	height:auto;
	background-color: #8d181a;
}
#nav ul, 
#nav li:hover ul ul,
#nav li:hover li:hover ul ul,
#nav li:hover li:hover li:hover ul ul,
#nav li:hover li:hover li:hover li:hover ul ul{
	position:absolute; 
	left:-9999px; 
	top:-9999px; 
	list-style:none;
	text-align:center;
}
#nav a.arrow {
	padding-right:2em;
}

.content{
	width:958px;
	font-size:13px;
	border-bottom: 1px solid #E9E9EB;
	background-color: #F8F9FB;
}
.contentLeft{
	width:340px;
	float: left;
	height: 290px;
}
.contentLeft h3, .contentCenter h3, .contentRight h3, .indexFzlc h3{ line-height:28px; background:#ECF1F5 url(../images/aboutus/item.gif) no-repeat 8px center; padding-left:18px; font-size:14px; font-weight:bold; font-family:"微软雅黑"; border-bottom:1px solid #fff;}
.contentMain {
	line-height: 24px;
	margin: 10px 10px 0 10px;
	color: #666;
	text-indent:2em;
}
.contentMain li span{ color:#007EDD;}
.contentCenter {
	width: 295px;
	border-left:1px dotted #C8D4D4;
	border-right:1px dotted #C8D4D4;
	float: left;
	height: 290px;
}
.contentCenter span{ font-weight:bold; color:#01396C; font-family:"微软雅黑"; font-size:13px;}
.contentRight {
	width: 321px;
	float: right;
	height: 290px;
}
.contentRight ul li {
	background:url(../images/aboutus/triangle.gif) no-repeat 8px 7px;
}
.indexFzlc {
	font-size:13px;
	background-color: #f8f9fb;
	border-bottom: 1px solid #D1DDE7;
}
.indexFzlc h3{ border-bottom:none;}
.indexFzlc p.pStyle, .indexFzlc p.pStyle1{ float:left; text-align:center; margin:8px 0;}
.indexFzlc p.pStyle{ width:479px;}
.indexFzlc p.pStyle1{ width:319px;}
.indexFzlc p.pStyle img, .indexFzlc p.pStyle1 img{ margin-bottom:4px;}
.indexFzlc ul{ padding:8px 0;}
.indexFzlc li{ line-height:26px; margin:0 20px 0 30px; color:#666; font-size:13px; background:url(../images/aboutus/bi-triangle.gif) no-repeat left 9px; padding-left:8px;}
.contactIndex{
	color: #666;
	background:#f8f9fb url(../images/aboutus/contact_nei2.jpg) no-repeat right bottom;
}
.contactIndex p{
	margin:10px 0;
	padding-left:30px;
	font-size: 13px;
	line-height: 28px;
}
/*subPage*/
.navigation {
	background: url(../images/aboutus/dhbg.jpg) repeat-x;
	height:26px;
	line-height:26px;
	_height: 18px;
	_padding-top: 8px;
	padding-left: 8px;
	color: #003C6D;
	border-bottom: 1px solid #f2f2f2;
}
.navigation a{ color:#003C6D;}
.navigation img{
	vertical-align:middle;
	margin-top:-4px;
	_margin-top:-1px;
	}  

.subPageContent{
	background:url(../images/aboutus/subPageContentBg.gif) repeat-x left bottom;
	padding-bottom: 15px;
	width: 958px;
	font-size:13px;
}
.subPageContent dl dt {
	border-bottom: 1px dotted #BAC6D8;
	padding-left: 15px;
	font-size: 14px;
	line-height: 30px;
	color: #B81E24;
	font-weight: bold;
	margin-top: 10px;
	background: url(../images/aboutus/sectorIco.gif) no-repeat left center;
}

.subPageContent dl dd {
	font-size: 13px;
	margin-right: 20px;
	margin-left: 20px;
	line-height: 30px;
}
.subPageContent dl dd p{ text-indent:2em;}
.contentText {
	font-size: 13px;
	line-height: 24px;
	margin-top: 10px;
	color: #666;
	padding:0 20px;
}
.contentText h3{ font-size:16px; text-align:center; font-weight:bold;}
.contentText p {
	text-indent: 2em;
}
.contentText ul li {
	margin-left: 26px;
	padding-left:18px;
	background:url(../images/aboutus/bi-triangle.gif) no-repeat left 8px;
}
.contentText p.colStyle{ background:url(../images/aboutus/arrow.gif) no-repeat 2em 5px; padding-left:1.5em; font-weight:bold; color:#f60;}
.contentText .bgStyle{ background-color:#FFFFCC; font-weight:bold; color:#444;}
#form1 p{ color:#005FA9;}
#form1 label{ font-weight:bold; margin-left:50px;}
#form1 .inputStyle{ width:140px; padding:0 5px; color:#f60;}
#form1 .areaStyle{ width:350px; height:100px; margin-bottom:5px; margin-left:50px; overflow-y:hidden; padding:5px; line-height:22px; color:#f60;}
#form1 .submitStyle{ margin-left:50px; }
.subPageContent dl dd ol {
	margin-left: 110px;
}

.subPageContent dl dd ol li {
	list-style-type: decimal;
}
.subPageContent dl dd ul {
	margin-left: 110px;
}

.subPageContent .Img ul li {
	width: 410px;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
	float: left;
}
.subPageContent .Img ul li img {
	border: 1px solid #666;
}
#link-text ul {
	margin-left: 0px;
}
#link-text ul li {
	margin-left: 5px;
	margin-right:5px;
	width:130px;
	float:left;
}
#link-img ul {
	margin-left: 0px;
}
#link-img ul li {
	margin-left: 5px;
	margin-top:3px;
	margin-right:5px;
	margin-bottom:3px;
	width:88px;
	height:31px;
	float:left;
}
#picList li{
	float:left;
}
#picList img{
	border:1px solid #ccc;
	padding:5px;
	margin-left:25px;
	margin-bottom:10px;
}
#jsweb8_cn_left table td {
	background-image:url(../images/aboutus/pic_bg.jpg);
	width:171px;
	height:116px;
}
#jsweb8_cn_left table td a img {
	width:153px;
	height:100px;
	margin-top:2;
	border:none;
	margin-left:-2px;
}
/*友情链接*/
.link_text h3, .link_img h3, .links h3, .link_app h3{ color:#B81E24; font-size:14px; font-weight:bold; border-bottom:1px dotted #BAC6D8; margin-bottom:10px; line-height:30px;}
.link_text li{ float:left; width:161px; height:25px; padding:5px 0; font-size:13px; margin-left:20px;}
.link_img li{ float:left; width:181px; padding:5px 0;  text-align:center;}
.link_text a:hover{ color:#f60; text-decoration:underline;}
.links p span.imgStyle{ float:left; width:150px; text-align:center; font-weight:bold; font-size:14px; color:#f60; font-family:"微软雅黑"; margin-bottom:10px; margin-left:30px;}
.links p span.logo150{ float:left; width:700px; height:50px; font-size:13px; color:#111; line-height:22px; margin-bottom:10px;}
.links input{ width:430px; font-size:12px; color:#666;}
.links .fontColor{ color:#f60; font-size:14px; font-weight:bold;}
.links .paddingStyle44{ padding-left:40px;}
.link_app p{ text-indent:2em; font-size:13px; line-height:25px;}
/*网站地图上*/
#sitemap {
	FONT-SIZE: 13px;
	width:958px;
	font-family:"宋体";
}
#sitemap LI {
	FLOAT: left; PADDING-BOTTOM: 2px; WIDTH: 150px; PADDING-TOP: 2px
}
#sitemap DT {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 3px; WIDTH: 955px; PADDING-TOP: 3px; BACKGROUND-COLOR: #ffedd2
}
#sitemap DD {
	FLOAT: left; PADDING-BOTTOM: 2px; WIDTH: 150px; PADDING-TOP: 2px
}
#sitemap_menu {
	border:1px solid #87cb31;
	background-color:#fff4c8;
	margin-top: 10px;
	float: left;
	padding: 5px;
	width: 946px;
}
.sitemap_menu_body {
	padding-left: 10px
}
.sitemap_menu_body li{ background:url(../images/aboutus/bi-triangle.gif) no-repeat left 6px; padding-left:12px;}
.sitemap_list {
	MARGIN-TOP: 10px;
	FLOAT: left
}
.sitemap_list_body {
	clear: both;
	padding-left: 10px;
	float: left;
	line-height: 22px;
	padding-top: 5px;
	width: 946px;
	font-size: 14px;
	border:1px solid #0CB819;
}
.sitemap_list_body li{ background:url(../images/aboutus/bi-triangle.gif) no-repeat left 9px; padding-left:12px; font-size:13px;}
.sitemap_list_title {
	font-weight: bold; font-size: 14px; width:958px;
}
.sitemap_list_title_text {
 FLOAT: left; WIDTH: 120px;  TEXT-ALIGN: center; font-size:14px; color:#fff; height:24px; line-height:24px; background:url(../images/aboutus/titbg.gif) no-repeat;
}
.sitemap_list_title_text FONT {
	COLOR: #ffffff
}
#sitemap_menu_title {
	PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}

#main_box{ width:1003px; margin:0 auto;}
#left {
	background:url(../images/aboutus/leftBG.jpg) no-repeat;
	float: left;
	height: 1182px;
	width: 278px;
}
#leftnav {
	text-align: right;
	margin-top: 55px;
	font-size:15px;
	font-weight:bold;
	height:130px;
}
#leftnav ul {
	float:right;
	line-height: 200%;
	margin-right:20px;
	display:inline;
	width:220px;
}
#leftnav li {
	width:220px;
	height:36px;
	display:inline;
	float:right;
}
#leftnav a{
	color:#551303;
	}
#leftnav a:hover{
	color:#F00;
	text-decoration:underline;
}
#content {
	width: 1003px;
	height: 1182px;
}
#right {
	float: left;
	width: 725px;
	height: 1182px;
	overflow:hidden;
}
#rsubtop {
	height:35px;
	width:725px;
	float:left;
	line-height:35px;
	background:url(../images/aboutus/rightsubBG.jpg) no-repeat;
}
#rsubtop h2{ font-weight:bolder; font-size:15px; margin-left:55px; }
#rsubright {
	float: right;
}
#leftiframe {
	float: left;
}
.atical{ float:left; text-align:left; margin-left:45px; _margin-left:25px; width:540px;}
.atical h3{ margin-top:20px; color:#553103; font-size:14px; border-bottom:1px solid #553103; font-weight:bold; margin-bottom:10px;}
.atical ul{
	margin-left:25px;}
.atical li{
	line-height:34px;
	width:500px;
	float:left;
}
.atical p{ text-indent:2em; line-height:30px;}
#rubfoot {
	float: left;
}
#flag51{
	background:url(../images/aboutus/button.jpg) no-repeat;
	width:183px;
	height:51px;
	margin:20px 0 20px 60px;
	border:0 none;
	cursor:pointer;
}
.leftcont ul{text-align:left; margin-left:40px; line-height:250%; font-weight:bold; font-size:14px;}
.leftcont ul li.tel{ font-size:12px;}
.leftcont ul li a{ color:#f60;}
.leftcont ul li a:hover{ color:#0CB819; text-decoration:underline;}
.leftcont .imgStyle{ margin-left:35px;}
.listbg{
	float:left;
	width:29px;
	height:16px;
	line-height:16px;
	_line-height:19px;
	color:#fff;
	font-weight:bold;
	font-size:14px;
	padding-top:8px;
	_padding-top:5px;
	padding-left:4px;
	_padding-left:6px;
	background:url(../images/aboutus/imgbg.gif) no-repeat left 7px;
}
.class1{
	float:right;
	width:450px;
}
/*=====*/
/*Lee dialog 1.0 http://www.xij.cn/blog/?p=68*/

#floatBoxBg{display:none;width:100%;height:100%; background:#000; position:absolute;top:0;left:0;}
.floatBox{border:#666 5px solid;width:450px; height:350px;position:absolute;top:30px;left:40%;}
.floatBox .title{height:23px;padding:7px 10px 0;background:#333;color:#fff;}
.floatBox .title h4{float:left;padding:0;margin:0;font-size:14px;line-height:16px;}
.floatBox .title span{float:right;cursor:pointer;}
.floatBox .content{padding:0 15px;background:#fff; width:420px; height:320px;}
