@charset "utf-8";
/* CSS Document */
/***pinpai****/
#top{ width:958px;}
#top span.logo{ width:350px; height:78px; float:left;}
#top span.logo1{ width:608px; height:78px; float:left;}
#menu{ width:898px; padding-left:60px;}
#menu li{ float:left; width:132px; text-align:center; font-size:14px; font-weight:bold; height:30px; line-height:30px; background:url(../../../images/publish/pinpai/t2_b.jpg) no-repeat; margin-right:5px; font-family:"微软雅黑";}
#menu li a{ color:#393939;}
#menu li a:hover, #menu li a.selected{ background:url(../images/publish/pinpai/t2.jpg) no-repeat; color:#FFF; display:block;}
.tit{ width:958px; height:31px; text-align:center; line-height:31px; background:url(../images/publish/pinpai/b.jpg) no-repeat; color:#393939; font-weight:bold; font-size:13px;}
.tit span{ color:#FFF; font-size:13px; font-weight:bold;}
#t1 td{
	font-size:14px;
	text-align:center;
	font-weight:bold;
}
#t1 td a.selected{ color:#FFF;}
.tit{
	font-size:14px;
	font-weight:bold;
}
.tit span{
	color:white;
}
.imgStyle img{
	display:block;
}
body{ font-family:"Microsoft YaHei",Helvetica;}
/******qb css**********/
*,div,table,tr,td,object{
	padding:0px;
	margin:0px;
	border:0px;
	}
.main_box{
	margin:0 auto;
	width:1004px;
	font-size:14px;
	color:#000;
	position:relative;
	}
.hr{margin:0 auto;width:958px;}
p {
	margin: 0 0 5px 0;
}
p.txt_1 {
	margin-top: 0;
	padding: 0;
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
           }
.b1, .b2{
	color: #980104;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	width: 204px;
	line-height: 40px;
	cursor:pointer;
	background: url(../../../images/publish/qd/b1.jpg) no-repeat 0 0;
}
.b2 {
	color: #FDF900;
	background-position: 0 -40px;
}
#folong {
	float: left;
	position: absolute;
	top: 750px;
	left:300px;
	background-color:#FFF; 
	padding-top:10px;
	border:1px solid #ccc;
} 
#flashStyle{position:absolute; left:-200px; top:0px; -top:-200px; width:200px; height:200px;}
#content1, #content2, #content3, #content4{
	font-size: 13px; 
	font-weight: bold; 
	margin-left: 10px; 
	margin-right: 10px;
	text-align:left;
}
#content1 p{ text-indent:2em;line-height: 22px;}
#content2{ line-height: 30px; }
#content3{ line-height: 23px;}
#content4{ line-height: 20px;}
.yellow {color: #FDF900; }
p.txt_3 {
	color:#FDF900;
	font-size: 14px;
	font-weight: bold;
         }
.bigbold {
	font: bold 1.5em Arial, "Trebuchet MS", Tahoma, sans-serif, "宋体";
	color:#000;
	text-align: center;
	margin: 0 0 0 170px;
}
p.txt_2 {
	font: normal 18px Arial, "Trebuchet MS", Tahoma, sans-serif, "宋体";
	color:#000;
	line-height: 1.3em;
}
.STYLE1 {
	font-size: 24px;
	color: #FFFF00;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.style2 {
	color: #FFFFFF;
	font-family: "宋体", "新宋体", "仿宋_GB2312";
	width:400px;
}
#com_CNName, #com_char, #com_contactPerson, #textfield, #com_duty, #com_tel, #com_mobile, #com_fax, #com_add, #com_website, #com_zip, #join_type{ padding:0 5px; border:1px solid #ccc;}
/*******sq css***********/

/*menu start*/	
#menu {
	width:958px;
	margin-top:8px;
	font-family:"微软雅黑";
	}
#menu ul {
	width:550px;
	height:29px;
	margin:0 auto;
	font-size:14px;
	font-weight:bold;
	}
#menu li{
	float:left;
	text-align:center;
	height:29px;
	line-height:29px;
	width:100px;
	margin:0 3px;
	background:url(../images/publish/sq/button.jpg) no-repeat;
	}
#menu li a.selected, #menu li a:hover{
	display:block;
	color:#fff;
	background:url(../images/publish/sq/checkedbutton.gif) no-repeat;
	}
/*menu end*/	
/*index start*/	
#aspnetForm{ padding-left:2px;}
#main {
	width:958px;
}
#mainleft {
	width: 646px;
	float:left;
	height:443px;
	border:1px solid #76c825;
	margin-top:10px;
	display:inline;
}
#leftsubtop {
	background: url(../images/publish/sq/titlebg1.gif) repeat-x;
	height:29px;
	width:644px;
	border:1px solid #A0D76F;
}
#subleft {
	float: left;
	padding:10px 0 10px 10px;
	display:inline;
}
#subright {
	float: left;
	padding-top: 10px;
	padding-left: 20px;
	width:315px;
	display:inline;
	position:relative;
}
#name ul{ 
	border-bottom:1px dashed #333;
	padding-bottom:10px;
}
#name ul li{
	width:300px;
	line-height:26px;
	font-size:14px;
	word-wrap:break-word;
	table-layout:fixed;
	}
#name li span{ font-weight:bold;}
#ctl{
	border-bottom:1px dashed #333;
	height:100px;
	width:300px;
	padding:10px 0;
}
.fleft{
	float:left;
	display:inherit;
	padding-top: 25px;
}
#mltitle1{
	padding-top:10px;
	width:210px; 
	float:left;
	font-weight:bold;
	font-size:14px;
}
#mltitle2{
	padding-top:10px;
	width:180px; 
	float:right;
	font-size:11px;
}
#mltitle2 span{ color:#F00;}
#uping{
	width:191px;
	height:74px;
	margin-top:15px;
	_margin-top:8px;
	background-image:url(../images/publish/sq/upimg.gif);
	background-repeat: no-repeat;
	}
.fleft1{
	float:left;
	display:inherit;
	padding-top: 10px;
}
.fleft1 .buttonStyle{ border:0 none; color:#D04212; float: left; width: 45px; height: 80px; background-color:transparent;}
.fleft1 li{
	line-height:240%;
	font-size:14px;
	}
.fleft1 li a{ color:#015C96;}
#read{
	height:130px; 
	width:300px;
}
#read1 {
	border:1px solid #C6D1A7;
	background-color:#F8FEF0;
	height: 122px;
	*height:72px;
	width: 288px;
    margin:5px 0;
	padding-top:5px;
	padding-left:12px;
}
#read1 h5{ font-weight:bold; font-size:13px;}
#read1 li{ line-height:25px;margin:0 0 10px;}
#read1 li span{ text-decoration:underline;}
#read1 li a{ color:#015C96;}
#read1 li a:hover{ color:#f60; text-decoration:underline;}
#read2{
	position:absolute;
	bottom:2px;
	_bottom:20px;
	right:70px;
	text-align:center;
	}

.input1, .input2{
	background-image:url(../images/publish/sq/button1.gif);
	width:68px;
	height:22px;
	border:0 none;
	cursor:pointer;
	margin-top:13px;
	}
.input2{
	background-position:-68px 0;
	}
#mainright {
	float:left;

	border:1px solid #76c825;
	margin-left:10px;
	margin-top:10px;
	width:288px;
	display:inline;
}
#mainright h3{ 
	font-weight:bold; 
	font-size:14px; 
	color:#FFF; 
	line-height:31px;
	height:31px;
	padding-left:13px;
	position:relative;
	background:url(../images/publish/sq/title.gif) no-repeat; 
}
#mainright h3 span{ 
	font-size:12px; 
	color:#4F4538;  
	font-weight:normal;
	position:absolute;
	right:5px;
	top:0;
}
.righttitle{
	float:right; 
	padding-right:5px;
	padding-top:10px;
	display:inline;
}
#rightsubcontent ul{
	text-align:left;
	padding-left:14px;
	margin-top:10px;
	line-height:21px;
	}
#rightsubcontent li h5{ color:#f60;}
#rightsubcontent li p{ padding-left:12px;}
#content1 {
	width:946px;
	border:1px solid #76c825;
	float:left;
	margin-top:10px;
	display:inline;
}	
#content1 h3{
	height: 31px;
	width: 933px;
	line-height:31px;
	font-size:14px;
	color:#FFF;
	font-weight:bold;
	padding-left:13px;
	background:url(../images/publish/sq/titlebg3.gif) no-repeat;
}
#contentsubcontent .imgStyle{
	float:left;
	width:236px;
	margin-top:20px;
	display:inline;
	height:300px;
	text-align:center;
	}
#contentsubcontent .button{
	margin-top:10px;
	}

#foot {
	height: 186px;
	width:946px;
	border:1px solid #76C825;
	float:left;
	display:inline;
	margin-top:10px;
}
.footimg{
	float:left;
	width:200px;
	margin-top:10px;
	margin-left:2px;
	margin-right:2px;
	display:inline;
	}
/*=====pic scroll setting style========*/
.feature {
	width: 825px;
	position: relative
}
.feature H2 {
	margin: 20px 0px 7px;
	text-align: left;
	text-indent: 10px;
}
#my-glider {
	position: relative;
	padding-top:10px;
}
.scroller {
	overflow: hidden;
	width: 825px;
	margin-top:8px;
	_margin-top:18px;
}
.scroller .content {
	width: 10000px
}
.scroller .section {
	float: left; 
	overflow: hidden; 
	width: 825px; 
	white-space: nowrap;  
	text-align: center
}
.scroller .section .imgStyle{
	float:left; 
	width:200px;
	margin-left:6px;
	display:inline;
	text-align:center;
	height:150px;
}
#prevLink, #nextLink {
	display: block;
	overflow: hidden;
	text-indent: -99999px;
	position: absolute;
	background-image: url(../images/publish/sq/bleft.gif);
	background-repeat: no-repeat;
	cursor:pointer;
	height:151px;
	width:34px;
	top:18px; 
	margin-left:-40px;
}
#nextLink {
	margin-right:-45px;
	background-position:-34px 0;
}
#prevLink { left: 0;}
#nextLink { right: 0;}
/*index end*/
#tableBox{ margin:8px auto 0 auto; text-align:center;}
#tableBox h3{ font-weight:bold; line-height:30px; font-size:14px;}
#tableBox #tableStyle{ margin:0 auto;}
#tableStyle th{ color:#f60; font-weight:bold; text-align:center; height:25px; line-height:25px;}
#tableStyle td{ color:#333; height:25px; line-height:25px;}
.style1{
    width: 115px;
	height:30px;
	text-align:right;
	padding-right:5px;
    }
.style1 label{ text-align:right;}
.style2{ padding-left:5px;}
.style2 input{ padding:0 5px; width:115px; height:20px; line-height:20px; border:1px solid #C9C4A8;}
.fxfs{ text-align:center;}
.fxfs img{margin:auto;}

/******zz91fax*******/
/****zz91index.css****/
.main_box{ font-family:Tahoma,"宋体";}
#nav{ width:958px; height:28px; background-color:#F0F9E8; border-bottom:10px solid #87CB31;margin:auto;}
#nav ul{ width:500px; margin:0 auto;}
#nav li{ width:100px; float:left; line-height:28px; text-align:center; font-size:14px; font-weight:bold;}
#nav li a.selected{ color:#009240;}
#main{ width:958px; height:auto; background-color:#F0F9E8;margin:auto;}
#main .mainLeft{ float:left; width:750px; text-align:center; line-height:25px; background-color:#F0F9E8; padding-bottom:8px;}
.mainLeft .mainLeftInfo{ width:700px; margin:0 auto;}
.mainLeft h3{ font-size:14px; font-weight:bold; line-height:30px;}
.mainLeft .tit{ font-size:14px; font-weight:bold; color:#f60; padding-left:20px;}
.mainLeft .tit span{ color:#fff;}
.mainLeft .fontCol{ color:#f00; padding-left:5px;}
.mainLeft p{ padding-left:5px;}
.mainLeft p a{ color:#009240;}
.mainLeft p a:hover{ color:#f60;}
.mainLeft ul li{ margin-left:20px; line-height:25px;}
.mainLeft .mainLeftCont{ text-align:left; width:600px; margin:0 auto; font-size:13px;}
.mainLeft .mainLeftCont p{ line-height:25px; margin:10px 0;}
.mainLeft .mainLeftCont p span{ font-weight:bold; display:block; padding-left:10px; color:#f60;}
h4{ font-weight:bold; line-height:35px;}
h5{ margin-left:8px; line-height:30px;}
.textareaStyle{ width:290px; height:80px; padding:5px; line-height:20px; overflow-y:hidden;}
#contactName, #mobileOrFax, #tel,#comName, #address{ padding:0 5px; margin-left:10px; border:solid 1px green;}
#main .mainRight{ float:left; width:180px; margin-left:8px; padding-left:9px; padding-right:10px; padding-bottom:8px;}
.mainRight ul{ border:1px solid #88CB30; text-align:center; border-top:none; width:179px; padding-bottom:8px; background-color:#fff;}
/*********hqbj.css**********/
table.bjhq {
	margin:0 auto;
	padding:0;
	font:normal 12px Verdana, Arial, Helvetica, sans-serif;
	color:#000;
	line-height:1.4em;
	width:958px; 	
	}
a {text-decoration:none;color:#000;}
table.biaodan {
	width:300px;
	margin:0 auto;
	padding:0;
	}
table.biaodan td.left {
	width:100px;
	font-size:16px;
	font-weight:bold;
	margin:0 auto;
	padding:0;
	text-align:center;
	line-height:20px;
	height:30px;
	}
table.biaodan td.right {
	width:150px;
	margin:0;
	padding:0;
	height:30px;
	}
img {border:0;}
td img {display: block;}