@charset "utf-8";
/* CSS Document */
#sitemap {
	font-size: 12px;
}
#sitemap li{
	float: left;
	width: 150px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#sitemap dt {
	float: left;
	padding-top: 3px;
	font-weight: bold;
	padding-bottom: 3px;
	padding-left: 10px;
	margin-bottom:3px;
	width: 910px;
	border-bottom:1px dotted #ccc;
	background:url(../../images/daohang/icon.gif) no-repeat left center;
}
#sitemap dt h3{ font-weight:bold; font-size:13px;}
#sitemap dt a{ color:#f60;}
#sitemap dt a:hover{ color:#0CB819;}
#sitemap dd {
	float: left;
	width: 150px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#sitemap_menu {
	float: left;
	margin-top: 10px;
	border: 1px solid #87CB31;
	width: 970px;
	background-color: #FFF4C8;
	padding: 5px;
}
.sitemap_menu_body {
	padding-left: 10px;
}
.sitemap_list {
	margin-top: 8px;
	float:left;
	width:958px;
}
.sitemap_list_body {
	padding-left: 20px;
	padding-top: 5px;
	border: 1px solid #0CB819;
	clear: both;
	float: left;
	width: 936px;
	line-height: 22px;
}
.sitemap_list_title {
	font-size: 14px;
	font-weight: bold;
}
.sitemap_list_title_text {
	text-align: center;
	float: left;
	width: 120px;
	font-weight:bold;
	color:#FFF;
	height:24px;
	line-height:24px;
	background:url(../../images/daohang/titbg.gif) no-repeat;
}
.sitemap_list_title_text font{
    color:#FFFFFF;
}
h1{
    color:#FFFFFF;
	font-size:18px;
}
#sitemap_menu_title {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
