#set($layout="/layout/fdefault.vm")
<div class="fdsmbk">
  <div id="fdpic">
  <div id="infdpic">
      <div id="fdpic1">
	       <script type="text/javascript" src="http://gg.zz91.com/show?p=240"></script>
	  </div>
    <div id="fdpic2"></div>
  </div>
</div>
  <div class="absi_hity dev_border">
             <h3 class="h3bar">发展历程</h3>
             <ul>
             <li>
                <strong>2007年6月</strong>ZZ91.COM推出环保栏目
             </li>
              <li>
                <strong>2008年9月</strong>ZZ91.COM推出环保频道,huanbao.zz91.com
             </li>
              <li>
                <strong>2009年5月</strong>推出“中环通”高级会员服务。
              </li>
              <li>
                <strong>2009年11月</strong> 推出《中国环保商家大黄页》
             </li>
              <li>
                <strong>2010年4月</strong>推出“品牌通服务”
             </li>
              <li>
                <strong>2010年7月</strong>杭州市委书记考察期间给出独立运营环保网的想法，开始独立全新平台运营的操作过程中。
             </li>
              <li>
                <strong>2010年9月</strong>“环保汇”线下活动。
             </li>
              <li>
                <strong>2011年7月</strong>环保行业顶级域名：www.huanbao.com所有权转让成功。
             </li>
              <li>
                <strong>2011年11月</strong>www.huanbao.com（中国环保网）正式上线运营。
             </li>
             </ul>
        </div>
    </div>
  <script type="text/javascript" >
			hbimgstrol("fdpic","fdpic1","fdpic2");
  </script>