#set($layout="/layout/fdefault.vm")
<div class="fdsmbk">
  <div id="fdpic">
  <div id="infdpic">
      <div id="fdpic1">
	       <script type="text/javascript" src="http://gg.zz91.com/show?p=240"></script>
	  </div>
    <div id="fdpic2"></div>
  </div>
  </div>
        <div class="absidx_cpfo">
            <div class="cpfo_l">
                 <h4 class="h3bar">公司简介</h4>
                 <P> 杭州阿思拓信息科技有限公司【简称ASTO】成立于2005年，致力于成为我国资源再生、新能源、节能减排等低碳环保经济领域的具有影响力的信服务供应商。ASTO是浙江省国家级高新技术企业，浙江省软件企业，杭州2010年雏鹰计划重点培育企业，杭州2009年科技创业种子资金支助企业，杭州2009年留学归国人员创业重点支助企业，2010年江干区双十佳最佳成长型企业。</P>
            </div>
            <div class="cpfo_m">
                 <h4 class="h3bar">企业文化</h4>
                   <div class="cpfo_md">
                      <span class="fontorange">中国环保网运营使命：</span>
                      <p>致力于推动中国乃至全球再生环保行业中小企业的成长与发展。</p>
                      <span class="fontorange">ASTO人才发展使命：</span>
                      <p>ASTO-阿思拓致力于成为生产优秀人才的机器。</p>
                      <span class="fontorange">ASTO价值观：</span>
                      <p>简单、勤奋、开放、担当、主动、快速、严谨</p>
                   </div>
              </div>
			#cacheFragment("$!{address.fragment}/fragment/company/newestCompNews.htm?size=8", "", "", "600")
            <div class="cpfo_r">
                 <h4 class="h3bar">最新动态</h4>
                 <ul>
                         #foreach($!l in ${list})
							<li><a href="$!{address.news}/details${l.id}.htm" target="_blank" title="${l.title}">#printTitle(${l.title} 20 "")</a></li>
						 #end 
                        <div class="clear"></div>     
                 </ul>
            </div>
			#end
              <div class="clear"></div>  
        </div>
		<div class="absi_hity">
			<h3 class="h3bar">发展历程</h3>
			<ul>
				<li>
					<strong>2007年6月</strong>ZZ91.COM推出环保栏目
				</li>
				<li>
					<strong>2008年9月</strong>ZZ91.COM推出环保频道,huanbao.zz91.com
				</li>
				<li>
					<strong>2009年5月</strong>推出“中环通”高级会员服务。
				</li>
				<li>
					<strong>2009年11月</strong> 推出《中国环保商家大黄页》
				</li>
				<li>
					<strong>2010年4月</strong>推出“品牌通服务”
				</li>
				<li>
					<strong>2010年7月</strong>杭州市委书记考察期间给出独立运营环保网的想法，开始独立全新平台运营的操作过程中。
				</li>
				<li>
					<strong>2010年9月</strong>“环保汇”线下活动。
				</li>
				<li>
					<strong>2011年7月</strong>环保行业顶级域名：www.huanbao.com所有权转让成功。
				</li>
				<li>
					<strong>2011年11月</strong>www.huanbao.com（中国环保网）正式上线运营。
				</li>
				<li>
					<strong>2012年</strong>网站会员数突破20万
				</li>
				<li>
					<strong>2012年</strong>网站会员数突破20万
				</li>
				<li>
					<strong>2013年</strong>中国环保网与宜兴环保城达成合作
				</li>
				<li>
					<strong>2014年</strong>中国环保网与环博会达成战略合作
				</li>
			</ul>
        </div>
        <div class="adsidx_pic">
             <h3 class="h3bar">领导视察</h3>
             <div class="absidx_pp">
                 <div class="absidx_pl">
                     <ul>
                         <li>
                             <dl>
                                 <dt><img src="$!{address.img}/huanbao/images/ads/fudus/abuscjy.gif" alt="杭州市领导" title="杭州市领导"/></dt>
                                 <dd>江干区副书记蔡建云来公司视察</dd>
                             </dl>
                         </li>
                         <li>
                             <dl>
                                 <dt><img src="$!{address.img}/huanbao/images/ads/fudus/abussjp.gif" alt="杭州市领导" title="杭州市领导"/></dt>
                                 <dd>江干区统计局局长沈建平来公司视察</dd>
                             </dl>
                         </li>
                     </ul>
                 </div>
                 <ul class="absidx_pm">
                      <li>
                         <dl>
                            <dt><img src="$!{address.img}/huanbao/images/ads/fudus/abushkm.gif" alt="杭州市领导" title="杭州市领导"/> </dt>
                            <dd>杭州市委书记黄坤明来公司视察</dd>
                         </dl>
                      </li>
                        <li>
                         <dl>
                            <dt><img src="$!{address.img}/huanbao/images/ads/fudus/abusym.gif" alt="杭州市领导" title="杭州市领导"/> </dt>
                            <dd>杭州市委副书记叶明莅临指导</dd>
                         </dl>
                      </li>
                 </ul>
                <div class="absidx_pr">
                     <ul>
                         <li>
                             <dl>
                                 <dt><img src="$!{address.img}/huanbao/images/ads/fudus/abustl.gif" alt="杭州市领导" title="杭州市领导"/></dt>
                                 <dd>铜陵市领导莅临</dd>
                             </dl>
                         </li>
                         <li>
                             <dl>
                                 <dt><img src="$!{address.img}/huanbao/images/ads/fudus/abuszy.gif" alt="杭州市领导" title="杭州市领导"/></dt>
                                 <dd>政研室副主任来访</dd>
                             </dl>
                         </li>
                         <div class="clear"></div>
                     </ul>
                 </div>
             </div>
             <div class="clear"></div>
        </div>
        <div class="absinx_btm">
            <h3 class="h3bar">联系方式</h3>
            <p>【公司地址】浙江省杭州市江干区九盛路9号东方电子商务园A13栋 邮编：310019 传真：0571-56637777
                <br/>
               【客服中心】电话：0571-56633090（总机） E-mail：kefu@asto-inc.com
                <br/>
               【招贤纳才】电话：0571-56610011（总机） E-mail: hr@asto-inc.com</p>
               <div class="abs_leave"><a href="http://wpa.qq.com/msgrd?v=3&uin=2604876159&site=qq&menu=yes"><img src="$!{address.img}/huanbao/images/fudus/fundQQ.gif" alt="点击我咨询" title="点击我咨询"/></a><a href="$!{address.www}/fudus/leaveMsg.htm" ref="nofollow"><img src="$!{address.img}/huanbao/images/fudus/fundlms.gif" alt="您可以点此留言" title="您可以点此留言"/></a></div>
               <div class="absidx_ser"><a href="#this"><img src="$!{address.img}/huanbao/images/fudus/funduser.gif" alt="阿斯拓客服" title="阿斯拓客服"/></a></div>
               <div class="clear"></div>
       </div>
       <div class="clear"></div>
  </div>
  <script type="text/javascript" >
			hbimgstrol("fdpic","fdpic1","fdpic2");
  </script>