#set($layout="/layout/fdefault.vm")
<div class="fdsmbk">
  <div id="fdpic">
  <div id="infdpic">
      <div id="fdpic1">
	       <script type="text/javascript" src="http://gg.zz91.com/show?p=240"></script>
	  </div>
    <div id="fdpic2"></div>
  </div>
</div>
  <div class="absinx_btm">
            <h3 class="h3bar">联系方式</h3>
            <p>【公司地址】浙江省杭州市江干区九盛路9号东方电子商务园A13栋 邮编：310019 传真：0571-56637777
                <br/>
               【客服中心】电话：0571-56633090（总机） E-mail：kefu@asto-inc.com
               <br/>
               【招贤纳才】电话：0571-56610011（总机） E-mail: hr@asto.com.cn  </p>
               <div class="abs_leave"><a href="http://wpa.qq.com/msgrd?v=3&uin=2604876159&site=qq&menu=yes"><img src="$!{address.img}/huanbao/images/fudus/fundQQ.gif" alt="点击我咨询" title="点击我咨询"/></a>
				                      <a hre="$!{address.www}/fudus/leaveMsg.htm" ref="nofollow"><img src="$!{address.img}/huanbao/images/fudus/fundlms.gif" alt="您可以点此留言" title="您可以点此留言"/></a>
			   </div>
               <div class="absidx_ser"><img src="$!{address.img}/huanbao/images/fudus/funduser.gif" alt="阿斯拓客服" title="阿斯拓客服"/></div>
               <div class="clear"></div>
       </div>
       <div class="clear"></div>
  </div>
  <script type="text/javascript" >
			hbimgstrol("fdpic","fdpic1","fdpic2");
  </script>