#set($layout="/layout/fdefault.vm")
<div class="fdsmbk">
  <div id="fdpic">
  <div id="infdpic">
      <div id="fdpic1">
	       <script type="text/javascript" src="http://gg.zz91.com/show?p=240"></script>
	  </div>
    <div id="fdpic2"></div>
  </div>
  </div>
<div class="fdsmbk_hp">
        	<h3>建议箱</h3>
            <p class="fdsmbk_p1">谢谢您对我们网站的支持，如果您对我们网站有什么意见和建议，您可以填写下面的表单将您要反馈的信息告诉我们。为了更清楚的了解您要反馈的信息，请您详细填写下面的表单,或者您也可以直接打电话和我们联系。</p>
            <p class="fdsmbk_p2">再次谢谢您对我们网站的支持！</p>
</div>
<form method="get" id="customForm" action="" class="customForm" name="tableForm" onsubmit="return checkly()">
        <div class="fdsmbk_table">
        	<div class="fd_name">
                <div class="cl1">您的姓名：</div>
                <div class="cl2"><input id="name" type="text" class="fdinput" name="" /></div>
                <div class="cl3"><span id="error_name"></span></div>
                <div class="clear"></div>
            </div>
            <div class="fd_name">
                <div class="cl1">您的邮箱：</div>
                <div class="cl2"><input id="email" type="text" class="fdinput" name="" value="" /></div>
                <div class="cl3"><span id="error_email"></span></div>
                <div class="clear"></div>
            </div>
            <div class="fd_name">
                <div class="cl1">留言主题：</div>
                <div class="cl2"><input id="theme" type="text" class="fdinput" name="" /></div>
                <div class="cl3"><span id="error_theme"></span></div>
                <div class="clear"></div>
            </div>
            <div class="fd_name">
                <div class="cl1 fdneir">详细内容：</div>
                <div class="cl2 detail"><textarea id="detail" type="text" class="fdinput fd_nr" name="" value="" ></textarea></div>
                <div class="cl3"><span id="error_detail"></span></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="fdsub"><input id="" type="submit" class="fd_tj" name="" value="" /></div>
        </div>
        </form>
</div>    
<script type="text/javascript" >
	hbimgstrol("fdpic","fdpic1","fdpic2");
 </script>