#set($layout="/layout/fdefault.vm")
<form method="get" id="putacleForm" action="#this" class="customForm" name="tableForm" >
  <div class="fdsmbk hb_fdmain">
  		<div class="fd_name">
            <div class="cl1"><em class="xinghao">*</em><label for="name">姓名：</label></div>
            <div class="cl2"><input id="name" type="text" class="fdinput" name="pname" /></div>
            <div class="clear"></div>
        </div>
        <div class="fd_name">
            <div class="cl1"><em class="xinghao">*</em><label for="tel">联系电话：</label></div>
            <div class="cl2"><input id="tel" type="text" class="fdinput" name="ptel" /></div>
            <div class="clear"></div>
        </div>
        <div class="fd_name">
            <div class="cl1"><em class="xinghao">*</em><label for="email">电子邮箱：</label></div>
            <div class="cl2"><input id="email" type="text" class="fdinput" name="pemail" value="" /></div>
            <div class="clear"></div>
        </div>
        <div class="fd_name">
            <div class="cl1">投稿栏目：</div>
            <div class="cl2"><select id="lm" class="fdselect">
                                <option value="环保新闻">环保新闻</option>
                                <option value="新闻环保">新闻环保</option>
    			 			 </select>
                             
            </div>
            <div class="clear"></div>
        </div>
        <div class="fd_name">
            <div class="cl1"><em class="xinghao">*</em><label for="title">标题：</label></div>
            <div class="cl2"><input id="title" type="text" class="fdinput" name="ptitle" value="" /></div>          
            <div class="clear"></div>
        </div>
   		<div class="fd_name">
    		<div class="cl1 fdneir"><em class="xinghao">*</em><label for="detail">内容：</label></div>
            <div class="cl2"><textarea id="detail" type="text" class="fdinput fd_nr" name="pconts" value="" ></textarea></div>
            <div class="clear"></div>
        </div>
    	<div class="fd_name">
     		<div class="fdcheckbox"><input id="agree" type="checkbox" class="checkbox" name="pread" checked="checked"/>我已看过并同意<a href="#" class="fontorange" id="readTxt">《投稿说明》</a></div>
        </div>
        <div class="fd_name">
     		<div class="fdsub"><button  type="submit" class="fd_tj"></button></div>
        </div>
             <div class="clear"></div>
        </div>
       
  </div>
  </form>
  <div class="fvp_stxt" id="hbtreaty">
     <h3>投稿说明</h3> 
     <a href="#" class="simplemodal-close" title="关闭" alt="关闭"></a>
      <div class="fd_tgcontenth">
        <ol>
          <li>1、请在投稿时注明真是个人信息及联系方式。</li>
          <li>2、中国环保网暂时没有实行稿费制。</li>
        </ol>
       <h4>用高标准：</h4> 
       <ol>
          <li>1、内容真实。有恶意编造新闻、虚构情节、剽窃行为的，警察似的相关通讯员一律进入”黑名单“。所引发的法律和经济责任，
              由通讯员承担。
          </li>
          <li>2、讲究实效，原则上必须是3天以内的新闻。</li>
          <li>3、新闻要素齐全、准确，新闻点突出，行文简洁。</li>
          <li>4、新闻要素齐全、准确，新闻点突出，行文简洁。</li>
          <li>5、新闻要素齐全、准确，新闻点突出，行文简洁。</li>
        </ol>
      </div>
      <div class="fvpbtn"> <a class="simplemodal-close">阅读完毕，关闭窗口</a></div>
  </div>
<script src="$!{address.img}/huanbao/js/jquery/jquery.validate.js"></script>
<script src="$!{address.img}/huanbao/js/jquery/jquery.simplemodal.js"></script>
<script language="javascript" type="text/javascript">
  formValid('#vpapplyForm');
jQuery(document).ready(function () {
	jQuery('#readTxt').click(function (e) {
		e.preventDefault();
		jQuery('#hbtreaty').modal();
	});
});
</script>