#set($layout="/layout/vpdefault.vm")
<div class="fdsmbk">
        <div class="fvpslide" id="fdsslide">
                 <div class="toggleImg">
                        <a href="$!{address.www}/fudus/vpindex.htm" target="_blank"><img src="$!{address.img}/huanbao/images/ads/fudus/vpiads001.jpg"  alt="什么是中环通" title="什么是中环通"/></a>
                        <a href="$!{address.www}/fudus/vpindex.htm" target="_blank"><img src="$!{address.img}/huanbao/images/ads/fudus/vpiads002.jpg"  alt="为什么要选择中环通" title="为什么要选择中环通"/></a>
                        <a href="$!{address.www}/fudus/vpapply.htm" target="_blank"><img src="$!{address.img}/huanbao/images/ads/fudus/vpiads003.jpg"  alt="如何办理中环通" title="如何办理中环通"/></a>
                 </div>
                 <div class="toggleBtn"></div>
         </div>
         <div class="fvpbody">
		 <div><img src="$!{address.img}/huanbao/images/fudus/vphuanbaoshangpu.jpg" width="780" height="224" border="0" /></div>
		 <div class="fvpbrandinfo">
              <span style="font-size:14px; font-weight:bold;">五.环保商铺</span><br><br>
            <div style="padding-left:20px;">
                                     建立会员网站：网上“商铺”，全面专业的网络推广，您的企业形象陡然树立<br><br>
              <p> <font color="#FF0000">•环保商铺</font><br />
                &nbsp;&nbsp;&nbsp;&nbsp;专业企业网站，全面展示您的公司品牌和产品，五大亮点(全新炫彩门面,随心超大招牌,个性营销模版,百变网站结构,无限存储空间)彰显企业实力，让<br />客户信赖您。<br />
                <font color="#FF0000">•诚信备案</font><br />
                &nbsp;&nbsp;&nbsp;&nbsp;建立诚信备案体系，让客户对你的产品更放心，提升品牌，做生意更安心。<br /></p>
            </div>
		 </div>
</div>
<div class="fvpstp"><img src="$!{address.img}/huanbao/images/fudus/vpguid.gif" /></div>
<script language="javascript" type="text/javascript">
var s = new hb.fudus.slide();
s.fudusslider({conter:"#hbslide",spd:500,intval:5000});
cpistab(".ixml3l",".ixml3r","#newCpy","#niceCpy");
</script>