#set($layout="/layout/vpdefault.vm")
<div class="fdsmbk">
        <div class="fvpslide" id="fdsslide">
                 <div class="toggleImg">
                        <a href="$!{address.www}/fudus/vpindex.htm" target="_blank"><img src="$!{address.img}/huanbao/images/ads/fudus/vpiads001.jpg"  alt="什么是中环通" title="什么是中环通"/></a>
                        <a href="$!{address.www}/fudus/vpindex.htm" target="_blank"><img src="$!{address.img}/huanbao/images/ads/fudus/vpiads002.jpg"  alt="为什么要选择中环通" title="为什么要选择中环通"/></a>
                        <a href="$!{address.www}/fudus/vpapply.htm" target="_blank"><img src="$!{address.img}/huanbao/images/ads/fudus/vpiads003.jpg"  alt="如何办理中环通" title="如何办理中环通"/></a>
                 </div>
                 <div class="toggleBtn"></div>
         </div>
         <div class="fvpbody">
		 <div><img src="$!{address.img}/huanbao/images/fudus/vpmarketing.jpg" width="780" height="224" border="0" /></div>
		 <div class="fvpbrandinfo">
              <span style="font-size:14px; font-weight:bold;">二.精准营销</span><br><br>
            <div style="padding-left:20px;">
                                     更加对口的客户群针对性推荐，让你的产品掌握先机，无往不利。<br><br>
              <p> <font color="#FF0000">•名录及展会推广</font><br />
                &nbsp;&nbsp;&nbsp;&nbsp;中环通会员可作为推荐企业收录进对口企业名录，网站上20万注册客户都能第一时间看到您（名录线上发送量20W），同时享受线下一年展会推广。<br />
                <font color="#FF0000">•对口买家客户群推广</font><br />
                &nbsp;&nbsp;&nbsp;&nbsp;中环通客户可享受对口客户群短信群发1次，邮件群发3次，内容时间可由客户自己来定，更优的平台针对性推广让您生意更加兴隆。<br /></p>
            </div>
		 </div>
</div>
<div class="fvpstp"><img src="$!{address.img}/huanbao/images/fudus/vpguid.gif" /></div>
<script language="javascript" type="text/javascript">
var s = new hb.fudus.slide();
s.fudusslider({conter:"#hbslide",spd:500,intval:5000});
cpistab(".ixml3l",".ixml3r","#newCpy","#niceCpy");
</script>