#set($layout="/layout/vpdefault.vm")
<div class="fdsmbk">
<div class="fvpstp"><img src="$!{address.img}/huanbao/images/fudus/vpguid.gif" /></div>
  <div class="zhifhimgs"><img src="$!{address.img}/huanbao/images/fudus/zhuf_03.gif" /></div>
  <div class="fdzfmainh">
     <ul>
      <li>
       <div class="fdzhifh1"> <img src="$!{address.img}/huanbao/images/fudus/zffs_03.gif" /><br /><em>农业银行<br />(对公账号)</em></div>
        <div class="fdzhifh">
          <p><em>开户银行</em>：中国农业银行杭州朝晖支行</p>
          <p><em>收 款 人</em>：杭州阿思拓信息科技有限公司</p>
          <p> <em>账 号</em>：19-0156 0104 0013 383</p>
        </div>
        <a href="http://www.abchina.com/cn/"><img src="$!{address.img}/huanbao/images/fudus/zffs_14.gif" /></a>
      </li>
      <li>
        <div class="fdzhifh1"> <img src="$!{address.img}/huanbao/images/fudus/zffs_03.gif" /><br /><em>农业银行</em></div>
        <div class="fdzhifh">
          <p><em>开户银行</em>：中国农业银行杭州分行吴山支行</p>
          <p><em>收 款 人</em>：宋丹丹</p>
          <p><em>账 号</em>：62284 8032 08059 07716</p>
        </div>
        <a href="http://www.abchina.com/cn/"><img src="$!{address.img}/huanbao/images/fudus/zffs_14.gif" /></a>
      </li>
      <li>
          <div class="fdzhifh1"> <img src="$!{address.img}/huanbao/images/fudus/zffs_06.gif"/><br /><em>工商银行</em></div>
        <div class="fdzhifh">
          <p><em>开户银行</em>：中国工商银行杭州解放路支行河坊街储蓄所</p>
          <p><em>收 款 人</em>：宋丹丹</p>
          <p> <em>账 号</em>：6222 0212 0200 6092 242</p>
        </div>
        <a href="http://www.icbc.com.cn/icbc/"><img src="$!{address.img}/huanbao/images/fudus/zffs_14.gif" /></a>
      </li>
      <li>
           <div class="fdzhifh1"> <img src="$!{address.img}/huanbao/images/fudus/zffs_08.gif"/><br /><em>建设银行</em></div>
        <div class="fdzhifh">
          <p><em>开户银行</em>：中国建设银行杭州吴山支行</p>
          <p><em>收 款 人</em>：宋丹丹</p>
          <p> <em>账 号</em>：6227 0015 4026 0100 125</p>
        </div>
        <a href="http://www.ccb.com/cn/home/index.html"><img src="$!{address.img}/huanbao/images/fudus/zffs_14.gif" /></a>
      </li>
      <li>
           <div class="fdzhifh1"> <img src="$!{address.img}/huanbao/images/fudus/zffs_11.gif"/><br /><em>中国银行</em></div>
        <div class="fdzhifh">
          <p><em>开户银行</em>：中国银行杭州庆春支行涌金支行</p>
          <p><em>收 款 人</em>：宋丹丹</p>
          <p> <em>账 号</em>：4563 5113 0011 4270 118</p>
        </div>
        <a href="http://www.boc.cn/"><img src="$!{address.img}/huanbao/images/fudus/zffs_14.gif" /></a>
      </li>
      <li>
           <div class="fdzhifh1"> <img src="$!{address.img}/huanbao/images/fudus/zffs_18.gif"/><br /><em>招商银行</em></div>
        <div class="fdzhifh">
          <p><em>开户银行</em>：招商银行杭州分行解放支行</p>
          <p><em>收 款 人</em>：宋丹丹</p>
          <p> <em>账 号</em>：6225 8857 1624 6103</p>
        </div>
        <a href="http://www.cmbchina.com/"><img src="$!{address.img}/huanbao/images/fudus/zffs_14.gif" /></a>
      </li>
      <li>
          <div class="fdzhifh1"> <img src="$!{address.img}/huanbao/images/fudus/zffs_25.gif"/><br /><em>中信银行</em></div>
        <div class="fdzhifh">
          <p><em>开户银行</em>：中信银行杭州分行营业部</p>
          <p><em>收 款 人</em>：宋丹丹</p>
          <p> <em>账 号</em>：6226 9008 0697 5773</p>
        </div>
        <a href="http://bank.ecitic.com/"><img src="$!{address.img}/huanbao/images/fudus/zffs_14.gif" /></a>
      </li>
      <li>
           <div class="fdzhifh1"> <img src="$!{address.img}/huanbao/images/fudus/zffs_28.gif" /><br /><em>民生银行</em></div>
        <div class="fdzhifh">
          <p><em>开户银行</em>：中国民生银行杭州涌金支行</p>
          <p><em>收 款 人</em>：宋丹丹</p>
          <p> <em>账 号</em>：6226 2277 8006 4188</p>
        </div>
        <a href="http://www.cmbc.com.cn/"><img src="$!{address.img}/huanbao/images/fudus/zffs_14.gif" /></a>
      </li>
      <li>
           <div class="fdzhifh1"> <img src="$!{address.img}/huanbao/images/fudus/zffs_31.gif"  /><br /><em>邮政储蓄</em></div>
        <div class="fdzhifh">
          <p><em>开户银行</em>：中国邮政储蓄银行南星桥支行</p>
          <p><em>收 款 人</em>：宋丹丹</p>
          <p> <em>账 号</em>：6210 9833 1000 3472 316</p>
        </div>
        <a href="http://www.psbc.com/portal/zh_CN/index.html"><img src="$!{address.img}/huanbao/images/fudus/zffs_14.gif" /></a>
      </li>
      <li>
           <div class="fdzhifh1"> <img src="$!{address.img}/huanbao/images/fudus/zffs_31.gif" /><br /><em>邮政汇款</em></div>
        <div class="fdzhifh">
          <p><em>开户银行</em>：浙江省杭州市江干区九盛路9号东方电子商务园A13栋</p>
          <p><em>收 款 人</em>：宋丹丹</p>
          <p><em>邮 编</em>：310019</p>
        </div>
       
      </li>
     </ul>
     <div class="zhiffooterh">
       <p>注意：请您在付费成功后，务必将<em> 1、汇款凭证（汇款小票） 2、身份证复印件（个人名义办理）</em>或者营业执照复</p>
       <p>印件（公司名义办理）传真至 <em>0571－56637777</em>，请在传真件上注明您的<em>公司全称、手机号、电子邮箱、订购服务项</em></p>
       <p><em>目、身份证复印件以及营业执照</em>，我们将在收到您的传真并核实付款信息无误后，立即向您发送用户名与密 码并开</p>
       <p>通服务。</p>
     </div>
       <div class="zhifh2">
       <p><em>中环通服务热线</em>： 0571-56633090</p>
       
       </div>
  </div>
</div>