## ico
<link rel="shortcut icon" href="http://img0.zz91.com/front/images/logo/favicon.ico" />
## css
<link rel="stylesheet" href="$!{address.img}/zz91/phone/css/400MenShiBu.css" />
<link rel="stylesheet" type="text/css" href="$!{address.img}/front/css/zz91.comm.css">
<link rel="stylesheet" type="text/css" href="$!{address.img}/front/css/zz91.base.css"/>
<link rel="stylesheet" type="text/css" href="$!{address.img}/front/css/zz91.nav.comm.css"/>


##js
<script type="text/javascript" src="$!{address.img}/lib/jquery/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="$!{address.img}/zz91/phone/js/banner.js"></script>


## search 
##<script type="text/javascript" src="$!{address.img}/zz91/price/js/industry.js"></script>
##<script type="text/javascript" src="$!{address.img}/front/js/search/zz91.search.js"></script>

