<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
	<!-- for include js code -->
	#parse("/zz91/common/import.vm")
	#parse("/zz91/common/context.vm")
    <script type="text/javascript" >
		var PAGE_CONST = new function(){
			this.COMPANY_ID="$!{id}";
			this.ACCOUNT="$!{account}";
			this.EDIT_SUB_WIN="EDIT_SUB_WIN";
			this.EDIT_SUB_FROM="EDIT_SUB_FORM";
		}
    </script>
    <script type="text/javascript" src="$!{address.js}/admin/crm/details.js" ></script>
</head>

<body>

</body>
</html>