/*********hb company topbar start**********/
input{vertical-align:middle}
.hb_company_bar{height:35px;line-height:35px;background-image:url(../images/company/company_idx_bg.gif)}
.company_topbar_logo{display:block;width:51px;height:21px;float:left;margin:7px 30px 7px 0px;_margin:7px 15px 7px 0px}
.hb_compbar_r{display:block;float:right}
.compbar_input{height:18px;width:160px;*margin-top:6px;_margin-top:0px;}
.company_bar_ipt,.company_bar_radio,.company_topbar_schtxt a{display:block;margin-left:8px;_margin-top:6px;float:left}
.company_topbar_schtxt a{_margin-top:0px;width:54px;text-align:center;background:url(../images/company/company_01.gif) no-repeat left -70px}

/*********hb company topbar end**********/

/*********hb company header start**********/
.company_header{position:relative;height:178px;background:url(../images/company/company_00.gif) no-repeat}
.company_header h1,.company_header img,.company_header_r{position:absolute}
.company_header img{top:42px;left:25px}
.company_header h1{font-size:30px;color:#000;left:190px;top:70px}
.company_header_r{height:29px;width:239px;right:0px;top:8px;background:url(../images/company/company_red.gif) no-repeat}
.company_header_rl,.company_header_rr,.company_header_r_num{display:block;font-size:13px;float:left}
.company_header_rl{color:#FF0;margin:8px 26px 8px 60px;*margin:8px 20px 8px 60px;_margin:8px 20px 8px 30px}
.company_header_rr{color:#FFF;margin-top:8px}
.company_header_r_num{color:#ff0;font-size:20px;margin:4px}
/*********hb company header end**********/

/*********hb company mainblock start******/
.company_mainblock_cont{margin-top:8px}
.compy_mainb_l{float:left}
.compy_ml_img{padding:4px}

/*********hb company mainblock end******/