body{ background-color:#FFF}
body a{ color:#27272C}
body a:hover{ color:#24A512}  
 
/**** top bar******/
.hb_bar{height:30px;line-height:30px;background-image:url(../images/header/hb_bar_bg.gif)}
.hb_bar_contn{width:958px;margin:0 auto;}
.hb_bar_nav{float:right;padding-right:120px; position:relative;	z-index:999; }
.hb_bar_nav ul li,.hb_bar_serve ul li{ float:left;padding-left:12px}
.hb_bar_nav ul li{ border: 1px solid #FBFBFB; border-bottom-color:#E7E7E7; height:24px; line-height:20px;  background:url(../images/header/asto_baricon.gif) right -64px no-repeat;  padding-left:12px;padding-right:16px;margin-top:4px}
.hb_bar_nav ul li.ishover{ background-position:right -94px; background-color:#FFF; border-color:#E7E7E7; border-bottom-color:#FFF}
.hb_bar_nav ul li ul{ background:#FFF; border:1px solid #E7E7E7; border-top:none;width:120px;border-top-color:#FFF; position:absolute; top:30px; display:none}
.hb_bar_nav ul li ul li{ padding:0; width:100%; border:none; background-image:none; background-color:#FFF; text-indent:1em}
.hb_bar_nav ul li ul li a{ display:block; height:24px; line-height:24px}
.hb_bar_nav ul li ul li a:hover{ background-color:#E7E7E7;color:#F60}
.hb_bar_nav_web{left:0}
.hb_bar_nav_serv{ left:78px}
.hb_bar_nav_assis{ left:156px}
.hb_bar_nav_center{ left:234px}

.hb_bar_serve {float:left;color:#0774ac} 
.hb_bar_serve a{color:#0774ac}
.hb_welcome{ color:#333; padding-right:36px}
.astop_bar_adf{ position:absolute;right:0; top:0}
a.addfavoritesbtn{ padding-left:20px; background:url(../images/header/asto_baricon.gif)  left top no-repeat; display:block; width:52px; height:30px}
a.addfavoritesbtn:hover{ background-position:left -30px}  
   
/**** header******/
.header{width:958px;margin:0 auto}

.hb_masthead{width:958px;height:103px;margin:18px auto; position:relative}
.hb_logo{position:absolute;width:348px;height:103px;
}
.hb_webh1{ position:absolute;left:-10000px}
.hb_search{position:absolute;width:588px;height:103px;left:370px; z-index:99}
.hb_searchlist{width:588px;height:30px;}
.hb_serchlist_ul{position:absolute;width:340px;height:26px}
.hb_serchlist_ul li{width:30px;height:26px;margin-top:12px;padding-left:26px;float:left;}
.hb_serchlist_ul li a{display:block;width:30px;height:26px;color:#925F10;text-align:center;}
a.srhyes{background:url(../images/header/hb_srhyes.gif) no-repeat 0px 18px;}
.search_hot{display:block;position:absolute;right:12px;padding-left:20px;width:60px;height:30px; background:url(../images/global/hb_arrange.gif) left center no-repeat;line-height:30px;}
.search_btn a{color:#5a5a5a;}
.hb_search_label{position:absolute;left:42px;top:43px;font-size:14px;color:#9e9e9e;}
.hb_searcharea{width:588px;height:44px;background:url(../images/header/hb_search.gif) left top no-repeat;}
.hb_search_text{width:438px;height:24px;margin-left:40px;margin-top:9px;border:none; _border:0;}
.hb_search_sub{position:absolute;width:100px;height:32px;background:none;color:white;border:none;font-size:16px;margin-left:2px;margin-top:6px;font-weight:bold;cursor:pointer;}
.hb_keywords{width:500px;height:15px;border:solid 1px red;color:#0774ac;}
.hb_search_hotkey{color:#0774ac;float:left;height:24px; line-height:24px;margin-left:12px}
.hb_search_hotkey_t{ width:80px; float:left}
.hb_search_hotkey a{padding-right:12px;color:#0774ac;float:left;}
.hb_nav{position:relative;width:958px;height:66px;margin:0 auto;background:url(../images/header/hb_nav.gif) no-repeat}

.hb_nav_top{width:488px;height:30px;margin:0px 0px 0px 4px;}
ul.nav_top_ul{ padding-left:8px;}
.nav_top_ul li{display:block;float:left;line-height:26px;font-weight:bold;}
.nav_top_ul  a{display:block;width:78px;height:28px;margin:4px 0px 0px 0px;text-decoration:none;text-align:center;font-size:14px;color:#FFF}
.nav_top_ul li a:hover{background:url(../images/header/hb_nav.gif) -882px -72px no-repeat;color:#0A4503;}
.curtchnl a{ background:url(../images/header/hb_nav.gif) -882px -72px no-repeat; color:#0A4503}

.hb_nav_notice{position:absolute;width:300px;height:20px;top:6px;left:638px;} 

.hb_nav_content{width:910px;height:30px; line-height:30px; padding:4px 24px 0 24px}
.hb_nav_content ul li{float:left;padding-right:12px;color:#925F10}
.hb_nav_content ul li a{ color:#925F10; font: normal bold 12px/30px '宋体'}
.hb_nav_content ul li a:hover{color:#fe6e04}


/**** trade list  header******/
.hb_tradelst_header{ width:958px;  height:138px; margin:0 auto; position:relative}
.hb_tradelst_logo{ width: 180px; height:70px; position:absolute; left:0; top:12px }
.hb_tradelst_search{  width:958px; height:81px; background:url(../images/trade/tradelist/hb_tradelist_03.gif) left top no-repeat;position:absolute; left:0; top:56px}
.hb_tradelst_srhtype{ width:712px; height:35px; line-height:35px;padding-left:246px; }
.hb_tradelst_srhtype li{ width:77px; background:url(../images/trade/tradelist/hb_tradelist_03.gif) right -89px no-repeat;float:left; text-align:center; font:normal bold 14px/35px '宋体';color:#5C5C5C}
.hb_tradelst_srhtype li.hb_tradelst_selected{ background-position:left -81px;color:#FFF}
.hb_tradelst_srhform{ width:958px; height:46px}
.hb_tradelst_srhform label{width:372px;height:28px;line-height:28px;position:absolute;left:234px;top:46px;z-index:10;padding-left:24px;font-size:13px;color:#5C5C5C}
.hb_tradelst_search_ipt{  width:370px; height:26px; line-height:26px;position:absolute; left:260px; top:46px; border:none;_border:0; z-index:9}
.hb_tradelst_search_btn{ width:93px; height:26px; background:none;position:absolute; left:630px; top:46px; border:none; cursor:pointer; color:#FFF; font:normal bold 14px/26px '宋体'}
/*********leader*************/
.hb_leader_tit{float:left}
.hb_leader_tip{float:right}

/**** footer******/	
.hb_footer,.hb_company_footer{ position:relative;line-height:28px; border-top:2px solid #1fa210; padding-top:12px; margin:0 auto; margin-top:12px; width:958px; text-align:center}
.hb_footer .hb_footer_pt{margin-left:190px;*margin-left:-80px;_margin-left:-80px;width:500px}
.foot_img{position:absolute;display:block;width:71px;height:22px;right:200px;top:40px}
.hb_company_footer{border-top:5px solid #0761ae;}

/********* common style ********/
.hb_mainblock{width:958px;margin:0 auto}
.hb_positionleader{ line-height:30px; width:934px; margin:0 auto; padding:0 12px;}

 
.liststyleblack,.liststyleblack li{ background:url(../images/global/hb_listblack.gif) left 13px no-repeat}
 
 
.floatleft{ float:left}
.floatright{ float:right}
 
.borderwhitegray{ border:1px solid #c3c8b8}
.bordergrey{border:solid 1px #a8a8a8}
.noborder{ border:none; _border:0}
.borderlightgreen{ border:solid 1px #c7dcbd}
.bordergreen{border:solid 1px #28a713}

.borderblue-bottom{border-bottom:3px solid #0761ae}
.borderlightgreen-btm{ border-bottom:solid 1px #c7dcbd}
.borderblue-top{border-top:1px solid #0761ae}
.borderlightblue{border:1px solid #6bb5ea}
.backgroundgrey{background:#ededed}
.backgroundgreen{background:#e8f5e1}

.fontorange{color:#f27800}
.fontblue{color:#0074ac}
.fontbrown{color:#8a5800}
.fontbold{ font-weight:bold}
.fontnormal{ font-weight:normal}
.fontgrey{color:#908f8f}
.bordergery{color:#dddddd}
.borderblack{color:#776060}
.fontredorange{color:#c00}
.fontred{color:#f00}
.fontgreen{color:#055a03}
.fontlightgreen{color:#0d7201}
.fontbtnbg{color:#773904}
.font555{color:#555555}
.fontwhite{color:#fff}


.letterspaceing1{ letter-spacing:1em;_padding-right:1px}
.letterspaceing2{ letter-spacing:2em;_padding-right:1px}

.margintop8{ margin-top:8px}

.marginbottom8{ margin-bottom:8px}

.marginleft8{ margin-left:8px}
.marginleft16{ margin-left:16px}
.marginleft22{ margin-left:22px}

.marginright8{ margin-right:8px}
.marginright16{ margin-right:16px}

.paddingleft14{ padding-left:14px}
.paddingleft14{ padding-left:14px}

.paddingright2em{ padding-right:2em}
.paddingright1em{padding-right:1em}
.paddingright05em{padding-right:0.5em}

.arginauto{margin:auto}

.ie6heighthacker{height:1%}

.txtcenter{ text-align:center}
.txtright{ text-align:right}
.txtleft{ text-align:left}
.txtindent{text-indent:2em}

.html5radius{border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px}

h1.tit{ font-size:16px}
h2.tit{ font-size:14px}
h3.tit{ font-size:14px}
h4.tit{ font-size:12px}
h5.tit{ font-size:12px}
h6.tit{ font-size:12px}

h1.titnormal{ font-size:12px}
h2.titnormal{ font-size:12px}
h3.titnormal{ font-size:12px}
h4.titnormal{ font-size:12px}
h5.titnormal{ font-size:12px}
h6.titnormal{ font-size:12px}

.font20{font-size:20px}
.font16{font-size:16px}
.font14{font-size:14px}
.font13{font-size:13px}
/**content block width**/
.contblock_300{ width:300px}
.contblock_298{ width:298px}
.contblock_390{ width:390px}
.contblock_252{ width:252px}
.contblock_250{ width:250px}
.contblock_698{ width:698px}
.contblock_345{ width:343px}
.contblock_312{ width:312px}