/********exhibit index block1 start**********/

.extlineheight{line-height:22px;}


a:hover{text-decoration:underline}
.exhibit_bg{height:33px;line-height:33px;background:url(../images/exhibit/exhibit21.jpg)}
.exhibit_wd266{width:266px}
.exhibit_wd256{width:256px}
.exhibit_wd404{width:404px}
/********exhibit index block1 start**************/
.exhibit_section1_l,.exhibit_section1_m,.exhibit_section1_r{float:left}
.exhibit_section1_l{width:285px;height:389px;padding:4px;}
.exhibit_section1_m{width:389px;}
.exhibit_section1_m_abheader h3{height:29px;line-height:29px;background:url(../images/exhibit/exhibit18.gif)}
.exhibit_section1_m_sect1{margin:14px 14px 0px 14px;padding-bottom:14px}
.exhibit_section1_m_sect1 h3{height:44px;line-height:44px;text-align:center}
.exhibit_section1_m_sect1_ul li,.exhibit_section1_m_sect1_ul2 li{height:22px;*height:21px;_height:20px;line-height:22px;*line-height:21px;_line-height:20px}
.exhibit_section1_m_sect1_ul li ul li,.exhibit_section1_m_sect1_ul2 li ul li{float:left}
.exhibit_section1_mbelow_l,.exhibit_section1_mbelow_m,.exhibit_section1_mbelow_r{display:block;float:left}
.exhibit_section1_mbelow_l,.exhibit_section1_mbelow_r{margin-top:35px}
.exhibit_section1_mbelow_m li{padding:0px 7px;float:left}
.exhibit_section1_mbelow_m li dd{margin:5px 0px;width:100px;text-align:center}
.exhibit_section1_r_form{height:22px;margin-bottom:9px;_margin-bottom:8px}
.exhibit_section1_r_inpt,.exhibit_section1_r_selt1,.exhibit_section1_r_selt2,.exhibit_section1_r_l{height:20px;display:block;float:left}
.exhibit_section1_r_l{line-height:20px}
.exhibit_section1_r_inpt input,.exhibit_section1_r_selt1 select{height:20px;width:160px}
.exhibit_section1_r_selt2 select{width:80px}
.exhibit_section1_r_btn a{background:url(../images/exhibit/exhibit22.gif) no-repeat;width:119px;height:27px;line-height:27px;margin:0px auto 9px;display:block}
.exhibit_section1_r_btn a:hover{text-decoration:none}
/********exhibit index block1 end**************/

/********exhibit index block2 start**************/
.exhibit_section2_img1,.exhibit_section2_img2{float:left}
.exhibit_section2_img1 img,.exhibit_section2_img2 img{border:1px solid #c3c8b8}
.exhibit_section2_img1{margin-right:11px}
/********exhibit index block2 end**************/

/********exhibit index block3 start**************/
.exhibit_section3_l{width:683px;float:left}
.exhibit_section3_l_header1{height:29px;background:url(../images/exhibit/exhibit24.gif)}
.exhibit_section3_l_header1 h3{line-height:29px;padding-left:8px;float:left}
.exhibit_section3_l_more{padding-right:16px;display:block;line-height:29px;float:right}
.exhibit_section3_l_txt1 a:hover{width:56px;height:28px;background:#fff}
.exhibit_section3_l_tp_lists{border-top:none}
.exhibit_section3_l_tp_ul{*height:100%;padding:16px 0px 16px 24px}
.exhibit_section3_l_tp_ul li{margin-right:24px;_margin-right:18px;width:138px;float:left}
.exhibit_section3_l_tp_ul li dt{padding:2px;margin-bottom:8px;width:132px;height:112px}
.exhibit_section3_l_mid_ulli1,.exhibit_section3_l_mid_ulli2{margin:8px;padding:0px 8px;height:20px;line-height:20px;*height:18px;*line-height:18px}
.exhibit_section3_l_mid_ulli1 ul li,.exhibit_section3_l_mid_ulli2 ul li{text-align:center;float:left}
.section3_l_mid_li2{width:200px;_width:160px}
.section3_l_mid_li1,.section3_l_mid_li3,.section3_l_mid_li4,.section3_l_mid_li4,.section3_l_mid_li5{width:112px}
.exhibit_section3_r{width:265px}
.exhibit_section3_r_fig{margin:0px 8px}
.exhibit_section3_r_fgimg{display:block;width:87px;height:80px;padding:2px;float:left}
.exhibit_section3_r_fig h4,.exhibit_section3_r,.exhibit_section3_r_fig p{float:left}
.exhibit_section3_r_fig p{width:145px;line-height:21px}
.exhibit_section3_r_ul1 li,.exhibit_section3_r_ul2 li,.exhibit_section4_l_ul li,.exhibit_section4_m_ul li{line-height:24px;padding-left:20px;background:url(../images/global/hb_listblack.gif) no-repeat 12px 10px}
.exhibit_section3_r_ul3{margin:8px 0px 10px 16px;_margin:8px 0px 10px 8px;}
.exhibit_section3_r_ul3 li{width:109px;margin:2px 12px 8px 0px;float:left}
.exhibit_section3_r_ul3 li dl dt{padding:2px;height:66px}
/********exhibit index block3 end**************/

/********exhibit index block4 start**************/
.exhibit_section4_l,.exhibit_section4_m,.exhibit_section4_r{float:left}
.exhibit_section4_ltop_l,.exhibit_section4_ltop_r,.exhibit_section4_lbtm_l,.exhibit_section4_lbtm_r{background:#f0f9ec;height:28px;*height:26px;width:132px;line-height:28px;*line-height:28px;display:block;text-align:center;float:left}
.exhibit_section4_ltop_l,.exhibit_section4_ltop_r{border-style:none solid solid none}
.exhibit_section4_lbtm_l,.exhibit_section4_lbtm_r{border-style:solid solid none none}
.exhibit_section4_ltop_r,.exhibit_section4_lbtm_r{border-right:none}
.exhibit_section4_ltop_r{border:none;background:none}
.exhibit_section4_l_cont{margin:8px 8px 0px 8px;_margin:3px 8px 0px 8px}
.exhibit_section4_l_div21,.exhibit_section4_l_div22{float:left}
.exhibit_section4_l_div3{margin:4px auto;*margin-bottom:0px}
.exhibit_section4_l_div3 a{width:50px;margin:0 auto;display:block}
.exhibit_section4_l_div2_txtl{display:block;float:left}
.exhibit_section4_l_div2_ipt input{width:70px}
.exhibit_section4_l_div1 input{margin-left:16px}
.exhibit_section4_header1 h3{float:left}
.exhibit_section4_m_more{padding-right:8px;display:block;float:right}
/********exhibit index block4 end**************/

/********exhibit index block5 start**************/
.exhibit_section5_ul{*height:100%;margin:8px}
.exhibit_section5_ul li{margin-left:9px;width:122px;float:left}
.exhibit_section5_ul li dl dd{margin:8px 0px}
/********exhibit index block5 end**************/

/********exhibit index block1 end**********/

/********exhibit lists  start*******/
.exhibitlists_section2_l,.exhibitlists_section2_r,.exhibitlsits_pages a{float:left}
.exhibitlists_section2_l{width:682px;_width:680px}
.exhibitlsits_pages{width:300px;height:30px;line-height:30px;margin:13px auto;_margin:12px auto}
.exhibitlsits_pages a{margin:0px 4px}
.exhibitlsits_pages a:hover{color:#fff;background:#060}
.pages_back,.pages_next{width:52px}
.exhibitlists_section3_l_header1 h3{height:30px;border-bottom:solid 1px #c7dcbd;background:#f0f9ec}
/********exhibit lists  end*******/

/********exhibit  details start*****/
.exhibitlst_contents h1{margin:35px auto 10px}
.exhibitlst_headerinfo2{background:#f8f8f8;border-style:solid none}
.exhibitlst_headerinfo2_li ul li{height:30px;line-height:30px;*margin-top:-12px;float:left}
.exhibitlst_headerinfo2_li11,.exhibitlst_headerinfo2_li12{padding-left:30px;width:220px}
.exhibitlst_headerinfo2_QQ,.exhibitlst_headerinfo2_call{padding-left:22px;background:url(../images/global/qq.gif) no-repeat left 6px}
.exhibitlst_headerinfo2_call{background:url(../images/exhibit/exhibit30.gif) no-repeat 2px 6px}
.exhibitlst_headerinfo3,.exhibitlst_headerinfo2{margin:20px 16px}
.exhibitlst_headerinfo3_li2{width:582px}
.exhibitlst_headerinfo3_li ul li{*margin-top:-12px}
.exhibitlst_ads1 img,.exhibitlst_ads2 img{margin:0px 4px}
/********exhibit details end********/


