/********trade post commheader start********/
.trade_postoffer_header{position:relative;width:908px;height:70px;margin:8px auto;}
.postoffer_quit{position:absolute;top:0px;right:0px;line-height:20px;width:252px;display:block;height:50px;margin:16px 0px}
.postoffer_quit_help{margin-left:54px}
/********trade post commheader end********/
/** trade post index start****/
.trade_pstoferindex_cont{height:395px;background:url(../images/trade/post/post_index_bg.gif)}
.trade_pstoferindex_cont .fontorange{display:block;padding:140px 0px 70px 0px;text-align:center;}
.pstoferindex_cont_afford,.pstoferindex_cont_buy{display:inline-block;width:241px;height:37px;}
.pstoferindex_cont_afford{margin-left:220px;background:url(../images/trade/post/post_indexbtn.gif) no-repeat;float:left}
.pstoferindex_cont_afford:hover{background:url(../images/trade/post/post_indexbtn.gif) no-repeat left -48px} 
.pstoferindex_cont_buy{margin-right:220px;background:url(../images/trade/post/post_indexbtn.gif) no-repeat left -96px;float:right}
.pstoferindex_cont_buy:hover{background:url(../images/trade/post/post_indexbtn.gif) no-repeat left -145px} 
.trade_pstoferindex_bottom{margin:8px auto;height:170px;}
.pstoferindex_bottom_l{width:700px;float:left;}
.pstoferindex_bottom_l .fontbold,.pstoferindex_bottom_r .fontbold{height:30px;line-height:30px;margin-left:8px;border:dashed 1px #d9e7d9;border-style:none none dashed none;color:#13751f;font-size:16px}
.bottom_l_t,.bottom_l_p{display:block;}
.bottom_l_t,.bottom_l_tt{font-size:14px;margin:16px 0px 0px 16px;}
.bottom_l_p,.bottom_l_pt{background:url(../images/global/new_sign.gif) no-repeat 140px -1px;height:40px}
.bottom_l_p a,.bottom_l_pt a{margin:40px;line-height:30px}
.bottom_l_pt{background:none;}
.pstoferindex_bottom_r{width:238px;border:solid 1px #cddfcd;float:right}
.pstoferindex_bottom_r ul{margin:8px 0px 8px 8px;}
.pstoferindex_bottom_r ul li{line-height:20px;background:url(../images/global/list01.gif) no-repeat left;padding-left:8px;}
/** trade post index end****/
/****pstofer stpone  start******/
.trade_postofferone_top,.trade_postoffertwo_top,.trade_pstofone_top,.trade_pstbuyone_conts h3,.trade_pstbuyone_bottom h3{height:42px;background:url(../images/trade/post/pstofr_one_bg.gif)}
.top_r_f,.top_r_s,.top_r_t,.postoffer_search_btn,.postoffer_next,.postoffertwo_hder_title,.postoffertwo_neck_title,.postoffer_foot_titile{font-weight:bold;}
.trade_postofferone_top .fontbold,.trade_postoffertwo_top .fontbold{margin:12px 26px;font-size:14px;float:left;}
.mainb_top_r{display:block;float:right;}
.top_r_f,.top_r_s,.top_r_t{height:40px;display:block;padding:0px 26px 0px 34px;font-size:14px;line-height:40px;float:left;}
.top_r_f{background:url(../images/trade/post/poststp_bg.gif) no-repeat left 8px}
.top_r_s{background:url(../images/trade/post/poststp_bg.gif) no-repeat left -90px}
.top_r_t{background:url(../images/trade/post/poststp_bg.gif) no-repeat left -124px}
.trade_postofferone_neck{height:44px}
.postofferone_neck_l,.postofferone_neck_r{margin:16px 30px;padding-left:16px;}
.postofferone_neck_l{background:url(../images/trade/post/pstofersp1_03.gif) no-repeat;font-size:14px;float:left}
.postofferone_neck_r{float:right}
.trade_postofferone_search{margin-left:44px;}
.postofferone_search_area,.postofferone_search_btn{height:26px;margin-left:40px;}
.postofferone_search_area{width:320px;border:solid 1px #d7e5d7;}
.postofferone_search_btn{width:103px;height:27px;background:url(../images/trade/post/postoff.gif) left -106px no-repeat;border:none;font-size:18px;font-weight:bold;}
.trade_postofferone_type{padding-top:20px;margin:16px 30px;height:280px;border:solid 1px #e0e0e0;border-style:dashed none none none;}
.postoferone_type_l,.postoferone_type_m,.postoferone_type_r{display:block;width:260px;height:220px;margin-left:26px;border:solid 1px #d7e5d7;float:left;}
.type_top_sel,.type_l_sel,.type_m_sel,.type_r_sel{width:260px;height:220px;border:none;background:none}
.type_top_sel{width:320px;height:26px;}
.trade_postofferone_foot{height:90px;margin-top:10px;}
.postoffer_foot{display:block;margin:0px 0px 16px 26px;}
.postoffer_next{display:block;width:231px;height:40px;background:url(../images/trade/post/pstofersp1.gif) no-repeat;margin:16px auto;text-align:center;font-size:16px;font:bold 16px/40px '宋体';color:white}
.postoffer_next:hover{color:white;background:url(../images/trade/post/pstofersp1.gif) no-repeat left -52px;}
/*****pstofer stpone end***/
/*****pstofer stptwo start************/
.trade_postblock{width:958px;margin:0 auto;border:solid 1px #c9c8c8}
.postoffertwo_hder_title,.postoffertwo_hder_nav,.postoffertwo_hder_notice{margin:16px 0px 0px 10px;}
.trade_postoffertwo_hder{height:45px;margin:0 auto;}
.postoffertwo_hder_title{padding-left:16px;margin-left:30px;_margin-left:15px;background:url(../images/trade/post/pstofersp1_03.gif) no-repeat;font-size:14px;float:left;}
.postoffertwo_hder_nav{display:block;width:270px;float:left;}
.back_txt{display:block;width:101px;height:27px;background:url(../images/trade/post/postoff.gif) no-repeat left -60px;margin:8px 0px 0px 0px;line-height:27px;text-align:center;color:#353534;float:left;}
.postoffertwo_hder_notice{display:block;width:270px;margin-right:24px;color:#908f8f;float:right;}
.trade_postoffertwo_neck{width:900px;height:36px;margin:0px auto;line-height:36px;border:solid 1px #c9c8c8;border-style:solid none solid none;}
.postoffertwo_neck_title{font-size:14px;padding-left:16px;background:url(../images/trade/post/pstofersp1_03.gif) no-repeat left 9px;float:left;}
.postoffertwo_neck_r{color:#908f8f;line-height:36px;float:right;}
.postoffer_editor_title,.postoffer_upload_title,.postoffer_form_title{display:block;margin:16px 0px 16px 40px;font-size:12px;font-weight:100}
.postoffer_form_title{margin-left:68px;}
.postoffer_form{display:block;width:690px;border:solid 1px #c9c8c8;margin:0 auto;}
.postoffer_form .pstofer_form_list{display:block;margin:20px 0px 20px 60px;}
.pstofer_form_list input{width:200px;height:20px;margin-left:20px;border:solid 1px #c9c8c8;}
.trade_postoffertwo_editor{width:900px;margin:16px auto;}
.trade_postoffertwo_infotitle{margin:16px 0px 16px 54px}
.trade_postoffertwo_infotitle input{width:400px;height:20px;border:solid 1px #c9c8c8;}
.postoffer_upload_title{margin-left:67px}
.pstofersptwo_upload{margin-left:35px;_margin-left:28px;float:left}
.pstofersptwo_upload_input{display:block}
.pstofersptwo_upload_input{width:70px}
.pstbuyone_editor img,.pstofersptwo_upload img{border:solid 1px #c9c8c8}
.postoffer_editor{display:block;border:solid 1px #c9c8c8;margin-left:100px;}
.trade_postoffertwo_editor{margin:0 auto;}
.trade_postoffertwo_editor p{margin:10px 0px 0px 98px;}
.postoffer_foot_titile{display:block;background:url(../images/trade/post/pstofersp1_03.gif) no-repeat left -1px ;width:879px;padding:0px 0px 16px 16px;margin:16px 0px 16px 46px;border:solid 1px #c9c8c8;font-size:14px;border-style:none none solid none}
.trade_postoffertwo_foot{height:350px;}
.postoffer_info_valid,.postoffer_score,.titnormal,.postoffer_foot_notice p{margin-left:90px;}
.postoffer_foot_notice p{margin:8px 0px 0px 155px;}
.postoffer_info_valid input{margin-left:15px;}
.postoffer_score a{margin-right:26px;float:right;}
.postoffer_score,.titnormal,.postoffer_foot p{margin-top:8px;}
.postoffer_foot_read{display:block;margin:24px auto;text-align:center;} 
/*****pstofer stptwo end************/

/*********pstbuy  stpone  start*******/
.trade_pstbuynoe_leader,.trade_pstbuyone_bottom h3{height:30px;line-height:30px;padding-left:16px}
.trade_pstbuynoe_leader .fontbold{font-size:14px;color:#096107}
.trade_pstbuyone_conts h3{padding-left:16px;line-height:42px}
.pstbuyone_form{margin:8px 0px 0px 20px;height:26px;line-height:26px}
.pstbuyone_l_txt,.pstbuyone_form .fontbold{display:block;width:120px;text-align:right;float:left}
.pstbuyone_m_elems{display:block;margin:0 8px;float:left}
.pstbuyone_form input,.pstbuyone_form select{width:200px;height:20px;border:1px solid #c9c8c8}
.pstbuyone_form .fontbold{float:left}
.pstbuyone_dashline{display:block;height:16px;width:810px;border:dashed 1px #c9c8c8;border-style:none none dashed none;float:right}
.pstbuyone_editor,.pstbuyone_editor_notice{margin:8px 0px 0px 142px}
.pstbuyone_editor_notice p{line-height:20px}
.pstbuyone_bottom_tips{margin:8px 0px 0px 80px}
.pstbuyone_bottom_tips p{line-height:24px}
.pstbuyone_bottom_tips .fontgrey{margin-left:60px;_margin-left:30px}
.pstbuyone_bottom_clause,.pstbuyone_bottom_pstbtn a{display:block;margin:16px auto;text-align:center}
.pstbuyone_bottom_pstbtn a{width:138px;height:40px;color:white;text-align:center;background:url(../images/trade/post/pstbuysp12.gif) no-repeat;font:bold 16px/40px '宋体'}
.pstbuyone_bottom_pstbtn a:hover{color:white;background:url(../images/trade/post/pstbuysp12.gif) no-repeat left -52px}
/*********pstbuy  stpone  end******/

/*********postbuy stptwo start***************/
.trade_pstbuytwo_above{position:relative;height:308px;background:url(../images/trade/post/pstbuy_stptwo_bg.gif)}
.pstbuytwo_above_conts{position:absolute;left:130px;top:60px;width:700px}
.pstbuytwo_above_conts aside{background:url(../images/trade/post/pstbuysp2_01.gif) no-repeat 220px;height:24px;line-height:24px;text-align:center;font-size:14px}
.pstbuytwo_conts_server h3{margin:36px 0 26px;}
.pstbuytwo_conts_server p{display:block;height:22px;margin-bottom:8px;line-height:22px;font-size:14px}
.pstbuytwo_conts_server p .pstbuytwo_p_l{display:block;float:left}
.pstbuytwo_conts_server a{display:block;width:78px;text-align:center;margin-right:100px;_margin-right:50px;background:url(../images/trade/post/pstbuysp2.gif) left 330px;float:right}
.trade_pstbuytwo_below{margin-top:8px;height:194px;*height:208px;_height:194px;background:#f2f3f4}
.trade_pstbuytwo_below h3{display:block;height:40px;line-height:40px;margin-left:30px}
.trade_pstbuytwo_below_li{width:958px;height:30px;line-height:30px;border:solid 1px white;border-style:solid none none none;float:left}
.trade_pstbuytwo_below_li li{margin:0px 60px 0px 30px;float:left}
.trade_pstbuysp2_bottom{height:48px;line-height:48px;margin:16px auto;text-align:center}
.trade_pstbuysp2_bbtn a{display:block;margin-left:320px;width:204px;color:white;background:url(../images/trade/post/pstbuysp2.gif)}
.trade_pstbuysp2_bbtn a:hover{color:white;background:url(../images/trade/post/pstbuysp2.gif) left -60px}
.trade_pstbuysp2_bmtxt{display:block;margin-left:8px}
/*************postbuy stptwo end**********/

/*************hb findprice start*****/
.trade_findprice_block,.trade_infocomp_block{border:solid 2px #27a518;border-style:solid none none none}
.trade_findprice_block h3{background:url(../images/trade/post/pstofersp1_03.gif) no-repeat 14px 10px;height:40px;line-height:40px;padding-left:32px;border-style:none none dashed none}
.fdprc_conts,.fdprc_conts_mid,.fdprc_conts_botom{margin:22px 0px 0px 240px;height:54px}
.fdprc_conts_l{display:block;margin-right:20px;width:84px;height:20px;line-height:20px;text-align:right;float:left}
.fdprc_conts_r{display:block;margin-top:3px;float:left}
.fdprc_conts_r_top{padding-left:16px;background:url(../images/global/add_01.gif) no-repeat left -26px;}
.fdprc_conts_r ul li{line-height:20px}
.fdprc_conts_mid{height:22px}
.fdprc_conts_mid_ipt{display:block;float:left}
.fdprc_conts_mid input,.fdprc_conts_botom textarea{height:20px;width:300px;border:none}
.fdprc_conts_botom,.fdprc_conts_botom textarea{height:160px}
.fdprc_conts_botom textarea{border:solid 1px #a8a8a8}
.fdprc_botom_btn a{display:block;width:91px;height:29px;line-height:29px;background:url(../images/trade/post/pstbuylst.gif) left -258px;}
.fdprc_foot,.fdprc_botom_btn a{margin:16px auto 0px;text-align:center}
/*************hb findprice end*****/
/*************hb infocomp start****/
.trade_infocomp_block h3{background:url(../images/trade/post/infocomp01_03.gif) no-repeat left 10px;border-style:none none dashed none;font:500 12px/40px '宋体'}
.infocomp_top_notice,.trade_infocomp_block h3{height:40px;line-height:40px;padding-left:20px}
.trade_infocomp_block table{margin:0 auto;text-align:center;border:8px solid #ebebeb}
.trade_infocomp_block table td{width:132px}
.trade_infocomp_tr1{height:35px;}
.trade_infocomp_tr2{height:78px;}
.trade_infocomp_tr3,.trade_infocomp_tr4,.trade_infocomp_tr5,.trade_infocomp_tr6,.trade_infocomp_tr7{height:50px}
.trade_infocomp_tr2,.trade_infocomp_tr4,.trade_infocomp_tr6{background:white;}
.infocomp_bg{background:url(../images/trade/post/infocomp02_07.gif) no-repeat 94px 12px}
/*************hb infocomp end*****/

/********postbuy  search last  start**********/
.buysch_lst_nav{padding-left:16px}
.buysch_lst_top{margin:8px 0px 0px;height:1%}
.buysch_lst_top_above h1,.buysch_lst_mid h3,.buysch_lst_foot{height:42px;line-height:42px;background:url(../images/trade/post/pstofr_one_bg.gif);text-align:center}
.buysch_above_l,.buysch_above_m{margin:16px 0px 0px 22px;_margin:16px 0px 0px 11px;width:280px;float:left}
.buysch_above_l_img{padding:6px;border:solid 1px #dddddd}
.buysch_above_l_info{padding:8px 0px 0px 0px;height:24px;line-height:24px;text-align:center}
.buysch_above_collect,.buysch_above_big{display:block;padding-left:24px}
.buysch_above_collect{margin-left:50px;_margin-left:25px;background:url(../images/global/start_02.gif) no-repeat left 3px;float:left}
.buysch_above_big{margin-right:50px;_margin-right:25px;background:url(../images/trade/post/buysch_lst01.gif) no-repeat left 3px;float:right}
.buysch_above_m{width:290px;_margin-left:22px;padding-top:16px}
.buysch_above_m_top ul,.buysch_above_m_botom ul{display:block;height:24px;line-height:24px;border:solid 1px #776060;border-style:none none dashed none;}
.buysch_above_m_top ul li,.buysch_above_m_botom ul li{padding-right:8px;font-weight:bold;float:left}
.buysch_above_m_center{margin:8px 0px 8px 0px;height:35px;text-align:center}
.buysch_m_btn_l a,.buysch_m_btn_r a{display:block;background:url(../images/trade/post/pstbuylst.gif) left -44px no-repeat;width:139px;font:bold 14px/35px '宋体';color:white }
.buysch_m_btn_l a:hover,.buysch_m_btn_r a:hover{color:white;background:url(../images/trade/post/pstbuylst.gif) left -91px no-repeat}
.buysch_m_btn_l{background:url(../images/trade/post/buysch_lst.gif) left -82px;float:left}
.buysch_m_btn_r{float:right}
.buysch_above_m_botom ul{border:none}
.buysch_above_m_botom ul li{font-weight:500}
.buysch_above_r{margin:16px 22px 0px 0px;_margin:16px 11px 0px 0px;width:290px;border:solid 1px #dddddd;float:right}
.buysch_above_r h3{background:url(../images/trade/post/pstbuy_sech_lst_03.gif) repeat-y;height:30px;padding-left:194px;font:normal 12px/30px '宋体';color:#908f8f;}
/*****not vip style********/
.buysch_above_r_notice,.buysch_above_r_btn{display:block;margin:50px 67px;text-align:center;width:156px;height:30px;line-height:30px}
.buysch_above_r_btn{background:url(../images/trade/post/buysch_lst.gif) -167px -84px}
/*****not vip style********/
/*****vip style*********/
.buysch_above_r_ul,.buysch_lst_below_ul{margin:16px 0px 4px 10px;*margin:8px 0px 4px 10px}
.buysch_above_r_li li,.buysch_lst_below_li li{display:block;padding:7px 4px;*padding:3px 4px;float:left}
.buysch_lst_above_r_vpbtn{margin-bottom:14px;height:32px;line-height:32px}
.buysch_lst_vpbtn_l a,.buysch_lst_vpbtn_r a{background:url(../images/trade/post/pstbuylst.gif) no-repeat left -216px;margin-left:14px;width:124px;text-align:center;display:block;float:left}
/*****vip style*********/
.buysch_lst_top_below{margin:16px 0px 0px 16px;width:920px;}
.buysch_lst_top_below h3{height:42px;line-height:42px;border-style:solid none none none}
.buysch_lst_top_below table{width:920px}
.buysch_lst_top_below table tr td{height:30px;text-align:center;border:solid 1px #a8a8a8}
.buysch_tbelow_td{width:90px;background:#ededed}
.buysch_tbelow_block_t{height:1%;margin:24px auto;width:466px}
.buysch_tbelow_block_t h4{padding-left:10px;background:url(../images/trade/post/pstbuylst.gif);height:33px;color:white;font:bold 14px/33px '宋体'}
/*******not vip style*******
.buysch_tbelow_block_txt{padding-top:30px;*height:140px;border-style:none solid solid solid;}
.buysch_tbelow_block_conts,.buysch_tbelow_block_btn{display:block;margin:30px auto;height:30px;text-align:center}
.buysch_tbelow_block_btn{background:url(../images/trade/postoffer/buysch_lst.gif) 154px -148px;font:normal 12px/30px '宋体'}
******not vip style********/
/******vip style**********/
.buysch_lst_below_ul{margin:20px 40px}
.buysch_tbelow_block_txtvip{height:1%;background:#ffffff}
/******vip style**********/
.buysch_tbelow_block_botom{margin-top:16px;text-align:center}
.buysch_lst_mid{margin-top:8px}
.buysch_lst_mid h3{padding-left:16px;text-align:left}
.buysch_lst_mid_ul{margin:9px auto;*margin:4px auto;width:920px;height:300px}
.buysch_lst_mid_li li{width:100px;display:block;height:30px;*height:20px;_height:15px;line-height:30px;*line-height:20px;_line-height:15px;text-align:center;float:left}
.buysch_lst_mid_li{height:30px;}
.buysch_lst_mid_li .buysch_lstmid_li1{width:110px}
.buysch_lst_mid_li .buysch_lstmid_li2{width:335px}
.buysch_lst_mid_li .buysch_lstmid_li3{width:220px}
.buysch_lst_mid_li .buysch_lstmid_li4{width:140px}
.buysch_lst_mid_li .buysch_lstmid_li5{width:110px}
.lstbg{background:#e3e3e3}
.buysch_lst_botom{margin-top:8px;padding-bottom:16px;background:#f4f4f4}
.buysch_lst_botom h3{margin-left:16px;height:40px;line-height:40px;border-style:none none dashed none}
.buysch_lst_botom_titleform,.buysch_lst_botom_emaiform{margin:16px 210px 0px;height:24px;line-height:24px;}
.buysch_lst_botom_areaform{margin:16px 210px 0px} 
.buysch_lst_form_txt{display:block;width:100px;text-align:right;float:left}
.buysch_lst_form_ipt{display:block;margin-left:8px;float:left}
.buysch_lst_form_ipt input,.buysch_lst_form_area textarea{width:320px;height:22px;border:solid 1px #a8a8a8}
.buysch_lst_form_area textarea{margin-left:8px;*margin-left:14px;_margin-left:12px;height:160px}
.buysch_lst_botom_sure a{display:block;width:121px;height:30px;margin:20px auto 10px;background:url(../images/trade/post/pstbuylst.gif) left -216px;text-align:center;line-height:30px}
.buysch_lst_foot{margin-top:8px;border:solid 1px #ececec}
.buysch_lst_ftsch_l,.buysch_lst_foot_input{display:block;height:30px;width:90px;margin:5px 0px 5px 240px;*margin-left:240px;_margin-left:120px;line-height:30px;border:solid 1px #ececec;float:left}
.buysch_lst_ftsch_l{padding-right:20px;background:url(../images/trade/post/buyschlst90.gif) no-repeat 70px 5px}
.buysch_lst_foot_input,.buysch_lst_foot_r a{width:300px;margin:5px 5px 8px 5px}
.buysch_lst_foot_input input{width:300px;height:30px;border:none;background:none}
.buysch_lst_foot_r a{display:block;width:88px;height:31px;background:url(../images/trade/post/pstbuylst.gif) left -136px;font:normal 12px/30px '宋体';color:white;float:left}
.buysch_lst_foot_r a:hover{color:white;background:url(../images/trade/post/pstbuylst.gif) left -175px;}
/********postbuy  search last  start**********/

/******postbuy search noresulst start*******/
.trade_buysch_norstblock{margin-top:16px}
.buysch_norslt_top{height:30px;background:url(../images/trade/post/pstbuy_shchno_bg.gif);padding-left:16px;font:500 12px/31px '宋体'}
.buysch_norslt_top_l{display:block;float:left}
.buysch_norslt_top_r{padding-right:16px;float:right}
.buysch_norslt_conts{margin-top:8px}
.buysch_norslt_conts_l{width:540px;float:left}
.norslt_cl_top_t{margin:36px}
.norslt_cl_top_t_l{width:120px;height:120px;display:block;float:left}
.norslt_cl_top_t_r{display:block;float:right}
.norslt_cl_top_txt,.norslt_cl_top_txt2{display:block;font-size:16px;padding-top:16px;color:#256a00}
.norslt_cl_top_txt2{padding-left:20px;background:url(../images/trade/post/pstbuy_schno_06.gif) no-repeat left 16px;font-size:14px;color:#f27800}
.buysch_norslt_cl_top h3{margin-left:8px;font-size:14px}
.buysch_norslt_conts_mid,.buysch_norslt_conts_btm{background:#f3f3f3;margin:23px 20px 0px 0px;padding:20px 0px 20px 6px;*padding:20px 0px 34px 6px;_padding:20px 0px 20px 6px;}
.buysch_norslt_conts_mid{margin:12px 20px 0px 0px;}
.norslt_conts_mid_t,.norslt_conts_mid_sch,.norslt_conts_btm_top,.norslt_conts_btm_btm{display:block;font-size:14px;height:16px;margin-left:14px}
.norslt_conts_mid_t,.norslt_conts_btm_top{margin-bottom:8px}
.norslt_conts_mid_t .fontgrey{margin-left:22px}
.norslt_conts_mid_sch input{width:385px;height:26px;border:solid 1px #a8a8a8;color:#aeadad;font:normal 12px/26px '宋体';float:left}
.norslt_conts_mid_btn{display:block;background:url(../images/trade/post/pstbuylst.gif) -165px -53px;width:94px;height:26px;line-height:26px;border-left:none;text-align:center;float:left}
.norslt_conts_mid_btn:hover{background:url(../images/trade/post/pstbuylst.gif) -165px -91px;}
.norslt_conts_btm_btn{display:block;background:url(../images/trade/post/pstbuylst.gif) left -44px;width:139px;height:35px;line-height:35px;text-align:center;float:left}
.norslt_conts_btm_btn:hover{background:url(../images/trade/post/pstbuylst.gif) left -91px;}
.norslt_conts_btm_txt,.norslt_conts_btm_num{display:block;float:left;height:35px;line-height:35px;margin-left:14px}
.norslt_conts_btm_txt{margin-left:90px}
.norslt_conts_btm_num{background:url(../images/trade/post/pstbuy_schno_18.gif) no-repeat left 8px;padding-left:22px}
.buysch_norslt_conts_r{background:#f3f3f3;width:414px;height:428px;float:right}
.buysch_norslt_conts_r h3{margin:8px 16px}
.buysch_norslt_lists{margin:0px 16px;padding:8px 16px 0px;background:white}
.buysch_norslt_lists_li li{display:block;margin:8px 0px;*margin:9px 0px;_margin:8px 0px;padding-right:8px;float:left}
.buysch_norslt_lists_li h4{height:16px;color:#145900;font-size:14px;}
/******postbuy search noresulst end*******/



