/********		trade index    								************
*********		2011-9-15  yt9119@gmail.com		*****
 *****/
/***** trade index A ****/
.hb_tradeleader_tit{float:left}
.hb_tradeleader_tip{float:right}
/**********trade index A left***********/
.hb_trade_blocka_l{width:238px;height:296px;border:solid 1px #c3c8b8;float:left; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px}
.content_sign{background:url(../images/trade/trade_07.gif) no-repeat left top;margin-left:10px;padding-left:18px}
.hb_trade_blocka_l_t{height:30px; background:url(../images/trade/trade_bg_01.gif);line-height:30px;font-weight:bold}

.trade_blocka_l_news{width:238px}
.trade_blocka_l_news_img{width:60px;float:left; padding:8px;_padding:6px}
.trade_blocka_l_news_img img{ padding:2px; border:1px solid #dfdfdf; width:56px; height:70px}
.trade_blocka_l_news_cont{width:162px;float:right;padding:8px 0; line-height:20px}
.trade_blocka_l_news_cont h3{ line-height:32px}
.trade_blocka_l_lst{line-height:20px;margin:14px 6px 0px 0px}
.contents_lists li{background:url(../images/global/hb_listblack.gif) no-repeat 14px 11px;padding-left:22px;height:24px; line-height:24px; font-size:14px}

/**********trade index A mid***********/
.hb_trade_blocka_m{width:460px;height:298px;float:left;margin-left:8px}
.trade_slider_img{ width:460px; height:228px;overflow:hidden}

.trade_m_hotmarks{width:458px;height:60px;background:#F6F6F6 url(../images/trade/trade_hotkey.png) no-repeat 50px top;border:solid 1px #c3c8b8;margin-top:8px}
.m_hotmarks_t{background:#e3f3cf;width:50px;height:48px; padding:6px 0;float:left; text-align:center; font:normal bold 14px/24px '宋体'; letter-spacing:2px}
.m_hotmarks_r{width:400px;height:48px;float:right; line-height:24px;padding:6px 0;}
.m_hotmarks_r span{white-space:nowrap; word-break:keep-all}

/*********trade index A right**********/
.hb_trade_blocka_r{width:240px;height:296px;float:right}

.server_box_nav{height:29px; line-height:29px;color:#2b84b2}
.server_box_nav_brdt{ border:1px solid #c3c8b8; border-bottom:none}
.server_box_nav_brdb{ border:1px solid #c3c8b8; border-top:none}
.hb_trade_blocka_r .server_box_nav span{ display:block;padding-left:18px; width:100px; float:left; font-size:14px; font-weight:bold;text-align:center}
.server_box_nav span a{ color:#2b84b2}
.server_box_brand,.server_box_serve,.server_box_resource,.server_box_channel,.server_box_brand_s,.server_box_serve_s,.server_box_resource_s,.server_box_channel_s{background:url(../images/trade/trade_serve.gif) 12px top no-repeat}
.server_box_brand{ border-bottom:1px solid #c3c8b8; border-right:1px solid #c3c8b8; background-position:6px -90px}
.server_box_brand_s{ border-bottom:1px solid #FFF; border-right:1px solid #c3c8b8; background-position:6px -60px}
.server_box_serve{ border-bottom:1px solid #c3c8b8;background-position:6px -30px}
.server_box_serve_s{ border-bottom:1px solid #FFF;background-position:6px top}
.server_box_resource{ border-top:1px solid #c3c8b8; border-right:1px solid #c3c8b8;background-position:6px -210px}
.server_box_resource_s{ border-top:1px solid #FFF; border-right:1px solid #c3c8b8;background-position:6px -180px}
.server_box_channel{ border-top:1px solid #c3c8b8;background-position:6px -150px}
.server_box_channel_s{ border-top:1px solid #FFF;background-position:6px -120px}

.server_box_conts{ height:188px; width:190px; border-left:1px solid  #c3c8b8; border-right:1px solid  #c3c8b8;padding:24px}
.server_box_conts ul li{ font-size:13px;  line-height:24px; background:url(../images/global/hb_listblack.gif) left 11px no-repeat; padding-left:8px}

.server_box_conts  ul{ }

/********mainblock index B start*****/
.trade_adv{display:block;margin:8px 3px;}

/******** mainblock index C start*********/

.hb_category{ line-height:24px;}
.hb_category_block{ width:958px}
.hb_category_sorts{ }
.hb_category_sorts_bghover{ border:1px solid #1fa210; background-color:#f5feee;width:956px}
.hb_category_sorts_bg{background-color:#FFF; border:1px solid #c3c8b8;width:956px }
.hb_category_t,.hb_category_thover{height:336px;}
.hb_category_t h2,.hb_category_thover h2{margin:84px auto}
.hb_category_t,.hb_category_thover{ background:url(../images/trade/trade_hbc.gif) -49px top repeat-y; width:24px;padding:12px; text-align:center; font:normal bolder 14px/28px '宋体'; font-weight:bold; word-break:break-all; float:left;border-right:1px solid #c3c8b8}
.hb_category_thover{ background-position:left top; color:#FFF}
.hb_category_thover a{ color:#FFFFFF}
.hb_category_list{ float:right;width: 880px; padding:10px}
.hb_category_hotwords{width: 880px}
.hb_category_hotwords_w{ float:left}
.hb_category_hotwords_m{ float:right}

.hb_category_list_ul{}
.hb_category_list_li{ float:left; width:292px; padding:5px 0}
.hb_category_subclassh3{ font:normal bold 14px/28px '宋体'}
.hb_category_subclassh3 a{color:#145900}
.hb_category_subclassul{ width:290px;}
.hb_category_subclassul li{ width:145px; float:left}
