/****************************/
/* asto-ep tradelist  hetao138@gmail.com 2011-9-16*/
/****************************/
.hb_tradelist_l{ width:768px; float:left}

.hb_tradelist_l_pot{height:30px;line-height:30px;background:url(../images/trade/tradelist/hb_tradelist_bg01.gif); padding-left:12px; margin-top:8px;}
.hb_tradelist_r{ width:768px; float:right}









/*********buysearch last style start*******/



/*********buysearch last style end*******/