<div id="down">
    <div class="line"></div>
    <ul>
        <li>
            <a href="$!{address.www}/about/index.asp">关于我们</a>
        </li>
        <li>
            <a href="http://www.recyclechina.com/" target="_blank">国际站</a>
        </li>
        <li>
            <a href="$!{address.www}/service/ppt/index.asp" target="_blank">品牌通服务</a>
        </li>
        <li>
            <a href="$!{address.www}/service/zst/" target="_blank">再生通服务</a>
        </li>
        <li>
            <a href="$!{address.www}/cn/helpcenter/" target="_blank">新手指南</a>
        </li>
        <li>
            <a href="$!{address.www}/webmap.html" target="_blank">网站地图</a>
        </li>
        <li>
            <a href="$!{address.www}/hkfs/" target="_blank">支付方式</a>
        </li>
        <li>
            <a href="$!{address.www}/about/question.asp" target="_blank">意见投诉</a>
        </li>
        <li>
            <a href="$!{address.www}/about/linkus.asp" target="_blank">友情链接</a>
        </li>
        <li>
            <a href="$!{address.www}/about/contactus.asp" target="_blank">客服中心</a>
        </li>
        <li>
            <a href="$!{address.www}/about/zhaopin.asp" target="_blank">诚聘英才</a>
        </li>
        <li>
            <a href="http://daohang.zz91.com/" target="_blank">产品展航</a>
        </li>
    </ul>
    <div style="display:none">
        <script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff41f07cad5c54cf66717306958dd62ed' type='text/javascript'%3E%3C/script%3E"));
		</script>
    </div>
    <span>全国统一服务热线：0571-56611111 56612345 市场合作：0571-56611688 广告服务：0571-56633088 传真：0571-56637777</span>
    <span>法律顾问：京衡律师集团事务所 罗益群 律师 RecycleChina © All Rights Reserved ZZ91再生网 版权所有</span>
    <span>ZZ91再生网为中国物资再生协会副会长单位 中国塑协理事单位</span>
    <span>并与中国有色金属工业协会、中国塑料协会 、阿里巴巴、《资源再生》杂志等达成战略合作</span>
    <!--文字部分-->
    <div id="img">
        <img src="$!{address.img}/zz91/picture/image/gongshang.gif" />
        <img src="$!{address.img}/zz91/picture/image/gongshangbeian.gif" />
        <img src="$!{address.img}/zz91/picture/image/Icp.gif" />
        <img src="$!{address.img}/zz91/picture/image/wangjing.gif" />
        <img src="$!{address.img}/zz91/picture/image/wangjing2.gif" />
        <img src="$!{address.img}/zz91/picture/image/360login.png" />
    </div>
</div>
