<div class="search">
    <form action="searchPic.htm" method="get" class="center">
        <input name="searchKey" id="searchKey" type="text" class="search_center" />
        <input name="submit" type="submit" value="" class="submit" />
    </form>
</div>
