<link rel="stylesheet" href="$!{address.img}/kl91/css/kl91.base.css" />
<link rel="stylesheet" href="$!{address.img}/kl91/wangpu/css/kl91.esite.css" />
	
<script src="$!{address.img}/kl91/js/modernizr.js"></script>
<script src="$!{address.img}/kl91/js/jquery-1.7.2.min.js"></script>