<link rel="stylesheet" href="$!{address.img}/zz91/xianhuo/css/zz91.xianhuo.main.css" />
#set($menu="cx")
#parse("/common/menu.vm")
<!-- 横幅广告start -->
<div class="wrapper ad">
	##顶部
	<script type="text/javascript" src="http://gg.zz91.com/show?p=537"></script>
</div>
<!-- 横幅广告end -->
<div class="wrapper district mt clearfix">
	<header class="d_h">
		<h2 class="t">正在促销</h2>
	</header>
	<section class="d_main clearfix">
		#foreach($obj in $list)
    		<div class="action_wrap">
    			<div class="head buy">
    				<h2 class="t">促销</h2>
    				<div class="remain J_timer" data-timer="#printFragmentDate('yyyy/MM/dd/HH/mm/ss' $!{obj.spotPromotions.expiredTime})">
    					剩余时间<span class="highlight h"></span>小时<span class="highlight m"></span>分<span class="highlight s"></span>秒
    				</div>
    			</div>
    			<div class="cont">
    				<p>
						<span class="highlight r">$!{obj.products.location}</span>
						<strong>
							<a href="#springUrl('/detail')$!{obj.spotPromotions.spotId}.htm" target="_blank">
								$!{obj.products.title}
							</a>
						</strong>
					</p>
    				<p>
						<span class="r">$!{obj.spotPromotions.quantity}$!{obj.spotPromotions.quantityUnit}</span>
						市场价：$!{obj.spotPromotions.price}$!{obj.spotPromotions.priceUnit}/$!{obj.spotPromotions.quantityUnit}
					</p>
    				<p>
						<a href="#springUrl('/detail')$!{obj.spotPromotions.spotId}.htm" class="action_btn action_buy r">购买</a>
						促销价：<b class="highlight">$!{obj.spotPromotions.promotionsPrice}</b>
						$!{obj.spotPromotions.priceUnit}/$!{obj.spotPromotions.quantityUnit}
					</p>
				</div>
    		</div>
		#end
	</section>
	<aside class="d_side ad">
		##广告右侧
		<script type="text/javascript" src="http://gg.zz91.com/show?p=538"></script>
	</aside>
</div>
<div class="wrapper district clearfix">
	<header class="d_h">
		<h2 class="t">往期促销</h2>
	</header>
	<section class="d_main clearfix">
		#foreach($obj in $expiredList)
		<div class="action_wrap">
			<div class="head buy">
				<h2 class="t">促销</h2>
				<div class="remain J_timer" data-timer="#printFragmentDate('yyyy/MM/dd/HH/mm/ss' $!{obj.spotPromotions.expiredTime})">
					剩余时间<span class="highlight h"></span>小时<span class="highlight m"></span>分<span class="highlight s"></span>秒
				</div>
			</div>
			<div class="cont">
				<p>
					<span class="highlight r">$!{obj.products.location}</span>
					<strong>
						<a href="#springUrl('/detail')$!{obj.spotPromotions.spotId}.htm" target="_blank">
							$!{obj.products.title}
						</a>
					</strong>
				</p>
				<p>
					<span class="r">$!{obj.spotPromotions.quantity}$!{obj.spotPromotions.quantityUnit}</span>
					市场价：$!{obj.spotPromotions.price}$!{obj.spotPromotions.priceUnit}/$!{obj.spotPromotions.quantityUnit}
				</p>
				<p>
					<a href="#springUrl('/detail')$!{obj.spotPromotions.spotId}.htm" class="action_btn action_buy r">购买</a>
					促销价：<b class="highlight">$!{obj.spotPromotions.promotionsPrice}</b>
					$!{obj.spotPromotions.priceUnit}/$!{obj.spotPromotions.quantityUnit}
				</p>
			</div>
		</div>
		#end
	</section>
	<aside class="d_side">
		<div class="list_wrap">
			<h3 class="head">促销速递</h3>
			<ul class="list">
				<li title="江苏常州客户购得10吨PP小洋人颗粒">江苏常州客户购得10吨PP小洋人</li>
                <li title="山东烟台客户购得10吨PMMA副牌料">山东烟台客户购得10吨PMMA副牌</li>
                <li>辽宁大连客户购得50吨PVC破碎料</li>
                <li title="广东佛山客户购得15吨PP一级共聚粒子">广东佛山客户购得15吨PP一级共</li>
                <li>广州客户购得10吨ABS本色粒子</li>
                <li>上海客户购得35吨ABS破碎料</li>
                <li title="浙江慈溪客户购得12吨EPS再生颗粒">浙江慈溪客户购得12吨EPS再生颗</li>
                <li title="河南南阳客户购得10吨PMMA水口料">河南南阳客户购得10吨PMMA水口</li>
                <li title="广东佛山客户购得15吨HDPE破碎料">广东佛山客户购得15吨HDPE破碎</li>
                <li title="山东临沂客户购得10吨黑色PP颗粒">山东临沂客户购得10吨黑色PP颗</li>
##                <li>浙江余姚客户购得32吨ABS机壳料</li>
##                <li>上海客户购得10吨ABS机壳料</li>
##                <li>山东青岛客户购得15吨PET杂色破碎料</li>
##                <li>浙江余姚客户购得10吨ABS破碎料</li>
##                <li>大石桥客户购得16吨PC光盘破碎料</li>
##                <li>江苏苏州客户购得20吨ABS颗粒</li>
##                <li>江苏宿迁客户购得8吨ABS/PS混合料</li>
##                <li>山东莱州客户购得16吨白色阻燃ABS破碎料</li>
##                <li>河南商丘客户购得40吨PET净片</li>
##                <li>河南商丘客户购得10吨一级pp颗粒</li>
##                <li>浙江金华客户购得30吨PET破碎料</li>
##                <li>山西太原客户购得20吨HDPE颗粒</li>
			</ul>
		</div> 
	</aside>
</div>
#set($name="促销")
#parse("/common/explain.vm")
#parse("/common/baoming.vm")
##<div class="wrapper district mt">
##	<header class="d_h">
##		<h2 class="t">供应商产品如何参加促销活动</h2>
##	</header>
##	<section class="how clearfix">
##		<ol class="how_step">
##			<li>1、已入驻现货商城会员</li>   
##			<li>2、参加促销产品必须为现货</li>   
##			<li>3、需提供清晰的不少于5张产品图片</li>
##			<li>4、配合现货商城工作人员提供所需的产品或公司资料</li>
##			<li>5、提前3个工作日向工作人员申请</li>
##			<li>6、审核通过后，排期上线</li>
##		</ol>
##		<div class="tel">
##			<p>再生通会员尊享入口</p>
##			<p><b>0571-56633100 18626881558</b></p>
##		</div>
##		<a href="#" target="_blank" class="apply">在线申请</a>
##		<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1270407913&amp;site=www.zz91.com&amp;menu=yes" target="_blank" class="contact">联系我们</a>
##	</section>
##</div>
<script src="$!{address.img}/zz91/xianhuo/js/zz91.xianhuo.js"></script>
<script>
jQuery(document).ready(function(){
	//下拉菜单
	xianhuo.allsort();
	//搜索框
	xianhuo.placeholder();
	//倒计时
	xianhuo.timer(".J_timer");
});
</script>