#set($menu="index")
#parse("/common/menu.vm")
<div class="home_main">
	<div class="wrapper clearfix">
		<div class="mainR">
			<div class="m">
				<dl class="banner" id="J_banner">
					<dt>
						##中部轮播 
						<script type="text/javascript" src="http://gg.zz91.com/show?p=519"></script>
					</dt>
				</dl>
				<div class="wrap carousel" id="J_carousel">
					<div class="head">
						<h2 class="t">品牌推荐区</h2>
					</div>
					<ul>
						##品牌推荐区 
						<script type="text/javascript" src="http://gg.zz91.com/show?p=520"></script>
					</ul>
				</div>
			</div>
            <script>
			function subfrmindex(frm) {
				if (frm.title.value == "") {
					alert("请输入采购产品！");
					frm.title.focus();
					return false;
				}
				if (frm.contact.value == "") {
					alert("请输入采购人！");
					frm.contact.focus();
					return false;
				}
				if (frm.useful.value == "") {
					alert("请输入产品用途！");
					frm.useful.focus();
					return false;
				}
				if (frm.quantity.value == "") {
					alert("请输入采购数量！");
					frm.quantity.focus();
					return false;
				}
				
				if (frm.mobile.value == "") {
					alert("请输入您的电话！");
					frm.mobile.focus();
					return false;
				}
			}
			</script>
            
			<aside class="side">
            	<div class="wtzh">
                <form action="/doTrust.htm" method="post" id="trustForm" onsubmit="return subfrmindex(this)">
                	<div>产品：<input type="text" name="title" id="title" class="inputcgxq"></div>
                    <div>数量：<input type="text" name="quantity" id="quantity" class="inputcgxq"></div>
                    <div>用途：<input type="text" name="useful" id="useful" class="inputcgxq"></div>
                    <div>姓名：<input type="text" name="contact" id="contact" class="inputcgxq"></div>
                    <div>电话：<input type="text" name="mobile" id="mobile" class="inputcgxq"></div>
                    <div><div class="wttext">委托<font color="#FF0000">人工找货</font></div><div class="wtput"><input type="image" name="imageField" id="imageField" src="http://img0.zz91.com/zz91/xianhuo/images/indexcgxq.jpg"></div></div>
                </form>
                <div style="clear:both"></div>
                </div>
                
				<!--
                <div class="info_board">
					<div class="calendar" id="J_calendar">
						<span class="date"></span>
						<span class="year"></span>
						<span class="month"></span>
					</div>
					
					<ul class="infos">
						<li>入驻商家总数: <b class="highlight">$!{sj}</b>家</li>
						<li>供应货物总量: <b class="highlight">$!{hw}</b>万吨</li>
						<li>现存货物价值: <b class="highlight">$!{hjz}</b>亿元</li>
						<li>实时访客数量: <b class="highlight">$!{fk}</b>人</li>
					</ul>
				</div>
                
				<div class="wrap mt">
					<div class="head">
						<h2 class="t">名企入驻</h2>
					</div>
					<div class="cont ad">
						##名企入驻 
						<script type="text/javascript" src="http://gg.zz91.com/show?p=521"></script>
						##<img src="#" alt="" width="204" height="100">
					</div>
				</div>-->
				<div class="wrap mt">
					<div class="head">
						<h2 class="t">商城公告</h2>
						<a href="$!{address.huzhu}/search.htm?keywords=%E7%8E%B0%E8%B4%A7%E5%95%86%E5%9F%8E" class="addon" target="_blank">更多>></a>
					</div>
					<div class="cont">
						
						<ul class="list">
							#cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=10101002","","","")
								#foreach($obj in $list)
									<li><a href="$!{obj.link}" target="_blank">•$!{obj.title}</a></li>
								#end
							#end
						</ul>

					</div>
				</div>
			</aside>
		</div>
	</div>	
</div>

<div class="wrapper mt clearfix">
	<div class="sideL">
		<div class="wrap">
			<div class="head">
				<h2 class="t">废塑料交易集散地</h2>
			</div>
			<div class="cont places">
				<h3 class="p_t">专业市场集散地优势资源，现货直供</h3>
				<section class="p_w">
					<h4 class="p_n">余姚塑料城</h4>
					<a href="#springUrl('/spot.htm?location=%E6%B5%99%E6%B1%9F&')" class="enter" target="_blank">点击进入</a>
					<p>中国最大的塑料交易市场</p>
				</section>
				<section class="p_w">
					<h4 class="p_n">杏坛废塑料</h4>
					<a href="#springUrl('/spot.htm?location=%E5%B9%BF%E4%B8%9C')" class="enter" target="_blank">点击进入</a>
					<p>世界最大进口废塑料集散地</p>
				</section>
				<section class="p_w">
					<h4 class="p_n">山东废塑料</h4>
					<a href="#springUrl('/spot.htm?location=%E5%B1%B1%E4%B8%9C&')" class="enter" target="_blank">点击进入</a>
					<p>国内第二大废塑料交易市场</p>
				</section>
			</div>
		</div>
	</div>
	<div class="mainR">
		
       #foreach($obj in $promotionList)
		 <div class="action_wrap">
			<div class="head buy">
				<h2 class="t">促销</h2>
				<div class="remain J_timer" data-timer="#printFragmentDate('yyyy/MM/dd/HH/mm/ss' $!{obj.spotPromotions.expiredTime})">##2013/4/18/12/10/0
					剩余时间<span class="highlight h"></span>小时<span class="highlight m"></span>分<span class="highlight s"></span>秒
				</div>
			</div>
			<div class="cont">
				<p><span class="highlight r">$!{obj.products.location}</span><strong><a href="#springUrl('/detail')$!{obj.spotPromotions.spotId}.htm" target="_blank">$!{obj.products.title}</a></strong></p>
				<p><span class="r">$!{obj.spotPromotions.quantity}$!{obj.spotPromotions.quantityUnit}</span>市场价：$!{obj.spotPromotions.price}$!{obj.spotPromotions.priceUnit}/$!{obj.spotPromotions.quantityUnit}</p>
				<p><a href="#springUrl('/detail')$!{obj.spotPromotions.spotId}.htm" target="_blank" class="action_btn action_buy r">购买</a>促销价：<b class="highlight">$!{obj.spotPromotions.promotionsPrice}</b>$!{obj.spotPromotions.priceUnit}/$!{obj.spotPromotions.quantityUnit}</p>
			</div>
		</div>
	   #end
	   
	   ## <div>三条促销++++++++${proEndTime}</div>
	   ## <div>三条竞拍++++++++${aucEndTime}</div>    
	   ##<div>江浙沪等地区 三条++++++++${zjEndTime}</div>
	   ##	<div>江浙沪等地区右边三条++++++++${zjtEndTime}</div>
	  ##	<div>广东山东++++++++${gdEndTime}</div>   
	  ##	<div>广东山东右边++++++++${gdtEndTime}</div> 
		
	 ##	<div>京津唐++++++++${jjtEndTime}</div>
	 ##	<div>京津唐右边++++++++${jjttEndTime}</div>
	 ##	<div>其他++++++++${qtEndTime}</div>
	##	<div>其他右边++++++++${qttEndTime}</div>
		
		#foreach($obj in $auctionList)
		<div class="action_wrap">
			<div class="head quote">
				<h2 class="t">竞拍</h2>
				<div class="remain J_timer" data-timer="#printFragmentDate('yyyy/MM/dd/HH/mm/ss' $!{obj.spotAuction.expiredTime})">
					剩余时间<span class="highlight h"></span>小时<span class="highlight m"></span>分<span class="highlight s"></span>秒
				</div>
			</div>
			<div class="cont">
				<p><span class="r">$!{obj.products.location}</span><strong><a href="#springUrl('/detail')$!{obj.spotAuction.spotId}.htm" target="_blank">$!{obj.products.title}</a></strong></p>
				<p><span class="r">已报价<b class="highlight">#if($!{obj.logCount})$!{obj.logCount}#else 0#end</b>次</span>现货：$!{obj.spotAuction.quantity}$!{obj.spotAuction.quantityUnit}</p>
				<p><a href="#springUrl('/detail')$!{obj.spotAuction.spotId}.htm" target="_blank" class="action_btn action_quote r">报价</a>起拍价：<b class="highlight">$!{obj.spotAuction.startPrice}</b>$!{obj.spotAuction.priceUnit}/$!{obj.spotAuction.quantityUnit}</p>
			</div>
		</div>
		#end
		
	</div>
</div>
<div class="wrapper clearfix">
	## 地区 上方 广告
	<div class="sideL">
		##交易集散地下 
		<script type="text/javascript" src="http://gg.zz91.com/show?p=522"></script>
	</div>
	<div class="mainR">
		##交易集散地下长幅 
		<script type="text/javascript" src="http://gg.zz91.com/show?p=523"></script>
	</div>
</div>

<div class="wrapper floor mt clearfix">
	<div class="floor_h">
		<h2 class="t">1F 江浙沪</h2>
		<ul class="links">
			<li><a href="#springUrl('/spot.htm?title=abs&location=浙江%7C江苏%7C上海')" target="_blank">ABS</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pet&location=浙江%7C江苏%7C上海')" target="_blank">PET</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pp&location=浙江%7C江苏%7C上海')" target="_blank">PP</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pc&location=浙江%7C江苏%7C上海')" target="_blank">PC</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pe&location=浙江%7C江苏%7C上海')" target="_blank">PE</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pa&location=浙江%7C江苏%7C上海')" target="_blank">PA</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pmma&location=浙江%7C江苏%7C上海')" target="_blank">PMMA</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=eva&location=浙江%7C江苏%7C上海')" target="_blank">EVA</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pvc&location=浙江%7C江苏%7C上海')" target="_blank">PVC</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=eps&location=浙江%7C江苏%7C上海')" target="_blank">EPS</a></li>
			<li>|<a href="#springUrl('/spot.htm?location=浙江%7C江苏%7C上海')" target="_blank">其它</a></li>
		</ul>
	</div>
	<div class="floor_c">
		<div class="floor_l ad">
			##江浙沪 广告
			##1F左侧 
			<script type="text/javascript" src="http://gg.zz91.com/show?p=524"></script>
		</div>
		
		<div class="floor_m">
			#foreach($obj in $jzhTJ)
    			#set($i = $!{velocityCount}%3)
    			#if($i==0)
    				#set($i = 3)
				#end
				## 判断是否为json 格式
				##if(${obj.title.substring(0,1)}=="{")
        			<div class="item type$!{i}" >
						##set($json = $jsonObject.fromObject($!{obj.title}))
						<h3 class="name"><a href="$!{obj.dataIndex.link}" target="_blank" title="$!{obj.json.title}">现货$!{obj.json.productsTypeLabel}#printTitle($!{obj.json.title} 12 "")</a></h3>
						<figure><a href="$!{obj.dataIndex.link}" target="_blank"><img src="$!{address.thumb}$!{address.resource}${obj.dataIndex.pic}&width=88&height=88" alt="$!{obj.json.title}" width="88" height="80"></a></figure>
        				<p title="$!{obj.json.contact}">#printTitle($!{obj.json.contact} 6 ".")</p>
        				<p class="highlight">$!{obj.json.location}</p>
        				<p title="$!{obj.json.mobile}">#printTitle($!{obj.json.mobile} 11 ".")</p>
        				<p>
							#if($!{obj.json.membershipCode})
								<i class="icon a1" title="再生通第$!{obj.json.zstYear}年"></i>
							#end
        					<i class="icon a5" title="现货"></i>
							#if($!{obj.json.isBail}=="1")
								<i class="icon a4" title="已缴纳保证金"></i>
							#else
								<i class="icon a4_grey" title="未缴纳保证金"></i>
							#end
							<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1270407913&amp;site=www.zz91.com&amp;menu=yes" class="icon a2" target="_blank"></a>
        				</p>
        			</div>
				##end
			#end
		</div>
		 
		<div class="floor_r">
			#foreach($obj in $jzhTrade)
				<section>
					<p><a href="$!{address.trade}/productdetails$!{obj.products.id}.htm" target="_blank">#printProductType($!{obj.products.productsTypeCode} "" "")#printTitle($!{obj.products.title} 11 ".")</a></p>
					<p class="highlight">价格：#priceAndUnit($!{obj.products} "/")</p>
					<p>#printTitle($!{obj.company.name} 13 ".")</p>
				</section>
			#end
		</div>
		
	</div>
</div>

<div class="wrapper floor mt clearfix">
	<div class="floor_h">
		<h2 class="t">2F 广东山东</h2>
		<ul class="links">
			<li><a href="#springUrl('/spot.htm?title=abs&location=广东%7C山东')" target="_blank">ABS</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pet&location=广东%7C山东')" target="_blank">PET</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pp&location=广东%7C山东')" target="_blank">PP</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pc&location=广东%7C山东')" target="_blank">PC</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pe&location=广东%7C山东')" target="_blank">PE</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pa&location=广东%7C山东')" target="_blank">PA</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pmma&location=广东%7C山东')" target="_blank">PMMA</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=eva&location=广东%7C山东')" target="_blank">EVA</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pvc&location=广东%7C山东')" target="_blank">PVC</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=eps&location=广东%7C山东')" target="_blank">EPS</a></li>
			<li>|<a href="#springUrl('/spot.htm?location=广东%7C山东')" target="_blank">其它</a></li>
		</ul>
	</div>
	<div class="floor_c">
		<div class="floor_l ad">endpageDate
			##2F左侧 
			<script type="text/javascript" src="http://gg.zz91.com/show?p=525"></script>
		</div>
		
		<div class="floor_m">
			#foreach($obj in $gdsdTJ)
    			#set($i = $!{velocityCount}%3)
    			#if($i==0)
    				#set($i = 3)
				#end
    			<div class="item type$!{i}" >
					<h3 class="name"><a href="$!{obj.dataIndex.link}" target="_blank" title="$!{obj.json.title}">现货$!{obj.json.productsTypeLabel}#printTitle($!{obj.json.title} 12 "")</a></h3>
					<figure><a href="$!{obj.dataIndex.link}" target="_blank"><img src="$!{address.thumb}$!{address.resource}${obj.dataIndex.pic}&width=88&height=88" alt="$!{obj.json.title}" width="88" height="80"></a></figure>
    				<p title="$!{obj.json.contact}">#printTitle($!{obj.json.contact} 6 ".")</p>
    				<p class="highlight">$!{obj.json.location}</p>
    				<p title="$!{obj.json.mobile}">#printTitle($!{obj.json.mobile} 11 ".")</p>
    				<p>
						#if($!{obj.json.membershipCode})
							<i class="icon a1" title="再生通第$!{obj.json.zstYear}年"></i>
						#end
    					<i class="icon a5" title="现货"></i>
						#if($!{obj.json.isBail}=="1")
							<i class="icon a4" title="已缴纳保证金"></i>
						#else
							<i class="icon a4_grey" title="未缴纳保证金"></i>
						#end
						<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1270407913&amp;site=www.zz91.com&amp;menu=yes" class="icon a2" target="_blank"></a>
    				</p>
    			</div>
			#end
		</div>
	
		<div class="floor_r">
			#foreach($obj in $gdsdTrade)
				<section>
					<p><a href="$!{address.trade}/productdetails$!{obj.products.id}.htm" target="_blank">#printProductType($!{obj.products.productsTypeCode} "" "")#printTitle($!{obj.products.title} 11 ".")</a></p>
					<p class="highlight">价格：#priceAndUnit($!{obj.products} "/")</p>
					<p>#printTitle($!{obj.company.name} 13 ".")</p>
				</section>
			#end
		</div>
	</div>
</div>
## 2f 下方 广告
<div class="wrapper floor mt clearfix">
	##2F下侧
	<script type="text/javascript" src="http://gg.zz91.com/show?p=526"></script>
</div>
<div class="wrapper floor mt clearfix">
	<div class="floor_h">
		<h2 class="t">3F 京津唐 </h2>
		<ul class="links">
			<li><a href="#springUrl('/spot.htm?title=abs&location=北京%7C天津%7C唐山')" target="_blank">ABS</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pet&location=北京%7C天津%7C唐山')" target="_blank">PET</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pp&location=北京%7C天津%7C唐山')" target="_blank">PP</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pc&location=北京%7C天津%7C唐山')" target="_blank">PC</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pe&location=北京%7C天津%7C唐山')" target="_blank">PE</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pa&location=北京%7C天津%7C唐山')" target="_blank">PA</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pmma&location=北京%7C天津%7C唐山')" target="_blank">PMMA</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=eva&location=北京%7C天津%7C唐山')" target="_blank">EVA</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pvc&location=北京%7C天津%7C唐山')" target="_blank">PVC</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=eps&location=北京%7C天津%7C唐山')" target="_blank">EPS</a></li>
			<li>|<a href="#springUrl('/spot.htm?location=北京%7C天津%7C唐山')" target="_blank">其它</a></li>
		</ul>
	</div>
	<div class="floor_c">
		<div class="floor_l ad">
			##3F左侧 
			<script type="text/javascript" src="http://gg.zz91.com/show?p=527"></script>
		</div>
		<div class="floor_m">
			#foreach($obj in $jjtTJ)
    			#set($i = $!{velocityCount}%3)
    			#if($i==0)
    				#set($i = 3)
				#end
    			<div class="item type$!{i}" >
					<h3 class="name"><a href="$!{obj.dataIndex.link}" target="_blank" title="$!{obj.json.title}">现货$!{obj.json.productsTypeLabel}#printTitle($!{obj.json.title} 12 "")</a></h3>
					<figure><a href="$!{obj.dataIndex.link}" target="_blank"><img src="$!{address.thumb}$!{address.resource}${obj.dataIndex.pic}&width=88&height=88" alt="$!{obj.json.title}" width="88" height="80"></a></figure>
    				<p title="$!{obj.json.contact}">#printTitle($!{obj.json.contact} 6 ".")</p>
    				<p class="highlight">$!{obj.json.location}</p>
    				<p title="$!{obj.json.mobile}">#printTitle($!{obj.json.mobile} 11 ".")</p>
    				<p>
						#if($!{obj.json.membershipCode})
							<i class="icon a1" title="再生通第$!{obj.json.zstYear}年"></i>
						#end
    					<i class="icon a5" title="现货"></i>
						#if($!{obj.json.isBail}=="1")
							<i class="icon a4" title="已缴纳保证金"></i>
						#else
							<i class="icon a4_grey" title="未缴纳保证金"></i>
						#end
						<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1270407913&amp;site=www.zz91.com&amp;menu=yes" class="icon a2" target="_blank"></a>
    				</p>
    			</div>
			#end
		</div>
			
		<div class="floor_r">
			#foreach($obj in $jjtTrade)
				<section>
					<p><a href="$!{address.trade}/productdetails$!{obj.products.id}.htm" target="_blank">#printProductType($!{obj.products.productsTypeCode} "" "")#printTitle($!{obj.products.title} 11 ".")</a></p>
					<p class="highlight">价格：#priceAndUnit($!{obj.products} "/")</p>
					<p>#printTitle($!{obj.company.name} 13 ".")</p>
				</section>
			#end
		</div>
	</div>
</div>
<div class="wrapper floor mt clearfix">
	<div class="floor_h">
		<h2 class="t">4F 其他地区</h2>
		<ul class="links">
			<li><a href="#springUrl('/spot.htm?title=abs')" target="_blank">ABS</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pet')" target="_blank">PET</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pp')" target="_blank">PP</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pc')" target="_blank">PC</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pe')" target="_blank">PE</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pa')" target="_blank">PA</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pmma')" target="_blank">PMMA</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=eva')" target="_blank">EVA</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=pvc')" target="_blank">PVC</a></li>
			<li>|<a href="#springUrl('/spot.htm?title=eps')" target="_blank">EPS</a></li>
			<li>|<a href="#springUrl('/spot.htm')" target="_blank">其它</a></li>
		</ul>
	</div>
	<div class="floor_c">
		<div class="floor_l ad">
			##4F左侧 
			<script type="text/javascript" src="http://gg.zz91.com/show?p=528"></script>
		</div>
		
		<div class="floor_m">
			#foreach($obj in $qtTJ)
				#set($i = $!{velocityCount}%3)
				#if($i==0)
					#set($i = 3)
				#end
				<div class="item type$!{i}" >
					<h3 class="name"><a href="$!{obj.dataIndex.link}" target="_blank" title="$!{obj.json.title}">现货$!{obj.json.productsTypeLabel}#printTitle($!{obj.json.title} 12 "")</a></h3>
					<figure><a href="$!{obj.dataIndex.link}" target="_blank"><img src="$!{address.thumb}$!{address.resource}${obj.dataIndex.pic}&width=88&height=88" alt="$!{obj.json.title}" width="88" height="80" /></a></figure>
					<p title="$!{obj.json.contact}">#printTitle($!{obj.json.contact} 6 ".")</p>
    				<p class="highlight">$!{obj.json.location}</p>
    				<p title="$!{obj.json.mobile}">#printTitle($!{obj.json.mobile} 11 ".")</p>
    				<p>
						#if($!{obj.json.membershipCode})
							<i class="icon a1" title="再生通第$!{obj.json.zstYear}年"></i>
						#end
    					<i class="icon a5" title="现货"></i>
						#if($!{obj.json.isBail}=="1")
							<i class="icon a4" title="已缴纳保证金"></i>
						#else
							<i class="icon a4_grey" title="未缴纳保证金"></i>
						#end
						<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1270407913&amp;site=www.zz91.com&amp;menu=yes" class="icon a2" target="_blank"></a>
    				</p>
    			</div>
			#end
		</div>
		
		<div class="floor_r">
			#foreach($obj in $qtTrade)
				<section>
					<p><a href="$!{address.trade}/productdetails$!{obj.products.id}.htm" target="_blank">#printProductType($!{obj.products.productsTypeCode} "" "")#printTitle($!{obj.products.title} 11 ".")</a></p>
					<p class="highlight">价格：#priceAndUnit($!{obj.products} "/")</p>
					<p>#printTitle($!{obj.company.name} 13 ".")</p>
				</section>
			#end
		</div>
	</div>
</div>
<div class="wrapper floor mt clearfix">
	<div class="floor_h">
		<h2 class="t">5F 相关服务</h2>
		<ul class="links">
			##<li><a href="" target="_blank">ABS</a></li><li>|</li><a href="" target="_blank">PET</a></li><li>|</li><a href="" target="_blank">PP</a></li><li>|</li><a href="" target="_blank">PC</a></li><li>|</li><a href="" target="_blank">PE</a></li><li>|</li><a href="" target="_blank">PA</a></li><li>|</li><a href="" target="_blank">PMMA</a></li><li>|</li><a href="" target="_blank">EVA</a></li><li>|</li><a href="" target="_blank">PVC</a></li><li>|</li><a href="" target="_blank">EPS</a></li><li>|</li><a href="" target="_blank">其它</a></li>
		</ul>
	</div>
	<div class="floor_c">
		##5F下侧 
		<script type="text/javascript" src="http://gg.zz91.com/show?p=529"></script>
	</div>
</div>
<dl class="friend_link wrapper clearfix">
	<dt>友情链接:</dt>
	<dd>
		#cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=10101000","","","")
    		#foreach($obj in $list)
    			<a href="$!{obj.link}" target="_blank">$!{obj.title}</a> |
    		#end
    	#end
	</dd>
</dl>
<script src="$!{address.img}/zz91/xianhuo/js/zz91.xianhuo.js"></script>
<script>
jQuery(document).ready(function(){
	//下拉菜单
	xianhuo.allsort({
		hide: false
	});
	//banner切换
	new xianhuo.Fader("#J_banner", {
		auto: 3,
		duration: 1,
		evt: "click"
	}).init();
	//滚动
	xianhuo.carousel("#J_carousel", {
		showNum: 4,
		controls: true,
		auto: 3000
	});
	//日历
	xianhuo.calendar("#J_calendar");
	//倒计时
	xianhuo.timer(".J_timer");
	//搜索框
	xianhuo.placeholder();
});
</script>

