<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="zh-CN"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="zh-CN"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="zh-CN"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zh-CN">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>现货商城</title>
	<link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico">
	<link rel="stylesheet" href="http://img0.zz91.com/zz91/xianhuo/css/zz91.xianhuo.common.css">
	<script src="http://img0.zz91.com/lib/asto/modernizr.js"></script>
	<script src="http://img0.zz91.com/lib/jquery/jquery.latest.min.js"></script>
</head>
<body>
<!-- 竞拍 -->
<div class="quote-wrap">
	<div class="group">
		<p class="tr"><strong class="fl">当前价<b class="highlight">7300/吨</b></strong><span class="dim">出价次数3次</span></p>
	</div>
	<div class="group">
		<p class="dim">距结束1小时30分</p>
	</div>
	<div class="group">
		<label for="" class="label">竞拍价格：</label>
		<div class="controls">
			<input type="text" class="price_field">
			<a class="add">+</a>
			<a class="minus">-</a>
		</div>
	</div>
	<div class="group">
		<div class="controls">
			<input type="submit" value="出 价" class="bid">
		</div>
	</div>
	<div class="group dim">起拍价 4800元/吨 | 加价幅度 50元/吨 | 保证金 100元</div>
</div>
<!-- 竞拍 -->
<!-- 举报 -->
<div class="report">
	<header class="re_head">
		<h3 class="t">举报内容</h3>
		<a href="" class="close">【关闭】</a>
	</header>
	<div class="re_body">
		<form action="">
			<div class="control-group">
				<label for="" class="control-label">被举报人：</label>
				<div class="controls">王先生</div>
			</div>
			<div class="control-group">
				<label for="" class="control-label">公司名称：</label>
				<div class="controls">杭州金源塑业有限公司</div>
			</div>
			<div class="control-group">
				<label for="" class="control-label">举报资源：</label>
				<div class="controls">供应PP颗粒</div>
			</div>
			<div class="control-group">
				<label for="" class="control-label">举报类型：</label>
				<div class="controls">
					<select name="" id=""><option value="价格不真实">价格不真实</option></select>
				</div>
			</div>
			<div class="control-group">
				<label for="" class="control-label">您了解到的真实价格是：</label>
				<div class="controls"><input type="text" class="field">元/吨</div>
			</div>
			<div class="control-group">
				<label for="" class="control-label">其他描述100字以内：</label>
				<div class="controls">
					<textarea name="" id="" class="field content-field">
					</textarea>
				</div>
			</div>
			<h4 class="reporter">举报人信息</h4>
			<div class="control-group">
				<label for="" class="control-label">电话：</label>
				<div class="controls"><input type="text" class="field"></div>
			</div>
			<div class="control-group">
				<label for="" class="control-label">E-mail：</label>
				<div class="controls"><input type="text" class="field"></div>
			</div>
			<div class="controls">
				<controls>
					<input type="submit" value="提交" class="submit">
				</controls>
			</div>
		</form>
	</div>
</div>
<!-- 举报 -->
<script src="http://img0.zz91.com/zz91/xianhuo/js/zz91.xianhuo.js"></script>  
</body>
</html>