<link rel="stylesheet" href="$!{address.img}/zz91/xianhuo/css/zz91.xianhuo.inner.css">
#parse("/common/menu.vm")
<!-- 查看购物车 -->
<div class="wrapper mt">
	<div class="broad">当前位置：<a href="#springUrl('/index.htm')">现货商城</a> > <a href="#">提交完成</a></div>
	<ul class="steps">
		<li style="z-index:9"><s class="f"></s>1.查看购物车<s class="l"></s></li>
		<li style="z-index:8"><s class="f"></s>2.确认订单信息<s class="l"></s></li>
		<li class="current" style="z-index:7"><s class="f"></s>3.提交完成<s class="l"></s></li>
	</ul>
</div>
<div class="wrapper mt">
	<p class="notice">您的订单已成功提交，我们会安排工作人员尽快受理您的订单，受理结果以电话形式通知您！点击“我的商城”可以查看已提交订单详情，感谢您的使用，祝您生意兴隆！</p>
	<p class="suc_action mt">
		<a href="#springUrl('/index.htm')" title="返回首页" class="action_btn action_buy">返回首页</a>
		<a href="$!{address.myrc}/myspot/index.htm" title="我的商城" class="action_btn action_quote">我的商城</a>
	</p>
</div>
<script src="$!{address.img}/zz91/xianhuo/js/zz91.xianhuo.js"></script>  
<script>
jQuery(function(){
	//下拉菜单
	xianhuo.allsort();
	//搜索框
	xianhuo.placeholder();
});
</script>