<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
	<!-- for include js code -->
	#parse("/zz91/common/import.vm")
	#parse("/zz91/common/context.vm")
	<script type="text/javascript">
		var PAGE_CONST = new function(){
			this.RESULT_GRID="RESULT_GRID";
			this.REPLY_FORM="REPLY_FORM";
			this.REPLY_WIN="REPLY_WIN";
		}
	</script>
	
	<script type="text/javascript" src="$!{address.js}/admin/feedback/view.js" ></script>
	<script type="text/javascript" >
		Ext.onReady(function(){
			
        	var grid=new ast.ast1949.admin.feedback.ResultGrid({
        		id:PAGE_CONST.RESULT_GRID,
        		listUrl:Context.ROOT+Context.PATH+"/admin/feedback/query.htm",
        		region:"center"
        	});
			
        	
        	var viewport=new Ext.Viewport({
        		layout:"border",
        		items:[grid]
        	});
			
			grid.loadNewFeedback();
        });
	</script>
</head>

<body>
</body>
</html>