#set($layout="/layout/defaultS.vm")

## page title
<section class="container mt" >
    <ul class="breadcrumb">
        <li>
            <a href="#springUrl('/photoalbum/index.htm')">
                <strong>相册管理</strong>
            </a>
        </li>
        <li>/</li>
        <li><strong>修改相册</strong></li>
    </ul>
</section>


<section class="container mt">
    <form id="form2" name="form2" method="post" action="#springUrl('/photoalbum/doUpdate.htm')">
        <h3 class="divide">相册信息</h3>
        <div class="control-group">
            <label for="tags" class="control-label">
                <span class="red">*</span>相册名称：
            </label>
            <div class="controls">
                <input type="text" class="field input-xxlarge validate[required]" name="name" id="name" value="$!{albumName}" />
            </div>
        </div>
        <div class="form-actions">
			<input type="hidden" name="id" value="$!{id}" />
            <input type="submit" class="btn btn-primary btn-large" name="publishBtn" id="publishBtn" value="现在更新" />
            <a class="btn btn-large" href="#springUrl('/photoalbum/index.htm')">取消</a>
        </div>
    </form>
</section>

#parse("/common/importValidate.vm")
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery("#form2").validationEngine("attach");
		myrc.select("Js_select");
		myrc.menu(5, null);
    })
</script>