<div class="hb_bar">
    <div class="hb_bar_contn">
		<div style="float:left;height:30px;">
			<a href="$!{address.www}" target="_blank"><img src="$!{address.img}/huanbao/images/esite2/msb1_03.gif" /></a>
		</div>
        <div class="hb_bar_serve">
            <ul>
				#if($!{epAuthUser})
					<li class="hb_welcome">欢迎访问<a href="$!{address.www}">中国环保网</a>!</li>
					<li><a href="$!{address.myesite}/supply/publish_StpOne.htm" rel="nofollow" target="_blank">快速发布</a></li>
					<li><a href="$!{address.myesite}" target="_blank">生意管家</a></li>
					<li><a href="$!{address.myesite}/logout.htm">注销</a></li>
				#else
    				<li class="hb_welcome">欢迎访问<a href="$!{address.www}" target="_blank">中国环保网</a>!</li>
    				<li><a href="$!{address.myesite}/regist.htm" rel="nofollow" target="_blank">免费注册</a></li>
    				<li><a href="$!{address.myesite}/login.htm" ref="nofollow" target="_blank">登录</a></li>
				#end
			</ul>
			<div class="clear"></div>
        </div>
        <div class="hb_bar_nav">
            <ul id="hb_bar_navls">
                <li>
                    <a style="color:#0774AC;" href="$!{address.www}/fudus/epmap.htm" target="_blank">网站导航</a>
                    <ul class="hb_bar_nav_web" id="hb_bar_nav_block">
                        <li>
                            <a href="$!{address.trade}" target="_blank">交易中心</a>
							<ul>
    							<li><a href="$!{address.www}/ws" target="_blank">污水处理网</a></li>
    							<li><a href="$!{address.www}/ys" target="_blank">原水处理网</a></li>
    							<li><a href="$!{address.www}/kq" target="_blank">空气净化网</a></li>
    							<li><a href="$!{address.www}/yj" target="_blank">材料药剂网</a></li>
    							<li><a href="$!{address.www}/hw" target="_blank">环卫清洁网</a></li>
    							<li><a href="$!{address.www}/beng" target="_blank">泵网</a></li>
								<li><a href="$!{address.www}/fa" target="_blank">阀网</a></li>
								<li><a href="$!{address.www}/fj" target="_blank">风机网</a></li>
    							<li><a href="$!{address.www}/yqyb" target="_blank">仪器仪表网</a></li>
    							<li><a href="$!{address.www}/zh" target="_blank">综合设备网</a></li>
							</ul>
						</li>
                    </ul>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
		<form action="$!{address.esite}/products.htm" method="post" name="searchForm">
        <div class="astop_bar_adf" >
	        <button onclick="submitForm();"><img src="$!{address.img}/huanbao/images/esite2/msb1_06.gif" /></button>
	        <label>该企业</label>
	        <input type="radio" name="radiotype" checked value="0"/>
	        <label>全站</label>
	        <input type="radio" name="radiotype" value="1"/>
			<input name="cid" type="hidden" value="$!{cid}"/>
	        <input name="keywords" type="text"/>
        </div>
		</form>
        <div class="clear"></div>
    </div>
</div>
<script language="JavaScript" > 
function submitForm(){
    if(jQuery("input[name='radiotype']:checked").val() == 0){ 
    	document.searchForm.action="#springUrl('/products.htm')"; 
    }else{ 
    	document.searchForm.action="$!{address.trade}/supply/index.htm"; 
    } 
    searchForm.submit(); 
}

jQuery(document).ready(function(){
	var liHover= $('#hb_bar_navls>li')||{};
	var viewLsStatus = false;
	liHover.mouseover(function(){
		if(!viewLsStatus){
			$(this).attr({'class':'ishover'})
			$(this).find('#hb_bar_nav_block').slideDown(300);
			var viewLsStatus=true;
		}
	}).mouseleave(function(){
		if(!viewLsStatus){
			$(this).attr({'class':''})
			$(this).find('#hb_bar_nav_block').slideUp(100);
			var viewLsStatus=false;
		}
	});
});
</script>