<!doctype html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>$!{seoTitle}</title>
	<meta name="keywords" content="$!{seoKeywords}" />
	<meta name="description" content="$!{seoDescription}" />
	
	<link rel="stylesheet" type="text/css" href="$!{address.css}/zz91.base.css"/>
	<link rel="stylesheet" type="text/css" href="$!{address.img}/zz91/forgetpasswd/css/index.css"/>
    <link rel="shortcut icon" href="http://img0.zz91.com/zz91/polymer/images/yousuyuan.ico" />
    <link rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.hack.css" />
    <link rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.comm.css" />
    <script src="http://img0.zz91.com/front/js/topbar/jquery.topbar.js"></script>
    <script src="http://img0.zz91.com/front/js/zz91.common.js"></script>
    <script type="text/javascript" src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/polymer/css/top.css">
	<script type="text/javascript" src="http://img0.zz91.com/bbs/js/zz91.bbs.slide.js"></script>
    <script type="text/javascript" src="http://img0.zz91.com/zz91/polymer/js/zz91.polymer.js"></script>
    <script type="text/javascript" src="http://img0.zz91.com/zz91/polymer/js/zz91.suliao.js"></script>
	<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css">
	<link rel="stylesheet" href="http://img0.zz91.com/zz91/polymer/css/library-cp.css" />
	<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/polymer/css/zz91.polymer1.css" />

	#parse("/common/context.vm")
	#parse("/seo/analysis_head.vm")
	## QQ登录接入 验证
	##<meta property="qc:admins" content="1030130677622116375" />
	
</head>
<body>
	
	<div class="slyl_top_main">
		<div class="slyl_top clearfix">
			#cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/top.htm","","","1")
				<script src="#springUrl('/fragment/yuanliao/status.htm')" type="text/javascript" ></script>
				$!{fragmentContext}
			#end
		</div>
	</div>
        <div class="login-nav clearfix">
            <div class="fl"><img src="http://img0.zz91.com/zz91/polymer/images/logo_suliao1.jpg"></div>
            <div class="fl login-name">会员登录问题</div>
            <div class="top-togo">已有账号，点击 <a href="#springUrl('/user/login.html')" class="orange-color">登录</a>  <span class="color-cc">&nbsp;&nbsp;|&nbsp;&nbsp;</span>  服务热线：0571-56611111</div>
        </div>
	$screen_content
##	#cacheFragment("$!{address.fragment}/china/footer.htm","","","")
##    	$!{fragmentContext}
##    #end
#parse("/common/footer.vm")
</body>
</html>
#parse("/seo/analysis_foot.vm")

