<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>$!{seoTitle}</title>
<meta name="keywords" content="$!{seoKeywords}" />
<meta name="description" content="$!{seoDescription}" />
<link rel="shortcut icon" href="http://img0.zz91.com/zz91/polymer/images/yousuyuan.ico" />
<link rel="stylesheet" href="http://img0.zz91.com/zz91/css/zz91.common.css" />
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css" />
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/polymer/css/zz91.polymer1.css" />
<script type="text/javascript" src="http://img0.zz91.com/bbs/js/zz91.bbs.slide.js"></script>
<script type="text/javascript" src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="http://img0.zz91.com/zz91/polymer/js/zz91.polymer.js"></script>
<script type="text/javascript" src="http://img0.zz91.com/zz91/polymer/js/zz91.suliao.js"></script>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css">
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/polymer/css/top.css">
#parse("/seo/analysis_head.vm")
</head>
<body>
	<div class="slyl_top_main">
		<div class="slyl_top clearfix">
			#cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/top.htm","","","1")
				<script src="#springUrl('/fragment/yuanliao/status.htm')" type="text/javascript" ></script>
				$!{fragmentContext}
			#end
		</div>
	</div>
	<div class="Sonlineid"></div>
	<div id="head">
		<div class="layout">
    		<div class="logo">
				<a href="$!{address.yuanliao}" >
                	<img src="http://img0.zz91.com/zz91/polymer/images/logo_suliao1.jpg" height="59"  alt="" />
            	</a>
			</div>
        	<div class="hd_head_search fl">
        		<div class="hd-search f_l">
        			<div class="select_list">
							<p class="bgf2">
					#if($inflag==2)
						<a href="javascript:;" id="ssnr" target="_self">搜企业</a>
					#elseif($inflag==3)
						<a href="javascript:;" id="ssnr" target="_self">搜报价</a>
					#else
						<a href="javascript:;" id="ssnr" target="_self">搜原料</a>
					#end
						
								<i class="sou-sj"></i>
							</p>
							<div class="selt-type">
								<a>搜原料</a>
								<a>搜企业</a>
								<a>搜报价</a>
							</div>
        			</div>
					
        			<form action="" method="get" name="hyformnew1" target="_blank" id="hyformnew1" onsubmit="return false;">
          				<div>
            				<div class="serach_box">
								#if($inflag==2)
              					<input type="text" name="w" id="_keyword" value="$!{search.keyword}" placeholder="输入公司名称、地区、主营产品等！"/>
								#elseif($inflag==3)
								<input type="text" name="w" id="_keyword" value="$!{keyword}" placeholder="输入您要搜索的报价产品关键字！"/>
								#else
								<input type="text" name="w" id="_keyword" value="$!{search.keyword}" placeholder="输入塑料原料产品关键字,搜索产品供求信息!"/>
								#end
							</div>
            				<div class="search_button">
              					<input name="searchsubmit" type="button" id="searchsubmit2" />
            				</div>
          				</div>
        			</form>
      			</div>
            	<p class="kwd">
      				<strong>热门关键词：</strong>
					#cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/indexByCode.htm?code=10231000&size=6", "", "", "")
						#foreach($index in $!list)
							<a href="$!{index.link}" target="_blank" title="">$!{index.title}</a>
						#end
					#end
      			</p>
    		</div>    
        	<div class="hd_head_qr fr">
        		<p class="f14"></p>
        		<p><a href="http://www.zz91.com/zt/ylpublish/index.html" target="_blank"><img src="http://img0.zz91.com/zz91/polymer/images/topad.jpg"/></a></p>
            	<p></p>
        	</div>
		</div>
    </div>
    <div id="hd_nav">
		<div class="layout">
			<ul class="clearfix">
				<li #if($in=="1") class="home" #end><a href="#springUrl('/')" target="_blank">首页</a></li>
				<li #if($in=="2") class="home" #end><a href="#springUrl('/product/index.htm')" target="_blank">产品库</a></li>
                <li #if($in=="3") class="home" #end><a href="#springUrl('/comp/')" target="_blank">企业库</a></li>
                <li #if($in=="4") class="home" #end><a href="#springUrl('/price/')" target="_blank">行情报价</a></li>
                <li><a href="http://news.zz91.com/hangye/" target="_blank">资讯中心</a></li>
                <li><a href="$!{address.huzhu}" target="_blank">互助社区</a></li>
			</ul>
		</div>
    </div>
	$screen_content
	#parse("/common/footer.vm")
	#parse("/seo/analysis_body.vm")
<script>
$(document).ready(function()    {   
	 $('#_keyword').bind('keypress',function(event){
            if(event.keyCode == "13")    
            {
               var keyword = jQuery("#_keyword").val().replace(/\s/g,'');
			   keyword = encodeURI(keyword);
			   var search=$("#ssnr").text();
		       if(search=="搜原料"){
					location.href="#springUrl('/search').htm?keyword="+keyword;
				}else if(search=="搜企业"){
					location.href="#springUrl('/comp/list').htm?keyword="+keyword;
				}else if(search=="搜报价"){
					location.href="#springUrl('/price/search').htm?keyword="+keyword;
				}
            }
       });
	jQuery("#searchsubmit2").click(function(){
	    var keyword = jQuery("#_keyword").val().replace(/\s/g,'');
		keyword = encodeURI(keyword);
		var search=$("#ssnr").text();
		if(keyword){
		if(search=="搜原料"){
			location.href="#springUrl('/search').htm?keyword="+keyword;
		}else if(search=="搜企业"){
			location.href="#springUrl('/comp/list').htm?keyword="+keyword;
		}else if(search=="搜报价"){
			location.href="#springUrl('/price/search').htm?keyword="+keyword;
		}
		}
	});
});
</script>
<script>
$( function () { 
    var inputEl = $('#_keyword'), 
        defVal = inputEl.val(); 
    inputEl.bind({ 
        focus: function () { 
            var _this = $( this ); 
            if (_this.val() == defVal) { 
##                _this.val(''); 
				$(this).css('color','#333');
            } 
        }, 
        blur: function () { 
            var _this = $( this ); 
            if (_this.val() == '') { 
##                _this.val(defVal);
				$(this).css('color','#999'); 
            } 
        } 
    }); 
})


$(".bgf2").bind("mouseenter",function(){
        $(".select_list").addClass("list-show")
    })
    $(".select_list").bind("mouseleave",function(){
        $(".select_list").removeClass("list-show")
    })
    $(".selt-type a").bind("click",function(){
        var plarList =["输入塑料原料产品关键字,搜索产品供求信息!","输入公司名称、地区、主营产品等！","输入您要搜索的报价产品关键字！"]
        var indexNum = $(this).index()
        var type_text = $(this).text();
        $("#ssnr").text(type_text);
        $(".select_list").removeClass("list-show");
        $("#_keyword").attr("placeholder",plarList[indexNum])
    })

</script>
</body>
</html>
	#parse("/seo/analysis_foot.vm")