<link rel="stylesheet" href="$!{address.img}/lib/jquery/ux/validationEngine.css" />
<script src="$!{address.img}/lib/jquery/ux/validationEngine.js"></script>
<script src="$!{address.img}/lib/jquery/ux/languages/jquery.validationEngine-zh_CN.js"></script>
