#set($layout="/layout/defaultS.vm")
<script type="text/javascript" src="$!{address.img}/bbs/js/zz91.bbs.slide.js"></script>
<div class="wrapper clearfix">
	<div styel="float:left"><script src="http://gg.zz91.com/show?p=220"></script></div>
	<div styel="float:left"><script src="http://gg.zz91.com/show?p=221"></script></div>
	<div styel="float:left"><script src="http://gg.zz91.com/show?p=222"></script>
	</div>
</div>
<div class="wrapper mt clearfix">
	<div class="col1">
		<div class="wrap st1 predict">
			<div class="wt">
				<h3>会展预告</h3>
				<a href="#springUrl('/list10371002.htm')" class="more" target="_blank">更多...</a>
			</div>
			<div class="wc">
				<span>
					#foreach($notice in $!noticeExhibitList)
						<img src="$!{address.resource}/$!{notice.exhibitDO.photoCover}" width="80" height="75" />
					#end
				</span>
				#foreach($notice in $!noticeExhibitList)
					#if($velocityCount==1)
					<a href="#springUrl('/details')$!{notice.exhibitDO.id}.htm" target="_blank" title="$!{notice.exhibitDO.name}">
						#printTitle($!{notice.exhibitDO.name} 10 "...")
					</a>
					<p>#printTitle($!{notice.exhibitDO.content} 102 "...")</p>
					#end
				#end
			</div>
		</div>
	</div>
	<div class="col2 ml">
		<div class="fader st1">
			<div class="slidecontainer" id="zz91slide">
				<div class="toggleImg">
					<script src="http://gg.zz91.com/show?p=209"></script>
				</div>
				<div class="toggleBtn">
				</div>
			</div>
		</div>
	</div>
	<div class="col3">
		#parse("/exhibit/common/pindaodaohang.vm")
		#parse("/exhibit/common/baoming.vm")
	</div>
</div>
<div class="wrapper mt clearfix">
	<div class="col1">
		<div class="wrap st1">
            <div class="wt">
				<h3>展会推荐</h3>
				<a href="#springUrl('/list10371008.htm')" class="more" target="_blank">更多...</a>
            </div>
            <div class="wc clearfix">
				<ul class="point_list"> 
					#foreach($news in $!recommendExhibitList)
						<li>
							<a href="#springUrl('/details')$!{news.exhibitDO.id}.htm" target="_blank" title="$!{news.exhibitDO.name}">
								#printTitle($!{news.exhibitDO.name} 14 "")
							</a>
							<span>$!date.format('MM-dd',$!{news.exhibitDO.startTime})</span>
						</li>
					#end
                </ul>
            </div>
        </div>
	</div>
	<div class="col2 ml">
		<div class="wrap st1">
            <div class="wt">
				<h3>热门资讯</h3>
				<a href="#springUrl('/list10371009.htm')" class="more" target="_blank">更多...</a>
            </div>
            <div class="wc clearfix">
				##后台手动推荐
				##	<ul id="slider_hg_new" class="point_list">
						##foreach($!index in $!list)
						##	<li>
						##		<a href="$!{index.link}" target="_blank" title="$!{index.title}" style="$!{index.style}">
						##		#printTitle($!{index.title} 26 " ") 
						##		</a>
						##	</li>
						###end
					##</ul>
				##end
               <ul id="slider_hg_new" class="point_list">
				    #foreach($new in $!topExhibitList)
						<li>
							<a href="#springUrl('/details')$!{new.exhibitDO.id}.htm" target="_blank" title="$!{new.exhibitDO.name}">
								#printTitle($!{new.exhibitDO.name} 26 "")
							</a>
						</li>
					#end
			    </ul>
            </div>
        </div>
	</div>
	<div class="col3">
		#parse("/exhibit/common/zhanhuihuigu.vm")
	</div>
</div>
<div class="wrapper mt clearfix">
	<script type="text/javascript" src="http://gg.zz91.com/show?p=52"></script>
</div>
<div class="wrapper mt clearfix">
	<script src="http://pyapp.zz91.com/showppctxtadscript/?keywords=再生&showborder=1&showposition=1&m=6&padding=8&w=970&num=6&adposition=669"></script>				
</div>
<div class="wrapper mt clearfix">
	<div class="col4">
		<div class="wrap st2">
			<div class="wt">
				<h3><a href="#springUrl('/zhanlue.htm')" target="_blank">园区推荐</a></h3>
			</div>
			<div class="wc clearfix">
				#cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=10021008&size=2", "", "", "")
				<ul class="pic_list">
				#foreach($!index in $!list)
					<li>
						<a href="$!{index.link}" title="$!{index.title}"  target="_blank">
							<img src="$!{address.resource}$!{index.pic}" title="$!{index.title}" width="340" height="130" alt="340*130" />
						</a>
						<p><a href="$!{index.link}" title="$!{index.title}"  target="_blank">$!{index.title}</a></p>
					</li>
				#end
				</ul>
				#end
			</div>
		</div>
		<div class="wrap st2 mt">
			<div class="wt">
				<h3><a href="#springUrl('/zhanlue.htm')" target="_blank">企业推荐</a></h3>
			</div>
			<div class="wc">
				#cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=10021009&size=5", "", "", "")
				<ul class="pic_list">
					#foreach($!index in $!list)
					<li>
						<a href="$!{index.link}" title="$!{index.title}"  target="_blank">
							<img src="$!{address.resource}$!{index.pic}" title="$!{index.title}" width="130" height="120" alt="130*120"/>
						</a>
						<p><a href="$!{index.link}" title="$!{index.title}"  target="_blank">
							#printTitle($!{index.title} 8 " ")
						</a></p>
					</li>
					#end
				</ul>
				#end
			</div>
		</div>
		<div class="wrap st2 mt">
			<div class="wt">
				<h3><a href="#springUrl('/chanpinfuwu.htm')" target="_blank">产品和服务</a></h3>
			</div>
			<div class="wc">
				#cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=10021003&size=2", "", "", "")
				<ul class="pic_list">
				#foreach($!index in $!list)
					<li>
						<a href="$!{index.link}" title="$!{index.title}"  target="_blank">
							<img src="${address.resource}$!{index.pic}" title="$!{index.title}" width="340" height="130" alt="340*130"/>
						</a>
						<p><a href="$!{index.link}" title="$!{index.title}"  target="_blank">
							#printTitle($!{index.title} 13 " ")
						</a></p>
					</li>
				#end
				</ul>
				#end
			</div>
		</div>
	</div>
	<div class="col3">
		<div class="wrap st1">
			<div class="wt">
				<h3>产业资讯</h3>
			</div>
			<div class="wc clearfix">
				#cacheFragment("$!{address.fragment}/huzhu/postByType.htm?postType=9&size=14&e" "" "" "")
				<ul class="point_list">
					#foreach($post in $!{list})
					<li>
						<a href="$!{address.huzhu}/viewReply$!{post.post.id}.htm" target="_blank" title="$!{post.post.title}">
							#printTitle($!{post.post.title} 14 " ")
						</a>
					</li>
					#end
                </ul>
				#end
			</div>
		</div>
		<div class="wrap st1 mt">
			<div class="wt">
				<h3>企业访谈</h3>
				<a href="http://www.zz91.com/cn/news_More20.html" target="_blank" class="more">更多...</a>
			</div>
			<div class="wc clearfix">
				#cacheFragment("$!{address.fragment}/huzhu/postByType.htm?postType=10&size=13&e" "" "" "")
				<ul class="point_list">
					#foreach($post in $!{list})
					<li>
						<a href="$!{address.huzhu}/viewReply$!{post.post.id}.htm" target="_blank" title="$!{post.post.title}">
							#printTitle($!{post.post.title} 15 " ")
						</a>
					</li>
					#end
                </ul>
				#end
			</div>
		</div>
	</div>
</div>
<div class="wrapper mt">
	<div class="wrap st1">
		<div class="wt">
			<h3><a href="http://www.zz91.com/travel/" target="_blank">ZZ91足迹</a></h3>
		</div>
		<div class="wc" style="height: 123px; overflow: hidden">
			#cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=10021004&size=10", "", "", "")
			<ul id="slid-zz91zj" >
				#foreach($!index in $!list)
				<li style="width:117px;text-align:center;">
					<a href="$!{index.link}"  title="$!{index.title}"  target="_blank">
						<img src="$!{address.resource}$!{index.pic}" title="$!{index.title}" width="105" height="100" alt="105*100"/>
					</a>
					<a href="$!{index.link}"  title="$!{index.title}"  target="_blank">
						#printTitle($!{index.title} 8 " ")
					</a>
				</li>
				#end
			</ul>
			#end
		</div>
	</div>
</div>
#parse("/common/importSlider.vm")
## 百度商桥
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd1852f2b391e52cbd020e4b788713ba1' type='text/javascript'%3E%3C/script%3E"));
</script>