#set($layout="layout/defaultS.vm")
#parse("/common/importSlider.vm")
    <script>
        function displaySubMenu(li) {
        var subMenu = li.getElementsByTagName("ul")[0];
        subMenu.style.display = "block";
        var subMenu1 = li.getElementsByTagName("div")[0];
        subMenu1.className="droptxt_on"
        }
        function hideSubMenu(li) {
        var subMenu = li.getElementsByTagName("ul")[0];
        subMenu.style.display = "none";
        var subMenu1 = li.getElementsByTagName("div")[0];
        subMenu1.className="droptxt_off"
        }
    </script>
<div class="wrapper">
	<div class="site">当前位置: <a href="$!{address.www}" target="_blank">$!{siteInfo.site_name}</a> &gt; 
		<a href="#springUrl('/')">展会频道</a> &gt;
		#if($!{plateCategoryCode}=="10371009")
		<a href="#">热门资讯</a></div>
	   #else
		<a href="#">展会推荐</a></div>
		#end
	<div class="clearfix">
		<div class="col5">
			#parse("/exhibit/vm_list/exhibitList.vm")
			#parse("/exhibit/vm_list/left.vm")
		</div>
		<div class="col6">
			#parse("/exhibit/vm_list/right.vm")
		</div>
	</div>
</div>
