<script type="text/javascript"> 
    function displaySubMenu(li) {
        var subMenu = li.getElementsByTagName("ul")[0];
        subMenu.style.display = "block";
        var subMenu1 = li.getElementsByTagName("div")[0];
        subMenu1.className="droptxt_on"
    }
    function hideSubMenu(li) {
        var subMenu = li.getElementsByTagName("ul")[0];
        subMenu.style.display = "none";
        var subMenu1 = li.getElementsByTagName("div")[0];
        subMenu1.className="droptxt_off"
    }
</script>
    <!--top1.vm--> 
    #parse("/exhibit/vm_exhibit/top1.vm")
    <!--ads.vm--> 
    #parse("/exhibit/vm_exhibit/ads.vm")
    <!--top2.vm--> 
    #parse("/exhibit/vm_exhibit/top2.vm")
    <!--top3.vm--> 
    #parse("/exhibit/vm_exhibit/top3.vm")
    <!--ads1.vm--> 
    #parse("/exhibit/vm_exhibit/ads1.vm")
    <!--top4.vm--> 
    #parse("/exhibit/vm_exhibit/top4.vm")

