<div class="orderright fl">
	<div class="state-main">
		<div class="state-now">
			<i class="icon-big-ts iconfont">&#xe60d;</i>
			订单状态：交易成功
		</div>
		#foreach($obj in $logisticsMap.get("data"))
			#if($velocityCount==1)
				#set($newtime=$obj.time)
				#set($context=$obj.context)
			#end
		#end
		<div class="dd-close">物流： $!{logisticsCompany}   运单号：$!{logisticsNo}</div>
		<div class="dd-close dd-close-third">
			$!newtime
			<span class="orange">$!context</span>
		</div>
		#if($hasJudge)
		#else
		  <div class="state-cando">您可以<a href="$!{address.www}/goods/goods.htm?id=$!{goodId}&flag=1" class="go-givemy">评价</a>
		#end
		</div>
	</div>
</div>
