<div class="hg-div1">
	<div class="hg-div1-left">
    	<div class="hg-div1-img">
			#if($!{bbsUserProfilerDO.picturePath} && $!{bbsUserProfilerDO.picturePath}!="")
				<img src="$!{address.thumb}$!{address.resource}/$!{bbsUserProfilerDO.picturePath}" width="130px" height="115px"/>
			#else
				<img src="http://img0.zz91.com/zz91/huzhu/images/head_img.gif" />
			#end
        </div>
        <!--end hg-div1-img-->
        <div class="hg-div1-text">
			#if($!{bbsUserProfilerDO.nickname} && $!{bbsUserProfilerDO.nickname}!="")
				$!{bbsUserProfilerDO.nickname}
			#else
				$!{bbsUserProfilerDO.account}
			#end	
        </div>
        <!--end hg-div1-text-->
    </div>
    <div class="hg-div1-right">
    	<div class="hg-div1-title">
        	我的互助社区
        </div>
        <!--end hg-div1-title-->
        <div class="hg-div1-box">
			#set($unpassQA=$!{countPostedQA}-$!{passQA})
			<span>提问：$!{countPostedQA}</span>   <span>回答：$!{countReplyQA}</span>   <span>审核：$!{passQA}</span>  <span>未审核：$!{unpassQA}</span>
        </div>
        <!--end hg-div1-box-->
        <div class="hg-div1-box">
			#set($unpassPost = $!{countPosted}-$!{passPost})
			<span>发贴：$!{countPosted}</span>   <span>回贴：$!{countReply}</span>   <span>审核：$!{passPost}</span>  <span>未审核：$!{unpassPost}</span>
        </div>
        <!--end hg-div1-box-->
        <div class="hg-div1-button">
        	<div class="hg-button-ok">
            	<a href="#springUrl('/postReply_c11.htm')">我要提问</a>
            </div>
            <div class="hg-button-ok">
            	<a href="#springUrl('/postReply_c1.htm')">我要发帖</a>
            </div>
            <!--end hg-button-ok-->
            <div class="cb"></div>
        </div>
        <!--end hg-div1-button-->
    </div>
    <!--end hg-div1-right-->
    <div class="cb"></div>
</div>
<!--end hg-div1-->
