            <div class="hg-div2-right">
            	<div class="m1-announcement">
                    <div class="m1-announcement-title">
                        论坛公告
                    </div>
                    <!--end m1-announcement-title-->
                    <div class="m1-announcement-content">
					#cacheFragment("$!{address.front}/fragment/dataindex/indexByCode.htm?code=10041006&size=4&", "", "", "")
        				#foreach($index in $!{list})
        					#if($!{velocityCount}==1)
        						#if($!{index.pic} && $!{index.pic}!="")
            					<div class="m1-announcement-img">
                                	<a href="$!{index.link}">
        								<img src="$!{address.thumb}/$!{address.resource}/$!{index.pic}&width=185" />
        							</a>
                                </div>
        						#end
                                <!--end m1-announcement-img-->
                                <div class="m1-announcement-text">
    								<a href="$!{index.link}" title="$!{index.title}" style="$!{index.style}" target="_blank">$!{index.title}</a>
                                </div>
            					<!--end m1-announcement-text-->	
        					#else
        						<div class="m1-announcement-box">
                            	<a href="$!{index.link}">$!{index.title}</a>
                            </div>
        					#end
    					#end
    				#end
                    </div>
                    <!--end m1-announcement-content-->
                </div>
                <!--end m1-announcement-->
                <div class="hg-div2-Opinion">
                	<div class="hg-Opinion-title">
                    	<a href="http://myrc.zz91.com/myfeedback/member.htm">意见反馈</a>
                    </div>
                    <!--end hg-Opinion-title-->
                </div>
                <!--end hg-div2-Opinion-->
            </div>
            <!--end hg-div2-right-->
            <div class="cb"></div>
