   <div class="topbar unlogin">
    	<div class="topbar-block">
        	<a class="gheader-logo fl" id="hzLogo" href="http://www.zz91.com/" title="互助社区">互助社区</a>
            <div class="search1">
      			<form method="post" action="" class="gh-search gh-search-unlogin" />
         			<input type="text" class="fl" name="search" value="" placeholder="请输入搜索内容" />
                    <input type="button" class="fl" value="搜索" name="搜索" id="go" alt="Search" title="Search">
      			</form>
            </div>
    		<!--end search1-->
            <ul class="gnav fl">
            	<li><a href="#springUrl('/queIndex.htm')" class="g_cur fl">废料问答</a></li>
                <li><a href="#springUrl('/bbsIndex.htm')" class="fl">社区</a></li>
                <li><a href="#springUrl('/colIndex.htm')" class="fl">废料学院</a></li>
                <li><a href="#springUrl('/bbsCategory1.htm')" class="fl">专栏</a></li>
                <li class="gnav_up"></li>
                <li><a href="javascript:;" style="font-size:14px">登录</a>&nbsp;丨&nbsp;<a style="font-size:14px" href="javascript:;">注册</a></li>
            </ul>
        </div>
        <!--end topbar-block-->
    </div>
    <!--end nav-->