<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>$!{seoTitle}</title>
		<meta name="keywords" content="$!{seoKeywords}" />
		<meta name="description" content="$!{seoDescription}" />
		<link rel="shortcut icon" href="http://img0.zz91.com/front/images/logo/favicon.ico" />
		<link rel="stylesheet" href="$!{address.img}/zz91/css/zz91.common.css" />
		<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
		<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/newhuzhu/css/community.css" />
		<link rel="stylesheet" type="text/css" href="$!{address.img}/bbs/css/zz91.bbs.general.css" />
		<script type="text/javascript" src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
		<!--[if IE 6]>
	<script type="text/javascript" src="js/Png.js"></script>
	<script type="text/javascript">
	EvPNG.fix('div, ul, img, li, input, a');
	</script>
	<![endif]-->

		<!--google analysis-->

		<!--baidu analysis-->
		<!--51yes analysis-->
		#parse("/seo/analysis_head.vm")
	</head>
	<body class="body">
		<div id="fl_ltop" style="right:0;top:400;position:absolute;display:none;">
				<a href="#" onClick="showAd();return false;">
					<img src="$!{address.img}/front/images/root/replay.jpg" />
				</a>
        </div>
        #cacheFragment("$!{address.fragment}/china/topbar.htm","","","")
        <div id="topBar">
            <div id="topBarInfo">
                <div id="topBarLogin">
					<script src="$!{address.front}/webst.htm?$date" type="text/javascript" ></script>
##                    <iframe src="$!{address.front}/status.htm" frameborder="0" width="450" height="28" allowTransparency="true" scrolling="no"></iframe>
                </div>
                $!{fragmentContext}
            </div>
		</div>
        #end
		<div class="community">
			<div class="header">
				<div class="logo fl">
					<a href="http://www.zz91.com" target="_blank">
						<img src="http://img0.zz91.com/zz91/newhuzhu/images/ZZ91.jpg" alt="ZZ91再生网" width="117" height="45" />
					</a>
					<a href="http://huzhu.zz91.com" target="_blank">
						<img src="http://img0.zz91.com/zz91/newhuzhu/images/logo_huzhu_index.jpg" width="140" alt="互助首页" />
					</a>
				</div>
				<!--end logo-->
				<div class="header-home fl">
					<ul class="hnav hfl">
						<li>
							<a href="#springUrl('/wenda/')" class="">问答</a>
						</li>
						<li>
							<a href="#springUrl('/shequ/')" class="">社区</a>
						</li>
						<li>
							<a href="#springUrl('/xueyuan/')" class="">学院</a>
						</li>
						<li>
							<a href="#springUrl('/shangquan1/')" class="">商圈</a>
						</li>
##						<li>
##							<a href="http://www.zz91.com/" class="fl">专栏</a>
##						</li>
##						<li>
##							<a href="http://www.zz91.com/">手机问答</a>
##						</li>
					</ul>
				</div>
			<!--end header-home-->
			<div class="search fr">
				<form method="post" action="" id="searchMyhuzhu">
					<input type="text" class="form-search fl mr8" name="search" value="" placeholder="请输入搜索内容" id="content"/>
					<input type="button" class="search_button fl" id="go" alt="Search" title="Search" onclick="deals()"/>
				</form>
			</div>
			<!--end search-->
			<div class="cb"></div>
		    </div>
		<script type="text/javascript">	
					jQuery("#go").click(function(){
						jQuery("#searchMyhuzhu").submit();
					});
					jQuery("#searchMyhuzhu").submit(function(){
						var key = jQuery("#content").val();
						key = encodeURI(key);
						var url =  "$!{address.huzhu}/newhuzhu/search.htm"+"?keywords="+key;
						if(key&&key!=""){
							jQuery("#searchMyhuzhu").attr("action",url);
						}else{
							alert("请输入您要检索的关键字");
						}
					});
				</script>
			<!--end header-->
			#if($pageName=="index")
			#if(!$!{sessionUser})
			<div class="header2">
				<div class="r-login">
					<div class="hl2 fl"></div>
					<div class="hg2 fr">
						<div class="hg2box">
							<div class="hg2-info fl lbg"><a href="$!{address.www}/register/register_stp1.htm">立即注册</a></div>
							<div class="hg2-info fl rbg"><a href="$!{address.www}/login.htm?url=$!{address.huzhu}">用户登录</a></div>
						</div>
						<!--end h2box-->
						<div class="h2qq"><a href="$!{address.www}/accessToQQLogin.htm">用QQ账号登录</a></div>
						<!--end h2qq-->
					</div>
					<div class="cb"></div>
				</div>
				<!--end r-login-->
			</div>
			#end
			#end
			$screen_content
		</div>
		#cacheFragment("$!{address.fragment}/china/footer.htm","","","")
				$!{fragmentContext}
		#end
		#parse("/seo/analysis_body.vm")
	</body>
</html>
	#parse("/seo/analysis_foot.vm")