<script type="text/javascript" src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
<link rel="stylesheet" type="text/css" href="$!{address.img}/bbs/css/zz91.bbs.general.css" />
<link rel="stylesheet" href="$!{address.img}/lib/jquery-ui/1.8.16/south-street/jquery-ui-1.8.16.custom.css" />
<script type="text/javascript" src="$!{address.js}/lib/jquery/jquery_lib/jquery-1.4.3.js" ></script>
<script type="text/javascript" src="$!{address.img}/bbs/js/jquery.validate.js"></script>
<script type="text/javascript" src="$!{address.img}/bbs/js/zz91.bbs.validation.js"></script>
<script type="text/javascript" src="$!{address.img}/front/js/zz91.common.js"></script>

<script src="$!{address.img}/lib/jquery-ui/1.8.16/jquery-ui-1.8.16.custom.min.js"></script>




