            <div class="hg-Answer-right">
            	<div class="hg-ranking">
                    <div class="hg-ranking-title">
                        <a href="#">社区牛榜</a>
                    </div>
                    <!--end hg-ranking-title-->
                    <div class="hg-ranking-item">
                        <div class="m2-ranking-left">
                            本周牛贴
                        </div>
                        <!--end hg-ranking-left-->
						
                      
					  <div class="hg-ranking-right">
                           #cacheFragment("$!{address.fragment}/huzhu/bbsTop.htm?category=post&size=5&a" "" "" "")	
                            <ul>
								#foreach($plist in $!{postOneWeeklist})
    								#if($!{velocityCount}<4)
										<li><a href="#springUrl('/viewReply')$!{plist.targetId}.htm" title="$!{plist.title}"><span class="red">$!{velocityCount}.</span>#printTitle($!{plist.title} 11 "")</a></li>
    								#else
                                        <li><a href="#springUrl('/viewReply')$!{plist.targetId}.htm" title="$!{plist.title}">$!{velocityCount}.#printTitle($!{plist.title} 11 "")</a></li>
									#end	
								#end
                            </ul>
						   #end
                        </div>
                        <!--end hg-ranking-right-->
                        <div class="cb"></div>
                    </div>
                    <!--end hg-ranking-item-->
                    <div class="hg-ranking-item">
                        <div class="hg-ranking-left">
                            本周牛问
                        </div>
                        <!--end m2-ranking-left-->
                        <div class="hg-ranking-right">
                            <ul>
							#cacheFragment("$!{address.fragment}/huzhu/bbsTop.htm?category=question&size=5&sd" "" "" "")
    							#foreach($post in $!{postOneWeeklist})
                            	<li>
    								<a href="#springUrl('/viewReply')$!{post.targetId}.htm" target="_blank">
    	                        	<span #if($!{velocityCount}<4) class="red" #end>$!{velocityCount}.</span>
    								$!{post.title}
    								</a>
    							</li>
    							#end
    						#end
                            </ul>
                        </div>
                        <!--end hg-ranking-right-->
                        <div class="cb"></div>
                    </div>
                    <!--end hg-ranking-item-->
                    
                </div>
                <!--end hg-ranking-->
                <div class="hg-div2-Opinion">
                	<div class="hg-Opinion-title">
                    	<a href="http://myrc.zz91.com/myfeedback/member.htm">意见反馈</a>
                    </div>
                    <!--end hg-Opinion-title-->
                </div>
                <!--end hg-div2-Opinion-->
            </div>
            <!--end hg-Answer-right-->
