body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../登录_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:20px;
    top:29px;
    width:157px;
    height:83px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:157px;
    height:83px;
}

.u1 {
    position:absolute;
    left:2px;
    top:34px;
    width:153px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../登录_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:194px;
    top:30px;
    width:180px;
    height:80px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u3 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../登录_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:740px;
    top:78px;
    width:182px;
    height:31px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:188px;
    height:37px;
}

.u5 {
    position:absolute;
    left:2px;
    top:8px;
    width:178px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_menu {
    background-image: url('../登录_files/u6_menu.png');
}

.u6_menu {
    position:absolute;
    left:813px;
    top:27px;
    width:115px;
    height:35px;
}

#u6_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:32px;
}

#u7 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:25px
}

.u8_mouseOver {
    background-image: url('../登录_files/u8_mouseOver.png');
}

.u8_normal {
    background-image: url('../登录_files/u8_mouseOver.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../登录_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:71px;
    top:197px;
    width:261px;
    height:261px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:261px;
}

.u11 {
    position:absolute;
    left:2px;
    top:122px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:403px;
    top:197px;
    width:388px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:427px;
    top:266px;
    width:106px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:533px;
    top:261px;
    width:214px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:489px;
    top:318px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:533px;
    top:313px;
    width:214px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:462px;
    top:375px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:599px;
    top:375px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19_menu {
    background-image: url('../登录_files/u19_menu.png');
}

.u19_menu {
    position:absolute;
    left:475px;
    top:422px;
    width:215px;
    height:35px;
}

#u19_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:32px;
}

#u20 {
    position:absolute;
    left:3px;
    top:3px;
    width:205px;
    height:25px
}

.u21_mouseOver {
    background-image: url('../登录_files/u8_mouseOver.png');
}

.u21_normal {
    background-image: url('../登录_files/u8_mouseOver.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_mouseOver {
    background-image: url('../登录_files/u8_mouseOver.png');
}

.u23_normal {
    background-image: url('../登录_files/u8_mouseOver.png');
}

.u23_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../登录_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:902px;
    height:3px;
}

.u25 {
    position:absolute;
    left:20px;
    top:483px;
    width:902px;
    height:10px;
    
}

