<!--技术热点-->
<div class="businesscenter_right_title3">
    <h3>
		<a target="_blank" href="$!{address.price}/priceList_t$!{typeId}_$!{priceCode}.htm">
			行情综述
		</a>
	</h3>
</div>
#cacheFragment("$!{address.fragment}/price/paparPriceReview.htm?typeId=${typeId}&size=6&5" "" "" "")
<div class="businesscenter_right_content3">
	<ul>
    	#foreach($price in $!{list})
    		<li class="liListGray">
				<a href='$!{address.price}/priceDetails_$!{price.id}_$!{priceCode}.htm' target='_blank'  title='$!{price.title}'>
					#printTitle($!{price.title} 22 "")
				</a> 
			</li>
    	#end
 	</ul>
</div>
#end
