#set($layout="/layout/resetPasswordLayout.vm")
<div class="forgot">
	<div class="f-header">
    	<img src="http://img0.zz91.com/zz91/forgetpasswd/images/logo.jpg" class="fl" />
        <ul class="fr">
        	<li><a href="http://www.zz91.com/">返回首页</a></li>
        	<li><a href="http://www.zz91.com/login.htm">返回继续登录</a></li>
            <li>|</li>
            <li><a href="http://help.zz91.com/">帮助中心</a></li>
        </ul>
    </div>
    <!--end f-header-->
    <div class="f-content">
    <div class="f-qq">
    	<div class="f-qq-title">
        	我忘记了用户名
        </div>
		<input type="hidden" name = "email" id = "email" value = "$!{email}"/>
        <!--end f-login-title-->
        <div class="f-mobile-box2">
        	<span class="f14">请登录您的邮箱查收重置密码邮件，该邮件12小时内有效。<br />
            若该邮箱不使用，或无法正常接收验证码邮件，请点此<a href="http://www.zz91.com/register/register_stp1.htm" target="_blank">重新注册</a>
            </span>
            <div class="cb"></div>
        	<div class="f-mobile-text1 fl">
            	没有收到？您可以
            </div>
            <!--end f-mobile-text1-->
            <div class="f-mobile-obtain2 fl">
            	<div id="sendmail"><a href="javascript:repeatSendEmail()">点此重发密码邮件</a></div>
            </div>
			<input type="hidden" id="frontaddress" value="www.zz91.com"/>
            <!--end f-mobile-obtain-->
            <div class="f-mobile-text2 fl" style="margin:0">
            	（每天限发五条验证码信息）
            </div>
            <!--end f-mobile-text1-->
            <div class="cb"></div>
        </div>
        <!--end f-mobile-box2-->
        <div class="f-qq-box">
        	接收邮箱：$!{hiddenEmail}
    </div>
        <!--end f-login-box-->
        <div class="f-qq-ok">
        	<a href="$!{goEmail}">进入我的邮箱</a> 
      </div>
       
    </div>
    <!--end f-qq-->
    </div>
    <!--end f-content-->
</div>
<!--end forgot-->