<link type="text/css" rel="stylesheet" href="$!{address.css}/zz91.getpassword.css" />
<div class="main_box">
    <div class="offertitle">
         <h3>找回密码</h3>
         <div class="offerTitR"></div>
    	 <div style="clear:both"></div>
    </div>
	
    <div class="offer_kuan">
			<div id="findpasswordtable">
        		<form name="form1" method="post" action="$!{address.server}/user/passwordReminder2.htm" onSubmit="return chkfrm1()">
        			<fieldset>
        				<legend>使用邮箱找回</legend>
        				<div class="passwordtable">
        						<div class="passwordtablelab">
                                    <label for="email">用户名(E-mail)：</label>
                                </div>
    							<div class="passwordtableput">
        							<input id="email"  name="email" class="inputstyle" onblur="chkemailregister();" />
    								<span id="errormessage">请输入您在本站注册的用户名（E-mail）</span>
    							</div>
                                <div class="clear"></div>
        				</div>
						
    					 <div class="passwordtable">
        						<div class="passwordtablelab">&nbsp;</div>
    							<div class="passwordtableput">
        							<input type="submit" id="buttonMaxGray" value="提 交 " name="Submit1"  />
    							</div>
                                <div class="clear"></div>
        				 </div>
        			</fieldset>
        		</form>
		    </div>
    		
    		<div id="sendsuccesstable">
    				<div class="sendEmailOk">
    					密码找回邮件已经发送到您的注册邮箱
    					<span id="theregisteremail">shkfjgksfg@qq.com</span>
    				</div>
    				<div class="warnAndTip">
    						<h5 class="warnAndTipT">成功找回密码您还要进行以下步骤：</h5>
                            <p>1、查看您的邮箱，找到本站发送的邮件；如果您没有找到，可能邮件不小心被标记为垃圾邮件，请查找您的垃圾邮件箱。</p>
    						<p>2、点击邮件中的连接完成密码找回。<b>请在48小时之内完成密码找回，否则您将需要重新</b><a href="$!{address.server}/user/passwordReminder.htm" title="重新找回密码">找回密码</a>。</span>
                    </div>
            </div>
    </div>
</div>
<script type="text/javascript" >
	function chkfrm1(){
		var fm = jQuery("#form1");
//		if(!chkemailregister()){
//			return false;
//		}

		jQuery.ajax({
			url:"#springUrl('/user/passwordReminder2.htm')?num="+Math.random(),
			type:"POST",
			cache:false,
			dataType:"json",
			data:{email:jQuery("#email").val()},
			success:function(response){
				if(response.success){
					jQuery("#theregisteremail").html(jQuery("#email").val());
					jQuery("#findpasswordtable").hide();
					jQuery("#sendsuccesstable").fadeIn(500);
				}else{
					jQuery("#errormessage").html("<font class=err>发生错误,请多试几次,如果仍然出现错误,请联系我们!</font>");
				}
			},
			error:function(e){
				jQuery("#errormessage").html("<font class=err>发生错误,请多试几次,如果仍然出现错误,请联系我们!</font>");
				//alert("您的账号存在问题,请再试一次,如果仍然出现错误,请联系我们!" );
			}
		});
		return false;
	}

	function chkemailregister(){
		if(jQuery("#email").val()==""){
			return false;
		}
		var emailrepx = /^[\w\-\.]+@[\w\-\.]+(\.\w+)+$/;

		if(!emailrepx.test(jQuery("#email").val())){
			jQuery("#errormessage").html("请输入正确的Email地址!");
			return false;
		}

		jQuery.ajax({
			url:"#springUrl('/user/isemailregist.htm?num=')"+Math.random(),
			type:"POST",
			cache:false,
			dataType:"json",
			data:{email:jQuery("#email").val()},
			success:function(response){
				if(response.success){
					jQuery("#errormessage").html("&nbsp;");
				}else{
					jQuery("#errormessage").html("<font class=err>对不起,您输入的Email没有在本站注册过!</font>");
				}
			},
			error:function(e){
				jQuery("#errormessage").html("发生错误,请多试几次,如果仍然出现错误,请联系我们!");
				//alert("您的账号存在问题,请再试一次,如果仍然出现错误,请联系我们!" );
			}
		});
	}
</script>
