#set($layout="/layout/resetPasswordLayout.vm")
<div class="forgot">
	<div class="f-header">
    	<img src="$!{address.img}/zz91/forgetpasswd/images/logo.jpg" class="fl" />
        <ul class="fr">
        	<li><a href="http://www.zz91.com/">返回首页</a></li>
        	<li><a href="http://www.zz91.com/login.htm">返回继续登录</a></li>
            <li>|</li>
            <li><a href="http://help.zz91.com/">帮助中心</a></li>
        </ul>
    </div>
    <!--end f-header-->
    <div class="f-content">
	<div class="f-title" style="text-align:center"><img src="$!{address.img}/zz91/forgetpasswd/images/questiontip.jpg" width="28" height="29" align="absmiddle" /> 登录时遇到问题了？</div>
    <!--end f-title-->
    <div class="f-login" style="margin-top:20px; border:none">
      <!--end f-login-title-->
      <!--end f-login-box-->
      <div class="f-main1"><a href="http://www.zz91.com/user/forgetPasswd.htm">我忘记了密码？</a></div>
      <div class="f-main1"><a href="http://www.zz91.com/user/forgetAuth.htm">我忘记了用户名？</a></div>
      <div class="f-main1"><a href="http://about.zz91.com/contact.html" target="_blank">我遇到其他问题？</a></div>
      <div style="clear:both"></div>
    </div>
    <!--end f-login-->
    </div>
    <!--end f-content-->
</div>
<!--end forgot-->

