#set($layout="/layout/resetPasswordLayout.vm")
<div class="forgot">
	<div class="f-header">
    	<img src="http://img0.zz91.com/zz91/forgetpasswd/images/logo.jpg" class="fl" />
        <ul class="fr">
        	<li><a href="http://www.zz91.com/">返回首页</a></li>
        	<li><a href="http://www.zz91.com/login.htm">返回继续登录</a></li>
            <li>|</li>
            <li><a href="http://help.zz91.com/">帮助中心</a></li>
        </ul>
    </div>
    <!--end f-header-->
    <form action="http://www.zz91.com/user/resetPassword.htm?k=$!{k}&am=$!{am}" method="post" id="form_reset">
    <div class="f-content">
    <div class="f-qq">
    	<div class="f-qq-title">
        	请输入新的登录密码
        </div>
        <!--end f-login-title-->
        <div class="f-qq-box3">
        	会员登录名：<b>$!{username}</b>
        </div>
        <!--end f-login-box-->
        <div class="f-qq-box3">
        	输入新密码：<input type="password" name="pwd1" class="f-qq-text3" id="password"/>
            <span class=post_error></span>
      </div>
        <!--end f-login-box-->
        <div class="f-qq-box3">
        	确认新密码：<input type="password" class="f-qq-text3" id="passwordcomfirm" name="pwd2"/>
            <span class=post_error></span>
        </div>
        <!--end f-login-box-->
        <input type="submit" value="下一步" class="f-qq-ok" />
		<input type="hidden" value="$!{k}" id="k" />
		<input type="hidden" value="$!{am}" id="am" />
    </div>
    <!--end f-qq-->
    </div>
    </form>
    <!--end f-content-->
</div>
<!--end forgot-->
