body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../资讯详情_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:9px;
    top:9px;
    width:961px;
    height:37px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:37px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../资讯详情_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:52px;
    width:156px;
    height:66px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:156px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:25px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../资讯详情_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:174px;
    top:53px;
    width:170px;
    height:62px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:68px;
}

.u5 {
    position:absolute;
    left:2px;
    top:24px;
    width:166px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../资讯详情_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:596px;
    top:51px;
    width:373px;
    height:26px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:379px;
    height:32px;
}

.u7 {
    position:absolute;
    left:2px;
    top:6px;
    width:369px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../资讯详情_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:359px;
    top:82px;
    width:612px;
    height:35px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:612px;
    height:35px;
}

.u9 {
    position:absolute;
    left:2px;
    top:10px;
    width:608px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../资讯详情_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:79px;
    top:128px;
    width:183px;
    height:29px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:35px;
}

.u11 {
    position:absolute;
    left:2px;
    top:7px;
    width:179px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:11px;
    top:135px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:606px;
    top:132px;
    width:72px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:275px;
    top:136px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:443px;
    top:136px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../资讯详情_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:340px;
    top:130px;
    width:88px;
    height:28px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:34px;
}

.u17 {
    position:absolute;
    left:2px;
    top:6px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../资讯详情_files/u16_normal.png');
}

.u18_container {
    position:absolute;
    left:511px;
    top:130px;
    width:88px;
    height:28px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:34px;
}

.u19 {
    position:absolute;
    left:2px;
    top:6px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:690px;
    top:137px;
    width:272px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_line {
    background-image: url('../资讯详情_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:0px;
    top:4px;
    width:960px;
    height:3px;
}

.u21 {
    position:absolute;
    left:8px;
    top:167px;
    width:960px;
    height:10px;
    
}

.u22 {
    position:absolute;
    left:10px;
    top:184px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:106px;
    top:184px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../资讯详情_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:11px;
    top:210px;
    width:701px;
    height:540px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:707px;
    height:546px;
}

.u25 {
    position:absolute;
    left:2px;
    top:262px;
    width:697px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:277px;
    top:297px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:35px;
    top:223px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:487px;
    top:226px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:218px;
    top:707px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:335px;
    top:708px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:454px;
    top:708px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32_normal {
    background-image: url('../资讯详情_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:721px;
    top:210px;
    width:248px;
    height:490px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:254px;
    height:496px;
}

.u33 {
    position:absolute;
    left:2px;
    top:237px;
    width:244px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:734px;
    top:217px;
    width:64px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:849px;
    top:214px;
    width:115px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36_normal {
    background-image: url('../资讯详情_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:729px;
    top:253px;
    width:75px;
    height:73px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:79px;
}

.u37 {
    position:absolute;
    left:2px;
    top:28px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:820px;
    top:257px;
    width:133px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:821px;
    top:283px;
    width:137px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:820px;
    top:308px;
    width:134px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../资讯详情_files/u36_normal.png');
}

.u41_container {
    position:absolute;
    left:730px;
    top:345px;
    width:75px;
    height:73px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:79px;
}

.u42 {
    position:absolute;
    left:2px;
    top:28px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:821px;
    top:349px;
    width:133px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:822px;
    top:375px;
    width:137px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:821px;
    top:400px;
    width:134px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../资讯详情_files/u36_normal.png');
}

.u46_container {
    position:absolute;
    left:730px;
    top:429px;
    width:75px;
    height:73px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:79px;
}

.u47 {
    position:absolute;
    left:2px;
    top:28px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:821px;
    top:433px;
    width:133px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:822px;
    top:459px;
    width:137px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:821px;
    top:484px;
    width:134px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../资讯详情_files/u36_normal.png');
}

.u51_container {
    position:absolute;
    left:730px;
    top:522px;
    width:75px;
    height:73px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:79px;
}

.u52 {
    position:absolute;
    left:2px;
    top:28px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:821px;
    top:526px;
    width:133px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:822px;
    top:552px;
    width:137px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:821px;
    top:577px;
    width:134px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../资讯详情_files/u36_normal.png');
}

.u56_container {
    position:absolute;
    left:732px;
    top:614px;
    width:75px;
    height:73px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:79px;
}

.u57 {
    position:absolute;
    left:2px;
    top:28px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:823px;
    top:618px;
    width:133px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:824px;
    top:644px;
    width:137px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:823px;
    top:669px;
    width:134px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../资讯详情_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:723px;
    top:714px;
    width:244px;
    height:242px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:248px;
}

.u62 {
    position:absolute;
    left:2px;
    top:113px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:735px;
    top:724px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:912px;
    top:722px;
    width:94px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_line {
    background-image: url('../资讯详情_files/u65_line.png');
}

.u65_line {
    position:absolute;
    left:0px;
    top:4px;
    width:962px;
    height:3px;
}

.u65 {
    position:absolute;
    left:7px;
    top:970px;
    width:962px;
    height:10px;
    
}

