@charset "utf-8";
/* CSS Document */
html{color:#000; font-size:12px; font-family:"宋体";}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,pre,code,p,th,td,form,img{margin:0; padding:0; border:0px;}
input,select{margin:0; padding:0;}
ol,ul,li{list-style:none;}
body{background-color:#fdf8cb; background-image:url(../images/myesite/hbmem_001.jpg); background-repeat:repeat-x;}

.dhmenu1{background-image:url(../images/myesite/hbmem_01.jpg); background-repeat:no-repeat; background-position:center;}
.dhmenu1:hover{background-image:url(../images/myesite/hbmem_01s.jpg); background-repeat:no-repeat; background-position:center;}
.dhmenu1s{background-image:url(../images/myesite/hbmem_01s.jpg); background-repeat:no-repeat; background-position:center;}

.dhmenu2{background-image:url(../images/myesite/hbmem_02.jpg); background-repeat:no-repeat; background-position:center;}
.dhmenu2:hover{background-image:url(../images/myesite/hbmem_02s.jpg); background-repeat:no-repeat; background-position:center;}
.dhmenu2s{background-image:url(../images/myesite/hbmem_02s.jpg); background-repeat:no-repeat; background-position:center;}

.dhmenu3{background-image:url(../images/myesite/hbmem_03.jpg); background-repeat:no-repeat; background-position:center;}
.dhmenu3:hover{background-image:url(../images/myesite/hbmem_03s.jpg); background-repeat:no-repeat; background-position:center;}
.dhmenu3s{background-image:url(../images/myesite/hbmem_03s.jpg); background-repeat:no-repeat; background-position:center;}

.dhmenu4{background-image:url(../images/myesite/hbmem_04.jpg); background-repeat:no-repeat; background-position:center;}
.dhmenu4:hover{background-image:url(../images/myesite/hbmem_04s.jpg); background-repeat:no-repeat; background-position:center;}
.dhmenu4s{background-image:url(../images/myesite/hbmem_04s.jpg); background-repeat:no-repeat; background-position:center;}

.dhmenu5{background-image:url(../images/myesite/hbmem_05.jpg); background-repeat:no-repeat; background-position:center;}
.dhmenu5:hover{background-image:url(../images/myesite/hbmem_05s.jpg); background-repeat:no-repeat; background-position:center;}
.dhmenu5s{background-image:url(../images/myesite/hbmem_05s.jpg); background-repeat:no-repeat; background-position:center;}

.dhmenu6{background-image:url(../images/myesite/hbmem_06.jpg); background-repeat:no-repeat; background-position:center;}
.dhmenu6:hover{background-image:url(../images/myesite/hbmem_06s.jpg); background-repeat:no-repeat; background-position:center;}
.dhmenu6s{background-image:url(../images/myesite/hbmem_06s.jpg); background-repeat:no-repeat; background-position:center;}

.dhmenu7{background-image:url(../images/myesite/hbmem_07.jpg); background-repeat:no-repeat; background-position:center;}
.dhmenu7:hover{background-image:url(../images/myesite/hbmem_07s.jpg); background-repeat:no-repeat; background-position:center;}
.dhmenu7s{background-image:url(../images/myesite/hbmem_07s.jpg); background-repeat:no-repeat; background-position:center;}

.dhmenu8{background-image:url(../images/myesite/hbmem_08.jpg); background-repeat:no-repeat; background-position:center;}
.dhmenu8:hover{background-image:url(../images/myesite/hbmem_08s.jpg); background-repeat:no-repeat; background-position:center;}
.dhmenu8s{background-image:url(../images/myesite/hbmem_08s.jpg); background-repeat:no-repeat; background-position:center;}

.dhmenu9{background-image:url(../images/myesite/hbmem_09.jpg); background-repeat:no-repeat; background-position:center;}
.dhmenu9:hover{background-image:url(../images/myesite/hbmem_09s.jpg); background-repeat:no-repeat; background-position:center;}
.dhmenu9s{background-image:url(../images/myesite/hbmem_09s.jpg); background-repeat:no-repeat; background-position:center;}

.dhmenu10{background-image:url(../images/myesite/hbmem_10.jpg); background-repeat:no-repeat; background-position:center;}
.dhmenu10:hover{background-image:url(../images/myesite/hbmem_10s.jpg); background-repeat:no-repeat; background-position:center;}
.dhmenu10s{background-image:url(../images/myesite/hbmem_10s.jpg); background-repeat:no-repeat; background-position:center;}

.hbnewsj{border:solid 1px #e2e3e2; background-color:#f8f8f8;}
.dhimg{ background-image:url(../images/myesite/hbmem_01.jpg); background-repeat:no-repeat; background-position:center; width:80px;}
.dhimg:hover{ background-image:url(../images/myesite/hbmem_01s.jpg); background-repeat:no-repeat; background-position:center;}
.hbkja{margin-top:5px; background-color:#d15002; line-height:24px; height:24px; text-align:center; color:#FFF; text-decoration:none;}
.hbkja a{color:#FFF; text-decoration:none;}
.hbkja a:hover{color:#0C0; text-decoration:none;}
.hbgg{height:18px; color:#FFF; background:url(../images/myesite/Allbj.gif); background-position:0px 2px; background-repeat:no-repeat; padding-left:15px;}
.hbgg a{color:#FFF; text-decoration:none;}
.hbgg a:hover{color:#000; text-decoration:none;}
.hbcomname{height:50px; font-size:30px; line-height:50px; font-weight:bold; font-family:Arial; color:#FFF;}
.hbwebsite{height:28px; font-size:18px; line-height:28px; color:#FFF;}
.hbwebsite a{color:#FFF; text-decoration:none;}
.hbwebsite a:hover{color:#0000FF; text-decoration:none;}
.hbkstd{width:100px; background-image:url(../images/myesite/hbmem_34.jpg); background-repeat:no-repeat; background-position:center; font-size:14px; font-weight:bold; color:#03628a; text-align:center;}
.hbkstd a{font-size:14px; font-weight:bold; color:#03628a; text-decoration:none;}
.hbkstd a:hover{color:#FF0000; text-decoration:none;}
.hbsosu{width:200px; height:24px; border:solid 1px #7dd6fb; font-size:12px; margin-right:5px;}
.hbcon{border:solid 1px #ade4fb; background-color:#FFF;}
.hbconleft{border:solid 1px #dcdedc; margin-top:8px;}
.hbconleft_tit{height:29px; background-image:url(../images/myesite/hbmem_15.jpg); background-repeat:repeat-x; font-size:14px; font-weight:bold; color:#555555; border-bottom:solid 1px #CCC; padding-left:10px; line-height:29px;}
.hbconleft_tit img{ margin-right:5px;}
.hbleftinfotop1{background-image:url(../images/myesite/hbmem_17.jpg); background-repeat:no-repeat; background-position:center; color:#FFF; text-align:center;}
.hbleftinfotop2{background-image:url(../images/myesite/hbmem_18.jpg); background-repeat:no-repeat; background-position:center; color:#FFF; text-align:center;}
.hbleftinfotop3{background-image:url(../images/myesite/hbmem_19.jpg); background-repeat:no-repeat; background-position:center; color:#FFF; text-align:center;}
.hbleftinfolist{padding:5px; line-height:24px;}
.hbleftinfocon{padding:10px; line-height:24px;}
.hbleftinfocon span{color:#464646;}
.hbleftinfolist span{color:#464646;}
.hbleftinfolist  a{color:#464646; text-decoration:none;}
.hbleftinfolist  a:hover{color:#0C0; text-decoration:none;}
.hbmargintop{margin-top:8px;}
.hbbottomline{border-bottom:solid 1px #e2e3e2;}
.hbinfocon_padleft{padding-left:10px;}
.hbinfocon_padright{padding-right:5px;}
.hbinfocon_padright  a{color:#0774ac; text-decoration:none;}
.hbinfocon_padright  a:hover{color:#0C0; text-decoration:none;}
.hbzldown:link{color:#0774ac; text-decoration:underline;}
.hbzldown:visited{color:#0774ac; text-decoration:underline;}
.hbzldown:hover{color:#0C0; text-decoration:none;}
.hbzldown:active{color:#0774ac; text-decoration:underline;}
.hbnewsj{border:solid 1px #e2e3e2; background-color:#f8f8f8;}
.hbnewsj a{color:#464646; text-decoration:none;}
.hbnewsj a:hover{color:#0C0; text-decoration:none;}
.hbnewsj li{border-bottom:dashed 1px #e2e3e2;  line-height:27px; padding-left:8px;}
.hbnewsjmore{text-align:right; padding-right:10px;}
.bottoms{font-size:14px; color:#262626;}
.bottoms a{font-size:14px; color:#262626; text-decoration:none;}
.bottoms a:hover{color:#0C0; text-decoration:none;}


.hbnycon{border:solid 1px #ade4fb; border-top:0px; border-left:0px; background-color:#FFF;}
.hbnyconinfo{line-height:40px; color:#282828; font-size:14px;}
.hbnyconinfo span{color:#FF0000;}
.hbnyconadd{line-height:30px; color:#282828; font-size:12px; border:solid 1px #cacbcc; margin-top:10px;}
.hbnyconadd span{color:#FF0000;}
.hbnyconan{background-image:url(../images/myesite/hbmem_35.jpg); width:63px; height:24px; line-height:24px; text-align:center; font-size:12px; border:0px;}
.hbnyconedittit{line-height:30px; color:#282828; font-size:12px;}
.hbnyconinput{border:solid 1px #cacbcc; height:20px; line-height:20px; font-size:12px; color:#282828; border-radius:3px;}
.hbnycontit00{ width:100%;}
.hbnycontit90{ width:90%;}
.hbnycontit80{ width:80%;}
.hbnycontit70{ width:70%;}
.hbnycontit60{ width:60%;}
.hbnycontit50{ width:50%;}
.hbnycontit40{ width:40%;}
.hbnycontit30{ width:32%;}
.hbnycontit20{ width:20%;}
.hbnycontit10{ width:10%;}
.hbnyconselect{border:solid 1px #cacbcc; font-size:14px; height:22px; line-height:20px; color:#282828; border-radius:3px;}
.hbnycontext{border:solid 1px #cacbcc; line-height:20px; color:#282828; border-radius:3px; width:94%; height:150px;}
.hbnyconedit{border:solid 1px #cacbcc; line-height:20px; color:#282828; border-radius:3px; width:94%;}
.hbinfoelect{ width:140px; height:100px; background:none; border:1px solid #CCCCCC; border-radius:3px; line-height:20px; font-size:12px;}
.hbinputyq{border:solid 1px #1797d9; width:20px; height:20px;}
.hbnytit{height:40px; background-color:#d2f2ff; font-size:14px; font-weight:bold; color:#555555; line-height:40px; padding-left:10px;}
.hbnylefts{background-image:url(../images/myesite/lefts.jpg); background-repeat:repeat-x; padding-left:8px; height:31px; line-height:31px; font-size:14px; color:#013b53; border:solid 1px #cef0fe; margin-bottom:1px; cursor:pointer; text-align:center;}
.hbnylefts a{font-size:14px; color:#013b53; text-decoration:none;}
.hbnylefts a:hover{color:#FF0000; text-decoration:none;}
.hbnyleft{background-image:url(../images/myesite/left.jpg); background-repeat:repeat-x; padding-left:8px; height:31px; line-height:31px; font-size:14px; color:#013b53; border:solid 1px #86d9fb;margin-bottom:1px; cursor:pointer; text-align:center;}
.hbnyleft:hover{background-image:url(../images/myesite/lefts.jpg); background-repeat:repeat-x;}
.hbnyleft a{font-size:14px; color:#013b53; text-decoration:none;}
.hbnyleft a:hover{color:#FF0000; text-decoration:none;}
.hbnyuppic{width:150px; height:142px; float:left;}
.hbnyuppic_a{width:120px; height:100px; border:solid 1px #cacbcc; font-size:12px; color:#cacbcc; text-align:center;}
.hbnyuppic_b{width:120px; height:30px; text-align:center; padding-top:10px; line-height:30px;}

.hbnyly{background-image:url(../images/myesite/hbmem_25.jpg); background-repeat:repeat-x; margin-top:8px;}
.hbnyly a{font-size:12px; color:#262626; text-decoration:none;}
.hbnyly a:hover{color:#006792; text-decoration:none;}
.hbnylyfl{height:30px; line-height:30px; background-image:url(../images/myesite/hbmem_24.jpg); background-repeat:no-repeat; background-position:center;}
.hbnylyhw{height:40px;}
.hbnylyhw a{font-size:12px; color:#555555; text-decoration:none;}
.hbnylyhw a:hover{font-size:12px; color:#FF0000; text-decoration:none;}
.hbnylylist{margin-bottom:8px; line-height:26px;}

.hbnycpfl{height:30px; line-height:30px; background-image:url(../images/myesite/hbmem_47.jpg); background-repeat:no-repeat; background-position:center;}
.hbnycpname{width:517px; height:134px; float:left;}
.hbnycptit{color:#989797; border-bottom:dashed 1px #bdbdbd; line-height:40px; padding-left:8px;}
.hbnycpcon{color:#989797; line-height:20px; padding-left:8px; padding-right:8px;}
.hbnycpan{width:85px; height:119px; line-height:26px; background-color:#f3fafd; text-align:center; padding-top:15px; float:left;}
.hbnycpan a{font-size:12px; color:#0774ac; text-decoration:none;}
.hbnycpan a:hover{font-size:12px; color:#FF0000; text-decoration:none;}

.hbnyconnewlist{line-height:30px; color:#282828; font-size:12px;}
.hbnyconnewlist a{font-size:12px; color:#0774ac; text-decoration:none;}
.hbnyconnewlist a:hover{color:#FF0000; text-decoration:none;}
.hbnyconnewlist td{border-bottom:dashed 1px #c3c4c5;}

.hbceff{width:370px; height:320px; float:left;}
.hbceffimg{width:290px; height:200px; border:solid 1px #abacac; margin:0px auto;}
.hbceffspe{width:290px; height:10px; margin:0px auto;}
.hbceffcomname{width:290px; height:30px; line-height:30px; border:solid 1px #abacac; text-align:center; color:#464646; margin:0px auto;}
.hbceffcz{width:290px; height:80px; line-height:50px; text-align:center; color:#0774ac; margin:0px auto;}
.hbceffcz a{font-size:12px; color:#0774ac; text-decoration:none;}
.hbceffcz a:hover{color:#FF0000; text-decoration:none;}

.hbbeccompany{text-align:center; border-radius:3px; border:solid 1px #cacbcc; line-height:80px; height:80px; font-size:16px;}

.hbtemtit{padding:5px; background-color:#eae9e9; color:#555555; font-size:14px;}
.hbtemlist{width:255px; float:left;}
.hbtemimg{border:solid 1px #adafaf; width:170px; height:114px; text-align:center; padding:2px; float:left;}
.hbteminput{width:175px; height:50px; line-height:50px; font-size:14px; color:#555; float:left;}
.hbtemspies{width:175px; height:20px;float:left;}

.hbpage{font-size:12px;color:#0774ac;padding:3px;border:solid 1px #0774ac; line-height:20px;}
.hbpage:link{text-decoration:none;}
.hbpage:visited{text-decoration:none;color:#0774ac;}
.hbpage:hover{text-decoration:none;color:#F00;border:solid 1px #0774ac; background-color:#E3E3E3;}
.hbpage:active{text-decoration:none;color:#0774ac;}

.top_menu{ width:690px; height:30px; line-height:30px; font-size:14px; color:#000; padding-left:10px; font-weight:bold; border:solid 1px #98dcfb; margin-top:10px; display:block; cursor:pointer;} 
.sub_meuu{width:700px; height:auto; line-height:30px;}
.sub_meuu a{font-size:12px; color:#0774ac; text-decoration:none;}
.sub_meuu a:hover{color:#FF0000; text-decoration:none;}
.sub_meuu td{ border-bottom:dashed 1px #0774ac;}
/*.sub_meuu a{font-size:14px; padding-left:25px; color:#00C; display:block; clear:both; text-decoration:none; border:solid 1px #E8E8E8; margin-top:5px;}
.sub_meuu a:hover{background-color:#F1FBFF; border:solid 1px #CCC;}*/

.pf_upd_ipt{display:block;overflow:hidden; margin-left:25px;float:left;background:url(../images/myesite/hbmem_23.jpg); background-repeat:no-repeat; background-position:center;cursor:pointer;}
.pf_upd_ipt input{width:72px;height:23px; text-align:center;}
.pf_upd_ipt input{overflow:hidden;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity: 0;opacity: 0;cursor:pointer}

.est_cmysus_img{margin:16px 16px 16px 40px}
.est_cmysus_imgr{height:30px;line-height:30px}
.est_cmysus_imgr span,.est_cmysus_imgr a{display:block}
.est_cmysus_imgr a{margin:4px 0px 4px 4px;color:#fff;display:block;width:62px;height:21px;line-height:21px;background:url(../images/esite/esitebtn.gif) left -87px;text-align:center;}
.est_cmysus_imgr a:hover{color:#fff;text-decoration:none;background:url(../images/esite/esitebtn.gif) left -113px}
.est_cmysus_imgro{height:24px;line-height:24px}

.infoaddok{line-height:24px;}
.infoaddok td{ border-bottom:dashed 1px #CCC;}
.infoaddok span{color:#090;}
.infoaddok a{font-size:12px; color:#555555; text-decoration:none;}
.infoaddok a:hover{color:#FF0000; text-decoration:none;}
