<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>$!{seoTitle}</title>
<meta name="keywords" content="$!{seoKeywords}" />
<meta name="description" content="$!{seoDescription}" />
<link rel="shortcut icon" href="http://img0.zz91.com/front/images/logo/favicon.ico" />
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/newhuzhu/css/community.css" />
<link rel="stylesheet" type="text/css" href="$!{address.img}/bbs/css/zz91.bbs.general.css" />
<script type="text/javascript" src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="http://img0.zz91.com/zz91/newhuzhu/js/jquery.SuperSlide.2.1.js"></script>
<!--[if IE 6]>
<script type="text/javascript" src="js/Png.js"></script>
<script type="text/javascript">
EvPNG.fix('div, ul, img, li, input, a');
</script>
<![endif]-->

<!--google analysis-->

<!--baidu analysis-->
<!--51yes analysis-->
#parse("/seo/analysis_head.vm")
</head>
<body>
<div class="community">
	#if(!$!{sessionUser})
    	<div class="topbar unlogin">
        	<div class="topbar-block">
            	<a class="gheader-logo fl" id="hzLogo" href="$!{address.huzhu}" title="互助社区">互助社区</a>
                <div class="search1">
          			<form method="post" action="" id="shequ" class="gh-search gh-search-unlogin" />
             			<input type="text" class="fl" name="search" value="" placeholder="请输入搜索内容" id="content"/>
                        <input type="button" class="fl" value="搜索" name="搜索" id="go" alt="Search" title="Search">
          			</form>
                </div>
        		<!--end search1-->
                <ul class="gnav fl">
    					    <li>
    							<a href="#springUrl('/wenda/')" class="fl">问答</a>
    						</li>
    						<li>
    							<a href="#springUrl('/shequ/')" class="g_cur fl">社区</a>
    						</li>
    						<li>
    							<a href="#springUrl('/xueyuan/')" class="fl">学院</a>
    						</li>
							<li>
    							<a href="#springUrl('/shangquan1/')" class="fl">商圈</a>
    						</li>
##    						<li>
##    							<a href="http://www.zz91.com/" class="fl">专栏</a>
##    						</li>
                    <li class="gnav_up"></li>
                   <li>
    					<a href="$!{address.www}/login.htm?url=$!{address.huzhu}/shequ/" style="font-size:14px">登录</a>
    					&nbsp;丨&nbsp;<a style="font-size:14px" href="$!{address.www}/register/register_stp1.htm" target="_blank" >注册</a>
    				</li>
                </ul>
            </div>
            <!--end topbar-block-->
        </div>
	#else
		<div class="topbar login">
			<div class="topbar-block">
				<a class="gheader-logo fl" id="hzLogo" href="$!{address.huzhu}" title="互助社区">互助社区</a>
				<div class="search1">
					<form method="post" action="" id="shequ" class="gh-search gh-search-unlogin" />
						<input type="text" class="fl" name="search" value="" placeholder="请输入搜索内容" id="content"/>
						<input type="button" class="fl" value="搜索" name="搜索" id="go" alt="Search" title="Search">
					</form>
				</div>
				<!--end search1-->
				<ul class="gnav fl">
					<li>
						<a href="#springUrl('/wenda/')" class="fl">问答</a>
					</li>
					<li>
						<a href="#springUrl('/shequ/')"  class="g_cur fl">社区</a></li>
					<li>
						<a href="#springUrl('/xueyuan/')" class="fl">学院</a>
					</li>
					<li>
						<a href="#springUrl('/shangquan1/')" >商圈</a>
					</li>
##					<li>
##						<a href="http://www.zz91.com/" class="fl">专栏</a>
##					</li>
				</ul>
				## 获取登陆 数据
				#cacheFragment("$!{address.fragment}/huzhu/getTopInfo.htm?companyId=$!{sessionUser.companyId}","","","")
				<div class="login-head-gt">
					<div class="loginlink g-ib">
						<div class="topNav">
							<dl class="tnLeft">
								<dd>
									<h3>
										<a target="_blank" href="javascript:;">
											#if(!$!{bbsUserProfiler}||!$!{bbsUserProfiler.picturePath}||$!{bbsUserProfiler.picturePath}=="")
												<img src="http://img0.zz91.com/zz91/newhuzhu/images/icon_head.jpg" />
											#else
												<img src="$!{address.thumb}$!{address.resource}/$!{bbsUserProfiler.picturePath}" width="24px" height="24px" />
											#end
											<i></i>
										</a>
									</h3>
									<ul>
										<li><a href="#springUrl('/myhuzhu/guanzhu/dongtai.html')">我的关注</a></li>
										<li><a href="#springUrl('/personIndex')$!{sessionUser.companyId}.htm">我的主页</a></li>
										<li><a href="$!{address.myrc}/">生意管家</a></li>
										<li><a href="#springUrl('/logout.htm')">退出</a></li>
									</ul>
								</dd>
							</dl>
						</div>
						<!--end tnLeft-->
						<script type="text/javascript">jQuery(".topNav").slide({ type:"menu",  titCell:"dd", targetCell:"ul", delayTime:0,defaultPlay:false,returnDefault:true  });	</script>
					</div>
                    
					<a class="skin-btn g-bg1h" href="#springUrl('/myhuzhu/sixin/messages.html')" target="_blank">
						<i class="g_icon2 skin-icon"></i>
						<span class="skin-txt">$!{inquiryCount}</span>
					</a>
					<a class="skin-btn g-bg1h" href="#springUrl('/myhuzhu/list_sys_message.htm')" target="_blank">
						<i class="g_icon1 skin-icon"></i>
						<span class="skin-txt">$!{msgCount}</span>
					</a>
					<!--end loginlink-->
				</div>
				<!--end login-head-gt-->
				#end
				<div class="cb"></div>
			</div>
			<!--end topbar-block-->
		</div>
	#end
<script type="text/javascript">	
	jQuery("#go").click(function(){
		jQuery("#shequ").submit();
	});
	jQuery("#shequ").submit(function(){
		var key = jQuery("#content").val();
		key = encodeURI(key);
		var url =  "$!{address.huzhu}/newhuzhu/search.htm"+"?keywords="+key;
		if(key&&key!=""){
			jQuery("#shequ").attr("action",url);
		}else{
			alert("请输入您要检索的关键字");
		}
	});
</script>
    <!--end topbar unlogin-->
	<div class="hz-header">
	<div class="huzhu">
		#if($pageName!="que")
    	<div class="sq_nav">
        	<div class="snav-item fl">
            	<ul class="s-item">
						<li>
                            <a href="#springUrl('/shequ/')" #if($headname=="shequ")class="s_cur"#end>社区首页</a>
                        </li>
                        <li>
                            <a href="#springUrl('/shequ/dongtai/')" #if($headname=="dongtai"||$headname=="remendongtai"||$headname=="remendongtai")class="s_cur"#end>废料动态</a>
                        </li>
						<li>
							<a href="#springUrl('/shequ/zixun/')" #if($headname=="zixun"||$headname=="remenzixun"||$headname=="jinghuazixun")class="s_cur"#end>江湖风云</a>
						</li>
						 <li>
                            <a href="#springUrl('/shequ/toutiao/')" #if($headname=="toutiao"||$headname=="jinghuatoutiao"||$headname=="rementoutiao")class="s_cur"#end>头条</a>
                        </li>
                        <li>
                            <a href="#springUrl('/shequ/baoguang/')" #if($headname=="baoguang"||$headname=="jinghuabaoguang"||$headname=="remenbaoguang")class="s_cur"#end#>骗子曝光台</a>
                        </li>
                        <li>
                            <a href="#springUrl('/shequ/jiaoliu/')" #if($headname=="jiaoliu"||$headname=="jinghuajiaoliu"||$headname=="remenjiaoliu")class="s_cur"#end>商务交流</a>
                        </li>
                       
                        <li>
                            <a href="#springUrl('/shequ/zhanwu/')" #if($headname=="zhanwu"||$headname=="jinghuazhanwu"||$headname=="remenzhanwu")class="s_cur"#end>站务管理</a>
                        </li>
						
                </ul>
            </div>
            <!--end snav-item fl-->
            <div class="snav-item fr">
            	#if($!{sessionUser})<div class="sitem-box1 fl"><a href="#springUrl('/myhuzhu/guanzhu/dongtai.html')" class="blue" target="_blank" style="color:#303030">我的关注</a></div>#end
                <!--end sitem-box-->
                <div class="sitem-box2 fr">
                	<div class="sitem-box-post"><a href="#springUrl('/shequ/fatie.html')" target="_blank">发新帖</a></div>
                </div>
                <!--end sitem-box-->
                <div class="cb"></div>
            </div>
            <!--end snav-item fl-->
            <div class="cb"></div>
        </div>
		#end
        <!--end sq_nav-->
    </div>
    <!--end huzhu-->
  </div>
  <!--end hz-header-->
	   $screen_content
		</div>
		#cacheFragment("$!{address.fragment}/china/footer.htm","","","")
				$!{fragmentContext}
		#end
		#parse("/seo/analysis_body.vm")
</body>
</html>
		#parse("/seo/analysis_foot.vm")