#set($layout="/layout/blank.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>废料交易市场_废料集散地-zz91再生网</title>
<link rel="shortcut icon" href="http://img0.zz91.com/front/images/logo/favicon.ico" />
<link rel="stylesheet" href="$!{address.img}/zz91/myrc/css/theme.css" />
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css" />
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/css/zz91.common.css" />
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/industrial/css/Establish.css" />
<script type="text/javascript" src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="http://img0.zz91.com/zz91/purchase/js/formChecked.js"></script>
<script src="$!{address.img}/lib/asto/asto-all-1.0.0.js"></script>
<script src="$!{address.img}/zz91/js/jquery-ui-1.8.23.dialog.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/industrial/css/IndustrialBelt.css" />
</head>
<body style="background-color: #f3f5c3;">
<div class="top">
  <div class="header">
    <div class="left"> <img src="http://img0.zz91.com/zz91/images/logo_zz91.png" align="absmiddle" />
      <div class="left_text"> <font size="+2"> <strong>创建市场</strong> </font> </div>
    </div>
    <div class="right">
      <p> <a href="http://www.zz91.com/login.htm">登录</a>｜ <a href="http://www.zz91.com">返回首页</a>｜ <a href="http://help.zz91.com">新手指南</a>｜ <a href="http://www.zz91.com/aboutnew/hezuo.html">提意见</a> </p>
      <span>如需帮助，请拨打<span style="red">0571-56612345</span></span> </div>
  </div>
</div>
<div class="market_bg">
	<div class="mar_box">
    	<div class="mbx_left">
        	<form action="/doCreateMarket.htm" method="post" id="formSubmit">
            	<div class="market_group mb10">
                	<label class="market_label" for="marketName"><span class="red">*</span>市场名称：</label>
                    <div class="markets"><input type="text" id="marketName" name="name" class="market_content_text" onblur="panduan(id)"/>&nbsp;<span class="red f12" style="display:none">请填写市场名称</span></div>
                </div>
                <div class="market_group mb10">
                	<label class="market_label" for="marketAddress"><span class="red">*</span>市场地址：</label>
                    <div class="markets">
                    	<p>
                        	<select id="reg-area-1" name="area" onblur="sel(id,name)">
                            	<option value="">请选择省份</option>
                            </select>
                            <select id="reg-area-2"  name="area" onblur="sel(id,name)">
                            	<option value="">请选择城市</option>
                            </select>
                            <span class="red f12" id="area" style="display:none;">请选择省份</span>
                        </p>
                    </div>
                </div>
                <div class="market_group mb10">
                	<label class="market_label" for="address"><span class="red">*</span>详细地址：</label>
                    <div class="markets"><input type="text" id="address" name="address" class="market_content_text" onblur="panduan(id)"/>&nbsp;<span class="red f12" style="display:none">请填写详细地址</span></div>
                </div>
                <div class="market_group mb10">
                	<label class="market_label" for="marketCategory"><span class="red">*</span>行业类别：</label>
                    <div class="markets">
                    	<p>
                        	<select id="reg-area-3" name="industry" onblur="sel(id,name)">
                            	<option value="">请选择所属行业</option>
                                <option value="废金属">废金属</option>
                                <option value="废塑料">废塑料</option>
                                <option value="废旧二手设备">废旧二手设备</option>
                            </select>
							<select id="reg-area-0">
                            	<option value="">请选择行业类别</option>
                            </select>
							<select id="reg-area-4" style="display:none;" name="category" onblur="sel(id,name)">
                            	<option value="">请选择行业类别</option>
                                <option value="废钢铁">废钢铁</option>
                                <option value="有色金属">有色金属</option>
                                <option value="稀贵金属">稀贵金属</option>
                                <option value="混合/复合">混合/复合</option>
                                <option value="再生金属">再生金属</option>
                                <option value="废金属处理设备">废金属处理设备</option>
                            </select>
                            <select id="reg-area-5" style="display:none;" name="category" onblur="sel(id,name)">
                            	<option value="">请选择行业类别</option>
                                <option value="废塑料">废塑料</option>
								<option value="再生颗粒">再生颗粒</option>
								<option value="塑料助剂">塑料助剂</option>
								<option value="塑料加工设备">塑料加工设备</option>
                            </select>
							<select id="reg-area-6" style="display:none;" name="category" onblur="sel(id,name)">
                            	<option value="">请选择行业类别</option>
                                <option value="二手交通工具">二手交通工具</option>
                                <option value="二手机床设备">二手机床设备</option>
                                <option value="二手工程设备">二手工程设备</option>
                                <option value="二手化工设备">二手化工设备</option>
                                <option value="二手制冷设备">二手制冷设备</option>
                                <option value="二手纺纱设备">二手纺纱设备</option>
								<option value="二手电子设备">二手电子设备</option>
								<option value="二手电力设备">二手电力设备</option>
								<option value="二手矿业设备">二手矿业设备</option>
								<option value="二手塑料设备">二手塑料设备</option>
								<option value="二手印刷设备">二手印刷设备</option>
                            </select>
                            <span class="red f12" id="category" style="display:none;">请选择行业类别</span>
                        </p>
                    </div>
                </div>
                <div class="market_group mb10">
                	<label class="market_label" for="majorBusiness">市场主营：</label>
                    <div class="markets"><input type="text" id="majorBusiness" name="business" class="market_content_text" /></div>
                </div>
                <div class="market_group mb10">
                	<label class="market_label" for="marketCategory">市场简介：</label>
                	<div class="markets"><textarea id="marketText" name="introduction"></textarea></div>
                </div>
                <div class="market_group mb10">
                	<label class="market_label" for="marketPhoto">市场图片：</label>
                    <div class="markets clearfix">
                    	#foreach($pic in [1..5])
							<div class="upload_wrap">
								<div class="upload_img">
									<img id="previewImg$pic" src="$!{address.images}/global/noimage.gif" name="imag" width="82" height="78" />
								</div>
								<div>
									<input type="button" value="上传" class="uploadBtn btn" id="uploadBtn_$pic">
									##<div class="upload-file" id="uploadBtn_$pic">上传</div>
									<input type="hidden" value="" name="picIds" id="previewId$pic" class="pics">
								</div>
                        </div>
						#end
                        <div class="cb"></div>
                    </div>
                    <div class="markets" id="picErr">
						<span class="red f12">第一张图片为默认主图, 建议上传横图(图片大小：600*480), 图片清晰。</span>
					</div>
                </div>
				#if($!{sessionUser})
					<input type="hidden" name="loginFlag" id="loginFlag" value="1">
				#else
					<input type="hidden" name="loginFlag" id="loginFlag" value="0">
				#end
                <div class="market_btn"><a href="javascript:;">确认提交</a></div>
            </form>
        </div>
        <div class="mbx_right clearfix">
        	<ul>
            	<li>
                	<dl>
                    	<dt>入驻市场</dt>
                        <dd>入驻市场，随时随地了解市场货源信息，提升公司知名度，获取更多商机。</dd>
                        <dd class="tr"><a href="http://y.zz91.com/" target="_blank">入驻市场>></a></dd>
                    </dl>
                </li>
                <li>
                	<dl>
                    	<dt>查看市场</dt>
                        <dd>查看市场，足不出户查看全国近800家再生废料市场。</dd>
                        <dd class="tr"><a href="http://y.zz91.com/" target="_blank">查看市场>></a></dd>
                    </dl>
                </li>
                <li>
                	<dl>
                    	<dt>查看地图</dt>
                        <dd>查看地图，在地图上查看再生市场的地理位置，一目了然。</dd>
                        <dd class="tr"><a href="http://y.zz91.com/map/zsmap.htm" target="_blank">查看地图>></a></dd>
                    </dl>
                </li>
                <li>
                	<dl>
                    	<dt>发布供求</dt>
                        <dd>发布供求，展示优质产品，公开采购需求，赢得更多商机。</dd>
                        <dd class="tr"><a href="http://myrc.zz91.com/myproducts/office_post1.htm" target="_blank">发布供求>></a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="cb"></div>
    </div>
</div>
<div class="clear"></div>
<script>
## 市场地址
var regarea = new Asto.util.Selector({
	selects: ["#reg-area-1","#reg-area-2"],
	assistSelects: ["#reg-garden"],
	url: "#springUrl('/category/areaChild.htm')",
	assistUrl: "#springUrl('/category/gardenChild.htm')",
	changeCallback: function (c, idx) {
	}
});
regarea.init({
	rootCode: "10011000"
});
jQuery("#reg-area-3").click(function(){
	var a = jQuery(this).find("option:selected").text();
	if(a=="废金属"){
		jQuery("#reg-area-0").css("display","none");
		jQuery("#reg-area-4").css("display","inline-block");
		jQuery("#reg-area-5").css("display","none");
		jQuery("#reg-area-6").css("display","none");
	}else if(a=="废塑料"){
		jQuery("#reg-area-0").css("display","none");
		jQuery("#reg-area-5").css("display","inline-block");
		jQuery("#reg-area-4").css("display","none");
		jQuery("#reg-area-6").css("display","none");
	}else if(a=="废旧二手设备"){
		jQuery("#reg-area-0").css("display","none");
		jQuery("#reg-area-6").css("display","inline-block");
		jQuery("#reg-area-4").css("display","none");
		jQuery("#reg-area-5").css("display","none");
	}else{
		jQuery("#reg-area-0").css("display","inline-block");
		jQuery("#reg-area-6").css("display","none");
		jQuery("#reg-area-4").css("display","none");
		jQuery("#reg-area-5").css("display","none");
	}
});
var upload = new Asto.util.PopupBox({
		url: "#springUrl('/upload/market.htm')",
		title: "上传产品图片",
		width: 450,
		height: 300,
		modal: true
	});
jQuery(".uploadBtn").click(function (obj) {
		var id = jQuery(this).attr("id").replace("uploadBtn_", "");
		var btn = jQuery(this);
		if (btn.val() == "上传") {
			Asto.util.Callback.setSubmitCallback(function (success, data) {
				var url = "delayPicChange('" + id + "','" + data.picAddress + "')";
				setTimeout(url, 2000);
				jQuery("#previewId" + id).val(data.id);
				btn.val("删除");
				## 图片错误信息隐藏
				jQuery("#picErrorContent").hide();
				upload.close();
			});
			upload.show("#springUrl('/upload/market.htm')");
		} else {
			deletePic(btn, id);
		}
	});
	var previewImg = new Asto.util.PopupBox({
		url: "#",
		width: 850,
		height: 450,
		modal: true,
		title: "大图预览"
	});
	jQuery(".upimgBlock img").click(function (e) {
		previewImg.show(jQuery(this).attr("src"));
	});
	function delayPicChange(id, address) {
		jQuery("#previewImg" + id).attr("src", "$!{address.resource}/" + address);
	}
	function deletePic(btn, id) {
	jQuery.ajax({
		type: "post",
		url: "#springUrl('/deleteOnlyPic.htm')",
		data: {
			"id": jQuery("#previewId" + id).val()
		},
		dataType: "json",
		success: function (req) {
				jQuery("#previewImg" + id).attr("src", "$!{address.img}/front/images/global/noimage.gif");
				jQuery("#previewId" + id).val("");
				btn.val("上传");
			},
			failure: function () {
				Asto.util.Message.show({
					msg: "发生错误，图片没有被删除，请过一会再试一下！",
					msgType: Asto.util.Message.ERROR,
					autoClose: 5000
				});
			}
	});
}
jQuery(".market_btn").click(function(){
    var name = jQuery("#marketName").val().replace(/\s/g,'');
	if(name == ""){
		jQuery("#marketName").parent().find("span").show();
	}
    var province = jQuery("#reg-area-1").find("option:selected").text();
	if(province == "请选择省份"){
		province = "";
	}
	var city = jQuery("#reg-area-2").find("option:selected").text();
	if(city == "请选择城市"){
		city = "";
	}
	if(province && city == ""){
		jQuery("#area").html("请选择城市");
	 	jQuery("#area").css("display","inline-block");
		city = "";
	}else if(province && city){
	 	jQuery("#area").css("display","none");
	}else{
		jQuery("#area").html("请选择省份");
	 	jQuery("#area").css("display","inline-block");
	}
	var industry = jQuery("#reg-area-3").find("option:selected").text();
	if(industry.indexOf("请选择") != -1){
		industry = "";
	}
	var category = "";
	var category1 = "";
	if(jQuery("#reg-area-0").find("option:selected").text().indexOf("请选择") != -1){
		category = "";
	}else{
		category1 =  jQuery("#reg-area-0").find("option:selected").text();
	}
	if(jQuery("#reg-area-4").find("option:selected").text().indexOf("请选择") != -1){
		category = "";
	}else{
		category1 =  jQuery("#reg-area-4").find("option:selected").text();
	}
	if(jQuery("#reg-area-5").find("option:selected").text().indexOf("请选择") != -1){
		category = "";
	}else{
		category1 =  jQuery("#reg-area-5").find("option:selected").text();
	}
	if(jQuery("#reg-area-6").find("option:selected").text().indexOf("请选择") != -1){
		category = "";
	}else{
		category1 =  jQuery("#reg-area-6").find("option:selected").text();
	}
	category = category1;
	if(industry && category ==""){
		jQuery("#category").html("请选择行业类别");
	 	jQuery("#category").css("display","inline-block");
	}else if(industry && category){
		jQuery("#category").css("display","none");
	}else{
		jQuery("#category").html("请选择所属行业");
	 	jQuery("#category").css("display","inline-block");
	}
	var address = jQuery("#address").val().replace(/\s/g,'');
	if(!address){
		jQuery("#address").parent().find("span").show();
	}else{
		jQuery("#address").parent().find("span").hide();
	}
	if(!province||!city||!industry||!category||!name||!address){
		return false;
	}
	var business = jQuery("#majorBusiness").val();
	var intro = jQuery("#marketText").val();
	var picId = jQuery("input[name=picIds]");
	var picIds = '';
	for(var i = 0; i < picId.length; i ++){
	    if(picId[i].value){
	   		 if(i == 0){
				picIds = picId[i].value;
			 }else{
				picIds = picIds + ',' + picId[i].value;
			 }
		}
	}
	var area = province + ' ' + city;
    var loginFlag = jQuery("#loginFlag").attr("value");
	if(loginFlag&&loginFlag==1){
		sub(name,area,address,industry,category,business,intro,picIds);
	}else{
		Asto.util.Callback.setSubmitCallback(function(success, data,mark){
			jQuery("#loginFlag").attr("value","1");
			//jQuery("#formSubmit").submit();
			sub(name,area,address,industry,category,business,intro,picIds);
	    });
		openoverlay('$!{address.front}/mini/login.htm?destUrl=$!{address.market}/submitCallback.htm&regfrom=10031030','注册/登录',750,430,0);
	}
});
function panduan(a){
	var panduan = jQuery("#"+a).attr("value").replace(/\s/g,'');
	if(!panduan){
		jQuery("#"+a).parent().find("span").show();
	}else{
		jQuery("#"+a).parent().find("span").hide();
	}
}
function sel(a,b){
   if(b == "industry"){
   		b = "category";
   }
   var arr=jQuery("#"+a).find("option:selected").text();
   if(arr.indexOf("请选择") != -1){
   		jQuery("#"+b).html(arr);
		jQuery("#"+b).css("display","inline-block");
   }else{
   		jQuery("#"+b).css("display","none");
   }
   
}
function sub(a,b,c,d,e,f,g,h){
	jQuery.ajax({
		type: "post",
		url: "#springUrl('/doCreateMarket.htm')",
		data: {
			"name":a,
			"area":b,
			"address":c,
			"industry":d,
			"category":e,
			"business":f,
			"introduction":g,
			"picIds":h
		},
		dataType: "json",
		success: function (req) {
		    if(req.id&&req.id>0){
				openoverlay('create_suc.htm','',470,90,0);
				jQuery("#majorBusiness").val('');
				jQuery("#marketText").val('');
				jQuery("#marketName").val('');
				jQuery("#address").val('');
				jQuery(".upload_img").find("img").attr("src", "$!{address.img}/front/images/global/noimage.gif");
				jQuery(".pics").val("");
				jQuery(".btn").val("上传");
				$("#reg-area-1").attr("value",'');
				$("#reg-area-2").attr("value",'');
				$("#reg-area-3").attr("value",'');
				$("#reg-area-4").attr("value",'');
				$("#reg-area-5").attr("value",'');
				$("#reg-area-6").attr("value",'');
			}
		}
	});
}
</script>
<div class="footer">
	<p>
		<a href="http://about.zz91.com/" target="_blank">关于我们</a> | 
		<a href="http://www.recyclechina.com/" target="_blank">国际站</a> | 
		<a href="http://www.zz91.com/service/baidu/yh.html" target="_blank">百度优化</a> | 
		<a href="http://www.zz91.com/service/zst/" target="_blank">再生通服务</a> | 
		<a href="http://help.zz91.com/" target="_blank">新手指南</a> | 
		<a href="http://www.zz91.com/webmap.html" target="_blank">网站地图</a> | 
		<a href="http://www.zz91.com/hkfs/" target="_blank" rel="nofollow">支付方式</a> | 
		<a href="http://about.zz91.com/contact.html" target="_blank" rel="nofollow">意见投诉</a> | 
		<a href="http://www.zz91.com/about/linkus.asp" target="_blank">友情链接</a> | 
		<a href="http://about.zz91.com/contact.html" target="_blank">客服中心</a> | 
		<a href="http://about.zz91.com/jobs.html" target="_blank">诚聘英才</a> | 
		<a href="http://daohang.zz91.com/" target="_blank">产品导航</a>
		<br>
		全国统一服务热线：0571-56611111 56612345   市场合作：0571-56633145   广告服务：0571-56611111   传真：0571-56637777<br>
		<a href="http://www.miibeian.gov.cn" target="_blank">增值电信业务经营许可证 浙B2-20080212</a> 法律顾问：京衡律师集团事务所 罗益群 律师<br>
        版权所有 ZZ91再生网  Copyright©2005-2013 ZZ91.com. All Rights Reserved <br>
        <br>
	  ZZ91再生网为中国物资再生协会副会长单位  中国塑协理事单位  浙江省电子商务促进会的副会长单位<br>
		并与中国有色金属工业协会、中国塑料协会 、阿里巴巴、《资源再生》杂志等达成战略合作<br>
	</p>
  </div>
</body>
</html>