#set($layout="/layout/newdefault.vm")
<div class="faq_mk_p">
    	<div class="help_left">
        	<div>
        		<div class="faq_mkbg_p"><h3 class="logo1">注册与登录</h3></div>
                <ul>
                	<li><a href="${address.www}/faq/faqQu01.htm">注册</a></li>
                    <li><a href="${address.www}/faq/faqQu02.htm">登录</a></li>
                </ul>
            </div>
            <div>
        		<div class="faq_mkbg_p"><h3 class="logo2">密码与安全</h3></div>
                <ul>
                	<li><a href="${address.www}/faq/faqQu03.htm">密码</a></li>
                    <li><a href="${address.www}/faq/faqQu04.htm">安全</a></li>
                </ul>
            </div>
            <div>
        		<div class="faq_mkbg_p"><h3 class="logo3">买家帮助</h3></div>
                <ul>
                	<li><a href="${address.www}/faq/faqQu05.htm">找卖家</a></li>
                    <li><a href="${address.www}/faq/faqQu06.htm">发布求购信息</a></li>
                </ul>
            </div>
            <div>
        		<div class="faq_mkbgb_p"><h3 class="logo4">卖家帮助</h3></div>
                <ul>
                	<li><a href="${address.www}/faq/faqQu07.htm">公司介绍</a></li>
                    <li><a href="${address.www}/faq/faqQu08.htm">供应产品</a></li>
                    <li><a href="${address.www}/faq/faqQu09.htm"><em class="emc0">查找买家</em></a></li>
                </ul>
            </div>
        </div>
    	<div class="helpas_right">
       		<div class="helpas_r1_p">
            	<h3>采购速配保密协议相关事宜</h3>
                <div class="faq_repi_p">
					<div>
                    <p>为了尽可能保护采购商的商业机密，在采购商发布采购信息时，发布表单内提供保密协议的签署模版，采购商有权选择是否需要供应商签署保密协议后才能查看采购商想要保密的产品详细描述、设计图纸、图片、表格等附件。</p>
					</div>
					<div>
                    <p>保密协议的具体内容如下：</p>
                    <p>作为查看本询盘的前提条件，您在此向采购商（此询盘发布人/单位）做出承诺如下</p>
                    <p>1、本询盘、附件及相关数据（“保密信息”）均为采购商所有，仅限您准备报价，与采购商洽谈、实现及履行交易使用，不得用于除前述目的外的任何其他用途；</p>
                    <p>2、保密信息所涉知识产权及其他相关权利（“知识产权”）均归采购商或其他相关方所有，获准查看保密信息并不表示您获得任何知识产权授权，未经采购商同意，您无权对知识产权加以利用；</p>
                    <p>3、未经采购商同意，不得向任何第三方或公众披露保密信息；</p>
                    <p>4、您承诺将以不低于保护自己的秘密信息和专有信息同等的谨慎和保护措施（但无论如何不得低于合理注意的程度）来保护保密信息；</p>
                    <p>5、您承诺仅将保密信息披露给为实现1中所述目的不得不接触该信息的员工，并保证其遵守本承诺文件的规定；</p>
                    <p>6、如违反本承诺文件之规定，您承诺：</p>
                    <p>（1）无论故意与过失，应当立即停止侵害，并在第一时间采取一切必要措施防止保密信息的扩散和/或损失的增加，尽最大可能消除影响；</p>
                    <p>（2）如给采购商造成损失，应承担相应损害赔偿责任。<br />此处“您”均指代想要查看此询盘保密内容的任何人及单位。</p>
					</div>
                    <div>
                     <p>如果采购商上传的任何附件或详细说明中包含商业保密信息，中国环保网建议采购商选择“供应商签署保密协议才能查看详细说明、附件和进行报价”选项。</p>
                    </div>
                </div>
                <div class="faq_yon_p">
                	<p>帮助问题解决了您的问题了吗？</p>
                    <p>是，已经解决返回   <button class="faqbut_xszn"><a href="${address.www}/faq/newGindex.htm" ref="nofollow">新手指南</a></button></p>
                    <p>否，尚未解决   <button class="faqbut_gum"><a href="${address.www}/fudus/leaveMsg.htm" ref="nofollow">给我们留言</a></button></p>  
                </div>
            </div>
           	<div class="helpas_r2_p">
            	<h3>其它相关问题</h3>
                <div class="faq_qu_p">
                    <span><ul><li><a href="${address.www}/faq/faqRe02.htm">注册时用户名为什么提示错误？</a></li><li><a href="${address.www}/faq/faqRe04.htm">为什么注册时填写电子邮箱被提示不正确？</a></li><li><a href="${address.www}/faq/faqRe07.htm">会员种类和权限是怎么样的？</a></li></ul></span>

                    <span><ul><li><a href="${address.www}/faq/faqRe01.htm">注册填写的密码为什么提示不正确？</a></li><li><a href="${address.www}/faq/faqRe03.htm">为什么注册信息填好后提交没反映？</a></li><li><a href="${address.www}/faq/faqRe05.htm">如何填写用户名和密码？</a></li></ul></span>
                    <div class="clear"></div>
                </div>
            </div>
    	</div>
        <div class="clear"></div>
    </div>