#set($layout="/layout/newdefault.vm")
<div class="faq_mk_p">
    	<div class="help_left">
        	<div>
        		<div class="faq_mkbg_p"><h3 class="logo1">注册与登录</h3></div>
                <ul>
                	<li><a href="${address.www}/faq/faqQu01.htm">注册</a></li>
                    <li><a href="${address.www}/faq/faqQu02.htm">登录</a></li>
                </ul>
            </div>
            <div>
        		<div class="faq_mkbg_p"><h3 class="logo2">密码与安全</h3></div>
                <ul>
                	<li><a href="${address.www}/faq/faqQu03.htm">密码</a></li>
                    <li><a href="${address.www}/faq/faqQu04.htm">安全</a></li>
                </ul>
            </div>
            <div>
        		<div class="faq_mkbg_p"><h3 class="logo3">买家帮助</h3></div>
                <ul>
                	<li><a href="${address.www}/faq/faqQu05.htm">找卖家</a></li>
                    <li><a href="${address.www}/faq/faqQu06.htm">发布求购信息</a></li>
                </ul>
            </div>
            <div>
        		<div class="faq_mkbgb_p"><h3 class="logo4">卖家帮助</h3></div>
                <ul>
                	<li><a href="${address.www}/faq/faqQu07.htm">公司介绍</a></li>
                    <li><a href="${address.www}/faq/faqQu08.htm">供应产品</a></li>
                    <li><a href="${address.www}/faq/faqQu09.htm"><em class="emc0">查找买家</em></a></li>
                </ul>
            </div>
        </div>
    	<div class="helpas_right">
       		<div class="helpas_r1_p">
            	<h3>如何能更好的招揽生意？</h3>
                <div class="faq_repi_p">
					<div>
                    <p>网络销售一定要建立自己独立的网站有了网站，还需用心经营，可以从以下成功人士所提供的几点经验去关注：</p>
                    <p>1、整个商铺颜色搭配协调，页面内容详细，清晰明了；招牌设计漂亮，吸引人，一看就知道是一个非常有实力的公司。</p>
                    <p>2、公司介绍详细、全面，能充分体现公司的经营特色，并附上厂房图片，进一步增强买家信服力。</p>
                    <p>3、利用精品橱窗，主题性地去推广产品，突出优势！产品滚动展示，给买家更强烈的视觉冲击。</p>
                    <p>4、发布企业动态信息，商铺中实时展示；在这个个性化企业宣传窗口，展现企业文化和经营理念。</p>
                    <p>5、人才招聘的版块用于在做生意时，也能招贤纳士；同时，向买家宣传企业实力和规模。</p>
                    <p>6、在线问答针对于所有信息的公开提问都将集中展示在这个栏目中，便于买家查看；买卖问答，及时互动，促成交易！</p>
                    <p>7、产品尽可能多，图片清晰，种类齐全，满足用户不同需求。</p>
                    <p>8、证书做到尽量齐全，便于更好地让顾客来了解公司，突显公司信誉良好。</p>
                    <p>9、导航设置在左边，便于按照买家以及大多数人的习惯来搜索、浏览。</p>
					</div>
                </div>
                <div class="faq_yon_p">
                	<p>帮助问题解决了您的问题了吗？</p>
                    <p>是，已经解决返回   <button class="faqbut_xszn"><a href="${address.www}/faq/newGindex.htm" ref="nofollow">新手指南</a></button></p>
                    <p>否，尚未解决   <button class="faqbut_gum"><a href="${address.www}/fudus/leaveMsg.htm" ref="nofollow">给我们留言</a></button></p>  
                </div>
            </div>
           	<div class="helpas_r2_p">
            	<h3>其它相关问题</h3>
                <div class="faq_qu_p">
                    <span><ul><li><a href="${address.www}/faq/faqRe02.htm">注册时用户名为什么提示错误？</a></li><li><a href="${address.www}/faq/faqRe04.htm">为什么注册时填写电子邮箱被提示不正确？</a></li><li><a href="${address.www}/faq/faqRe07.htm">会员种类和权限是怎么样的？</a></li></ul></span>

                    <span><ul><li><a href="${address.www}/faq/faqRe01.htm">注册填写的密码为什么提示不正确？</a></li><li><a href="${address.www}/faq/faqRe03.htm">为什么注册信息填好后提交没反映？</a></li><li><a href="${address.www}/faq/faqRe05.htm">如何填写用户名和密码？</a></li></ul></span>
                    <div class="clear"></div>
                </div>
            </div>
    	</div>
        <div class="clear"></div>
    </div>