#set($layout="/layout/newdefault.vm")
<div class="faq_mk_p">
    	<div class="help_left">
        	<div>
        		<div class="faq_mkbg_p"><h3 class="logo1">注册与登录</h3></div>
                <ul>
                	<li><a href="${address.www}/faq/faqQu01.htm">注册</a></li>
                    <li><a href="${address.www}/faq/faqQu02.htm">登录</a></li>
                </ul>
            </div>
            <div>
        		<div class="faq_mkbg_p"><h3 class="logo2">密码与安全</h3></div>
                <ul>
                	<li><a href="${address.www}/faq/faqQu03.htm">密码</a></li>
                    <li><a href="${address.www}/faq/faqQu04.htm">安全</a></li>
                </ul>
            </div>
            <div>
        		<div class="faq_mkbgb_p"><h3 class="logo3">买家帮助</h3></div>
                <ul>
                	<li><a href="${address.www}/faq/faqQu05.htm"><em class="emc0">找卖家</em></a></li>
                    <li><a href="${address.www}/faq/faqQu06.htm">发布求购信息</a></li>
                </ul>
            </div>
            <div>
        		<div class="faq_mkbg_p"><h3 class="logo4">卖家帮助</h3></div>
                <ul>
                	<li><a href="${address.www}/faq/faqQu07.htm">公司介绍</a></li>
                    <li><a href="${address.www}/faq/faqQu08.htm">供应产品</a></li>
                    <li><a href="${address.www}/faq/faqQu09.htm">查找买家</a></li>
                </ul>
            </div>
        </div>
    	<div class="helpas_right">
       		<div class="helpas_r1_p">
            	<h3>如何更好的采购到满意的商品？</h3>
                <div class="faq_repi_p">
					<div>
                    <p>专业、细致的采购需要关注以下三点：</p>
					</div>
                    <div>
                    <span>（一）质量</span>
                    <p>质量的传统解释是好、或优良，对采购人员而言，质量的定义应是：符合买卖约定的要求或规格就是好的质量。</p>
                    <p>故采购人员应设法了解供应商对本身商品质量了解的程度，管理制度较完善的供应商应有下列有关质量的文件：</p>
                    <p>● 质量合格证</p>
                    <p>● 商检合格证</p>
                    <p>采购人员应向供应商取得以上的资料，以利未来的交易。在我国商品的产品执行标准有国家标准、专业（部）标准及企业标准，其中又分为强制性标准和推荐性标准。但通常在买卖的合同或订单上，质量是以下列方法的其中一种来表示的：</p>
                    <p>● 市场上商品的等级</p>
                    <p>● 品牌</p>
                    <p>● 商业上常用的标准</p>
                    <p>● 物理或化学的规格</p>
                    <p>● 性能的规格</p>
                    <p>● 工程图</p>
                    <p>● 样品（卖方或买方）</p>
                    <p>● 以上的组合</p>
                    <p>采购人员在采购时应首先与供应商对商品的质量达成互相同意的质量标准，在可能的情况下，对一些产品，应要求供应商提供样品封存，以避免以后的纠纷或法律诉讼。对于瑕疵品或在仓储运输过程损坏的商品，采购人员在采购时应要求退货或退款。</p>
                    </div>
                    <div>
                      <span>（二） 包装</span>
                      <p>包装可分为两种：内包装及外包装；内包装是用来保护、陈列、或说明商品之用，而外包装则仅用在仓储及运输过程的保护。设计良好的内包装往往能提高客户的购买意愿，加速商品的回转，采购人员应说服供应商在这方面向好的企业学习，并加以改进，以利彼此的销售。</p>
                    </div>
                    <div>
                      <span>（三） 价格</span>
                      <p>除了质量与包装之外，价格是所有采购事项中最重要的项目。高质量低价格，若采购人员对任何所拟采购的商品，以进价加上合理的毛利后，连自已都判断该价格无法吸引客户的购买时，就不应向该供应商采购。</p>
                    </div>
                    <div>
                     <p>在采购之前，采购人员应事先调查市场价格，不可凭供应商片面之词，如果没有相同商品的市价可查，应参考类似商品的市价。在采购价格时，采购人员最好先分析成本或价格；数家供应商进行竞标时，采购人员应选择两、三家较低标的供应商，再分别与他们采购，求得公平而合理的价格。但在使用竞标方式时，采购人员切勿认为，能提供最低价格的供应商即为最好的供应商。我们必须综合选择一个在其送货、售后服务、营销支持、其他赞助等方方面面能提供支持的供应商。所以有时候我们会放弃与提供极低价格给我们的大批发商的合作，而选择不愿意提供极低价格给我们的制造商或生产厂商与我们合作，因为后者的制造商通常在产品质量、货源保证、售后服务、促销活动及其他赞助上会有更多的营销费用支持。</p>
                    </div>
                </div>
                <div class="faq_yon_p">
                	<p>帮助问题解决了您的问题了吗？</p>
                    <p>是，已经解决返回   <button class="faqbut_xszn"><a href="${address.www}/faq/newGindex.htm" ref="nofollow">新手指南</a></button></p>
                    <p>否，尚未解决   <button class="faqbut_gum"><a href="${address.www}/fudus/leaveMsg.htm" ref="nofollow">给我们留言</a></button></p>  
                </div>
            </div>
           	<div class="helpas_r2_p">
            	<h3>其它相关问题</h3>
                <div class="faq_qu_p">
                    <span><ul><li><a href="${address.www}/faq/faqRe02.htm">注册时用户名为什么提示错误？</a></li><li><a href="${address.www}/faq/faqRe04.htm">为什么注册时填写电子邮箱被提示不正确？</a></li><li><a href="${address.www}/faq/faqRe07.htm">会员种类和权限是怎么样的？</a></li></ul></span>

                    <span><ul><li><a href="${address.www}/faq/faqRe01.htm">注册填写的密码为什么提示不正确？</a></li><li><a href="${address.www}/faq/faqRe03.htm">为什么注册信息填好后提交没反映？</a></li><li><a href="${address.www}/faq/faqRe05.htm">如何填写用户名和密码？</a></li></ul></span>
                    <div class="clear"></div>
                </div>
            </div>
    	</div>
        <div class="clear"></div>
    </div>