#set($layout="/layout/newdefault.vm")
<div class="faq_mk_p">
    	<div class="help_left">
        	<div>
        		<div class="faq_mkbg_p"><h3 class="logo1">注册与登录</h3></div>
                <ul>
                	<li><a href="${address.www}/faq/faqQu01.htm">注册</a></li>
                    <li><a href="${address.www}/faq/faqQu02.htm">登录</a></li>
                </ul>
            </div>
            <div>
        		<div class="faq_mkbg_p"><h3 class="logo2">密码与安全</h3></div>
                <ul>
                	<li><a href="${address.www}/faq/faqQu03.htm">密码</a></li>
                    <li><a href="${address.www}/faq/faqQu04.htm">安全</a></li>
                </ul>
            </div>
            <div>
        		<div class="faq_mkbgb_p"><h3 class="logo3">买家帮助</h3></div>
                <ul>
                	<li><a href="${address.www}/faq/faqQu05.htm">找卖家</a></li>
                    <li><a href="${address.www}/faq/faqQu06.htm"><em class="emc0">发布求购信息</em></a></li>
                </ul>
            </div>
            <div>
        		<div class="faq_mkbg_p"><h3 class="logo4">卖家帮助</h3></div>
                <ul>
                	<li><a href="${address.www}/faq/faqQu07.htm">公司介绍</a></li>
                    <li><a href="${address.www}/faq/faqQu08.htm">供应产品</a></li>
                    <li><a href="${address.www}/faq/faqQu09.htm">查找买家</a></li>
                </ul>
            </div>
        </div>
    	<div class="helpas_right">
       		<div class="helpas_r1_p">
            	<h3>卖家的报价，就是最终成交价格吗？</h3>
                <div class="faq_repi_p">
					<div>
                    <p>卖家的报价并不是最终的成交价格，但具有最大程度上的参考意义，我们建议双方以洽谈过后最终合同价格作为最终凭据。</p>
					</div>  
                </div>
                <div class="faq_yon_p">
                	<p>帮助问题解决了您的问题了吗？</p>
                    <p>是，已经解决返回   <button class="faqbut_xszn"><a href="${address.www}/faq/newGindex.htm" ref="nofollow">新手指南</a></button></p>
                    <p>否，尚未解决   <button class="faqbut_gum"><a href="${address.www}/fudus/leaveMsg.htm" ref="nofollow">给我们留言</a></button></p>  
                </div>
            </div>
           	<div class="helpas_r2_p">
            	<h3>其它相关问题</h3>
                <div class="faq_qu_p">
                    <span><ul><li><a href="${address.www}/faq/faqRe02.htm">注册时用户名为什么提示错误？</a></li><li><a href="${address.www}/faq/faqRe04.htm">为什么注册时填写电子邮箱被提示不正确？</a></li><li><a href="${address.www}/faq/faqRe07.htm">会员种类和权限是怎么样的？</a></li></ul></span>

                    <span><ul><li><a href="${address.www}/faq/faqRe01.htm">注册填写的密码为什么提示不正确？</a></li><li><a href="${address.www}/faq/faqRe03.htm">为什么注册信息填好后提交没反映？</a></li><li><a href="${address.www}/faq/faqRe05.htm">如何填写用户名和密码？</a></li></ul></span>
                    <div class="clear"></div>
                </div>
            </div>
    	</div>
        <div class="clear"></div>
    </div>