#set($layout="/layout/newdefault.vm")
	<div class="faq_mk_p">
    	<div class="help_left">
        	<div>
        		<div class="faq_mkbg_p"><h3 class="logo1">注册与登录</h3></div>
                <ul>
                	<li><a href="${address.www}/faq/faqQu01.htm">注册</a></li>
                    <li><a href="${address.www}/faq/faqQu02.htm">登录</a></li>
                </ul>
            </div>
            <div>
        		<div class="faq_mkbgb_p"><h3 class="logo2">密码与安全</h3></div>
                <ul>
                	<li><a href="${address.www}/faq/faqQu03.htm">密码</a></li>
                    <li><a href="${address.www}/faq/faqQu04.htm"><em class="emc0">安全</em></a></li>
                </ul>
            </div>
            <div>
        		<div class="faq_mkbg_p"><h3 class="logo3">买家帮助</h3></div>
                <ul>
                	<li><a href="${address.www}/faq/faqQu05.htm">找卖家</a></li>
                    <li><a href="${address.www}/faq/faqQu06.htm">发布求购信息</a></li>
                </ul>
            </div>
            <div>
        		<div class="faq_mkbg_p"><h3 class="logo4">卖家帮助</h3></div>
                <ul>
                	<li><a href="${address.www}/faq/faqQu07.htm">公司介绍</a></li>
                    <li><a href="${address.www}/faq/faqQu08.htm">供应产品</a></li>
                    <li><a href="${address.www}/faq/faqQu09.htm">查找买家</a></li>
                </ul>
            </div>
        </div>
    	<div class="helpas_right">
       		<div class="helpas_r1_p">
            	<h3>收到疑问询价后，几点要点要把握？</h3>
                <div class="faq_repi_p">
					<div>
						<p>收到疑问询价后，即不想把好的生意跑掉，又不想掉入陷阱，怎么办？那么我们就来看看一位网友的解决办法：</p>
					</div>
					<div>
						<p>作者：joycel</p>
						<p>FROM：西安***有限公司 国际贸易部</p>
						<p>TO：广州***贸易有限公司</p>
						<p>ATTN：*** 先生</p>
					</div>
					<div>
						<span><em>X先生：你好！</em></span>
						<p>非常感谢你的传真及电话，但我看过之后，非常遗憾地告知你，对于像你们这样做法的公司，我们无所适从，不予理睬吧，好象不礼貌，但又觉得很不理解，我们认为合作必须首先建立在互利互惠的基础上，而且是要有一定的供需关系之上，如果一味地想方设法利用别人资源来为自己赚取利润的做法，我们一向是不霄一顾的。</p>
						<p>首先是你们并没有对我们产品的需求愿望和实际内容。</p>
						<p>其次无非是不愿拿出资本，只想利用厂家急于销货的心态而进行无本经营，把风险100%抛向厂家，至少在对产品并没有了解之前，自己不愿意拿出资金来作出应该的投资</p>
						<p>无论你们是不是这种心态，但在你们的传真内容当中并无出钱买货的字眼，所以，我们的答复是：</p>
						<p>1、要货我们一定给，但必须是款到发货，钱货两清。</p>
						<p>2、不提供样品，想得到样品需先付清样品费及样品的运输费用，或样品（少量的）免费，但运费必须先期汇到我方提供的地址、帐号上，而后我们寄出样品。 </p>
						<p>3、一旦样品确认，确定需要定货时，必须在签约生效之日后的七个工作日内将第一批货款汇到我方的银行帐号内，货款到帐之日的次日，就是货物发出之时。</p>
						<p>4、如果发生与合同不符的一切问题，属我方质量、数量、时间等，我方无条件换货或负责赔赏因此而造成的直接经济损失。</p>
						<p>如果对以上几条予以认可和同意执行的话，我们将与你们做进一步地继续洽谈，如果不能认同这种合作方式，就请不必再与我们做实际毫无意义的联系了，因为我们无暇接待毫无诚意的所谓客户。</p> 
					</div>
					<div>
						<span><em>祝愿</em></span>
						<p>我们之间有一个良好合作的开端！</p>
					</div>
					<div>
						<span><em>****************公司</em></span><br />
						<span><em>国际贸易部 经理 *** </em></span><br />
						<span><em>2003-*-**</em></span>
					</div>
					<div>
						<span>[总结]：</span>
						<p>收到疑问询价后，几点要点要把握，就是上文作者回复的重点：</p>
						<p>1、要货我们一定给，但必须是款到发货，钱货两清。</p>
						<P>2、不提供样品，想得到样品需先付清样品费及样品的运输费用，或样品（少量的）免费，但运费必须先期汇到我方提供的地址、帐号上，而后我们寄出样品。</P>
						<p>3、一旦样品确认，确定需要定货时，必须在签约生效之日后的七个工作日内将第一批货款汇到我方的银行帐号内，货款到帐之日的次日，就是货物发出之时</p>
					</div>
                </div>
                <div class="faq_yon_p">
                	<p>帮助问题解决了您的问题了吗？</p>
                    <p>是，已经解决返回   <button class="faqbut_xszn"><a href="${address.www}/faq/newGindex.htm" ref="nofollow">新手指南</a></button></p>
                    <p>否，尚未解决   <button class="faqbut_gum"><a href="${address.www}/fudus/leaveMsg.htm" ref="nofollow">给我们留言</a></button></p>  
                </div>
            </div>
           	<div class="helpas_r2_p">
            	<h3>其它相关问题</h3>
                <div class="faq_qu_p">
                    <span><ul><li><a href="#">注册时用户名为什么提示错误？</a></li><li><a href="#">为什么注册时填写电子邮箱被提示不正确？</a></li><li><a href="#">会员种类和权限是怎么样的？</a></li></ul></span>
                    <span><ul><li><a href="#">注册填写的密码为什么提示不正确？</a></li><li><a href="#">为什么注册信息填好后提交没反映？</a></li><li><a href="#">如何填写用户名和密码？</a></li></ul></span>
                    <div class="clear"></div>
                </div>
            </div>
    	</div>
        <div class="clear"></div>
    </div>