#set($layout="/layout/newdefault.vm")
<div class="faq_mk_p">
    	<div class="left">
        	<div class="faq_mklt_p">
            	<div class="faq_cjwt_p"><p>常见问题</p></div>
            	<div class="faq_four_p">
                	<div class="faq_bl1_p">
                		<div class="faq_bll1_p"><h3>注册与登录</h3><img src="$!{address.img}/huanbao/images/fudus/faqqx_18.gif" /><p><a href="${address.www}/faq/faqRe08.htm">如何注册会员（注册步骤）？</a></p><p><a href="${address.www}/faq/faqRe07.htm">会员种类和权限是怎么样的？</a></p><p><a href="${address.www}/faq/faqLo05.htm">用户登录名忘记了怎么办？</a></p></div><div class="faq_bll2_p"><h3>密码与安全</h3><img src="$!{address.img}/huanbao/images/fudus/faqqx_18.gif" /><p><a href="${address.www}/faq/faqPw04.htm">忘记密码怎么办？</a></p><p><a href="${address.www}/faq/faqSa07.htm">如何提高网上贸易的安全性？</a></p><p><a href="${address.www}/faq/faqSa02.htm">作为买家，遇到欺诈怎么办？</a></p></div>
                        <div class="clear"></div>
                    </div>
                    <div class="faq_bl2_p">
                    	<div class="faq_bll3_p"><h3>买家帮助</h3><img src="$!{address.img}/huanbao/images/fudus/faqqx_18.gif" /><p><a href="${address.www}/faq/faqMj02.htm">如何向供应商询价？</a></p><p><a href="${address.www}/faq/faqMj01.htm">为什么要通过分类查看供求信息？</a></p><p><a href="${address.www}/faq/faqQg05.htm">如何发布求购信息？</a></p></div><div class="faq_bll4_p"><h3>卖家帮助</h3><img src="$!{address.img}/huanbao/images/fudus/faqqx_18.gif" /><p><a href="${address.www}/faq/faqJj02.htm">如何发布公司介绍？</a></p><p><a href="${address.www}/faq/faqGy10.htm">发布信息时如何选择正确的类目？</a></p><p><a href="${address.www}/faq/faqCz08.htm">如何寻找买家？</a></p></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="faq_mklb_p">
            	<h3>栏目导航</h3>
                <div class="faq_ml21_p">
                	<div class="faq_mkmap_p">
                    	<h4><a href="${address.www}/trade/index.htm">交易中心</a></h4>
                        <ul><li><a href="${address.www}/trade/supply/index--10001000--.htm">污水处理</a></li><li><a href="${address.www}/trade/supply/index--10001001--.htm">原水处理</a></li><li><a href="${address.www}/trade/supply/index--10001002--.htm">空气净化</a></li><li><a href="${address.www}/trade/supply/index--10001003--.htm">材料药剂</a></li><li><a href="${address.www}/trade/supply/index--10001004--.htm">通用设/配件</a></li><li><a href="${address.www}/trade/supply/index--10001005--.htm">环卫清洁</a></li><li><a href="${address.www}/trade/supply/index--10001006--.htm">仪器仪表</a></li><li><a href="${address.www}/trade/supply/index--10001007--.htm">综合设备</a></li></ul>
                        <div class="clear"></div>
                    </div>
                    <div class="faq_mkmap_p">
                    	<h4><a href="${address.www}/trade/index.htm">资讯中心</a></h4>
                        <ul><li><a href="${address.www}/news/list10001000.htm">环保新闻</a></li><li><a href="http://subject.huanbao.com/2011huexhibit/index/">环保专题</a></li><li><a href="${address.www}/news/list10001004.htm">前沿技术</a></li><li><a href="${address.www}/news/list10001003.htm">工程/案例</a></li><li><a href="${address.www}/news/list10001005.htm">专家/论文</a></li><li><a href="${address.www}/news/list10001002.htm">市场/行情报</a></li><li><a href="${address.www}/news/list10001001.htm">政策法规</a></li><li><a href="${address.www}/news/list10001006.htm">上市板块</a></li></ul>
                        <div class="clear"></div>
                    </div>
                    <div class="faq_mkmap_p">
                    	<h4><a href="${address.www}/exhibit/index.htm">展会中心</a></h4>
                        <ul><li><a href="${address.www}/exhibit/list10001010.htm">国内展会</a></li><li><a href="${address.www}/exhibit/list10001011.htm">国际展会</a></li><li><a href="${address.www}/exhibit/list10001013.htm">展会资讯</a></li><li><a href="${address.www}/exhibit/list10001013.htm">展会论坛</a></li></ul>
                        <div class="clear"></div>
                    </div>
               	</div>
            </div>
        </div>
    	<div class="right">
        	<div class="faq_mkrt_p"><h3>公司简介</h3><p>杭州阿思拓信息科技有限公司【简称ASTO】成立于2005年，致力于成为我国资源再生、新能源、节能减排等低碳环保经济领域的具有影响力的信息服务供应商。ASTO是浙江省国家级高新技术企业，浙江省软件企业，杭州2010年雏鹰计划重点培育企业，杭州2009年科技创业种子资金支助企业，杭州2009年留学归国人员创业重点支助企业，2010年江干区双十佳...[<a href="${address.www}/fudus/abscpyinfo.htm">查看详细</a>]</p><div class="faq_mkrt_img"><img src="$!{address.img}/huanbao/images/fudus/faq_03.gif" /><img src="$!{address.img}/huanbao/images/fudus/faq_06.gif" /></div></div><div class="faq_mkrt_imgb"><a href="${address.www}/fudus/leaveMsg.htm" ref="nofollow"><img src="$!{address.img}/huanbao/images/fudus/faq1_03.gif" /></a></div>
    	</div>
        <div class="clear"></div>
    </div>