
<div id="adsBar">
<div class="marginRight">
	#set($adsPlacesId=4)
	#showAds($adsList4 $adsPlacesId)

</div>
<div  class="marginRight">
		#set($adsPlacesId=5)
	#showAds($adsList5 $adsPlacesId)
</div>
<div  class="marginRight">
		#set($adsPlacesId=6)
	#showAds($adsList6 $adsPlacesId)
</div>
<div  class="marginRight">
		#set($adsPlacesId=8)
	#showAds($adsList8 $adsPlacesId)
</div>
<div  class="marginRight">
		#set($adsPlacesId=9)
	#showAds($adsList9 $adsPlacesId)
</div>
<div style="float:left;">
		#set($adsPlacesId=7)
	#showAds($adsList7 $adsPlacesId)
</div>
</div>

<div id="adsBar">

<div class="marginRight">
	#set($adsPlacesId=18)
	#showAds($adsList18 $adsPlacesId)
</div>
<div  class="marginRight">
		#set($adsPlacesId=19)
	#showAds($adsList19 $adsPlacesId)
</div>
<div  class="marginRight">
		#set($adsPlacesId=20)
	#showAds($adsList20 $adsPlacesId)
</div>
<div  class="marginRight">
		#set($adsPlacesId=21)
	#showAds($adsList21 $adsPlacesId)
</div>
<div  class="marginRight">
	#set($adsPlacesId=25)
	#showAds($adsList25 $adsPlacesId)
</div>
<div style="float:left;">
	#set($adsPlacesId=13)
	#showAds($adsList13 $adsPlacesId)
</div>
</div>


<div id="adsBar">
<div class="marginRight">
	#set($adsPlacesId=36)
	#showAds($adsList36 $adsPlacesId)
</div>
<div  class="marginRight">
	#set($adsPlacesId=37)
	#showAds($adsList37 $adsPlacesId)
</div>

<div  class="marginRight">
	#set($adsPlacesId=38)
	#showAds($adsList38 $adsPlacesId)
</div>
<div  class="marginRight">
	#set($adsPlacesId=39)
	#showAds($adsList39 $adsPlacesId)
</div>
<div  class="marginRight">
	#set($adsPlacesId=40)
	#showAds($adsList40 $adsPlacesId)
</div>
<div style="float:left;">
	#set($adsPlacesId=41)
	#showAds($adsList41 $adsPlacesId)
</div>
</div>