<div id="category">
<div class="title">

<h3>热门产品推荐</h3>
<div style="float:right;">
	<a href="$!{address.server}/trade/postoffer_step1.htm" target="_blank" style="color:red;">发布图片供求，获免费推荐机会</a></div>
</div>
<div class=cb></div>

<ul id="picList">
<li>
	<div style=''>
      #set($adsPlacesId=391)
	#showAds($adsList391 $adsPlacesId)
   </div>
</li>
<li>
	<div style=''>
	 #set($adsPlacesId=392)
	#showAds($adsList392 $adsPlacesId)
     </div>
</li>
<li>
	<div style=''>
           #set($adsPlacesId=393)
	#showAds($adsList393 $adsPlacesId)
	</div>
</li>
<li>
	<div style=''>
		   #set($adsPlacesId=394)
	#showAds($adsList394 $adsPlacesId)
    </div>
</li>
<li>
	<div style=''>
		  #set($adsPlacesId=395)
	#showAds($adsList395 $adsPlacesId)
    </div>
</li>

<li>
	<div style=''>
         #set($adsPlacesId=396)
	#showAds($adsList396 $adsPlacesId)
	</div>
</li>
</ul>
<div class=cb></div>
<!--[if !IE]>废金属start<![endif]-->
<div class="title">

<h3>
    <a href="$!{address.server}/trade/offerindex1.htm" target="_blank">废金属</a>
</h3>

<div class="num">
    (共有<span>129,177</span>条信息)

	</div>

	<a href="$!{address.server}/price/list_metal.htm" target="_blank" style="float:left">
		<img src="$!{address.images}/root/bj.gif" border="0" />
	</a>


<div class="post">
    <a href="$!{address.server}/trade/postoffer_step1.htm" target="_blank">发布供求</a></div>

</div>
<ul class="garden">
<li><strong>重点园区集散地：</strong></li>
<li><a href="$!{address.server}/company/company_list_g39_i10001001.htm" target="_blank">广东南海</a></li>
<li><a href="$!{address.server}/company/company_list_g34_i10001001.htm" target="_blank">浙江永康</a></li>

<li><a href="$!{address.server}/company/company_list_g37_i10001001.htm" target="_blank">湖南汨罗</a></li>
<li><a href="$!{address.server}/company/company_list_g33_i10001001.htm" target="_blank">河南长葛</a></li>
<li><a href="$!{address.server}/company/company_list_g38_i10001001.htm" target="_blank">山东临沂</a></li>
<li><a href="$!{address.server}/company/company_list_g9_i10001001.htm" target="_blank">江苏戴南</a></li>
<li><a href="$!{address.server}/company/company_list_g36_i10001001.htm" target="_blank">宁波镇海</a></li>
<li><a href="$!{address.server}/company/company_list_g42_i10001001.htm" target="_blank">山东聊城</a></li>
</ul>
<div class=cb></div>
<div class="cateDiv1">
	<div class="left">
		<div class="topCate">
			<h4><a href="$!{address.server}/trade/offerlist_m5620.htm" target="_blank">钢铁</a></h4>
			<ul><a href="$!{address.server}/trade/offerlist_m5698.htm" target="_blank">钢</a>
				<a href="$!{address.server}/trade/offerlist_m5697.htm" target="_blank">铁</a>
				<a href="/$!{address.server}/trade/offerlist_m6004.htm" target="_blank">废钢</a>
 </ul>
		</div>
		<ul class="subCate">
			<a href="$!{address.server}/trade/offerlist_m6516.htm" target="_blank">废铁轨</a> |
			<a href="$!{address.server}/trade/offerlist_m6211.htm" target="_blank">生铁</a> |
			<a href="$!{address.server}/trade/offerlist_m6214.htm" target="_blank" class="highlight">不锈铁</a> |
			<a href="$!{address.server}/trade/offerlist_m6148.htm" target="_blank">磁铁</a> |
			<a href="$!{address.server}/trade/offerlist_m6213.htm" target="_blank">氧化铁</a> |
			<a href="$!{address.server}/trade/offerlist_m6215.htm" target="_blank">铁矿</a> |
			<br><a href="$!{address.server}/trade/offerlist_m6228.htm" target="_blank">铁合金</a> |
				<a href="$!{address.server}/trade/offerlist_m6212.htm" target="_blank">熟铁</a> |
				<a href="$!{address.server}/trade/offerlist_m6083.htm" target="_blank">不锈钢</a> |
				<a href="$!{address.server}/trade/offerlist_m6517.htm" target="_blank">工具钢</a> |
				<a href="$!{address.server}/trade/offerlist_m6229.htm" target="_blank" class="highlight">废钢轨/HMS</a> |
				<br><a href="$!{address.server}/trade/offerlist_m6208.htm" target="_blank">矽钢</a> |
					<a href="$!{address.server}/trade/offerlist_m6209.htm" target="_blank">钢管</a> |
					<a href="$!{address.server}/trade/offerlist_m6207.htm" target="_blank">冷轧钢</a> |
					<a href="$!{address.server}/trade/offerlist_m6527.htm" target="_blank">钢筋</a> |
					<a href="$!{address.server}/trade/offerlist_m6230.htm" target="_blank">热轧钢</a> |
					<a href="$!{address.server}/trade/offerlist_m6210.htm" target="_blank">钢制品</a> |
					<br><a href="$!{address.server}/trade/offerlist_m6532.htm" target="_blank">特种钢</a> |
						<a href="$!{address.server}/trade/offerlist_m6555.htm" target="_blank">铁屑</a> |
						<a href="$!{address.server}/trade/offerlist_m6552.htm" target="_blank">铁皮</a> |
						<a href="$!{address.server}/trade/offerlist_m6554.htm" target="_blank">铁粉</a> |
						<a href="$!{address.server}/trade/offerlist_m6472.htm" target="_blank" class="highlight">废钢铁</a> |
						<a href="$!{address.server}/trade/offerlist_m5620.htm" target="_blank" class="cateMore">更多&gt;&gt;</a>
    </ul>
    </div>
	<div class="right">
		<div class="topCate">
			<h4><a href="$!{address.server}/trade/offerlist_m6004.htm" target="_blank">有色金属</a></h4>
			<ul>

        <a href="$!{address.server}/trade/offerlist_m5699.htm" target="_blank">铜</a>
		<a href="$!{address.server}/trade/offerlist_m5700.htm" target="_blank"> 铝</a>
		<a href="$!{address.server}/trade/offerlist_m5701.htm" target="_blank"> 锡</a>
		<a href="$!{address.server}/trade/offerlist_m5702.htm" target="_blank"> 锰 </a>
		<a href="$!{address.server}/trade/offerlist_m5703.htm" target="_blank">铬</a>
		<a href="$!{address.server}/trade/offerlist_m5704.htm" target="_blank"> 铅 </a>
		<a href="$!{address.server}/trade/offerlist_m5705.htm" target="_blank">镁</a>
		<a href="$!{address.server}/trade/offerlist_m5706.htm" target="_blank"> 镍</a>
		<a href="$!{address.server}/trade/offerlist_m5708.htm" target="_blank"> 镉 </a>
		<a href="$!{address.server}/trade/offerlist_m5709.htm" target="_blank">锑</a>

</ul></div><ul class="subCate">
	<a href="$!{address.server}/trade/offerlist_m6187.htm" target="_blank" class="highlight">黄杂铜</a> |
	<a href="$!{address.server}/trade/offerlist_m6186.htm" target="_blank">光亮铜</a> |
	<a href="$!{address.server}/trade/offerlist_m6200.htm" target="_blank">紫铜</a> |
	<a href="$!{address.server}/trade/offerlist_m6203.htm" target="_blank">铜矿</a> |
	<a href="$!{address.server}/trade/offerlist_m6206.htm" target="_blank">海绵铜</a> |
	<a href="$!{address.server}/trade/offerlist_m6202.htm" target="_blank">铜合金</a> |
	<br><a href="$!{address.server}/trade/offerlist_m6201.htm" target="_blank">氧化铜</a> |
		<a href="$!{address.server}/trade/offerlist_m6204.htm" target="_blank">马达铜</a> |
		<a href="$!{address.server}/trade/offerlist_m6231.htm" target="_blank">硫酸铜</a> |
		<a href="$!{address.server}/trade/offerlist_m6220.htm" target="_blank" class="highlight">铝合金</a> |
		<a href="$!{address.server}/trade/offerlist_m6223.htm" target="_blank">焊锡</a> |
		<a href="$!{address.server}/trade/offerlist_m5710.htm" target="_blank">钴</a> |
		<br><a href="$!{address.server}/trade/offerlist_m6224.htm" target="_blank">锡合金</a> |
			<a href="$!{address.server}/trade/offerlist_m6248.htm" target="_blank">铅矿</a> |
			<a href="$!{address.server}/trade/offerlist_m6253.htm" target="_blank">铅合金</a> |
			<a href="$!{address.server}/trade/offerlist_m6249.htm" target="_blank">氧化铅</a> |
			<a href="$!{address.server}/trade/offerlist_m6252.htm" target="_blank">镁合金</a> |
			<a href="$!{address.server}/trade/offerlist_m5707.htm" target="_blank">锌</a> |
			<br><a href="$!{address.server}/trade/offerlist_m6254.htm" target="_blank">镍合金</a> |
				<a href="$!{address.server}/trade/offerlist_m6255.htm" target="_blank">镍矿</a> |
				<a href="$!{address.server}/trade/offerlist_m6257.htm" target="_blank">锌合金</a> |
				<a href="$!{address.server}/trade/offerlist_m6256.htm" target="_blank">氧化锌</a> |
				<a href="$!{address.server}/trade/offerlist_m6258.htm" target="_blank">锌矿</a> |
				<a href="$!{address.server}/trade/offerlist_m6004.htm" target="_blank" class="cateMore">更多&gt;&gt;</a>
      </ul></div>
<div class=cb></div></div>
<div class=cb></div>
<div class="cateDiv1 cateBg">
	<div class="left"><div class="topCate">
			<h4><a href="$!{address.server}/trade/offerlist_m5622.htm" target="_blank">稀有金属</a></h4></div>
		<ul class="subCate"><a href="$!{address.server}/trade/offerlist_m5712.htm" target="_blank">钛</a> |
			<a href="$!{address.server}/trade/offerlist_m5713.htm" target="_blank">锆</a> |
			<a href="$!{address.server}/trade/offerlist_m5714.htm" target="_blank">钒</a> |
			<a href="$!{address.server}/trade/offerlist_m5715.htm" target="_blank">铌</a> |
			<a href="$!{address.server}/trade/offerlist_m5716.htm" target="_blank">钽</a> |
			<a href="$!{address.server}/trade/offerlist_m5717.htm" target="_blank" class="highlight">钼</a> |
			<a href="$!{address.server}/trade/offerlist_m5718.htm" target="_blank" class="highlight">钨</a> |
			<a href="$!{address.server}/trade/offerlist_m5719.htm" target="_blank">锂</a> |
			<a href="$!{address.server}/trade/offerlist_m5720.htm" target="_blank">铍</a> |
			<a href="$!{address.server}/trade/offerlist_m5721.htm" target="_blank">镓</a> |
			<a href="$!{address.server}/trade/offerlist_m5722.htm" target="_blank">铟</a> |
			<br><a href="$!{address.server}/trade/offerlist_m5723.htm" target="_blank">铼</a> |
				<a href="$!{address.server}/trade/offerlist_m5724.htm" target="_blank">硒</a> |
				<a href="$!{address.server}/trade/offerlist_m5622.htm" target="_blank" class="cateMore">更多&gt;&gt;</a>
</ul></div>
<div class="right"><div class="topCate">
		<h4><a href="$!{address.server}/trade/offerlist_m5623.htm" target="_blank">贵金属</a></h4>
</div>
<ul class="subCate">
	<a href="$!{address.server}/trade/offerlist_m5726.htm" target="_blank" class="highlight">金</a> |
	<a href="$!{address.server}/trade/offerlist_m5727.htm" target="_blank" class="highlight">银</a> |
	<a href="$!{address.server}/trade/offerlist_m5728.htm" target="_blank">钌</a> |
	<a href="$!{address.server}/trade/offerlist_m5729.htm" target="_blank">铑</a> |
	<a href="$!{address.server}/trade/offerlist_m5730.htm" target="_blank">钯</a> |
	<a href="$!{address.server}/trade/offerlist_m5731.htm" target="_blank">锇</a> |
	<a href="$!{address.server}/trade/offerlist_m5732.htm" target="_blank">铱</a> |
	<a href="$!{address.server}/trade/offerlist_m6021.htm" target="_blank">废触媒</a> |
	<a href="$!{address.server}/trade/offerlist_m5733.htm" target="_blank" class="highlight">铂</a> |
	<br><a href="$!{address.server}/trade/offerlist_m5623.htm" target="_blank" class="cateMore">更多&gt;&gt;</a></ul></div>
<div class=cb></div></div>
<div class=cb></div><div class="cateDiv1">
	<div class="left"><div class="topCate">
		<h4><a href="$!{address.server}/trade/offerlist_m5625.htm" target="_blank">金属混合/复合料</a></h4></div>
	<ul class="subCate"><a href="$!{address.server}/trade/offerlist_m5742.htm" target="_blank">废五金</a> |
		<a href="$!{address.server}/trade/offerlist_m5743.htm" target="_blank" class="highlight">废变压器</a> |
		<a href="$!{address.server}/trade/offerlist_m5744.htm" target="_blank">废马达(电机)</a> |
		<a href="$!{address.server}/trade/offerlist_m5745.htm" target="_blank">尾矿(矿石)</a> |
		<br><a href="$!{address.server}/trade/offerlist_m5746.htm" target="_blank" class="highlight">废液</a> |
			<a href="$!{address.server}/trade/offerlist_m5747.htm" target="_blank">电线/电缆</a> |
			<a href="$!{address.server}/trade/offerlist_m5756.htm" target="_blank">废电路板</a> |
			<a href="$!{address.server}/trade/offerlist_m5757.htm" target="_blank">废线路板</a> |
			<a href="$!{address.server}/trade/offerlist_m5625.htm" target="_blank" class="cateMore">更多&gt;&gt;</a>
</ul></div>
<div class="right"><div class="topCate">
		<h4><a href="$!{address.server}/trade/offerlist_m5624.htm" target="_blank">再生金属</a></h4>
</div><ul class="subCate"><a href="$!{address.server}/trade/offerlist_m5734.htm" target="_blank">再生铝</a> |
	<a href="$!{address.server}/trade/offerlist_m5735.htm" target="_blank" class="highlight">再生铜</a> |
	<a href="$!{address.server}/trade/offerlist_m5736.htm" target="_blank">再生铁</a> |
	<a href="$!{address.server}/trade/offerlist_m5737.htm" target="_blank">再生镍</a> |
	<a href="$!{address.server}/trade/offerlist_m5738.htm" target="_blank">再生锡</a> |
	<a href="$!{address.server}/trade/offerlist_m5739.htm" target="_blank">再生铅</a> |
	<a href="$!{address.server}/trade/offerlist_m5710.htm" target="_blank">再生锌</a> |
	<a href="$!{address.server}/trade/offerlist_m5624.htm" target="_blank" class="cateMore">更多&gt;&gt;</a>
</ul></div><div class=cb></div></div><div class=cb></div>
<div class="cateDiv1 cateBg"><div class="topCate topCateLong">
		<h4><a href="$!{address.server}/trade/offerlist_m5667.htm" target="_blank">废金属处理设备</a></h4></div>
	<ul class="subCateLong">
		<a href="$!{address.server}/trade/offerlist_m5748.htm" target="_blank">金属分离设备</a> |
		<a href="$!{address.server}/trade/offerlist_m5749.htm" target="_blank">破碎/磨粉机</a> |
		<a href="$!{address.server}/trade/offerlist_m5750.htm" target="_blank" class="highlight">金属打包机</a> |
		<a href="$!{address.server}/trade/offerlist_m5751.htm" target="_blank">切削加工设备</a> |
		<a href="$!{address.server}/trade/offerlist_m5752.htm" target="_blank">尾矿回收设备</a> |
		<a href="$!{address.server}/trade/offerlist_m5753.htm" target="_blank">提炼设备</a> |
		<a href="$!{address.server}/trade/offerlist_m5754.htm" target="_blank">金属成型设备</a> |
		<br><a href="$!{address.server}/trade/offerlist_m5755.htm" target="_blank">焊接和粘接设备</a> |
			<a href="$!{address.server}/trade/offerlist_m5985.htm" target="_blank" class="highlight">铜米机</a> |
			<a href="$!{address.server}/trade/offerlist_m5998.htm" target="_blank">冲床/机车</a> |
			<a href="$!{address.server}/trade/offerlist_m6030.htm" target="_blank">机床/车床</a> |
			<a href="$!{address.server}/trade/offerlist_m5667.htm" target="_blank" class="cateMore">更多&gt;&gt;</a></ul>
		<div class=cb></div></div><!--[if !IE]>废金属end<![endif]--><!--[if !IE]>废塑料start<![endif]-->
	<div class="title">

<h3>
    <a href="$!{address.server}/trade/offerindex2.htm" target="_blank">废塑料</a>

    <a href="$!{address.server}/trade/offerlist_m5631.htm" target="_blank"></a>


</h3>

<div class="num">
    (共有<span>157,867</span>条信息)

	</div>
	<a href="$!{address.server}/price/list_plastic.htm" target="_blank" style="float:left">
		<img src="$!{address.images}/root/bj.gif" border="0" /></a>


<div class="post">
    <a href="$!{address.server}/trade/postoffer_step1.htm" target="_blank">发布供求</a></div>
</div>
<ul class="garden"><li><strong>重点园区集散地：</strong></li>
	<li><a href="$!{address.server}/company/company_list_g39_i10001000.htm" target="_blank">广东南海</a></li>
	<li><a href="$!{address.server}/company/company_list_g26_i10001000.htm" target="_blank">广东顺德</a></li>
	<li><a href="$!{address.server}/company/company_list_g53_i10001000.htm" target="_blank">浙江余姚</a></li>
	<li><a href="$!{address.server}/company/company_list_g13_i10001000.htm" target="_blank">浙江台州</a></li>
	<li><a href="$!{address.server}/company/company_list_g20_i10001000.htm" target="_blank">山东临沂</a></li>
	<li><a href="$!{address.server}/company/company_list_g11_i10001000.htm" target="_blank">河北文安</a></li>
	<li><a href="$!{address.server}/company/company_list_g21_i10001000.htm" target="_blank">山东莱州</a></li></ul>
<div class=cb></div><div class="cateDiv1"><div class="left"><div class="topCate">
			<h4><a href="$!{address.server}/trade/offerlist_m5627.htm" target="_blank">通用废塑料</a></h4>
			<ul>
        <a href="$!{address.server}/trade/offerlist_m5759.htm" target="_blank">PP </a>
		<a href="$!{address.server}/trade/offerlist_m5761.htm" target="_blank">PVC </a>
		<a href="$!{address.server}/trade/offerlist_m5762.htm" target="_blank">PS </a>
		<a href="$!{address.server}/trade/offerlist_m5763.htm" target="_blank">ABS</a>
		<a href="$!{address.server}/trade/offerlist_m5760.htm" target="_blank"> PE</a>
</ul></div><ul class="subCate"><a href="$!{address.server}/trade/offerlist_m6157.htm" target="_blank">BOPP</a> |
	<a href="$!{address.server}/trade/offerlist_m6086.htm" target="_blank">PPR</a> |
	<a href="$!{address.server}/trade/offerlist_m6175.htm" target="_blank">PPC</a> |
	<a href="$!{address.server}/trade/offerlist_m6046.htm" target="_blank" class="highlight">HDPE</a> |
	<a href="$!{address.server}/trade/offerlist_m6073.htm" target="_blank">LDPE</a> |
	<a href="$!{address.server}/trade/offerlist_m6166.htm" target="_blank">LLDPE</a> |
	<a href="$!{address.server}/trade/offerlist_m6090.htm" target="_blank">HIPS</a> |
	<a href="$!{address.server}/trade/offerlist_m6089.htm" target="_blank" class="highlight">EPS</a> |
	<a href="$!{address.server}/trade/offerlist_m6234.htm" target="_blank">GPPS</a> |
	<a href="$!{address.server}/trade/offerlist_m5764.htm" target="_blank">EVA</a> |
	<a href="$!{address.server}/trade/offerlist_m5627.htm" target="_blank" class="cateMore">更多&gt;&gt;</a></ul>
</div><div class="right">
	<div class="topCate">
		<h4><a href="$!{address.server}/trade/offerlist_m5629.htm" target="_blank">特种废塑料</a></h4></div>
	<ul class="subCate"><a href="$!{address.server}/trade/offerlist_m5779.htm" target="_blank">氟塑料类</a> |
		<a href="$!{address.server}/trade/offerlist_m6172.htm" target="_blank" class="highlight">PTFE</a> |
		<a href="$!{address.server}/trade/offerlist_m6154.htm" target="_blank">FEP</a> |
		<a href="$!{address.server}/trade/offerlist_m5780.htm" target="_blank">有机硅塑料</a> |
		<a href="$!{address.server}/trade/offerlist_m5781.htm" target="_blank">增强塑料</a> |
		<br><a href="$!{address.server}/trade/offerlist_m5782.htm" target="_blank">泡沫塑料</a> |
			<a href="$!{address.server}/trade/offerlist_m6171.htm" target="_blank" class="highlight">泡沫</a> |
			<a href="$!{address.server}/trade/offerlist_m5629.htm" target="_blank" class="cateMore">更多&gt;&gt;</a></ul></div>
	<div class=cb></div></div><div class=cb></div><div class="cateDiv1 cateBg"><div class="left">
		<div class="topCate"><h4><a href="$!{address.server}/trade/offerlist_m5628.htm" target="_blank">工程废塑料</a></h4>
			<ul>

        <a href="$!{address.server}/trade/offerlist_m5765.htm" target="_blank">PA</a>
		<a href="$!{address.server}/trade/offerlist_m5766.htm" target="_blank"> PET </a>
		<a href="$!{address.server}/trade/offerlist_m5767.htm" target="_blank">POM </a>
		<a href="$!{address.server}/trade/offerlist_m5768.htm" target="_blank">PPO</a>
</ul></div><ul class="subCate">
	<a href="$!{address.server}/trade/offerlist_m6236.htm" target="_blank">PA66</a> |
	<a href="$!{address.server}/trade/offerlist_m6235.htm" target="_blank" class="highlight">PA6</a> |
	<a href="$!{address.server}/trade/offerlist_m6237.htm" target="_blank">PA9T</a> |
	<a href="$!{address.server}/trade/offerlist_m6238.htm" target="_blank">PA6T</a> |
	<a href="$!{address.server}/trade/offerlist_m6194.htm" target="_blank">PBT</a> |
	<a href="$!{address.server}/trade/offerlist_m6193.htm" target="_blank">X光片</a> |
	<a href="$!{address.server}/trade/offerlist_m6152.htm" target="_blank">医用胶片</a> |
	<a href="$!{address.server}/trade/offerlist_m6199.htm" target="_blank">旧菲林片</a> |
	<a href="$!{address.server}/trade/offerlist_m6099.htm" target="_blank">PEN</a> |
	<a href="$!{address.server}/trade/offerlist_m6145.htm" target="_blank">PPE</a> |
	<a href="$!{address.server}/trade/offerlist_m6239.htm" target="_blank">MPPO</a> |
	<a href="$!{address.server}/trade/offerlist_m5769.htm" target="_blank" class="highlight">PC</a> |
	<a href="$!{address.server}/trade/offerlist_m6115.htm" target="_blank" class="highlight">废光盘</a> |
	<a href="$!{address.server}/trade/offerlist_m6077.htm" target="_blank">海绵</a> |
	<a href="$!{address.server}/trade/offerlist_m5827.htm" target="_blank">LCP</a> |
	<a href="$!{address.server}/trade/offerlist_m5628.htm" target="_blank" class="cateMore">更多&gt;&gt;</a></ul>
	</div><div class="right"><div class="topCate">
			<h4><a href="$!{address.server}/trade/offerlist_m5631.htm" target="_blank">塑料颗粒</a></h4></div>
		<ul class="subCate"><a href="$!{address.server}/trade/offerlist_m5788.htm" target="_blank">PP塑料颗粒</a> |
			<a href="$!{address.server}/trade/offerlist_m5789.htm" target="_blank" class="highlight">PE塑料颗粒</a> |
			<a href="$!{address.server}/trade/offerlist_m5790.htm" target="_blank">PVC塑料颗粒</a> |
			<a href="$!{address.server}/trade/offerlist_m5791.htm" target="_blank">ABS塑料颗粒</a> |
			<a href="$!{address.server}/trade/offerlist_m5792.htm" target="_blank">PS塑料颗粒</a> |
			<a href="$!{address.server}/trade/offerlist_m5793.htm" target="_blank">EVA塑料颗粒</a> |
			<a href="$!{address.server}/trade/offerlist_m5794.htm" target="_blank">PA塑料颗粒</a> |
			<a href="$!{address.server}/trade/offerlist_m5795.htm" target="_blank" class="highlight">PET塑料颗粒</a> |
			<a href="$!{address.server}/trade/offerlist_m5796.htm" target="_blank">PPO塑料颗粒</a> |
			<a href="$!{address.server}/trade/offerlist_m5797.htm" target="_blank">PC塑料颗粒</a> |
			<a href="$!{address.server}/trade/offerlist_m5731.htm" target="_blank" class="cateMore">更多&gt;&gt;</a></ul>
	</div><div class=cb></div></div><div class=cb></div><div class="cateDiv1">
	<div class="left"><div class="topCate">
			<h4><a href="$!{address.server}/trade/offerlist_m5632.htm" target="_blank">塑料助剂</a></h4></div>
		<ul class="subCate">
			<a href="$!{address.server}/trade/offerlist_m5799.htm" target="_blank" class="highlight">色母剂</a> |
			<a href="$!{address.server}/trade/offerlist_m5800.htm" target="_blank">增塑剂</a> |
			<a href="$!{address.server}/trade/offerlist_m5801.htm" target="_blank" class="highlight">催化剂</a> |
			<a href="$!{address.server}/trade/offerlist_m5802.htm" target="_blank">增白剂</a> |
			<a href="$!{address.server}/trade/offerlist_m5803.htm" target="_blank">润滑剂</a> |
			<br><a href="$!{address.server}/trade/offerlist_m5804.htm" target="_blank">发泡剂</a> |
				<a href="$!{address.server}/trade/offerlist_m5805.htm" target="_blank">改性剂</a> |
				<a href="$!{address.server}/trade/offerlist_m5806.htm" target="_blank">阻燃剂</a> |
				<a href="$!{address.server}/trade/offerlist_m5807.htm" target="_blank">光亮剂</a> |
				<a href="$!{address.server}/trade/offerlist_m5808.htm" target="_blank">着色剂</a> |
				<br><a href="$!{address.server}/trade/offerlist_m5809.htm" target="_blank">粘合剂</a> |
					<a href="$!{address.server}/trade/offerlist_m5632.htm" target="_blank" class="cateMore">更多&gt;&gt;</a></ul>
</div><div class="right"><div class="topCate">
		<h4><a href="$!{address.server}/trade/offerlist_m5630.htm" target="_blank">塑料混合/复合料</a></h4></div>
	<ul class="subCate">
		<a href="$!{address.server}/trade/offerlist_m5784.htm" target="_blank" class="highlight">塑料合金</a> |
		<a href="$!{address.server}/trade/offerlist_m5785.htm" target="_blank">纸塑复合料</a> |
		<a href="$!{address.server}/trade/offerlist_m5786.htm" target="_blank">金属塑料复合料</a> |
		<a href="$!{address.server}/trade/offerlist_m5787.htm" target="_blank" class="highlight">废渔网</a> |
		<br><a href="$!{address.server}/trade/offerlist_m5956.htm" target="_blank">玻璃胶</a> |
			<a href="$!{address.server}/trade/offerlist_m5984.htm" target="_blank" class="highlight">牙膏皮</a> |
			<a href="$!{address.server}/trade/offerlist_m6033.htm" target="_blank">电线/电缆皮</a> |
			<a href="$!{address.server}/trade/offerlist_m5630.htm" target="_blank" class="cateMore">更多&gt;&gt;</a>
</ul></div><div class=cb></div></div><div class=cb></div><div class="cateDiv1 cateBg">
<div class="topCate topCateLong">
	<h4><a href="$!{address.server}/trade/offerlist_m5666.htm" target="_blank">废塑料处理设备</a></h4></div>
<ul class="subCateLong">
	<a href="$!{address.server}/trade/offerlist_m5811.htm" target="_blank" class="highlight">造粒机</a> |
	<a href="$!{address.server}/trade/offerlist_m5812.htm" target="_blank">塑料分离设备</a> |
	<a href="$!{address.server}/trade/offerlist_m5813.htm" target="_blank" class="highlight">注塑机</a> |
	<a href="$!{address.server}/trade/offerlist_m5814.htm" target="_blank">淋膜机</a> |
	<a href="$!{address.server}/trade/offerlist_m5815.htm" target="_blank">泡沫制造机</a> |
	<a href="$!{address.server}/trade/offerlist_m5816.htm" target="_blank">清洗设备</a> |
	<a href="$!{address.server}/trade/offerlist_m5817.htm" target="_blank">塑料破碎机</a> |
	<a href="$!{address.server}/trade/offerlist_m5818.htm" target="_blank">脱水机</a> |
	<a href="$!{address.server}/trade/offerlist_m5819.htm" target="_blank">压力机</a> |
	<a href="$!{address.server}/trade/offerlist_m5820.htm" target="_blank">离心机</a> |
	<br><a href="$!{address.server}/trade/offerlist_m5821.htm" target="_blank">干燥机</a> |
		<a href="$!{address.server}/trade/offerlist_m5822.htm" target="_blank">吹塑机/吹膜机</a> |
		<a href="$!{address.server}/trade/offerlist_m5823.htm" target="_blank" class="highlight">打包机</a> |
		<a href="$!{address.server}/trade/offerlist_m5824.htm" target="_blank">混合机</a> |
		<a href="$!{address.server}/trade/offerlist_m5825.htm" target="_blank">挤出机</a> |
		<a href="$!{address.server}/trade/offerlist_m5826.htm" target="_blank">密炼机</a> |
		<a href="$!{address.server}/trade/offerlist_m5666.htm" target="_blank" class="cateMore">更多&gt;&gt;</a></ul>
	<div class=cb></div></div><div class=cb></div><!--[if !IE]>废塑料end<![endif]--><!--[if !IE]>废橡胶start<![endif]-->
<div class="title">

<h3>
    <a href="$!{address.server}/trade/offerindex3.htm" target="_blank">废旧轮胎与废橡胶</a>


</h3>

<div class="num">
    (共有<span>22,916</span>条信息)

	</div>
	<a href="$!{address.server}/price/list_paper.htm" target="_blank" style="float:left">
		<img src="$!{address.images}/root/bj.gif" border="0" /></a>


<div class="post">
    <a href="$!{address.server}/trade/postoffer_step1.htm" target="_blank">发布供求</a></div>
</div><div class="cateDiv1"><div class="left"><div class="topCate">
			<h4><a href="$!{address.server}/trade/offerlist_m5635.htm" target="_blank">合成橡胶</a></h4></div>
		<ul class="subCate"><a href="$!{address.server}/trade/offerlist_m5828.htm" target="_blank" class="highlight">硅橡胶</a> |
			<a href="$!{address.server}/trade/offerlist_m5829.htm" target="_blank">氟橡胶</a> |
			<a href="$!{address.server}/trade/offerlist_m5830.htm" target="_blank">丁苯橡胶</a> |
			<a href="$!{address.server}/trade/offerlist_m5831.htm" target="_blank">顺丁橡胶</a> |
			<a href="$!{address.server}/trade/.htm" target="_blank" class="highlight">EPDM</a> |
			<br><a href="$!{address.server}/trade/offerlist_m5832.htm" target="_blank">氯丁橡胶</a> |
				<a href="$!{address.server}/trade/offerlist_m5833.htm" target="_blank">乙丙橡胶</a> |
				<a href="$!{address.server}/trade/offerlist_m5835.htm" target="_blank">丁腈橡胶</a> |
				<a href="$!{address.server}/trade/offerlist_m5836.htm" target="_blank" class="highlight">丁基橡胶</a> |
				<br><a href="$!{address.server}/trade/offerlist_m5837.htm" target="_blank">丁晴橡胶</a> |
					<a href="$!{address.server}/trade/offerlist_m5838.htm" target="_blank">未硫化橡胶(生胶)</a> |
					<a href="$!{address.server}/trade/offerlist_m5635.htm" target="_blank" class="cateMore">更多&gt;&gt;</a></ul></div>
			<div class="right"><div class="topCate">
					<h4><a href="$!{address.server}/trade/offerlist_m5637.htm" target="_blank">再生胶</a></h4>
					<h4><a href="$!{address.server}/trade/offerlist_m5638.htm" target="_blank">废轮胎</a></h4>
					<h4><a href="$!{address.server}/trade/offerlist_m6019.htm" target="_blank">天然橡胶</a></h4></div>
				<ul class="subCate"><a href="$!{address.server}/trade/offerlist_m5840.htm" target="_blank">胶鞋(鞋底)</a> |
					<a href="$!{address.server}/trade/offerlist_m5841.htm" target="_blank" class="highlight">橡胶粉</a> |
					<a href="$!{address.server}/trade/offerlist_m5842.htm" target="_blank" class="highlight">橡胶颗粒</a> |
					<a href="$!{address.server}/trade/offerlist_m5843.htm" target="_blank">橡胶破碎料</a> |
					<a href="$!{address.server}/trade/offerlist_m5844.htm" target="_blank">内胎</a> |
					<a href="$!{address.server}/trade/offerlist_m6371.htm" target="_blank">外胎</a> |
					<a href="$!{address.server}/trade/offerlist_m5993.htm" target="_blank">乳胶</a> |
					<a href="$!{address.server}/trade/offerlist_m6889.htm" target="_blank">胎面胶</a> |
					<a href="$!{address.server}/trade/offerlist_m6830.htm" target="_blank">汽车轮胎</a> |
					<a href="$!{address.server}/trade/offerlist_m5636.htm" target="_blank">热塑性弹性体</a> |
					<br><a href="$!{address.server}/trade/offerlist_m5637.htm" target="_blank" class="cateMore">更多&gt;&gt;</a></ul></div>
				<div class=cb></div></div><div class=cb></div><div class="cateDiv1 cateBg">
				<div class="topCate topCateLong">
					<h4><a href="$!{address.server}/trade/offerlist_m5668.htm" target="_blank">废橡胶轮胎处理设备</a></h4></div>
				<ul class="subCateLong"><a href="$!{address.server}/trade/offerlist_m6455.htm" target="_blank">橡胶处理油</a> |
					<a href="$!{address.server}/trade/offerlist_m5847.htm" target="_blank">切胶机</a> |
					<a href="$!{address.server}/trade/offerlist_m5848.htm" target="_blank">打磨机</a> |
					<a href="$!{address.server}/trade/offerlist_m5849.htm" target="_blank" class="highlight">橡胶挤出机</a> |
					<a href="$!{address.server}/trade/offerlist_m5850.htm" target="_blank">密炼机</a> |
					<a href="$!{address.server}/trade/offerlist_m5851.htm" target="_blank">剥皮机</a> |
					<a href="$!{address.server}/trade/offerlist_m5852.htm" target="_blank">开炼机</a> |
					<a href="$!{address.server}/trade/offerlist_m5853.htm" target="_blank" class="highlight">硫化机</a> |
					<a href="$!{address.server}/trade/offerlist_m5854.htm" target="_blank">成型机</a> |
					<a href="$!{address.server}/trade/offerlist_m5855.htm" target="_blank">贴合机/贴面机</a> |
					<br><a href="$!{address.server}/trade/offerlist_m5856.htm" target="_blank">橡胶造粒/粉碎机</a> |
						<a href="$!{address.server}/trade/offerlist_m5857.htm" target="_blank">制袋机</a> |
						<a href="$!{address.server}/trade/offerlist_m5858.htm" target="_blank">炼油机/混炼机</a> |
						<a href="$!{address.server}/trade/offerlist_m5859.htm" target="_blank">分离设备</a> |
						<a href="$!{address.server}/trade/offerlist_m5860.htm" target="_blank">胎缘切除机</a> |
						<a href="$!{address.server}/trade/offerlist_m5668.htm" target="_blank" class="cateMore">更多&gt;&gt;</a></ul>
					<div class=cb></div></div><div class=cb></div><!--[if !IE]>废橡胶end<![endif]--><!--[if !IE]>废纸start<![endif]-->
				<div class="title">

<h3>
    <a href="$!{address.server}/trade/offerindex5.htm" target="_blank">废纸</a>


</h3>

<div class="num">
    (共有<span>24,391</span>条信息)

	</div>
	<a href="$!{address.server}/price" target="_blank" style="float:left">
		<img src="$!{address.images}/root/bj.gif" border="0" /></a>


<div class="post">
    <a href="$!{address.server}/trade/postoffer_step1.htm" target="_blank">发布供求</a></div>
</div><div class=cb></div><div class="cateDiv1"><div class="left"><div class="topCate">
			<h4><a href="$!{address.server}/trade/offerlist_m5647.htm" target="_blank">包装废纸</a></h4></div>
		<ul class="subCate"><a href="$!{address.server}/trade/offerlist_m5892.htm" target="_blank">白板纸</a> |
			<a href="$!{address.server}/trade/offerlist_m5893.htm" target="_blank">白卡纸</a> |
			<a href="$!{address.server}/trade/offerlist_m5894.htm" target="_blank" class="highlight">牛皮纸</a> |
			<a href="$!{address.server}/trade/offerlist_m5895.htm" target="_blank">瓦楞纸</a> |
			<a href="$!{address.server}/trade/offerlist_m5896.htm" target="_blank">箱板纸</a> |
			<br><a href="$!{address.server}/trade/offerlist_m5897.htm" target="_blank">淋膜纸</a> |
				<a href="$!{address.server}/trade/offerlist_m5898.htm" target="_blank">商标纸</a> |
				<a href="$!{address.server}/trade/offerlist_m5899.htm" target="_blank">标签纸</a> |
				<a href="$!{address.server}/trade/offerlist_m5900.htm" target="_blank" class="highlight">利乐包</a> |
				<a href="$!{address.server}/trade/offerlist_m5901.htm" target="_blank">羊皮纸</a> |
				<br><a href="$!{address.server}/trade/offerlist_m5902.htm" target="_blank">灰卡纸</a> |
					<a href="$!{address.server}/trade/offerlist_m5903.htm" target="_blank">黄板纸</a> |
					<a href="$!{address.server}/trade/offerlist_m6137.htm.htm" target="_blank">包装纸</a> |
					<a href="$!{address.server}/trade/offerlist_m5647.htm" target="_blank" class="cateMore">更多&gt;&gt;</a></ul>
				<div class=cb></div></div><div class="right"><div class="topCate">
					<h4><a href="$!{address.server}/trade/offerlist_m5648.htm" target="_blank">印刷废纸</a></h4>
					<h4><a href="$!{address.server}/trade/offerlist_m5652.htm" target="_blank">特种废纸</a></h4>
					<h4><a href="$!{address.server}/trade/offerlist_m5649.htm" target="_blank">工业废纸</a></h4></div>
				<ul class="subCate">
					<a href="$!{address.server}/trade/offerlist_m5906.htm" target="_blank" class="highlight">书刊</a> |
					<a href="$!{address.server}/trade/offerlist_m5907.htm" target="_blank">铜版纸</a> |
					<a href="$!{address.server}/trade/offerlist_m5908.htm" target="_blank">新闻纸</a> |
					<a href="$!{address.server}/trade/offerlist_m5909.htm" target="_blank">乱码纸</a> |
					<a href="$!{address.server}/trade/offerlist_m5910.htm" target="_blank">粉纸</a> |
					<br><a href="$!{address.server}/trade/offerlist_m5905.htm" target="_blank" class="highlight">废报纸(ONP)</a> |
						<a href="$!{address.server}/trade/offerlist_m5653.htm" target="_blank">废纸制品</a> |
						<a href="$!{address.server}/trade/offerlist_m6036.htm" target="_blank">纸盒(OCC)</a> |
						<a href="$!{address.server}/trade/offerlist_m5654.htm" target="_blank">纸浆</a> |
						<br><a href="$!{address.server}/trade/offerlist_m5656.htm" target="_blank" class="highlight">纸边</a> |
							<a href="$!{address.server}/trade/offerlist_m5655.htm" target="_blank">卡纸</a> |
							<a href="$!{address.server}/trade/offerlist_m5648.htm" target="_blank" class="cateMore">更多&gt;&gt;</a></ul>
						<div class=cb></div></div><div class=cb></div></div><div class=cb></div>
				<div class="cateDiv1 cateBg"><div class="left"><div class="topCate">
							<h4><a href="$!{address.server}/trade/offerlist_m5650.htm" target="_blank">办公废纸</a></h4>
							<h4><a href="$!{address.server}/trade/offerlist_m5651.htm" target="_blank">生活废纸</a></h4></div>
						<ul class="subCate"><a href="$!{address.server}/trade/offerlist_m5912.htm" target="_blank">打印纸</a> |
							<a href="$!{address.server}/trade/offerlist_m5914.htm" target="_blank" class="highlight">相纸</a> |
							<a href="$!{address.server}/trade/offerlist_m5915.htm" target="_blank">绵纸</a> |
							<a href="$!{address.server}/trade/offerlist_m5916.htm" target="_blank">卫生纸</a> |
							<a href="$!{address.server}/trade/offerlist_m5918.htm" target="_blank">餐巾纸</a> |
							<a href="$!{address.server}/trade/offerlist_m5919.htm" target="_blank">纸尿裤</a> |
							<br><a href="$!{address.server}/trade/offerlist_m5916.htm" target="_blank">卫生巾</a> |
								<a href="$!{address.server}/trade/offerlist_m5650.htm" target="_blank" class="cateMore">更多&gt;&gt;</a></ul></div>
						<div class="right"><div class="topCate">
								<h4><a href="$!{address.server}/trade/offerlist_m5643.htm" target="_blank">美废</a></h4>
								<h4><a href="$!{address.server}/trade/offerlist_m5644.htm" target="_blank">欧废</a></h4>
								<h4><a href="$!{address.server}/trade/offerlist_m5645.htm" target="_blank">日废</a></h4>
								<h4><a href="$!{address.server}/trade/offerlist_m5646.htm" target="_blank">废纸处理设备</a>
								</h4></div><ul class="subCate">
									<a href="$!{address.server}/trade/offerlist_m6834.htm" target="_blank">美废3#</a> |
									<a href="$!{address.server}/trade/offerlist_m6835.htm" target="_blank">美废6#</a> |
									<a href="$!{address.server}/trade/offerlist_m6836.htm" target="_blank">美废9#</a> |
									<a href="$!{address.server}/trade/offerlist_m6837.htm" target="_blank">美废10#</a> |
									<a href="$!{address.server}/trade/offerlist_m6833.htm" target="_blank" class="highlight">美废11#</a> |
									<br><a href="$!{address.server}/trade/offerlist_m6838.htm" target="_blank">美废13#</a> |
										<a href="$!{address.server}/trade/offerlist_m6839.htm" target="_blank">欧废A2</a> |
										<a href="$!{address.server}/trade/offerlist_m6840.htm" target="_blank">欧废A5</a> |
										<a href="$!{address.server}/trade/offerlist_m6842.htm" target="_blank">欧废A9</a> |
										<a href="$!{address.server}/trade/offerlist_m5643.htm" target="_blank" class="cateMore">更多&gt;&gt;</a></ul></div>
								<div class=cb></div></div><!--[if !IE]>废纸end<![endif]--><!--[if !IE]>废纺织start<![endif]-->
							<div class="title">

<h3>
    <a href="$!{address.server}/trade/offerindex4.htm" target="_blank">废纺织品与废皮革</a>


</h3>

<div class="num">
    (共有<span>28,978</span>条信息)

	</div>
	<a href="$!{address.server}/price/list_paper.htm" target="_blank" style="float:left">
		<img src="$!{address.images}/root/bj.gif" border="0" /></a>


<div class="post">
    <a href="$!{address.server}/trade/postoffer_step1.htm" target="_blank">发布供求</a></div>
</div><div class="cateDiv1"><div class="left"><div class="topCate">
			<h4><a href="$!{address.server}/trade/offerlist_m5671.htm" target="_blank">化纤</a></h4>
			<ul><li><a href="$!{address.server}/trade/offerlist_m5962.htm" target="_blank">合成化纤</a></li>
				<li><a href="$!{address.server}/trade/offerlist_m5963.htm" target="_blank">人造纤维</a></li>
				<li><a href="$!{address.server}/trade/offerlist_m5964.htm" target="_blank">特种化纤</a></li></ul></div>
		<ul class="subCate">
			<a href="$!{address.server}/trade/offerlist_m6063.htm" target="_blank" class="highlight">涤纶(PET)</a> |
			<a href="$!{address.server}/trade/offerlist_m6059.htm" target="_blank" class="highlight">尼龙(PA)</a> |
			<a href="$!{address.server}/trade/offerlist_m6060.htm" target="_blank">丙纶(PP)</a> |
			<a href="$!{address.server}/trade/offerlist_m6085.htm" target="_blank">纤维</a> |
			<a href="$!{address.server}/trade/offerlist_m6226.htm" target="_blank">锦纶</a> |
			<a href="$!{address.server}/trade/offerlist_m6064.htm" target="_blank">腈纶(丙烯)</a> |
			<a href="$!{address.server}/trade/offerlist_m6162.htm" target="_blank">氨纶</a> |
			<a href="$!{address.server}/trade/offerlist_m6142.htm" target="_blank">芳纶</a> |
			<a href="$!{address.server}/trade/offerlist_m6227.htm" target="_blank">维纶</a> |
			<a href="$!{address.server}/trade/offerlist_m5671.htm" target="_blank" class="cateMore">更多&gt;&gt;</a></ul>
		<div class=cb></div></div><div class="right"><div class="topCate">
			<h4><a href="$!{address.server}/trade/offerlist_m5673.htm" target="_blank">坯布面料</a></h4>
		</div><ul class="subCate">
			<a href="$!{address.server}/trade/offerlist_m5970.htm" target="_blank">坯布</a> |
			<a href="$!{address.server}/trade/offerlist_m5971.htm" target="_blank">服装下脚料</a> |
			<a href="$!{address.server}/trade/offerlist_m5972.htm" target="_blank">废布/碎布</a> |
			<a href="$!{address.server}/trade/offerlist_m5973.htm" target="_blank" class="highlight">无纺布</a> |
			<a href="$!{address.server}/trade/offerlist_m5974.htm" target="_blank">擦机布</a> |
			<br><a href="$!{address.server}/trade/offerlist_m5975.htm" target="_blank" class="highlight">旧衣服</a> |
				<a href="$!{address.server}/trade/offerlist_m5976.htm" target="_blank">手套</a> |
				<a href="$!{address.server}/trade/offerlist_m5673.htm" target="_blank" class="cateMore">更多&gt;&gt;</a></ul>
			<div class=cb></div></div><div class=cb></div></div><div class=cb></div>
	<div class="cateDiv1 cateBg"><div class="topCate topCateLong">
			<h4><a href="$!{address.server}/trade/offerlist_m5674.htm" target="_blank">皮革</a></h4>
			<h4><a href="$!{address.server}/trade/offerlist_m5688.htm" target="_blank">牛仔布</a></h4>
			<h4><a href="$!{address.server}/trade/offerlist_m5691.htm" target="_blank">编织料</a></h4>
			<h4><a href="$!{address.server}/trade/offerlist_m5675.htm" target="_blank">废棉料</a></h4>
			<h4><a href="$!{address.server}/trade/offerlist_m5676.htm" target="_blank">羊毛制品</a></h4>
			<h4><a href="$!{address.server}/trade/offerlist_m5689.htm" target="_blank">家纺废料</a></h4></div>
		<ul class="subCateLong"><a href="$!{address.server}/trade/offerlist_m6005.htm" target="_blank">麻</a> |
			<a href="$!{address.server}/trade/offerlist_m5967.htm" target="_blank" class="highlight">皮料</a> |
			<a href="$!{address.server}/trade/offerlist_m6022.htm" target="_blank">聚酯/脱脂棉</a> |
			<a href="$!{address.server}/trade/offerlist_m6023.htm" target="_blank">再生棉</a> |
			<a href="$!{address.server}/trade/offerlist_m6024.htm" target="_blank">涤棉</a> |
			<a href="$!{address.server}/trade/offerlist_m6025.htm" target="_blank">热风棉</a> |
			<a href="$!{address.server}/trade/offerlist_m5978.htm" target="_blank">开士米</a> |
			<a href="$!{address.server}/trade/offerlist_m6027.htm" target="_blank">毛织品</a> |
			<a href="$!{address.server}/trade/offerlist_m5979.htm" target="_blank">真丝</a> |
			<a href="$!{address.server}/trade/offerlist_m5980.htm" target="_blank" class="highlight">废丝</a> |
			<a href="$!{address.server}/trade/offerlist_m5991.htm" target="_blank">地毯料</a> |
			<a href="$!{address.server}/trade/offerlist_m5992.htm" target="_blank">毛巾</a> |
			<a href="$!{address.server}/trade/offerlist_m5674.htm" target="_blank" class="cateMore">更多&gt;&gt;</a></ul>
		<div class=cb></div></div><div class=cb></div><!--[if !IE]>废纺织end<![endif]--><!--[if !IE]>废电子start<![endif]-->
	<div class="title">

<h3>
    <a href="$!{address.server}/trade/offerindex6.htm" target="_blank">废电子电器</a>


</h3>

<div class="num">
    (共有<span>21,310</span>条信息)

	</div>
	<a href="$!{address.server}/price" target="_blank" style="float:left">
		<img src="$!{address.images}/root/bj.gif" border="0" /></a>


<div class="post">
    <a href="$!{address.server}/trade/postoffer_step1.htm" target="_blank">发布供求</a></div>
</div><div class=cb></div><div class="cateDiv1"><div class="topCate topCateLong">
		<h4><a href="$!{address.server}/trade/offerlist_m5640.htm" target="_blank">废电子</a></h4>
		<h4><a href="$!{address.server}/trade/offerlist_m5641.htm" target="_blank">废电器</a></h4>
		<h4><a href="$!{address.server}/trade/offerlist_m5642.htm" target="_blank">办公设备</a></h4></div>
	<ul class="subCateLong"><a href="$!{address.server}/trade/offerlist_m6343.htm" target="_blank">电路板</a> |
		<a href="$!{address.server}/trade/offerlist_m5862.htm" target="_blank">线路板</a> |
		<a href="$!{address.server}/trade/offerlist_m5863.htm" target="_blank">CPU</a> |
		<a href="$!{address.server}/trade/offerlist_m5864.htm" target="_blank">主板</a> |
		<a href="$!{address.server}/trade/offerlist_m5865.htm" target="_blank">电容</a> |
		<a href="$!{address.server}/trade/offerlist_m5866.htm" target="_blank" class="highlight">电池</a> |
		<a href="$!{address.server}/trade/offerlist_m5867.htm" target="_blank">电瓶</a> |
		<a href="$!{address.server}/trade/offerlist_m5868.htm" target="_blank">光驱(CD-R)</a> |
		<a href="$!{address.server}/trade/offerlist_m5873.htm" target="_blank">电源</a> |
		<a href="$!{address.server}/trade/offerlist_m5874.htm" target="_blank">电表</a> |
		<a href="$!{address.server}/trade/offerlist_m5875.htm" target="_blank">废电脑显示器</a> |
		<a href="$!{address.server}/trade/offerlist_m5876.htm" target="_blank" class="highlight">旧电脑</a> |
		<a href="$!{address.server}/trade/offerlist_m5877.htm" target="_blank">主机</a> |
		<a href="$!{address.server}/trade/offerlist_m5878.htm" target="_blank">手机</a> |
		<a href="$!{address.server}/trade/offerlist_m5879.htm" target="_blank">笔记本电脑</a> |
		<a href="$!{address.server}/trade/offerlist_m5880.htm" target="_blank">电视机</a> |
		<a href="$!{address.server}/trade/offerlist_m5881.htm" target="_blank">照相机</a> |
		<a href="$!{address.server}/trade/offerlist_m5882.htm" target="_blank" class="highlight">液晶屏(LCD)</a> |
		<a href="$!{address.server}/trade/offerlist_m5885.htm" target="_blank">传真机</a> |
		<a href="$!{address.server}/trade/offerlist_m5886.htm" target="_blank">打印机</a> |
		<a href="$!{address.server}/trade/offerlist_m5887.htm" target="_blank">电话机</a> |
		<a href="$!{address.server}/trade/offerlist_m5888.htm" target="_blank">印刷机</a> |
		<a href="$!{address.server}/trade/offerlist_m5640.htm" target="_blank" class="cateMore">更多&gt;&gt;</a></ul>
	<div class=cb></div></div><div class=cb></div><!--[if !IE]>废电子end<![endif]--><!--[if !IE]>废二手start<![endif]--><div class="title">

<h3>
    <a href="$!{address.server}/trade/offerindex8.htm" target="_blank">废旧二手设备</a>


</h3>

<div class="num">
    (共有<span>15,129</span>条信息)

	</div>
	<a href="$!{address.server}/price" target="_blank" style="float:left">
		<img src="$!{address.images}/root/bj.gif" border="0" /></a>


<div class="post">
    <a href="$!{address.server}/trade/postoffer_step1.htm" target="_blank">发布供求</a>
</div>
</div><div class=cb></div>
<div class="cateDiv1 cateBg">
	<div class="topCate topCateLong"><h4>
			<a href="$!{address.server}/trade/offerlist_m5659.htm" target="_blank">工程设备</a></h4>
		<h4><a href="$!{address.server}/trade/offerlist_m5660.htm" target="_blank">化工设备</a></h4>
		<h4><a href="$!{address.server}/trade/offerlist_m5661.htm" target="_blank">制冷设备</a></h4>
		<h4><a href="$!{address.server}/trade/offerlist_m5662.htm" target="_blank">冶炼设备</a></h4>
		<h4><a href="$!{address.server}/trade/offerlist_m5663.htm" target="_blank">交通工具</a></h4>
		<h4><a href="$!{address.server}/trade/offerlist_m5665.htm" target="_blank">二手商品</a></h4>
	</div>
	<ul class="subCateLong">
		<a href="$!{address.server}/trade/offerlist_m5924.htm" target="_blank">起重机</a> |
		<a href="$!{address.server}/trade/offerlist_m5925.htm" target="_blank">沥青桶</a> |
		<a href="$!{address.server}/trade/offerlist_m5926.htm" target="_blank">抽水机</a> |
		<a href="$!{address.server}/trade/offerlist_m5929.htm" target="_blank">清洗机</a> |
		<a href="$!{address.server}/trade/offerlist_m5930.htm" target="_blank">挤压机</a> |
		<a href="$!{address.server}/trade/offerlist_m5931.htm" target="_blank">撕碎机</a> |
		<a href="$!{address.server}/trade/offerlist_m5932.htm" target="_blank">离心机</a> |
		<a href="$!{address.server}/trade/offerlist_m5934.htm" target="_blank">电解槽</a> |
		<a href="$!{address.server}/trade/offerlist_m5935.htm" target="_blank">反应釜</a> |
		<a href="$!{address.server}/trade/offerlist_m5938.htm" target="_blank">制氧机</a> |
		<a href="$!{address.server}/trade/offerlist_m5939.htm" target="_blank">热接收器</a> |
		<br><a href="$!{address.server}/trade/offerlist_m5940.htm" target="_blank">储罐/贮罐</a> |
			<a href="$!{address.server}/trade/offerlist_m5942.htm" target="_blank">制冷配件</a> |
			<a href="$!{address.server}/trade/offerlist_m5943.htm" target="_blank">制冷机</a> |
			<a href="$!{address.server}/trade/offerlist_m5944.htm" target="_blank" class="highlight">空调</a> |
			<a href="$!{address.server}/trade/offerlist_m5946.htm" target="_blank">压缩机</a> |
			<a href="$!{address.server}/trade/offerlist_m5945.htm" target="_blank" class="highlight">锅炉</a> |
			<a href="$!{address.server}/trade/offerlist_m5947.htm" target="_blank">转炉</a> |
			<a href="$!{address.server}/trade/offerlist_m5948.htm" target="_blank">压铸机</a> |
			<a href="$!{address.server}/trade/offerlist_m5949.htm" target="_blank">油压机</a> |
			<a href="$!{address.server}/trade/offerlist_m5951.htm" target="_blank">冷轧机</a> |
			<a href="$!{address.server}/trade/offerlist_m5659.htm" target="_blank" class="cateMore">更多&gt;&gt;</a>
</ul>
<div class=cb></div></div>
<div class=cb></div><!--[if !IE]>废二手end<![endif]--><!--[if !IE]>其它废料start<![endif]-->
<div class="title">
	<h3>
		<a href="cn" target="_blank">服务和其它废料</a>
	</h3>
	<div class="num">(共有<span>17,339</span>条信息)</div>
	<a href="$!{address.server}/price" target="_blank" style="float:left">
		<img src="$!{address.images}/root/bj.gif" border="0" /></a>
	<div class="post">
		<a href="$!{address.server}/trade/postoffer_step1.htm" target="_blank">发布供求</a></div></div>
<div class=cb></div><div class="cateDiv1"><div class="topCate topCateLong">
		<h4><a href="$!{address.server}/trade/offerindex7.htm" target="_blank">废玻璃</a></h4>
		<h4><a href="$!{address.server}/trade/offerlist_m5669.htm" target="_blank">废木</a></h4>
		<h4><a href="$!{address.server}/trade/offerlist_m5670.htm" target="_blank">化工废料</a></h4>
		<h4><a href="$!{address.server}/trade/offerindex10.htm" target="_blank">服务</a></h4>
		<h4><a href="$!{address.server}/trade/offerindex9.htm" target="_blank">其他废料</a></h4>
</div><ul class="subCateLong">
	<a href="$!{address.server}/trade/offerlist_m5679.htm" target="_blank" class="highlight">碎玻璃</a> |
	<a href="$!{address.server}/trade/offerlist_m5680.htm" target="_blank">显像管玻璃</a> |
	<a href="$!{address.server}/trade/offerlist_m5681.htm" target="_blank">玻璃纤维</a> |
	<a href="$!{address.server}/trade/offerlist_m5682.htm" target="_blank">玻璃粉</a> |
	<a href="$!{address.server}/trade/offerlist_m5683.htm" target="_blank">浮法玻璃</a> |
	<a href="$!{address.server}/trade/offerlist_m5684.htm" target="_blank">平板玻璃</a> |
	<a href="$!{address.server}/trade/offerlist_m5685.htm" target="_blank">玻璃瓶</a> |
	<a href="$!{address.server}/trade/offerlist_m5686.htm" target="_blank">玻璃轧辊</a> |
	<a href="$!{address.server}/trade/offerlist_m5687.htm" target="_blank">废木制品</a> |
	<a href="$!{address.server}/trade/offerlist_m5688.htm" target="_blank">刨花/木削</a> |
	<a href="$!{address.server}/trade/offerlist_m5960.htm" target="_blank">废硫</a> |
	<a href="$!{address.server}/trade/offerlist_m5961.htm" target="_blank">废碘</a> |
	<a href="$!{address.server}/trade/offerlist_m6000.htm" target="_blank">废油</a> |
	<a href="$!{address.server}/trade/" target="_blank" class="highlight">报关/清关服务</a> |
	<a href="$!{address.server}/trade/offerlist_m6002.htm" target="_blank">物流服务</a> |
	<a href="$!{address.server}/trade/offerlist_m6003.htm" target="_blank">招聘</a> |
	<a href="$!{address.server}/trade/offerlist_m6017.htm" target="_blank">技术</a> |
	<a href="$!{address.server}/trade/offerlist_m6038.htm" target="_blank">代理</a> |
	<a href="$!{address.server}/trade/offerlist_m6018.htm" target="_blank">其他服务</a> |
</ul><div class=cb></div></div>
<div class=cb></div>


<!--[if !IE]>其它废料end<![endif]-->
</div>