<div class="kuanlink">
    <div class="linkcontent">

    	<b>友情链接：</b>
		#foreach($f in $friendLinkList)
        	<a href="$!{f.friendLinkDO.link}" target="_blank">$!{f.friendLinkDO.linkName}</a> | 
        #end 
        <div class="cb"></div>

    </div>
</div>

