<div id="info">
<div class="left">
<!--[if !IE]>再生互助start<![endif]-->
<div class="subTitle">
<h4><a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=141" target="_blank">商务交流</a></h4>
<div class="line"></div>
<div class="more">
	<a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=141" target="_blank">&gt;&gt;更多</a>
</div>
</div>
<div class=cb></div>

<div id="help" align="left">
<div style="border:1px dashed #ccc;width:90%;margin-left:10px;">
		#foreach($bList1 in $!bListindex_below_right_05)		
		   #foreach($b1 in $bList1.list)
			#if($b1.signType=='index_below_right_05')
			#if($velocityCount==1)	
				<h5 align="center">
		<a href='$!{address.bbsServer}/bbs/viewReply.htm?postId=$!{b1.postId}' target='_blank'  title='$!{b1.title}'>$!stringUtils.controlLengthAddColon($!{b1.title},30)</a>
                </h5>
				<div style="color:#666666; margin-left:5px;">
	<a href='$!{address.bbsServer}/bbs/viewReply.htm?postId=$!{b1.postId}' target='_blank'>
		<font color=#666666 >$!stringUtils.controlLength($!stringUtils.removeHTML($!{b1.content}),30)</font></a>
           </div>
			#end
			#end
		#end	
	#end


</div>
<div class="left">
<ul>
		#set($count=0)
	#foreach($bList1 in $!bListindex_below_right_05)		
		#foreach($b1 in $bList1.list)
			#if($b1.signType=='index_below_right_05')
			#set($count=$count+1)
			#if($count>1&&$count<8)	
		<li>·<a href='$!{address.bbsServer}/bbs/viewReply.htm?postId=$!{b1.postId}' target='_blank'  title='$!{b1.title}'>$!stringUtils.controlLengthAddColon($!{b1.title},30)</a></li>
			#end
			#end
		#end	
	#end
</ul>
</div>
<div style="float:left; margin-bottom:3px;text-align:center;width:100%">
	<div style=''>
			#set($adsPlacesId=384)
	#showAds($adsList384 $adsPlacesId)
      </div>
	</div>
</div>

<!--[if !IE]>再生互助end<![endif]-->
<!--[if !IE]>技术讲坛start<![endif]-->
<div class="subTitle">
<h4><a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=6" target="_blank">技术讲坛</a></h4>
<div class="line"></div>
<div class="more">
	<a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=6" target="_blank">&gt;&gt;更多</a></div>
</div>
<div id="tech" align="left">
<h5>
	#foreach($bList2 in $!bListindex_below_right_02)
		#foreach($b2 in $bList2.list)
			#if($b2.signType=='index_below_right_02')
			#if($velocityCount==1)	
<a href='$!{address.bbsServer}/bbs/viewReply.htm?postId=$!{b2.postId}' target='_blank' title='$!{b2.title}'>$!stringUtils.controlLengthAddColon($!{b2.title},30)</a>
			#end
			#end
		#end	
	#end
</h5>
<div class="subNav"> <a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=57" target="_blank">废塑料</a> 
	<a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=58" target="_blank">废金属</a> 
	<a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=59" target="_blank">废纸橡胶</a> 
	<a href="/cn/magazine" target="_blank"><strong>中国《资源再生》</strong></a> 
</div>
<div class="list">
<ul>
		#set($count=0)
	#foreach($bList2 in $!bListindex_below_right_02)
		#foreach($b2 in $bList2.list)
			#if($b2.signType=='index_below_right_02')
			#set($count=$count+1)
			#if($count>1&&$count<8)	
		<li>·<a href='$!{address.bbsServer}/bbs/viewReply.htm?postId=$!{b2.postId}' target='_blank' style='color:#f60;' title='$!{b2.title}'>$!stringUtils.controlLengthAddColon($!{b2.title},30)</a></li>
			#end
			#end
		#end	
	#end

</ul>
</div>

<div align="center">
	<div style=''>
			#set($adsPlacesId=385)
	#showAds($adsList385 $adsPlacesId)
    </div>
</div>

</div>
<!--[if !IE]>再生技术end<![endif]-->
<div class=cb></div>
</div>
<div class="right" align="left">
<!--[if !IE]>名企访谈start<![endif]-->

<div class="subTitle">
<h4><a href="cn/news_More20.html" target="_blank">名企访谈</a></h4>
<div class="line"></div>
<div class="more">
	<a href="cn/news_More20.html" target="_blank">&gt;&gt;更多 </a>
</div>
</div>
<div class=cb>
<div style="float:left; margin-top:5px; width:96px">
	<div style=''>
    <!--	#set($adsPlacesId=386)
    	#showAds($adsList386 $adsPlacesId)-->
		<a href='http://www.zz91.com/cn/trade87946.html' target=_blank>
			<img src='http://img.zz91.com/upimages/upload/2010/9/28164514.jpg' border=0 alt='【专访】小吴再生塑料公司'></a>
	</div>
</div>
<div style="float:left; margin-left:5px; width:135px">

<font style="font-size:13px; font-weight:bold">

<a href="cn/trade87946.html" target="_blank">【专访】小吴再生塑料</a></font>
<font style="color:#666666">
<b>采访企业：</b><br>小吴再生塑料公司<br>
<b>采访人物：</b>吴高峰
</font>
</div>
</div>

<div style="width:244px; float:left; height:100px; margin-bottom:5px; margin-top:5px; border:solid 1px #CCC">
    <IFRAME border=0 name="mqft"  marginWidth=0 frameSpacing=0 marginHeight=0 src="enterprice.htm"   frameBorder=0 noResize width="244px" scrolling=no  height="100px" vspale="0">&nbsp;</IFRAME>
</div>


<!--[if !IE]>名企访谈end<![endif]-->
<!--[if !IE]>热点展会start<![endif]-->
<div class="subTitle">
<h4><a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=209" target="_blank">热点展会</a></h4>
<div class="line"></div>
<div class="more"><a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=209" target="_blank">&gt;&gt;更多 </a></div>
</div>

<div class=cb></div>
<div style="height:25px;" align="center">
	<font style="font-size:14px; font-weight:bold">
		<a href=http://www.zz91.com/cn/exhibit/exhibitDetails221.html target=_blank title=>中国物资再生协会欧洲商务</a>
	</font>
</div>
<div id="rule" align="left">
<div class="list">
<div class="pic">
	<div style=''>
			#set($adsPlacesId=388)
	#showAds($adsList388 $adsPlacesId)
</div>

</div>
<ul>
		#set($count=0)
	#foreach($bList4 in $!bListindex_below_right_04)
		#foreach($b4 in $bList4.list)
			#if($b.signType=='index_below_right_04')
			#set($count=$count+1)
			#if($count<4)	
		<li>·<a href='$!{address.bbsServer}/bbs/viewReply.htm?postId=$!{b4.postId}' target='_blank' style='color:#f60;' title='$!{b4.title}'>$!stringUtils.controlLengthAddColon($!{b4.title},30)</a></li>
			#end
			#end
		#end	
	#end
</ul>
</div>
<div class="list">

<ul>
		#set($count=0)
	#foreach($bList in $!bListindex_below_right_04)
		#foreach($b in $bList.list)
			#if($b.signType=='index_below_right_04')
			#set($count=$count+1)
			#if($count<7)	
		<li>·<a href='$!{address.bbsServer}/bbs/viewReply.htm?postId=$!{b.postId}' target='_blank' style='color:#f60;' title='$!{b.title}'>$!stringUtils.controlLengthAddColon($!{b.title},30)</a></li>
			#end
			#end
		#end	
	#end
</ul>
</div>
</div>
<!--[if !IE]>热点展会end<![endif]-->
</div>
<div class=cb></div>
</div>