<div id="hqbj">
<div class="title">
<h3><a href="$!{address.server}/price/index.htm" target="_blank">行情报价</a></h3>
<div class="keywords">

<!--[if !IE]>热门关键字: <a href="/cn/tags/tradesListByKey13724_1.html" target="_blank">塑料</a> <a href="/cn/tags/tradesListByKey13724_1.html" target="_blank">报价</a><![endif]-->
</div>
<div class="more"><a href="$!{address.server}/price/index.htm" target="_blank">&gt;&gt;更多</a></div>
</div>
<div class=cb></div>
<div class="contentDiv">
<div id="metalPrice">
<div class="subTitle">
<h4><a href="$!{address.server}/channel/wasteMetal.htm" target="_blank">废金属报价</a></h4>
<div style="float:right "><a href="$!{address.server}/channel/wasteMetal.htm" target="_blank">>>更多</a></div>
<div class="line"></div>
</div>
<div class=cb></div>
<h5 align="center">
	#foreach($metalPrice in $!metalPriceList)
<a href='' target='_blank'  title='$!{metalPrice.title}'>$!{metalPrice.title}</a>
	#end
</h5>
<div class=cb></div>
<div class="mainContent">
<ul class="common">
	#set($papamter='价格')
 #foreach($metalPrice in $metalCategoryList)
<li>
    <a href="$!{address.server}/price/moreList_p3_t$!{metalPrice.id}_metal.htm" target="_blank">[<font color="#339900">$!{metalPrice.name}</font>]</a>
	<a href="$!{address.server}/price/moreList_p3_t$!{metalPrice.id}_metal.htm" target="_blank"  title="$!date.format('M/dd',$!{metalGmtOrder})各地废$!{metalPrice.name}价格">$!date.format('M/dd',$!{metalGmtOrder})各地废$!{metalPrice.name}$!stringUtils.controlLengthAddColon($papamter,5)</a>
</li>
 #end
</ul>
<div class=cb></div>

<div class="pinlunDiv" align="center">
<ul id="pinlun1">
	#foreach($areaPrice in $areaPriceList)
          <a href=$!{address.server}/price/moreList_p17_a$!{areaPrice.id}_metal.htm>$!{areaPrice.name}</a>&nbsp;&nbsp;		
		#end
</ul>
</div>
<div class=cb></div>
</div>
<div class=cb></div>
</div>
<script type="text/javascript">
//try{
//slideLine('pinlun1', 2500, 22, 22);
//}catch(e) {}
</script>
<div id="plasticPrice">
<div class="subTitle">
<h4><a href="$!{address.server}/channel/wastePlastic.htm" target="_blank">废塑料报价</a></h4>
<div style="float:right "><a href="$!{address.server}/channel/wastePlastic.htm" target="_blank">>>更多</a></div>
<div class="line"></div>
</div>
<div class=cb></div>

<h5 align="center">
	#foreach($plasticPrice in $!plasticPriceList)
<a href='' target='_blank'  title='$!{plasticPrice.title}'>$!{plasticPrice.title}</a>
	#end
</h5>
<div class=cb></div>
<div class="mainContent">
<ul class="besidePic">

	#foreach($plasticCategory in $plasticCategoryList)
    <li>
      <a href="$!{address.server}/price/priceList_t$!{plasticCategory.id}_plastic.htm" target="_blank">[<font color="#339900">$!{plasticCategory.name}</font>]</a>
	  <a href="$!{address.server}/price/priceList_t$!{plasticCategory.id}_plastic.htm" target="_blank"  title="$!date.format('M月dd日',$!{plasticGmtOrder})$!{plasticCategory.name}废料价格">$!date.format('M月dd日',$!{plasticGmtOrder})$!{plasticCategory.name}废料价格</a>
    </li>
    #end
</ul>
<div class="pic">
	<div style=''>
		#set($adsPlacesId=375)
	#showAds($adsList376 $adsPlacesId)
</div>
<div style=''>
		#set($adsPlacesId=376)
	#showAds($adsList376 $adsPlacesId)
</div>
</div>
<!--[if !IE]>
<div class="pinlunDiv">
<ul id="pinlun2">

</ul>
</div><![endif]-->
<div class=cb></div>
</div>

<div class=cb></div>
<script type="text/javascript">
//try{
//slideLine('pinlun2', 2500, 22, 22);
//}catch(e) {}
</script>
</div>
<div class=cb></div>
<div id="rubberPrice">
<div class="subTitle">
<h4><a href="$!{address.server}/channel/otherWaste.htm" target="_blank">废橡胶报价</a></h4>
<div style="float:right "><a href="$!{address.server}/channel/otherWaste.htm" target="_blank">>>更多</a></div>
<div class="line"></div>
</div>
<div class=cb></div>
<h5 align="center">
	#foreach($rubber in $!rubberComment)
<a href='' target='_blank'  title='$!{rubber.title}'>$!{rubber.title}</a>
    #end
</h5>
<div class="mainContent">

<ul class="common">
  #foreach($rubber in $rubberList)
<li>
    ·<a href='$!{address.server}/price/priceDetails_$!{rubber.id}_paper.htm' target='_blank'  title='$!{rubber.title} '>$!{rubber.title}</a>
</li>
  #end
</ul>
<div align="center">
<ul class="common">
<li>
	<div style=''>
			#set($adsPlacesId=378)
	#showAds($adsList378 $adsPlacesId)
   </div>
</li>

<li>
	<div style=''>
	#set($adsPlacesId=379)
	#showAds($adsList379 $adsPlacesId)
</div>
</li>
</ul>
</div>
<!--[if !IE]>
<div class="pinlunDiv">
<ul id="pinlun3">

</ul>
</div><![endif]-->
<div class=cb></div>
</div>
<div class=cb></div>
</div>
<script type="text/javascript">
//try{
//slideLine('pinlun3', 2500, 22, 22);
//}catch(e) {}
</script>
<div class=cb></div>
<div id="paperPrice">
<div class="subTitle">
<h4><a href="$!{address.server}/channel/otherWaste.htm" target="_blank">废纸报价</a></h4>
<div style="float:right ">
	<a href="$!{address.server}/channel/otherWaste.htm" target="_blank">>>更多</a>
</div>

<div class="line"></div>
</div>
<div class=cb></div>
#foreach($paper in $paperComment)
<h5 align="center">
<a href='' target='_blank'  title='$!{paper.title}'>$!{paper.title}</a>
</h5>
<div class=cb></div>
<div class="mainContent">

<div style="width:320px ">
<div style="float:left; width:90px; height:73px;">
	<div style=''>
	#set($adsPlacesId=380)
	#showAds($adsList380 $adsPlacesId)
</div>
	</div>
<div class="abstract" style="float:left; margin-left:10px; width:210px">
<font color="#666666">$!stringUtils.controlLengthAddColon($!stringUtils.removeHTML($!{paper.content}),200)</font>
</div>
</div>
#end

<div class=cb></div>
<ul class="common">
  #foreach($paper in $paperList)
<li>
    ·<a href='$!{address.server}/price/priceDetails_$!{paper.id}_paper.htm' target='_blank'  title='$!{paper.title}'>$!stringUtils.controlLengthAddColon($!{paper.title},35)</a>
</li>
  #end

</ul>

<div class=cb></div>
</div>
<div class=cb></div>
</div>
<div class=cb></div>

</div>
<div class=cb></div>
</div>