<div class="pingy_bg" onMouseOut="hiddenpingyin()">
<div>
<ul>
<li style="font-size:14px; line-height:30px; font-weight:bold">拼音索引</li>
<li class="pingy_off" id="p0" onMouseOver="showpingyin(0,'a','$!{address.server}')">a</li>
<li class="pingy_off" id="p1" onMouseOver="showpingyin(1,'b','$!{address.server}')">b</li>
<li class="pingy_off" id="p2" onMouseOver="showpingyin(2,'c','$!{address.server}')">c</li>
<li class="pingy_off" id="p3" onMouseOver="showpingyin(3,'d','$!{address.server}')">d</li>
<li class="pingy_off" id="p4" onMouseOver="showpingyin(4,'e','$!{address.server}')">e</li>
<li class="pingy_off" id="p5" onMouseOver="showpingyin(5,'f','$!{address.server}')">f</li>
<li class="pingy_off" id="p6" onMouseOver="showpingyin(6,'g','$!{address.server}')">g</li>
<li class="pingy_off" id="p7" onMouseOver="showpingyin(7,'h','$!{address.server}')">h</li>
<li class="pingy_off" id="p8" onMouseOver="showpingyin(8,'i','$!{address.server}')">i</li>
<li class="pingy_off" id="p9" onMouseOver="showpingyin(9,'j','$!{address.server}')">j</li>
<li class="pingy_off" id="p10" onMouseOver="showpingyin(10,'k','$!{address.server}')">k</li>
<li class="pingy_off" id="p11" onMouseOver="showpingyin(11,'l','$!{address.server}')">l</li>
<li class="pingy_off" id="p12" onMouseOver="showpingyin(12,'m','$!{address.server}')">m</li>
<li class="pingy_off" id="p13" onMouseOver="showpingyin(13,'n','$!{address.server}')">n</li>
<li class="pingy_off" id="p14" onMouseOver="showpingyin(14,'o','$!{address.server}')">o</li>
<li class="pingy_off" id="p15" onMouseOver="showpingyin(15,'p','$!{address.server}')">p</li>
<li class="pingy_off" id="p16" onMouseOver="showpingyin(16,'q','$!{address.server}')">q</li>
<li class="pingy_off" id="p17" onMouseOver="showpingyin(17,'r','$!{address.server}')">r</li>
<li class="pingy_off" id="p18" onMouseOver="showpingyin(18,'s','$!{address.server}')">s</li>
<li class="pingy_off" id="p19" onMouseOver="showpingyin(19,'t','$!{address.server}')">t</li>
<li class="pingy_off" id="p20" onMouseOver="showpingyin(20,'u','$!{address.server}')">u</li>
<li class="pingy_off" id="p21" onMouseOver="showpingyin(21,'v','$!{address.server}')">v</li>
<li class="pingy_off" id="p22" onMouseOver="showpingyin(22,'w','$!{address.server}')">w</li>
<li class="pingy_off" id="p23" onMouseOver="showpingyin(23,'x','$!{address.server}')">x</li>
<li class="pingy_off" id="p24" onMouseOver="showpingyin(24,'y','$!{address.server}')">y</li>
<li class="pingy_off" id="p25" onMouseOver="showpingyin(25,'z','$!{address.server}')">z</li>

</ul>

</div>
</div>
<div style="height:0px">
<div class="pingy_content" id="pingycontent" style="display:none " onMouseOut="hiddenpingyin()" onMouseOver="showpingyin1()">
<div id="pingyinSort" align="center"></div>
  </div>
<IFRAME border=0 name="pingmain"  marginWidth=0 frameSpacing=0 marginHeight=0 src="about:blank"   frameBorder=0 noResize width="0px" scrolling=no  height="0px" vspale="0"></IFRAME>
  </div>
<div class=cb></div>