
<div class="right rightWidth">
<!--[if !IE]>中间滚动部分start<![endif]-->
<div class="subLeft">

  <div style="margin-bottom:5px;">
	#set($adsPlacesId=12)
	#showAds($adsList12 $adsPlacesId)
  </div>
<div id="scrollOffer">

<div class="left" id="curTime">
	$!{nowTime}
</div>

<div class="center">
<div class="subLeft"> 最新供应信息<br />最新求购信息 </div>
<div class="subRight">
<ul id="newOffer">

#foreach($productsList in $leastProducts)
	<li>
		#if($!{productsList.buyOrSale}=="供应")
			<font class="indexNewoffSales">[$!{productsList.buyOrSale}]</font>&nbsp;
		#elseif($!{productsList.buyOrSale}=="求购")
			<font class="indexNewoffBuy">[$!{productsList.buyOrSale}]</font>&nbsp;
		#else
			<font class="indexNewoffBuy">[$!{productsList.buyOrSale}]</font>&nbsp;
		#end
		<a target="_blank" href="$!{address.server}/trade/productdetails$!{productsList.productId}.htm" class="a1">
			#set($content = $!{productsList.productsTitle})
            #set($contentShort = $content)
            #if($contentShort.length()>10)
				#set($contentShort = $contentShort.substring(0,7)+"...")
			#end
				$contentShort
			###$!{productsList.productsTitle.substring(0,10)}
		</a>
	</li>
#end

</ul>
</div>
</div>
<div class="right"><a href="$!{address.server}/trade/postoffer_step1.htm" target="_blank">立即发布供求信息</a></div>
</div>
</div>
<!--[if !IE]>中间滚动部分end<![endif]-->
<script type="text/javascript">
try{
slideLine('newOffer', 2500, 24, 48);
}catch(e) {}
</script>

<!--[if !IE]>登录框start<![endif]-->
<div class="subRight" id="loginBox">
<div id="logFrame">
<iframe frameborder="0" scrolling="no" height="100%" width="100%" src="$!{address.server}/loginFrame.htm"></iframe>
</div>
<div id="rightBox">
<div id="box1" class="actived">
	<a href="$!{address.server}/register/register.htm" onMouseOver="changeRightBox(1)" target="_blank">会员注册</a></div>
<div id="box2" class="common">
	<a href="$!{address.server}/trade/" onMouseOver="changeRightBox(2)" target="_blank">寻找商机</a></div>
<div id="main1" class="leftActived">
<ul>
<li>已经有$!{num_customer}废料商人加入我们开始轻松上网生意 <img src="$!{address.images}/default/free.gif" /> </li>
<li>您还在等待吗？ </li>

</ul>
</div>
<div id="main2" class="rightActived" style="display:none;">
<ul>
<li>我们的交易中心平均每天更新$!{num_productsDay}条最新商机 <img src="$!{address.images}/default/free.gif" /> </li>
<li>马上发现，把握赚钱机会 </li>
</ul>
</div>
<div id="box3" class="common"><a href="$!{address.server}/trade/postoffer_step1.htm"" onMouseOver="changeRightBox(3)" target="_blank">发布供求</a></div>
<div id="box4" class="common"><a href="http://www.zz91.com/service/zst/" onMouseOver="changeRightBox(4)" target="_blank">$!{rc_version}再生通</a></div>
<div id="main3" class="leftActived" style="display:none;">
<ul>

<li>在中国最旺的网上废料贸易市场发布您的供求信息 <img src="$!{address.images}/default/free.gif" /> </li>
<li>生意找上你的门 </li>
</ul>
</div>
<div id="main4" class="rightActived" style="display:none;" >
<ul>
<li>网上网下综合服务</li>
<li>商务助理帮您找客户</li>
<li>增值服务超划算</li>
</ul>
</div>

</div>
</div>
<!--[if !IE]>登录框end<![endif]-->
</div>