<div class="wrapper mt">
	<dl class="navigation">
		<dt>您当前的位置：</dt>
		<dd><a href="#springUrl('index').htm" target="_blank">行业信息网</a>
			> <span>#if($!{ptype}==1)供应#else 求购#end$!{keywords}</span>
		</dd>
	</dl>
</div>
<div class="wrapper mt clearfix">
	<div class="research">
		<p class="sorry">抱歉，没有找到符合"<em>$!{keywords}</em>"的查询结果。</p>
		<form id="searchForm1" action="#" onsubmit="return false;" class="clearfix">
			<input type="image" src="$!{address.img}/zz91/trade/images/sousuo_06.jpg" width="81" height="39" id="searchBtn" class="searchBtn">
			<input id="keywords" name="keywords" type="text" class="searchField">
		</form>
		<ul class="link">
			<li><a href="$!{address.trade}/postoffer_step1.htm" target="_blank">我要发布供求商机</a></li>
			<li><a href="$!{address.huzhu}" target="_blank">找43万在线商人解答</a></li>
			<li><a href="$!{address.company}" target="_blank">到公司黄页查看</a></li>
		</ul>
	</div>
	<div class="typeSearch">
		<h3 class="also">您还可以：</h3>
		<div class="choice">
			<h4 class="t">建议一：按产品所属类别查找；</h4>
			<a href="index.htm" target="_blank" class="r">查看所有类目</a>
		</div>
		<table class="p_table">
			<tbody>
				<tr>
					<td>
						<a href="$!{address.trade}/offerindex1000.htm" target="_blank"><span style="font-size:14px; font-weight:bold; color:#000;">废金属</span></a>
						<a href="$!{address.trade}/offerlist--mc10001001.htm" target="_blank">有色金属</a>
						<a href="$!{address.trade}/offerlist--mc10001000.htm" target="_blank">废钢铁</a>
						<a href="$!{address.trade}/offerlist--mc10001002.htm" target="_blank">稀有金属</a>
						<a href="$!{address.trade}/offerlist--mc10001003.htm" target="_blank">贵金属</a>
						<a href="$!{address.trade}/offerlist--mc10001004.htm" target="_blank">再生金属</a>
						<a href="/offerindex1000.htm" style="font-weight:bold; color:#000;" target="_blank">&gt;</a>
					</td>
					<td>
						<a href="$!{address.trade}/offerindex1002.htm" target="_blank"><span style="font-size:14px; font-weight:bold; color:#000;">废橡胶</span></a>
						<a href="$!{address.trade}/offerlist--mc10021000.htm" target="_blank">天然废橡胶</a>
						<a href="$!{address.trade}/offerlist--mc10021001.htm" target="_blank">合成橡胶</a>
						<a href="$!{address.trade}/offerlist--mc10021002.htm" target="_blank">热塑性弹性体</a>
						<a href="$!{address.trade}/offerlist--mc10021003.htm" target="_blank">再生胶</a>
						<a href="$!{address.trade}/offerlist--mc10021004.htm" target="_blank">废轮胎</a>
						<a href="/offerindex1002.htm" target="_blank" style="font-weight:bold; color:#000;">&gt;</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="$!{address.trade}/offerindex1001.htm" target="_blank"><span style="font-size:14px; font-weight:bold; color:#000;">废塑料</span></a>
						<a href="$!{address.trade}/offerlist--mc10011000.htm" target="_blank">通用废塑料</a>
						<a href="$!{address.trade}/offerlist--mc10011001.htm" target="_blank">工程废塑料</a>
						<a href="$!{address.trade}/offerlist--mc10011003.htm" target="_blank">塑料混合/复合料</a>
						<a href="http://www.kl91.com/" target="_blank">再生颗粒</a>
						<a href="/offerindex1001.htm" target="_blank" style="font-weight:bold; color:#000;">&gt;</a>
					</td>
					<td>http
						<a href="$!{address.trade}/offerindex1004.htm" target="_blank"><span style="font-size:14px; font-weight:bold; color:#000;">废纸</span></a>
						<a href="$!{address.trade}/offerlist--mc10041000.htm" target="_blank">美废</a>
						<a href="$!{address.trade}/offerlist--mc10041001.htm" target="_blank">欧废</a>
						<a href="$!{address.trade}/offerlist--mc10041002.htm" target="_blank">日废</a>
						<a href="$!{address.trade}/offerlist--mc10041003.htm" target="_blank">其他进口废纸</a>
						<a href="$!{address.trade}/offerlist--mc10041004.htm" target="_blank">包装废纸</a>
						<a href="$!{address.trade}/offerindex1004.htm" target="_blank" style="font-weight:bold; color:#000;">&gt;</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="choice">
			<h4 class="t">建议二：找不到您要的信息,看看国外市场</h4><a href="http://www.recyclechina.com" target="_blank" class="r"><img src="$!{address.img}/zz91/trade/images/sousuo_13.jpg" width="92" height="20" align="absmiddle" alt="recyclechina"></a></div> 
		<div class="choice">
			<h4 class="t">建议三：或许下面有您感兴趣的产品.</h4>
		</div>
	</div>
</div>
<div class="morelist mt clearfix">
	<ul class="list">
		#foreach($obj in $sellList)
			<li>
				<a href="$!{address.trade}/productdetails$!{obj.products.id}.htm" class="l" target="_blank">供应#printTitle($!{obj.products.title} 23 "")</a>
				<span class="date">$date.format("MM-dd",$!{obj.products.refreshTime})</span>
			</li>
		#end
	</ul>
	<ul class="list">
		#foreach($obj in $buyList)
			<li>
				<a href="$!{address.trade}/productdetails$!{obj.products.id}.htm" class="l" target="_blank">求购#printTitle($!{obj.products.title} 23 "")</a>
				<span class="date">$date.format("MM-dd",$!{obj.products.refreshTime})</span>
			</li>
		#end
	</ul>
</div>
<script>
jQuery(document).ready(function(){
	jQuery("#searchForm1").submit(function(){
		var keywords = jQuery("#keywords").attr("value");
		keywords = encodeURI(keywords);
		window.location="#springUrl('/search-a')$!{ptype}-"+keywords+".htm";
	});
});
</script>