#set($layout="/layout/default1.vm")
 <div class="exhibition">
        <!--end top-->
        <div class="content">
        		<div class="con-left fl">
            	<a href="newsList.htm"><div class="cltag">新闻资讯</div></a>
                <!--end cltag-->
                <a href="#"><div class="cltag cur">下载中心</div></a>
                <!--end cltag-->
               #parse("/exhibitchannel/common/vm_left.vm")
                    <!--end info-->
                </div>
                <!--end clbox-->
            </div>
            <!--end con-left fl-->
            <div class="con-right fr">
            	<div class="crbox">
                	<div class="ex1">
						<p><a href="http://img1.zz91.com/xiazai/2016/4/18/2016%E5%B9%B4%E7%AC%AC%E5%8D%81%E5%85%AD%E5%B1%8A%E5%8F%B0%E5%B7%9E%E5%A1%91%E4%BA%A4%E4%BC%9A%E4%BD%8F%E5%AE%BF%E6%8C%87%E5%8D%97.doc" title="塑交会住宿指南">塑交会住宿指南</a></p>
                        <p><a href="http://img1.zz91.com/xiazai/2016/4/18/2016%E5%B9%B4%E7%AC%AC%E5%8D%81%E5%85%AD%E5%B1%8A%E5%8F%B0%E5%B7%9E%E5%A1%91%E4%BA%A4%E4%BC%9A%E4%BA%A4%E9%80%9A%E6%8C%87%E5%8D%97.docx" title="塑交会交通指南">塑交会交通指南</a></p>
                        <p><a href="http://img1.zz91.com/xiazai/2016/4/18/2016%E5%B9%B4%E7%AC%AC%E5%8D%81%E5%85%AD%E5%B1%8A%E5%8F%B0%E5%B7%9E%E5%A1%91%E4%BA%A4%E4%BC%9A%E6%9A%A8%E7%AC%AC%E4%B8%83%E5%B1%8A%E5%86%8D%E7%94%9F%E5%A1%91%E6%96%99%E5%B1%95%E8%A7%88%E4%BC%9A%E9%82%80%E8%AF%B7%E5%87%BD.doc" title="塑交会邀请函">塑交会邀请函</a></p>
                    </div>
                    <!--end ex1-->
                </div>
                <!--end crbox-->
            </div>
            <!--end con-right fr-->
            <div class="cb"></div>
        </div>
        <!--end content-->
    </div>
    <!--end exhibition-->
<script >
		jQuery(document).ready(function(){
			jQuery("#exid5").attr("href","#");
			jQuery("#exid5").attr("class","on");
		});
</script>