#set($layout="/layout/default1.vm")
 <div class="exhibition">
        <!--end top-->
        <div class="content">
        	<div class="con-left fl">
                <a href="newsList.htm"><div class="cltag cur">新闻资讯</div></a>
                <!--end cltag-->
                <a href="newDownload.htm"><div class="cltag">下载中心</div></a>

                <!--end cltag-->
                 #parse("/exhibitchannel/common/vm_left.vm")
                </div>

                <!--end clbox-->
            </div>
            <!--end con-left fl-->
            <div class="con-right fr">
            	<div class="crbox">
                	<div class="ex1">
                    	<h2 class="bold f14 tc">印、韩组团参观第14届中国塑料交易会，寻觅合作商</h2>
                        <p class="gray tc">2014-07-19</p>

                        <div class="line"></div>
                        <div class="matter">
                        	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7月得到来自印度凯撒里传媒确切消息，其旗下有一个20人以上的采购团将于9月份前来参观第十四届中国塑料交易会。采购团成员主要从事塑料PET相关行业，此次前来目的是为了寻求和采购PET制品，PET注塑机，PET自动拉伸吹塑机，PET瓶坯模具，注射吹塑机等。</p><br />
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;斯里兰卡模具制造商协会近日向组委会发函，确定在浙江台州市国际会展中心9月25-28日举行的第十四届中国塑料交易会参观事宜。这是斯里兰卡模具制造商协会第七次组团参观塑交会，本次采购团人数约20人。与此时同时，韩中地域经济协会组团也紧张筹备中。韩国参观团除了专业采购商外，还有计划参展的企业，详细情况还在跟踪中。</p>
                        </div>
                        <!--end matter-->
                        <div class="page mt40">
                        	<div class="prev fl"><a href="newsDetail3.htm" title="上一篇：菲、美中贸协会参观第14届塑交会">上一篇：菲、美中贸协会参观第14届塑交会</a></div>

                            <!--end prev fl-->
                            <div class="next fr"><a href="#" title="下一篇：" class="gray">下一篇：</a></div>
                            <!--end next fr-->
                            <div class="cb"></div>
                        </div>
                        <!--end page-->
                    </div>
                    <!--end ex1-->

                </div>
                <!--end crbox-->
            </div>
            <!--end con-right fr-->
            <div class="cb"></div>
        </div>

        <!--end content-->
    </div>
    <!--end exhibition-->

<script>
 		jQuery(document).ready(function(){
			jQuery("#exid5").attr("class","on");
		});
 </script>