#set($layout="/layout/default1.vm")
 <div class="exhibition">
        <!--end top-->
        <div class="content">
        	<div class="con-left fl">
                <a href="newsList.htm"><div class="cltag cur">新闻资讯</div></a>
                <!--end cltag-->
                <a href="newDownload.htm"><div class="cltag">下载中心</div></a>

                <!--end cltag-->
                 #parse("/exhibitchannel/common/vm_left.vm")
                </div>

                <!--end clbox-->
            </div>
            <!--end con-left fl-->
            <div class="con-right fr">
            	<div class="crbox">
                	<div class="ex1">
                    	<h2 class="bold f14 tc">$!{exhibitDTO.exhibitDO.name}</h2>
                        <p class="gray tc">$!date.format('yyyy-MM-dd',$!{exhibitDTO.exhibitDO.gmtCreated})</p>

                        <div class="line"></div>
                        <div class="matter">
                        	<p>
                            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$!{exhibitDTO.exhibitDO.content}
                            </p>
                        </div>
                        <!--end matter-->
                        <div class="page mt40">
                        	<div class="prev fl">#if($!{up})<a href="newsDetail$!{up.id}.htm">上一篇：#printTitle($!{up.name} 20 "...")</a>#end</div>

                            <!--end prev fl-->
                            <div class="next fr">#if($!{down})<a href="newsDetail$!{down.id}.htm">下一篇：#printTitle($!{down.name} 20 "...")</a>#end</div>
                            <!--end next fr-->
                            <div class="cb"></div>
                        </div>
                        <!--end page-->
                    </div>
                    <!--end ex1-->

                </div>
                <!--end crbox-->
            </div>
            <!--end con-right fr-->
            <div class="cb"></div>
        </div>
        <!--end content-->
    </div>
    <!--end exhibition-->

 <script>
 		jQuery(document).ready(function(){
			jQuery("#exid5").attr("class","on");
		});
 </script>