#set($layout="/layout/default1.vm")
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/exhibitionChannel/css/allinone_thumbnailsBanner.css" />
<script src="http://img0.zz91.com/zz91/exhibitionChannel/js/jquery-ui.min.js"></script>
<script src="http://img0.zz91.com/zz91/exhibitionChannel/js/allinone_thumbnailsBanner.js" type="text/javascript"></script>
<script type="text/javascript">
		$(function(){
			$('#Banner_simple').allinone_thumbnailsBanner({
				skin: 'simple',
				numberOfThumbsPerScreen:5,
				width: 726,
				height: 378,
				thumbsReflection:0,
				defaultEffect: 'random'
			});	
		});
</script>
 <div class="exhibition">
        <!--end top-->
        <div class="content">
        	<div class="con-left fl">
            	<a href="exhibitdetail.htm"><div class="cltag">展会介绍</div></a>
                <!--end cltag-->
                <a href="scheduly.htm"><div class="cltag">日程安排</div></a>
                <!--end cltag-->
                <a href="#"><div class="cltag cur">往届回顾</div></a>
                <!--end cltag-->
               #parse("/exhibitchannel/common/vm_left.vm")
                    <!--end info-->
                </div>
                <!--end clbox-->
            </div>
            <!--end con-left fl-->
            <div class="con-right fr">
            	<div class="crbox">
                	<div class="as-mainblock2">
        				<div class="frame960">
                			<div id="Banner_simple">
                    			<ul class="Banner_list">
                        			<li data-bottom-thumb="http://img0.zz91.com/zz91/exhibitionChannel/images/s1.jpg" data-text-id="#photoText1"><img src="http://img0.zz91.com/zz91/exhibitionChannel/images/1.jpg" alt="" /></li>
                        			<li data-bottom-thumb="http://img0.zz91.com/zz91/exhibitionChannel/images/s2.jpg" data-text-id="#photoText1"><img src="http://img0.zz91.com/zz91/exhibitionChannel/images/2.jpg" alt="" /></li>
                        			<li data-bottom-thumb="http://img0.zz91.com/zz91/exhibitionChannel/images/s3.jpg" data-text-id="#photoText1"><img src="http://img0.zz91.com/zz91/exhibitionChannel/images/3.jpg" alt="" /></li>
                        			<li data-bottom-thumb="http://img0.zz91.com/zz91/exhibitionChannel/images/s4.jpg" data-text-id="#photoText1"><img src="http://img0.zz91.com/zz91/exhibitionChannel/images/4.jpg" alt="" /></li>
                        			<li data-bottom-thumb="http://img0.zz91.com/zz91/exhibitionChannel/images/s5.jpg" data-text-id="#photoText1"><img src="http://img0.zz91.com/zz91/exhibitionChannel/images/5.jpg" alt="" /></li>
                        			<li data-bottom-thumb="http://img0.zz91.com/zz91/exhibitionChannel/images/s6.jpg" data-text-id="#photoText1"><img src="http://img0.zz91.com/zz91/exhibitionChannel/images/6.jpg" alt="" /></li>
                        			<li data-bottom-thumb="http://img0.zz91.com/zz91/exhibitionChannel/images/s7.jpg" data-text-id="#photoText1"><img src="http://img0.zz91.com/zz91/exhibitionChannel/images/7.jpg" alt="" /></li>
                        			<li data-bottom-thumb="http://img0.zz91.com/zz91/exhibitionChannel/images/s8.jpg" data-text-id="#photoText1"><img src="http://img0.zz91.com/zz91/exhibitionChannel/images/8.jpg" alt="" /></li>
                        			<li data-bottom-thumb="http://img0.zz91.com/zz91/exhibitionChannel/images/s9.jpg" data-text-id="#photoText1"><img src="http://img0.zz91.com/zz91/exhibitionChannel/images/9.jpg" alt="" /></li>
                        			<li data-bottom-thumb="http://img0.zz91.com/zz91/exhibitionChannel/images/s10.jpg" data-text-id="#photoText1"><img src="http://img0.zz91.com/zz91/exhibitionChannel/images/10.jpg" alt="" /></li>
                        			<li data-bottom-thumb="http://img0.zz91.com/zz91/exhibitionChannel/images/s11.jpg" data-text-id="#photoText1"><img src="http://img0.zz91.com/zz91/exhibitionChannel/images/11.jpg" alt="" /></li>
                        			<li data-bottom-thumb="http://img0.zz91.com/zz91/exhibitionChannel/images/s12.jpg" data-text-id="#photoText1"><img src="http://img0.zz91.com/zz91/exhibitionChannel/images/12.jpg" alt="" /></li>
                    			</ul>
                			</div>
            			</div>
        			</div>
        		   <!--end as-mainblock2-->
                </div>
                <!--end crbox-->
            </div>
            <!--end con-right fr-->
            <div class="cb"></div>
        </div>
        <!--end content-->
    </div>
    <!--end exhibition-->
<script >
		jQuery(document).ready(function(){
			jQuery("#exid2").attr("href","#");
			jQuery("#exid2").attr("class","on");
		});
</script>