
## css
<link rel="stylesheet" type="text/css" href="$!{address.img}/front/css/zz91.base.css"/>
<link rel="stylesheet" type="text/css" href="$!{address.img}/front/css/zz91.logo-search.css"/>
<link rel="stylesheet" type="text/css" href="$!{address.img}/front/css/zz91.comm.css" />
<link rel="stylesheet" type="text/css" href="$!{address.img}/zz91/company/index/css/gongsiku.css" />

## js
##<script type="text/javascript" src="$!{address.img}/lib/jquery/jquery-1.8.0.min.js"></script>
<script src="$!{address.img}/lib/jquery/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="$!{address.img}/zz91/company/index/js/GongSiKu.js"></script>
<script type="text/javascript" src="$!{address.img}/front/js/zz91.logo-search.js"></script>
<script src="$!{address.img}/front/js/zz91.index.comm.js"></script>
<script src="$!{address.img}/front/js/zz91.common.js"></script>