<script>
	jQuery(document).ready(function(){
		Asto.MINI_LOGIN_URL="$!{address.front}/miniLogin.htm')";
		Asto.DEST_URL="$!{address.trade}/submitCallback.htm";
		Asto.util.EventMonitor();
        Asto.util.placeholder("searchname");
	});
</script>