body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../发布信息成功_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:9px;
    top:9px;
    width:961px;
    height:37px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:37px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../发布信息成功_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:52px;
    width:156px;
    height:66px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:156px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:25px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../发布信息成功_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:171px;
    top:53px;
    width:110px;
    height:61px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:67px;
}

.u5 {
    position:absolute;
    left:2px;
    top:23px;
    width:106px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../发布信息成功_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:298px;
    top:54px;
    width:502px;
    height:61px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:502px;
    height:61px;
}

.u7 {
    position:absolute;
    left:2px;
    top:22px;
    width:498px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../发布信息成功_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:12px;
    top:129px;
    width:952px;
    height:35px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:958px;
    height:41px;
}

.u9 {
    position:absolute;
    left:2px;
    top:10px;
    width:948px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../发布信息成功_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:60px;
    top:212px;
    width:187px;
    height:50px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:193px;
    height:56px;
}

.u11 {
    position:absolute;
    left:2px;
    top:18px;
    width:183px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../发布信息成功_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:301px;
    top:212px;
    width:238px;
    height:50px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:244px;
    height:56px;
}

.u13 {
    position:absolute;
    left:2px;
    top:18px;
    width:234px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_line {
    background-image: url('../发布信息成功_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:0px;
    top:4px;
    width:38px;
    height:3px;
}

.u14 {
    position:absolute;
    left:256px;
    top:232px;
    width:38px;
    height:10px;
    
}

.u15_normal {
    background-image: url('../发布信息成功_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:60px;
    top:212px;
    width:50px;
    height:50px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u16 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../发布信息成功_files/u15_normal.png');
}

.u17_container {
    position:absolute;
    left:301px;
    top:212px;
    width:50px;
    height:50px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u18 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_menu {
    background-image: url('../发布信息成功_files/u19_menu.png');
}

.u19_menu {
    position:absolute;
    left:20px;
    top:131px;
    width:515px;
    height:35px;
}

#u19_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:512px;
    height:32px;
}

#u20 {
    position:absolute;
    left:3px;
    top:3px;
    width:505px;
    height:25px
}

.u21_mouseOver {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u21_normal {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_mouseOver {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u23_normal {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u23_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_mouseOver {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u25_normal {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u25_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_mouseOver {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u27_normal {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u27_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_mouseOver {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u29_normal {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u29_container {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:831px;
    top:91px;
    width:117px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:800px;
    top:58px;
    width:125px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_menu {
    background-image: url('../发布信息成功_files/u33_menu.png');
}

.u33_menu {
    position:absolute;
    left:922px;
    top:50px;
    width:48px;
    height:37px;
}

#u33_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:34px;
}

#u34 {
    position:absolute;
    left:3px;
    top:3px;
    width:38px;
    height:27px
}

.u35_mouseOver {
    background-image: url('../发布信息成功_files/u35_mouseOver.png');
}

.u35_normal {
    background-image: url('../发布信息成功_files/u35_mouseOver.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:22px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:39px;
    height:28px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:29px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:633px;
    top:241px;
    width:220px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:662px;
    top:216px;
    width:108px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../发布信息成功_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:12px;
    top:170px;
    width:952px;
    height:26px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:958px;
    height:32px;
}

.u40 {
    position:absolute;
    left:2px;
    top:5px;
    width:948px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_menu {
    background-image: url('../发布信息成功_files/u41_menu.png');
}

.u41_menu {
    position:absolute;
    left:20px;
    top:167px;
    width:415px;
    height:35px;
}

#u41_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:412px;
    height:32px;
}

#u42 {
    position:absolute;
    left:3px;
    top:3px;
    width:405px;
    height:25px
}

.u43_mouseOver {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u43_normal {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_mouseOver {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u45_normal {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u45_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_mouseOver {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u47_normal {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u47_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_mouseOver {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u49_normal {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u49_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_menu {
    background-image: url('../发布信息成功_files/u51_menu.png');
}

.u51_menu {
    position:absolute;
    left:460px;
    top:167px;
    width:215px;
    height:35px;
}

#u51_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:32px;
}

#u52 {
    position:absolute;
    left:3px;
    top:3px;
    width:205px;
    height:25px
}

.u53_mouseOver {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u53_normal {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_mouseOver {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u55_normal {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u55_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_menu {
    background-image: url('../发布信息成功_files/u57_menu.png');
}

.u57_menu {
    position:absolute;
    left:703px;
    top:167px;
    width:315px;
    height:35px;
}

#u57_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:32px;
}

#u58 {
    position:absolute;
    left:3px;
    top:3px;
    width:305px;
    height:25px
}

.u59_mouseOver {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u59_normal {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_mouseOver {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u61_normal {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u61_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_mouseOver {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u63_normal {
    background-image: url('../发布信息成功_files/u21_mouseOver.png');
}

.u63_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../发布信息成功_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:12px;
    top:279px;
    width:952px;
    height:151px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:958px;
    height:157px;
}

.u66 {
    position:absolute;
    left:2px;
    top:68px;
    width:948px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:36px;
    top:293px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:36px;
    top:319px;
    width:691px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:95px;
    top:294px;
    width:362px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:36px;
    top:344px;
    width:691px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:154px;
    top:385px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u72 {
    position:absolute;
    left:316px;
    top:385px;
    width:122px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u73_normal {
    background-image: url('../发布信息成功_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:12px;
    top:448px;
    width:952px;
    height:224px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:958px;
    height:230px;
}

.u74 {
    position:absolute;
    left:2px;
    top:104px;
    width:948px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_line {
    background-image: url('../发布信息成功_files/u75_line.png');
}

.u75_line {
    position:absolute;
    left:0px;
    top:4px;
    width:952px;
    height:3px;
}

.u75 {
    position:absolute;
    left:12px;
    top:479px;
    width:952px;
    height:10px;
    
}

.u76 {
    position:absolute;
    left:34px;
    top:459px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_line {
    background-image: url('../发布信息成功_files/u77_line.png');
}

.u77_line {
    position:absolute;
    left:0px;
    top:4px;
    width:952px;
    height:3px;
}

.u77 {
    position:absolute;
    left:12px;
    top:513px;
    width:952px;
    height:10px;
    
}

.u78 {
    position:absolute;
    left:39px;
    top:494px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_line {
    background-image: url('../发布信息成功_files/u79_line.png');
}

.u79_line {
    position:absolute;
    left:0px;
    top:4px;
    width:952px;
    height:3px;
}

.u79 {
    position:absolute;
    left:12px;
    top:552px;
    width:952px;
    height:10px;
    
}

.u80 {
    position:absolute;
    left:39px;
    top:533px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_line {
    background-image: url('../发布信息成功_files/u81_line.png');
}

.u81_line {
    position:absolute;
    left:0px;
    top:4px;
    width:952px;
    height:3px;
}

.u81 {
    position:absolute;
    left:12px;
    top:588px;
    width:952px;
    height:10px;
    
}

.u82 {
    position:absolute;
    left:39px;
    top:569px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:389px;
    top:494px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:389px;
    top:533px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:389px;
    top:569px;
    width:48px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_line {
    background-image: url('../发布信息成功_files/u86_line.png');
}

.u86_line {
    position:absolute;
    left:0px;
    top:4px;
    width:952px;
    height:3px;
}

.u86 {
    position:absolute;
    left:12px;
    top:627px;
    width:952px;
    height:10px;
    
}

.u87 {
    position:absolute;
    left:39px;
    top:608px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:39px;
    top:643px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:389px;
    top:608px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:389px;
    top:644px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_line {
    background-image: url('../发布信息成功_files/u91_line.png');
}

.u91_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:223px;
}

.u91 {
    position:absolute;
    left:447px;
    top:448px;
    width:10px;
    height:223px;
    
}

.u92 {
    position:absolute;
    left:501px;
    top:459px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:509px;
    top:494px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:798px;
    top:494px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:798px;
    top:533px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:798px;
    top:569px;
    width:48px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:798px;
    top:608px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:798px;
    top:644px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:509px;
    top:533px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:509px;
    top:572px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:509px;
    top:607px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:509px;
    top:644px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_line {
    background-image: url('../发布信息成功_files/u103_line.png');
}

.u103_line {
    position:absolute;
    left:0px;
    top:4px;
    width:952px;
    height:3px;
}

.u103 {
    position:absolute;
    left:12px;
    top:699px;
    width:952px;
    height:10px;
    
}

