#set($layout="/layout/myhuzhuLayout.vm")

#parse("/common/myhuzhu/head.vm")

<div class="huzhu">
    <div class="hz-left fl">
		
		#set($urlName="info")
		#parse("/common/myhuzhu/edit_head.vm")
		
        <!--end mainblock-->
        <div class="mainblock">
            <form action="#springUrl('/myhuzhu/do_edit_info.htm')" id="infoForm" method="post" class="post">
                <div class="form_item grey"><div class="infoleft">性&nbsp;&nbsp;&nbsp;&nbsp;别：</div>
					<input type="radio" name="sex" #if($!{bbsUserProfilerDO.sex}==1 || !$!{bbsUserProfilerDO.sex}) checked #end value="1" class="RevisedData-item-radio"/>
					男&nbsp;&nbsp;&nbsp;
					<input type="radio" name="sex" #if($!{bbsUserProfilerDO.sex}==0) checked #end value="0" class="RevisedData-item-radio"/>
					女
				</div>
                <!--end form_item-->
                <div class="form_item grey mb10"><span class="infoleft">昵&nbsp;&nbsp;&nbsp;&nbsp;称：</span>
                    <input type="text" class="fi-content-text1" id="" name="nickname" value="$!{bbsUserProfilerDO.nickname}" tabindex="1" />
                </div>
                <!--end form_item-->
                <div class="form_item grey mb10"><span class="infoleft">现居住地：</span>
                    <input type="text" class="fi-content-text1" id="" name="address" value="$!{bbsUserProfilerDO.address}" tabindex="1" />
                </div>
                <!--end form_item-->
                <div class="form_item grey mb10"><span class="infoleft">邮&nbsp;&nbsp;&nbsp;&nbsp;箱：</span>
                    <input type="text" class="fi-content-text1" id="" name="email" value="$!{bbsUserProfilerDO.email}" tabindex="1" />
                </div>
                <!--end form_item-->
                <div class="form_item grey mb10"><span class="infoleft">手&nbsp;&nbsp;&nbsp;&nbsp;机：</span>
                    <input type="text" class="fi-content-text1" id="" name="mobile" value="$!{bbsUserProfilerDO.mobile}" tabindex="1" />
                </div>
                <!--end form_item-->
                <div class="form_item grey mb10"><span class="infoleft">QQ：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="text" class="fi-content-text1" id=""  name="qq" value="$!{bbsUserProfilerDO.qq}" tabindex="1" />
                </div>
                <!--end form_item-->
                <div class="form_item grey mb10"><span class="infoleft">从事职业：</span>
                    <input type="text" class="fi-content-text1" id="" name="workScope" value="$!{bbsUserProfilerDO.workScope}" tabindex="1" />
                </div>
                <!--end form_item-->
                <div class="form_item mt20">
                    <div class="form_suc">
                        <a href="javascript:;" id="clickToSub" class="white f14">提交</a>
                    </div>
                    <!--end form_suc-->
                </div>
                <!--end form_item-->
            </form>
			<script type="text/javascript">
				jQuery("#clickToSub").click(function(){
					jQuery("#infoForm").submit();
				});
            </script>
        </div>
        <!--end mainblock-->
    </div>
    <!--end hz-left-->
	
	## 右边个人信息
	#parse("/common/myhuzhu/right.vm")
	
</div>
<!--end huzhu-->