<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/sample/css/mgr_style.css"/>
	<body>
		<div class="content">
        <div class="item">
        	<div class="logo"><img src="http://img0.zz91.com/zz91/sample/images/zz91.png" /></div>
            <!--end logo-->
            <div class="step">
            	<ul>
                	<li>
                    	<div class="si"><img src="http://img0.zz91.com/zz91/sample/images/1.png" /></div>
                        <!--end si-->
                        <div class="st">确认订单信息</div>
                    </li>
                    <li>
                    	<div class="si"><img src="http://img0.zz91.com/zz91/sample/images/2_.png" /></div>
                        <!--end si-->
                        <div class="st_">付款到平台中间账户</div>
                    </li>
                    <li>
                    	<div class="si"><img src="http://img0.zz91.com/zz91/sample/images/3.png" /></div>
                        <!--end si-->
                        <div class="st">确认收货</div>
                    </li>
                    <li>
                    	<div class="si"><img src="http://img0.zz91.com/zz91/sample/images/4.png" /></div>
                        <!--end si-->
                        <div class="st">交易完成</div>
                    </li>
                </ul>
            </div>
            <!--end step-->
            <div class="cb"></div>
        </div>
        <!--end item-->
        <div class="item">
        	<div class="i-suc">
            	<div class="s-img"><img src="http://img0.zz91.com/zz91/sample/images/suc.png" /></div>
                <div class="suc">订单提交成功</div>
                <!--end suc-->
                <div class="cb"></div>
            </div>
            <!--end i-suc-->
            <div class="i-box">
            	<dt>
                	<dl>需要支付金额：<span style="color:#ff0101">${amount}</span> 元</dl>
                    <dl>当前账户余额：${account.amount} 元</dl>
                    <dl>支付后账户余额：${leaveAmt} 元</dl>
                </dt>
            </div>
            <!--end i-box-->
        </div>
        <!--end item-->
        <div class="item_">
        	<div class="i-left">请选择支付方式：</div>
            <!--end i-left-->
            <div class="i-right">
              <form id="form"  name="form"  method="post"  action="#springUrl('/mngr/orderConfirmNotChannel.htm')">
					<input type="hidden"  name="orderid"  value="${orderBill.orderid}" />
            	<dt>
                	<dl>
                    当前账户支付
                    </dl>
                    <dl>
                    #if(${account.payPasswd} && $!{account.payPasswd} !="") 交易密码：	<input type="password"   name="payPasswd"   value=""      placeholder="请输入交易密码"/>  <span class="pwd">$!{msg}</span>  <a href="#springUrl('/mngr/safe.htm')" target="_blank"><span class="pwd2">修改交易密码！</span></a>   #else   <span class="pwd">未设置交易密码，请先设置交易密码</span> <a href="#springUrl('/mngr/safe.htm')" target="_blank"><span class="pwd2">设置交易密码</span></a> #end  
                    </dl>
					
					  #if(${account.payPasswd} && $!{account.payPasswd} !="") 
                    <dl>
                    	<div class="btn" style="margin-left:125px;"><a    onclick="document.form.submit();"  style="cursor:pointer">确定支付</a></div>
                    </dl>
					  #end
					  
                </dt>
               </form>
            </div>
            <!--end i-right-->
            <div class="cb"></div>
        </div>
        <!--end item-->
##        <div class="box">
##          <div class="b-suggest">
##             <div class="sug"><a href="" target="_blank">我要提意见</a></div>
##          </div>
##          <!--end b-suggest-->
##          <div class="b-complay">
##             <dt>
##                 <dl style="padding-left:340px">全国统一服务热线：0571-56611111　56612345</dl>
##                 <dl style="text-align:center"> ZZ91再生网　技术支持　版权所有</dl>
##             </dt>
##           </div>
##           <!--end b-complay-->
##         </div>
         <!--end box-->
       </div>
       <!--end content-->
    </body>