#set($layout="/layout/blank.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>样品会员中心_ZZ91再生网</title>
    <link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/sample/admin/css/common.css">
    <link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/sample/admin/css/index.css">
    <link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/sample/admin/css/account.css">
    <script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js"></script>
    <script type="text/javascript" src="http://img0.zz91.com/zz91/sample/admin/js/index.js"></script>
	<style>
		.bFRow a{color:#F00;font-weight:bold}
	</style>
</head>
<body class="">
<div class="">
        <div class="">
            <div class="">
                <form name="editpw" action="#springUrl('/mngr/paypasswd.htm')" method="post" class="ajax">
                    <input type="hidden" name="type" value="2">
					
					#if(${account.payPasswd} &&$!{account.payPasswd}!= "")	
                    <div class="bFRow">
                        <div class="label">交易密码:</div>
                        <div class="cell"><input type="password" class="text fl"  name="oldpasswd"></div>
                    </div>
					#end	
                                        <div class="bFRow">
                        <div class="label">新交易密码:</div>
                        <div class="cell">
                            <input type="password" class="text fl" id="passwd" name="passwd">
                            <div class="cellCon" id="pwdpower" style="display: none;">
                                <div id="pwdstrength" class="strengthA"><strong>密码强度：</strong><b></b><span>弱</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="bFRow">
                        <div class="label">重复新交易密码:</div>
                        <div class="cell"><input type="password" class="text fl" id="repasswd" name="repasswd"></div>
                    </div>
                                        <div class="bFRow">
                        <input class="sCSumbitBtn" type="submit" value="保存修改">&nbsp;&nbsp;<a href="#springUrl('/mngr/mobileForPasswd.htm')" target="_parent">忘记密码? 点击重置</a>
                    </div>
                </form>
            </div>
		</div>
	</div>
	</div>
</body>
</html>