#set($layout="/layout/defaultSample.vm")
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/sample/admin/css/account.css" />
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/sample/admin/css/finace.css" />
<script>
	function undo()
	{
		alert("正在开发中......");
	}
</script>
<style>
body{color:#303030;font-size:12px;font-family: "宋体", Arial, Helvetica, sans-serif}
ol, ul, li,dl,dt,dd{margin:0;padding:0;list-style:none}
.listSafeTBox{width:500px;margin:0 auto}
.listSafeTBox li{line-height:30px;font-size:13px}

.f-mobile-box2 {width:500px;margin:16px auto;padding:20px;border:1px solid #ccc;background:#f4f4f4;border-radius:5px;color:#666;
line-height:25px}
.f1{float:left}
.f-mobile-text1{font-size:14px}
.f-mobile-obtain {height:25px;border:1px solid #ccc;background:#fff;text-align:center;padding-left:5px;padding-right:5px}
.f-mobile-obtain a {font-size:14px;color:#666;text-decoration:none}
.f-mobile-obtain a:hover {color:#009241}
.f-mobile-text2 {margin-left:50px}

.f-mobile-box3 {width:500px;margin:0 auto;padding:20px;border:1px solid #ccc;background:#f4f4f4;border-radius:5px;color:#666;line-height:25px}
.f-mobile-box3 input{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
.f-mobile-item {width:380px;font-size:14px;margin:16px 0;margin-left:12px;line-height:25px}
.f-item-title {width:85px;float:left}
.f-item-content {width:295px;float:right}
.f-item-text {width:287px;height:17px;padding:4px}
.f-item-info {font-size: 12px}
.post_error {height:20px;display:block;color:#F00;clear:both}
.f-mobile-ok {width:128px;height:30px;background: url(http://img0.zz91.com/zz91/forgetpasswd/images/f_mobile_ok.jpg) no-repeat;margin-left:98px;color:#FFF;font-weight:bold;border:0px;font-size:14px}

.f-mobile-question {width:500px;margin:16px auto}
.f-mobile-question ul li {color:#666;line-height:24px}

</style>
<body class="gbody1000">
#parse("mngr/include/nav.vm")
#parse("mngr/include/head.vm")
#parse("mngr/include/lm.vm")
<div class="gm1-5 gw-bcrumb">
    <span><a href="#springUrl('/mngr/managerIndex.htm')">会员中心</a></span>
            <strong>
        <a href="#">安全中心</a>
    </strong>
</div>
<div class="gMain clearfix">
        
<!--leftmenu  -->    
<div class="gMenu">
            <a href="#springUrl('/mngr/managerIndex.htm')" class="gHome">会员中心</a>
            <div class="gMenuBox">
                <div class="gMenuItem">
                    <h3 class="helper">采购管理</h3>
                    <ul>
                        <li class=""><a href="#springUrl('/mngr/orderAll.htm')">全部订单</a> </li>
                        <li class=""><a href="#springUrl('/mngr/orderAll.htm')?state=00">待付款订单</a> <font color=red>#if($!{bc_00})($!{bc_00})#end</font></li>
                        <li class=""><a href="#springUrl('/mngr/orderAll.htm')?state=11">待确认收货</a> <font color=red>#if($!{bc_11})($!{bc_11})#end</font></li>
                        <li class=""><a href="#springUrl('/mngr/orderAll.htm')?state=13">已完成订单</a> <font color=red>#if($!{bc_13})($!{bc_13})#end</font></li>
                    </ul>
                </div>
                <div class="gMenuItem">
                    <h3 class="order">供应管理</h3>
                    <ul>
                    	<li><a href="#springUrl('/mngr/saleAll.htm')">全部订单</a> </li>
                        <li><a href="#springUrl('/mngr/saleAll.htm')?state=03">待发货订单</a> <font color=red>#if($!{sc_})($!{sc_03})#end</font></li>
                        <li><a href="#springUrl('/mngr/saleAll.htm')?state=06">提醒发货订单</a> <font color=red>#if($!{sc_})($!{sc_06})#end</font></li>
                        <li><a href="#springUrl('/mngr/saleAll.htm')?state=11">等待买家收货</a> <font color=red>#if($!{sc_})($!{sc_11})#end</font></li>
                        <li><a href="#springUrl('/mngr/saleAll.htm')?state=14">退货中订单</a> <font color=red>#if($!{sc_})($!{sc_14})#end</font></li>
                        <li><a href="#springUrl('/mngr/saleAll.htm')?state=13">已完成订单</a> <font color=red>#if($!{sc_})($!{sc_13})#end</font></li>
                    </ul>
                </div>
				
                <div class="gMenuItem">
                    <h3 class="order">积分管理</h3>
                    <ul>
                        <li class="">
                            <a href="#springUrl('/score.htm')"  target="_blank">积分兑换</a>
                        </li>
                        <li class="">
                            <a href="#springUrl('/mngr/scoreIncome.htm')">积分收入</a>
                        </li>
                        <li class="">
                            <a href="#springUrl('/mngr/scoreConvert.htm')">积分支出</a>
                        </li>
                    </ul>
                </div>
								
                <div class="gMenuItem">
                    <h3 class="account">账户管理</h3>
                    <ul>
                        
                        <li class="">
                            <a href="#springUrl('/mngr/finance.htm')">财务概况</a>
                            <!--收支明细  加  提现记录-->
                        </li>
                        <li class="">
                            <a href="#springUrl('/mngr/record.htm')">收支记录</a>
                        </li>
                        <li class="">
                            <a href="#springUrl('/mngr/address.htm')?flag=B">收货地址</a>
                        </li>
                        <li class="">
                            <a href="#springUrl('/mngr/address.htm')?flag=S">发货地址</a>
                        </li>
                        <li class="current">
                            <a href="#springUrl('/mngr/safe.htm')">安全中心</a>
                        </li>
                    </ul>
                </div>
                
                <div class="gMenuItem">
                    <h3 class="gift"><a href="http://myrc.zz91.com/myproducts/office_post_list.htm?checkStatus=1&isExpired=0&isPause=0" target="_blank">样品管理</a></h3>
                  
                </div>
                
                <div class="gMenuItem">
                    <h3 class="msg">消息管理</h3>
                    <ul>
						<li class=""><a href="#springUrl('/mngr/msgset.htm')">消息提醒设置</a></li>	
                        <li class=""><a href="http://myrc.zz91.com/mymessage/inbox.htm" target="_blank">询盘管理</a></li>	
                        <li class=""> <a href="http://myrc.zz91.com/myfeedback/vip.htm" target="_blank">客服留言</a></li>
                    </ul>
                </div>
            </div>
</div>
 <!--leftmenu  end --> 
 
        <div class="gContainer">
        <div class="gwTopic clearfix">
			<h2>安全中心</h2>
        </div>
        <div class="safeLeTip clearfix">
				<p>你好，$!{sessionUser.account} ，您的账户安全等级为：</p>
				<div class="safeLevel ">
				    #set($level=$safeLevel / 2)
				    #if(${level} && ${level}==3)
					<div class="lHigh"><div class="sLBox"></div><strong> 高 </strong></div>
					#elseif(${level} && ${level}==2)
					<div class="lMedium"><div class="sLBox"></div><strong> 中 </strong></div>
					#else
					<div class=""><div class="sLBox"></div><strong> 低 </strong></div>
					#end
				</div>
        </div>
        <div class="safeTBox">
           	<ul class="listSafeTBox">
        	<li>您正在为账号amanda748941822找回交易密码</li>
            <li>通过手机(********111)找回密码，请您按如下步骤重置密码：</li>
        </ul>
        <div class="f-mobile-box2">
        	<div class="f-mobile-text1 fl">
            	1.获取短信验证码：
            </div>
            <!--end f-mobile-text1-->
            <div class="f-mobile-obtain fl">
            	<div id="sendmobile"><a href="javascript:SendCheckCode()">免费获取</a></div>
				<input type="hidden" name="mobile" id="mobile" value="13075316342">
            </div>
            <!--end f-mobile-obtain-->
            <div class="f-mobile-text2 fl">
            	每天限发五条验证码信息
            </div>
            <!--end f-mobile-text1-->
            <div class="cb"></div>
        </div>
        <!--end f-mobile-box2-->
        <form action="http://www.zz91.com/user/resetPasswordForPasswd.htm?username=A" method="post" id="form_mobile">
        <div class="f-mobile-box3">
        	<div class="f-mobile-text1">
            	2.输入刚刚收到的短信内的验证码:
            </div>
            <!--end f-mobile-text1-->
            <div class="f-mobile-item">
            	<div class="f-item-title">
                	通行证账号:
                </div>
                <div class="f-item-content">
                	A
                </div>
                <div class="cb"></div>
            </div>
            <!--end f-mobile-item-->
            <div class="f-mobile-item">
            	<div class="f-item-title">
                	短信验证码：
                </div>
                <div class="f-item-content">
                	<input name="smscomfirmcode" type="text" class="f-item-text" id="smscomfirmcode">
                    <span class="post_error"></span>
                </div>
				
                <div class="cb"></div>
            </div>
            <!--end f-mobile-item-->
            <div class="f-mobile-item">
            	<div class="f-item-title">
                	新密码：
                </div>
                <div class="f-item-content">
                	<input name="password" type="password" class="f-item-text" id="password">
                    <span class="f-item-info">密码长度为6-12位，可用英文字母、数字、特殊符号。</span>
                    <span class="post_error"></span>
            </div>
                <div class="cb"></div>
            </div>
            <!--end f-mobile-item-->
            <div class="f-mobile-item">
            	<div class="f-item-title">
                	重复新密码：
                </div>
                <div class="f-item-content">
                	<input name="passwordcomfirm" type="password" class="f-item-text" id="passwordcomfirm">
                    <span class="post_error"></span>
            </div>
                <div class="cb"></div>
            </div>
            <!--end f-mobile-item-->
            
            <!--end f-mobile-item-->
            <input type="submit" class="f-mobile-ok" value="完成">
            
            <!--end f-mobile-ok-->
        </div>
        </form>
        <div class="f-mobile-question">
        	<ul>
            	<li>常见问题:</li>
                <li>1、请确认您的手机处于信号畅通且可接收短信状态。</li>
                <li>2、有时短信网关拥堵会造成短信接收延迟，请您稍等片刻。</li>
                <li>3、短信接收免费，有效期10分钟；为防止恶意短信，您每天只能获取5次验证码。</li>
                <li>4、如果还是无法成功获取验证码，请联系客服热线咨询 0571-56611111 56612345。</li>
            </ul>
            <input type="hidden" id="frontaddress" value="http://www.zz91.com">
      </div>
      <!--end f-mobile-question-->
		</div>
	  </div>
	</div>
#parse("mngr/include/bottom.vm")
</body>