<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>zz91.admin.categorycompanyprice.vm</title>

<!-- for include js code -->
#parse("/zz91/common/import.vm")
#parse("/zz91/common/context.vm")
 
	<script type="text/javascript" src="$!{address.js}/admin/categoryCompanyPrice/pricetree.js" ></script>
	<script type="text/javascript" src="$!{address.js}/admin/categoryCompanyPrice/companyPriceTree.js" ></script> 
    <script type="text/javascript" src="$!{address.js}/admin/categoryCompanyPrice/editPanel.js" ></script>
    <script type="text/javascript" src="$!{address.js}/admin/categoryCompanyPrice/view.js" ></script>
    <script type="text/javascript" src="$!{address.js}/admin/categoryCompanyPrice/infoForm.js" ></script>

</head>

<body>
	<input type="hidden" id="node-selected" value="" />
	<input type="hidden" id="node-selected-id" value="" />
	<input type="hidden" id="node-selected-text" value="" />
</body>
</html>