#set($layout="/layout/defaultS.vm")
<div class="main_box clearfix">
	<script src="http://gg.zz91.com/show?p=441"></script>
</div>
#parse("/price/vm_index/metal.vm")
##<div class="main_box clearfix">
##	<script src="http://gg.zz91.com/show?p=32"></script>
##</div>
#parse("/price/vm_index/plastic.vm")
#parse("/price/vm_index/paper.vm")
<script>
tabForPrice("J_p0", "block_title", "block_content");
tabForPrice("J_p1", "block_title", "block_content");
</script>