<div class="cp-type">
                    <div class="dao-title">
                        产品类目导航
                        <i class="moresj"></i>
                    </div>
                    <ul class="cp-type-list">
                        <li class="type-list-li">
                            <a href="$!{address.yuanliao}/gppla/gy/" class="type-name">通用塑料 <i class="moreimg"></i></a>
                            <div class="list-more">
                                <div class="zhezhao"></div>
                                <h3 class="list-more-type">通用塑料</h3>
                                <div class="small-type">
                                    <ul class="small-type-ul clearfix">
                                        <li><a href="$!{address.yuanliao}/abs/gy/">ABS</a></li>
                                        <li><a href="$!{address.yuanliao}/gpps/gy/">GPPS</a></li>
                                        <li><a href="$!{address.yuanliao}/hdpe/gy/">HDPE</a></li>
                                        <li><a href="$!{address.yuanliao}/hips/gy/">HIPS</a></li>
                                        <li><a href="$!{address.yuanliao}/ldpe/gy/">LDPE</a></li>
                                        <li><a href="$!{address.yuanliao}/lldpe/gy/">LLDPE</a></li>
                                        <li><a href="$!{address.yuanliao}/pp/gy/">PP</a></li>
                                        <li><a href="$!{address.yuanliao}/pvc/gy/">PVC</a></li>
                                    </ul>
                                </div>
                                <p class="other-go"><a href="$!{address.yuanliao}/qttysl/gy/">其他通用塑料</a></p>
                            </div>
                        </li>
                        <li class="type-list-li">
                            <a href="$!{address.yuanliao}/enpla/gy/" class="type-name">工程塑料<i class="moreimg"></i></a>
                            <div class="list-more">
                                <div class="zhezhao"></div>
                                <h3 class="list-more-type">工程塑料</h3>
                                  <div class="small-type">
                                    <ul class="small-type-ul clearfix">
                                        <li><a href="$!{address.yuanliao}/as/gy/">AS</a></li>
                                        <li><a href="$!{address.yuanliao}/asa/gy/">ASA</a></li>
                                        <li><a href="$!{address.yuanliao}/eps/gy/">EPS</a></li>
                                        <li><a href="$!{address.yuanliao}/eva/gy/">EVA</a></li>
                                        <li><a href="$!{address.yuanliao}/kj/gy/">K胶</a></li>
                                        <li><a href="$!{address.yuanliao}/mbs/gy/">MBS</a></li>
                                        <li><a href="$!{address.yuanliao}/pa1010/gy/">PA1010</a></li>
                                        <li><a href="$!{address.yuanliao}/pa11/gy/">PA11</a></li>
                                        <li><a href="$!{address.yuanliao}/pa12/gy/">PA12</a></li>
                                        <li><a href="$!{address.yuanliao}/pa46/gy/">PA46</a></li>
                                        <li><a href="$!{address.yuanliao}/pa6/gy/">PA6</a></li>
										 <li><a href="$!{address.yuanliao}/pa610/gy/">PA610</a></li>
                                        <li><a href="$!{address.yuanliao}/pa612/gy/">PA612</a></li>
										 <li><a href="$!{address.yuanliao}/pa66/gy/">PA66</a></li>
                                        <li><a href="$!{address.yuanliao}/pa6t/gy/">PA6T</a></li>
										 <li><a href="$!{address.yuanliao}/pa9t/gy/">PA9T</a></li>
                                        <li><a href="$!{address.yuanliao}/pbt/gy/">PBT</a></li>
										 <li><a href="$!{address.yuanliao}/pc/gy/">PC</a></li>
                                        <li><a href="$!{address.yuanliao}/pet/gy/">PET</a></li>
										 <li><a href="$!{address.yuanliao}/pla/gy/">PLA</a></li>
                                        <li><a href="$!{address.yuanliao}/pmma/gy/">PMMA</a></li>
										 <li><a href="$!{address.yuanliao}/pom/gy/">POM</a></li>
                                        <li><a href="$!{address.yuanliao}/ppe/gy/">PPE</a></li>
										 <li><a href="$!{address.yuanliao}/ppo/gy/">PPO</a></li>
                                        <li><a href="$!{address.yuanliao}/tpu/gy/">TPU</a></li>
										 <li><a href="$!{address.yuanliao}/slsz/gy/">沙林树脂</a></li>
                                    </ul>
                                </div>
                                <p class="other-go"><a href="$!{address.yuanliao}/qtgcsl/gy/">其他工程塑料</a></p>
                            </div>
                        </li>
                        <li class="type-list-li">
                            <a href="$!{address.yuanliao}/sppla/gy/" class="type-name">特种塑料<i class="moreimg"></i></a>
                            <div class="list-more">
                                <div class="zhezhao"></div>
                                <h3 class="list-more-type">特种塑料</h3>
                                <div class="small-type">
                                    <ul class="small-type-ul clearfix">
                                        <li><a href="$!{address.yuanliao}/lcp/gy/">LCP</a></li>
                                        <li><a href="$!{address.yuanliao}/pai/gy/">PAI</a></li>
                                        <li><a href="$!{address.yuanliao}/peek/gy/">PEEK</a></li>
                                        <li><a href="$!{address.yuanliao}/pei/gy/">PEI</a></li>
                                        <li><a href="$!{address.yuanliao}/pes/gy/">PES</a></li>
                                        <li><a href="$!{address.yuanliao}/pfa/gy/">PFA</a></li>
                                        <li><a href="$!{address.yuanliao}/pi/gy/">PI</a></li>
                                        <li><a href="$!{address.yuanliao}/pps/gy/">PPS</a></li>
                                        <li><a href="$!{address.yuanliao}/psu/gy/">PSU</a></li>
                                        <li><a href="$!{address.yuanliao}/ptfe/gy/">PTFE</a></li>
                                        <li><a href="$!{address.yuanliao}/pvdf/gy/">PVDF</a></li>
                                    </ul>
                                </div>
                                <p class="other-go"><a href="$!{address.yuanliao}/qttzsl/gy/">其他特种塑料</a></p>
                            </div>
                        </li>
                        <li class="type-list-li">
                            <a href="$!{address.yuanliao}/alpla/gy/" class="type-name">塑料合金<i class="moreimg"></i></a>
                            <div class="list-more">
                                <div class="zhezhao"></div>
                                <h3 class="list-more-type">塑料合金</h3>
                                <div class="small-type">
                                    <ul class="small-type-ul clearfix small-type-ul2">
                                        <li><a href="$!{address.yuanliao}/pa-abs/gy/">PA/ABS</a></li>
                                        <li><a href="$!{address.yuanliao}/pbt-abs/gy/">PBT/ABS</a></li>
                                        <li><a href="$!{address.yuanliao}/pbt-asa/gy/">PBT/ASA</a></li>
                                        <li><a href="$!{address.yuanliao}/pc-abs/gy/">PC/ABS</a></li>
                                        <li><a href="$!{address.yuanliao}/pc-pbt/gy/">PC/PBT</a></li>
                                        <li><a href="$!{address.yuanliao}/pc-pet/gy/">PC/PET</a></li>
                                        <li><a href="$!{address.yuanliao}/pc-ps/gy/">PC/PS</a></li>
                                        <li><a href="$!{address.yuanliao}/pa-ptfe/gy/">PA/PTFE</a></li>
                                    </ul>
                                </div>
                                <p class="other-go"><a href="$!{address.yuanliao}/qtslhj/gy/">其他塑料合金</a></p>
                            </div>
                        </li>
                    </ul>
                </div>
			<script >
					$(".dao-title").bind("hover",function(){
        			$(".cp-type").addClass("cp-type2");
    				})
                    $(".cp-type").bind("mouseleave",function(){
                        $(".cp-type").removeClass("cp-type2")
                    })
                   $(".type-list-li").bind("mouseover",function(){
                        $(this).addClass("type-list-li2") 
                    })
                    $(".type-list-li").bind("mouseleave",function(){
                        $(this).removeClass("type-list-li2") 
                    })
             </script>