@charset "utf-8";
*{margin:0;padding:0;font-family: "宋体", Arial, "新宋体";font-size:15px;list-style:none;} 
.clear{clear:both;height:0;visibility:hidden;}
a{text-decoration:none;cursor:pointer;}
a:hover{color:red;text-decoration:underline;}
a img{border:0;vertical-align:middle;}
#Container{
    width:1000px;
    margin:0 auto;
	background:#F8F8FF;
}
#Upside{
    width:1000px;
}
#Upside-Left{
    height:350px;
    width:300px;
    margin:5px;
    float:left;
}
#Upside-Main{
    height:350px;
    width:680px;
    margin:5px;
    float:left;
}
#um{
	height:50px;
    width:680px;
	float:left;
}
#um1{
	height:25px;
    width:680px;
	float:left;
}
#um2{
	height:25px;
	width:220px;
	float:left;
}
#um3{
	height:25px;
	width:120px;
	float:left;
	text-align:center;
}
#main{
	height:300px;
	width:52px;
	float:left;
	margin:50px 5px 5px 5px;
	text-align:center;
}
.left{
	height:30px;
    width:300px; 
}
.left li{float:left;}
#left1{
	border:1px solid #0033CC;
	width:300px;
	height:320px;
}
.left2{
	height:20px;
    width:300px; 
	text-align:center;
	margin:2px;
	position:relative;
}
.left2 input{height:20px;color:#ccc}

.left3{
	position:absolute;
	width:10px;
	height:20px;
	top:2px;
	right:70px;
}
.left3 img{width:20px;height:20px}
.left4{
    border:1px solid #000;
	width:280px;
	height:240px;
	margin:4px 0px 0px 10px;
}
#left5{
    margin:8px;
	text-align:center;
}
#left5 input{width:60px}
#Downside{
    height:125px;
    width:990px;
    margin:5px;
    float:left;
}
#down{
    width:990px;
    margin:5px;
    float:left;
}
#Footer{
	text-align:center;
	text-color:#000
	float:left
	background:#F8F8FF;
}
.Clear{
    clear:both;
}
.key{ margin-left:10px;}