#set( $layout = "/layout/myrcLayout.vm" )
#leftMenu("100102","00","20")
<div class="myrcNormalFrame">
	<div class="myrcPostSuc">
        <p class="myrcPostSucTip">
			您的信息已成功提交! 
			<span class="myrcPostSucOther"><a href="#springUrl('/myproducts/office_post1.htm')" target="_parent"/>继续发布信息</a>
    		<a href="#springUrl('/myproducts/office_post_list.htm?checkStatus=0&isExpired=0&isPause=0')" target="_parent">查看已发布信息</a></span>
		</p>
		<p><a href="$!{address.server}" target="_blank" color="#FF6600" title="返回ZZ91再生网首页">$!{address.name}</a> 将在<b>24小时</b>内进行审核，届时请上网查看。如果审核不通过，我们将邮件通知您。</p>
		#if($!{imgCount}==0)
			<p style="text-align:left;padding-left:24px;">
				<b>提示 : </b>你尚未上传图片,请为您的产品添加图片,以获得更多的商机!
				<a href="#springUrl('/myproducts/office_img.htm?productsId=')$!{productsDO.id}"  target="_parent">上传图片</a>
            </p>
		#end
		<p style="text-align:left; padding-left:62px;">发布您的此类产品价格信息,让更多的客户及时了解您企业的产品和价格,提高<b>企业知名度</b>和<b>市场开拓力度</b>
			<a href="#springUrl('/mycompanyprice/saveCompanyPrice.htm?productId=')$!{productsDO.id}" target="_parent">添加或修改该产品报价  </a>
        </p>
    </div>
</div>
	