#set( $layout = "/layout/myrcLayout.vm" )
<div class="editFloatFrame">
	<div class="tishiError">
		<p>作为本网站的注册会员，您每天只能发布 <span class="STYLE1">3</span> 条供求信息<br>
				<a href="/cn/reg_vip1.asp?p=2" target="_blank"><b>升级成为再生通会员</b></a>，即可无限制的发布供求信息。
		</p>
		<p>
		<a href="http://www.zz91.com/cn/zst_service_new.asp" target="_blank">
			<img src="$!{address.images}/myrc/intoservece.gif" width="177" height="33" >
		</a>
        </p>
	</div>
</div>