body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../大类别-废塑料_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:9px;
    top:9px;
    width:961px;
    height:37px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:37px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../大类别-废塑料_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:288px;
    top:82px;
    width:683px;
    height:35px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:683px;
    height:35px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:679px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../大类别-废塑料_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:52px;
    width:156px;
    height:66px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:156px;
    height:66px;
}

.u5 {
    position:absolute;
    left:2px;
    top:25px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../大类别-废塑料_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:11px;
    top:126px;
    width:405px;
    height:31px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:411px;
    height:37px;
}

.u7 {
    position:absolute;
    left:2px;
    top:8px;
    width:401px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../大类别-废塑料_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:420px;
    top:126px;
    width:92px;
    height:31px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:37px;
}

.u9 {
    position:absolute;
    left:2px;
    top:8px;
    width:88px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:338px;
    top:130px;
    width:75px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11_normal {
    background-image: url('../大类别-废塑料_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:717px;
    top:174px;
    width:250px;
    height:94px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:100px;
}

.u12 {
    position:absolute;
    left:2px;
    top:39px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../大类别-废塑料_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:718px;
    top:277px;
    width:250px;
    height:264px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:270px;
}

.u14 {
    position:absolute;
    left:2px;
    top:124px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../大类别-废塑料_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:10px;
    top:194px;
    width:688px;
    height:287px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:694px;
    height:293px;
}

.u16 {
    position:absolute;
    left:2px;
    top:136px;
    width:684px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:739px;
    top:184px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:757px;
    top:226px;
    width:154px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:731px;
    top:286px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:898px;
    top:286px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_line {
    background-image: url('../大类别-废塑料_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:0px;
    top:4px;
    width:959px;
    height:3px;
}

.u21 {
    position:absolute;
    left:10px;
    top:1199px;
    width:959px;
    height:10px;
    
}

.u22 {
    position:absolute;
    left:38px;
    top:285px;
    width:641px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:38px;
    top:204px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:38px;
    top:354px;
    width:641px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:38px;
    top:450px;
    width:641px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../大类别-废塑料_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:10px;
    top:491px;
    width:688px;
    height:259px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:694px;
    height:265px;
}

.u27 {
    position:absolute;
    left:2px;
    top:122px;
    width:684px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:38px;
    top:704px;
    width:641px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:38px;
    top:500px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../大类别-废塑料_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:10px;
    top:760px;
    width:688px;
    height:412px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:694px;
    height:418px;
}

.u31 {
    position:absolute;
    left:2px;
    top:198px;
    width:684px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:38px;
    top:854px;
    width:641px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:38px;
    top:944px;
    width:641px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:38px;
    top:1024px;
    width:641px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:38px;
    top:770px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_menu {
    background-image: url('../大类别-废塑料_files/u36_menu.png');
}

.u36_menu {
    position:absolute;
    left:8px;
    top:161px;
    width:315px;
    height:35px;
}

#u36_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:32px;
}

#u37 {
    position:absolute;
    left:3px;
    top:3px;
    width:305px;
    height:25px
}

.u38_mouseOver {
    background-image: url('../大类别-废塑料_files/u38_mouseOver.png');
}

.u38_normal {
    background-image: url('../大类别-废塑料_files/u38_mouseOver.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_mouseOver {
    background-image: url('../大类别-废塑料_files/u38_mouseOver.png');
}

.u40_normal {
    background-image: url('../大类别-废塑料_files/u38_mouseOver.png');
}

.u40_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_mouseOver {
    background-image: url('../大类别-废塑料_files/u38_mouseOver.png');
}

.u42_normal {
    background-image: url('../大类别-废塑料_files/u38_mouseOver.png');
}

.u42_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:522px;
    top:134px;
    width:249px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_line {
    background-image: url('../大类别-废塑料_files/u45_line.png');
}

.u45_line {
    position:absolute;
    left:0px;
    top:4px;
    width:688px;
    height:3px;
}

.u45 {
    position:absolute;
    left:10px;
    top:235px;
    width:688px;
    height:10px;
    
}

.u46_line {
    background-image: url('../大类别-废塑料_files/u46_line.png');
}

.u46_line {
    position:absolute;
    left:0px;
    top:4px;
    width:688px;
    height:3px;
}

.u46 {
    position:absolute;
    left:9px;
    top:521px;
    width:688px;
    height:10px;
    
}

.u47_line {
    background-image: url('../大类别-废塑料_files/u47_line.png');
}

.u47_line {
    position:absolute;
    left:0px;
    top:4px;
    width:688px;
    height:3px;
}

.u47 {
    position:absolute;
    left:11px;
    top:791px;
    width:688px;
    height:10px;
    
}

.u48 {
    position:absolute;
    left:38px;
    top:822px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:38px;
    top:912px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:38px;
    top:996px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:38px;
    top:1101px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:38px;
    top:1132px;
    width:641px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:38px;
    top:255px;
    width:113px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:38px;
    top:323px;
    width:113px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:38px;
    top:414px;
    width:113px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:38px;
    top:541px;
    width:80px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:38px;
    top:612px;
    width:80px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:38px;
    top:676px;
    width:113px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:38px;
    top:569px;
    width:641px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:38px;
    top:640px;
    width:641px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

