<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8" />
        <title>废塑料|废金属|废纸|废橡胶|公司库黄页|企业黄页大全_ZZ91再生网</title>
        <meta name="keywords" content="废塑料,废金属,废纸,废橡胶,企业黄页,公司黄页,企业名录,废料公司大全,废金属公司黄页,废塑料公司黄页,废纸公司黄页,废橡胶公司黄页" />
        <meta name="description" content="ZZ91再生网云集废金属、废塑料、废纸、废橡胶等废料企业公司黄页大全，并提供详细公司介绍、联系人资料。您可以免费查找废金属公司黄页、废塑料公司黄页、废纸公司黄页、废橡胶公司黄页，获得客户第一手资料。还可以免费加入公司库，获得线上线下全面推广！" />
        <link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
        <!--[if lt IE 9]>
        <script src="http://img0.zz91.com/lib/asto/html5forIE.js"></script>
        <![endif]-->
        <!--import common css-->
        <link rel="stylesheet" href="http://img0.zz91.com/zz91/css/zz91.common.css" />
        <!--import common js-->
        <script src="http://img0.zz91.com/lib/jquery/jquery-1.6.2.min.js"></script>
        <script src="http://img0.zz91.com/lib/asto/asto-all-1.0.0.js"></script>
        <!-- outdate import -->
        <link rel="stylesheet" href="css/company.css" />
        <script>
            jQuery(document).ready(function(){
            Asto.MINI_LOGIN_URL="http://china.zz91.com/miniLogin.htm')";
            Asto.DEST_URL="http://trade.zz91.com/submitCallback.htm";
            Asto.util.EventMonitor();
            });
            function timestamp(){
            var timestamp = Date.parse(new Date());
            return timestamp;
            }
            //old code
            var Context=new function(){
            this.ROOT="";
            }
            $(document).ready(function(){
            var ta = $('li.tradAssi');
            ta.mousemove(function(){
            $(this).find('ul').slideDown("fast");
            $(this).find('a').first().addClass('ishover');
            $(this).find('a').first().removeClass('nohover');
            });
            ta.mouseleave(function(){
            $(this).find('ul').slideUp("fast");
            $(this).find('a').first().removeClass('ishover');
            $(this).find('a').first().addClass('nohover');
            });
            });
            // js for company
            function selectOption(menuname, value) {
            var menu = document.getElementById(menuname);
            if(menu!=null){
            for (var i = 0; i < menu.options.length; i++) {
                if (menu.options[i].value == value) {
                menu.options[i].selected = true;
                break;
                }
                }
                }
                }
                function changeservice(obj, n) {
                var objOther, objC1, doc;
                for (i = 1; i <= 4; i++) {
                    objOther = doc.getElementById("serviceBar" + i);
                    objC1 = doc.getElementById("serviceContent" + i);
                    if (i == n) {
                    objC1.style.display = "block";
                    objOther.className = "on"+i;
                    }
                    else {
                    objC1.style.display = "none";
                    objOther.className = "off";
                    }
                    }
                    }
                    function startSearch(flag) {
                    var doc = document,
                    searchName = doc.getElementById("searchname").value,
                    searchAddr = doc.getElementById("searchAddr").value,
                    isVIP = doc.getElementById("hidVip").value,
                    id1 = doc.getElementById("id1").value,
                    prv = doc.getElementById("province"),
                    city = doc.getElementById("city"),
                    gd = doc.getElementById("garden"),
                    p = prv.options[prv.selectedIndex].value,
                    c = city.options[city.selectedIndex].value,
                    g = "", s = "";
                    if (gd != null) {
                    g = gd.options[gd.selectedIndex].value;
                    }
                    if (id1.length != 0) {
                    s += "" + id1;
                    }
                    if (flag == "furtherSearch") {
                    if (p.length != 0) {
                    s += "_pr" + p;
                    }
                    if (c.length != 0) {
                    s += "_c" + c;
                    }
                    if (g.length != 0) {
                    s += "_g" + g;
                    }
                    }
                    if (searchName == "请输入公司名称" || searchName.length == 0) {
                    searchName = "null";
                    }
                    if (searchAddr == "请输入公司地址" || searchAddr.length == 0) {
                    searchAddr = "null";
                    }
                    if (searchName.length != 0) {
                    s += "_" + searchrepalceTO(escape(relacedou(searchName)));
                    }
                    if (searchAddr.length != 0) {
                    s += "_addr_" + searchrepalceTO(escape(relacedou(searchAddr)));
                    }
                    if (isVIP.length != 0) {
                    s += "_vip1";
                    }
                    else {
                    s += "_vip0";
                    }
                    location.href = 'company_List' + s + '.html';
                    }
                    function relacedou(stringdou) {
                    var strdou;
                    strdou = stringdou.toLowerCase();
                    strdou = strdou.replace(/'/g, "''");
                    strdou = strdou.replace(/\"/g, "”");
                    return strdou;
                    }
                    function searchrepalceTO(searname) {
                    var s;
                    s = searname.replace(/%/g, "asto");
                    s = s.replace(/\\/g, "xie");
                    s = s.replace(/\//g, "fang")
                    s = s.replace(/\+/g, "xiao")
                    s = s.replace(/\-/g, "ming")
                    return s;
                    }
                    function zz91SearchSlide(searchFrame,typeValue,searchInputFill){
                    var searchInput    =$(searchFrame+" "+"input[id="+searchInputFill+"]");
                    var typeValueInput =$(searchFrame+" "+"input[id="+typeValue+"]");
                    var searchLabel    =$(searchFrame+" "+"label[id=search_label]");
                    var searchTab      = $(searchFrame+" "+"ul[id=search_tab]");
                    //alert(typeValueInput.val());
                    searchTab.find("li").click(function(e) {
                    searchTab.find("li").removeClass("searchSelected");
                    $(this).addClass("searchSelected");
                    searchInput.focus();
                    var getLiIndex=$(this).index()
                    typeValueInput.attr({value:function(){
                    return getLiIndex+1;
                    }
                    });
                    })
                    if (searchInput.val() != ""){
                    searchLabel.fadeOut(50);
                    }
                    searchInput.focus(function(){
                    searchLabel.css({
                    "color": "#DDDDDD"
                    });
                    searchInput.keydown(function(){
                    var t = setTimeout(function(){
                    if (searchInput.val() != "") {
                    searchLabel.fadeOut(1);
                    }
                    else {
                    searchLabel.fadeIn();
                    }
                    }, 100);
                    });
                    });
                    searchInput.blur(function(){
                    //clearTimeout(t);
                    if ($(this).val() == "") {
                    searchLabel.fadeIn(500).css({"color":"#999999"});
                    }
                    });
                    };
                    var zz91Search=new function(){
                    var search=this;
                    this.products=function(config){
                    config=config||{};	
                    var contextpath=config.contextpath||"";
                    var target=config.target||"_blank";	
                    var searchOpt=config.searchOptions||[];
                    var debug=config.debug||false;
                    var ptype=searchOpt["ptype"]||"";  
                    var province=searchOpt["province"]||""; 
                    var posttime=searchOpt["posttime"]||"";
                    var priceflag=searchOpt["priceflag"]||""; 
                    var nopiclist=searchOpt["nopiclist"]||""; 
                    var havepic=searchOpt["havepic"]||"";
                    var page=searchOpt["page"]||"";
                    var keywords=searchOpt["keywords"]||"";  //关键字
                    if(keywords.length<=0){
                        return false;
                        }
                        keywords=keywords.replace(/\//gm,"astoxg");
                        keywords=keywords.replace(/\\/gm,"asto5c");
                        keywords=keywords.replace(/-/gm,"astohg");
                        keywords=keywords.replace(/\(/gm,"astokhl");
                        keywords=keywords.replace(/\)/gm,"astokhr");
                        //		window.open("http://www.zz91.com/offer/?ptype="+ptype+"&keywords="+encodeURI(keywords));
                        var targetUrl="/offerlist";
                        targetUrl=search.buildProductSearchUrl(targetUrl,"--a",ptype);
                        if(province.length>0||posttime.length>0||priceflag.length>0||nopiclist.length>0||havepic.length>0){
                        targetUrl=search.buildProductSearchUrl(targetUrl,"--b",province);
                        targetUrl=search.buildProductSearchUrl(targetUrl,"--c",posttime);
                        targetUrl=search.buildProductSearchUrl(targetUrl,"--d",priceflag);
                        targetUrl=search.buildProductSearchUrl(targetUrl,"--e",nopiclist);
                        targetUrl=search.buildProductSearchUrl(targetUrl,"--f",havepic);
                        }
                        targetUrl=search.buildProductSearchUrl(targetUrl,"--p",page);
                        targetUrl=search.buildProductSearchUrl(targetUrl,"--",encodeURIComponent(keywords));
                        targetUrl=targetUrl+".htm";
                        if(debug){
                        alert("the target url is: "+targetUrl);
                        }else{
                        if(target=="_self"){
                        location.href=contextpath+targetUrl;
                        }else{
                        window.open(contextpath+targetUrl);
                        }
                        }
                        };
                        this.price=function(config){
                        config=config||{};
                        var contextpath=config.contextpath||"";
                        var target=config.target||"_blank";
                        var searchOpt=config.searchOptions||[];
                        var k=searchOpt["keywords"]||"";
                        if(k.length<=0){
                            return false;
                            }
                            var targetUrl="/priceSearch.htm?title="+encodeURI(k);
                            if(target=="_self"){
                            location.href=contextpath+targetUrl;
                            }else{
                            window.open(contextpath+targetUrl);
                            }
                            };
                            this.company=function(config){
                            };
                            this.companyPrice=function(config){
                            config=config||{};
                            var contextpath=config.contextpath||"";
                            var target=config.target||"_blank";
                            var searchOpt=config.searchOptions||[];
                            var k=searchOpt["keywords"]||"";  //关键字
                            var pc=searchOpt["categoryCompanyPriceCode"]||"";  //企业报价类别
                            var area=searchOpt["area"]||"";  //地区
                            var interval=searchOpt["interval"]||"";  //产品刷新时间期限  距离现在，单位：天
                            var priceRange=searchOpt["priceRange"]||"";  //报价区间
                            var targetUrl="/companyprice/index--"+encodeURIComponent(k);
                            targetUrl=search.buildProductSearchUrl(targetUrl,"--pc",pc);
                            targetUrl=search.buildProductSearchUrl(targetUrl,"--area",area);
                            targetUrl=search.buildProductSearchUrl(targetUrl,"--int",interval);
                            targetUrl=search.buildProductSearchUrl(targetUrl,"--pr",priceRange);
                            targetUrl=targetUrl+".htm";
                            if(target=="_self"){
                            location.href=contextpath+targetUrl;
                            }else{
                            window.open(contextpath+targetUrl);
                            }
                            };
                            this.buildProductSearchUrl=function(targetUrl,prefix,v){
                            if(v.length>0){
                            return targetUrl+prefix+v;
                            }else{
                            return targetUrl+prefix;
                            }
                            };
                            //initialization  search  effects
                            this.initSearchSlide=function(slideObj,noSearchSelectClass,SearchSelectClass,getSearchType,searchFocus,searchLabel){
                            var operateObj = zz91Util.getElem(slideObj).getElementsByTagName("li");
                            getSearchType = zz91Util.getElem(getSearchType);
                            searchLabel=zz91Util.getElem(searchLabel);
                            searchFocus = zz91Util.getElem(searchFocus);
                            //获取当前节点索引
                            var getIndex = function(self, obj){
                            for(var i=0;i<obj.length;i++){
                                if(obj[i]== self){
                                return i;
                                }
                                }
                                }
                                for (var i = 0; i < operateObj.length; i++) {
                                    iNum = i
                                    operateObj[i].onmouseover = function(){
                                    //alert(i);
                                    //i = parseInt(i);
                                    for (var j = 0; j < operateObj.length; j++) {
                                        operateObj[j].className = noSearchSelectClass;
                                        }
                                        this.className = SearchSelectClass;
                                        //确定搜索类型，并且设置搜索焦点
                                        //alert(getSearchType.value+"_" +getIndex(this,operateObj));
                                        getSearchType.value = parseInt(getIndex(this,operateObj)+1);
                                        searchLabel.style.display="none";
                                        searchFocus.focus();	
                                        }
                                        operateObj[i].onmouseout=function(){
                                        if (searchFocus.value == "" || searchFocus.value == null) {
                                        setInterval(function(){
                                        searchFocus.blur();
                                        searchLabel.style.display = "";
                                        }, 1000)
                                        }
                                        }
                                        }
                                        searchLabel.onclick=function(){
                                        searchLabel.style.display="none";
                                        searchFocus.focus();
                                        }
                                        };
                                        };
</script>
<!--google analysis-->
<!--baidu analysis-->
<!--51yes analysis-->    </head>
<body>
    <div id="fl_ltop" style="right:0;top:400;position:absolute;display:none;">
        <a href="#" onClick="showAd();return false;">
            <img src="http://img0.zz91.com/front/images/root/replay.jpg" />
        </a>
    </div>
    <div id="topBar" class="clearfix">
        <div id="topBarInfo">
            <div id="topBarLogin">
                <iframe src="http://china.zz91.com/status.htm" frameborder="0" width="450" height="28" allowTransparency="true" scrolling="no"></iframe>
            </div>
            <link rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.nav.comm.css" />
            <script>
                function displaySubMenu11(li)
                {
                var subMenu = li.getElementsByTagName("div")[1];
                subMenu.style.display = "block";
                var subMenu1 = li.getElementsByTagName("div")[0];
                subMenu1.className="baibaoxiang_on";
                }
                function hideSubMenu11(li){
                var subMenu = li.getElementsByTagName("div")[1];
                subMenu.style.display = "none";
                var subMenu1 = li.getElementsByTagName("div")[0];
                subMenu1.className="baibaoxiang_off";
                }
            </script>
            <div id="topBarLinkNew">
                <ul>
                    <li id="baibaoxiang">
                        <ul>
                            <li class="droplist_off" onmouseover="displaySubMenu11(this)" onmouseout="hideSubMenu11(this)">
                                <div class="baibaoxiang_off" style="line-height:28px; background-position:55px; width:70px">
                                    <a href="http://myrc.zz91.com/" rel="nofollow">生意管家</a>
                                </div>
                                <div class="serverlist" style="display:none;">
                                    <div>
                                        <a href="http://myrc.zz91.com/myproducts/office_post_list.htm?checkStatus=1&isExpired=0&isPause=0" rel="nofollow">供求管理</a>
                                    </div>
                                    <div>
                                        <a href="http://myrc.zz91.com/mymessage/inbox.htm" rel="nofollow">留言管理</a>
                                    </div>
                                    <div>
                                        <a href="http://myrc.zz91.com/mycompany/companyList.htm" rel="nofollow">会员资料</a>
                                    </div>
                                    <div>
                                        <a href="http://myrc.zz91.com/mysubscribe/priceList.htm" rel="nofollow">在线行情</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li id="baibaoxiang">
                        <ul>
                            <li class="droplist_off" onmouseover="displaySubMenu11(this)" onmouseout="hideSubMenu11(this)">
                                <div class="baibaoxiang_off" style="line-height:28px; background-position:55px; width:70px">
                                    <a href="http://www.zz91.com/zst/" rel="nofollow">会员服务</a>
                                </div>
                                <div class="serverlist" style="display:none;">
                                    <div>
                                        <a href="http://www.zz91.com/zst/" rel="nofollow">再生通</a>
                                    </div>
                                    <div>
                                        <a href="http://www.zz91.com/service/ppt/index.asp" rel="nofollow">品牌通</a>
                                    </div>
                                    <div>
                                        <a href="http://www.zz91.com/specialsubject/hjzw/" rel="nofollow">黄金展位</a>
                                    </div>
                                    <div>
                                        <a href="http://www.zz91.com/service/baidu/yh.html" rel="nofollow">百度优化</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="topbarli">
                        <a href="http://subject.zz91.com/mobileweb/index/" rel="nofollow">手机网</a>
                    </li>
                    <li class="topbarli">
                        <a href="http://www.zz91.com/service/baidu/yh.html" rel="nofollow">现货商城</a>
                    </li>
                    <li id="baibaoxiang">
                        <ul>
                            <li class="droplist_off" onmouseover="displaySubMenu11(this)" onmouseout="hideSubMenu11(this)">
                                <div class="baibaoxiang_off" style="line-height:28px; background-position:55px; width:70px">
                                    <a href="http://about.zz91.com/contact.html" rel="nofollow">客服中心</a>
                                </div>
                                <div class="serverlist" style="display:none;">
                                    <div>
                                        <a href="http://about.zz91.com/contact.html" rel="nofollow">联系我们</a>
                                    </div>
                                    <div>
                                        <a href="http://help.zz91.com" rel="nofollow">新手上路</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="topbarli">
                        <a href="http://www.recyclechina.com" rel="nofollow" target="_blank">国际站</a>
                    </li>
                    <li id="baibaoxiang">
                        <ul>
                            <li class="droplist_off" onmouseover="displaySubMenu11(this)" onmouseout="hideSubMenu11(this)">
                                <div class="baibaoxiang_off" style="line-height:28px; background-position:55px; width:70px">网站导航</div>
                                <div id="nav_content2013" style="display:none;">
                                    <div>
                                        <dl class="nav_box">
                                            <dt class="nav_title">常用工具</dt>
                                            <dd>
                                                <a href="http://trade.zz91.com/postoffer_step1.htm" target="_blank">快速发布供求</a>
                                            </dd>
                                            <dd>
                                                <a href="http://myrc.zz91.com/mycompanyprice/createPrice.htm" target="_blank">发布报价</a>
                                            </dd>
                                            <dd>
                                                <a href="http://myrc.zz91.com/subscribe/subscribeIndex.htm" target="_blank">商机定制</a>
                                            </dd>
                                            <dd>
                                                <a href="http://huzhu.zz91.com/postReply.htm" target="_blank">发布帖子</a>
                                            </dd>
                                        </dl>
                                        <div style="clear:both"></div>
                                        <dl class="nav_box">
                                            <dt class="nav_title">
                                                <a href="http://trade.zz91.com" target="_blank">交易中心</a>
                                            </dt>
                                            <dd>
                                                <a href="http://trade.zz91.com/metal.htm" target="_blank">废金属</a>
                                            </dd>
                                            <dd>
                                                <a href="http://trade.zz91.com/plastic.htm" target="_blank">废塑料</a>
                                            </dd>
                                            <dd>
                                                <a href="http://trade.zz91.com/waste.htm" target="_blank">废电子电器</a>
                                            </dd>
                                            <dd>
                                                <a href="http://trade.zz91.com/offerlist--a--p--废橡胶.htm" target="_blank">废橡胶</a>
                                            </dd>
                                            <dd>
                                                <a href="http://trade.zz91.com/offerlist--a--p--废纸.htm" target="_blank">废纸</a>
                                            </dd>
                                            <dd>
                                                <a href="http://trade.zz91.com/offerlist--a--p--%E5%BA%9F%E7%BA%BA%E7%BB%87%E5%93%81.htm" target="_blank">废纺织品</a>
                                            </dd>
                                            <dd>
                                                <a href="http://trade.zz91.com/offerlist--a--p--%E5%BA%9F%E7%9A%AE%E9%9D%A9.htm" target="_blank">废皮革</a>
                                            </dd>
                                            <dd>
                                                <a href="http://trade.zz91.com/offerlist--a--p--%E4%BA%8C%E6%89%8B%E8%AE%BE%E5%A4%87.htm" target="_blank">二手设备</a>
                                            </dd>
                                            <dd>
                                                <a href="http://trade.zz91.com/offerlist--a--p--%E5%BA%9F%E7%8E%BB%E7%92%83.htm" target="_blank">废玻璃</a>
                                            </dd>
                                        </dl>
                                        <div style="clear:both"></div>
                                        <dl class="nav_box">
                                            <dt class="nav_title">
                                                <a href="http://price.zz91.com/" target="_blank">行情报价</a>
                                            </dt>
                                            <dd>
                                                <a href="http://price.zz91.com/channel/wasteMetal.htm" target="_blank">废金属频道</a>
                                            </dd>
                                            <dd>
                                                <a href="http://price.zz91.com/channel/wastePlastic.htm" target="_blank">废塑料频道</a>
                                            </dd>
                                            <dd>
                                                <a href="http://price.zz91.com/channel/otherWaste.htm" target="_blank">综合废料频道</a>
                                            </dd>
                                            <dd>
                                                <a href="http://price.zz91.com/companyprice/" target="_blank">企业报价</a>
                                            </dd>
                                        </dl>
                                        <div style="clear:both"></div>
                                        <dl class="nav_box">
                                            <dt class="nav_title">再生频道</dt>
                                            <dd>
                                                <a href="http://xianhuo.zz91.com/" target="_blank">现货商城</a>
                                            </dd>
                                            <dd>
                                                <a href="http://map.zz91.com/" target="_blank">再生地图</a>
                                            </dd>
                                            <dd>
                                                <a href="http://zhanhui.zz91.com/" target="_blank">再生展会</a>
                                            </dd>
                                            <dd>
                                                <a href="http://tech.zz91.com/index.htm" target="_blank">再生技术</a>
                                            </dd>
                                            <dd>
                                                <a href="http://www.zz91.com/photo/" target="_blank">产品相册</a>
                                            </dd>
                                            <dd>
                                                <a href="http://xiazai.zz91.com/" target="_blank">下载中心</a>
                                            </dd>
                                            <dd>
                                                <a href="http://mingxing.zz91.com/" target="_blank">明星企业</a>
                                            </dd>
                                        </dl>
                                        <div style="clear:both"></div>
                                        <dl class="nav_box" style="border-bottom:none;">
                                            <dt class="nav_title">
                                                <a href="http://huzhu.zz91.com/" target="_blank">再生互助</a>
                                            </dt>
                                            <dd>
                                                <a href="http://huzhu.zz91.com/bbsCategory1.htm" target="_blank">废料动态</a>
                                            </dd>
                                            <dd>
                                                <a href="http://huzhu.zz91.com/bbsCategory2.htm" target="_blank">行业知识</a>
                                            </dd>
                                            <dd>
                                                <a href="http://huzhu.zz91.com/bbsCategory3.htm" target="_blank">江湖风云</a>
                                            </dd>
                                            <dd>
                                                <a href="http://huzhu.zz91.com/bbsCategory4.htm" target="_blank">ZZ91动态</a>
                                            </dd>
                                        </dl>
                                        <div style="clear:both"></div>
                                    </div>
                                    <div style="clear:both"></div>
                                    <div class="nav_more">
                                        <a href="http://www.zz91.com/webmap/" target="_blank">更多内容</a>
                                        &gt; </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <link type="text/css" rel="stylesheet" href="http://img0.zz91.com/zz91/nav/css/nav.css" />
    <!--header start-->
    <div class="clear"></div>
    <script src="http://img0.zz91.com/front/js/search/zz91.search.js"></script>
    <div id="header">
        <script type="text/javascript" src="http://gg.zz91.com/show?p=478"></script>
        <div id="logo">
            <span class="logo">
                <a href="http://www.zz91.com" target="_blank">
                    <img src="http://img0.zz91.com/zz91/images/logo.png" alt="ZZ91再生网" width="115" height="45" />
                </a>
                <a href="http://company.zz91.com" target="_blank">
                    <img src="http://img0.zz91.com/zz91/company/images/logo.png" alt="公司黄页" />
                </a>
            </span>
        </div>
        <div id="zz91-searchWeb">
            <form id="searchForm" action="#" method="post" onsubmit="return zz91newsearch(this);">
                <fieldset>
                    <legend style="display:none">ZZ91搜索</legend>
                    <div class="searchList">
                        <ul id="search_tab">
                            <li class="searchSelected">
                                <a href="javascript:void(0)">供应</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">求购</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">报价</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">公司</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">图片</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">现货</a>
                            </li>
                        </ul>
                    </div>
                    <!--
                    <div class="searchNotice">
                    <div id="marquee">
                    <marquee behavior="scroll" direction="left" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="3" height="24" width="293">
                    <span class="searchNoticeList">
                    14:49:36（塑钢锯末）收到（吕道富）的询盘商机
                    </span>
                    <span class="searchNoticeList">
                    14:40:36（个体经营（赵景芳））收到（张立军）的询盘商机
                    </span>
                    <span class="searchNoticeList">
                    14:40:21（基达信）收到（刘先生）的询盘商机
                    </span>
                    <span class="searchNoticeList">
                    14:36:02（个体经营（刘先生））收到（小吴）的询盘商机
                    </span>
                    <span class="searchNoticeList">
                    14:27:56（个体经营（张冬生））收到（余少辉）的询盘商机
                    </span>
                    <span class="searchNoticeList">
                    14:25:03（山东银河二手油脂设备购销公司）收到（陈）的询盘商机
                    </span>
                    <span class="searchNoticeList">
                    14:20:32（个体经营(陈志明)）收到（薛圣朋）的询盘商机
                    </span>
                    <span class="searchNoticeList">
                    14:15:00（华毅再生资源回收公司）收到（李重庆）的询盘商机
                    </span>
                    <span class="searchNoticeList">
                    14:06:36（东莞大岭山劲宇塑料）收到（谢先生）的询盘商机
                    </span>
                    <span class="searchNoticeList">
                    14:05:13（Deucin International Trade）收到（赵辉华）的询盘商机
                    </span>
                    <span class="searchNoticeList">
                    14:04:37（个体经营（许））收到（黄先生）的询盘商机
                    </span>
                    <span class="searchNoticeList">
                    13:58:58（霍沛伟）收到（张生）的询盘商机
                    </span>
                    <span class="searchNoticeList">
                    13:17:06（个体经营（袁振芳））收到（邹建国）的询盘商机
                    </span>
                    <span class="searchNoticeList">
                    13:13:43（个体经营(姜先生)）收到（刘）的询盘商机
                    </span>
                    <span class="searchNoticeList">
                    13:10:08（个体经营（孟子健））收到（祝先生）的询盘商机
                    </span>
                    <span class="searchNoticeList">
                    12:55:49（鑫浩塑胶有限公司）收到（李先生）的询盘商机
                    </span>
                    <span class="searchNoticeList">
                    12:52:15（兴盛）收到（钱李宏）的询盘商机
                    </span>
                    <span class="searchNoticeList">
                    12:48:55（强盛再生资源有限公司）收到（姚志斌）的询盘商机
                    </span>
                    <span class="searchNoticeList">
                    12:43:38（个体经营（李庆敏））收到（王文洋）的询盘商机
                    </span>
                    <span class="searchNoticeList">
                    12:42:16（宁波市鄞州玉敏废品回收站）收到（某某）的询盘商机
                    </span>
                    </marquee>
                    </div>
                    </div>
                    -->
                    <div class="searchArea">
                        <label id="search_label" for="search" class="search_label">输入你感兴趣的产品</label>
                        <input name="search" id="search" type="text" value="" class="ZZ91Search" />
                        <input type="submit" value="" class="ZZ91SearchSub" name="TopSeaSubmit"  id="TopSeaSubmit" onmouseover="this.className='ZZ91SearchSubOver'"  onmouseout="this.className='ZZ91SearchSub'"/>
                        <input type="hidden" value="1" name="TopSeaType"  id="TopSeaType" />
                    </div>
                </fieldset>
            </form>
        </div>
        <div style="clear:both"></div>
        <div id="nav2013">
            <ul>
                <li>
                    <a href="http://www.zz91.com" >首页</a>
                </li>
                <li>
                    <a href="http://trade.zz91.com" >交易中心</a>
                </li>
                <li>
                    <a href="http://price.zz91.com" >行情报价</a>
                </li>
                <li class="xianhuo">
                    <a href="http://xianhuo.zz91.com" target="_blank" >现货商城</a>
                    <img src="http://img0.zz91.com/zz91/nav/image/new_img.png" class="img"/>
                </li>
                <li>
                    <a href="http://company.zz91.com"  class="on"  target="_blank" >公司黄页</a>
                </li>
                <li>
                    <a href="http://huzhu.zz91.com" target="_blank" >互助社区</a>
                </li>
                <li>
                    <a href="http://map.zz91.com"  target="_blank" >再生地图</a>
                </li>
                <li class="icon_up"></li>
                <li>
                    <a href="http://www.zz91.com/specialsubject/hjzw/" target="_blank">
                        <font style="color:#FFF">效果提升热线：</font>
                        <span style="color:#FF0; font-size:16px">0571-56611111</span>
                    </a>
                </li>
            </ul>
            <div class="nav_down" >
                <dl id="snav0" style="display:block">
                    <dd>
                        <a href="http://jinshu.zz91.com/" target="_blank">废金属网</a>
                    </dd>
                    <dd>
                        <a href="http://suliao.zz91.com/index.htm" target="_blank">再生塑料网</a>
                    </dd>
                    <dd>
                        <a href="http://shebei.zz91.com/" target="_blank">二手设备网</a>
                    </dd>
                    <dd>
                        <a href="http://feitong.zz91.com/" target="_blank">废铜网</a>
                    </dd>
                    <dd>
                        <a href="http://guijinshu.zz91.com/" target="_blank">贵金属频道</a>
                    </dd>
                    <dd>
                        <a href="http://aqsiq.zz91.com/" target="_blank">AQSIQ/环保证</a>
                    </dd>
                    <dd class="icon"></dd>
                    <dd>
                        <a href="http://xiazai.zz91.com/" target="_blank">下载中心</a>
                    </dd>
                    <dd>
                        <a href="http://mingxing.zz91.com" target="_blank">明星企业</a>
                    </dd>
                    <dd>
                        <a href="http://zhanhui.zz91.com" target="_blank">再生展会</a>
                    </dd>
                    <dd>
                        <a href="http://tech.zz91.com" target="_blank">再生技术</a>
                    </dd>
                    <dd>
                        <a href="http://www.zz91.com/photo/" target="_blank">产品相册</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <!--head end-->
    <script type="text/javascript">
        $(document).ready(function(){
        new zz91SearchSlide("#zz91-searchWeb","TopSeaType","search");
        $('li.treasureBox').mousemove(function() {
        $(this).find('ul').slideDown("fast"); //you can give it a speed
        $(this).find('a').first().addClass('ishover');
        $(this).find('a').first().removeClass('nohover');
        });
        $('li.treasureBox').mouseleave(function() {
        $(this).find('ul').slideUp("fast");
        $(this).find('a').first().removeClass('ishover');
        $(this).find('a').first().addClass('nohover');
        });
        })
    </script>
    <link rel="stylesheet" style="text/css" href="http://img0.zz91.com/lib/jquery-ui/1.8.16/south-street/jquery-ui-1.8.16.custom.css" />
    <script type="text/javascript" src="http://img0.zz91.com/lib/jquery-ui/1.8.16/jquery-ui-1.8.16.custom.min.js"></script>
    <div class="wrapper mt clearfix">
        <div class="zz91leader">当前位置：
            <a href="http://www.zz91.com">ZZ91再生网</a>
            &gt;<a href="/" >公司黄页</a>
            &gt;
            企业黄页
        </div>
        <div class="wrapper filter_wrap mt clearfix">
            <form id="searchCmpForm" onsubmit="return false;" >
                <dl class="clearfix">
                    <dt>主营业务：</dt>
                    <dd id="js_type">
                        <a  class="on" href="/index-b-c-p.htm">所有业务</a>
                        <a  href="/index-b10001003-c-p.htm">废旧轮胎与废橡胶</a>
                        <a  href="/index-b10001004-c-p.htm">废纺织品与废皮革</a>
                        <a  href="/index-b10001005-c-p.htm">废电子电器</a>
                        <a  href="/index-b10001006-c-p.htm">废玻璃</a>
                        <a  href="/index-b10001007-c-p.htm">废旧二手设备</a>
                        <a  href="/index-b10001008-c-p.htm">其他废料</a>
                        <a  href="/index-b10001009-c-p.htm">服务</a>
                        <a  href="/index-b10001000-c-p.htm">废塑料</a>
                        <a  href="/index-b10001001-c-p.htm">废金属</a>
                        <a  href="/index-b10001002-c-p.htm">废纸</a>
                    </dd>
                </dl>
                <dl class="clearfix">
                    <dt>省份：</dt>
                    <dd>
                        <a  class="js_province on"  href="/index-b-c-p.htm">所有地区</a>
                        <a href="/index-b-c100110001000-p.htm"  class="js_province"  name="100110001000">北京</a>
                        <a href="/index-b-c100110001001-p.htm"  class="js_province"  name="100110001001">天津</a>
                        <a href="/index-b-c100110001002-p.htm"  class="js_province"  name="100110001002">河北</a>
                        <a href="/index-b-c100110001003-p.htm"  class="js_province"  name="100110001003">山西</a>
                        <a href="/index-b-c100110001004-p.htm"  class="js_province"  name="100110001004">内蒙古</a>
                        <a href="/index-b-c100110001005-p.htm"  class="js_province"  name="100110001005">辽宁</a>
                        <a href="/index-b-c100110001006-p.htm"  class="js_province"  name="100110001006">吉林</a>
                        <a href="/index-b-c100110001007-p.htm"  class="js_province"  name="100110001007">黑龙江</a>
                        <a href="/index-b-c100110001008-p.htm"  class="js_province"  name="100110001008">上海</a>
                        <a href="/index-b-c100110001009-p.htm"  class="js_province"  name="100110001009">江苏</a>
                        <a href="/index-b-c100110001010-p.htm"  class="js_province"  name="100110001010">浙江</a>
                        <a href="/index-b-c100110001011-p.htm"  class="js_province"  name="100110001011">安徽</a>
                        <a href="/index-b-c100110001012-p.htm"  class="js_province"  name="100110001012">福建</a>
                        <a href="/index-b-c100110001013-p.htm"  class="js_province"  name="100110001013">江西</a>
                        <a href="/index-b-c100110001014-p.htm"  class="js_province"  name="100110001014">山东</a>
                        <a href="/index-b-c100110001015-p.htm"  class="js_province"  name="100110001015">河南</a>
                        <a href="/index-b-c100110001016-p.htm"  class="js_province"  name="100110001016">湖北</a>
                        <a href="/index-b-c100110001017-p.htm"  class="js_province"  name="100110001017">湖南</a>
                        <a href="/index-b-c100110001018-p.htm"  class="js_province"  name="100110001018">广东</a>
                        <a href="/index-b-c100110001019-p.htm"  class="js_province"  name="100110001019">广西</a>
                        <a href="/index-b-c100110001020-p.htm"  class="js_province"  name="100110001020">海南</a>
                        <a href="/index-b-c100110001021-p.htm"  class="js_province"  name="100110001021">重庆</a>
                        <a href="/index-b-c100110001022-p.htm"  class="js_province"  name="100110001022">四川</a>
                        <a href="/index-b-c100110001023-p.htm"  class="js_province"  name="100110001023">贵州</a>
                        <a href="/index-b-c100110001024-p.htm"  class="js_province"  name="100110001024">云南</a>
                        <a href="/index-b-c100110001025-p.htm"  class="js_province"  name="100110001025">西藏</a>
                        <a href="/index-b-c100110001026-p.htm"  class="js_province"  name="100110001026">陕西</a>
                        <a href="/index-b-c100110001027-p.htm"  class="js_province"  name="100110001027">甘肃</a>
                        <a href="/index-b-c100110001028-p.htm"  class="js_province"  name="100110001028">青海</a>
                        <a href="/index-b-c100110001029-p.htm"  class="js_province"  name="100110001029">宁夏</a>
                        <a href="/index-b-c100110001030-p.htm"  class="js_province"  name="100110001030">新疆</a>
                        <a href="/index-b-c100110001031-p.htm"  class="js_province"  name="100110001031">台湾</a>
                        <a href="/index-b-c100110001032-p.htm"  class="js_province"  name="100110001032">香港</a>
                        <a href="/index-b-c100110001033-p.htm"  class="js_province"  name="100110001033">澳门</a>
                    </dd>
                </dl>
                <div class="search_area">
                    <label for="searchName">公司搜索：</label>
                    <input type="text" id="searchName" name="searchName" value="请输入公司名称" size="25">
                        <input type="submit" id="accurateFind" value="精确筛选" class="btnMinGray" />
                        <input type="hidden" id="hidden-s3" name="hidden-s3" value=""/>
                        <input type="hidden" id="hiddenGardenCode" name="hiddenGardenCode" value=""/>
                    </div>
</form>
            </div>
            <script>
                jQuery(document).ready(function(){
                jQuery("#accurateFind").click(function(){
                jQuery("#searchCmpForm").submit();
                });
                jQuery("#searchName").click(function(){
                if(jQuery("#searchName").val()=="请输入公司名称"){
                jQuery("#searchName").val("");
                }
                });
                jQuery("#searchCmpForm").submit(function(){
                var keywords = jQuery("#searchName").val();
                var areaCode = jQuery("#s1").val();
                if (keywords == "请输入公司名称"){
                keywords = "";
                }
                if (jQuery("#s2").val()!=""){
                areaCode = jQuery("#s2").val();
                }
                if(typeof(areaCode) == "undefined"||areaCode==null){
                areaCode = "";
                }
                if(areaCode=="" && keywords==""){
                return false;
                }
                //搜索
                var url="/index";
                if("" !="" || areaCode!=""){
                url = url +"-b"+"-c";
                }
                if(keywords!=""){
                url =url+ "-p-"+encodeURI(keywords);
                }else{
                url = url+"-p";
                }
                url = url+".htm";
                window.location.href=url;
                return false;
                });
                var areaSelector = new Asto.util.Selector({
                url:"/category/areaChild.htm",
                selects:["#s1","#s2"]
                });
                areaSelector.init({
                rootCode:"10011000",
                initCode:""
                });  
                });
            </script>
            <div id="businesscenter" class="wrapper mt clearfix">
                <div class="left wrap cpy_list">
                    <div id="mid_box_title" class="wt">
                        <h3>公司库列表</h3>
                        <div class="cpy_select">
                            <span class="info">共有<span style="color:red;">899996</span>
                                家 关于<b></b>
                                的 公司黄页</span>
                        </div>
                    </div>
                    <!--公司列表 S-->
                    <div id="businesscenter_main" class="wc">
                        <div class="pageAreaTop">
                            <div class="pages" >
                                <a href='/index-p.htm' >首页</a>
                                <a href='/index-p0.htm' >上一页</a>
                                <a href="#" class='click'>1</a>
                                <a href='/index-p20.htm' >2</a>
                                <a href='/index-p40.htm' >3</a>
                                <a href='/index-p60.htm' >4</a>
                                <a href='/index-p80.htm' >5</a>
                                <a href='/index-p100.htm' >6</a>
                                <a href='/index-p20.htm' >下一页</a>
                                <a href='/index-p7500.htm' >末页</a>
                            </div>
                        </div>
                        <div class="listColTit clearfix">
                        </div>
                        <div class="listBox clearfix" onmouseover="this.style.backgroundColor='#FFFCF0'" onmouseout="this.style.backgroundColor='#fff'">
                            <div class="list_box_title">
                                <a href="#">浙江永成贵金属回收提炼厂</a>
                                <span class="list_box_zi1">第<span class="list_box_zi2">1</span>
                                    年指数<span class="list_box_zi2">30</span>
                                </span>
                            </div>
                            <div class="list_box_left">
                                <span class="list_box_zi3">
                                    类型：废金属<br />
                                    地区：河南 洛阳<br />
                                    联系人：黄先生/于先生<br />
                                    会员：钻石品牌通<br />
                                </span>
                                <span class="list_box_zi4">
                                    <a href="#">
                                        <img src="images/i1.jpg" />
                                    </a>
                                    <a href="#">
                                        <img src="images/i2.jpg"/>
                                    </a>
                                    <a href="#">
                                        <img src="images/i3.jpg" />
                                    </a>
                                </span>
                            </div>
                            <!--end list_box_left-->
                            <div class="list_box_line"></div>
                            <!--end list_box_line-->
                            <div class="list_box_right">
                                <span class="list_box_zi5">
                                    <span class="list_box_zi6">主营：</span>
                                    本公司长期供应各色高纯度高冲击颗粒，本公司拥有大量
                                    的自由再生资源，能保证中高端客户的产品品质和供应量。根据客
                                    户技术要求指定，欢迎各界朋友来
                                    电垂询！
                                </span>
                                <span class="list_box_zi7">供求：</span>
                                <a href="#">
                                    <span class="list_box_zi8">更多供求信息>></span>
                                </a>
                                <a href="#">
                                    <span class="list_box_zi9">求购破碎PP料</span>
                                </a>
                                <a href="#">
                                    <span class="list_box_zi10">供应PS再生颗粒</span>
                                </a>
                            </div>
                            <!--end list_box_right-->
                        </div>
                        <div class="pageAreaBtn">
                            <div class="pages" >
                                <a href='/index-p.htm' >首页</a>
                                <a href='/index-p0.htm' >上一页</a>
                                <a href="#" class='click'>1</a>
                                <a href='/index-p20.htm' >2</a>
                                <a href='/index-p40.htm' >3</a>
                                <a href='/index-p60.htm' >4</a>
                                <a href='/index-p80.htm' >5</a>
                                <a href='/index-p100.htm' >6</a>
                                <a href='/index-p20.htm' >下一页</a>
                                <a href='/index-p7500.htm' >末页</a>
                            </div>
                        </div>
                    </div>
                    <!--公司列表 E-->
                </div>
                <div class="right">
                    <!--box_1 S-->
                    <div class="wrap st1">
                        <ul class="tabs clearfix">
                            <li class="on1" id="serviceBar1" onMouseOver="changeservice(this,1)">
                                <span class="s1">
                                    <a href="http://china.zz91.com/register/register.htm" target="_blank" >会员注册</a>
                                </span>
                            </li>
                            <li class="off" id="serviceBar2" onMouseOver="changeservice(this,2)">
                                <span class="s2">
                                    <a href="http://trade.zz91.com" target="_blank">寻找商机</a>
                                </span>
                            </li>
                        </ul>
                        <div class="tabc" style="display: block;" id="serviceContent1">
                            <ul>
                                <li>已经有380000废料商人加入我们开始轻松上网做生意 <img src="http://img0.zz91.com/front/images/company/Icon_free01_12x.gif" width="23" height="12" />
                                </li>
                                <li>生意找上你的门</li>
                            </ul>
                        </div>
                        <div class="tabc" id="serviceContent2">
                            <ul>
                                <li>我们的交易中心平均每天更新<font color="#FF0000">
                                        <b>3500条最新商机</b>
                                </font>
                                </li>
                                <li>马上发现，把握赚钱机会 <img src="http://img0.zz91.com/front/images/company/Icon_free01_12x.gif" width="23" height="12" />
                                </li>
                            </ul>
                        </div>
                        <div class="tabc" id="serviceContent3">
                            <ul>
                                <li>
                                    <a href="http://myrc.zz91.com/myproducts/office_post1.htm" target="_blank">在中国最旺的网上废料贸易市场发布您的供求信息</a>
                                    <img src="http://img0.zz91.com/front/images/company/Icon_free01_12x.gif" width="23" height="12" />
                                </li>
                                <li>生意找上你的门</li>
                            </ul>
                        </div>
                        <div class="tabc last" id="serviceContent4">
                            <ul>
                                <li style="background:none">
                                    <br />
                                </li>
                                <li>独享<font color="#f00">
                                        <b>四大优势</b>
                                </font>
                                服务</li>
                                <li>赚钱机会<font color="#f00">
                                        <b>飙升6倍</b>
                                </font>
                                </li>
                            </ul>
                        </div>
                        <ul class="tabs clearfix">
                            <li class="off" id="serviceBar3" onMouseOver="changeservice(this,3)">
                                <span class="s3">
                                    <a href="http://myrc.zz91.com/myproducts/office_post1.htm" target="_blank">发布供求</a>
                                </span>
                            </li>
                            <li class="off" id="serviceBar4" onMouseOver="changeservice(this,4)">
                                <span class="s4" >
                                    <a href="http://www.zz91.com/service/zst/" target="_blank">加入再生通</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <!--金属集散中心 -->
                    <div class="wrap st2 mt">
                        <div class="wt">
                            <h3>金属集散中心</h3>
                        </div>
                        <div class="metal wc clearfix">
                            <ul>
                                <li>
                                    <a href="http://price.zz91.com/channel/wasteMetal.htm" target="_blank" title="ZZ91废金属频道">废金属</a>
                                </li>
                                <li>
                                    <a href="/company_list_g39_i10001001.htm" target="_blank" title="广东南海">广东南海</a>
                                </li>
                                <li>
                                    <a href="/company_list_g34_i10001001.htm" target="_blank" title="浙江永康">浙江永康</a>
                                </li>
                                <li>
                                    <a href="/company_list_g33_i10001001.htm" target="_blank" title="河南长葛">河南长葛</a>
                                </li>
                                <li>
                                    <a href="/company_list_g37_i10001001.htm" target="_blank" title="湖南汨罗">湖南汨罗</a>
                                </li>
                                <li>
                                    <a href="/company_list_g36_i10001001.htm" target="_blank" title="宁波镇海">宁波镇海</a>
                                </li>
                                <li>
                                    <a href="/company_list_g35_i10001001.htm" target="_blank" title="浙江台州">浙江台州</a>
                                </li>
                                <li>
                                    <a href="/company_list_g47_i10001001.htm" target="_blank" title="天津子牙">天津子牙</a>
                                </li>
                                <li>
                                    <a href="/company_list_g38_i10001001.htm" target="_blank" title="山东临沂">山东临沂</a>
                                </li>
                                <li>
                                    <a href="/company_list_g42_i10001001.htm" target="_blank" title="聊城金属城">聊城金属城</a>
                                </li>
                                <li>
                                    <a href="/company_list_g32_i10001001.htm" target="_blank" title="江苏太仓">江苏太仓</a>
                                </li>
                                <li>
                                    <a href="/company_list_g30_i10001001.htm" target="_blank" title="天津静海">天津静海</a>
                                </li>
                                <li>
                                    <a href="/company_list_g29_i10001001.htm" target="_blank" title="辽宁大石桥">辽宁大石桥</a>
                                </li>
                                <li>
                                    <a href="/company_list_g61_i10001001.htm" target="_blank" title="河北邢台">河北邢台</a>
                                </li>
                                <li>
                                    <a href="/company_list_g48_i10001001.htm" target="_blank" title="安徽界首">安徽界首</a>
                                </li>
                                <li>
                                    <a href="/company_list_g87_i10001001.htm" target="_blank" title="四川新津">四川新津</a>
                                </li>
                                <li>
                                    <a href="/company_list_g44_i10001001.htm" target="_blank" title="福建全通">福建全通</a>
                                </li>
                                <li>
                                    <a href="/company_list_g42_i10001001.htm" target="_blank" title="山东聊城">山东聊城</a>
                                </li>
                                <li>
                                    <a href="/company_list_g45_i10001001.htm" target="_blank" title="湖南郴州">湖南郴州</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--金属集散中心 S-->
                    <div class="wrap mt st2">
                        <div class="wt">
                            <h3 class="">塑料集散中心</h3>
                        </div>
                        <div class="wc plastic y clearfix">
                            <ul>
                                <li>
                                    <a href="http://price.zz91.com/channel/wastePlastic.htm" target="_blank" title="ZZ91废塑料频道">废塑料</a>
                                </li>
                                <li>
                                    <a href="/company_list_g39_i10001000.htm" target="_blank">广东南海</a>
                                </li>
                                <li>
                                    <a href="/company_list_g26_i10001000.htm" target="_blank">广东顺德</a>
                                </li>
                                <li>
                                    <a href="/company_list_g83_i10001000.htm" target="_blank">汕头贵屿</a>
                                </li>
                                <li>
                                    <a href="/company_list_g20_i10001000.htm" target="_blank">山东临沂</a>
                                </li>
                                <li>
                                    <a href="/company_list_g21_i10001000.htm" target="_blank">山东莱州</a>
                                </li>
                                <li>
                                    <a href="/company_list_g63_i10001000.htm" target="_blank">浙江温州</a>
                                </li>
                                <li>
                                    <a href="/company_list_g54_i10001000.htm" target="_blank">烟台龙口</a>
                                </li>
                                <li>
                                    <a href="/company_list_g15_i10001000.htm" target="_blank">浙江慈溪</a>
                                </li>
                                <li>
                                    <a href="/company_list_g53_i10001000.htm" target="_blank">余姚塑料城</a>
                                </li>
                                <li>
                                    <a href="/company_list_g13_i10001000.htm" target="_blank">浙江台州</a>
                                </li>
                                <li>
                                    <a href="/company_list_g14_i10001000.htm" target="_blank">金华东阳</a>
                                </li>
                                <li>
                                    <a href="/company_list_g16_i10001000.htm" target="_blank">江苏徐州</a>
                                </li>
                                <li>
                                    <a href="/company_list_g17_i10001000.htm" target="_blank">江苏兴化</a>
                                </li>
                                <li>
                                    <a href="/company_list_g18_i10001000.htm" target="_blank">江苏太仓</a>
                                </li>
                                <li>
                                    <a href="/company_list_g19_i10001000.htm" target="_blank">江苏宿迁</a>
                                </li>
                                <li>
                                    <a href="/company_list_g11_i10001000.htm" target="_blank">河北文安</a>
                                </li>
                                <li>
                                    <a href="/company_list_g6_i10001000.htm" target="_blank">河北定州</a>
                                </li>
                                <li>
                                    <a href="/company_list_g82_i10001000.htm" target="_blank">湖南汨罗</a>
                                </li>
                                <li>
                                    <a href="/company_list_g25_i10001000.htm" target="_blank">安徽五河县</a>
                                </li>
                                <li>
                                    <a href="/company_list_g22_i10001000.htm" target="_blank">河南安阳</a>
                                </li>
                                <li>
                                    <a href="/company_list_g23_i10001000.htm" target="_blank">河南长葛</a>
                                </li>
                                <li>
                                    <a href="/company_list_g24_i10001000.htm" target="_blank">河南漯河</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrap mt st2">
                        <div class="wt">
                            <h3>省物流、看货近,一键寻找最匹配商机</h3>
                        </div>
                        <div class="wc plastic y clearfix">
                            <ul class="inf_ul plastic_ul">
                                <li>
                                    <a href="http://map.zz91.com/guangdong.htm" target="_blank" title="广东废料网">广东废料网</a>
                                </li>
                                <li>
                                    <a href="http://map.zz91.com/zhejiang.htm" target="_blank" title="浙江废料网">浙江废料网</a>
                                </li>
                                <li>
                                    <a href="http://map.zz91.com/shandong.htm" target="_blank" title="山东废料网">山东废料网</a>
                                </li>
                                <li>
                                    <a href="http://map.zz91.com/jiangsu.htm" target="_blank" title="江苏废料网">江苏废料网</a>
                                </li>
                                <li>
                                    <a href="http://map.zz91.com/beijing.htm" target="_blank" title="北京废料网">北京废料网</a>
                                </li>
                                <li>
                                    <a href="http://map.zz91.com/shanghai.htm" target="_blank" title="上海废料网">上海废料网</a>
                                </li>
                                <li>
                                    <a href="http://map.zz91.com/tianjin.htm" target="_blank" title="天津废料网">天津废料网</a>
                                </li>
                                <li>
                                    <a href="http://map.zz91.com/hebei.htm" target="_blank" title="河北废料网">河北废料网</a>
                                </li>
                                <li>
                                    <a href="http://map.zz91.com/henan.htm" target="_blank" title="河南废料网">河南废料网</a>
                                </li>
                                <li>
                                    <a href="http://map.zz91.com/hunan.htm" target="_blank" title="湖南废料网">湖南废料网</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--登陆排行 S-->
                    <div class="wrap st2 mt">
                        <div class="wt">
                            <h3>登录排行</h3>
                        </div>
                        <div class="wc rank">
                            <ul class="listBlack">
                                <li>
                                    <a href="http://threewin.zz91.com" target="_blank" class="f-black" title="Three Win Metal Inc.">
                                        Three Win Metal Inc.
                                    </a>
                                </li>
                                <li>
                                    <a href="http://boer.zz91.com" target="_blank" class="f-black" title="淮安市博尔化工再生有限公司">
                                        淮安市博尔化工再生有限公司
                                    </a>
                                </li>
                                <li>
                                    <a href="http://dysljx.zz91.com" target="_blank" class="f-black" title="四川省资阳大运塑料机械厂">
                                        四川省资阳大运塑料机械厂
                                    </a>
                                </li>
                                <li>
                                    <a href="http://gzds.zz91.com" target="_blank" class="f-black" title="广州大顺金属环保再生资源有限公司">
                                        广州大顺金属环保再生资源有限公司
                                    </a>
                                </li>
                                <li>
                                    <a href="http://nhsl.zz91.com" target="_blank" class="f-black" title="南海塑料东莞破碎厂">
                                        南海塑料东莞破碎厂
                                    </a>
                                </li>
                            </ul>
                            <div class="btnWrap">
                                <a href="http://china.zz91.com/login.htm" target="_blank" class="btnMaxGray">快登陆,增加活跃度</a>
                            </div>
                        </div>
                    </div>
                    <!--Rbox3 b-->
                    <div class="wrap mt st2">
                        <div class="wt">
                            <h3>发布供求排行</h3>
                        </div>
                        <div class="wc rank y">
                            <ul class="listBlack">
                                <li>
                                    <a href="http://karson.zz91.com" target="_blank" class="f-black" title="Deucin International Trade">Deucin International Trade</a>
                                </li>
                                <li>
                                    <a href="http://jmoca.zz91.com" target="_blank" class="f-black" title="江门奥加亚贸易有限公司">江门奥加亚贸易有限公司</a>
                                </li>
                                <li>
                                    <a href="http://dysljx.zz91.com" target="_blank" class="f-black" title="四川省资阳大运塑料机械厂">四川省资阳大运塑料机械厂</a>
                                </li>
                                <li>
                                    <a href="http://changhui.zz91.com" target="_blank" class="f-black" title="广州昌辉塑料厂">广州昌辉塑料厂</a>
                                </li>
                                <li>
                                    <a href="http://gdlsing.zz91.com" target="_blank" class="f-black" title="富康锡业环保物资回收公司">富康锡业环保物资回收公司</a>
                                </li>
                            </ul>
                            <div class="btnWrap">
                                <a href="http://myrc.zz91.com/mycompanyprice/createPrice.htm" target="_blank" class="btnMaxGray">发布信息,让客户送上门</a>
                            </div>
                        </div>
                    </div>
                    <!--Rbox4 b-->
                    <div class="wrap st2 mt">
                        <div class="wt">
                            <h3>企业收益排行</h3>
                        </div>
                        <div class="wc rank">
                            <ul class="listBlack">
                                <li>
                                    <a href="http://karson.zz91.com" target="_blank" class="f-black" title="Deucin International Trade">Deucin International Trade</a>
                                </li>
                                <li>
                                    <a href="http://hchq.zz91.com" target="_blank" class="f-black" title="吴江宏昌化纤厂">吴江宏昌化纤厂</a>
                                </li>
                                <li>
                                    <a href="http://chenghai.zz91.com" target="_blank" class="f-black" title="奇美(香港)有限公司大陆办事处">奇美(香港)有限公司大陆办事处</a>
                                </li>
                                <li>
                                    <a href="http://gzds.zz91.com" target="_blank" class="f-black" title="广州大顺金属环保再生资源有限公司">广州大顺金属环保再生资源有限公司</a>
                                </li>
                                <li>
                                    <a href="http://xiaowu.zz91.com" target="_blank" class="f-black" title="小吴再生塑料公司">小吴再生塑料公司</a>
                                </li>
                            </ul>
                            <div class="btnWrap">
                                <a href="http://myrc.zz91.com/myproducts/office_post1.htm" class="btnMaxGray" target="_blank">描述我的产品,增加吸引力</a>
                            </div>
                        </div>
                    </div>
                    <!--Rbox5 b-->
                    <div class="wrap st2 mt">
                        <div class="wt">
                            <h3>公司黄页展示排行</h3>
                        </div>
                        <div class="wc rank y">
                            <ul class="listBlack">
                                <li>
                                    <a href="http://606.zz91.com" target="_blank" class="f-black" title="个体经营(杨先生)">个体经营(杨先生)</a>
                                </li>
                                <li>
                                    <a href="http://723813165.zz91.com" target="_blank" class="f-black" title="个体经营(杨胜云)">个体经营(杨胜云)</a>
                                </li>
                                <li>
                                    <a href="http://acjfhs.zz91.com" target="_blank" class="f-black" title="澳城精纺回丝开毛厂">澳城精纺回丝开毛厂</a>
                                </li>
                                <li>
                                    <a href="http://alex.zz91.com" target="_blank" class="f-black" title="个体经营(崔跃明)">个体经营(崔跃明)</a>
                                </li>
                            </ul>
                            <div class="btnWrap">
                                <a href="http://www.zz91.com/cn/vipreg.html" target="_blank" class="btnMaxGray">排名靠前,增加被查看机会</a>
                            </div>
                        </div>
                    </div>
                    <!--成功网商 S-->
                    <div class="wrap st2 mt">
                        <div class="wt">
                            <h3>成功网商</h3>
                        </div>
                        <div class="wc rank">
                            <ul class="listBlack">
                                <li>
                                    <a href='http://yxfzgs.zz91.com' target='_blank' class='a1' title='永信服装布匹碎布回收公司'>
                                        永信服装布匹碎布回收公司				</a>
                                </li>
                                <li>
                                    <a href='http://zhangentao.zz91.com' target='_blank' class='a1' title='个体经营（张恩涛）'>
                                        个体经营（张恩涛）				</a>
                                </li>
                                <li>
                                    <a href='http://dayeby.zz91.com' target='_blank' class='a1' title='大冶有色博源环保股份有限公司'>
                                        大冶有色博源环保股份有限公司				</a>
                                </li>
                                <li>
                                    <a href='http://tzruntiansuye.zz91.com' target='_blank' class='a1' title='泰州润天塑业有限公司'>
                                        泰州润天塑业有限公司				</a>
                                </li>
                                <li>
                                    <a href='http://pcb.zz91.com' target='_blank' class='a1' title='个体经营（卢宅寿）'>
                                        个体经营（卢宅寿）				</a>
                                </li>
                                <li>
                                    <a href='http://hipsfeiliao.zz91.com' target='_blank' class='a1' title='个体经营（邢卫华）'>
                                        个体经营（邢卫华）				</a>
                                </li>
                                <li>
                                    <a href='http://canpla.zz91.com' target='_blank' class='a1' title='Canpla Recycling Inc'>
                                        Canpla Recycling I				</a>
                                </li>
                                <li>
                                    <a href='http://smsj.zz91.com' target='_blank' class='a1' title='四川省资阳顺民机械厂'>
                                        四川省资阳顺民机械厂				</a>
                                </li>
                                <li>
                                    <a href='http://liuax.zz91.com' target='_blank' class='a1' title='个体经营（刘安详）'>
                                        个体经营（刘安详）				</a>
                                </li>
                                <li>
                                    <a href='http://xuhaijun.zz91.com' target='_blank' class='a1' title='个体经营（徐海军）'>
                                        个体经营（徐海军）				</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrap mt st2">
                        <div class="wt">
                            <h3 class="">热门地区产品</h3>
                        </div>
                        <div class="wc plastic y clearfix">
                            <ul class="plas_ul">
                                <li >
                                    <a href="/index-b10001001-c100110001010-p.htm">	浙江废金属</a>
                                </li>
                                <li >
                                    <a href="/index-b10001002-c100110001010-p.htm">	浙江废纸</a>
                                </li>
                                <li >
                                    <a href="/index-b10001002-c100110001010-p.htm">	浙江废塑料 </a>
                                </li>
                                <li >
                                    <a href="/index-b10001003-c100110001010-p.htm">	浙江废橡胶</a>
                                </li>
                                <li >
                                    <a href="/index-b10001004-c100110001010-p.htm">	浙江废纺织废皮革 </a>
                                </li>
                                <li >
                                    <a href="/index-b10001005-c100110001010-p.htm">	浙江废电子电器</a>
                                </li>
                                <li >
                                    <a href="/index-b10001006-c100110001010-p.htm">	浙江废玻璃 </a>
                                </li>
                                <li >
                                    <a href="/index-b10001007-c100110001010-p.htm">	浙江二手设备</a>
                                </li>
                                <li >
                                    <a href="/index-b10001003-c100110001014-p.htm">	山东废橡胶</a>
                                </li>
                                <li >
                                    <a href="/index-b10001004-c100110001014-p.htm">	山东废纺织</a>
                                </li>
                                <li >
                                    <a href="/index-b10001007-c100110001014-p.htm">	山东二手设备 </a>
                                </li>
                                <li >
                                    <a href="/index-b10001002-c100110001014-p.htm">	山东废纸</a>
                                </li>
                                <li >
                                    <a href="/index-b10001001-c100110001014-p.htm">	山东废金属</a>
                                </li>
                                <li >
                                    <a href="/index-b10001000-c100110001014-p.htm">	山东废塑料</a>
                                </li>
                                <li >
                                    <a href="/index-b10001003-c100110001018-p.htm">	广东废橡胶</a>
                                </li>
                                <li >
                                    <a href="/index-b10001004-c100110001018-p.htm">	广东废纺织</a>
                                </li>
                                <li >
                                    <a href="/index-b10001007-c100110001018-p.htm">	广东二手设备</a>
                                </li>
                                <li >
                                    <a href="/index-b10001002-c100110001018-p.htm">	广东废纸</a>
                                </li>
                                <li >
                                    <a href="/index-b10001001-c100110001018-p.htm">	广东废金属</a>
                                </li>
                                <li >
                                    <a href="/index-b10001000-c100110001018-p.htm">	广东废塑料</a>
                                </li>
                                <li >
                                    <a href="/index-b10001003-c100110001009-p.htm">	江苏废橡胶</a>
                                </li>
                                <li >
                                    <a href="/index-b10001004-c100110001009-p.htm">	江苏废纺织</a>
                                </li>
                                <li >
                                    <a href="/index-b10001007-c100110001009-p.htm">	江苏二手设备 </a>
                                </li>
                                <li >
                                    <a href="/index-b10001002-c100110001009-p.htm">	江苏废纸</a>
                                </li>
                                <li >
                                    <a href="/index-b10001001-c100110001009-p.htm">	江苏废金属</a>
                                </li>
                                <li >
                                    <a href="/index-b10001000-c100110001009-p.htm">	江苏废塑料</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrap st2 mt">
                        <div class="wt">
                            <h3> 最新公司库供求</h3>
                        </div>
                        <div class="wc rank">
                            <ul class="rank_ul listBlack">
                                <li>
                                    <a target="_blank" href="http://trade.zz91.com/productdetails997448.htm"  title="PVC原料">
                                        <font color='#CC6600'>供应</font>
                                        PVC原料					</a>
                                        <span>06-21</span>
                                </li>
                                <li>
                                    <a target="_blank" href="http://trade.zz91.com/productdetails997444.htm"  title="PE">
                                        <font color='#CC6600'>供应</font>
                                        PE					</a>
                                        <span>06-21</span>
                                </li>
                                <li>
                                    <a target="_blank" href="http://trade.zz91.com/productdetails994183.htm"  title="PE光缆管,PE顶管,PE穿线管">
                                        <font color='#CC6600'>供应</font>
                                        PE光缆管,PE顶管,PE穿线管					</a>
                                        <span>06-21</span>
                                </li>
                                <li>
                                    <a target="_blank" href="http://trade.zz91.com/productdetails925329.htm"  title="PVC给水管">
                                        <font color='#CC6600'>供应</font>
                                        PVC给水管					</a>
                                        <span>06-21</span>
                                </li>
                                <li>
                                    <a target="_blank" href="http://trade.zz91.com/productdetails919523.htm"  title="PVC方管">
                                        <font color='#CC6600'>供应</font>
                                        PVC方管					</a>
                                        <span>06-21</span>
                                </li>
                                <li>
                                    <a target="_blank" href="http://trade.zz91.com/productdetails626055.htm"  title="PE/PA卷筒膜">
                                        <font color='#CC6600'>求购</font>
                                        PE/PA卷筒膜					</a>
                                        <span>06-21</span>
                                </li>
                                <li>
                                    <a target="_blank" href="http://trade.zz91.com/productdetails513713.htm"  title="PE/PA复合卷膜">
                                        <font color='#CC6600'>求购</font>
                                        PE/PA复合卷膜					</a>
                                        <span>06-21</span>
                                </li>
                                <li>
                                    <a target="_blank" href="http://trade.zz91.com/productdetails503183.htm"  title="PA/PE复合卷膜">
                                        <font color='#CC6600'>求购</font>
                                        PA/PE复合卷膜					</a>
                                        <span>06-21</span>
                                </li>
                                <li>
                                    <a target="_blank" href="http://trade.zz91.com/productdetails619446.htm"  title="铂铑丝">
                                        <font color='#CC6600'>求购</font>
                                        铂铑丝					</a>
                                        <span>06-21</span>
                                </li>
                                <li>
                                    <a target="_blank" href="http://trade.zz91.com/productdetails619448.htm"  title="硅钼棒">
                                        <font color='#CC6600'>求购</font>
                                        硅钼棒					</a>
                                        <span>06-21</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input name="hidVip" type="hidden" id="hidVip" />
        <!--百度商桥-->
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd1852f2b391e52cbd020e4b788713ba1' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <div class="clear"></div>
        <div class="footer">
            <p>
                <a href="http://www.zz91.com/about/index.asp" target="_blank" rel="nofollow">关于我们</a>
                | 
                <a href="http://www.recyclechina.com/" target="_blank">国际站</a>
                | 
                <a href="http://www.zz91.com/service/baidu/yh.html" target="_blank" rel="nofollow">百度优化</a>
                | 
                <a href="http://www.zz91.com/service/zst/" target="_blank" rel="nofollow">再生通服务</a>
                | 
                <a href="http://www.zz91.com/cn/helpcenter/" target="_blank" rel="nofollow">新手指南</a>
                | 
                <a href="http://www.zz91.com/webmap.html" target="_blank">网站地图</a>
                | 
                <a href="http://www.zz91.com/hkfs/" target="_blank" rel="nofollow">支付方式</a>
                | 
                <a href="http://www.zz91.com/about/question.asp" target="_blank" rel="nofollow">意见投诉</a>
                | 
                <a href="http://www.zz91.com/about/linkus.asp" target="_blank">友情链接</a>
                | 
                <a href="http://www.zz91.com/about/contactus.asp" target="_blank" rel="nofollow">客服中心</a>
                | 
                <a href="http://www.zz91.com/about/zhaopin.asp" target="_blank" rel="nofollow">诚聘英才</a>
                | 
                <a href="http://daohang.zz91.com/" target="_blank">产品导航</a>
                <br />
                全国统一服务热线：0571-56611111 56612345   市场合作：0571-56633145   广告服务：0571-56611111   传真：0571-56637777<br />
                法律顾问：京衡律师集团事务所 罗益群 律师     RecycleChina &copy; All Rights Reserved ZZ91再生网 版权所有<br />
                ZZ91再生网为中国物资再生协会副会长单位  中国塑协理事单位<br />
                并与中国有色金属工业协会、中国塑料协会 、阿里巴巴、《资源再生》杂志等达成战略合作<br />
            </p>
            <p>
                <a href="http://www.idinfo.cn/hzenterprise/hzEnterpriseView.action?nbxh=3301030000102711" target="_blank" rel="nofollow">
                    <img src="http://img0.zz91.com/front/images/footerpic/gongshang.gif"  alt="ZZ91再生网"/>
                </a>
                <a href="http://www.miibeian.gov.cn/" target="_blank" title="ZZ91再生网" rel="nofollow">
                    <img src="http://img0.zz91.com/front/images/footerpic/gongshangbeian.gif" alt="ZZ91再生网"/>
                </a>
                <img src="http://img0.zz91.com/front/images/footerpic/Icp.gif" alt="ZZ91再生网"/>
                <a href="http://www.cyberpolice.cn/" target="_blank" title="ZZ91再生网" rel="nofollow">
                    <img src="http://img0.zz91.com/front/images/footerpic/wangjing.gif" alt="ZZ91再生网"/>
                </a>
                <a href="http://www.pingpinganan.gov.cn/" target="_blank" title="ZZ91再生网" rel="nofollow">
                    <img src="http://img0.zz91.com/front/images/footerpic/wangjing2.gif" alt="ZZ91再生网"/>
                </a>
                <a href="http://trust.360.cn/search.php" target="_blank" title="360绿色网站" rel="nofollow">
                    <img src="http://trust.360.cn/img.php?sn=8000&id=3" border="0" />
                </a>
            </p>
            <!-- Baidu Button BEGIN -->
            <script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=1&amp;pos=left&amp;uid=6712776" ></script>
            <script type="text/javascript" id="bdshell_js"></script>
            <script type="text/javascript">
                var bds_config={"bdTop":32};
                document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
            </script>
            <!-- Baidu Button END -->
        </div>
        <div style="display:none">
            <!--google analysis-->
            <!--baidu analysis-->
            <script type="text/javascript">
                var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff41f07cad5c54cf66717306958dd62ed' type='text/javascript'%3E%3C/script%3E"));
            </script>
        </div>
</body>
</html>
<!--google analysis-->
<!--baidu analysis-->
<!--51yes analysis-->