#set( $layout = "/layout/myrcLayout.vm" )
#leftMenu("1503","00","30")
<div class="myrcNormalFrame">
	<div class="subscribIndex">
	<a href="$!{address.server}/subscribe/subscribeIndex.htm" target="_blank" class="subscribLink" title="点击定制最新供求商机">最新供求商机定制</a>
	<a href="$!{address.server}/subscribe/subscribe.htm" target="_blank" class="subscribLink" title="点击定制实时报价">实时报价定制</a>
    </div>
	<div style="clear:both"></div>  
	<div class="mailTip">
            <b>邮件地址提醒</b><br> 
			<hr style="color:#CCC">	
				当前用于接收的电子邮箱为：<font color=#ff7300>$!{currentEmail} </font> 
			<a href="#springUrl('/mycompany/updateCompany.htm')" class="modMail" title="点击修改接收电子邮箱">修改</a>
	</div>
</div>