@charset "utf-8";



.w280{width:280px}
.w200{width:200px;height:24px;overflow:hidden}
.w65{width:65px}
.h30{height:30px}
.h105{height:105px}
.mt10{margin-top:10px}




.price{width:960px;margin:10px auto}
.price-title{height:30px;lilne-height:30px;color:#444}

.price-table{width:960px}
.price-table tr td{background:#fff2e2;border:1px solid #ebd7be;height:30px;text-align:center}
.price-table tr td:hover{background:#fff}
.price-table tr td a{color:#444}

.mainblock1{margin:10px 0}
.m1-left{width:618px;border:1px solid #009944;padding:15px;float:left;display:inline}
.m1-title{width:618px;height:120px;overflow:hidden;border-bottom:1px dashed #8a8a8a}
.m1-title-page{width:618px;height:30px;line-height:30px;overflow:hidden}
.m1-title-h1{margin-top:20px}
.m1-title-h1 h1{font-size:20px;font-family:"微软雅黑";color:#444}
.m1-title-text{color:#444;margin-top:5px}
.m1-title-date{margin-right:20px}
.m1-title-label a{margin-left:5px}
.m1-title-label a:hover{color:#F60}

.m1-aboutInfo{width:610px;height:175px;overflow:hidden;margin:30px auto 10px auto}
.m1-aboutInfo ul{width:630px}
.m1-aboutInfo ul li{width:110px;height:25px;line-height:23px;text-align:center;margin-right:10px;margin-bottom:10px;float:left;display:inline}
.m1-aboutInfo ul li a{width:108px;height:23px;border:1px solid #dddddb;background:#fcfcfa;color:#444;display:block}
.m1-aboutInfo ul li a:hover{background:#fff2e2;text-decoration:none}

.m1-product{width:610px;margin:10px auto}
.m1-product tr td{border:1px solid #ccc;height:23px;text-align:center;color:#444;background:#fcfcfa}


.m1-left-weixin{padding:20px 0;border-bottom:1px dashed #8a8a8a}

.m1-articles{margin:10px 0}
.m1-articles-title{width:99px;height:25px;background:url(http://img0.zz91.com/zz91/2014price/images/item_bg.jpg) no-repeat;line-height:25px;text-align:center;color:#fff;font-size:14px;font-weight:bold;margin-left:-15px}
.m1-articles-content{width:600px;height:135px;overflow:hidden;margin-top:20px}
.m1-articles-content ul{width:670px}
.m1-articles-content ul li{width:280px;height:24px;line-height:24px;overflow:hidden;float:left;margin-right:45px;float:left;display:inline}
.m1-articles-label{}
.m1-articles-label ul li{color:#444;line-height:24px;margin-right:5px;float:left;display:inline}
.m1-articles-label ul li a{color:#295d9d}
.m1-statement{height:30px;line-height:30px;background:#f5f3f3;text-align:center;color:#c80000;font-size:14px;margin:0 -15px;margin-top:20px}
.m1-articles-text{color:#444;margin:10px 0;margin-left:37px}




.m1-right{width:300px;float:right;display:inline}
.m1-right-weixin{height:153px;margin-bottom:10px}
.m1-rightweixin-text{height:30px;text-align:center;lien-height:30px;color:#ff7300;font-size:14px}
.m1-rightweixin-img{width:120px;height:123px;margin:0 auto}
.m1-right-banner{width:300px;height:165px;overflow:hidden;background:#efd8b6;margin-top:10px}
.m1-ranking{width:298px;border:1px solid #bebebe;border-top:2px solid #009944;margin-top:10px;margin-bottom:10px;}
.m1-ranking-title{height:30px;background:#f6f8fb;border-bottom:1px solid #bebebe;line-height:30px;padding:0 15px 0 10px}
.m1-ranking-content{width:290px;_width:280px;margin-top:10px;margin-left:10px;overflow:hidden}
.m1-ranking-caption{float:left;display:inline}
.m1-ranking-caption a{color:#444;font-size:14px;font-weight:bold}
.m1-ranking-more{height:26px;float:right;display:inline;cursor:pointer}
.m1-ranking-div{width:265px;margin-left:10px}
.m1-div-left{width:45px;color:#09F;font-size:14px;float:left;display:inline}
.m1-div-right{width:205px;overflow:hidden;float:right;display:inline}
.m1-div-right ul{width:210px}
.m1-div-right ul li{margin-right:10px;margin-bottom:5px;float:left;display:inline}
.m1-div-right ul li a{color:#444;font-size:14px}


.m1-news{width:298px;border:1px solid #bebebe;border-top:2px solid #009944;margin-top:10px;margin-bottom:10px;}
.m1-news-title{height:30px;background:#009944;border-bottom:1px solid #bebebe;line-height:30px;padding:0 15px 0 10px}
.m1-news-content{width:290px;_width:280px;margin-top:10px;margin-left:10px;overflow:hidden}
.m1-news-content ul{padding-right:10px;padding-bottom:10px}
.m1-news-content ul li{lien-height:24px}
.m1-news-caption{float:left;display:inline}
.m1-news-caption a{color:#fff;font-size:14px;font-weight:bold}
.m1-news-more{height:26px;float:right;display:inline}
.m1-news-more a{color:#fff}



.m1-24hour{width:300px}
.m1-24hour-title{width:300px}
.m1-24hour-title tr td{width:150px;text-align:center;line-height:30px;font-size:14px;font-weight:bold}
.m1-24hour-green{color:#009944}
.m1-24hour-gray{color:#444}
.m1-24hour-border1{border-top:2px solid #009944;border-left:1px solid #009944;border-right:1px solid #009944}
.m1-24hour-border2{border-bottom:1px solid #009944}
.m1-24hour-content{border:1px solid #009944;border-top:none;padding:10px}
.m1-24hour-content ul li{width:280px;height:24px;line-height:24px;overflow:hidden}
.m1-24hour-content ul li a{color:#444}

.m1-recommended{width:280px;height:310px;overflow:hidden}
.m1-recommended ul{width:320px}
.m1-recommended ul li{width:115px;height:150px;overflow:hidden;margin-right:40px;margin-bottom:10px;float:left;display:inline}
.m1-recommended-img{width:115px;height:80px}
.m1-recommended-img img{width:115px;height:80px}
.m1-recommended-text{width:115px;height:40px;overflow:hidden;line-height:20px}
.m1-recommended-text a{color:#444}
.m1-recommended-money{color:#c80000}

.mainblock2{width:960px}
.m2-left{width:570px;background:#73c381;padding:10px;float:left;display:inline}
.m2-left-div{width:570px;}
.m2-div-title{width:50px;float:left;display:inline}
.m2-div-content{width:510px;float:right;display:inline}
.m2-div-content ul{width:530px}
.m2-div-content ul li{margin-right:20px;margin-bottom:10px;float:left;display:inline}
.m2-div-content ul li a{color:#000}
.m2-left-line{border-top:1px dashed #444;margin-bottom:15px}

.m2-right{width:360px;height:150px;overflow:hidden;float:right;display:inline}
.m2-address{width:358px;border:1px solid #bebebe;border-top:2px solid #009944}
.m2-address-title{height:30px;background:#f6f8fb;border-bottom:1px solid #bebebe;line-height:30px;padding:0 15px 0 10px}
.m2-address-content{width:338px;height:96px;overflow:hidden;padding:10px}
.m2-address-content ul{width:360px}
.m2-address-content ul li{margin-right:30px;line-height:24px;float:left;display:inline}
.m2-address-caption{float:left;display:inline}
.m2-address-caption a{color:#444;font-size:14px;font-weight:bold}
.m2-address-more{height:26px;float:right;display:inline}




.mainblock3{margin:10px 0}
.m3-left{width:568px;height:620px;border:1px solid #73c381;padding:10px;float:left;display:inline}
.m3-div{width:490px;height:144px;overflow:hidden;margin-top:20px}
.m3-div ul li{height:24px}
.m3-div-text{width:330px;height:24px;line-height:24px;background:url(http://img0.zz91.com/zz91/2014price/images/m3_div_icon.jpg) no-repeat 0px 11px;padding-left:10px;overflow:hidden;float:left;display:inline}
.m3-div-text a{color:#444}
.m3-div-date{width:70px;height:24px;line-height:24px;overflow:hidden;float:right;display:inline}

.page{margin-top:50px}
.page-index{width:50px;height:24px;border:1px solid #ccc;text-align:center;line-height:24px;margin-right:5px;display:inline-block}
.page-previous{width:50px;height:24px;border:1px solid #ccc;text-align:center;line-height:24px;margin-right:5px;display:inline-block}
.page-next{width:50px;height:24px;border:1px solid #ccc;text-align:center;line-height:24px;margin-right:5px;display:inline-block}
.page-last{width:50px;height:24px;border:1px solid #ccc;text-align:center;line-height:24px;margin-right:5px;display:inline-block}
.page-list{display:inline-block}
.page-list ul li{margin-right:5px;display:inline-block}
.page-list ul li a{border:1px solid #ccc;padding:0 3px;heihgt:24px;line-height:24px;display:block}
.page-list-click{background:#eaeaea;font-weight:bold}



.m3-right{width:360px;height:640px;overflow:hidden;float:right;display:inline}
.m3-news{width:358px;border:1px solid #bebebe;border-top:2px solid #009944}
.m3-news-title{height:30px;background:#f6f8fb;border-bottom:1px solid #bebebe;line-height:30px;padding:0 15px 0 10px}
.m3-news-content{width:338px;height:280px;overflow:hidden;padding:10px}
.m3-news-caption{}
.m3-news-caption a{color:#444;font-size:14px;font-weight:bold}
.m3-news-div{}
.m3-news-div ul li{height:24px}
.m3-news-text{width:240px;height:24px;line-height:24px;background:url(http://img0.zz91.com/zz91/2014price/images/m3_div_icon.jpg) no-repeat 0px 11px;padding-left:10px;overflow:hidden;float:left;display:inline}
.m3-news-text a{color:#444}
.m3-news-date{width:70px;height:24px;line-height:24px;overflow:hidden;float:right;display:inline}


.m3-map{width:358px;border:1px solid #bebebe;border-top:2px solid #009944;margin-top:10px}
.m3-map-title{height:30px;background:#f6f8fb;border-bottom:1px solid #bebebe;line-height:30px;padding:0 15px 0 10px}
.m3-map-content{width:338px;height:242px;overflow:hidden;padding:10px}
.m3-map-content img{wdith:334px;height:232px}
.m3-map-caption{float:left;display:inline}
.m3-map-caption a{color:#444;font-size:14px;font-weight:bold}
.m3-map-more{height:26px;float:right;display:inline}


.mainblock4{}
.m4-title{height:30px;line-height:30px;background:#83d090;padding:0 15px}
.m4-title-text{float:left;display:inline}
.m4-title-text a{font-size:14px;font-weight:bold;color:#000}
.m4-title-ul{float:right;display:inline}
.m4-title-ul ul li{margin-left:10px;float:left;display:inline}
.m4-title-ul ul li a{color:#000}
.m4-content{width:960px;height:180px;overflow:hidden;margin:10px 0}
.m4-content ul{width:990px}
.m4-content ul li{margin-right:25px;float:left;display:inline}
.m4-content-img{width:140px;height:140px}
.m4-content-img img{width:140px;height:140px}
.m4-content-text{width:140px;height:20px;line-height:20px;overflow:hidden}
.m4-content-text a{color:#333}
.m4-content-money{width:140px;height:20px;line-height:20px;color:#c80000}



