body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../修改信息_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:9px;
    top:9px;
    width:961px;
    height:37px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:37px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../修改信息_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:52px;
    width:156px;
    height:66px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:156px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:25px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../修改信息_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:171px;
    top:53px;
    width:110px;
    height:61px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:67px;
}

.u5 {
    position:absolute;
    left:2px;
    top:23px;
    width:106px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../修改信息_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:298px;
    top:54px;
    width:502px;
    height:61px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:502px;
    height:61px;
}

.u7 {
    position:absolute;
    left:2px;
    top:22px;
    width:498px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../修改信息_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:12px;
    top:129px;
    width:952px;
    height:35px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:958px;
    height:41px;
}

.u9 {
    position:absolute;
    left:2px;
    top:10px;
    width:948px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_menu {
    background-image: url('../修改信息_files/u10_menu.png');
}

.u10_menu {
    position:absolute;
    left:20px;
    top:131px;
    width:515px;
    height:35px;
}

#u10_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:512px;
    height:32px;
}

#u11 {
    position:absolute;
    left:3px;
    top:3px;
    width:505px;
    height:25px
}

.u12_mouseOver {
    background-image: url('../修改信息_files/u12_mouseOver.png');
}

.u12_normal {
    background-image: url('../修改信息_files/u12_mouseOver.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_mouseOver {
    background-image: url('../修改信息_files/u12_mouseOver.png');
}

.u14_normal {
    background-image: url('../修改信息_files/u12_mouseOver.png');
}

.u14_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_mouseOver {
    background-image: url('../修改信息_files/u12_mouseOver.png');
}

.u16_normal {
    background-image: url('../修改信息_files/u12_mouseOver.png');
}

.u16_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_mouseOver {
    background-image: url('../修改信息_files/u12_mouseOver.png');
}

.u18_normal {
    background-image: url('../修改信息_files/u12_mouseOver.png');
}

.u18_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_mouseOver {
    background-image: url('../修改信息_files/u12_mouseOver.png');
}

.u20_normal {
    background-image: url('../修改信息_files/u12_mouseOver.png');
}

.u20_container {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:831px;
    top:91px;
    width:117px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:800px;
    top:58px;
    width:125px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../修改信息_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:12px;
    top:170px;
    width:952px;
    height:26px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:958px;
    height:32px;
}

.u25 {
    position:absolute;
    left:2px;
    top:5px;
    width:948px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_menu {
    background-image: url('../修改信息_files/u26_menu.png');
}

.u26_menu {
    position:absolute;
    left:20px;
    top:167px;
    width:415px;
    height:35px;
}

#u26_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:412px;
    height:32px;
}

#u27 {
    position:absolute;
    left:3px;
    top:3px;
    width:405px;
    height:25px
}

.u28_mouseOver {
    background-image: url('../修改信息_files/u12_mouseOver.png');
}

.u28_normal {
    background-image: url('../修改信息_files/u12_mouseOver.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_mouseOver {
    background-image: url('../修改信息_files/u12_mouseOver.png');
}

.u30_normal {
    background-image: url('../修改信息_files/u12_mouseOver.png');
}

.u30_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_mouseOver {
    background-image: url('../修改信息_files/u12_mouseOver.png');
}

.u32_normal {
    background-image: url('../修改信息_files/u12_mouseOver.png');
}

.u32_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_mouseOver {
    background-image: url('../修改信息_files/u12_mouseOver.png');
}

.u34_normal {
    background-image: url('../修改信息_files/u12_mouseOver.png');
}

.u34_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:456px;
    top:1049px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37_line {
    background-image: url('../修改信息_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:0px;
    top:4px;
    width:949px;
    height:3px;
}

.u37 {
    position:absolute;
    left:14px;
    top:818px;
    width:949px;
    height:10px;
    
}

.u38_container {
    position:absolute;
    left:211px;
    top:603px;
    width:426px;
    height:63px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:426px;
    height:63px;
}

.u39 {
    position:absolute;
    left:2px;
    top:24px;
    width:422px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:126px;
    top:503px;
    width:73px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../修改信息_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:211px;
    top:503px;
    width:428px;
    height:100px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:434px;
    height:106px;
}

.u42 {
    position:absolute;
    left:2px;
    top:42px;
    width:424px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:111px;
    top:1015px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:16px;
    top:0px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:16px;
    top:0px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:16px;
    top:0px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:16px;
    top:0px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:16px;
    top:0px;
    width:60px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_container {
    position:absolute;
    left:213px;
    top:505px;
    width:339px;
    height:26px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:339px;
    height:26px;
}

.u55 {
    position:absolute;
    left:2px;
    top:5px;
    width:335px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_container {
    position:absolute;
    left:551px;
    top:505px;
    width:88px;
    height:27px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:88px;
    height:27px;
}

.u57 {
    position:absolute;
    left:2px;
    top:6px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:126px;
    top:422px;
    width:73px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:212px;
    top:419px;
    width:405px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:126px;
    top:464px;
    width:73px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:212px;
    top:464px;
    width:53px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:367px;
    top:464px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:508px;
    top:463px;
    width:49px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:266px;
    top:460px;
    width:75px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u65 {
    position:absolute;
    left:412px;
    top:460px;
    width:75px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u66 {
    position:absolute;
    left:579px;
    top:459px;
    width:75px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67 {
    position:absolute;
    left:132px;
    top:670px;
    width:67px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../修改信息_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:211px;
    top:676px;
    width:112px;
    height:104px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:112px;
    height:104px;
}

.u69 {
    position:absolute;
    left:2px;
    top:44px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:215px;
    top:789px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u71_normal {
    background-image: url('../修改信息_files/u68_normal.png');
}

.u71_container {
    position:absolute;
    left:352px;
    top:676px;
    width:112px;
    height:104px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:112px;
    height:104px;
}

.u72 {
    position:absolute;
    left:2px;
    top:44px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:358px;
    top:765px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:125px;
    top:873px;
    width:72px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:214px;
    top:868px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:16px;
    top:0px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:16px;
    top:0px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:16px;
    top:0px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:16px;
    top:0px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:632px;
    top:868px;
    width:40px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u85 {
    position:absolute;
    left:150px;
    top:911px;
    width:47px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:214px;
    top:904px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u87 {
    position:absolute;
    left:332px;
    top:943px;
    width:528px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../修改信息_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:536px;
    top:904px;
    width:73px;
    height:24px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:30px;
}

.u91 {
    position:absolute;
    left:2px;
    top:4px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_line {
    background-image: url('../修改信息_files/u92_line.png');
}

.u92_line {
    position:absolute;
    left:0px;
    top:4px;
    width:24px;
    height:3px;
}

.u92 {
    position:absolute;
    left:619px;
    top:913px;
    width:24px;
    height:10px;
    
}

.u93_normal {
    background-image: url('../修改信息_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:653px;
    top:906px;
    width:167px;
    height:24px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:30px;
}

.u94 {
    position:absolute;
    left:2px;
    top:4px;
    width:163px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:137px;
    top:976px;
    width:60px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:214px;
    top:972px;
    width:68px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u97 {
    position:absolute;
    left:309px;
    top:972px;
    width:68px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u98 {
    position:absolute;
    left:673px;
    top:463px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:750px;
    top:460px;
    width:75px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u100 {
    position:absolute;
    left:31px;
    top:218px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:31px;
    top:838px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_line {
    background-image: url('../修改信息_files/u102_line.png');
}

.u102_line {
    position:absolute;
    left:0px;
    top:4px;
    width:949px;
    height:3px;
}

.u102 {
    position:absolute;
    left:14px;
    top:1109px;
    width:949px;
    height:10px;
    
}

.u103 {
    position:absolute;
    left:212px;
    top:531px;
    width:425px;
    height:72px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u105 {
    position:absolute;
    left:16px;
    top:0px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:16px;
    top:0px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:126px;
    top:243px;
    width:73px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:126px;
    top:275px;
    width:73px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:211px;
    top:275px;
    width:136px;
    height:121px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u115 {
    position:absolute;
    left:361px;
    top:275px;
    width:136px;
    height:121px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u116 {
    position:absolute;
    left:515px;
    top:275px;
    width:136px;
    height:121px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

