/* CSS Document */

/* CSS Document */

/*color text beginning*/
.redtxt {
color:#e00505;
}
.blacktext{
color:#000000;
}
.bluebold{
font-weight:bold;
color:#000066;
}
/*color text end*/
.red1{
color:#cc0000;
}

.red{
color:#ff0000
}

.orange{
color:#ff7300;
}
.orange:hover{
color:#cc0000;
}

.black1{
color:#000;}
.black1:hover{
color:#ff7300;}

.gray1{
color:#e7e7e7;
}
.gray1:hover{
color:#ff7300;
}
.deepgray{
color:#999;
}
.deepgray:hover{
color:#ff7300;
}

.white1{
color:#fff;}
.white1:hover{
color:#ffff00;
}

.lightblue{
color:#4296ce;}
.lightblue:hover{
color:#ff7300;
}
.deepblue{
color:#336699;
}
.blue1{
color:#0099ff;
}
.blue1:hover{
color:#ff7300;
}
.bgred{
background-color:#cc0000;}
.bgorange{
background-color:#ff7300;
}
.bgblack{
background-color:#000;}
.bggray{
background-color:#e7e7e7;
}
.bglightgray{
background-color:#f4f4f4;
}
.bgwhite{
background-color:#fff;}
.bgblue{background-color:#4296ce;}
