 <div class="detail-tag clearfix">
            	<a href="zxsq.html?index=0"><span>电话申请</span></a>
                <a href="zxsq.html?index=1"><span class="selected">在线申请</span></a>
                <a href="zxsq.html?index=2"><span >支付方式</span></a>
 </div>
 <div class="lay-pane">            
    				<div class="lay-bar">
        				<ul class="clearfix">
            				<li><a class="bar-arrow01">服务申请</a></li>
                			<li><a class="bar-arrow02">付款</a></li>
                			<li><a class="bar-arrow02">提交认证信息</a></li>
                			<li><a class="bar-arrow02">资质认证</a></li>
                			<li><a class="bar-arrow03">开通成功，尊享会员服务</a></li>
            			</ul>
        			</div>
        			<!--end lay-bar-->
                	<div class="application online-apply">
                    	<form  id="form1" action="#springUrl('pay.htm')" method="post" accept-charset="utf-8" onsubmit="if(isIE)document.charset='utf-8'">
                        	<ul class="elem-form section">
                            	<li>
                                	<span class="label-like">会员类型：</span>
                                    <p>
                                    	<select class="member-type" name="typename">
                                            <option id="moren">请选择</option>
                                        	<option value="zst">再生通基础服务</option>
                                            <option value="jpt">金牌品牌通</option>
                                            <option value="zsp">钻石品牌通</option>
                                        </select>
                                    </p>
                                </li>
                            	<li>
                                	<span class="label-like">联系人：</span>
                                    <input type="text" name="lianxi" id="rename" value="" class="inputtext input-long" />
                                    <span class="field-elem on" onclick="fun1()">
		    							<input type="radio" value="m" id="sex" name="sex" checked="" class="inputradio" />&nbsp;
		    							<label>先生</label>
		    						</span>
                                    <span class="field-elem" onclick="fun()">
		    							<input type="radio"   checked="" class="inputradio" />&nbsp;
		    							<label>女士</label>
		    						</span><br/>
									<span id="ername" style="color:red; font-size:13px"></span>
                                </li>
                                <li>
                                	<span class="label-like">手机：</span>
                                    <input type="text" name="mobilename" id="reemobile" value="" class="inputtext input-long" />
									<span id="ermobile" style="color:red; font-size:13px"></span>
                                </li>
                                <li>
                                	<span class="label-like">固定电话：</span>
                                    <input type="text" name="countries" id="recountries" value="" class="inputtext input-tel" /> - 
                                    <input type="text" name="code" value="" id="recode" value="" class="inputtext input-tel" /> - 
                                    <input type="text" name="phone" id="rephone" value="" class="inputtext input-phone" />
									<span id="erphone" style="color:red; font-size:13px"></span>
                                </li>
                                <li>
                                	<span class="label-like">电子邮件：</span>
                                    <input type="text" name="email" id="reremail" value="" class="inputtext input-long" />
									<span id="ereemaile" style="color:red; font-size:13px"></span>
                                </li>
                                <li>
                                	<a href="javascript:openoverlay('http://www.zz91.com/register/firstview.htm','服务条款',800,400,0);" class="agreement" target="_blank">点此阅读ZZ91再生服务条款</a>
                                </li>
                                <li class="container-btn">
                                	<a class="button onebutton" onclick="tijiao()">提交申请</a>
									<input type="hidden" name="sqzst" value="zstfy" />
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>