#set($layout="/layout/serviceLayout.vm")
#set($zst="zz")
#set($y="1")
#set($in="B")
#parse("/service/script.vm")
<body>
<div class="sucss-info">
	<div class="close_div">
		<span class="j_gunbi" #if($!{index}==0) onclick="close1()" #else onclick="close2()" #end>关闭</span>
	</div>
	<div class="again-info" id="succeedid"></div>
    <div class="tellus">
        <h3>拨打服务热线，详细了解会员服务</h3>
        <p>全国统一客服热线： 0571-56611111</p>
        <p>全国统一销售热线： 0571-56612345</p>
    </div>
</div>
<input id="sess" type="hidden"  value="$!{keys}"/>	
<form action="#springUrl('pay.htm')" method="post" accept-charset="utf-8" onsubmit="if(isIE)document.charset='utf-8'">
<div class="pop-window" id="popWindow"> 
	<div class="title"><a class="close fr" >关闭</a>确认支付</div>
	<div class="content">
		<h3>
        	<span class="font_weight">您选择的会员类型是：<span class="green" id="huiyuan"></span></span><br />
			<input type="hidden"  id="hytypeId" name="hytype" value="" />
            <span class="font_weight">金额：</span><span class="red" id="qian"></span>元
        </h3>
        <p>为了第一时间能为您开通服务，请填写以下联系方式!</p>
        <div class="popitem clearfix">
        	<div class="pop-label">您的手机：</div>
            <input type="text" id="mobile1" name="mobile" class="pop-input" /><br/><span style="color:red;font-size:13px" id="erreos">
            </span>
        </div>
        <div class="popitem clearfix">
        	<div class="pop-label">联系人：</div>
            <input type="text" id="lianxiren1" name="contact" class="pop-input" /><br/><span style="color:red; font-size:13px" id="erreosg">
				</span>
        </div>
		<input type="hidden" name="sqzst" value="zst" />	
        <div class="popitem clearfix">
        	<a class="button">确认支付</a>
        </div>
    </div> 
</div> 
</form>
<!--end pop-window-->
    <div class="layout">
        <div class="lay-detail">
        	
            <!--end detail-tag-->
           #if($!{index}==0)
			#parse("service/phone.vm")
             #elseif($!{index}==2)
				#parse("service/zhifu.vm")
				#else
				#parse("service/tijiao.vm")
		     #end               
            <!--end panes-->
        </div>
    </div>
</body>
#parse("service/bottom.vm")