<!--
再生互助-频道导航
Add By Rolyer
-->
<div id="channelTop">
    <div id="forumTop" class="long">
        <div class="channelName">
	        <h1><a href="http://forum.zz91.com/">再生互助</a></h1>
        </div>
        <div class="bigCate">
	        <ul>

		        <li><a href="group--c22--t--st--k--s_p.html" target="_blank">商务论坛</a></li>
		        <li><a href="group--c27--t--st--k--s_p.html" target="_blank">废金属论坛</a></li>
		        <li><a href="group--c28--t--st--k--s_p.html" target="_blank">废塑料论坛</a></li>
		        <li><a href="group--c29--t--st--k--s_p.html"  target="_blank">综合废料</a></li>
		        <li><a href="group--c23--t--st--k--s_p.html" target="_blank">休闲娱乐</a></li>
                <li><a href="group--c24--t--st--k--s_p.html" target="_blank">互助看台</a></li>

		        <li><a href="group--c26--t--st--k--s_p.html" target="_blank">热门评论</a></li>
		        <li><a href="group--c30--t--st--k--s_p.html" target="_blank">商业防骗</a></li>
		        <li><a href="group--c2403--t--st--k--s_p.html" target="_blank">新手上路</a></li> 
	        </ul>
	         <div id="searchDiv">
			        <a href="http://www.kl91.com/">精确报价,买卖商机, 尽在再生塑料网</a>&nbsp;&nbsp;请输入关键字:
			        <input id="searchname" name="searchname" type="text" class="textbox" onkeydown="OnKey()"/>
                    &nbsp;<input name="Radio1" type="radio" value="1" checked="checked"/>帖子标题
                    <input name="Radio1" type="radio" value="2" />帖子作者
                    <input name="Radio1" type="radio" value="3" />帖子正文
			        <input id="Bseach" type="button" value="搜  索" class ="ask"/>

	        </div>
        </div>
    </div>
</div>