@charset "utf-8";
/* CSS Document */
.cpwz_left{width:700px; height:30px; line-height:30px; color:#303030; padding-left:8px;}
.cpwz_right{width:240px; height:30px; line-height:30px; color:#303030; text-align:center;}

.cpleft{width:237px;}
.cpleft_brobj{border:solid 1px #e0dddd; background:url(images/company_03.jpg) top repeat-x;}
.cpleft_title{height:32px; line-height:32px; font-size:14px; font-weight:bold; padding-left:10px; color:#363636;}
.cpleft_infolist li{height:24px; line-height:24px; padding-left:5px;}
.cpleft_infolist li span{color:#f27800; font-weight:bold;}

.cpright{width:711px;}
.cpright_baner{width:460px;}
.cpright_benne{width:240px;}
.cpright_benne_rlimg{height:35px; background:url(images/company_05.jpg) center no-repeat; border:solid 1px #489b04;}
.cpright_bennerlwh60{width:60px; line-height:35px; text-align:center; float:left;}
.cpright_bennerlwh90{width:90px; line-height:35px; text-align:center; float:left;}
.cpright_bennerlwh88{width:88px; line-height:35px; text-align:center; float:left;}
.cpright_bennerllink li a{font-size:14px; color:#489b04; font-weight:bold; text-decoration:none;}
.cpright_bennerllink li a:hover{color:#088d27; text-decoration:underline;}

.threebanner{width:460px; height:250px; position:relative; z-index:1; overflow:hidden;}
.toggleBtn{ position:absolute; right:12px; bottom:10px; z-index:3}
.toggleBtn a{text-align:center; text-decoration:none; background:url(images/trade_sildebgno.png) left top no-repeat;height:18px;width:18px; margin-right:4px;font:italic bold 13px/18px 'Microsoft YaHei' '宋体'; color:#f27800;display:block; float:left; _background: none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/trade_sildebgno.png');}
.toggleBtn a:hover{color:#f27800;cursor:pointer; text-decoration:none;}
.toggleBtn a.selected{ background-position:left -20px; text-decoration:none; color:#FFF; background:url(images/trade_sildebgyes.png) left top no-repeat; _background: none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/trade_sildebgyes.png')}
.toggleBtn a.selected:hover{color:#FFF;cursor:pointer; text-decoration:none;}
.toggleImg{width:460px; height:250px; position:absolute; z-index:2;}
.toggleImg img{width:460px; height:250px; position:absolute; display:none;}

.cplib_t_r{width:240px;height:233px;float:right}
.server_box_nav{height:29px; line-height:29px;color:#2b84b2;position:relative}
.server_box_nav span{ color:#2b84b2;display:block;padding-left:18px; width:101px; float:left; font-size:14px; font-weight:bold;text-align:center;position:absolute}
.server_box_1,.server_box_2,.server_box_3,.server_box_4,.server_box_1_s,.server_box_2_s,.server_box_3_s,.server_box_4_s{cursor:pointer;background:#FFF url(images/trade_serve.gif) 12px top no-repeat}
.server_box_1{ border:1px solid #c3c8b8;background-position:6px -90px;background-color:#F0F0F0}
.server_box_1_s{border:1px solid #c3c8b8; border-bottom-color:#FFF; border-right:1px solid #c3c8b8; background-position:6px -60px}
.server_box_2{ border:1px solid #c3c8b8;border-bottom-color:#c3c8b8;background-position:6px -30px;background-color:#F0F0F0}
.server_box_2_s{border:1px solid #c3c8b8; border-bottom-color:#FFF;background-position:6px top}
.server_box_3{ border:1px solid #c3c8b8;background-position:6px -210px;background-color:#F0F0F0}
.server_box_3_s{ border:1px solid #c3c8b8;border-top-color:#FFF;background-position:6px -180px}
.server_box_4{ border:1px solid #c3c8b8;background-position:6px -150px;background-color:#F0F0F0}
.server_box_4_s{ border:1px solid #c3c8b8;border-top-color:#FFF;background-position:6px -120px}

#server_box_1{left:0;top:0;border-radius:3px 3px 0 0}
#server_box_2{left:119px;top:0;border-radius:3px 3px 0 0}
#server_box_3{left:0;top:204px;border-radius: 0 0 3px 3px}
#server_box_4{left:119px;top:204px;border-radius: 0 0 3px 3px}
.server_box_conts{ height:127px; width:206px; border-left:1px solid  #c3c8b8; border-right:1px solid  #c3c8b8;padding:24px 16px}
.server_box_conts ul li{ font-size:13px;line-height:24px; background-repeat:no-repeat; padding-left:20px;}

.server_box_conts  ul{ display:none}
.super_conts_1 li{background-image:url(images/trade_num01.gif)}
.super_conts_2 li{background-image:url(images/trade_num02.gif)}
.super_conts_3 li{background-image:url(images/trade_num03.gif)}
.super_conts_4 li{background-image:url(images/trade_num04.gif)}
.trade_serv_ls01{ background-position:left 4px;}
.trade_serv_ls02{ background-position:left -46px;}
.trade_serv_ls03{ background-position:left -96px;}
.trade_serv_ls04{ background-position:left -146px;}
.trade_serv_ls05{ background-position:left -196px;}
.trade_serv_ls06{ background-position:left -245px;}

.cpinfo_marquee{height:35px; line-height:35px;}
.cpinfo_marquee a{font-size:12px; color:#0774ac; text-decoration:none;}
.cpinfo_marquee a:hover{color:#088d27; text-decoration:underline;}

.cpcitycz{width:709px; border:solid 1px #a9aaa9;}
.cpcityform{height:33px; background-color:#d9d9d9;}

.cpcity_forma{width:150px; height:33px; line-height:33px; font-size:16px; font-weight:bold; text-align:center; color:#000; float:left;}
.cpcity_formb{width:100px; height:26px; padding-top:7px; text-align:center; float:left;}
.cpcity_formb select{width:90%; height:20px;}
.cpcity_formc{width:290px; height:28px; padding-top:5px; float:left;}
.cpcity_formc input{width:98%; height:22px; line-height:22px;}
.cpcity_formd{width:50px; height:27px; padding-top:6px; text-align:center; float:left;}
.cpcity_formd input{width:98%; height:22px;}

.cplib_b_rtt{height:32px;line-height:32px;}
.cplib_b_rtt h3{color:#000;}
.b_rtt_r select{border:solid 1px #fff;height:22px;width:100px;}
.b_rtt_r input{border:solid 1px #fff;height:20px;width:200px; background:url(images/company_input.jpg) left top no-repeat; border:0px;}
.b_rtt_r span{display:block;margin-left:8px;float:left;_margin-left:4px; padding-top:5px;}
.b_rtt_rbtn input{border:none;width:65px;height:22px;background:url(images/cplibbtn.gif);}
.cplib_b_rtb{height:30px;line-height:30px;background:#f2feea;}
.cplib_b_rtb h4,.cplib_b_rtb a {color:#2e8d1d;}
.cplib_b_rtb a{margin:0px 4px;font-size:14px;}
.cplib_listt{height:31px;line-height:31px;background:url(images/cplib02.gif);}
.cplib_listt span,.listt_nm_r span{display:block;float:left;}
.cplib_listt1{margin-left:16px;_margin-left:8px;}
.cplib_list_li{line-height:20px;border-bottom:dashed 1px #CCC;}

.cpcity_class{background-color:#f7f9f7; padding:10px;}
.cpcity_classinfo{width:344px; float:left;}
.cpcity_classinfo li{line-height:24px;}
.cpcity_classinfo li a{font-size:12px; color:#0774ac; text-decoration:none; padding-right:13px;}
.cpcity_classinfo li a:hover{color:#F30; text-decoration:underline;}

.cplinfolist{border:solid 1px #a9aaa9; background:url(images/company_03.jpg) top repeat-x;}
.cplinfolist_title{height:32px; line-height:32px; font-size:14px; font-weight:bold; padding-left:10px; color:#363636;}
.cpinfolist_title{background-color:#eeefee; height:30px; line-height:30px;}
.cpinfolist_border{border-bottom:dashed 1px #cccaca;}
.cpinfolist_border:hover{border-bottom:dashed 1px #cccaca; background-color:#f3fdf3;}
.cpinfolist_infoa{width:350px; padding-left:10px;}
.cpinfolist_infob{width:100px; text-align:center;}
.cpinfolist_compan{height:50px; line-height:50px;}
.cpinfolist_compan a{font-size:14px; color:#f69204; font-weight:bold; text-decoration:none;}
.cpinfolist_compan a:hover{color:#088d27; text-decoration:underline;}
.cpinfolist_comjs{line-height:20px; height:60px; overflow:hidden;}
.cpinfolist_comzx{line-height:20px; height:20px; overflow:hidden;}
.cpinfolist_comds{line-height:30px; height:30px; padding-bottom:10px;}
.cpinfolist_comds a{font-size:12px; color:#f69204; text-decoration:none;}
.cpinfolist_comds a:hover{color:#088d27; text-decoration:underline;}
.cpinfolist_patop5{padding-top:45px;}
.cpinfolist_patop{padding-top:40px; line-height:30px;}
.cpinfolist_patop a{font-size:12px; color:#363636; text-decoration:none; padding-left:5px;}
.cpinfolist_patop a:hover{color:#088d27; text-decoration:underline;}
.cpinfolist_page{height:50px; line-height:50px; text-align:center;}

.cplist_infopad10{padding:10px;}
.cplist_infodashed{border-bottom:dashed 1px #b4b3b3; padding-bottom:0px;}
.cplist_infodashen{padding-bottom:0px;}
.cplist_infoclassa{width:80px; font-weight:bold; color:#282828; float:left;}
.cplist_infoclassb{width:608px; float:right;}
.cplist_infoclassc{width:568px; float:left;}
.cplist_infoclassc li{width:80px; padding-bottom:10px; float:left;}
.cplist_infoclassc li a{font-size:12px; color:#464646; text-decoration:none; padding:10px; margin-bottom:5px;}
.cplist_infoclassc li a:hover{color:#f14f00; text-decoration:underline;}
.cplist_infoclassd{width:40px; line-height:13px; text-align:right; background:url(images/Show.jpg) no-repeat; float:right;}
.cplist_infoclassd:hover{width:40px; text-align:right; background:url(images/hiddens.jpg) no-repeat; float:right;}
.cplist_infoclassd span{color:#555555; cursor:pointer;}
.cplist_infoclassd span:hover{color:#f14f00; cursor:pointer;}
.cplist_infoclasse{width:40px; line-height:13px; text-align:right; background:url(images/hidden.jpg) no-repeat; float:right;}
.cplist_infoclasse span{color:#f14f00; cursor:pointer;}