#set($layout="/layout/blank.vm")
 <div class="fdsmbk fdfoot">
     <a href="$!{address.www}/fudus/absclause.htm">服务条款</a>
       | <a href="$!{address.www}/fudus/absstate.htm">法律声明</a>  | <a href="$!{address.www}/fudus/absjoinus.htm" ref="nofollow">联系我们</a> | <a href="$!{address.www}/fudus/epmap.htm">网站地图</a>  | <a href="$!{address.www}/fudus/friendlinks.htm">友情链接</a>  
 </div>
		##百度统计
		<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe994e93e1e2af4e9051cc56588962b73' type='text/javascript'%3E%3C/script%3E"));
		</script>
		##CNZZ数据专家
		<script src="http://s24.cnzz.com/stat.php?id=3633710&web_id=3633710&show=pic" language="JavaScript"></script>
		##51yes
		<script language="javascript" src="http://count49.51yes.com/click.aspx?id=498859008&logo=1" charset="gb2312"></script>
       <script type="text/javascript">
	   function displaySubMenu(li) { 
        var subMenu = li.getElementsByTagName("ul")[0]; 
           subMenu.style.display = "block"; 
         } 
      function hideSubMenu(li) { 
        var subMenu = li.getElementsByTagName("ul")[0]; 
            subMenu.style.display = "none"; 
        } 
       </script>