#set($layout="/layout/blank.vm")
<div class="fdsmbk hb_fdlogo"> 
       <h1 class="hb_fdsh1">中国环保网</h1> 
       <a href="$!{address.www}" target="_blank"><img alt="中国环保网" src="$!{address.img}/huanbao/images/logo/hb_logo_min.gif" alt="中国环保网" title="中国环保网"></a> 
</div>
<div class="fdsnav">
       <ul class="fdsmbk">
           <li><a href="$!{address.www}/fudus/absindex.htm" ref="nofollow">首页</a></li>
           <li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)">
              <a href="$!{address.www}/fudus/abscpyinfo.htm" ref="nofollow">公司介绍</a>
              <ul>
                  <li><a href="$!{address.www}/fudus/abscpyinfo.htm" ref="nofollow">公司简介</a></li>
                  <li><a href="$!{address.www}/fudus/absdevp.htm" ref="nofollow">发展历程</a></li>
                  <li><a href="$!{address.www}/fudus/absjoinus.htm" ref="nofollow">合作洽谈</a></li>
              </ul>
           </li>          
           <li>
              <a href="#this">业务体系</a>
           </li>
           <li><a href="#this">行业网站</a></li>
           <li><a href="$!{address.www}/fudus/absculture.htm" ref="nofollow">企业文化</a></li>
       </ul>
</div>
