<div class="sonrightlogin">
    <section class="html5radius hbservicebox" id="hb_tabs">
                <div class="hb_tabs_nav html5radius" id="hb_tabs_nav">
                    <span class="hb_tabs_login">登录</span>
                    <span class="hb_tabs_reg">免费注册</span>
                    <span class="hb_tabs_pub">快速发布</span>
                </div>
                <div class="clear"></div>
                <div class="hb_tabs_cont" id="hb_tabs_cont">
                    <div id="loginDiv" class="hb_tabs_cont1">
                        <form id='indexlogin2' action="$!{address.myesite}/doLogin.htm" mothod="post" onsubmit="return loginResult()">
                            <ul class="idx_ser_lsform">
                                <li><label class="idx_ser_lab">账户：</label><input type="text" id="username" name="username" class="idx_ser_ipt"></li>
                                <li><label class="idx_ser_lab">密码：</label><input type="password" id="password" name="password" class="idx_ser_ipt"></li>
                                <li class="idx_ser_pwdrem"><input type="checkbox"><label class="idx_ser_lab">记住密码</label><a href="$!{address.www}/user/find_pwf.htm">忘记密码</a></li>
                                <input type="hidden" id="refurl" name="refurl" value="$!{address.www}/$!{child}"/>
                                <li><input type="submit" value="登  录" class="idx_ser_sub"><a href="$!{address.myesite}/regist.htm" class="idx_ser_sub">注  册</a><div class="clear"></div></li>
                            </ul>
                        </form>
                    </div>
                    <div class="hb_tabs_cont2">
                        <aside class="idx_ser_jion"><span class="fontgrey">还不是会员？</span><a href="$!{address.myesite}/regist.htm" title="点击注册加入中国环保网">马上加入</a></aside>
                        <ul class="idx_ser_ls">
                            <li class="ser_ls01">超过<em>20</em>万的环保设备客户</li>
                            <li class="ser_ls02">突破<em>220</em>万条环保设备商机</li>
                            <li class="ser_ls03">建商铺，做生意，结商友，做推广</li>
                        </ul>
                        <div class="idx_ser_jion"><a href="$!{address.myesite}/regist.htm" target="_blank" class="idx_ser_abtn">马上免费注册</a></div>
                    </div>
                    <div class="hb_tabs_cont3">
                       <aside class="idx_ser_jion"><span class="fontgrey">想要最快获得商机？</span><a href="$!{address.myesite}/supply/publish_StpOne.htm" ref="nofollow">马上发布</a></aside>
                        <ul class="idx_ser_ls">
                            <li class="ser_ls01">发布供求信息,让生意自动找上门</li>
                            <li class="ser_ls02">平台快速匹配,撮合网上接单</li>
                            <li class="ser_ls03">发布信息,客户成交几率增加3倍</li>
                        </ul>
                        <div class="idx_ser_jion"><a href="$!{address.myesite}/supply/publish_StpOne.htm" ref="nofollow" target="_blank" class="idx_ser_abtn">快速发布</a></div>
                    </div>
                </div>
            </section>
</div>