     <div class="hb_search">
            <form action="/search.htm" method="post">
                <fieldset>
                    <legend  class="displaynone">hb搜索</legend>
                    <div class="hb_searchlist">
                        <ul class="hb_serchlist_ul" id="hbSearchType">
                            <li class="srhyes">产品</li>
                            <li >资讯</li>
                            <li >展会</li>
                            <li >公司库</li>
                            <li >求购</li>
                        </ul>
                        <span class="search_hot">
                            <a href="#springUrl('/trade')/zw.htm">环保设备导航</a>
                        </span>
                    </div>
                    <div class="hb_searcharea">
                        <label for="hbSearchKeyWords" class="hb_search_label" id="hbSearchKeyLabel">请输入您要的关键字</label>
                        <input type="text" class="hb_search_text" name="searchKeyWords" id="hbSearchKeyWords"/>
                        <input type="hidden" name="searchTypeValue" id="hbSearchTypeValue" value="0"/>
                        <input type="submit" value="找一下" class="hb_search_sub" id="hb_search_sub"/>
                    </div>
                    <div class="hb_search_hotkey">
                        <span class="hb_search_hotkey_t titnormal fontnormal">热门关键字：</span>
						##cacheFragment("$!{address.fragment}/fragment/tags/categoryTags.htm?categoryCode=100010011000&size=8&subnetindex", "", "", "43200")
    						 #foreach($key in $!{tags.keySet()})
                    			<span>
                                	<a href="#springUrl('/trade/supply/index')----${tags.get($key)}.htm" target="_blank">$key</a>
                            	</span>
                			#end 
						##end
                     </div>
                </fieldset>
            </form>
    </div>
</article>
<script>
//search slide
hb.util.search.slideSearchType({
hbSearchType:"#hbSearchType",
hbsearchTypeValue:"#hbSearchTypeValue",
hbsearchKeyWords:"#hbSearchKeyWords",
hbSearchKeyLabel:"#hbSearchKeyLabel"
});
$('.isSelectTip').css("left",40);
</script>
</header>
