<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<servlet>
		<servlet-name>showads</servlet-name>
		<servlet-class>com.zz91.ads.count.servlet.ZZ91ads</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>showads</servlet-name>
		<url-pattern>/show</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>adhit</servlet-name>
		<servlet-class>com.zz91.ads.count.servlet.ZZ91adhit</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>adhit</servlet-name>
		<url-pattern>/hit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>tracking</servlet-name>
		<servlet-class>com.zz91.ads.count.servlet.TrackingServlet</servlet-class>
		<init-param>
			<param-name>excludeIP</param-name>
			<param-value>127.0.0.1,61.234.184.252,192.168.110.110-192.168.110.120</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>tracking</servlet-name>
		<url-pattern>/tracking</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>cacheManager</servlet-name>
		<servlet-class>com.zz91.ads.count.servlet.CacheManagerServlet</servlet-class>
		<init-param>
			<param-name>excludeIP</param-name>
			<param-value>127.0.0.1,61.234.184.252,115.236.188.99,115.236.188.100,218.27.133.242,112.253.13.182,192.168.110.110-192.168.110.120</param-value>
		</init-param>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>cacheManager</servlet-name>
		<url-pattern>/cacheManager</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>initSystem</servlet-name>
		<servlet-class>com.zz91.ads.count.config.InitServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
</web-app>
