CREATE        PROCEDURE CC_Update_Crm_State
(
	@Crmid varchar(5000),
	@Return int output
)
as
declare @CrmFinish varchar(5000)

begin
set @CrmFinish='update Crm set Crm_State=1 where Crm_id in ('+@Crmid+')'
end
exec(@CrmFinish)
set @Return=1
GO

------------------------------------------------------

CREATE PROCEDURE CC_Add_CRM
(
@Crm_Id int output,
@To_Meno int,
@To_Staff int,
@Crm_Title varchar(255),
@Crm_Annex varchar(255),
@Crm_Content nvarchar(4000),
@From_Meno int,
@From_Staff int
)

 AS 

if not exists(select CRM_ID from CRM where Crm_Title=@Crm_Title and From_Staff= @From_Staff and To_Meno=@To_Meno )

begin

	INSERT INTO CRM(
	[To_Meno],[To_Staff],[Crm_Title],[Crm_Date],[Crm_Annex],[Crm_Content],[From_Meno],[From_Staff]
	)VALUES(
	@To_Meno,@To_Staff,@Crm_Title,getdate(),@Crm_Annex,@Crm_Content,@From_Meno,@From_Staff)
	SET @Crm_Id = @@IDENTITY
end

else

set @Crm_Id=-1
GO

----------------------------------------------------------

CREATE PROCEDURE CC_Add_CRM_Reply
(
	@Reply_Id int output,
	@Crm_Id int,
	@Reply_Title varchar(255),
	@Reply_Contents nvarchar(4000),
	@Reply_User int
)

 AS 

if exists(select Crm_Id from CRM where Crm_id=@Crm_id)

begin

INSERT INTO CRM_Reply
([Crm_Id],[Reply_Title],[Reply_Contents],[Reply_User],[Reply_Date])
VALUES
(@Crm_Id,@Reply_Title,@Reply_Contents,@Reply_User,getdate())
SET @Reply_Id = @@IDENTITY

end

else

set @Reply_Id=-1
GO

------------------------------------------------------

CREATE PROCEDURE CC_Update_CRM_isRequest
(
	@Crm_Id int,
	@To_Staff int,
	@isRequest int,
	@return int output
)
 AS 
if not exists(select CRM_ID from CRM where Crm_Id=@Crm_Id)

	set @return=-1
else

begin

	update crm set isrequest=@isRequest,to_staff=@To_Staff where crm_id=@Crm_id
	
	set @return=1

end
GO

----------------------------------------------------------

CREATE PROCEDURE Update_Users_Pwd
(
	@id int,
	@OldPwd varchar(50),
	@NewPwd varchar(50),
	@realname varchar(100),
	@return int output
) 
AS 
 if not exists(select [id] from [users] where [id]=@id and [password]=@OldPwd)

set @return=-1

else

begin
	UPDATE users SET 
	[password] = @NewPwd,[realname] = @realname
	WHERE id=@id

set @return=1

end
GO
