if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Crm]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Crm]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Crm_Reply]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Crm_Reply]
GO

CREATE TABLE [dbo].[Crm] (
	[Crm_Id] [int] IDENTITY (2, 1) NOT NULL ,
	[To_Meno] [int] NULL ,
	[To_Staff] [int] NULL ,
	[Crm_Title] [varchar] (255) COLLATE Chinese_PRC_CI_AS NULL ,
	[Crm_Date] [datetime] NULL ,
	[Crm_Annex] [varchar] (255) COLLATE Chinese_PRC_CI_AS NULL ,
	[Crm_Content] [nvarchar] (4000) COLLATE Chinese_PRC_CI_AS NULL ,
	[From_Meno] [int] NULL ,
	[From_Staff] [int] NULL ,
	[Crm_State] [bit] NULL ,
	[isRequest] [bit] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Crm_Reply] (
	[Reply_Id] [int] IDENTITY (1, 1) NOT NULL ,
	[Crm_Id] [int] NOT NULL ,
	[Reply_Title] [varchar] (255) COLLATE Chinese_PRC_CI_AS NULL ,
	[Reply_Contents] [nvarchar] (4000) COLLATE Chinese_PRC_CI_AS NOT NULL ,
	[Reply_User] [int] NOT NULL ,
	[Reply_Date] [datetime] NULL 
) ON [PRIMARY]
GO

