if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CRM]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[CRM]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[cate_adminuser]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[cate_adminuser]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[users]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[users]
GO

CREATE TABLE [dbo].[CRM] (
	[Crm_Id] [int] IDENTITY (1, 1) NOT NULL ,
	[To_Meno] [int] NULL ,
	[To_Staff] [int] NULL ,
	[Crm_Title] [varchar] (255) COLLATE Chinese_PRC_CI_AS NULL ,
	[Crm_Date] [datetime] NULL ,
	[Crm_Annex] [varchar] (255) COLLATE Chinese_PRC_CI_AS NULL ,
	[Crm_Content] [varchar] (4000) COLLATE Chinese_PRC_CI_AS NULL ,
	[From_Meno] [int] NULL ,
	[From_Staff] [int] NULL ,
	[Crm_State] [bit] NULL ,
	[Send_State] [bit] NULL ,
	[Get_State] [bit] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[cate_adminuser] (
	[id] [int] IDENTITY (1, 1) NOT NULL ,
	[code] [varchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,
	[meno] [varchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,
	[bank] [varchar] (150) COLLATE Chinese_PRC_CI_AS NULL ,
	[bankcode] [varchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,
	[contactman] [varchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,
	[tel] [varchar] (100) COLLATE Chinese_PRC_CI_AS NULL ,
	[ord] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[users] (
	[id] [int] IDENTITY (1, 1) NOT NULL ,
	[userID] [varchar] (50) COLLATE Chinese_PRC_CI_AS NOT NULL ,
	[name] [varchar] (50) COLLATE Chinese_PRC_CI_AS NOT NULL ,
	[password] [varchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,
	[SafePass] [varchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,
	[userqx] [varchar] (100) COLLATE Chinese_PRC_CI_AS NULL ,
	[realname] [varchar] (100) COLLATE Chinese_PRC_CI_AS NULL ,
	[Email] [varchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,
	[EmailPass] [varchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,
	[closeflag] [int] NOT NULL ,
	[ClosePart] [int] NULL ,
	[userbg] [varchar] (10) COLLATE Chinese_PRC_CI_AS NULL ,
	[adminuserid] [varchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,
	[assignflag] [int] NULL ,
	[assignPub] [int] NULL ,
	[vipcount] [int] NULL 
) ON [PRIMARY]
GO

