if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CC_Update_CRM_isRequest]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[CC_Update_CRM_isRequest]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE CC_Update_CRM_isRequest
(
	@Crm_Id int,
	@To_Staff int,
	@return int output
)
 AS 
if not exists(select CRM_ID from CRM where Crm_Id=@Crm_Id and isrequest=0)

	set @return=-1
else

begin

	update crm set isrequest=1,to_staff=@To_Staff where crm_id=@Crm_id
	
	set @return=1

end
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

