##非生意管家模板，没有生意管家各种功能菜单
<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
    <title>$!{seoTitle}</title>
    <meta name="keywords" content="$!{seoKeywords}" />
    <meta name="description" content="$!{seoDescription}" />

	#parse("/common/importNorm.vm")
	
	#parse("/common/import.vm")
	
</head>
<body>
    #cacheFragment("$!{address.fragment}/fragment/www/topbar.htm?loginName=$!{epAuthUser.account}", "", "", "")
		$!{fragmentContext}
    #end
	#parse("/common/registHeader.vm")
    $screen_content
	#cacheFragment("$!{address.fragment}/fragment/page/footer.htm", "", "", "")
		$!{fragmentContext}
    #end
</body>
</html>