body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../留言管理-回收站_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:9px;
    top:9px;
    width:961px;
    height:37px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:37px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../留言管理-回收站_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:52px;
    width:156px;
    height:66px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:156px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:25px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../留言管理-回收站_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:171px;
    top:53px;
    width:110px;
    height:61px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:67px;
}

.u5 {
    position:absolute;
    left:2px;
    top:23px;
    width:106px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../留言管理-回收站_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:298px;
    top:99px;
    width:502px;
    height:61px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:502px;
    height:61px;
}

.u7 {
    position:absolute;
    left:2px;
    top:22px;
    width:498px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../留言管理-回收站_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:12px;
    top:129px;
    width:952px;
    height:35px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:958px;
    height:41px;
}

.u9 {
    position:absolute;
    left:2px;
    top:10px;
    width:948px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_menu {
    background-image: url('../留言管理-回收站_files/u10_menu.png');
}

.u10_menu {
    position:absolute;
    left:20px;
    top:131px;
    width:515px;
    height:35px;
}

#u10_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:512px;
    height:32px;
}

#u11 {
    position:absolute;
    left:3px;
    top:3px;
    width:505px;
    height:25px
}

.u12_mouseOver {
    background-image: url('../留言管理-回收站_files/u12_mouseOver.png');
}

.u12_normal {
    background-image: url('../留言管理-回收站_files/u12_mouseOver.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_mouseOver {
    background-image: url('../留言管理-回收站_files/u12_mouseOver.png');
}

.u14_normal {
    background-image: url('../留言管理-回收站_files/u12_mouseOver.png');
}

.u14_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_mouseOver {
    background-image: url('../留言管理-回收站_files/u12_mouseOver.png');
}

.u16_normal {
    background-image: url('../留言管理-回收站_files/u12_mouseOver.png');
}

.u16_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_mouseOver {
    background-image: url('../留言管理-回收站_files/u12_mouseOver.png');
}

.u18_normal {
    background-image: url('../留言管理-回收站_files/u12_mouseOver.png');
}

.u18_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_mouseOver {
    background-image: url('../留言管理-回收站_files/u12_mouseOver.png');
}

.u20_normal {
    background-image: url('../留言管理-回收站_files/u12_mouseOver.png');
}

.u20_container {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../留言管理-回收站_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:12px;
    top:210px;
    width:952px;
    height:223px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:958px;
    height:229px;
}

.u23 {
    position:absolute;
    left:2px;
    top:104px;
    width:948px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_line {
    background-image: url('../留言管理-回收站_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:0px;
    top:4px;
    width:952px;
    height:3px;
}

.u24 {
    position:absolute;
    left:12px;
    top:235px;
    width:952px;
    height:10px;
    
}

.u26 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:16px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:16px;
    top:0px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_line {
    background-image: url('../留言管理-回收站_files/u41_line.png');
}

.u41_line {
    position:absolute;
    left:0px;
    top:4px;
    width:952px;
    height:3px;
}

.u41 {
    position:absolute;
    left:12px;
    top:399px;
    width:952px;
    height:10px;
    
}

.u42 {
    position:absolute;
    left:83px;
    top:218px;
    width:64px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:335px;
    top:218px;
    width:65px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:512px;
    top:218px;
    width:34px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:503px;
    top:250px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:89px;
    top:409px;
    width:71px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:202px;
    top:447px;
    width:31px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:252px;
    top:447px;
    width:47px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:461px;
    top:447px;
    width:47px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:563px;
    top:447px;
    width:47px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../留言管理-回收站_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:606px;
    top:443px;
    width:58px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:671px;
    top:446px;
    width:47px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:309px;
    top:448px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_menu {
    background-image: url('../留言管理-回收站_files/u55_menu.png');
}

.u55_menu {
    position:absolute;
    left:9px;
    top:171px;
    width:315px;
    height:35px;
}

#u55_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:32px;
}

#u56 {
    position:absolute;
    left:3px;
    top:3px;
    width:305px;
    height:25px
}

.u57_mouseOver {
    background-image: url('../留言管理-回收站_files/u12_mouseOver.png');
}

.u57_normal {
    background-image: url('../留言管理-回收站_files/u12_mouseOver.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_mouseOver {
    background-image: url('../留言管理-回收站_files/u12_mouseOver.png');
}

.u59_normal {
    background-image: url('../留言管理-回收站_files/u12_mouseOver.png');
}

.u59_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_mouseOver {
    background-image: url('../留言管理-回收站_files/u12_mouseOver.png');
}

.u61_normal {
    background-image: url('../留言管理-回收站_files/u12_mouseOver.png');
}

.u61_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_line {
    background-image: url('../留言管理-回收站_files/u63_line.png');
}

.u63_line {
    position:absolute;
    left:0px;
    top:4px;
    width:952px;
    height:3px;
}

.u63 {
    position:absolute;
    left:12px;
    top:500px;
    width:952px;
    height:10px;
    
}

.u64 {
    position:absolute;
    left:1016px;
    top:250px;
    width:71px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:831px;
    top:91px;
    width:117px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:800px;
    top:58px;
    width:125px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_menu {
    background-image: url('../留言管理-回收站_files/u67_menu.png');
}

.u67_menu {
    position:absolute;
    left:922px;
    top:50px;
    width:48px;
    height:37px;
}

#u67_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:34px;
}

#u68 {
    position:absolute;
    left:3px;
    top:3px;
    width:38px;
    height:27px
}

.u69_mouseOver {
    background-image: url('../留言管理-回收站_files/u69_mouseOver.png');
}

.u69_normal {
    background-image: url('../留言管理-回收站_files/u69_mouseOver.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:22px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:39px;
    height:28px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:29px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:54px;
    top:249px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:298px;
    top:249px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

