#set($layout="/layout/blank.vm")

<link rel="stylesheet" type="text/css" href="$!{address.img}/front/css/zz91.base.css"/>
<link rel="stylesheet" type="text/css" href="$!{address.img}/zz91/newsample/css/style.css">
<script type="text/javascript" src="$!{address.img}/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js"></script>
<script type="text/javascript" src="$!{address.img}/front/js/search/zz91.search.js"></script>
<script type="text/javascript" src="$!{address.img}/zz91/newsample/js/jquery.lightbox_me.js"></script>
<link rel="stylesheet" type="text/css" href="$!{address.img}/zz91/newsample/css/IntegralExchange.css"/>
<style>
caption, th {
text-align: center;
}
a:hover {text-decoration:none} 
</style>

  <script language="javascript">
	function go_nyzx() {
			window.open("#springUrl('/nyzx.htm')");
	}
</script>

<body   onunload="javascript:parent.window.location.reload();">
	
	#if($!{result} == 1)
   <div id="partDH1">
        <div class="tpSuc">
        	<img src="$!{address.img}/zz91/sample/score/images/suc.jpg" />
            <span>兑换成功！</span>
        </div>	
   </div>
	#elseif($!{result} == 0)
   <div id="lessDH" align="center">
        <div class="tpDL">
        	<dl>
                <dd>您的积分不足，还不能兑换该奖品</dd>
            </dl>
        </div>	
        <div class="lessDH"  onclick="go_nyzx();">快去拿样，获积分</div>
   </div>
	#elseif($!{result} == -1)
   <div id="lessDH" align="center">
        <div class="tpDL">
        	<dl>
                <dd>该奖品已兑换完 ，请选择其他奖品</dd>
            </dl>
        </div>	
   </div>
	#elseif($!{result} == 9)
   <div id="lessDH" align="center">
        <div class="tpDL">
        	<dl>
				<!-- 
                <dd>您还未登录，请先<a href="http://www.zz91.com/login.htm"  target="_blank">登录</a>！</dd>
				-->
                <dd>您还未登录，请先登录！</dd>
            </dl>
        </div>	
   </div>
   #else 
   <div id="lessDH" align="center">
        <div class="tpDL">
        	<dl>
                <dd>系统异常，请稍后再试！</dd>
            </dl>
        </div>	
   </div>
  #end
</body>