#set( $layout = "/layout/innerPageLayout.vm" )
<p>
    <a href="#springUrl('/mymessage/groups.htm')">返回留言分组列表</a>
</p>
<form id="form1" name="form1" method="post" action="#springUrl('/mymessage/doUpdateGroup.htm')">
	<input type="hidden" id="id" name="id" value="$!{id}" />
    <div class="control-groups">
        <label for="" class="control-label">
            <span class="red">*</span>分组：
        </label>
        <div class="controls">
    		<input type="text" name="name"  id="name" class="field validate[required,maxSize[30]]" value="$!{name}">
    	</div>
	</div>
	<div class="form-acitons">
		<input type="submit" id="submitBtn" value="提 交" class="btn btn-primary"> 
    </div>
</form>
#parse("/common/importValidate.vm")
<script>
jQuery(function(){
	jQuery("#form1").validationEngine({promptPosition:"bottomRight"});
	jQuery("#form1").validationEngine("attach");
});
</script>