body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../搜空页面-求购_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:11px;
    top:6px;
    width:961px;
    height:37px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:37px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../搜空页面-求购_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:12px;
    top:51px;
    width:193px;
    height:65px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:65px;
}

.u3 {
    position:absolute;
    left:2px;
    top:24px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:738px;
    top:91px;
    width:220px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../搜空页面-求购_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:12px;
    top:135px;
    width:954px;
    height:25px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:960px;
    height:31px;
}

.u6 {
    position:absolute;
    left:2px;
    top:5px;
    width:950px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../搜空页面-求购_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:781px;
    top:134px;
    width:185px;
    height:26px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:191px;
    height:32px;
}

.u8 {
    position:absolute;
    left:2px;
    top:6px;
    width:181px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../搜空页面-求购_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:955px;
    height:3px;
}

.u9 {
    position:absolute;
    left:11px;
    top:120px;
    width:955px;
    height:10px;
    
}

.u10_normal {
    background-image: url('../搜空页面-求购_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:11px;
    top:180px;
    width:955px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:961px;
    height:36px;
}

.u11 {
    position:absolute;
    left:2px;
    top:8px;
    width:951px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:96px;
    top:242px;
    width:150px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:322px;
    top:275px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:96px;
    top:280px;
    width:216px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:502px;
    top:275px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:96px;
    top:317px;
    width:130px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_menu {
    background-image: url('../搜空页面-求购_files/u17_menu.png');
}

.u17_menu {
    position:absolute;
    left:223px;
    top:307px;
    width:315px;
    height:35px;
}

#u17_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:32px;
}

#u18 {
    position:absolute;
    left:3px;
    top:3px;
    width:305px;
    height:25px
}

.u19_mouseOver {
    background-image: url('../搜空页面-求购_files/u19_mouseOver.png');
}

.u19_normal {
    background-image: url('../搜空页面-求购_files/u19_mouseOver.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_mouseOver {
    background-image: url('../搜空页面-求购_files/u19_mouseOver.png');
}

.u21_normal {
    background-image: url('../搜空页面-求购_files/u19_mouseOver.png');
}

.u21_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_mouseOver {
    background-image: url('../搜空页面-求购_files/u19_mouseOver.png');
}

.u23_normal {
    background-image: url('../搜空页面-求购_files/u19_mouseOver.png');
}

.u23_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../搜空页面-求购_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:11px;
    top:400px;
    width:955px;
    height:549px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:961px;
    height:555px;
}

.u26 {
    position:absolute;
    left:2px;
    top:266px;
    width:951px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:28px;
    top:414px;
    width:161px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_line {
    background-image: url('../搜空页面-求购_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:4px;
    width:955px;
    height:3px;
}

.u28 {
    position:absolute;
    left:11px;
    top:439px;
    width:955px;
    height:10px;
    
}

.u29 {
    position:absolute;
    left:96px;
    top:352px;
    width:265px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:361px;
    top:346px;
    width:126px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31_normal {
    background-image: url('../搜空页面-求购_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:37px;
    top:459px;
    width:142px;
    height:150px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:156px;
}

.u32 {
    position:absolute;
    left:2px;
    top:67px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:38px;
    top:621px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:38px;
    top:643px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../搜空页面-求购_files/u31_normal.png');
}

.u35_container {
    position:absolute;
    left:216px;
    top:459px;
    width:142px;
    height:150px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:156px;
}

.u36 {
    position:absolute;
    left:2px;
    top:67px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:217px;
    top:621px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:217px;
    top:644px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../搜空页面-求购_files/u31_normal.png');
}

.u39_container {
    position:absolute;
    left:389px;
    top:459px;
    width:142px;
    height:150px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:156px;
}

.u40 {
    position:absolute;
    left:2px;
    top:67px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:390px;
    top:621px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:390px;
    top:644px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../搜空页面-求购_files/u31_normal.png');
}

.u43_container {
    position:absolute;
    left:560px;
    top:459px;
    width:142px;
    height:150px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:156px;
}

.u44 {
    position:absolute;
    left:2px;
    top:67px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:561px;
    top:621px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:561px;
    top:646px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../搜空页面-求购_files/u31_normal.png');
}

.u47_container {
    position:absolute;
    left:36px;
    top:699px;
    width:142px;
    height:150px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:156px;
}

.u48 {
    position:absolute;
    left:2px;
    top:67px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:37px;
    top:861px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:37px;
    top:884px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../搜空页面-求购_files/u31_normal.png');
}

.u51_container {
    position:absolute;
    left:215px;
    top:699px;
    width:142px;
    height:150px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:156px;
}

.u52 {
    position:absolute;
    left:2px;
    top:67px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:216px;
    top:861px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:216px;
    top:884px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../搜空页面-求购_files/u31_normal.png');
}

.u55_container {
    position:absolute;
    left:388px;
    top:699px;
    width:142px;
    height:150px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:156px;
}

.u56 {
    position:absolute;
    left:2px;
    top:67px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:389px;
    top:861px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:389px;
    top:884px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../搜空页面-求购_files/u31_normal.png');
}

.u59_container {
    position:absolute;
    left:559px;
    top:699px;
    width:142px;
    height:150px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:156px;
}

.u60 {
    position:absolute;
    left:2px;
    top:67px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:560px;
    top:861px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:560px;
    top:884px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:58px;
    top:664px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u64 {
    position:absolute;
    left:238px;
    top:664px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u65 {
    position:absolute;
    left:404px;
    top:664px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u66 {
    position:absolute;
    left:584px;
    top:664px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67 {
    position:absolute;
    left:57px;
    top:908px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u68 {
    position:absolute;
    left:237px;
    top:908px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u69 {
    position:absolute;
    left:405px;
    top:908px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u70 {
    position:absolute;
    left:583px;
    top:908px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u71_line {
    background-image: url('../搜空页面-求购_files/u71_line.png');
}

.u71_line {
    position:absolute;
    left:0px;
    top:4px;
    width:954px;
    height:3px;
}

.u71 {
    position:absolute;
    left:12px;
    top:968px;
    width:954px;
    height:10px;
    
}

.u72_normal {
    background-image: url('../搜空页面-求购_files/u31_normal.png');
}

.u72_container {
    position:absolute;
    left:739px;
    top:459px;
    width:142px;
    height:150px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:156px;
}

.u73 {
    position:absolute;
    left:2px;
    top:67px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:740px;
    top:621px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:740px;
    top:646px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../搜空页面-求购_files/u31_normal.png');
}

.u76_container {
    position:absolute;
    left:738px;
    top:699px;
    width:142px;
    height:150px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:156px;
}

.u77 {
    position:absolute;
    left:2px;
    top:67px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:739px;
    top:861px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:739px;
    top:884px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:763px;
    top:664px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u81 {
    position:absolute;
    left:762px;
    top:908px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u82_menu {
    background-image: url('../搜空页面-求购_files/u82_menu.png');
}

.u82_menu {
    position:absolute;
    left:247px;
    top:51px;
    width:315px;
    height:35px;
}

#u82_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:32px;
}

#u83 {
    position:absolute;
    left:3px;
    top:3px;
    width:305px;
    height:25px
}

.u84_mouseOver {
    background-image: url('../搜空页面-求购_files/u19_mouseOver.png');
}

.u84_normal {
    background-image: url('../搜空页面-求购_files/u19_mouseOver.png');
}

.u84_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u85 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_mouseOver {
    background-image: url('../搜空页面-求购_files/u19_mouseOver.png');
}

.u86_normal {
    background-image: url('../搜空页面-求购_files/u19_mouseOver.png');
}

.u86_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u87 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_mouseOver {
    background-image: url('../搜空页面-求购_files/u19_mouseOver.png');
}

.u88_normal {
    background-image: url('../搜空页面-求购_files/u19_mouseOver.png');
}

.u88_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u89 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:250px;
    top:90px;
    width:410px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u91 {
    position:absolute;
    left:670px;
    top:90px;
    width:58px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

