<form action="caiji_ometal.htm">
    <select name="typeId" >
        <option value="81">金属粉末(81) -- 全球金属网</option>
        <option value="80">小金属(80) -- 全球金属网</option>
        <option value="79">基本金属(79) -- 全球金属网</option>
        <option value="86">贵金属(86) -- 全球金属网</option>
		<option value="210">长江有色(210) -- 全球金属网</option>
    </select>
    <input type="submit" value="采集" />
</form>
<form action="caiji_feijiu.htm">
    <select name="feijiuTypeId" >
        <option value="20">全国废塑料行情(20) -- 废旧网</option>
		<option value="62">美国价格(62) -- 废旧网</option>
		<option value="63">欧洲价格(63) -- 废旧网</option>
    </select>

    <input type="submit" value="采集" />
</form>

<form action="caiji_albb.htm">
    <select name="albbTypeId" >
        <option value="217">塑料早间评论(217) -- 阿里巴巴</option>
    </select>
    <input type="submit" value="采集" />
</form>

<form action="caiji_cs.htm">
    <select name="csTypeId" >
        <option value="216">金属早晚评(216) -- 中证期货</option>
    </select>
    <input type="submit" value="采集" />
</form>

<form action="caiji_XGX.htm">
    <select name="typeId" >
        <option value="216">钢铁早晚评(216) -- 新干线 </option>
    </select>
    <input type="submit" value="采集" />
</form>

<form action="caiji_steelcn.htm">
    <select name="typeId" >
        <option value="216">钢铁资讯(216) -- 中国钢材网 </option>
    </select>
    <input type="submit" value="采集" />
</form>

<form action="caiji_kms.htm">
    <select name="typeId" >
        <option value="42">全国氧化铁皮(42) -- 矿秘书网 </option>
    </select>
    <input type="submit" value="采集" />
</form>

<form action="caiji_albb_ys.htm">
    <select name="typeId" >
        <option value="65">有色金属(65) -- 阿里巴巴 </option>
    </select>
    <input type="submit" value="采集" />
</form>

<form action="caiji_fb.htm">
    <select name="typeId" >
        <option value="40">废铜(40) -- 富宝 </option>
		<option value="41">废铝(41) -- 富宝 </option>
		<option value="52">废电瓶(52) -- 富宝 </option>
		<option value="43">废铅废锌(43) -- 富宝 </option>
		<option value="308">废锡(308) -- 富宝 </option>
    </select>
    <input type="submit" value="采集" />
</form>

<form action="caiji_zhijin.htm">
    <select name="typeId" >
        <option value="279">废钢/生铁(279) -- 志金钢铁 </option>
    </select>
    <input type="submit" value="采集" />
</form>

<form action="caiji_lzzz.htm">
	<select name="typeId" >
		<option value="217">废塑料评论(217) -- 中塑资讯 </option>
		<option value="233">塑料期货(233) -- 中塑资讯 </option>
	</select>
	<input type="submit" value="采集" />
</form>
<p style="color:red;">------------------------------------第三期-----------------------------------------</p>

<form action="caiji_metalscrap.htm">
    <select name="typeId" >
        <option value="216">LME/COMEX/预测(216) -- 金属废料资源网 </option>
    </select>
    <input type="submit" value="采集" />
</form>
<form action="caiji_cnal_metal.htm">
    <select name="typeId" >
        <option value="216">国际废旧金属现货(216) -- 中铝网</option>
    </select>
    <input type="submit" value="采集" />
</form>

<form action="caiji_ometal_metal.htm">
    <select name="typeId" >
        <option value="216">废旧金属现货(216) -- 全球金属网</option>
    </select>
    <input type="submit" value="采集" />
</form>
<!-- httpClientHtml读取内容-->
<form action="caiji_ometal_LME.htm">
    <select name="typeId" >
        <option value="70">LME基本金属(70) -- 全球金属网 </option>
    </select>
    <input type="submit" value="采集" />
</form>
<form action="caiji_albb_iron.htm">
    <select name="typeId" >
        <option value="66">生铁(66) -- 阿里巴巴 </option>
		<option value="45">废钢(45) -- 阿里巴巴 </option>
    </select>
    <input type="submit" value="采集" />
</form>
<form action="caiji_cs_discussMorning.htm">
    <select name="typeId" >
        <option value="34">废塑料早评(34) -- 中证网(早间) </option>
		<option value="220">废橡胶早评(220) -- 中证网(早间) </option>
    </select>
    <input type="submit" value="采集" />
</form>
<!-- 到此结束-->
<form action="caiji_cs_discussEvening.htm">
    <select name="typeId" >
        <option value="34">废塑料晚评(34) -- 中证网(晚间) </option>
		<option value="220">废橡胶晚评(220) -- 中证网(晚间) </option>
    </select>
    <input type="submit" value="采集" />
</form>
<form action="caiji_lzzz_plastic.htm">
    <select name="typeId" >
        <option value="">塑料市场价(60下子类) -- 中塑资讯 </option>
    </select>
    <input type="submit" value="采集" />
</form>

<form action="caiji_albb_recycledPlasticOne.htm">
    <select name="typeId" >
        <option value="98">塑料再生料1(98) -- 阿里巴巴—资讯塑料 </option>
    </select>
    <input type="submit" value="采集" />
</form>

<form action="caiji_albb_recycledPlasticTwo.htm">
    <select name="typeId" >
        <option value="98">塑料再生料2(98) -- 阿里巴巴—资讯塑料 </option>
    </select>
    <input type="submit" value="采集" />
</form>

------------------------------------<font style="color:red">第四期</font>-----------------------------------------
<form action="caiji_lzzz_oilexpress.htm">
	<select name="typeId" >
		<option value="190">油价快报(190) -- 中塑资讯网 </option>
	</select>
	<input type="submit" value="采集" />
</form>
<form action="caiji_lzzz_oilcity.htm">
	<select name="typeId" >
		<option value="220">油市早报/分析(220) -- 中塑网 </option>
	</select>
	<input type="submit" value="采集" />
</form>
<form action="caiji_shfe.htm">
	<select name="typeId" >
		<option value="69">沪锌(69) -- 上海期货交易所 </option>
		<option value="71">沪铝(71) -- 上海期货交易所 </option>
		<option value="72">沪铜(72) -- 上海期货交易所 </option>
		<option value="206">沪钢(206) -- 上海期货交易所 </option>
	</select>
	<input type="submit" value="采集" />
</form>
<form action="caiji_ometal_huatong.htm">
	<select name="typeId" >
		<option value="208">华通贵金属(208) -- 全球金属网 </option>
	</select>
	<input type="submit" value="采集" />
</form>
<form action="caiji_ometal_huatongspot.htm">
	<select name="typeId" >
		<option value="83">华通现货(83) -- 全球金属网 </option>
	</select>
	<input type="submit" value="采集" />
</form>
<form action="caiji_feijs_scrap.htm">
	<select name="typeId" >
		<option value="42">废铁(42) -- 废金属资讯网 </option>
	</select>
	<input type="submit" value="采集" />
</form>
<form action="caiji_worldscrap_wasteplastics.htm">
	<select name="typeId" >
		<option value="">各地废塑料市场(22下子类) -- 世界废料网 </option>
	</select>
	<input type="submit" value="采集" />
</form>
<form action="caiji_albb_yuyaoplastics.htm">
	<select name="typeId" >
		<option value="110">余姚塑料市场(110) -- 阿里巴巴 </option>
	</select>
	<input type="submit" value="采集" />
</form>
<form action="caiji_albb_petrifaction.htm">
	<select name="typeId" >
		<option value="61">国内石化(61) -- 阿里巴巴 </option>
	</select>
	<input type="submit" value="采集" />
</form>
<form action="caiji_feijiu_pager.htm">
	<select name="typeId" >
		<option value="23">废纸市场动态(23) -- 废旧网 </option>
	</select>
	<input type="submit" value="采集" />
</form>
<form action="caiji_lzzz_domesticrubber.htm">
	<select name="typeId" >
		<option value="30">国内橡胶(30) -- 中塑资讯 </option>
	</select>
	<input type="submit" value="采集" />
</form>
<form action="caiji_feijiu_eachcountry.htm">
	<select name="typeId" >
		<option value="">各国废旧纸(废纸13下子类) -- 废旧网 </option>
	</select>
	<input type="submit" value="采集" />
</form>

