        <link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
        <link rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.base.css" />
        <link rel="stylesheet" href="http://img0.zz91.com/zz91/polymer/css/library-cp.css" />
        <script src="http://img0.zz91.com/lib/jquery/jquery-1.9.1.js"></script>  
		#set($layout="/layout/yuanliaoLayout.vm")
		#set($in="2")
        <div class="pagecenter">
            <div class="bandinfo clearfix">
                <div class="newbuy fl">
                    <div class="lessinfo">
                        <span class="updata-time fl">$!{NewDate}</span>
                        <span class="fr">新增求购信息量：<em class="orange-color">30</em></span>
                    </div>

                    <div class="clearfix title-div">
                        <span class="fl newtitle">最新求购信息</span>
                        <a href="#springUrl('/qg/')" class="fr seemore" target="_blank">查看更多</a>
                    </div>

                    <div class="buylist">
                        <ul class="buylist-ul">
							#foreach($li in $list)
                            <li class="clearfix">
                                <a href="#springUrl('/detail/')$!{li.yuanliao.id}.html" target="_blank" class="fl">#printTitle($!{li.yuanliao.title} 14 '...')</a>
                                <span class="fr">$!{li.yuanliao.quantity}$!{li.yuanliao.unit}</span>
                            </li>
							#end
                        </ul>
                    </div>
                </div>

                <div class="bandsee fl">
                    <div class="clearfix band-mo-first">
                        <div class="bandimg fl"></div>
                        <div class="cmyall fr">
						#cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/indexByCode.htm?code=10231006&size=3", "", "", "")
						#foreach($index in $!list)
                            <div class="cmymo">
                                <div class="cmymo-img"><a href="$!{index.link}" target="_blank"><img src="$!{address.resource}/$!{index.pic}" width="118px" height="44px" /></a></div>
								<div class="cmymo-name">
                                    <a href="$!{index.link}">#printTitle($!{index.title} 8 '...')</a>
                                </div>
							</div>
						#end
						#end
                        </div>
                    </div>
                    <div class="band-mo-secend">
                        <ul class="band-obj clearfix">
							#cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/indexByCode.htm?code=10231007&size=3","","","")
							#foreach($index in $!list)
                            <li>
                                <div class="band-obj-img"><a href="$!{index.link}" target="_blank"><img src="$!{address.resource}/$!{index.pic}" width="150px" height="391px"></a></div>
                                <div class="band-obj-name"><a href="$!{index.link}">$!{index.title}</a></div>
                            </li>
							#end
							#end
                        </ul>
                    </div>
                </div>

                <div class="rightmation fr">
                    <div class="release">
                        <div class="release-name clearfix">
                            <span class="btright this-release">我是采购商</span>
                            <span>我是供应商</span>
                        </div>
                        <a  class="release-type release-btn">发布求购</a>
                        <a  class="release-type">发布供应</a>
                        <a href="#springUrl('/user/register.html')" target="_blank" class="cpa">免费注册</a>
                    </div>
                    <div class="upto-date">
                        <h2 class="upto-titel">原料市场最新动态</h2>
                        <div class="upto-list">
                            <ul class="upto-list-ul">
								#foreach($obj in $priceDO)
                                <li><a href="#springUrl('/price/cdetail')$!{obj.id}.html" target="_blank" class="fl">#printTitle("${obj.title}" 15 "...")</a><span class="fr">#printFragmentDate("MM-dd" $!{obj.gmtCreated})</span></li>
								#end
                            </ul>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="cate">
                <div class="clearfix citylost">
                    <h3 class="fl tytitle">产品分类</h3>
                    <div class="fr citymore">
                        <span class="orange-color">热门地区：</span>
                        <a href="#springUrl('/gd/gy/')" class="cityname" target="_blank">广东</a>
                        <a href="#springUrl('/zj/gy/')" class="cityname" target="_blank">浙江</a>
                        <a href="#springUrl('/js/gy/')" class="cityname" target="_blank">江苏</a>
                        <a href="#springUrl('/sh/gy/')" class="cityname" target="_blank">上海</a>
                        <a href="#springUrl('/bj/gy/')" class="cityname" target="_blank">北京</a>
                    </div>
                </div>

                <div class="clearfix allproperty">
                    <div class="fl property-tt"><a href="#springUrl('/gppla/gy/')" target="_blank">通用塑料</a></div>
                    <ul class="fl property-ul">
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/abs/gy/')" class="orange-color" target="_blank">ABS</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/abs/c7/gy/')" target="_blank">LG化学</a>
                                <a href="#springUrl('/abs/c9/gy/')" target="_blank">德国巴斯夫</a>
                                <a href="#springUrl('/abs/c10/gy/')" target="_blank">韩国LG</a>
                                <a href="#springUrl('/abs/c14/gy/')" target="_blank">日本东丽</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/gpps/gy/')" class="orange-color" target="_blank">GPPS</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/gpps/c22/gy/')" target="_blank">广州石化</a>
                                <a href="#springUrl('/gpps/c24/gy/')" target="_blank">宁波台化</a>
                                <a href="#springUrl('/gpps/c27/gy/')" target="_blank">台湾奇美</a>
                                <a href="#springUrl('/gpps/c25/gy/')" target="_blank">日本电气化学</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/hdpe/gy/')" class="orange-color" target="_blank">HDPE</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/hdpe/c36/gy/')" target="_blank">埃克森美孚</a>
                                <a href="#springUrl('/hdpe/c37/gy/')" target="_blank">北欧化工</a>
                                <a href="#springUrl('/hdpe/c43/gy/')" target="_blank">美国陶氏</a>
                                <a href="#springUrl('/hdpe/c38/gy/')" target="_blank">大庆石化</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/hips/gy/')" class="orange-color" target="_blank">HIPS</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/hips/c56/gy/')" target="_blank">韩国锦湖</a>
                                <a href="#springUrl('/hips/c58/gy/')" target="_blank">上海赛科</a>
                                <a href="#springUrl('/hips/c60/gy/')" target="_blank">台湾奇美</a>
                                <a href="#springUrl('/hips/c64/gy/')" target="_blank">扬子巴斯夫</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="fl property-ul">
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/ldpe/gy/')" class="orange-color" target="_blank">LDPE</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/ldpe/c76/gy/')" target="_blank">齐鲁石化</a>
                                <a href="#springUrl('/ldpe/c75/gy/')" target="_blank">美国陶氏</a>
                                <a href="#springUrl('/ldpe/c69/gy/')" target="_blank">大庆石化</a>
                                <a href="#springUrl('/ldpe/c68/gy/')" target="_blank">埃克森美孚</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/lldpe/gy/')" class="orange-color" target="_blank">LLDPE</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/lldpe/c97/gy/')" target="_blank">扬子石化</a>
                                <a href="#springUrl('/lldpe/c95/gy/')" target="_blank">上海赛科</a>
                                <a href="#springUrl('/lldpe/c87/gy/')" target="_blank">北欧化工</a>
                                <a href="#springUrl('/lldpe/c90/gy/')" target="_blank">韩国三星</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/pp/gy/')" class="orange-color" target="_blank">PP</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/pp/c101/gy/')" target="_blank">北欧化工</a>
                                <a href="#springUrl('/pp/c102/gy/')" target="_blank">燕山石化</a>
                                <a href="#springUrl('/pp/c104/gy/')" target="_blank">韩国SK</a>
                                <a href="#springUrl('/pp/c106/gy/')" target="_blank">韩国晓星</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big">
                                <span class="pt-big-span"><a href="#springUrl('/pvc/gy/')" class="orange-color" target="_blank">PVC</a></span>
                                <span class="other-sl"><a href="#springUrl('/qttysl/gy/')" class="orange-color" target="_blank">其他通用塑料</a></span>
                            </div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/pvc/c122/gy/')" target="_blank">齐鲁石化</a>
                                <a href="#springUrl('/pvc/c123/gy/')" target="_blank">台湾台塑</a>
                                <a href="#springUrl('/pvc/c124/gy/')" target="_blank">台湾塑胶</a>
                                <a href="#springUrl('/pvc/c118/gy/')" target="_blank">LG化学</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="fr see-ptpro clearfix">
						#cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/queryYuanliaoByCondition.htm?code=200910001000&size=4&pic=1&1", "", "", "")
						#foreach($li in $!list)
                        <li>
                            <div class="see-ptpro-img"><a href="#springUrl('/detail/')$!{li.yuanliao.id}.html" target="_blank"><img src="$!{address.thumb}/$!{address.resource}/$!{li.picAddress}" width="150px" height="110px"/></a></div>
							<p class="see-ptpro-name"><a href="#springUrl('/detail')/$!{li.yuanliao.id}.html" target="_blank" title="$!{li.yuanliao.title}">#printTitle($!{li.yuanliao.title} 8 '...')</a></p>
                        </li>
						#end
						#end
                    </ul>
                </div>

                <div class="clearfix allproperty">
                    <div class="fl property-tt property-tt2"><a href="#springUrl('/enpla/gy/')" target="_blank">工程塑料</a></div>
                    <ul class="fl property-ul">
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/eva/gy/')" class="orange-color" target="_blank">EVA</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/eva/c172/gy/')" target="_blank">美国杜邦</a>
                                <a href="#springUrl('/eva/c173/gy/')" target="_blank">日本三井</a>
                                <a href="#springUrl('/eva/c174/gy/')" target="_blank">台湾台塑</a>
                                <a href="#springUrl('/eva/c178/gy/')" target="_blank">日本住友</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/pa6/gy/')" class="orange-color" target="_blank">PA6</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/pa6/c227/gy/')" target="_blank">德国巴斯夫</a>
                                <a href="#springUrl('/pa6/c228/gy/')" target="_blank">德国拜耳</a>
                                <a href="#springUrl('/pa6/c230/gy/')" target="_blank">荷兰DSM</a>
                                <a href="#springUrl('/pa6/c233/gy/')" target="_blank">日本东丽</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/pbt/gy/')" class="orange-color" target="_blank">PBT</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/pbt/c281/gy/')" target="_blank">德国巴斯夫</a>
                                <a href="#springUrl('/pbt/c283/gy/')" target="_blank">美国杜邦</a>
                                <a href="#springUrl('/pbt/c282/gy/')" target="_blank">德国朗盛</a>
                                <a href="#springUrl('/pbt/c286/gy/')" target="_blank">日本三菱</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/pc/gy/')" class="orange-color" target="_blank">PC</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/pc/c297/gy/')" target="_blank">德国拜耳</a>
                                <a href="#springUrl('/pc/c299/gy/')" target="_blank">日本帝人</a>
                                <a href="#springUrl('/pc/c298/gy/')" target="_blank">韩国LG</a>
                                <a href="#springUrl('/pc/c303/gy/')" target="_blank">日本三菱</a>
                            </div>
                        </li>
                        <li>
                            <span class="tcall"><a href="#springUrl('/as/gy/')" target="_blank">AS</a></span>
                            <span class="tcall"><a href="#springUrl('/asa/gy/')" target="_blank">ASA</a></span>
                            <span class="tcall"><a href="#springUrl('/eps/gy/')" target="_blank">EPS</a></span>
                            <span class="tcall"><a href="#springUrl('/kj/gy/')" target="_blank">K胶</a></span>
                            <span class="tcall"><a href="#springUrl('/mbs/gy/')" target="_blank">MBS</a></span>
                            <span class="tcall"><a href="#springUrl('/pa1010/gy/')" target="_blank">PA1010</a></span>
                        </li>
                    </ul>
                    <ul class="fl property-ul">
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/pet/gy/')" class="orange-color" target="_blank">PET</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/pet/c311/gy/')" target="_blank">美国杜邦</a>
                                <a href="#springUrl('/pet/c312/gy/')" target="_blank">德国巴斯夫</a>
                                <a href="#springUrl('/pet/c316/gy/')" target="_blank">惠州南亚</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/pmma/gy/')" class="orange-color" target="_blank">PMMA</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/pmma/c331/gy/')" target="_blank">日本旭化成</a>
                                <a href="#springUrl('/pmma/c332/gy/')" target="_blank">日本住友</a>
                                <a href="#springUrl('/pmma/c336/gy/')" target="_blank">镇江奇美</a>
                                <a href="#springUrl('/pmma/c337/gy/')" target="_blank">日本三菱</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/pom/gy/')" class="orange-color" target="_blank">POM</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/pom/c344/gy/')" target="_blank">美国杜邦</a>
                                <a href="#springUrl('/pom/c343/gy/')" target="_blank">德国巴斯夫</a>
                                <a href="#springUrl('/pom/c346/gy/')" target="_blank">日本宝理</a>
                                <a href="#springUrl('/pom/c347/gy/')" target="_blank">日本三菱</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big clearfix">
                                <span class="tcall-more"><a href="#springUrl('/pa11/gy/')" target="_blank">PA11</a></span>
                                <span class="tcall-more"><a href="#springUrl('/pa12/gy/')" target="_blank">PA12</a></span>
                                <span class="tcall-more"><a href="#springUrl('/pa46/gy/')" target="_blank">PA46</a></span>
                                <span class="tcall-more"><a href="#springUrl('/pa610/gy/')" target="_blank">PA610</a></span>
                                <span class="tcall-more"><a href="#springUrl('/pa612/gy/')" target="_blank">PA612</a></span>
                            </div>

                            <div class="pt-big clearfix">
                                <span class="tcall-more"><a href="#springUrl('/pa66/gy/')" target="_blank">PA66</a></span>
                                <span class="tcall-more"><a href="#springUrl('/pa6t/gy/')" target="_blank">PA6T</a></span>
                                <span class="tcall-more"><a href="#springUrl('/pa9t/gy/')" target="_blank">PA9T</a></span>
                                <span class="tcall-more"><a href="#springUrl('/pla/gy/')" target="_blank">PLA</a></span>
                                <span class="tcall-more"><a href="#springUrl('/ppe/gy/')" target="_blank">PPE</a></span>
                            </div>

                            <div class="pt-big clearfix">
                                <span class="tcall-more"><a href="#springUrl('/ppo/gy/')" target="_blank">PPO</a></span>
                                <span class="tcall-more"><a href="#springUrl('/tpu/gy/')" target="_blank">TPU</a></span>
                                <span class="tcall-more"><a href="#springUrl('/slsz/gy/')" target="_blank">沙林树脂</a></span>
                                <span class="tcall-more"><a href="#springUrl('/qtgcsl/gy/')" target="_blank">其他工程塑料</a></span>
                            </div>
                        </li>
                    </ul>
                    <ul class="fr see-ptpro clearfix">
                    #cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/queryYuanliaoByCondition.htm?code=200910001001&size=4&pic=1&1", "", "", "")
						#foreach($li in $!list)
                        <li>
                            <div class="see-ptpro-img"><a href="#springUrl('/detail/')$!{li.yuanliao.id}.html" target="_blank"><img src="$!{address.thumb}/$!{address.resource}/$!{li.picAddress}" width="150px" height="110px"/></a></div>
							<p class="see-ptpro-name"><a href="#springUrl('/detail')/$!{li.yuanliao.id}.html" target="_blank" title="$!{li.yuanliao.title}">#printTitle($!{li.yuanliao.title} 8 '...')</a></p>
                        </li>
						#end
						#end
                    </ul>
                </div>


                <div class="clearfix allproperty">
                    <div class="fl property-tt"><a href="#springUrl('/sppla/gy/')" target="_blank">特种塑料</a></div>
                    <ul class="fl property-ul">
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/lcp/gy/')" class="orange-color" target="_blank">LCP</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/lcp/c392/gy/')" target="_blank">美国杜邦</a>
                                <a href="#springUrl('/lcp/c393/gy/')" target="_blank">日本宝理</a>
                                <a href="#springUrl('/lcp/c397/gy/')" target="_blank">日本住友</a>
                                <a href="#springUrl('/lcp/c391/gy/')" target="_blank">美国阿莫科</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/peek/gy/')" class="orange-color" target="_blank">PEEK</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/peek/c406/gy/')" target="_blank">德国盖尔</a>
                                <a href="#springUrl('/peek/c407/gy/')" target="_blank">美国液氮</a>
                                <a href="#springUrl('/peek/c409/gy/')" target="_blank">美国苏威</a>
                                <a href="#springUrl('/peek/c410/gy/')" target="_blank">英国威格斯</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/pes/gy/')" class="orange-color" target="_blank">PES</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/pes/c419/gy/')" target="_blank">德国巴斯夫</a>
                                <a href="#springUrl('/pes/c420/gy/')" target="_blank">美国苏威</a>
                                <a href="#springUrl('/pes/c422/gy/')" target="_blank">日本三井</a>
                                <a href="#springUrl('/pes/c423/gy/')" target="_blank">日本住友</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/pps/gy/')" class="orange-color" target="_blank">PPS</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/pps/c441/gy/')" target="_blank">日本宝理</a>
                                <a href="#springUrl('/pps/c442/gy/')" target="_blank">日本出光</a>
                                <a href="#springUrl('/pps/c443/gy/')" target="_blank">日本东丽</a>
                                <a href="#springUrl('/pps/c445/gy/')" target="_blank">台湾宝理</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="fl property-ul">
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/psu/gy/')" class="orange-color" target="_blank">PSU</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/psu/c453/gy/')" target="_blank">德国巴斯夫</a>
                                <a href="#springUrl('/psu/c455/gy/')" target="_blank">美国苏威</a>
                                <a href="#springUrl('/psu/c457/gy/')" target="_blank">美国液氮</a>
                                <a href="#springUrl('/psu/c454/gy/')" target="_blank">美国RTP</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/ptfe/gy/')" class="orange-color" target="_blank">PTFE</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/ptfe/c461/gy/')" target="_blank">美国杜邦</a>
                                <a href="#springUrl('/ptfe/c463/gy/')" target="_blank">日本大金</a>
                                <a href="#springUrl('/ptfe/c460/gy/')" target="_blank">美国3M</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/pvdf/gy/')" class="orange-color" target="_blank">PVDF</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/pvdf/c471/gy/')" target="_blank">德国盖尔</a>
                                <a href="#springUrl('/pvdf/c472/gy/')" target="_blank">美国苏威</a>
                                <a href="#springUrl('/pvdf/c473/gy/')" target="_blank">法国阿科玛</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big clearfix">
                                <span class="tcall-more"><a href="#springUrl('/pai/gy/')" target="_blank">PAI</a></span>
                                <span class="tcall-more"><a href="#springUrl('/pei/gy/')" target="_blank">PEI</a></span>
                                <span class="tcall-more"><a href="#springUrl('/pfa/gy/')" target="_blank">PFA</a></span>
                                <span class="tcall-more"><a href="#springUrl('/pi/gy/')" target="_blank">PI</a></span>
                            </div>
                            <div class="pt-big clearfix">
                                <span class="tcall-more"><a href="#springUrl('/qttzsl/gy/')" target="_blank">其他特种塑料</a></span>
                            </div>
                        </li>
                    </ul>
                    <ul class="fr see-ptpro clearfix">
                        #cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/queryYuanliaoByCondition.htm?code=200910001002&size=4&pic=1&1", "", "", "")
						#foreach($li in $!list)
                        <li>
                            <div class="see-ptpro-img"><a href="#springUrl('/detail/')$!{li.yuanliao.id}.html" target="_blank"><img src="$!{address.thumb}/$!{address.resource}/$!{li.picAddress}" width="150px" height="110px"/></a></div>
							<p class="see-ptpro-name"><a href="#springUrl('/detail')/$!{li.yuanliao.id}.html" target="_blank" title="$!{li.yuanliao.title}">#printTitle($!{li.yuanliao.title} 8 '...')</a></p>
                        </li>
						#end
						#end
                    </ul>
                </div>


                <div class="clearfix allproperty">
                    <div class="fl property-tt"><a href="#springUrl('/alpla/gy/')" target="_blank">塑料合金</a></div>
                    <ul class="fl property-ul">
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/pc-abs/gy/')" class="orange-color" target="_blank">PC/ABS</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/pc-abs/c504/gy/')" target="_blank">德国拜耳</a>
                                <a href="#springUrl('/pc-abs/c507/gy/')" target="_blank">台湾奇美</a>
                                <a href="#springUrl('/pc-abs/c506/gy/')" target="_blank">日本帝人</a>
                                <a href="#springUrl('/pc-abs/c505/gy/')" target="_blank">韩国LG</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/pa-abs/gy/')" class="orange-color" target="_blank">PA/ABS</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/pa-abs/c489/gy/')" target="_blank">德国拜耳</a>
                                <a href="#springUrl('/pa-abs/c491/gy/')" target="_blank">德国巴斯夫</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/pbt-abs/gy/')" class="orange-color" target="_blank">PBT/ABS</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/pbt-abs/c497/gy/')" target="_blank">韩国LG</a>
                                <a href="#springUrl('/pbt-abs/c498/gy/')" target="_blank">韩国锦湖</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/pbt-asa/gy/')" class="orange-color" target="_blank">PBT/ASA</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/pbt-asa/c501/gy/')" target="_blank">德国朗盛</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="fl property-ul">
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/pc-pet/gy/')" class="orange-color" target="_blank">PC/PET</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/pc-pet/c517/gy/')" target="_blank">德国拜耳</a>
                                <a href="#springUrl('/pc-pet/c518/gy/')" target="_blank">美国液氮</a>
                                <a href="#springUrl('/pc-pet/c520/gy/')" target="_blank">日本帝人</a>
                                <a href="#springUrl('/pc-pet/c519/gy/')" target="_blank">美国伊士曼</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/pc-pbt/gy/')" class="orange-color" target="_blank">PC/PBT</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/pc-pbt/c513/gy/')" target="_blank">德国拜耳</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big"><span class="pt-big-span"><a href="#springUrl('/pc-ps/gy/')" class="orange-color" target="_blank">PC/PS</a></span></div>
                            <div class="pt-divlist clearfix">
                                <a href="#springUrl('/pc-ps/c524/gy/')" target="_blank">日本出光</a>
                            </div>
                        </li>
                        <li>
                            <div class="pt-big clearfix">
                                <span class="tcall-more"><a href="#springUrl('/pa-ptfe/gy/')" target="_blank">PA/PTFE</a></span>
                            </div>
                            <div class="pt-big clearfix">
                                <span class="tcall-more"><a href="#springUrl('/qtslhj/gy/')" target="_blank">其他塑料合金</a></span>
                            </div>
                        </li>
                    </ul>
                    <ul class="fr see-ptpro clearfix">
                       #cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/queryYuanliaoByCondition.htm?code=200910001003&size=4&pic=1&1", "", "", "")
						#foreach($li in $!list)
                        <li>
                            <div class="see-ptpro-img"><a href="#springUrl('/detail/')$!{li.yuanliao.id}.html" target="_blank"><img src="$!{address.thumb}/$!{address.resource}/$!{li.picAddress}" width="150px" height="110px"/></a></div>
							<p class="see-ptpro-name"><a href="#springUrl('/detail')/$!{li.yuanliao.id}.html" target="_blank" title="$!{li.yuanliao.title}">#printTitle($!{li.yuanliao.title} 8 '...')</a></p>
                        </li>
						#end
						#end
                    </ul>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        //采购和供求切换
        $(".release-name span").bind("mouseover",function(){
            var index = $(this).index();
            $(".release-type").removeClass("release-btn");
            $(".release-type").eq(index).addClass("release-btn");
            $(".this-release").removeClass("this-release");
            $(this).addClass("this-release");
        })
		
		 $(".release-type").click(function(){
	   		#if($!{sessionUser})
			window.open('$!{address.myrc}/myyuanliao/office_post1.htm');
			#else
			window.open('$!{address.yuanliao}/user/login.html?url=$!{address.myrc}/myyuanliao/office_post1.htm');
	   		#end
	   })
    </script>
</html>