#set($layout="/layout/defaultS.vm")
<script type="text/javascript" src="#springUrl('/app/analysis/analysis.js')" ></script>
<script type="text/javascript" >
	Ext.onReady(function(){
		
		var regfromMap={
			"10031011":"查看报价注册",
			"10031002":"发布供求信息",
			"10031019":"查看供求信息而注册",
			"10031010":"为了查看报价而注册",
			"10031000":"申请普通会员",	
			"10031003":"对普通会员询盘",
			"10031022":"查看企业报价注册",
			"10031023":"后台手动注册",
			"10031024":"手机注册",
			"10031025":"注册机(可能)",
			"10031026":"QQ登录注册",
			"10031027":"现货商城注册",
			"10031028":"QQ帐号绑定",
			"10031031":"QQ查看报价而注册",
			"10031032":"QQ对普通会员询盘而注册",
			"10031035":"QQ发布供求而注册",
			"10031033":"QQ对查看报价而绑定",
			"10031034":"QQ询盘而绑定",
			"10031036":"QQ发布供求而绑定",
			"10031029":"再生互助操作注册",
			"10031030":"样品定制注册",
			"10031037":"发布采购或供货信息注册",
			"10031038":"app注册",
			"10031039":"手机web在线留言注册"
		};
		
		var chart=Ext.create("ast.ast1949.analysis.analysis.ChartView",{
			region:"south",
			height:400,
			split:true,
			queryUrl:Context.ROOT+"/zz91/analysis/analysis/queryRegister.htm",
			storeModel:"RegisterModel"
		});
		
		var mainGrid=Ext.create("ast.ast1949.analysis.analysis.MainGrid",{
			region:"center",
			queryUrl:Context.ROOT+"/zz91/analysis/analysis/queryRegister.htm",
			storeModel:"RegisterModel",
			cm:[
				{text:"编号",dataIndex:"id",width:30,hidden:true},
    			{header:"注册来源",dataIndex:"regfromCode",
					renderer:function(v,m,record,ridx,cidx,store,view){
    					return regfromMap[v];
    				},
					summaryType:"count",
					summaryRenderer:function(value, summaryData, dataIndex) {
						return "总计";
					}
				},
				{text:"数量",dataIndex:"num",summaryType:"sum",summaryRenderer:function(value, summaryData, dataIndex) {
					return value;
				}},
				{text:"百分比",dataIndex:"num",
					renderer:function(v,m,record,ridx,cidx,store,view){
						var sum=0;
    					Ext.Array.each(store.getGroups(),function(obj,idx){
							//sum+=obj.get("num");
							if(obj.name==record.get("targetDate")){
								Ext.Array.each(obj.children,function(oj,ix){
									sum+=oj.get("num");
								})
							}
						});
						return (Math.round(v / sum * 10000) / 100.00)+"%";
    				},
					summaryType:"count",
					summaryRenderer:function(value, summaryData, dataIndex) {
						return "";
					}
				},
				{text:"统计日期",dataIndex:"gmtTarget",
					renderer:function(v,m,record,ridx,cidx,store,view){
						return Ext.Date.format(new Date(v.time),"Y-m-d");
					},
					summaryType:"count",
					summaryRenderer:function(value, summaryData, dataIndex) {
						return Ext.String.format("共{0}个注册来源",value);
					}
				}
			],
			tbar:["->",{
				xtype:"datefield",
				format:"Y-m-d",
				submitFormat:"Y-m-d H:i:s",
				emptyText:"统计日期",
				name : 'gmtTarget',
				id : 'gmtTarget',
				listeners:{
					"change":function(field, nv, ov, e){
						mainGrid.getStore().setExtraParam("from",field.getSubmitValue());
						mainGrid.getStore().setExtraParam("to",field.getSubmitValue());
						mainGrid.getStore().load();
					}
				}
			}],
			listeners:{
				"itemclick":function(_this,record,item,idx){
					chart.getChartStore().setExtraParam("regfromCode",record.get("regfromCode"));
					chart.getChartStore().load();
				}
			}
		});

		Ext.create("Ext.container.Viewport",{
			layout:"border",
			items:[mainGrid,chart]
		});
		
	});
</script>
