<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
	default-autowire="byName">

	<context:component-scan base-package="com.zz91.ep.news.controller" />
	
	<import resource="classpath:spring-common-config.xml"/>
	
	<bean id="propertyConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>${jdbc.location}</value>
				<value>classpath:web.properties</value>
			</list>
		</property>
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="i18n_desktop" />
	</bean>
	
	<!-- CoC for controller classes -->
	<bean
		class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping">
		<property name="caseSensitive"  value="false" />
		<property name="basePackage"    value="com.zz91.ep.news.controller" />
		<property name="defaultHandler" value="rootController" />
	</bean>

	<!--  shared velocity engine which will be used by email and page presentation -->
	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="resourceLoaderPath" value="${velocity.resourceLoaderPath}" />
		<property name="preferFileSystemAccess" value="${velocity.preferFileSystemAccess}" />
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">${input.encoding}</prop>
				<prop key="output.encoding">${output.encoding}</prop>
				<prop key="file.resource.loader.cache">false</prop>
				<prop key="file.resource.loader.modificationCheckInterval">2</prop>
				<prop key="velocimacro.library">macro.vm</prop>
				<prop key="userdirective">${velocity.userdirective}</prop>
				<!-- 针对开发而非实际应用的 -->
				<prop key="velocimacro.library.autoreload">true</prop>
			</props>
		</property>
	</bean>
	<bean id="velocityConfig"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="velocityEngine" ref="velocityEngine" />
	</bean>
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
		<property name="exposeSpringMacroHelpers" value="true" />
		<property name="suffix" value="${velocity.suffix}" />
		<property name="layoutUrl" value="layout/default.vm" />
		<property name="contentType" value="text/html;charset=utf-8" />
		<property name="toolboxConfigLocation" value="WEB-INF/vm-toolbox.xml" />
	</bean>
	
	<bean id="initSystem" class="com.zz91.ep.news.InitSystem" init-method="startup" destroy-method="destroy" lazy-init="false"></bean>

	<bean id="authConst" class="com.zz91.util.auth.ep.EpAuthConst" init-method="startup" lazy-init="false">
        <property name="api" value="${sso.api}" />
        <property name="domain" value="${sso.domain}" />
        <property name="project" value="${sso.project}" />
        <property name="projectPwd" value="${sso.projectPwd}" />
    </bean>
    <!-- 全局异常配置 start -->    
	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
         <property name="exceptionMappings">    
             <props>    
                 <prop key="java.lang.Exception">uncaughtException</prop>    
                 <prop key="java.lang.Throwable">uncaughtException</prop>    
             </props>    
         </property> 
         <!-- 默认错误页面，当找不到上面mappings中指定的异常对应视图时，使用本默认配置 -->    
         <property name="defaultErrorView" value="resourceNotFound"></property>
	</bean>
     <!-- 全局异常配置 end --> 
</beans>