#set($layout="/layout/defaultS.vm")
<script type="text/javascript" src="#springUrl('/app/util.js')"></script>
<script type="text/javascript" src="#springUrl('/app/admin/company.js')"></script>
<script type="text/javascript">
	Ext.onReady(function(){
		
		var form=Ext.create("ast.ast1949.admin.company.AdminRegistForm",{
			iconCls:"add16",
			title:"注册新用户",
			region:"center"
		});
		
		Ext.create("Ext.container.Viewport",{
			layout:"border",
			items:[form]
		});
		
	});
</script>
