<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="zh-CN"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="zh-CN"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="zh-CN"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zh-CN">
<!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>生意管家 -zz91再生网</title>
    <meta name="keywords" content="$!{seoKeywords}" />
    <meta name="description" content="$!{seoDescription}" />
    #parse("/common/import.vm")
    #parse("/common/context.vm")
    #parse("/seo/analysis_head.vm")
</head>
    <body>
        ## 头部 通过cacheFragment引用
		#parse("/common/header.vm")
		#parse("/common/menu.vm")
        $screen_content
        ## 尾部 通过cacheFragment引用
        #parse("/common/footer.vm")
        #parse("/common/importFooter.vm")
        #parse("/seo/analysis_body.vm")
    </body>
</html>
#parse("/seo/analysis_foot.vm")
