<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>生意管家--$!{address.name}</title>
<link rel="shortcut icon" href="$!{address.favicon}">
<script type="text/javascript">
	var Const = new function(){
		this.Address = {images:"$!{address.img}/front/images"};
	}
</script>
<link rel="shortcut icon" href="$!{address.images}/logo/favicon.ico">
<link type="text/css" rel="stylesheet" href="$!{address.css}/zz91.hack.css" />
<link type="text/css" rel="stylesheet" href="$!{address.css}/zz91.comm.css" />
<link type="text/css" rel="stylesheet" href="$!{address.css}/zz91.myrc.css" />
<script type="text/javascript" src="$!{address.js}/lib/jquery/jquery_lib/jquery-1.4.3.js" ></script>
<script type="text/javascript" src="$!{address.js}/zz91.common.js"></script>
<script type="text/javascript" src="$!{address.js}/zz91.myrc.js"></script>
#parse("/common/context.vm")
</head>
<body>
    #parse("/myrc/top.vm")
    <div class="myrc_main">
		<div class="myrc_mainLeft">
			#parse("/myrc/leftMenu.vm")
			<div style="clear:both"></div>
        </div>
    	<div class="myrc_mainRight">
            #parse("/myrc/subTitle.vm")                          
            $screen_content
        </div>
        <div style="clear:both"></div>
    </div>
    #parse("/myrc/bottom.vm") 
</body>
</html>