#set($layout="/layout/zhushou.vm")
<script type="text/javascript" >
	jQuery(document).ready(function(){
		
		jQuery(".submitBtn").button();
		jQuery(".submitBtn").click(function(){
			godesturl();
		});
		
		setTimeout("godesturl()",1000);
	});
	
	function godesturl(){
##		var param='?success=$!{success}&data=$!{data}';
##		#if($!{destUrl}!="")
##			window.location="$!{destUrl}"+param;
##		#else
##			window.location="#springUrl('/submitCallback.htm')"+param;
##		#end

		window.parent.Asto.util.Callback.submit("$!{success}",$!{data});
	}
	
</script>
<div class="success">
	您的图片已经成功上传！
	<br />
	<input type="submit" id="submitBtn" class="submitBtn" value="立即关闭"/>
</div>