<div style="clear:both"></div>
<div class="mrcbottom">
	<a href="$!{address.front}" target="_blank" >$!{siteInfo.site_name}</a> &copy; 版权所有 2007-2011
</div>
<!--<script language="javascript" src="http://count12.51yes.com/click.aspx?id=121011663&logo=1"></script>-->
<!--
<script type="text/javascript" src="$!{address.server}/stat.htm"></script>
-->

<script type="text/javascript">
//var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
//document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
//var pageTracker = _gat._getTracker("UA-3414886-1");
//pageTracker._setDomainName("zz91.com");
//pageTracker._initData();
//pageTracker._trackPageview();
</script>