#set( $layout = "/layout/myrcLayout.vm" )
#leftMenu("1202","","00")
<script type="text/javascript" src="$!{address.js}/validate/jquery.validate.js"></script>
<script type="text/javascript" src="$!{address.js}/validate/zz91.validation.js"></script>
<script type="text/javascript" >
	jQuery(document).ready(function(){
			jQuery.validator.setDefaults({
				submitHandler: function(form) {
					jQuery.ajax({
						url:"#springUrl('/changepassword.htm')",
						type:"POST",
						cache:false,
						dataType:"json",
						data:{originalPassword:jQuery("#originalPassword").val(),
							newPassword:jQuery("#newPassword").val(),
							verifyPassword:jQuery("#verifyPassword").val()},
						success:function(response){
							if(response.success){
								alert("新密码已保存,请牢记你的新密码!")
								window.location.href="#springUrl('/index.htm')";
							}else{
								alert("密码没有保存\n"+response.data)
							}
							jQuery("#originalPassword").val("");
							jQuery("#newPassword").val("");
							jQuery("#verifyPassword").val("");
						}
					});
				}
			});
			
			jQuery("#pwdform").validate({
				rules:{
					originalPassword:{
						required:true,
						minlength:6,
						password:true
					},
					newPassword:{
						required:true,
						minlength:6,
						password:true
					},
					verifyPassword:{
						required:true,
						equalTo:"#newPassword"
					}
				},
				messages:{
					originalPassword:{
						required:"原始密码必需填写",
						minlength:"长度不能少于6位"
					},
					newPassword:{
						required:"密码必需填写",
						minlength:"长度不能少于6位"
					},
					verifyPassword:{
						required:"请再一次输入密码",
						equalTo:"两次密码必须一致"
					}
				}
		});
	});
</script>

<div class="myrcNormalFrame">
    <div class="tishiWarn"  style="margin-top:0px;">
		您的姓名是：$!{request.getAttribute("myaccount").realName}<br />
		您的会员登录名是：$!{request.getAttribute("myaccount").account}
	</div>
	<div class="officetitle">修改密码</div>
	<div class="productskuang">
		<form id="pwdform" name="pwdform" method="post" action="#springUrl('/changepassword.htm')"> 
			<div class="publishFormItems">
				<div class="products_title"><label for="originalPassword">密码：</label></div>
				<div class="products_fill"><input name="originalPassword" type="password" id="originalPassword"/> 
				</div>
			</div>
			<div class="publishFormItems">
				<div class="products_title"><label for="newPassword">新密码：</label></div>
				<div class="products_fill">
					<input name="newPassword" type="password" id="newPassword"/> 
                    <div style="clear:both"></div>
                    <span style="color:#AAA">建议采用易记,难猜的英文数字组合6-20 个字符，只允许数字和英文字母，有大小写区分。</span>
				</div>
			</div>
			<div class="publishFormItems">
				<div class="products_title"><label for="verifyPassword">重复新密码：</label></div>
				<div class="products_fill">
					<input name="verifyPassword" type="password" id="verifyPassword"/>
				</div>
			</div>
            <div style="clear:both"></div>
			<div class="publishFormSub">
				<input name="loginCtrl:Submit1"  type="submit" class="buttonMax"  value="确 认 修 改" language="javascript"/> 
			</div>
		</form>
    </div>
</div>