#set( $layout = "/layout/myrcLayout.vm" )
#leftMenu("","","00")
<script >
	var Const = new function(){
		this.Address = {images:"$!{address.images}"};
	}
</script>



	<div class="myrcContFrame">
		#if($!{mycompany.membershipCode} != '10051000')
        <div class="tishiWarn" style="text-align:left">
            <a href="javascript:void(0)" class="commArrowRight"  style="color:#111;cursor:default">
				您好,我是您的商务助理$!{assistant.realName},
				如您在操作中有任何的问题请随时拨打我的客服热线: 
			<b>$!{zst_phone}0571-124787</b>,我将真诚为您服务!
			</a><br>
        	<a href="#springUrl('/myfeedback/vip.htm')" class="commBackFeed"><font color='#009900'>点此<b>$!{assistant.realName}</b>留言</font></a>
        	<img src="$!{address.images}/myrc/icon_new_29x14.gif" width="25" height="14" />
        </div>
        #end
	
		<div class="myrcContFrameLeft">
				<div class="frameLeftEdge">
					<div class="LeftEdgeTit">
							<h3 class="myrc_main_titleon">重要操作提醒</h3>
                    </div>
					<div class="left_index_kuang">
						#if(!$!{days})
						<div class="alertmeg">
							您还没有发布或更新任何供求信息<br />
							强烈建议您更新或发布信息以使您的信息排序更靠前，获得更多商业机会<br />
							<a href="#springUrl('/myproducts/office_post_list.htm')" class="commBack">点此立即更新</a>
						</div>
						#elseif($!{days}>15)
						<div class="alertmeg">
							您已经有$!{days}天没有发布或更新任何供求信息了<br />
							强烈建议您更新或发布信息以使您的信息排序更靠前，获得更多商业机会<br />
                            <a href="#springUrl('/myproducts/office_post_list.htm')" class="commBack">点此立即更新</a>
						</div>
						#end
						<div class="myrcBaseInfo">
							<div class="baseInfoItem">
								<span class="baseInfoItemType">您现在的会员类型：</span>
								<span class="baseInfoItemDetails" style="font-size:14px; font-weight:bold; color:#000099">
											$!{membershipLable}
								</span>
								<div style="clear:both"></div>
                            </div>
							
							<div class="baseInfoItem">
								<span class="baseInfoItemType">您的账号：</span>
                                <span class="baseInfoItemDetails">
									$!{myaccount.account}<a href="#springUrl('/user/passwordReminder.htm')" target="_blank" ><font style="color:#666;">(忘记密码)</font></a>
								</span>
								<div style="clear:both"></div>
                            </div>
							
							<div class="baseInfoItem">
                                <span class="baseInfoItemType">开通时间：</span>
                                <span class="baseInfoItemDetails">$!{membershipFromDate}</span>
                                <div style="clear:both"></div>
                            </div>
							
							<div class="baseInfoItem">
								<span class="baseInfoItemType">未读留言：</span>
								<span class="baseInfoItemDetailsB">
									      您有 <b> $!{unviewedRecordNumber} </b>条未读留言信息
                                </span>
                                <span class="baseInfoItemDetailsC">
									 <a href="#springUrl('/mymessage/inbox.htm')" class="commArrowRight">立即查看</a>
								</span>
								<div style="clear:both"></div>
							</div>
													
							<div class="baseInfoItem">
								<span class="baseInfoItemType">商业信息：</span>
								<span class="baseInfoItemDetailsB">
									您发布了<b> $!{publishedProducts} </b>条供求信息
                            	</span>
								<span class="baseInfoItemDetailsC">
									<a href="#springUrl('/myproducts/office_post_list.htm?checkStatus=1&isExpired=0&isPause=0')" class="commArrowRight">立即查看</a>
								</span>
								<div style="clear:both"></div>
						    </div>
						</div>	
						<div style="clear:both"></div>
							
								#if($!{mycompany.membershipCode} != '10051000')
									<div class="zstServerDetails">
										<div class="zstServerDetailsMap">
											<div class="zstServerStartDate" >
												服务开通日期<br>$!{membershipFromDate}
											</div>
											#set($a=$!{membershipPercent}+52)
											<div class="zstServerNowDate" style="left:$!{a}px;">
												现在日期<br />$!{today}
                                            </div>
											<div class="zstServerLoading" style=" background:url($!{address.images}/myrc/renew3.gif)">
													<div style="width:$!{membershipPercent}px;background:url($!{address.images}/myrc/renew1.gif)" >
														<img src="$!{address.images}/myrc/renew1.gif" />
                                                    </div>	
                                            </div>
                                            <div class="zstServerOverDate">服务截止日期<br/>$!{membershipEndDate}</div>	
                                        </div>
									</div>
								#end
                    </div>
                </div>
                    <!--关键字定制 begin-->
                    <script>
    				function keyon(id,obj){
    					obj.className="myrc_key_on"
    					var objd=document.getElementById("c"+id).style.display=""
    				}
    				</script>
					<!--关键字定制 end-->
				<div class="frameLeftEdgeA">			
							<h4 class="userTip">
								<img src="$!{address.images}/global/icon/bulb.gif" width="14" height="14" /> 使用小窍门：
							</h4>
							<p>
								1. 怎样可以让客户更快更准找到我？快来使用www.zz91.com全新标签功能。<br />
								<a href="#springUrl('/myproducts/office_post1.htm')" class="commArrowRight">现在马上体验！</a><br />
								2. 你想在门市部里公开你的邮箱地址吗？只需在&quot;
									<a href="#springUrl('/mycompany/updateCompany.htm')"><font color="red">公司基本信息</font></a>
									&quot;里做一下设置即可。<br />
									<a href="#springUrl('/mycompany/updateCompany.htm')" class="commArrowRight"><font color="red">现在马上设置！</font></a>
                  </div>
				  
				  <div class="frameLeftEdgeA">	
						<h4 class="userTip">
							<img src="$!{address.images}/global/icon/bulb.gif" width="14" height="14" />
							颗粒网动态快报：
						</h4>
                        <p><font style=" color:red">塑料颗粒网</font>新增&quot;刷新&quot;功能,让供求发布更加方便,更加快捷！<br />
							<a href="http://www.kl91.com/myrc/CompanyPriceList.aspx?focus=1102" target="_blank" class="commArrowRight">现在马上查看！</a>
                        </p>
				  </div>
				  
				  
				  <div class="frameLeftEdgeList">
						<div class="frameLeftEdgeListTit">
							<span class="prodTit">产品名称</span>
							<span class="prodLocal">产地</span>
							<span class="prodPrice">价格</span>
							<span class="prodQuantity">数量</span>
							<span class="prodDate">日期</span>
							<span class="prodComp">发布公司</span>
							<div style="clear:both"></div>
                        </div>
						<ul>
							#foreach($!{list} in $!{sdList})
							<li>
								<span class="prodTit">
									<a href="$!{address.trade}/productdetails$!{list.products.id}.htm" title="$!{list.products.title}" target="_blank">
									#printTitle($!{list.products.title} 8 "")
									</a>
								</span>
								<span class="prodLocal">$!{list.products.location}</span>
								<span class="prodPrice">$!{list.products.price}$!{list.products.priceUnit}</span>
								<span class="prodQuantity">$!{list.products.quantity}</span>
								<span class="prodDate">$!date.format('yyyy-MM-dd',$!{list.products.refreshTime})</span>
								<span class="prodComp">
									#printTitle($!{list.company.name} 8 "")
								</span>
							</li>
							#end
						</ul>
                        <div style="clear:both"></div>
				</div>
		</div>
		
		<div class="myrcContFrameRight">
			<!--最新资讯 start-->
			<div class="frameRightEdge" >
					<h3 class="frameRightEdgeTit">
							最新资讯
					</h3>
					<ul  class="newsList">
						#foreach($!{frontBbsPostList} in $!{frontBbsPostList})
							#if($!velocityCount<=7)
									<li class="xinxidefault_line">
										<a href="$!{address.huzhu}/viewReply.htm?postId=$!{frontBbsPostList.bbsPost.id}" target="_blank" title="$!{frontBbsPostList.bbsPost.title}" >
												#if($!{frontBbsPostList.bbsPost.title.length()}<=18)
														$!{frontBbsPostList.bbsPost.title}
												#else
														$!{frontBbsPostList.bbsPost.title.substring(0,15)}...
												#end
										</a>
									</li>
							#end
						#end
					</ul>
					<ul class="infoList">
						#foreach($!{frontBbsPostList} in $!{frontBbsPostList})
							#if($!velocityCount>7&&$!velocityCount<=9)
									<li>
												<a href="$!{address.huzhu}/viewReply.htm?postId=$!{frontBbsPostList.bbsPost.id}" target="_blank" class="commArrowRight">
														#if($!{frontBbsPostList.bbsPost.title.length()}<=18)
																$!{frontBbsPostList.bbsPost.title}
														#else
																$!{frontBbsPostList.bbsPost.title.substring(0,18)}...
														#end
													
												</a>
									</li>
							#end
						#end
                    </ul>
					
					<div class="moreDetails">
							<a href="$!{address.huzhu}" target="_blank" class="commArrowRight">查看更多</a>
					</div>
                    <div style="clear:both"></div>
			</div>
			<!--最新资讯 end-->
			
			<!--最新商机行情 start-->
            <div style="clear:both"></div>
			<div class="frameRightEdge">
					<h3 class="frameRightEdgeTit"><span class="STYLE1"> 最新商机/行情</span></h3>
					<ul>
						#*
						#foreach($product in $results)
							<li class="xinxidefault_line">
									#if($!{product.buyOrSale}=='供应')
										<font class="buy">$!{product.buyOrSale}</font>&nbsp;
									#else
										<font class="sell">$!{product.buyOrSale}</font>&nbsp;
									#end
									<a target="_blank" href="$!{address.server}/trade/productdetails$!{product.productId}.htm" class="a1">P$!{product.productsTitle}</a>
									<span class="grayed">$!{product.area}</span>	
								</li>
						#end
						*#
                    </ul>
					
					<div  class="keywordTip">
						#foreach($subscribe in $!{subscribeList})
							<a href="#springUrl('/mysubscribe/bizList.htm?id=')$!{subscribe.id}" >$!{subscribe.keywords}</a>
						#end
					</div>
                
					<div class="moreDetails">
						<a href="#springUrl('/mysubscribe/bizList.htm')" target="_blank" class="commArrowRight">查看更多</a>
					</div>
					
                    <div style="clear:both"></div>
            </div>
			<!--最新商机行情 end-->
		</div>
		<div style="clear:both"></div>
	</div>
		
    <div style="clear:both"></div>
    <script>
		jQuery(document).ready(function(){
		new turnLiBgcolor(".frameLeftEdgeList","#EFF6EF","#FFF")
		});
	</script>