<script>
    function logiing(){
        var screenHeight = screen.height;
        var screenWidth = screen.width;
        document.getElementById("loging").style.position="absolute"
        document.getElementById("loging").style.left=(screenWidth/2-180)+"px"
        document.getElementById("loging").style.top=(200)+"px"
        document.getElementById("loging").style.display=""
    }
</script>
<div class="selectVersion">
	<img src="$!{address.img}/front/images/myrc/menu2_on.gif" id="imgmenu2" width="90" height="32" border="0" onclick="changeMenu(1)" style="cursor:pointer" style="float:left"/>
    <img src="$!{address.img}/front/images/myrc/menu1.gif" width="90" height="32" border="0" id="imgmenu1" onclick="changeMenu(2)" style="cursor:pointer" style="float:left"/>
</div>
<div class="treeFrame">
<!--精装版tree  start-->
    <div id="menu001">
            <ul>
    			<!--商机管理 start-->
        		<li style="line-height:30px;">
        			<h3 onclick="pulssub(10)" class="treeChannel">
                        <img src="$!{address.img}/front/images/myrc/fold_1.gif" name="img10" id="img10"/>
                        <span class="lmtitle">商机管理 </span>
        			</h3>
        			
        			<ul style="display:none" id="sub10">
        				<li>
                            <h4 style="cursor:pointer" onclick="pluslm(1001)" class="subNext">
                                <img src="$!{address.img}/front/images/myrc/open-menu.gif" width="10" height="10" id="img1001"/>
                                <span style="cursor:pointer" class="lmfont1">供求信息</span>
                			</h4>
                            <ul id="lm1001">
                				<li>
                                    <div class="office_sb" id="focuslm100101" >
                                        <img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" />
                                        <a href="#springUrl('/myproducts/office_post1.htm')" onclick="logiing()">
                                            <span class="lmfont1">发布供求信息</span>
                                        </a>
                                    </div>
                                </li>
                				
                                <li> 
                					<div class="office_sb" id="focuslm100102">
                                                <img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" />
                                                <a href="#springUrl('/myproducts/office_post_list.htm?checkStatus=1&isExpired=0&isPause=0')" onclick="logiing()">
                                                    <span class="lmfont1">管理供求信息</span>
                                                </a>
                                            </div>
                				</li>
                                
                				<li>
                					<div class="office_sb" id="focuslm100103">
                                                <img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" />
                                                <a href="#springUrl('/myproducts/offer_group.htm')" onclick="logiing()">
                                                    <span class="lmfont1">管理供求系列</span>
                                                </a>
                                            </div>
                				</li>
                			</ul>	
                			<h4 style="cursor:pointer" class="subNext" onclick="pluslm(1002)">
                    			<img src="$!{address.img}/front/images/myrc/open-menu.gif" width="10" height="10" id="img1002"/>
                    			<span style="cursor:pointer" class="lmfont1">发布报价</span>
                			</h4>
                            <ul id="lm1002">
                                <li>
                					<div class="office_sb" id="focuslm100201">
                                        <img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" />
                                        <a href="#springUrl('/mycompanyprice/saveCompanyPrice.htm')" onclick="logiing()">
                                            <span class="lmfont1">添加报价</span>
                                        </a>
                                    </div>
                				</li>
                				
                                <li>
                					<div class="office_sb" id="focuslm100202">
                                        <img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" />
                                        <a href="#springUrl('/mycompanyprice/list.htm')" onclick="logiing()">
                                            <span class="lmfont1">报价列表</span>
                                        </a>
                                    </div>
                				</li>
                			</ul>
                        </li>
                    </ul>
        		</li>
    			<!--商机管理 end-->
    			
    			
    			
    			<!--留言管理 start-->
                <li>
    				<h3 class="treeChannel" onclick="pulssub(11)">
                    <img src="$!{address.img}/front/images/myrc/fold_1.gif" name="img11" id="img11"/>
                    <span class="lmtitle">留言管理</span>
    				</h3>
                    <ul id="sub11"  style='display:none'>
                        <li onclick="pluslm(1101)">
    						<div class="office_sb" id="focuslm1101">
    								<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1101"/>
                                    <a href="#springUrl('/mymessage/inbox.htm')" onclick="logiing()">
                                        <span class="lmfont1">我收到的留言</span>
                                    </a>
                            </div>
    					</li>
                        <li onclick="pluslm(1102)">
    						 <div class="office_sb" id="focuslm1102">
								<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1101"/>
                                <a href="#springUrl('/mymessage/sent.htm')" onclick="logiing()">
                                    <span class="lmfont1">我发出的留言</span>
                                </a>
    						 </div>
    					</li>
    					<li onclick="pluslm(1103)">
                                <div class="office_sb" id="focuslm1103">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1101"/>
                                    <a href="#springUrl('/mymessage/rubbish.htm')" onclick="logiing()">
                                        <span class="lmfont1">垃圾留言</span>
                                    </a>
                                </div>
                        </li>
    					#if($!{sessionUser.membershipCode} != "10051000")
    						<li onclick="pluslm(1104)">
                                <div class="office_sb" id="focuslm1104">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1101"/>
                                    <a href="#springUrl('/myfeedback/vip.htm')" onclick="logiing()">
                                        <span class="lmfont1">客服留言</span>
                                    </a>
                                    <img src="$!{address.img}/front/images/myrc/icon_new_29x14.gif" width="29" height="14" align="absmiddle" />
                                </div>
    						</li>
    					#end
                    </ul>
    			</li>
    			<!--留言管理 end-->
    			
    			
    			<!--客户管理 start-->
                <li>
    				 <h3 onclick="pulssub(17)" class="treeChannel">
                        <img src="$!{address.img}/front/images/myrc/fold_1.gif" name="img17" id="img17"/>
                        <span class="lmtitle">客户管理
                            ##<img src="$!{address.img}/front/images/myrc/icon_new_29x14.gif" width="29" height="14" align="absmiddle" />
                        </span>
    				 </h3>
    				 <ul id="sub17"  style='display:none'>
    					<li onclick="pluslm(1701)">  
                            <div class="office_sb" id="focuslm1701">
								<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1701"/>
                                <a href="#springUrl('/mycompanycustomers/saveCompanyCustomers.htm')" onclick="logiing()">
                                    <span class="lmfont1">添加客户</span>
                                </a>
                            </div>
                         </li>
    					 <li onclick="pluslm(1702)">
                                <div class="office_sb" id="focuslm1702">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1702"/>
                                    <a href="#springUrl('/mycompanycustomers/list.htm')" onclick="logiing()">
                                        <span class="lmfont1">客户列表</span>
                                    </a>
                                </div>
                         </li>
                     </ul>
    			</li>
    			<!--客户管理 end-->
    			
    			
    			<!--商家必看 start-->
				##if($!{sessionUser.membershipCode} != "10051000")
                #*
				<li>
					<h3 class="treeChannel_pro" >
                    <img src="$!{address.img}/front/images/myrc/fold_1.gif"/>
                    <span class="lmtitle">
                        <a href="#springUrl('/bizexpress/list.htm')">商家必看</a>
                    </span>
                    </h3>
    			</li>
				*#
				##end
    			<!--商家必看 end-->
    			
    			<!--最新商机行情 start-->
    			<li>
        			<h3  class="treeChannel" onclick="pulssub(15)">
                        <img src="$!{address.img}/front/images/myrc/fold_1.gif" name="img15" id="img15"/>
                        <span class="lmtitle">最新商机和行情</span>
                    </h3>
    				<ul id="sub15"  style='display:none'>
    					<li onclick="pluslm(1503)">   
                                <div class="office_sb" id="focuslm1503">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1503"/>
                                    <a href="#springUrl('/mysubscribe/bizList.htm')" onclick="logiing()">
                                        <span style="cursor:pointer" class="lmfont1">最新在线商机</span>
                                    </a>
                                </div>
                         </li>
    					 <li onclick="pluslm(1505)">
                                <div class="office_sb" id="focuslm1505"> 
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1505"/>
                                    <a href="#springUrl('/mysubscribe/priceList.htm')" onclick="logiing()">
                                        <span style="cursor:pointer" class="lmfont1">最新在线行情</span>
                                    </a>
                                </div>
                          </li>
    					  <li onclick="pluslm(1501)">
                                <div class="office_sb" id="focuslm1501">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1501"/>
                                    <a href="#springUrl('/mysubscribe/manageSubscribeBiz.htm')" onclick="logiing()">
                                        <span style="cursor:pointer" class="lmfont1">商机订制管理</span>
                                    </a>
                                </div>
                          </li>
    					  <li onclick="pluslm(1502)">
                                <div class="office_sb" id="focuslm1502">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1502"/>
                                    <a href="#springUrl('/mysubscribe/manageSubscribePrice.htm')" onclick="logiing()">
                                        <span style="cursor:pointer" class="lmfont1">行情订制管理</span>
                                    </a>
                                </div>
    					  </li>
    					  <li onclick="pluslm(1504)"> 
                                <div class="office_sb" id="focuslm1504">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1504"/>
                                    <a href="#springUrl('/mysubscribe/myfavorite.htm')" onclick="logiing()">
                                        <span style="cursor:pointer" class="lmfont1">我的篮子</span>
                                    </a>
                                </div>
                          </li>
						  
						  #if($!{sessionUser.membershipCode} != "10051000")
    					  <li onclick="pluslm(1506)">
                                <div class="office_sb" id="focuslm1506">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1506"/>
                                    <a href="#springUrl('/mysubscribe/weekly.htm')" onclick="logiing()">
                                        <span style="cursor:pointer" class="lmfont1">VIP周报</span>
                                    </a>
                                </div>
                          </li>
						  #end
    				</ul>
        		</li>
    			<!--最新商机行情 end-->
    			
    			#if($!{sessionUser.membershipCode} != "10051000")
    			<!--商铺管理 start-->
                <li>
    				<h3 class="treeChannel" onclick="pulssub(13)" style="cursor:pointer">
                        <img src="$!{address.img}/front/images/myrc/fold_1.gif" name="img13" id="img13"/>
                        <span class="lmtitle">商铺管理
                            ##<img src="$!{address.img}/front/images/myrc/icon_new_29x14.gif" width="29" height="14" align="absmiddle" />
                        </span>
                    </h3>
    				<ul id="sub13"  style='display:none'>
        				<li>
                            <div class="office_sb" id="focuslm1301">
                                <a href="#springUrl('/esite/esiteconfig/index.htm')" target="_blank">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1301"/>
                                    <span style="cursor:pointer" class="lmfont1">商铺外观设计</span>
                                </a>
                                <span class="lmtitle">
                                   ## <img src="$!{address.img}/front/images/myrc/icon_new_29x14.gif" width="29" height="14" align="absmiddle" />
                                </span>
                            </div>
                        </li>
        				<li>
                            <div class="office_sb" id="focuslm1302">
                                <a href="#springUrl('/esite/esitedomain/index.htm')" onclick="logiing()">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1302"/>
                                    <span style="cursor:pointer" class="lmfont1">商铺域名管理</span>
                                </a>
                                <span class="lmtitle">
                                    ##<img src="$!{address.img}/front/images/myrc/icon_new_29x14.gif" width="29" height="14" align="absmiddle" />
                                </span>
                            </div>
                         </li>
        				<li>
                            <div class="office_sb" id="focuslm1303">
                                <a href="#springUrl('/esite/esitenews/index.htm')" onclick="logiing()">
									 <img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1303"/>
                                    <span style="cursor:pointer" class="lmfont1">公司动态管理</span>
                                </a>
                                <span class="lmtitle">
                                    ##<img src="$!{address.img}/front/images/myrc/icon_new_29x14.gif" width="29" height="14" align="absmiddle" />
                                </span>
                            </div>
                         </li>
        				<li>
                            <div class="office_sb" id="focuslm1304">
                                <a href="#springUrl('/esite/esitefriendlink/index.htm')" onclick="logiing()">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1304"/>
                                    <span style="cursor:pointer" class="lmfont1">友情链接管理
                                    </span>
                                </a>
                                <span class="lmtitle">
                                    ##<img src="$!{address.img}/front/images/myrc/icon_new_29x14.gif" width="29" height="14" align="absmiddle" />
                                </span>
                            </div>
                        </li>
    				</ul>
    			</li>
    			<!--商铺管理 end-->
    			
    			<!--诚信档案 start-->
    			<li>
    			<h3 class="treeChannel" onclick="pulssub(16)">
                        <img src="$!{address.img}/front/images/myrc/fold_1.gif" name="img16" id="img16"/>
                        <span class="lmtitle">诚信档案</span>
                </h3>
    			<ul id="sub16"  style='display:none'>
    				<li onclick="pluslm(1601)">
                        <div class="office_sb" id="focuslm1601">
							<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1601"/>
                            <a href="#springUrl('/credit/creditcustomervote/index.htm')" onclick="logiing()">
                                <span class="lmfont1">客户评价</span>
                            </a>
                        </div>
                    </li>
    				<li onclick="pluslm(1602)">
                        <div class="office_sb" id="focuslm1602">
							<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1602"/>
                            <a href="#springUrl('/credit/creditfile/index.htm')" onclick="logiing()">
                                <span class="lmfont1">我的证书</span>
                            </a>
                        </div>
    				</li>
    				<li onclick="pluslm(1603)">
                        <div class="office_sb" id="focuslm1603">
							<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1603"/>
                            <a href="#springUrl('/credit/creditreference/index.htm')" onclick="logiing()">
                                <span class="lmfont1">资信参考人</span>
                            </a>
                        </div>
                     </li>
                </ul>
                </li>
    			<!--诚信档案 end-->
    			#end
    			
    			<!--会员资料 start-->
    			<li>
    				<h3 class="treeChannel" onclick="pulssub(12)">
                        <img src="$!{address.img}/front/images/myrc/fold_1.gif" name="img12" id="img12"/>
                        <span class="lmtitle">会员资料</span>
    				</h3>
    				<ul id="sub12" style='display:none'>
    					<li onclick="pluslm(1201)">
                                <div class="office_sb" id="focuslm1201">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1201"/>
                                    <a href="#springUrl('/mycompany/updateCompany.htm')" onclick="logiing()">
                                        <span class="lmfont1">公司基本信息</span>
                                    </a>
                                </div>
                        </li>
						<li onclick="pluslm(1204)"> 
                                <div class="office_sb" id="focuslm1204">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1204"/>
                                    <a href="#springUrl('/mycompanyaccountcontact/index.htm')" onclick="logiing()">
                                        <span class="lmfont1">更多联系人</span>
                                    </a>
                                </div>
                        </li>
    					<li onclick="pluslm(1203)"> 
                                <div class="office_sb" id="focuslm1203">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1203"/>
                                    <a href="#springUrl('/mycompany/companyList.htm')" onclick="logiing()">
                                        <span class="lmfont1">企业简介及照片</span>
                                    </a>
                                </div>
                        </li>
						
            ##如果用户名和邮箱相同显示修改用户名，用户名为中文
			#*
    			        <li onclick="pluslm(1204)">
                                <div class="office_sb" id="focuslm1204">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1204"/>
                                    <a href="#springUrl('/changeaccountname.htm')" onclick="logiing()">
                                        <span class="lmfont1">修改帐户名称</span>
                                    </a>
                                </div>
                        </li>
			*#
    					<li onclick="pluslm(1202)">
                                <div class="office_sb" id="focuslm1202">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1202"/>
                                    <a href="#springUrl('/changepassword.htm')" onclick="logiing()">
                                        <span class="lmfont1">修改密码</span>
                                    </a>
                                </div>
                        </li>
                    </ul>
                </li>
    			<!--会员资料 end-->
    			
    			<!--我的积分 start-->
    			<li>
                    <h3 class="treeChannel" onclick="pulssub(18)" style="cursor:pointer">
                            <img src="$!{address.img}/front/images/myrc/fold_1.gif" name="img18" id="img18"/>
                            <span class="lmtitle">我的积分</span>
                    </h3>
    				<ul id="sub18"  style="display:none">
    					<li>
                            <div class="office_sb" id="focuslm1801">
								<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1801"/>
                                <a href="$!{address.score}/index.htm" target="_blank" >
                                    <span class="lmfont1">积分商城</span>
                                </a>
                            </div>
                         </li>
    					 <li onclick="pluslm(1802)">
                                <div class="office_sb" id="focuslm1802">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1802"/>
                                    <a href="#springUrl('/myscore/changeDetails.htm')" onclick="logiing()">
                                        <span class="lmfont1">积分变更历史</span>
                                    </a>
                                </div>
                         </li>
    					 <li onclick="pluslm(1803)">
                                <div class="office_sb" id="focuslm1803">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1803"/>
                                    <a href="#springUrl('/myscore/conversionHistory.htm')" onclick="logiing()">
                                        <span class="lmfont1">积分兑换历史</span>
                                    </a>
                                </div>
                         </li>
    					 <li onclick="pluslm(1804)">
                                <div class="office_sb" id="focuslm1804">
                                    <a href="$!{address.score}/rule.htm" target="_blank">
                                        <img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1804"/>
										<span class="lmfont1">积分帮助</span>
                                    </a>
                                </div>
                         </li>
    				</ul>
               	</li>
    			<!--我的积分 end-->
    			
    			
    			<!--帮助 start-->
    			<li>
    				<h3 onclick="pulssub(14)"  class="treeChannel">
                        <img src="$!{address.img}/front/images/myrc/fold_1.gif" name="img14" id="img14"/>
                        <span class="lmtitle">帮助</span>
    				</h3>
    				<ul id="sub14"  style='display:none'>
    					<li onclick="pluslm(1401)">
                                <div class="office_sb" id="focuslm1401">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1401"/>
                                    <a href="http://www.zz91.com/cn/helpcenter/index.asp" target="_blank" >
                                        <span class="lmfont1">新手指南</span>
                                    </a>
                                </div>
                        </li>
    				
    					<li onclick="pluslm(1403)">
                                <div class="office_sb" id="focuslm1403">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1403"/>
                                    <a href="#springUrl('/myfeedback/member.htm')" onclick="logiing()">
                                        <spa class="lmfont1">问题/建议</span>
                                    </a>
                                </div>
                        </li>
						<li>
                                <div class="office_sb" id="focuslm1403">
									<img src="$!{address.img}/front/images/myrc/open-menuno.gif" width="10" height="10" id="img1403"/>
                                    <a href="http://renzheng.recyclechina.com/" target="_blank">
                                        <spa class="lmfont1">优质海外供应商专区</span>
                                    </a>
                                </div>
                        </li>
                    </ul>
                </li>
    			<!--帮助 end-->
    			
    			#*<!--问卷调查 start-->
    			 <li>
    				<h3 class="treeChannel_pro">
                        <span class="lmtitle">
							<img src="$!{address.img}/front/images/myrc/fold_1.gif"/>
                            <a href="#springUrl('/questionnaire/list.htm')">问卷调查</a>
                        </span>
                    </h3>
                </li>
				*#
    			<!--问卷调查 end-->
    			
    			
    			<!--设置精简版为默认样式 start-->
    			<li>
    				<div class="menuDefault">
                    <input name="leftMenuVersion" type="checkbox" id="leftMenuVersion1" value="1" onclick="setDefaultLeftMenu(this)" #if($cookie.myrcmenu.value != "2") checked="true" #end />
    					默认使用此版 
    				</div>
                </li>
    			<!--设置精简版为默认样式 end-->
        	</ul>
    </div>
<!--精装版tree  end-->

<!--基础班tree start-->
    <div id="menu002">
            <ul>
                <li id="simple_menu_00" class="office_jichuOff">
    				<a title="发布产品.寻找商机" href="#springUrl('/myproducts/office_post1.htm?lmcode=2001&amp;menuType=1')">发布产品</a>
    			</li>
                <li id="simple_menu_10" class="office_jichuOff">
    				<a title="供求列表.供求信息及时刷新" href="#springUrl('/myproducts/office_post_list.htm?lmcode=2002&amp;menuType=1')">产品刷新</a>
    			</li>
                <li id="simple_menu_20" class="office_jichuOff">
    				<a title="查看最新留言" href="#springUrl('/mymessage/inbox.htm?lmcode=2003&amp;menuType=1')">查看留言</a>
    			</li>
                <li id="simple_menu_30" class="office_jichuOff">
    				<a title="搜索信息" href="#springUrl('/mysubscribe/priceList.htm?lmcode=2005&amp;menuType=1')">搜索信息</a>
    			</li>
    			<li id="simple_menu_40" class="office_jichuOff">
    				<a title="公司资料修改" href="#springUrl('/mycompany/updateCompany.htm')">公司资料修改</a>
    			</li>
                <li>
    			<div class="menuDefault">
    				<input name="leftMenuVersion" type="checkbox" id="leftMenuVersion2" value="2" onclick="setDefaultLeftMenu(this);" #if($cookie.myrcmenu.value == 2) checked="true" #end />
    					默认使用此版 
    			</div>
    			</li>
    		</ul>
    </div>
<!--基础班tree end-->

    <div class="ZSTHotTel">
             <p><font class="fontbold">再生通贵宾热线：</font></p>
			 <p><font class="fontbold fontorange fontright">$!{siteInfo.server_phone}</font></p>
    </div>
	<div style="clear:both"></div>
</div>

<script type="text/javascript" >
    changeMenu($!{cookie.myrcmenu.value});
</script>