<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
          <td height="5"></td>
    </tr>
 </table>
<div style="margin-left:10px; margin-right:10px">
</div>
<table width="100%" border="0" cellspacing="10" cellpadding="0">
	<tr>
		<td valign="top">
			<table width="100%"  border="0" cellpadding="0" cellspacing="1" bgcolor="#FF9900" style="margin-bottom:5px">
				<tr>
					<td>
						<table width="100%"  border="0" cellpadding="3" cellspacing="0" bgcolor="#FFFFFF">
							<tr bgcolor="#FFFFCC">
								<td width="15" align="center" valign="top" bgcolor="#FFEEEE"><img src="$!{address.images}/myrc/msn_er.gif" width="20" height="20" /></td>
								<td valign="top" bgcolor="#FFF4F4" style="line-height:20px">
									您好,我是您的商务助理$!{assistant.name},如您在操作中有任何的问题请随时拨打我的客服热线:,我将真诚为您服务!<br>
										<img src="$!{address.images}/myrc/replied2.gif" width="17" height="17" align="absmiddle" /> <a href="#"><font color='#009900'><strong>点此$!{assistant.name}留言</strong></font></a><img src="$!{address.images}/myrc/icon_new_29x14.gif" width="25" height="14" />
 				 				</td>
               				</tr>
           				</table>
					</td>
         		</tr>
       		</table>
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td width="580" height="300" valign="top">
						<table width="570" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="110" height="26" class="myrc_main_titleon">重要操作提醒</td>
								<td class="myrc_main_titleline">&nbsp;</td>
							</tr>
						</table>
						<table width="570" border="0" cellpadding="0" cellspacing="0" class="myrc_main_kuang">
							<tr>
								<td valign="top">
									<br />
									#if(!$!{days})
									<div align="center" class="alertmeg">
											<div >
            									<div align="center">您还没有发布或更新任何供求信息<br />
            										强烈建议您更新或发布信息以使您的信息排序更靠前，获得更多商业机会<br />
            										<img src="$!{address.images}/myrc/replied2.gif" width="17" height="17" /> <a href="#springUrl('/myproducts/office_post_list.htm')">点此立即更新</a>
            									</div>
											</div>
									</div>
									#elseif($!{days}>15)
									<div align="center" class="alertmeg">
										<div >
                                        	 <div align="center">您已经有$!{days}天没有发布或更新任何供求信息了<br />
                                        	   强烈建议您更新或发布信息以使您的信息排序更靠前，获得更多商业机会<br />
                                        	  <img src="$!{address.images}/myrc/replied2.gif" width="17" height="17" /> <a href="#springUrl('/myproducts/office_post_list.htm')">点此立即更新</a>
                                        	 </div>
										</div>
									</div>
									#end
									<br />
									<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
										<tr>
											<td align="center">
												<table width="100%" border="0" align="center" cellpadding="3" cellspacing="1" class="xinxikuang">
													<tr>
														<td width="24%" align="right" nowrap="nowrap" bgcolor="#F2F7F0">您现在的会员类型：</td>
														<td width="38%" bgcolor="#FFFFFF">
															<div align="left">
																<font color="#000099" style="font-size:14px; font-weight:bold">
																	$!{membershipLable}
																</font>
															</div>
														</td>
														<td width="38%" bgcolor="#FFFFFF"></td>
													</tr>
													<tr>
														<td align="right" nowrap="nowrap" bgcolor="#F2F7F0">您的账号信息：</td>
														<td bgcolor="#FFFFFF">
															<div align="left">
																<font color="#000099" >
																	$!{myaccount.account}  <a href="$!{address.server}/user/passwordReminder.htm" target="_blank" ><span style="color:#666;" >(忘记密码)</span></a>
																</font>
															</div>
														</td>
														<td bgcolor="#FFFFFF"></td>
													</tr>
													<tr>
														<td align="right" bgcolor="#F2F7F0">开通时间：</td>
														<td bgcolor="#FFFFFF">
															<div align="left">
																<font color="#666666">
																	$!{membershipFromDate}
																</font>
															</div>
														</td>
														<td bgcolor="#FFFFFF"><div align="left"></div></td>
													</tr>
													<tr>
														<td align="right" bgcolor="#F2F7F0">未读留言：</td>
														<td bgcolor="#FFFFFF">
															<div align="left">
																您有 <strong>
																	<font color="#FF0000" style="font-size:14px ">$!{unviewedRecordNumber}</font>
																</strong> 条
																<font color="#FF0000" style="font-size:14px "><b></b>
																</font>未读留言信息
															</div>
														</td>
														<td bgcolor="#FFFFFF"><div align="left"><img src="$!{address.images}/myrc/indexpoint.gif" width="5" height="9" align="absmiddle" /> <a href="#springUrl('/mymessage/inbox.htm')">立即查看</a></div></td>
													</tr>
													<tr>
														<td align="right" bgcolor="#F2F7F0"><span class="m">商业信息：</span></td>
														<td bgcolor="#FFFFFF"><div align="left">
																您发布了<b><font color="#FF0000">$!{publishedProducts}</font></b>条供求信息</div></td>
														<td bgcolor="#FFFFFF"><div align="left"><img src="$!{address.images}/myrc/indexpoint.gif" width="5" height="9" align="absmiddle" /> <a href="#springUrl('/myproducts/office_post_list.htm')">立即查看</a></div></td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
									<table width="100%"  border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td height="5"></td>
										</tr>
									</table>
									<table  border="0" align="center" cellpadding="3" cellspacing="0">
										<tr>
											<td width="78"><img src="$!{address.images}/myrc/myalibaba_index_08.gif" width="78" height="78"></td>
											<td>
												<table width="100%"  border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td>当前时间：$!{today}</td>
													</tr>
												</table>
												<table width="300"  border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td width="$!{membershipPercent}" height="10" align="right"><img src="$!{address.images}/myrc/renew.gif" width="5" height="7"></td>
														<td align="center"></td>
                									</tr>
                								</table>
												<table width="300"  border="0" cellpadding="0" cellspacing="1" bgcolor="#999999">
													<tr bgcolor="#999999" >
														<td height="12" colspan="2" background="$!{address.images}/myrc/renew3.gif">
															<table width="$!{membershipPercent}"  border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<td height="15" background="$!{address.images}/myrc/renew1.gif"><img src="$!{address.images}/myrc/renew1.gif" /></td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
											<td nowrap="nowrap"><FONT color=#666666>截止时间<BR>$!{membershipEndDate}</FONT> </td>
										</tr>
									</table>
									<br />
								</td>
							</tr>
						</table><br />
                        <!--关键字定制 begin-->
                        <script>
        				function keyon(id,obj){
        					obj.className="myrc_key_on"
        					var objd=document.getElementById("c"+id).style.display=""
        				}
        				</script>
						<!--关键字定制 end-->
						<br />
						<table width="98%"  border="0" cellpadding="0" cellspacing="1" bgcolor="#D5E6CE">
							<tr>
								<td>
									<table width="100%"  border="0" cellpadding="3" cellspacing="0" bgcolor="#FFFFFF">
										<tr bgcolor="#FFFFCC">
											<td width="15" align="center" valign="top" bgcolor="#F2F7F0"><img src="$!{address.images}/myrc/face62.gif" width="19" height="19" /></td>
											<td valign="top" bgcolor="#F2F7F0">
												<div align="left">
													<strong>
														<font color="#FF0000" style="font-size:12px; line-height:20px">使用小窍门：</font><br />
												</strong>1. 怎样可以让客户更快更准找到我？快来使用www.zz91.com全新标签功能。<br />
												&nbsp;&nbsp;&nbsp;<img src="$!{address.images}/myrc/forwarded2.gif" width="17" height="17" align="absmiddle" /> <a href="#springUrl('/myproducts/office_post1.htm')">现在马上体验！</a>
												<br />
												<font color="red">2. 你想在门市部里公开你的邮箱地址吗？只需在"<a href="#springUrl('/mycompany/updateCompany.htm')"><font color="red">公司基本信息</font></a>"里做一下设置即可。</font><br />
												&nbsp;&nbsp;&nbsp;<img src="$!{address.images}/myrc/forwarded2.gif" width="17" height="17" align="absmiddle" /> <a href="#springUrl('/mycompany/updateCompany.htm')"><font color="red">现在马上设置！</font></a>
												</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<br />
						<table width="98%"  border="0" cellpadding="0" cellspacing="1" bgcolor="#D5E6CE">
							<tr>
								<td>
									<table width="100%"  border="0" cellpadding="3" cellspacing="0" bgcolor="#FFFFFF">
										<tr bgcolor="#FFFFCC">
											<td width="15" align="center" valign="top" bgcolor="#F2F7F0"><img src="$!{address.images}/myrc/face62.gif" width="19" height="19" /></td>
											<td valign="top" bgcolor="#F2F7F0">
												<div align="left">
													<strong>
														<font color="#FF0000" style="font-size:12px; line-height:20px">颗粒网动态快报：</font><br />
												</strong>塑料颗粒网新增"刷新"功能,让供求发布更加方便,更加快捷！<br />
												&nbsp;&nbsp;&nbsp;<img src="$!{address.images}/myrc/forwarded2.gif" width="17" height="17" align="absmiddle" /> <a href="http://www.kl91.com/myrc/CompanyPriceList.aspx?focus=1102" target="_blank">现在马上查看！</a>
												</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<br />
						<table width="98%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#D5E6CE">
										<tr bgcolor="#EFF6EF">
											<td width="120" height=22>产品名称</td>
											<td width="82" height=22 align="center">产地</td>
											<td width="83" height=22 align="center">价格</td>
											<td width="54" height=22 align="center">数量</td>
											<td width="66" height=22 align="center">日期</td>
											<td width="100"  align="center">发布公司</td>
										</tr>
										#foreach($!{list} in $!{sdList})
										<tr bgcolor="#ffffff">
											<td height='22' width="120"><a href="$!{address.trade}/productdetails$!{list.productsDO.id}.htm" title="$!{list.productsDO.title}" target="_blank">$!{list.productsDO.title}</a></td>
											<td height='22' width='92'>$!{list.productsDO.location}</td>
											<td height='22' width='83'>$!{list.productsDO.price}$!{list.productsDO.priceUnit}</td>
											<td height='22' width='54' >$!{list.productsDO.quantity}</td>
											<td height='22' width='56'>$!date.format('yyyy-MM-dd ',$!{list.productsDO.refreshTime})</td>
											<td height='22' >$!{list.companyDO.name}</td>
										</tr>
										#end
									</table>
								</td>
							</tr>
						</table>
					</td>
					<td valign="top">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td height="28" bgcolor="#EFF6EF">
									<span class="STYLE1"> &nbsp;最新资讯</span>
								</td>
							</tr>
						</table>
						<table width="100%" border="0" cellpadding="0" cellspacing="0" class="xinxidefault">
							#foreach($!{frontBbsPostList} in $!{frontBbsPostList})
								#if($!velocityCount<=7)
										<tr>
											<td height="25" bgcolor="#FFFFFF" class="xinxidefault_line">
												<nobr>&nbsp;
													·<a href="$!{address.huzhu}/viewReply.htm?postId=$!{frontBbsPostList.bbsPost.id}" target="_blank" title="$!{frontBbsPostList.bbsPost.title}" >
														<font color="#666666">
															#if($!{frontBbsPostList.bbsPost.title.length()}<=18)
																	$!{frontBbsPostList.bbsPost.title}
															#else
																	$!{frontBbsPostList.bbsPost.title.substring(0,18)}...
															#end
													    </font>
												    </a>&nbsp;
        				 						</nobr>
											</td>
        				 				</tr>
								#end
							#end
							<tr>
								<td height="25" bgcolor="#FFFFFF">
									<table width="96%" border="0" cellpadding="0" cellspacing="0" class="lh13">
										<tr>
											<td valign="top">
												<table width="100%" border="0" cellspacing="0" cellpadding="5">
													#foreach($!{frontBbsPostList} in $!{frontBbsPostList})
														#if($!velocityCount>7&&$!velocityCount<=9)
																<tr>
																	<td><img src="$!{address.images}/myrc/d2.gif" width="10" height="12">
																			<a href="$!{address.huzhu}/viewReply.htm?postId=$!{frontBbsPostList.bbsPost.id}" target="_blank">
																				<font color="#0033CC">
																					#if($!{frontBbsPostList.bbsPost.title.length()}<=18)
																							$!{frontBbsPostList.bbsPost.title}
																					#else
																							$!{frontBbsPostList.bbsPost.title.substring(0,18)}...
																					#end
																				</font>
																			</a>
																	</td>
						  										</tr>
														#end
													#end
                   								</table>
											</td>
										</tr>
									</table>						  
								</td>
							</tr>
							<tr>
								<td height="25" align="right" bgcolor="#FFFFFF">
									<img src="$!{address.images}/myrc/fold_1.gif" width="8" height="8" />
									<a href="$!{address.huzhu}/bbsTags.htm?sign=1" target="_blank">查看更多</a>&nbsp;
								</td>
							</tr>
						</table>
						<br />
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td height="28" bgcolor="#EFF6EF"><span class="STYLE1"> &nbsp;最新商机</span></td>
							</tr>
						</table>
						<table width="100%" border="0" cellpadding="2" cellspacing="0" class="xinxidefault">
							<tr>
								<td>
									<table width="99%" border="0" align="center" cellpadding="0" cellspacing="0">
										#foreach($product in $results)
											<tr >
												<td height="22" class="xinxidefault_line">
													#if($!{product.buyOrSale}=='供应')
														<font class="buy">$!{product.buyOrSale}</font>&nbsp;
													#else
														<font class="sell">$!{product.buyOrSale}</font>&nbsp;
													#end
													<a target="_blank" href="$!{address.server}/trade/productdetails$!{product.productId}.htm" class="a1">P$!{product.productsTitle}</a>
													<span class="grayed">$!{product.area}</span>	
												</td>
											</tr>
										#end
									</table>
									<table width="99%" border="0" align="center" cellpadding="0" cellspacing="0">
										<tr>
											<td height="25" align="right"><img src="$!{address.images}/myrc/fold_1.gif" width="8" height="8" /> <a href="#springUrl('/mysubscribe/manageSubscribeBiz.htm')">修改订阅商机</a></td>
											<td align="right"><img src="$!{address.images}/myrc/fold_1.gif" width="8" height="8" /> <a href="#springUrl('/mysubscribe/bizList.htm')" target="_blank">查看更多</a>&nbsp;</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
                    </td>
				</tr>
          </table>
		</td>
    </tr>
</table>