#set($layout="/layout/defaultS.vm")
<script type="text/javascript" src="#springUrl('/app/util.js')"></script>
<script type="text/javascript" src="#springUrl('/app/analysis/webbasedatastat.js')"></script>
<script type="text/javascript">
	Ext.onReady(function(){
	
		var mainGrid=Ext.create("ast.ast1949.analysis.webbasedatastat.MainGrid",{
			region:"center"
		});
		
		var chartPanel=Ext.create("ast.ast1949.analysis.webbasedatastat.ChartPanel",{
			region:"south",
			height:300px
		});
		
		Ext.create("Ext.container.Viewport",{
			layout:"border",
			items:[mainGrid,chartPanel]
		});
		
	});
</script>
