<header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="javascript:void(0)" class="" onClick="javascript :history.back(-1)">
                <i class="am-header-icon am-icon-chevron-left"></i>
            </a>
        </div>

        <h1 class="am-header-title">
            委托采购
        </h1>
    </header>
    <div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
        <a href="#top" title="">
            <img class="am-gotop-icon-custom" src="http://img0.zz91.com/trade/assets/images/goTop.gif" />
        </a>
    </div>

	<form action='#springUrl("/register/doStep2.htm")' class="am-form" method="post" data-am-validator>
        <ul class="am-list am-list-static am-list-border am-list-striped am-margin-xs">
			<input type="hidden" name="account" value="$!{account}"/>
			
            <li class="am-form-group am-padding-left-0 am-padding-right-0 am-cf">
                <label for="doc-ipt-4" class="am-u-sm-4 am-form-label am-text-sm am-padding-right-0 am-text-right am-padding-left-0 am-u-md-2 am-u-lg-1 am-text-notwt"><span class="am-text-red">*</span> 密码：</label>
                <div class="am-u-sm-8 am-padding-left-0 am-u-md-10 am-u-lg-11">
                    <input type="password" class="am-form-field am-radius" placeholder="请输入密码" name="password" id="doc-vld-pwd-1" required/>
                </div>
            </li>
            <li class="am-form-group am-padding-left-0 am-padding-right-0 am-cf">
                <label for="doc-ipt-4" class="am-u-sm-4 am-form-label am-text-sm am-padding-right-0 am-text-right am-u-md-2 am-u-lg-1 am-text-notwt"><span class="am-text-red">*</span>重复密码：</label>
                <div class="am-u-sm-8 am-padding-left-0 am-u-md-10 am-u-lg-11">
                    <input type="password" class="am-form-field am-radius" placeholder="重复输入您的密码" id="doc-vld-pwd-2" data-equal-to="#doc-vld-pwd-1" required/>
                </div>
            </li>
            <li class="am-form-group am-padding-left-0 am-padding-right-0 am-cf">
                <label for="doc-ipt-4" class="am-u-sm-4 am-form-label am-text-sm am-padding-right-0 am-text-right am-u-md-2 am-u-lg-1 am-text-notwt">QQ：</label>
                <div class="am-u-sm-8 am-padding-left-0 am-u-md-10 am-u-lg-11">
                    <input type="text" class="am-form-field am-radius" placeholder="请输入您的QQ" name="qq"/>
                </div>
            </li>
            <li class="am-form-group am-padding-left-0 am-padding-right-0 am-cf">
                <label for="doc-ipt-4" class="am-u-sm-4 am-form-label am-text-sm am-padding-right-0 am-text-right am-u-md-2 am-u-lg-1 am-text-notwt"><span class="am-text-red">*</span>公司名称：</label>
                <div class="am-u-sm-8 am-padding-left-0 am-u-md-10 am-u-lg-11">
                    <input type="text" class="am-form-field am-radius" placeholder="请输入您的公司名称" name="name" required/>
                </div>
            </li>

            <li class="am-form-group am-padding-left-0 am-padding-right-0 am-cf">
                <label for="doc-ipt-4" class="am-u-sm-4 am-form-label am-text-sm am-padding-right-0 am-text-right am-u-md-2 am-u-lg-1 am-text-notwt"><span class="am-text-red">*</span>公司类型：</label>
                <div class="am-u-sm-8 am-padding-left-0 am-u-md-10 am-u-lg-11">
                    <div class="am-g">
                        <div class="am-u-sm-6 am-padding-right-0">
                           <label class="am-radio am-margin-bottom-0">
                                <input type="radio" name="radio1" value="" data-am-ucheck checked> 公司
                            </label>
                        </div>
                        <div class="am-u-sm-6 am-padding-right-0">
                            <label class="am-radio am-margin-bottom-0">
                                <input type="radio" name="radio1" value="" data-am-ucheck checked> 个人
                            </label>
                        </div>
                        <!-- <div class="am-u-sm-1 am-padding-0 am-text-center">
                            
                        </div> -->
                    </div>
                </div>
            </li>

            <li class="am-form-group am-padding-left-0 am-padding-right-0 am-cf">
                <label for="doc-ipt-4" class="am-u-sm-4 am-form-label am-text-sm am-padding-right-0 am-text-right am-u-md-2 am-u-lg-1 am-text-notwt"><span class="am-text-red">*</span>公司地址：</label>
                <div class="am-u-sm-8 am-padding-left-0 am-u-md-10 am-u-lg-11">
                    <a class="am-address-btn" data-am-modal="{target: '#doc-modal-1'}" href="javascript:void(0)">请选择地区<i class="am-icon-sort-desc am-fr"></i></a>
					<input type="hidden" name="area" value="" id="area"/>
				</div>
            </li>
			
            <li class="am-form-group am-padding-left-0 am-padding-right-0 am-cf">
                <label for="doc-ipt-4" class="am-u-sm-4 am-form-label am-text-sm am-padding-right-0 am-text-right am-u-md-2 am-u-lg-1 am-text-notwt"><span class="am-text-red">*</span>服务类型：</label>
                <div class="am-u-sm-8 am-padding-left-0 am-u-md-10 am-u-lg-11">
                   <!--  <select class="am-select-form">
                        
                    </select> -->

                    <span class="am-select-box width-all">
                    <i class="am-icon-caret-down am-select-down"></i>
                    <select class="am-select-form mysel" name="companyCode">
                          <option value="">请选择您的公司服务类型</option>
                          <option value="10091000">废塑料加工厂</option>
                          <option value="10091001">塑料造粒厂</option>
                          <option value="10091002">塑料贸易商</option>
                          <option value="10091003">塑料改性</option>
                          <option value="10091004">塑料制品加工厂</option>
                    </select>
                </span>
                </div>
            </li>
            <li class="am-form-group am-padding-left-0 am-padding-right-0 am-cf">
                <label for="doc-ipt-4" class="am-u-sm-4 am-form-label am-text-sm am-padding-right-0 am-text-right am-padding-left-0 am-u-md-2 am-u-lg-1 am-text-notwt"><span class="am-text-red">*</span>公司主营：</label>
                <div class="am-u-sm-8 am-padding-left-0 am-u-md-10 am-u-lg-11">
                    <textarea placeholder="请输入您的主营项目" class="width-all" name="business" required></textarea>
                </div>
            </li>
        </ul>

        <div class="am-text-center am-padding-xs am-text-sm">
            已上待<span class="am-text-red">*</span>为必填项目，请仔细填写
        </div>

        <div class="am-padding-sm">
            <button type="submit" class="am-btn am-btn-primary am-btn-block am-radius" id="getCodeBtn">提交</button>
        </div>
  <!--在这里编写你的代码-->
            <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
            <div class="am-modal-dialog">
                <div class="am-modal-hd am-header-default am-text-white">请选择城市
                    <a href="javascript: void(0)" class="am-close am-close-spin am-text-white" data-am-modal-close>&times;</a>
                </div>
                <div class="am-modal-bd am-padding-0">
                    <div class="am-g am-address">
                        <div class="am-u-sm-3 am-padding-0 am-city">
                            <ul class="am-list am-text-sm am-top-bordor-0 am-margin-0 am-cityList" id="area-1">
                                <!--<li class="thisCity">北京</li>
                                <li>北京</li>
                                <li>北京</li>
                                <li>北京</li>
                                <li>北京</li>
                                <li>北京</li>
                                <li>北京</li>
                                <li>北京</li>
                                <li>北京</li>
                                <li>北京</li>
                                <li>北京</li>
                                <li>北京</li>-->
                            </ul>
                        </div>
                        <div class="am-u-sm-9 am-city-small am-padding-0" id="sq">
							
                            <div class="am-padding-0 am-text-left">
                                <div class="am-text-sm am-padding-sm">忻州</div>
                                <ul class="am-smcity-name am-padding-0 am-margin-0 am-smcity">
                                    <li code="10011000100310081007">静乐县</li>
                                    <li code="10011000100310081008">神池县</li>
                                    <li code="10011000100310081009">五寨县</li>
                                    <li code="10011000100310081010">岢岚县</li>
                                    <li code="10011000100310081011">河曲县</li>
                                    <li code="10011000100310081012">保德县</li>
									<li code="10011000100310081013">偏关县</li>
									<li code="10011000100310081014">原平市</li>
									<li code="10011000100310081006">宁武县</li>
									<li code="10011000100310081005">繁峙县</li>
									<li code="10011000100310081004">代县</li>
									<li code="10011000100310081000">市辖区</li>
									<li code="10011000100310081001">忻府区</li>
									<li code="10011000100310081002">定襄县</li>
									<li code="10011000100310081003">五台县</li>
                                </ul>
                            </div>
                            <hr class="am-padding-bottom-0">
								
                            <div class="am-padding-0 am-text-left">
                                <div class="am-text-sm am-padding-sm">北京市辖</div>
                                <ul class="am-smcity-name am-padding-0 am-margin-0 am-smcity">
                                    <li>东城区</li>
                                    <li>东城区</li>
                                    <li>东城区</li>
                                    <li>东城区</li>
                                    <li>东城区</li>
                                    <li>东城区</li>
                                </ul>
                            </div>
							
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
	</form>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="http://img0.zz91.com/trade/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="http://img0.zz91.com/trade/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="http://img0.zz91.com/trade/assets/js/comm.js"></script>
<script src="http://img0.zz91.com/trade/assets/js/amazeui.min.js"></script>
<script type="text/javascript">
        $(function(){
            init();
        })
		
        function init(){
            //$("#getCodeBtn").on("click",function(){
            //    location.href = "reg-success.html"
            //})
			
			_reqajax({
				type:"post",
				url:"#springUrl('/register/catChild.htm')",
				data:{parentCode:10011000}
			},getArea);
			
			main();//城市选择
        }
		
		function main(){  //城市选择
            //选择城市直辖
            //stObj("am-cityList li","thisCity","click","",getSmCity);
			
    		$(".am-cityList").on("click","li",function(){
				$(".thisCity").removeClass("thisCity");
				$(this).addClass("thisCity");
				getSmCity($(this).attr("code"));//获得当前省份的市和区
			});
			
            //var big_cityname = $(".thisCity").text();
    
            $("#sq").on("click","li",function(){ //点击直辖市
				var big_cityname = $(".thisCity").text();
                var ct_cityname =$(this).parent().prev().text();
                var sm_cityname = $(this).text();
                var cityAll = big_cityname + ">" + ct_cityname + ">" + sm_cityname + '<i class="am-icon-sort-desc am-fr"></i>';
                $(".am-address-btn").html(cityAll);
				$("#area").val($(this).attr("code"));//设置area的值
                $("#doc-modal-1").modal('close');
            })
			
        }
		
		//填充地区(省份)数据
		function getArea(data){
			if(data.length>0){
				for(var i = 0; i < data.length; i++){
					if(i==0){
						jQuery("#area-1").append("<li class='thisCity' code='"+data[i].code+"'>"+data[i].label+"</li>");
					}else{
						jQuery("#area-1").append("<li code='"+data[i].code+"'>"+data[i].label+"</li>");
					}
				}
			}
			getSmCity($("#area-1 li:first").attr("code"));
		}
		
		function getSmCity(parentCode){
			_reqajax({
				type:"post",
				url:"#springUrl('/register/getSq.htm')",
				data:{parentCode:parentCode}
			},fillSq);//请求数据并填充市区
		}
		
		function fillSq(data){
			//填充市区
			if(data.length>0){
				$("#sq").empty();//清空id为‘sq’的div的内容
				for(var i = 0; i < data.length; i++){
					html = "<div class='am-padding-0 am-text-left'><div class='am-text-sm am-padding-sm'>"+data[i].label+"</div><ul class='am-smcity-name am-padding-0 am-margin-0 am-smcity'>";
					if(data[i].category.length>0){
						for(var j = 0;j<data[i].category.length;j++ ){
							//console.log(data[i].category[j].label);
							html1 = "<li code='"+data[i].category[j].code+"'>"+data[i].category[j].label+"</li>";
							html=html+html1;
						}
					}
					end = "</ul></div><hr class='am-padding-bottom-0'>"
					$("#sq").append(html+end);
				}
			}
		}
		
</script>
