	<script type="text/javascript" src="#springUrl('/app/comp/compTrade/buy.js')" ></script>
	<script type="text/javascript">
			Ext.onReady(function(){
			
			var grid=new com.zz91.comp.buy.grid({
				id:COMP.BUY_GRID,
				title:"公司求购信息",
				layout:"fit",
				region:"center"
			});
			
			grid.getStore().baseParams["cid"]=$!{id};
			
			var viewport = new Ext.Viewport({
				layout : "border",
				items:[grid]
			});
		});
	</script>