@charset "utf-8";
/* CSS Document */


/* 默认
   -------------- */
body { 
	font: 12px Arial, "Trebuchet MS", Tahoma, sans-serif; 
	line-height: 1.6em;
	background: #FFF; 
	color: #444; 
        margin: 0 auto;
        padding: 0;
}

a {	color: #0C5DD6;	text-decoration: none;}
a:hover { color: #E0691A; }
img {border:0;margin:0;padding:0;}
form { 	margin: 0;}
.blue{color:#0410B1; font:bold 12px Arial, Tahoma, Verdana, "MS Sans Serif";}
.grey{color:#C2C2C2;}
.red{color:#FF0000;}
.deep_green {color:305A05;}
.b {font-weight:bold;}
p {line-height:1.4em; font:normal 12px Arial, Tahoma, Verdana, "MS Sans Serif";color:#000000; word-wrap:break-word;overflow:hidden;margin-top:0;}

UL{list-style-type:none; margin:0;padding:0;}
li{word-wrap:break-word;line-height:1.4em;overflow:hidden;margin:0;padding:0;}
input {margin:0;padding:0;}

/* 价格页，讨论页右侧顶部的图片  */
.right_top {
         background: url(../images/show.jpg) no-repeat top right;
         margin: 0;
         padding: 0;
         width: 578px;
         height: 191px;
          }
/* 新闻页，讨论页等页的分页样式 */
.news_page {
	width:546px;
	float:left;
	clear:left;
	margin:5px 0 5px 0;
	padding:0;
	}
.page_num {
	float:left;
	clear:left;
	margin:0;
	padding:0;
	}
.page_go {
	float:right;
	clear:right;
	margin:0;
	padding:0;
	}
.page_go input.t {
	width:20px;
	}