/* CSS Document */

.content {
          width: 1000px;
          margin: 0 auto;
          padding: 0;
          }

.top {
      width: 100%;
      height: 27px;
      margin: 0 auto;
      padding: 0;
      background: #EEFBEE top left;
      color: #0C5DD6;
      border-bottom: 1px solid #BADAB9;
     }

.top_l {
        float: left;
        clear: left;
        margin: 2px 0 2px 95px; _margin: 2px 0 2px 50px;
        padding: 0;
        }

.top_r {
        float: right;
        clear: right;
        margin: 2px 100px 2px 0; _margin: 2px 50px 2px 0;
        padding: 0;
        }

.top_r span.cart {
        background: url(../images/cart.gif) no-repeat left;
        width: 19px;
        height: 14px;
        margin: 2px 2px 2px 0;
        }

.top_r span.basket {
        margin: 0 0 0 22px;
        }


.top2 {
        width:  802px;
        margin: 0 auto;
        padding: 0;
       }

.logo {
        float: left;
        clear: left;
        background: #FFF url(../images/logo.gif) no-repeat left;
        width: 212px;
        height: 59px;
        margin: 10px 0 2px 0;
        }

.daohang {
         float: right;
         clear: right;
         background: url(../images/dh_bg.gif) no-repeat right;
         margin: 25px 0 2px 0;
         padding: 15px 0 0 0;
         width: 466px;
         height: 36px;
          }

.daohang span.dh {
            
            color: #666;
            font: bold 12px Verdana, Arial, Sans-Serif;
            margin: 10px 5px 3px 20px;
            }

.daohang span.dh a {
            color: #666;
            background: inherit;
            text-decoration: none;
            font: bold 12px Verdana, Arial, Sans-Serif;
            }

.daohang span.dh a:hover {
            color: #000;
            background: inherit;
            text-decoration: none;
            font: bold 12px Verdana, Arial, Sans-Serif;
            }

.menu {
            clear: both;
            width: 802px;
            height: 30px;
            background: url(../images/menu_bg.gif) no-repeat;
            margin: 0 auto;
            padding: 0; *padding: 0;
         }

.menu ul {
           margin: 0;
           padding : 0; 
           list-style : none; 
          }

.menu li {

	   padding: 7px 5px 5px 20px;
           margin: 0 0 0 10px;
	   color: #FFF;
           font: bold 14px  Arial, Verdana, Sans-Serif;
	   float: left; 
          }


.menu li a {
            font: bold 14px  Arial, Verdana, Sans-Serif;
            color: #FFF;
            background: inherit;
            text-decoration: none;
            }

.menu li a:hover {
            font: bold 14px  Arial, Verdana, Sans-Serif;
            color: #000;
            text-decoration: none;
            } 

.menu span.time {
            float: right;
            margin: 7px 7px 2px 0;
            color: #FFF;
            font: normal 12px  Arial, Verdana, Sans-Serif;
           }
           
.menu_bottom {
              background: #EEEEF0;
              margin: 0 0 5px 0;
              width: 802px;
              height: 40px; *height: ;
              }

.search {
         float: left;
         clear: left;
         margin: 5px 0 3px 5px;
         padding: 0;
         }

.search form { 	margin: 0; 
              }

.search img {
         width: 23px;
         height: 22px;
         margin: 5px 5px 0 0;
         padding: 0;
        }
		
.list_content_top {
	background: url(../images/list_top.gif) repeat-x center;
	float:left;
	width: 802px;
	height:39px;
	margin:0 auto;
	padding:0;	
	}
.list_content_top p.t {
	margin:13px 0 0 3px;
	padding:0;
	}
.list_content_top a {
	font:normal 12px Arial, Tahoma, Verdana, "MS Sans Serif";
	color:#3E6C05;
	}