/* Confluence print stylesheet. Common to all themes for print media */

body {
    background-color: #fff;
    font-size: 10pt;
    line-height: 1.2;
}
a, a:link, a:visited, a:hover {
    color: #000;
}

#content {
    font-family: "Hoefler Text", Garamond, Times, serif;
}

#header,
#page-view-panel,
#user-control-panel,
#navigation,
#sidebar,
.page-actions,
.navmenu,
.noprint,
.inline-control-link,
.inline-control-link a,
.global-comment-actions,
.comment-actions {
    display: none;
}

#com-atlassian-confluence h1 img {
    display: none;
}

.print-only {
    display: block;
}

/* TODO - should this work? */
#children-section {
    page-break-inside: avoid;
}

#page-children a {
    text-decoration: none;
}

#footer #poweredby li.noprint {
    display:none;
}
