#set($layout="/layout/blank.vm")
<div class="footer">
    <div class="footermain">
        <div class="m7-item fl">
            <div class="m7-item-title">
                <a href="#">环保子网</a>
            </div>
            <ul>
                <li>
                    <a href="$!{address.www}/ws" target="_blank">污水处理网</a>
                </li>
                <li>
                    <a href="$!{address.www}/ys" target="_blank">原水处理网</a>
                </li>
                <li>
                    <a href="$!{address.www}/kq" target="_blank">空气净化网</a>
                </li>
                <li>
                    <a href="$!{address.www}/yj" target="_blank">水处理药剂网</a>
                </li>
                <li>
                    <a href="$!{address.www}/beng" target="_blank">泵网</a>
                </li>
                <li>
                    <a href="$!{address.www}/fa" target="_blank">阀网</a>
                </li>
                <li>
                    <a href="$!{address.www}/fj" target="_blank">风机网</a>
                </li>
                <li>
                    <a href="$!{address.trade}/yiqiyibiao" target="_blank">仪器仪表网</a>
                </li>
                <li>
                    <a href="$!{address.www}/hw" target="_blank">环卫清洁网</a>
                </li>
                <li>
                    <a href="$!{address.www}/zh" target="_blank">综合设备网</a>
                </li>
            </ul>
        </div>
        <div class="m7-item fr">
            <div class="m7-item-title">
                <a href="#">关于我们</a>
            </div>
            <ul>
                <li>
                    <a href="$!{address.www}/fudus/vpindex.htm" target="_blank">会员服务</a>
                </li>
                <li>
                    <a href="$!{address.www}/fudus/vppay.htm" target="_blank">支付方式</a>
                </li>
                <li>
                    <a href="$!{address.www}/fudus/epmap.htm" target="_blank">网站地图</a>
                </li>
                <li>
                    <a href="$!{address.www}/faq/newGindex.htm" target="_blank">新手指南</a>
                </li>
                <li>
                    <a href="$!{address.www}/fudus/friendlinks.htm" target="_blank">友情链接</a>
                </li>
                <li>
                    <a href="$!{address.www}/fudus/absjoinus.htm" target="_blank">客服中心</a>
                </li>
                <li>
                    <a href="$!{address.www}/fudus/leaveMsg.htm" target="_blank">意见留言</a>
                </li>
                <li>
                    <a href="$!{address.www}/news/details9187.htm" target="_blank">诚聘英才</a>
                </li>
                <li>huanbao.com ©All Rights Reserved</li>
                <li>
                    <a href="$!{address.www}">中国环保网</a>
                </li>
                <li>版权所有</li>
            </ul>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- huanbao -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-5512236620584335"
		     data-ad-slot="7436342405"
		     data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
        </div>
        <div style="clear:both"></div>
    </div>
    <div style="clear:both"></div>
    <!--end mainblock7-->
</div>
<div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe994e93e1e2af4e9051cc56588962b73' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30237221-1']);
  _gaq.push(['_setDomainName', 'huanbao.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</div>
<!--end main-->