#set($layout="/layout/blank.vm")
<div class="header">
    <div class="h-main">
        <div class="h-main-left">
            <div class="set-home">
                <a href="#" onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('$!{address.www}');">设为首页</a>
            </div>
            <div class="add-favorite">
                <a href="javascript:void(0);" target="_self" onclick="javascript:try{ window.external.AddFavorite('$!{address.www}','中国环保网'); } catch(e){ (window.sidebar)?window.sidebar.addPanel('中国环保网','$!{address.www}/',''):alert('请使用按键 Ctrl+d，收藏中国环保网'); }">加入收藏</a>
            </div>
        </div>
        <div class="h-main-right" id="h-main-right">
            <ul>
                   
                <li id="menu">
                    <ul>
                        <li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)">
							#if(${loginName})
								<div class="droptitle" style="background-color:#0C0">${loginName}</div>
								<div class="dropmain" style="display:none">
                                    <dl>
										<dt>您好！${loginName}！欢迎来到中国环保网!</dt>
                                        <dd>
                                            <a href="$!{address.www}/myesite/supply/publish_StpOne.htm" target="_blank">快速发布</a>
                                            <a href="$!{address.www}/myesite/logout.htm" >注销</a>
                                        </dd>
                                    </dl>
                                </div>
							#else
                                <div class="droptitle" style="background-color:#0C0">登录</div>
                                <div class="h-login" id="login-block">
									<form id="loginForm" name="loginForm" action="$!{address.www}/myesite/doLogin.htm" method="post">
                                        <input type="text" name="username" class="h-login-text"  placeholder="登录名" />
                                        <input type="password" name="password" class="h-login-text" placeholder="密码" />
                                        <div class="h-login-show">
                                            <input name="" type="checkbox" value="" />
                                            下次自动登录|
                                            <a href="$!{address.www}/user/find_pwf.htm" target="_blank">忘记密码？</a>
                                        </div>
                                        <div class="h-login-ok">
                                            <input type="submit" class="submit" value="登录" />
                                        </div>
										<input type="hidden" name="refurl" value="$!{address.www}" />
									</form>
                                </div>
							#end
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="$!{address.www}/myesite/regist.htm" target="_blank">免费注册</a>
                </li>
                <li id="menu">
                    <ul>
                        <li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)">
                            <div class="droptitle">我的生意管家</div>
                            <div class="dropmain" style="display:none">
                                <dl>
                                    <dt>采购</dt>
                                    <dd>
                                        <a href="$!{address.www}/myesite/buy/publish_StpOne.htm" target="_blank">发送询价单</a>
                                    
                                        <a href="$!{address.www}/myesite/buy/index.htm" target="_blank">管理询价单</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>销售</dt>
                                    <dd>
                                        <a href="$!{address.www}/myesite/supply/publish_StpOne.htm" target="_blank">发布产品信息</a>
                                    
                                        <a href="$!{address.www}/myesite/supply/index.htm" target="_blank">管理产品信息</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>服务</dt>
                                    <dd>
                                        <a href="">企业商铺</a>
                                   
                                        <a href="$!{address.www}/myesite/photoalbum/index.htm" target="_blank">企业图库</a>
                                    
                                        <a href="">商机订阅</a>
                                    </dd>
                                </dl>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">我的收藏夹</a>
                </li>
                <li id="menu">
                    <ul>
                        <li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)">
                            <div class="droptitle">网站导航</div>
                            <div class="dropmain" style="display:none; left:-174px">
                                <dl>
                                    <dt>商机频道</dt>
                                    <dd>
                                        <a href="$!{address.www}/trade" target="_blank">产品库</a>
                                    
                                        <a href="$!{address.www}/company" target="_blank">企业库</a>
                                    
                                         <a href="$!{address.www}/trade/buy/index.htm" target="_blank">采购库</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>内容频道</dt>
                                    <dd>
                                        <a href="$!{address.www}/news/" target="_blank">资讯</a>
                                    
                                        <a href="$!{address.www}/exhibit/" target="_blank">展会</a>
                                    
                                        <a href="$!{address.www}/compnews/technicalarticles/index.htm" target="_blank">技术文章</a>
                                    
                                        ##<a href="">微门户</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>行业站</dt>
                                    <dd>
                                        
                                            <a href="$!{address.www}/ws" target="_blank">污水处理网</a>
                                      
                                            <a href="$!{address.www}/ys" target="_blank">原水处理网</a>
                                        
                                            <a href="$!{address.www}/kq" target="_blank">空气净化网</a>
                                       
                                            <a href="$!{address.www}/yj" target="_blank">水处理药剂网</a>
                                        
                                            <a href="$!{address.www}/beng" target="_blank">泵网</a>
                                        
                                            <a href="$!{address.www}/fa" target="_blank">阀网</a>
                                        
                                            <a href="$!{address.www}/fj" target="_blank">风机网</a>
                                        
                                            <a href="$!{address.trade}/yiqiyibiao" target="_blank">仪器仪表网</a>
                                        
                                            <a href="$!{address.www}/hw" target="_blank">环卫清洁网</a>
                                        
                                            <a href="$!{address.www}/zh" target="_blank">综合设备网</a>
                                       
                                    </dd>
                                </dl>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="$!{address.www}/faq/newGindex.htm" target="_blank">帮助</a>
                </li>
            </ul>
        </div>
    </div>
    <!--end h-main-->
</div>
<!--end header-->