<script type="text/javascript" src="$!{address.img}/front/js/validate/jquery.validate.js"></script>
<script type="text/javascript" src="$!{address.img}/front/js/validate/zz91.validation.js"></script>