#set($layout="/layout/blank.vm")
<script src="$!{address.img}/lib/jquery/jquery-1.8.0.min.js"></script>

<p>您的图片已经成功上传！</p>
<input type="submit" id="submitBtn" class="btn" value="立即关闭"/>
<script type="text/javascript">

    jQuery(function(){
    	jQuery("#submitBtn").click(function(){
    		godesturl();
    	});
    	
    	setTimeout("godesturl()",2000);
    });
    
    function godesturl(){
    	var param='?success=$!{success}&data=$!{data}';
    	window.location="#springUrl('/submitCallback.htm')"+param;
    }
	
</script>