body {
	background-color: #7386A5;
}
.stitle {
	font-size: 14px;
	font-weight: bold;
	color: #4A711C;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #87CB31;
}
a {
	color: #000000;
}
a:hover {
	color: #000000;
}

.btitle {
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	background-color: #F2F2F2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}
td {
	font-size: 12px;
	line-height: 22px;
}
.lit {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
}
