<div class="top">
	<div class="wrapper clearfix">
		<form action="" method="get">
			<fieldset class="login-field">
				<legend>会员登录</legend>
				<label for="">会员名</label>
				<input type="text" class="field">
				<label for="">密码</label>
				<input type="password" class="field">
				<input type="submit" value="会员登录" class="login-btn">
				<a href="#" title="免费注册">免费注册</a>
			</fieldset>
		</form>
		<ul class="top-link">
			<li><a href="#">塑料网首页</a></li>
			<li>|</li>
			<li><a href="#">塑料服务</a></li>
			<li>|</li>
			<li><a href="#">生意助手</a></li>
		</ul>
	</div>
</div>
<header class="head clearfix">
	<div class="site-logo">
		<h1 class="logo"><a href="index.html">再生塑料网</a></h1>
	</div>
	<div class="site-search">
		<form action="" method="">
		  <fieldset>
		    <dl id="J-tab">
		      <dt>
		        <ul class="tab-trigger">
		          <li>供应</li>
		          <li class="cur">求购</li>
		          <li>公司</li>
		        </ul>
		      </dt>
		      <dd class="tab-content clearfix">
		        <p><input type="text" class="field"><input type="submit" value="" class="btn"></p>
		        <p class="hidden"><input type="text" class="field"><input type="submit" value="" class="btn"></p>
		        <p class="hidden"><input type="text" class="field"><input type="submit" value="" class="btn"></p>
		      </dd> 
		    </dl>
		  </fieldset>
		</form>
		<div class="hot-search"><a href="#">PP</a><a href="#">PE</a><a href="#">PVC</a><a href="#">再生颗粒</a><a href="#">PET</a></div>
	</div>
</header>
<script type="">
	kl91.util.tabs("J-tab","click", false);
</script>