#macro( springUrl $relativeUrl )$springMacroRequestContext.getContextPath()${relativeUrl}#end
#**
 * springUrl
 *
 * Takes a relative URL and makes it absolute from the server root by
 * adding the context root for the web application.
 *#
#macro( springUrl $relativeUrl )$springMacroRequestContext.getContextPath()${relativeUrl}#end

#macro(printTitle $word $maxSize $prefix)#set($word=$word.trim())#if($word.length() >$maxSize)$word.substring(0, $maxSize)$prefix#else$word#end#end

#**
*
*	buttonLeft
*	左下角图标，如一键客服，
*	
**#
