#set($layout="/layout/innerPageLayout.vm")
#if($!{error} && $!{error}!="")
<div class="alert alert-error">
	您的图片没有被上传!
	<p>$!{error}</p>
</div>
#end
<div id="submitProcess"></div>
<div>
	<form id="form1" method="post" action="#springUrl('/sys/upload/doCreditFile.htm')" enctype="multipart/form-data">
		请选择图片
		<p>
		<input type="file" name="uploadfile" id="uploadfile" />
		</p>
		<br>
		<input type="submit" id="submitBtn" value="上传" class="btn">
		<input type="hidden" value="$!{destUrl}" name="destUrl"/>
		<p><span class="red">提示：</span>支持.jpg,.jpeg,.gif,.bmp,.png格式的图片，图片的大小不超过2M，建议使用jpg格式的图片</p>
	</form>
</div>