<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
	<!-- for include js code -->
	#parse("/zz91/common/import.vm")
	#parse("/zz91/common/context.vm")
	
	<script type="text/javascript" >
		var PAGE_CONST = new function() {
			this.SUMMARY_GRID="SUMMARY_GRID";
			this.CHANGE_GRID="CHANGE_GRID";
			this.CHANGE_FORM="CHANGE_FORM";
			this.CHANGE_WIN="CHANGE_WIN";
			this.COMPANY_ID="";
		}
		Ext.onReady(function(){
        	var summaryGrid=new ast.ast1949.admin.score.summary.SummaryGrid({
        		id:PAGE_CONST.SUMMARY_GRID,
        		title:"用户积分列表",
        		region:"center"
        	})
        	
        	var changeGrid=new ast.ast1949.admin.score.summary.ChangeGrid({
        		id:PAGE_CONST.CHANGE_GRID,
        		title:"公司积分变更记录",
        		region:"east",
        		width:500,
        		split:true
        	})
        	
        	var viewport=new Ext.Viewport({
        		layout:"border",
        		items:[summaryGrid,changeGrid]
        	})
        })
	</script>
	<script type="text/javascript" src="$!{address.js}/admin/score/summary/view.js"></script>
</head>

<body>
</body>
</html>