<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>$!{seoTitle}</title>
    <meta name="keywords" content="$!{seoKeywords}" />
    <meta name="description" content="$!{seoDescription}" />
	<link rel="shortcut icon" href="$!{address.img}/huanbao/images/logo/favicon.ico">
    <link rel="stylesheet" style="text/css" href="$!{address.img}/lib/asto/asto.hack-1.0.0.css" />
    <link rel="stylesheet" style="text/css" href="$!{address.img}/lib/jquery-ui/1.8.16/south-street/jquery-ui-1.8.16.custom.css" />
    <link rel="stylesheet" href="$!{address.img}/huanbao/css/hb.comm.css?20111014" />
    <link rel="stylesheet" href="$!{address.img}/huanbao/css/hb.post.css?20111014" />
    <!--[if lt IE 9]>
    <script src="$!{address.img}/huanbao/js/global/html5forIE.js"></script>
    <![endif]-->
    <script type="text/javascript" src="$!{address.img}/lib/jquery/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="$!{address.img}/lib/jquery-ui/1.8.16/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="$!{address.img}/huanbao/js/jquery/jquery.validate.min.js"></script>
	<script type="text/javascript" src="$!{address.img}/lib/asto/asto-all-1.0.0.js"></script>
	<script src="$!{address.img}/huanbao/js/hb.comm.js"></script>
	<script src="$!{address.img}/huanbao/js/hb.myesite.js"></script>
</head>

<body>

    #cacheFragment("$!{address.fragment}/fragment/page/topbar.htm?loginName=$!{epAuthUser.account}", "", "", "")
            $!{fragmentContext}
    #end

    #parse("/common/userHeader.vm")

    $screen_content

    #cacheFragment("$!{address.fragment}/fragment/page/footer.htm", "", "", "")
      $!{fragmentContext}
    #end
</body>
</html>