<!DOCTYPE html>
<head>
<title>中国环保网--注册第二步--$!{address.www}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="$!{seoKeywords}" />
<meta name="description" content="$!{seoDescription}" />
<link rel="shortcut icon" href="$!{address.img}/huanbao/images/logo/favicon.ico">
<link rel="stylesheet" href="$!{address.img}/huanbao/css/hb.hack.css?20111030">
<link rel="stylesheet" href="$!{address.img}/huanbao/css/hb.comm.css?20111030">
<link rel="stylesheet" href="$!{address.img}/huanbao/css/hb.register.css?20111030">
<!--[if lt IE 9]>
	<script type="text/javascript" src="$!{address.img}/huanbao/js/global/html5forIE.js"></script>
<![endif]-->

<link rel="stylesheet" style="text/css" href="http://img0.zz91.com/lib/jquery/ux/validationEngine.css">

<script src="$!{address.img}/huanbao/js/jquery/jquery-1.6.4.min.js"></script>
<script src="$!{address.img}/huanbao/js/jquery/jquery.validate.min.js"></script>
<script src="$!{address.img}/huanbao/js/hb.comm.js"></script>
<script src="$!{address.img}/huanbao/js/hb.register.js"></script>

<script type="text/javascript" src="http://img0.zz91.com/lib/jquery/ux/validationEngine.js"></script>
<script type="text/javascript" src="http://img0.zz91.com/lib/jquery/ux/languages/jquery.validationEngine-zh_CN.js"></script>
</head>
<body>

    #cacheFragment("$!{address.fragment}/fragment/page/topbar.htm?loginName=$!{epAuthUser.account}", "", "", "")
            $!{fragmentContext}
    #end
		$screen_content
	#parse('/common/footer.vm')
</body>
</html>