 <div class="con-right fr">
            	<div class="crbox">
                	<div class="ex1">
                    	<dl class="traffic clearfix">
                        	<dt class="bold f14">展会场地:</dt>

                            <dd>浙江台州路桥·台州国际会展中心 · 浙江省台州市路桥区腾达路1号</dd>
                        </dl><br />
                        <dl class="traffic clearfix">
                        	<dt class="bold f14">飞机：</dt>
                            <dd>可从北京、上海、广州、福州、厦门、深圳、南京、武汉、重庆、长沙、西安等地直抵路桥机场（黄岩民航站）。</dd>
                        </dl><br />
                        <dl class="traffic clearfix">

                        	<dt class="bold f14">客车：</dt>
                            <dd>有100多个班次，可从全国20余个省、80多个大中城市直达路桥(台州市客运南站)。</dd>
                        </dl><br />
                        <dl class="traffic clearfix">
                        	<dt class="bold f14">动车：</dt>
                            <dd>动车可直达台州站，然后转公交或的士到路桥，也可先到杭州、温州、宁波、义乌，然后转乘快客或卧铺车，也可便捷抵达路桥。</dd>
                        </dl><br />

                        <dl class="traffic clearfix">
                        	<dt class="bold f14">开车：</dt>
                            <dd>到路桥，您可以选择以下两条路线：</dd>
                            <dd>一、经104国道直达路桥城区</dd>
                            <dd>二、经甬台温高速公路：北方来车，在“台州北•黄岩”道口下；南方来车，在“台州南•路桥”道口下均可便捷抵达路桥城区</dd>
                        </dl>
					</div>

                    <!--end ex1-->
                </div>
                <!--end crbox-->
            </div>
            <!--end con-right fr-->
            <div class="cb"></div>
        </div>