<style >
	.logo a:hover{text-decoration:none}
</style>
<div class="logosearch" id="logosearch">
    <div class="logo">
        <a href="$!{address.www}" target="_blank">
            <img src="http://img0.zz91.com/zz91/images/logo.png" alt="ZZ91再生网" width="115" height="45" />
        </a>
        <a href="#springUrl('/')" target="_blank">
            <img src="$!{address.img}/zz91/newsample/images/ypzx.jpg" width=150 alt="" />
        </a>
    </div>
    <div class="top_search">
		<form id="searchForm" action="#" method="post" >
			<div class="search">
				<div class="search_bar">
					<div class="nav1">
						<ul>
							<li s-data="输入拿样产品关键字，拿样搜索产品供应信息！" value="7" id="ny" class="searchnav_on">拿样</li>
							<li s-data="输入关键字，搜索定制产品信息！ " id="dz"  value="8">定制</li> 
						</ul>
					</div>
					<div class="box">
						<div class="left" style="position:relative; z-index:9000; clear:both">
							<input name="keywords" id="TopKeywords" type="text" value="输入拿样产品关键字，拿样搜索产品供应信息！" class="searchtext"  autocomplete="off" onkeydown="enterClick();" />
							<div id="searchresult" style="display:none"></div>
							<input type="hidden" value="1" name="TopSeaType"  id="TopSeaType" />
						</div>
						<div class="right">
							<a href="javascript:void(0)" data="1" class="search_a" id="search_a1"></a>
						</div>
					</div>
				</div>
			</div>
			<input type="hidden" id="sType" value="0" />
		</form>
        <!--搜索--> 
    </div>
    <div class="scode">
        <img src="$!{address.img}/zz91/sample/images/code.jpg" />
    </div>
    <!--end scode-->
    <div class="cb"></div>
</div>
<script type="text/javascript">


	jQuery("#ny").click(function(){
		jQuery("#sType").val(0);
	});
	
	jQuery("#dz").click(function(){
		jQuery("#sType").val(1);
	});

	jQuery("#search_a1").click(function(){
		var searchvalue = jQuery("#TopKeywords").val();
		if (searchvalue != ""){
			if(jQuery("#sType").val()==0){
    			searchvalue = encodeURI(searchvalue)
    			jQuery("#searchForm").attr("action","#springUrl('/k-')" + searchvalue);
    			jQuery("#searchForm").attr("target","_blank");
    			jQuery("#searchForm").submit();
			}
			if(jQuery("#sType").val()==1){
    			searchvalue = encodeURI(searchvalue)
    			jQuery("#searchForm").attr("action","#springUrl('/buy/k-')" + searchvalue);
    			jQuery("#searchForm").attr("target","_blank");
    			jQuery("#searchForm").submit();
			}
			return false;
		}
	});
	
	function enterClick(){
		if (event.keyCode == 13){
			jQuery("#search_a1").click();
    	}
	}
	
</script>