<div class="con-tle">
    <ul>
        <li class="con-tle-li">
            <a href="#springUrl('/index.htm')">首页</a>
        </li>
        <li class="con-tle-li">
            <a href="#springUrl('/nyzx.htm')" #if($dzType!="1") class="on" #end>拿样中心</a>
        </li>
        <li class="con-tle-li">
            <a href="#springUrl('/buy/order.htm')" #if($dzType=="1") class="on" #end>样品定制</a>
        </li>
		<li class="con-tle-li">
            <a href="#springUrl('/yiyuan.htm')">一元拿样</a>
        </li>
##		<li class="con-tle-li">
##            <a href="#springUrl('/score.htm')">积分超值兑</a>
##        </li>
        <li class="con-tle-li_">
            <span class="tag_phone">服务热线：0571-5663 5663</span>
        </li>
    </ul>
</div>
<!--end con-tle-->
#if($!{type}=="list")
<div class="t-list">
    <div class="l-item">
        <div class="li-title">
             <a href="#springUrl('/')">样品中心</a>
            &gt;
			 <a href="#springUrl('/nyzx.htm')">拿样中心</a>
			#if($mainLabel)
				&gt;  $mainLabel 
			#end
        </div>
        <!--end li-title-->
		
		<div class="li-level">
     	<div class="li-level-tle">类目:</div>
        <!--end li-level-tle-->
        <div class="li-level-list">
        	<ul class="level-list-ul_" id="color_ul">
			  #if($levelStr&&$colorStr)
                #set($mUrlFix = "-")
            #end
            #if($levelStr||$colorStr)
                #set($cUrlFix = "/")
            #end
            	<li><a href="#springUrl('/m-ppkl')$!{cUrlFix}$!{levelUrl}$!{mUrlFix}$!{colorUrl}" target="_self">PP再生颗粒</a></li>
                <li><a href="#springUrl('/m-pekl')$!{cUrlFix}$!{levelUrl}$!{mUrlFix}$!{colorUrl}" target="_self">PE再生颗粒</a></li>
                <li><a href="#springUrl('/m-pvckl')$!{cUrlFix}$!{levelUrl}$!{mUrlFix}$!{colorUrl}" target="_self">PVC再生颗粒</a></li>
                <li><a href="#springUrl('/m-abskl')$!{cUrlFix}$!{levelUrl}$!{mUrlFix}$!{colorUrl}" target="_self">ABS再生颗粒</a></li>
                <li><a href="#springUrl('/m-pskl')$!{cUrlFix}$!{levelUrl}$!{mUrlFix}$!{colorUrl}" target="_self">PS再生颗粒</a></li>
                <li><a href="#springUrl('/m-evakl')$!{cUrlFix}$!{levelUrl}$!{mUrlFix}$!{colorUrl}" target="_self">EVA再生颗粒</a></li>
                <li><a href="#springUrl('/m-pakl')$!{cUrlFix}$!{levelUrl}$!{mUrlFix}$!{colorUrl}" target="_self">PA再生颗粒</a></li>
                <li><a href="#springUrl('/m-petkl')$!{cUrlFix}$!{levelUrl}$!{mUrlFix}$!{colorUrl}" target="_self">PET再生颗粒</a></li>
                <li><a href="#springUrl('/m-ppokl')$!{cUrlFix}$!{levelUrl}$!{mUrlFix}$!{colorUrl}" target="_self">PPO再生颗粒</a></li>
                <li><a href="#springUrl('/m-pckl')$!{cUrlFix}$!{levelUrl}$!{mUrlFix}$!{colorUrl}" target="_self">PC再生颗粒</a></li>
                <li><a href="#springUrl('/m-qtkl')$!{cUrlFix}$!{levelUrl}$!{mUrlFix}$!{colorUrl}" target="_self">其他再生颗粒</a></li>
            </ul>
        </div>
        <!--end li-level-list-->
        <div class="li-clear"></div>
     </div>
     <!--end li-level-->
		
		 <div class="li-level">
     	<div class="li-level-tle">级别：</div>
        <!--end li-level-tle-->
        <div class="li-level-list">
        	<ul class="level-list-ul">
			#if(${codeUrl})
            	<li> <a href="#springUrl('/')${codeUrl}/l-yiji#if($colorUrl)-${colorUrl}#end" target="_self" class="level_a">一级</a>
                	<span class="list-checkbox-block_">
                    	<input type="checkbox" class="cLevel" value="yiji" />
                        <label>一级</label>
                    </span>
                </li>
                <li><a href="#springUrl('/')${codeUrl}/l-erji#if($colorUrl)-${colorUrl}#end" target="_self" class="level_a">二级</a>
                	<span class="list-checkbox-block_">
                    	<input type="checkbox" class="cLevel" value="erji"/>
                        <label>二级</label>
                    </span>
                </li>
                <li><a href="#springUrl('/')${codeUrl}/l-sanji#if($colorUrl)-${colorUrl}#end" target="_self" class="level_a">三级</a>
                	<span class="list-checkbox-block_">
                    	<input type="checkbox" class="cLevel" value="sanji"/>
                        <label>三级</label>
                    </span>
                </li>
                <li><a href="#springUrl('/')${codeUrl}/l-teji#if($colorUrl)-${colorUrl}#end" target="_self" class="level_a">特级</a>
                	<span class="list-checkbox-block_">
                    	<input type="checkbox" class="cLevel" value="teji" />
                        <label>特级</label>
                    </span>
                </li>
                <li><a href="#springUrl('/')${codeUrl}/l-qita#if($colorUrl)-${colorUrl}#end" target="_self" class="level_a">其他</a>
                	<span class="list-checkbox-block_">
                    	<input type="checkbox" class="cLevel" value="qita" />
                        <label>其他</label>
                    </span>
                </li>
				  #else
				<li><a href="#springUrl('/l-yiji')#if($colorUrl)-${colorUrl}#end" target="_self" class="level_a">一级</a>
                	<span class="list-checkbox-block_">
                    	<input type="checkbox" class="cLevel" value="yiji" />
                        <label>一级</label>
                    </span>
                </li>
                <li><a href="#springUrl('/l-erji')#if($colorUrl)-${colorUrl}#end" target="_self" class="level_a">二级</a>
                	<span class="list-checkbox-block_">
                    	<input type="checkbox" class="cLevel" value="erji"/>
                        <label>二级</label>
                    </span>
                </li>
                <li><a href="#springUrl('/l-sanji')#if($colorUrl)-${colorUrl}#end" target="_self" class="level_a">三级</a>
                	<span class="list-checkbox-block_">
                    	<input type="checkbox" class="cLevel" value="sanji"/>
                        <label>三级</label>
                    </span>
                </li>
                <li><a href="#springUrl('/l-teji')#if($colorUrl)-${colorUrl}#end" target="_self" class="level_a">特级</a>
                	<span class="list-checkbox-block_">
                    	<input type="checkbox" class="cLevel" value="teji" />
                        <label>特级</label>
                    </span>
                </li>
                <li><a href="#springUrl('/l-qita')#if($colorUrl)-${colorUrl}#end" target="_self" class="level_a">其他</a>
                	<span class="list-checkbox-block_">
                    	<input type="checkbox" class="cLevel" value="qita" />
                        <label>其他</label>
                    </span>
                </li>
				#end
            </ul>
           <div class="list-btn" id="level_box">
            	<div class="lst-btn-submit"><a onclick="subToSearchLevel()">确定</a></div>
                <!--end lst-btn-submit-->
                <div class="cb"></div>
            </div>
            <!--end list-btn-->
            <a href="" class="list-select lst-ul-btn short" id="level_btn">
            	<span>
                	<i>+</i>多选
                </span>
            </a>
        </div>
        <!--end li-level-list-->
        <div class="li-clear"></div>
     </div>
     <!--end li-level-->
      
	  <div class="li-level">
     	<div class="li-level-tle">颜色：</div>
        <!--end li-level-tle-->
        <div class="li-level-list">
        	<ul class="level-list-ul">
			#if($!{levelUrl})
                        #set($urlFix = $!{levelUrl} + "-")
                    #end
                    #if(${codeUrl})
                        #if($urlFix)
                            #set($urlFix = ${codeUrl} + "/" + $urlFix)
                            #else
                                #set($urlFix = ${codeUrl} + "/")
                        #end
                    #end
            	<li><a href="#springUrl('/')$!{urlFix}c-baise" target="_self" class="color_a">白色</a>
                	<span class="list-checkbox-block">
                    	<input type="checkbox" class="cColor" value="baise" />
                        <label>白色</label>
                    </span>
                </li>
               <li><a href="#springUrl('/')$!{urlFix}c-heise" target="_self" class="color_a">黑色</a>
                	<span class="list-checkbox-block">
                    	<input type="checkbox" class="cColor" value="heise"/>
                        <label>黑色</label>
                    </span>
                </li>
                <li><a href="#springUrl('/')$!{urlFix}c-hongse" target="_self" class="color_a">红色</a>
                	<span class="list-checkbox-block">
                    	<input type="checkbox" class="cColor" value="hongse" />
                        <label>红色</label>
                    </span>
                </li>
                <li><a href="#springUrl('/')$!{urlFix}c-lvse" target="_self" class="color_a">绿色</a>
                	<span class="list-checkbox-block">
                    	<input type="checkbox" class="cColor" value="lvse" />
                        <label>绿色</label>
                    </span>
                </li>
                <li><a href="#springUrl('/')$!{urlFix}c-huise" target="_self" class="color_a">灰色</a>
                	<span class="list-checkbox-block">
                    	<input type="checkbox" class="cColor" value="huise" />
                        <label>灰色</label>
                    </span>
                </li>
                <li><a href="#springUrl('/')$!{urlFix}c-huibaise" target="_self" class="color_a">灰白色</a>
                	<span class="list-checkbox-block">
                    	<input type="checkbox" class="cColor" value="huibaise" />
                        <label>灰白</label>
                    </span>
                </li>
                <li><a href="#springUrl('/')$!{urlFix}c-bense" target="_self" class="color_a">本色</a>
                	<span class="list-checkbox-block">
                    	<input type="checkbox" class="cColor" value="bense" />
                        <label>本色</label>
                    </span>
                </li>
                <li><a href="#springUrl('/')$!{urlFix}c-zase" target="_self" class="color_a">杂色</a>
                	<span class="list-checkbox-block">
                    	<input type="checkbox" class="cColor" value="zase" />
                        <label>杂色</label>
                    </span>
                </li>
                <li><a href="#springUrl('/')$!{urlFix}c-huangse" target="_self" class="color_a">黄色</a>
                	<span class="list-checkbox-block">
                    	<input type="checkbox" class="cColor" value="huangse" />
                        <label>黄色</label>
                    </span>
                </li>
                <li><a href="#springUrl('/')$!{urlFix}c-touming" target="_self" class="color_a">透明</a>
                	<span class="list-checkbox-block">
                    	<input type="checkbox" class="cColor" value="touming" />
                        <label>透明</label>
                    </span>
                </li>
                <li><a href="#springUrl('/')$!{urlFix}c-zise" target="_self" class="color_a">紫色</a>
                	<span class="list-checkbox-block">
                    	<input type="checkbox" class="cColor" value="zise"/>
                        <label>紫色</label>
                    </span>
                </li>
                <li><a href="#springUrl('/')$!{urlFix}c-qita" target="_self" class="color_a">其他</a>
                	<span class="list-checkbox-block">
                    	<input type="checkbox" class="cColor"  value="qita" />
                        <label>其他</label>
                    </span>
                </li>
            </ul>
             <div class="list-btn" id="color_box">
            	<div class="lst-btn-submit"><a onclick="subToSearchColor()">确定</a></div>
                <!--end lst-btn-submit-->
                <div class="cb"></div>
            </div>
            <!--end list-btn-->
            <a href="" class="list-select lst-ul-btn short" id="color_btn">
            	<span>
                	<i>+</i>多选
                </span>
            </a>
        </div>
        <!--end li-level-list-->
        <div class="li-clear"></div>
     </div>
     <!--end li-level-->
		<input type="hidden" name="color" id="colorStr" value="$!{colorStr}" />
		<input type="hidden" name="level" id="levelStr" value="$!{levelStr}" />
    </div>
    <!--end l-item-->
	</div>
#end
<!--end t-list-->
	#if($levelStr||$colorStr)
	<div class="l-sel-block">
    	<div class="l-sel-block-tle">已选择：</div>
        <div class="l-sel-block-item">
        	<ul class="sel-block-item-ul">
			     #if($levelStr)
            	<li>
					<span class="levelName">
					级别：#foreach($str in $levelCN)#if($velocityCount==$levelCN.size())$!{str}#else$!{str},#end#end</span>
					       #if($colorUrl&&${codeUrl})
                           #set($qkUrl = "/")
                           #elseif(!$colorUrl&&!${codeUrl})
                           #set($qkUrl = "nyzx.htm")
                           #end
				    <a href="#springUrl('/')$!{codeUrl}$!{qkUrl}$!{colorUrl}" target="_self"" class="sel-block-del">
					<img src="$!{address.img}/zz91/sample/images/del.jpg" /></a></li>
				#end
				#if($!{colorStr})
                <li>
					<span class="levelName">
					颜色：#foreach($str in $colorCN)#if($velocityCount==$colorCN.size())$!{str}#else$!{str},#end#end</span>
					     #if($levelUrl&&${codeUrl})
                             #set($qkUrl = "/")
                             #elseif(!$levelUrl&&!${codeUrl})
                             #set($qkUrl = "nyzx.htm")
                         #end	
					<a href="#springUrl('/')$!{codeUrl}$!{qkUrl}$!{levelUrl}" class="sel-block-del">
					<img src="$!{address.img}/zz91/sample/images/del.jpg" /></a></li>
				#end
            </ul>
		#if($!{codeUrl})	
        <a class="l-sel-block-btn" href="#springUrl('/')$!{codeUrl}">清空</a>
		#else
		<a class="l-sel-block-btn" href="#springUrl('/nyzx.htm')">清空</a>
		#end
        <!--end l-sel-block-btn-->
        </div>
       <!--end l-sel-block-item-->
      <div class="li-clear"></div>
    </div>
    <!--end l-sel-block-->
	#end