<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>阿思拓 - 广告投放系统 V2.0</title>
	#parse("/common/import.vm")
    #parse("/common/context.vm")
    <script type="text/javascript" src="#springUrl('/app/login.js')"></script>
</head>
<body>
	$screen_content
</body>
</html>