#set( $layout = "/layout/default.vm" )
<div class="container mt clearfix">
    <div class="grid_12">
        <ul class="breadcrumb">
            <li>
                <a href="#springUrl('/index.htm')">我的管家</a> <span class="divider">/</span>
            </li>
            <li class="active">公司资料</li>
        </ul>
	#if($!{firstLogin}==1)
		<div class="alert alert-info"> 
			<strong>提示：</strong>
			欢迎您使用生意管家，为了确保信息的准确，请完善您的公司信息。
		</div>
	#end
	#if($!{firstLogin}==2)
		<div class="alert">
			<span style="color:#ff0000">
				<strong>提示：</strong>
				为了让客户快速的找到您，请您尽快完善您的公司信息！
			</span>
		</div>
		<script type="text/javascript">
			alert("为了让客户快速的找到您，请您尽快完善您的公司信息！");
		</script>
	#end
    <div class="well mt">
        <form id="form2" name="form2" method="post" action="#springUrl('/mycompany/update.htm')" >
        <div class="well-head">修改联系方式(打<span class="red">*</span>为必填项)</div>
        <div class="well-content">
            <input type="hidden" name="id" id="id" value="$!{company.id}"/>
            <div class="control-group">
                <label for="contact" class="control-label"><span class="red">*</span>联系人姓名：</label>
				<div class="controls">
					<input name="contact" type="text" id="contact" value="$!{companyAccount.contact}" maxlength="48" class="field input-large validate[required]">
				</div>
			</div>
            <div class="control-group">
                <label class="control-label"><span class="red">*</span>性别：</label>
                <div class="controls">
                    <label class="radio"><input type="radio" id="sex0" name="sex" value="0" #if($!{companyAccount.sex}=='0') checked #end class="validate[required]" />先生</label>
                    <label class="radio"><input type="radio" id="sex1" name="sex" value="1" #if($!{companyAccount.sex}=='1') checked #end class="validate[required]" />女士</label>
				</div>
            </div>
            <div class="control-group">
                <label for="telCountryCode" class="control-label">固定电话：</label>
				<div class="controls">
					<input name="telCountryCode" type="text" id="telCountryCode" value="$!{companyAccount.telCountryCode}" class="field input-mini">-
					<input name="telAreaCode" type="text" id="telAreaCode" size="5" value="$!{companyAccount.telAreaCode}" class="field input-mini">-
					<input name="tel" type="text" id="tel" value="$!{companyAccount.tel}" class="field">
					<span class="grey">例如:86-0571-56612345</span>
				</div>
            </div>
            <div class="control-group">
                <label for="faxCountryCode" class="control-label">传真：</label>
                <div class="controls">
					<input name="faxCountryCode" type="text" id="faxCountryCode" value="$!{companyAccount.faxCountryCode}" value="86" class="field input-mini">-
					<input name="faxAreaCode" type="text" id="faxAreaCode" value="$!{companyAccount.faxAreaCode}" class="field input-mini">-
					<input name="fax" type="text" id="fax" value="$!{companyAccount.fax}" maxlength="96" class="field">
					<span class="grey">例如:86-0571-56637777</span>
				</div>
            </div>
            <div class="control-group">
                <label for="mobile" class="control-label"><span class="red">*</span>手机：</label>
                <div class="controls">
					<input name="mobile" type="text" id="mobile" value="$!{companyAccount.mobile}" maxlength="96" class="field input-large validate[required]">
				</div>
            </div>
            <div class="control-group">
                <label for="isUseBackEmail" class="control-label"><span class="red">*</span>电子邮箱：</label>
                <div class="controls">
					<input name="isUseBackEmail" type="radio" value="0"  #if($!{companyAccount.isUseBackEmail}=='0') checked #end>
					<input name="email" type="text" id="cemail" value="$!{companyAccount.email}" maxlength="48" readonly class="field input-large">
					<span class="grey">（不能修改）</span>
				</div>
            </div>
            <div class="control-group">
                <label for="isUseBack" class="control-label">备用电子邮箱：</label>
                <div class="controls">
					<input type="radio" id="isUseBack" name="isUseBackEmail" value="1" #if($!{companyAccount.isUseBackEmail}=='1') checked #end>
					<input name="backEmail" type="text" id="backEmail" value="$!{companyAccount.backEmail}" maxlength="48" class="field input-large">
					<span class="grey">（该Email必须有效）</span>
                    <p><span class="grey">选择一个备用邮箱，该邮箱可以接收所有客户对你的询盘</span></p>
                </div>
            </div>
##            <div class="control-group">
##                <label class="control-label"><span class="red">*</span>是否公开电子邮箱：</label>
##                <div class="controls">
##                    <label class="radio">
##					   <input type="radio" name="isShowEmail" id="radio" value="0" #if($!{companyAccount.isShowEmail}==0) checked="checked" #end>是
##                    </label>
##                    <label class="radio">
##					   <input type="radio" name="isShowEmail" id="radio1" value="1" #if($!{companyAccount.isShowEmail}==1) checked="checked" #end>否
##                    </label>
##				</div>
##            </div>
##            <div class="control-group">
##                <label class="control-label"><span class="red">*</span>是否公开联系方式：</label>
##                <div class="controls">
##                    <label class="radio">
##					   <input type="radio" name="isShowEmail" id="radio" value="0" #if($!{companyAccount.isShowEmail}==0) checked="checked" #end>是
##                    </label>
##                    <label class="radio">
##					   <input type="radio" name="isShowEmail" id="radio2" value="1" #if($!{companyAccount.isShowEmail}==1) checked="checked" #end>否
##                    </label>
##				</div>
##			</div>
            <div class="control-group">
                <label for="website" class="control-label">网站：</label>
				<div class="controls">
					<input name="website" type="text" id="website" value="$!{company.website}" maxlength="255" class="field input-xlarge">
				</div>
			</div>
    	</div>
        <div class="well-head">修改公司信息(打<span class="red">*</span>为必填项)</div>
        <div class="well-content">
			<div class="control-group">
				<label for="name" class="control-label"><span class="red">*</span>公司名称：</label>
				<div class="controls">
				#if($!{company.membershipCode}!='10051000')
					<input name="name" type="text" id="name" size="30" value="$!{company.name}" class="field input-large" readonly />
				#else
					<input name="name" type="text" id="name" size="30" value="$!{company.name}" class="field input-large validate[required]" />
				#end	
				</div>
			</div>
			<script>
			function selectOption(menuname,value)
			{
				var menu = document.getElementById(menuname);
				if (menu)
				{
				for(var i=0;i<=menu.options.length;i++){
					if(menu.options[i].value==value)
					{
						menu.options[i].selected = true;
						break;
					}
				}
				}
			}
			</script>
    		<div class="control-group">
                <label for="industryCode" class="control-label"><span class="red">*</span>主营行业：</label>
    			<div class="controls">
					<select name="industryCode" id="industryCode1" class="validate[required]" >
						<option value="">请选择</option><option value="10001003">废旧轮胎与废橡胶</option><option value="10001004">废纺织品与废皮革</option><option value="10001005">废电子电器</option><option value="10001006">废玻璃</option><option value="10001007">废旧二手设备</option><option value="10001008">其他废料</option><option value="10001009">服务</option><option value="10001000">废塑料</option><option value="10001001">废金属</option><option value="10001002">废纸</option>
					</select>
					<script>selectOption("industryCode1","$!{company.industryCode}")</script>
				</div>
			</div>
    		<div class="control-group">
    			<label for="serviceCode" class="control-label"><span class="red">*</span>公司类型：</label>
    			<div class="controls">
					<select name="serviceCode" id="serviceCode1" class="validate[required]" >
    					<option value="">请选择</option>
						<option value="10201001">国外供货商</option><option value="10201002">国外回收贸易商</option><option value="10201003">码头，仓库储存商</option><option value="10201004">国内供应商</option><option value="10201005">国内回收贸易商</option><option value="10201006">国内加工，拆解商</option><option value="10201007">利废企业</option><option value="10201008">设备，技术，服务提供商</option><option value="10201009">冶炼厂</option><option value="10201010">电子厂</option><option value="10201011">造粒厂</option></select>
    				</select>
					<script>selectOption("serviceCode1","$!{company.serviceCode}")</script>
				</div>
			</div>
    		<div class="control-group">
                <label for="reg-area-0" class="control-label"><span class="red">*</span>国家/地区：</label>
    			<div class="controls">
					<select id='reg-area-0' class="validate[required]">
						<option value="">请选择国家</option>
					</select>
					<select id='reg-area-1'>
						<option value="">请选择省份</option>
					</select>
					<select id='reg-area-2'>
						<option value="">请选择城市</option>
					</select>
					<select id='reg-area-3'>
						<option value="">请选择区县</option>
					</select>
					<input type="hidden" name="areaCode" id="areaCode" value="$!{company.areaCode}" />
				</div>
			</div>
    		<div class="control-group">
                <label for="reg-garden" class="control-label">园区、集散地、市场：</label>
    			<div class="controls">
					<select id='reg-garden' name="categoryGardenId">
						<option value="">请选择集散地</option>
					</select>
				</div>
			</div>
    		<div class="control-group">
                <label for="address" class="control-label"><span class="red">*</span>地址：</label>
    			<div class="controls">
                    <input name="address" type="text" id="address" value="$!{company.address}" maxlength="255" class="field input-large validate[required]">
                </div>
            </div>
    		<div class="control-group">
                <label for="addressZip" class="control-label">邮编：</label>
    			<div class="controls">
                    <input name="addressZip" type="text" id="addressZip" value="$!{company.addressZip}" maxlength="20" class="field input-large">
    			</div>
            </div>
    		<div class="control-group">
                <label for="qq" class="control-label">QQ：</label>
    			<div class="controls">
                    <input name="qq" type="text" id="qq" value="$!{companyAccount.qq}" maxlength="20" class="field input-large">
    			</div>
            </div>
    		<div class="control-group">
                <label for="msn" class="control-label">MSN：</label>
    			<div class="controls">
                    <input name="msn" type="text" id="msn" value="$!{companyAccount.msn}" maxlength="20" class="field input-large">
    			</div>
            </div>
    		<div class="control-group">
                <label for="introduction" class="control-label"><span class="red">*</span>公司简介：</label>
    			<div class="controls">
                    <textarea name="introduction" id="introduction" cols="60" rows="5" class="validate[required]">$!{company.introduction}</textarea>
    			</div>
            </div>
    		<div class="control-group">
                <label for="business" class="control-label"><span class="red">*</span>主营业务：</label>
                <div class="controls">
                    <textarea name="business" id="business" cols="60" rows="5" class="validate[required]">$!{company.business}</textarea>
                </div>
            </div>
    		<div class="form-actions">
                <input type="submit" id="buttonSub" value="确认无误，提交" class="btn btn-primary">
    		</div>
    	</div>
	</form>
</div>
#parse("/common/importValidate.vm")
#parse("/common/importCkeditor.vm")
<script>
	var Const = new function(){
		this.Address = {images:"$!{address.images}"};
	}
	
	jQuery(document).ready(function(){
		myrc.menu(1, 4);
		jQuery("#form2").validationEngine("attach");
		CKEDITOR.replace('introduction',{
			toolbar:"Basic",
			height:150
		});
		
    	var regarea = new Asto.util.Selector({
    		selects:["#reg-area-0","#reg-area-1","#reg-area-2","#reg-area-3"],
    		assistSelects:["#reg-garden"],
    		url:"#springUrl('/category/areaChild.htm')",
    		assistUrl:"#springUrl('/category/gardenChild.htm')",
    		changeCallback:function(c,idx){
    			setAreaCode();
    			setAddress();
    		}
    	});
    
    	regarea.init({
    		rootCode:"1001",
    		#if($!{company.areaCode}&&$!{company.areaCode}!="")
    			initCode:"$!{company.areaCode}",
    			initAssistCode:"$!{company.categoryGardenId}"
    		#else
    			initCode:"1001",
    			initAssistCode:""
    		#end
    	});
    
    	var industry = new Asto.util.Selector({
    		selects:["#industryCode"],
    		url:"#springUrl('/category/categoryChild.htm')"
    	});
    	
    	industry.init({
    		rootCode:"1000",
    		#if($!{company.industryCode}&&$!{company.industryCode}!="")
    			initCode:"$!{company.industryCode}"
    		#else
    			initCode:"1000"
    		#end
    	});
    	
    	var service=new Asto.util.Selector({
    		selects:["#serviceCode"],
    		url:"#springUrl('/category/categoryChild.htm')"
    	});
    	
    	service.init({
    		rootCode:"1020",
    		#if($!{company.serviceCode}&&$!{company.serviceCode}!="")
    			initCode:"$!{company.serviceCode}"
    		#else
    			initCode:"1020"
    		#end
    	});
		
	});
	
	function setAreaCode(){
		var areacode=jQuery("#reg-area-0").val();
		if(jQuery("#reg-area-1").val()!=""){
			areacode=jQuery("#reg-area-1").val();
		}
		if(jQuery("#reg-area-2").val()!=""){
			areacode=jQuery("#reg-area-2").val();
		}
		if(jQuery("#reg-area-3").val()!=""){
			areacode=jQuery("#reg-area-3").val();
		}
		jQuery("#areaCode").val(areacode);
		
	}
	
	#########组装地址
	function setAddress(){
		var address ="";
			if(jQuery("#reg-area-0").val()!=""){
				address = jQuery("#reg-area-0").find("option:selected").text();
			}
			if(jQuery("#reg-area-1").val()!=""){
				address =address+ jQuery("#reg-area-1").find("option:selected").text();
			}
			if(jQuery("#reg-area-2").val()!=""){
				address = address+jQuery("#reg-area-2").find("option:selected").text();
			}
			if(jQuery("#reg-area-3").val()!=""){
				address = address+jQuery("#reg-area-3").find("option:selected").text();
			}
			jQuery("#address").val(address);
	}
	
	var labDisp =  function(obj){
    	var ctrObj = $(obj)
    	if(typeof(ctrObj)!="undefined"){
    		ctrObj.each(function(){
    			if($(this).val()==""){
    				$(this).focus(function(){
				    	$(this).prev().fadeOut(500)
    				});
    			} else {
    				$(this).prev().fadeOut(3000);
    			}
    		});
    	}
    };
</script>
	