#set($layout="/layout/blank.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>河北产业带专题_ZZ91再生网</title>
<link rel="stylesheet" href="$!{address.img}/zz91/css/zz91.common.css" />
<link rel="stylesheet" href="http://img0.zz91.com/zz91/201511zhuanti/css/reset.css" type="text/css" /> 
<link rel="stylesheet" href="http://img0.zz91.com/zz91/201511zhuanti/css/index.css" type="text/css" />
<script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js" ></script> 
</head>
<body>
	#cacheFragment("$!{address.fragment}/china/topbar.htm","","","")
        <div id="topBar">
            <div id="topBarInfo">
                <div id="topBarLogin">
					<script src="$!{address.front}/webst.htm?$date" type="text/javascript" ></script>
                </div>
                $!{fragmentContext}
            </div>
		</div>
    #end
	<ul class="right-nav">
        <li class="j_tui">入驻商家推荐</li>
        <li class="j_hou">热门市场</li>
        <li class="j_hy">市场货源推荐</li>
        <li class="gotop">回到顶部</li>
    </ul>
    <div class="focus-img"></div>
    <div class="nav clear">
        <div class="nav-left fl">
            <div class="nav-left-title">优势产业、货源地</div>
            <div class="nav-left-type">
                <div class="cp-type">
                    <div class="cp-type-titel">废塑料</div>
                    <div class="type-sm clear">
                        <a href="http://y.zz91.com/market/v100110001002i1001c1001.htm" target="_blank">废塑料</a>
                        <a href="http://y.zz91.com/market/v100110001002i1001c10011000.htm" target="_blank">再生颗粒</a>
                        <a href="http://y.zz91.com/market/v100110001002i1001c10011001.htm" target="_blank">塑料助剂</a>
                    </div>
                    <div class="type-area clear">
                        <a href="http://y.zz91.com/market/v1001100010021005i1001c.htm" target="_blank">河北保定</a>
                        <a href="http://y.zz91.com/market/v1001100010021009i1001c.htm" target="_blank">河北廊坊</a>
                        <a href="http://y.zz91.com/market/v1001100010021003i1001c.htm" target="_blank">河北邯郸</a>
                    </div>
                </div>
                <div class="cp-type">
                    <div class="cp-type-titel">废金属</div>
                    <div class="type-sm clear">
                        <a href="http://y.zz91.com/market/v100110001002i1000c10001000.htm" target="_blank">废钢铁</a>
                        <a href="http://y.zz91.com/market/v100110001002i1000c10001001.htm" target="_blank">有色金属</a>
                        <a href="http://y.zz91.com/market/v100110001002i1000c10001010.htm" target="_blank">稀贵金属</a>
                    </div>
                    <div class="type-area clear">
                        <a href="http://y.zz91.com/market/v1001100010021005i1000c.htm" target="_blank">河北保定</a>
                        <a href="http://y.zz91.com/market/v1001100010021004i1000c.htm" target="_blank">河北邢台</a>
                        <a href="http://y.zz91.com/market/v1001100010021001i1000c.htm" target="_blank">河北唐山</a>
                    </div>
                </div>
                <div class="cp-type cp-type-last">
                    <div class="cp-type-titel">二手设备</div>
                    <div class="type-sm clear">
                        <a href="http://y.zz91.com/market/v100110001002i1002c100210000.htm" target="_blank">交通设备</a>
                        <a href="http://y.zz91.com/market/v100110001002i1002c100210001.htm" target="_blank">机床设备</a>
                        <a href="http://y.zz91.com/market/v100110001002i1002c100210010.htm" target="_blank">工程设备</a>
                    </div>
                    <div class="type-area clear">
                        <a href="http://y.zz91.com/market/v1001100010021005i1002c.htm" target="_blank">河北保定</a>
                        <a href="http://y.zz91.com/market/v1001100010021001i1002c.htm" target="_blank">河北唐山</a>
                        <a href="http://y.zz91.com/market/v1001100010021009i1002c.htm" target="_blank">河北廊坊</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-content fl">
            <img src="http://img0.zz91.com/zz91/201511zhuanti/images/nav-img.jpg">
        </div>
        <div class="nav-right fr">
            <div class="nav-left-title nav-right-title">河北产业带概况</div>
            <div class="nav-right-survey">
                <div class="survey-info">
                    <p>河北产业带以保定、邢台、廊坊的优势产业为主，着力打造废旧钢铁、有色金属、废塑料、二手设备等特色行业。拥有中国北方的“废塑料之都”，华北废旧钢铁回收最大集散地。</p>
                    <p>已创建市场：79家</p>
                    <p>已入驻商家：7140家</p>
                    <p>已发布商机：9244条</p>
                </div>
                <div class="into-survey"><a href="http://y.zz91.com" target="_blank"><img src="http://img0.zz91.com/zz91/201511zhuanti/images/btn-rz.jpg"></a></div>
            </div>
        </div>
    </div>
    <div class="wrapper j_ruzhu">
        <div class="wrapper-title clear">
            <div class="title-big fl"><span class="num-zt">1F</span>入驻商家推荐</div>
            <div class="title-sm fr clear">
                <span class="now_span" index ="0">废塑料</span>
                <span index ="1">废金属</span>
                <span class="last-span" index ="2">二手设备</span>
            </div>
        </div>
        <div class="info-list info-list-rz">
            <div class="info-list-mo">
                <div class="info-list-ul clear">
                    <li>
                        <a href="http://fengsk.zz91.com/" target="_blank"><img src="http://img1.zz91.com/myrc/2015/3/19//1426725659814.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://fengsk.zz91.com/" target="_blank">个体经营（冯胜坤）</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/hbwafsljsd/" target="_blank">河北文安废塑料集散地</a></div>
                    </li>
                    <li>
                        <a href="http://tiany.zz91.com/" target="_blank"><img src="http://img1.zz91.com/myrc/2015/7/29//1438141480344.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://tiany.zz91.com/" target="_blank">文安县勇柱塑料制品厂</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/hbwaxbzfsljsd/" target="_blank">河北文安县霸州废塑料集散地</a></div>
                    </li>
                    <li>
                        <a href="http://naiteer.zz91.com/" target="_blank"><img src="http://img1.zz91.com/products/2015/8/11//1439280747726.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://naiteer.zz91.com/" target="_blank">定州市耐特尔装饰材料有限公司</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/hbdzslsc/" target="_blank">河北定州塑料市场</a></div>
                    </li>
                    <li>
                        <a href="http://suliao888.zz91.com/" target="_blank"><img src="http://img1.zz91.com/products/2013/9/7/eb9e87d9-ee65-48b3-b850-29e67db1ab12.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://suliao888.zz91.com/" target="_blank">个体经营(韩甲子)</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/bdfsljszx/" target="_blank">保定废塑料集散中心</a></div>
                    </li>
                </div>
            </div>
            <div class="info-list-mo">
                <div class="info-list-ul clear">
                    <li>
                        <a href="http://yangys.zz91.com/" target="_blank"><img src="http://img1.zz91.com/myrc/2014/11/13//9ba8f456-6742-47e7-bb06-bc7447281f7b.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://yangys.zz91.com/" target="_blank">个体经营（杨岩松）</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/lfwaslsc1/" target="_blank">廊坊文安塑料市场</a></div>
                    </li>
                    <li>
                        <a href="http://www.zz91.com/ppc/index1033356.htm" target="_blank"><img src="http://img1.zz91.com/products/2015/1/30/1422578891647.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://www.zz91.com/ppc/index1033356.htm" target="_blank">个体经营(薛岩启)</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/hbwafsljsd/" target="_blank">河北文安废塑料集散地</a></div>
                    </li>
                    <li>
                        <a href="http://hansen.zz91.com/" target="_blank"><img src="http://img1.zz91.com/products/2012/3/23/5c52de2e-385a-46da-bc0f-22cbf87052a5.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://hansen.zz91.com/" target="_blank">个体经营(韩森)</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/bdfsljszx/" target="_blank">保定废塑料集散中心</a></div>
                    </li>
                    <li>
                        <a href="http://wenansuye.zz91.com/" target="_blank"><img src="http://img1.zz91.com/products/2015/6/3//1433294919333.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://wenansuye.zz91.com/" target="_blank">河北文安华联塑业</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/lfwaslsc1/" target="_blank">廊坊文安塑料市场</a></div>
                    </li>
                </div>
            </div>
        </div>
        <div class="info-list info-list-rz" style="display:none">
            <div class="info-list-mo">
                <div class="info-list-ul clear">
                    <li>
                        <a href="http://yongj.zz91.com/" target="_blank"><img src="http://img1.zz91.com/myrc/2012/4/5//13336346308034726.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://yongj.zz91.com/" target="_blank">河北省兴达硬质合金厂</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/xtfjsjszx/" target="_blank">邢台废金属集散中心</a></div>
                    </li>
                    <li>
                        <a href="http://fcjy.zz91.com/" target="_blank"><img src="http://img1.zz91.com/myrc/2013/3/19//887fd32f-8ed9-4673-bf41-a1520742f3a7.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://fcjy.zz91.com/" target="_blank">阜城县金源特钢有限公司</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/hsgcxxyjssc/" target="_blank">衡水故城县稀有金属市场</a></div>
                    </li>
                    <li>
                        <a href="http://xllst.zz91.com/" target="_blank"><img src="http://img1.zz91.com/products/2008/4/1217044.JPG" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://xllst.zz91.com/" target="_blank">安新县新联硫酸铜厂</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/bdfjsjszx1" target="_blank">保定废金属集散中心</a></div>
                    </li>
                    <li>
                        <a href="http://panshoubing.zz91.com/" target="_blank"><img src="http://img1.zz91.com/products/2012/3/8/fa621f38-9ac4-4a50-b0a3-88029347668e.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://panshoubing.zz91.com/" target="_blank">河北中一公司</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/lfgcjysc/" target="_blank">廊坊钢材交易市场</a></div>
                    </li>
                </div>
            </div>
            <div class="info-list-mo">
                <div class="info-list-ul clear">
                    <li>
                        <a href="http://feigangban.zz91.com/" target="_blank"><img src="http://img1.zz91.com/myrc/2013/11/13//ebf98cb5-19e6-4143-90a1-36d9a23f1e63.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://feigangban.zz91.com/" target="_blank">个体经营（李国明）</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/tssjxgcsc/" target="_blank">唐山市吉祥钢材市场</a></div>
                    </li>
                    <li>
                        <a href="http://zygjs.zz91.com/" target="_blank"><img src="http://img1.zz91.com/myrc/2013/11/21//9c23d1d5-5c00-4010-986c-65d6afb050c5.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://zygjs.zz91.com/" target="_blank">个体经营（苑淑霞）</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/xtfjsjszx/" target="_blank">邢台废金属集散中心</a></div>
                    </li>
                    <li>
                        <a href="http://bmr.zz91.com/" target="_blank"><img src="http://img1.zz91.com/products/2013/9/7/59d9968e-1c3f-46da-ba49-c9fe5e90548c.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://bmr.zz91.com/" target="_blank">清苑县鑫益顺锌业有限公司</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/bdsxsxgtsc/" target="_blank">保定市徐水县钢铁市场</a></div>
                    </li>
                    <li>
                        <a href="http://lizhong.zz91.com/" target="_blank"><img src="http://img1.zz91.com/products/2015/1/4/fd587e3f-6296-4f3a-b7de-ba59b63bb3f4.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://lizhong.zz91.com/" target="_blank">个体经营（李磊）</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/bdfjsjszx1/" target="_blank">保定废金属集散中心</a></div>
                    </li>
                </div>
            </div>
        </div>
        <div class="info-list info-list-rz" style="display:none">
            <div class="info-list-mo">
                <div class="info-list-ul clear">
                    <li>
                        <a href="http://company.zz91.com/compinfo242862.htm" target="_blank"><img src="http://img1.zz91.com/myrc/2012/9/8//73d492f1-b28d-4f21-bfec-4158ce4e9424.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://company.zz91.com/compinfo242862.htm" target="_blank">唐山二手输送带经销公司</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/tssjdjhsc/" target="_blank">唐山市冀东旧货市场</a></div>
                    </li>
                    <li>
                        <a href="http://company.zz91.com/compinfo698226.htm" target="_blank"><img src="http://img1.zz91.com/products/2012/3/26/d568b19f-828c-45b1-901f-d10e0433bda5.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://company.zz91.com/compinfo698226.htm" target="_blank">鑫鹏拔丝设备</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/yfhgsbsc/" target="_blank">云飞化工设备市场</a></div>
                    </li>
                    <li>
                        <a href="http://company.zz91.com/compinfo1033764.htm" target="_blank"><img src="http://img1.zz91.com/bbs/2015/10/28/1446015222179.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://company.zz91.com/compinfo1033764.htm" target="_blank">泊头市泰昌精密量具有限公司</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/czfrjsc/" target="_blank">沧州缝纫机市场 </a></div>
                    </li>
                    <li>
                        <a href="http://company.zz91.com/compinfo1070566.htm" target="_blank"><img src="http://img1.zz91.com/bbs/2015/10/28/1446015996491.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://company.zz91.com/compinfo1070566.htm" target="_blank">玉田县虹桥镇锦通机械厂</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/tsszszysc/" target="_blank">唐山市再生资源市场</a></div>
                    </li>
                </div>
            </div>
            <div class="info-list-mo">
                <div class="info-list-ul clear">
                    <li>
                        <a href="http://company.zz91.com/compinfo300651.htm" target="_blank"><img src="http://img1.zz91.com/products/2010/2/2215931.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://company.zz91.com/compinfo300651.htm" target="_blank">河北沧州云飞化工设备有限公司</a></div>
                        <div class="sc-name"><a href="http://y.zz91.com/yfhgsbsc/" target="_blank">云飞化工设备市场</a></div>
                    </li>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper j_hotsc">
        <div class="wrapper-title clear">
            <div class="title-big fl"><span class="num-zt">2F</span>热门市场</div>
            <div class="title-sm fr clear">
                <span class="now_span" index="0">废塑料</span>
                <span index="1">废金属</span>
                <span class="last-span" index="2">二手设备</span>
            </div>
        </div>
        <div class="info-list">
            <div class="info-list-mo">
                <div class="info-list-ul clear">
                    <li>
                        <a href="http://y.zz91.com/bdfsljszx/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/3/30/5c4b411b-d53b-4038-ac0f-32a2ad9d19c0.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/bdfsljszx/" target="_blank">保定废塑料集散中心</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：1906</p>
                            <p>已发布商机：1916</p>
                        </div>
                    </li>
                    <li>
                        <a href="http://y.zz91.com/hbwafsljsd/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/3/30/694d59c0-fa04-42d1-a98b-c4fccc21372d.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/hbwafsljsd/" target="_blank">河北文安废塑料集散地</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：1247</p>
                            <p>已发布商机：1671</p>
                        </div>
                    </li>
                    <li>
                        <a href="http://y.zz91.com/hbdzxszcdwcflsc/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/3/30/c2b63550-76ef-477e-89b9-ffceff0f2ba2.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/hbdzxszcdwcflsc/" target="_blank">河北定州乡市周村大吴村废料市场</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：459</p>
                            <p>已发布商机：269</p>
                        </div>
                    </li>
                    <li>
                        <a href="http://y.zz91.com/hbwaxbzfsljsd/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/10/28/087fb2a8-143e-4f2c-b544-f6fe8f860562.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/hbwaxbzfsljsd/" target="_blank">河北文安县霸州废塑料集散地</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：335</p>
                            <p>已发布商机：901</p>
                        </div>
                    </li>
                </div>
            </div>
            <div class="info-list-mo">
                <div class="info-list-ul clear">
                    <li>
                        <a href="http://y.zz91.com/hbdzslsc/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/5/4/f3870c2d-1d0c-4cb6-8d4e-826ecb604bb9.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/hbdzslsc/" target="_blank">河北定州塑料市场</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：58</p>
                            <p>已发布商机：633</p>
                        </div>
                    </li>
                    <li>
                        <a href="http://y.zz91.com/lfwaslsc1/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/4/29/7a0c3195-f815-4566-8bfb-78b40b6f7da2.png" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/lfwaslsc1/" target="_blank">廊坊文安塑料市场</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：45</p>
                            <p>已发布商机：738</p>
                        </div>
                    </li>
                    <li>
                        <a href="http://y.zz91.com/hbwaslsc/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/10/28/b7eb3015-c5fc-4e32-8206-ecdafcb67345.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/hbwaslsc/" target="_blank">河北文安塑料市场</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：16</p>
                            <p>已发布商机：28</p>
                        </div>
                    </li>
                    <li>
                        <a href="http://y.zz91.com/bf（dz）zszycyjd/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/10/28/4eed145e-624f-468a-835c-668ca406bb88.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/bf（dz）zszycyjd/" target="_blank">北方（定州）再生资源产业基地</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：15</p>
                            <p>已发布商机：29</p>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <div class="info-list" style="display:none">
            <div class="info-list-mo">
                <div class="info-list-ul clear">
                    <li>
                        <a href="http://y.zz91.com/bdfjsjszx1/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/3/30/6b8faee4-56b7-476f-a657-686299648cc6.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/bdfjsjszx1/" target="_blank">保定废金属集散中心</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：1942</p>
                            <p>已发布商机：736</p>
                        </div>
                    </li>
                    <li>
                        <a href="http://y.zz91.com/xtfjsjszx/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/3/30/7b1d6a6a-38e4-4420-be20-56026d8aaf62.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/xtfjsjszx/" target="_blank">邢台废金属集散中心</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：1161</p>
                            <p>已发布商机：1970</p>
                        </div>
                    </li>
                    <li>
                        <a href="http://y.zz91.com/bdsxsxgtsc/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/4/23/efdf3792-d2f6-4b91-9a24-2a17d4e4c7d6.png" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/bdsxsxgtsc/" target="_blank">保定市徐水县钢铁市场</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：22</p>
                            <p>已发布商机：49</p>
                        </div>
                    </li>
                    <li>
                        <a href="http://y.zz91.com/bdhxgcsc/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/4/23/c5b02cd0-69fa-48f7-9f31-fab4fcff459e.png" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/bdhxgcsc/" target="_blank">保定后辛钢材市场</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：18</p>
                            <p>已发布商机：47</p>
                        </div>
                    </li>
                </div>
            </div>
            <div class="info-list-mo">
                <div class="info-list-ul clear">
                    <li>
                        <a href="http://y.zz91.com/hsgcxxyjssc/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/4/25/ce941486-1744-4ab7-a87f-fb94701a24ec.png" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/hsgcxxyjssc/" target="_blank">衡水故城县稀有金属市场</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：20</p>
                            <p>已发布商机：138</p>
                        </div>
                    </li>
                    <li>
                        <a href="http://y.zz91.com/lfgcjysc/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/3/26/e73d2d39-4d85-42bf-9aa8-1571c363b8e1.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/lfgcjysc/" target="_blank">廊坊钢材交易市场http://y.zz91.com/lfgcjysc/</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：11</p>
                            <p>已发布商机：19</p>
                        </div>
                    </li>
                    <li>
                        <a href="http://y.zz91.com/czjxgcsc/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/4/23/33d94a52-562b-4cbe-ae4e-21ee0026a4ed.png" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/czjxgcsc/" target="_blank">沧州聚鑫钢材市场</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：10</p>
                            <p>已入驻商家：10</p>
                        </div>
                    </li>
                    <li>
                        <a href="http://y.zz91.com/sjzbehgcsc/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/4/23/34ef47e7-9e59-4b4a-9f34-a41309aca7c0.png" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/sjzbehgcsc/" target="_blank">石家庄北二环钢材市场</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：8</p>
                            <p>已发布商机：13</p>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <div class="info-list" style="display:none">
            <div class="info-list-mo">
                <div class="info-list-ul clear">
                    <li>
                        <a href="http://y.zz91.com/tssjdjhsc/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/4/1/07f4b1c2-7712-41e6-8251-31dd08152dee.png" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/tssjdjhsc/" target="_blank">唐山市冀东旧货市场</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：16</p>
                            <p>已发布商机：27</p>
                        </div>
                    </li>
                    <li>
                        <a href="http://y.zz91.com/yfhgsbsc/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/5/8/df671183-e0c9-486b-9d51-5c5c5a8d466d.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/yfhgsbsc/" target="_blank">云飞化工设备市场</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：15</p>
                            <p>已发布商机：66</p>
                        </div>
                    </li>
                    <li>
                        <a href="http://y.zz91.com/tssxzsbsc/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/3/26/93c361cd-534d-42c0-8b44-9faf51d76d8d.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/tssxzsbsc/" target="_blank">唐山市闲置设备市场</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：14</p>
                            <p>已发布商机：24</p>
                        </div>
                    </li>
                     <li>
                        <a href="http://y.zz91.com/lfjhsc/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/5/8/a01affa3-b629-4ad9-bc31-56b364c713c0.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/lfjhsc/" target="_blank">廊坊旧货市场</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：10</p>
                            <p>已发布商机：22</p>
                        </div>
                    </li>
                </div>
            </div>
            <div class="info-list-mo">
                <div class="info-list-ul clear">
                    <li>
                        <a href="http://y.zz91.com/czfrjsc/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/5/8/586bffbd-f7c1-4bf6-ac54-a71e9f179fc2.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/czfrjsc/" target="_blank">沧州缝纫机市场</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：11</p>
                            <p>已发布商机：18</p>
                        </div>
                    </li>
                     <li>
                        <a href="http://y.zz91.com/tsszszysc/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/5/9/f66d933b-322d-4819-b9d2-86ed62bd2e0c.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/tsszszysc/" target="_blank">唐山市再生资源市场</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：9</p>
                            <p>已发布商机：15</p>
                        </div>
                    </li>
                    <li>
                        <a href="http://y.zz91.com/czxyqjcsc/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/5/9/a748ac23-4983-4765-9524-a80b8933c598.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/czxyqjcsc/" target="_blank">沧州徐杨桥旧车市场</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：6</p>
                            <p>已发布商机：12</p>
                        </div>
                    </li>
                    <li>
                        <a href="http://y.zz91.com/tsjfjdsbsc1/" target="_blank"><img src="http://img1.zz91.com//zz91admin/2015/3/26/b50d11fd-adb0-409d-ab15-bd3545549e98.jpg" width="227" height="200"></a>
                        <div class="gs-name"><a href="http://y.zz91.com/tsjfjdsbsc1/" target="_blank">唐山冀丰机电设备市场</a></div>
                        <div class="sj-info">
                            <p>已入驻商家：4</p>
                            <p>已发布商机：8</p>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper j_tuij" id="3F">
        <div class="wrapper-title clear">
            <div class="title-big fl"><span class="num-zt">3F</span>市场货源推荐</div>
            <div class="title-sm fr clear">
                <span #if(!$!{industry}||$!{industry}=="1001") class="now_span" #end index ="0"><a href="$!{address.front}/zt/market/hebei1001-page.htm#3F">废塑料</a></span>
                <span index ="1" #if($!{industry}=="1000") class="now_span" #end><a href="$!{address.front}/zt/market/hebei1000-page.htm#3F">废金属</a></span>
                <span class="last-span #if($!{industry}=="1007") now_span #end" index ="2"><a href="$!{address.front}/zt/market/hebei1007-page.htm#3F">二手设备</a></span>
            </div>
        </div>
        <div class="info-list">
            <div class="info-list-mo">
                <div class="info-list-ul clear">
					#foreach($li in $page.records)
						#if($velocityCount<5)
                        <li>
							<a #if($!{li.company.membershipCode}=="10051003")href="http://www.zz91.com/ppc/productdetail$!{li.products.id}.htm"#elseif($!{li.company.membershipCode}=="10051000")href="http://trade.zz91.com/productDetails$!{li.products.id}.htm"#else href="http://$!{li.company.domainZz91}.zz91.com/products$!{li.products.id}.htm" #end target="_blank"><img src="http://img3.zz91.com/218x162/$!{li.picAddress}"  width="227" height="200"/></a>
                            <div class="gs-name">
								<a #if($!{li.company.membershipCode}=="10051003")href="http://www.zz91.com/ppc/productdetail$!{li.products.id}.htm"#elseif($!{li.company.membershipCode}=="10051000")href="http://trade.zz91.com/productDetails$!{li.products.id}.htm"#else href="http://$!{li.company.domainZz91}.zz91.com/products$!{li.products.id}.htm" #end target="_blank" #set($a=$!{li.products.title})#if($a.length()>10)title="$!{li.products.title}"#end>#printTitle($!{li.products.title} 10 "...")</a>
							</div>
                            <div class="gs-name">
								#if($!{li.company.membershipCode}=="10051003")
									<a href="http://www.zz91.com/ppc/index$!{li.company.id}.htm" target="_blank" #set($a=$!{li.company.name})#if($a.length()>10) title="$!{li.company.name}"#end> #printTitle($!{li.company.name} 14 "...")</a>
								#elseif($!{li.company.membershipCode}=="10051000")
									<a href="http://company.zz91.com/compinfo$!{li.company.id}.htm" target="_blank" #set($a=$!{li.company.name})#if($a.length()>10) title="$!{li.company.name}"#end> #printTitle($!{li.company.name} 14 "...")</a>
								#else
									<a href="http://$!{li.company.domainZz91}.zz91.com" target="_blank" #set($a=$!{li.company.name})#if($a.length()>10) title="$!{li.company.name}"#end> #printTitle($!{li.company.name} 14 "...")</a>
								#end
							</div>
                            <div class="sc-name"><a href="http://y.zz91.com/$!{li.market.words}/" target="_blank" #set($a=$!{li.market.name})#if($a.length()>10) title="$!{li.market.name}"#end>#printTitle($!{li.market.name} 13 "...")</a></div>
                        </li>
						#end
					#end
                </div>
            </div>
            <div class="info-list-mo">
                <div class="info-list-ul clear">
                   #foreach($li in $page.records)
						#if($velocityCount>4)
                        <li>
							<a #if($!{li.company.membershipCode}=="10051003")href="http://www.zz91.com/ppc/productdetail$!{li.products.id}.htm"#elseif($!{li.company.membershipCode}=="10051000")href="http://trade.zz91.com/productDetails$!{li.products.id}.htm"#else href="http://$!{li.company.domainZz91}.zz91.com/products$!{li.products.id}.htm" #end target="_blank"><img src="http://img3.zz91.com/218x162/$!{li.picAddress}"  width="227" height="200"/></a>
                            <div class="gs-name">
								<a #if($!{li.company.membershipCode}=="10051003")href="http://www.zz91.com/ppc/productdetail$!{li.products.id}.htm"#elseif($!{li.company.membershipCode}=="10051000")href="http://trade.zz91.com/productDetails$!{li.products.id}.htm"#else href="http://$!{li.company.domainZz91}.zz91.com/products$!{li.products.id}.htm" #end target="_blank" #set($a=$!{li.products.title})#if($a.length()>10)title="$!{li.products.title}"#end>#printTitle($!{li.products.title} 10 "...")</a>
							</div>
                            <div class="gs-name">
								#if($!{li.company.membershipCode}=="10051003")
									<a href="http://www.zz91.com/ppc/index$!{li.company.id}.htm" target="_blank" #set($a=$!{li.company.name})#if($a.length()>10) title="$!{li.company.name}"#end> #printTitle($!{li.company.name} 14 "...")</a>
								#elseif($!{li.company.membershipCode}=="10051000")
									<a href="http://company.zz91.com/compinfo$!{li.company.id}.htm" target="_blank" #set($a=$!{li.company.name})#if($a.length()>10) title="$!{li.company.name}"#end> #printTitle($!{li.company.name} 14 "...")</a>
								#else
									<a href="http://$!{li.company.domainZz91}.zz91.com" target="_blank" #set($a=$!{li.company.name})#if($a.length()>10) title="$!{li.company.name}"#end> #printTitle($!{li.company.name} 14 "...")</a>
								#end
							</div>
                            <div class="sc-name"><a href="http://y.zz91.com/$!{li.market.words}/" target="_blank" #set($a=$!{li.market.name})#if($a.length()>10) title="$!{li.market.name}"#end>#printTitle($!{li.market.name} 13 "...")</a></div>
                        </li>
						#end
					#end
                </div>
            </div>
        </div>
		 <div class="info-list" style="display:none">
            <div class="info-list-mo">
                <div class="info-list-ul clear">
					#foreach($li in $page.records)
						#if($velocityCount<5)
                        <li>
							<a #if($!{li.company.membershipCode}=="10051003")href="http://www.zz91.com/ppc/productdetail$!{li.products.id}.htm"#elseif($!{li.company.membershipCode}=="10051000")href="http://trade.zz91.com/productDetails$!{li.products.id}.htm"#else href="http://$!{li.company.domainZz91}.zz91.com/products$!{li.products.id}.htm" #end target="_blank"><img src="http://img3.zz91.com/218x162/$!{li.picAddress}"  width="227" height="200"/></a>
                            <div class="gs-name">
								<a #if($!{li.company.membershipCode}=="10051003")href="http://www.zz91.com/ppc/productdetail$!{li.products.id}.htm"#elseif($!{li.company.membershipCode}=="10051000")href="http://trade.zz91.com/productDetails$!{li.products.id}.htm"#else href="http://$!{li.company.domainZz91}.zz91.com/products$!{li.products.id}.htm" #end target="_blank" #set($a=$!{li.products.title})#if($a.length()>10)title="$!{li.products.title}"#end>#printTitle($!{li.products.title} 10 "...")</a>
							</div>
                            <div class="gs-name">
								#if($!{li.company.membershipCode}=="10051003")
									<a href="http://www.zz91.com/ppc/index$!{li.company.id}.htm" target="_blank" #set($a=$!{li.company.name})#if($a.length()>10) title="$!{li.company.name}"#end> #printTitle($!{li.company.name} 14 "...")</a>
								#elseif($!{li.company.membershipCode}=="10051000")
									<a href="http://company.zz91.com/compinfo$!{li.company.id}.htm" target="_blank" #set($a=$!{li.company.name})#if($a.length()>10) title="$!{li.company.name}"#end> #printTitle($!{li.company.name} 14 "...")</a>
								#else
									<a href="http://$!{li.company.domainZz91}.zz91.com" target="_blank" #set($a=$!{li.company.name})#if($a.length()>10) title="$!{li.company.name}"#end> #printTitle($!{li.company.name} 14 "...")</a>
								#end
							</div>
                            <div class="sc-name"><a href="http://y.zz91.com/$!{li.market.words}/" target="_blank" #set($a=$!{li.market.name})#if($a.length()>10) title="$!{li.market.name}"#end>#printTitle($!{li.market.name} 13 "...")</a></div>
                        </li>
						#end
					#end
                </div>
            </div>
            <div class="info-list-mo">
                <div class="info-list-ul clear">
                   #foreach($li in $page.records)
						#if($velocityCount>4)
                        <li>
							<a #if($!{li.company.membershipCode}=="10051003")href="http://www.zz91.com/ppc/productdetail$!{li.products.id}.htm"#elseif($!{li.company.membershipCode}=="10051000")href="http://trade.zz91.com/productDetails$!{li.products.id}.htm"#else href="http://$!{li.company.domainZz91}.zz91.com/products$!{li.products.id}.htm" #end target="_blank"><img src="http://img3.zz91.com/218x162/$!{li.picAddress}"  width="227" height="200"/></a>
                            <div class="gs-name">
								<a #if($!{li.company.membershipCode}=="10051003")href="http://www.zz91.com/ppc/productdetail$!{li.products.id}.htm"#elseif($!{li.company.membershipCode}=="10051000")href="http://trade.zz91.com/productDetails$!{li.products.id}.htm"#else href="http://$!{li.company.domainZz91}.zz91.com/products$!{li.products.id}.htm" #end target="_blank" #set($a=$!{li.products.title})#if($a.length()>10)title="$!{li.products.title}"#end>#printTitle($!{li.products.title} 10 "...")</a>
							</div>
                            <div class="gs-name">
								#if($!{li.company.membershipCode}=="10051003")
									<a href="http://www.zz91.com/ppc/index$!{li.company.id}.htm" target="_blank" #set($a=$!{li.company.name})#if($a.length()>10) title="$!{li.company.name}"#end> #printTitle($!{li.company.name} 14 "...")</a>
								#elseif($!{li.company.membershipCode}=="10051000")
									<a href="http://company.zz91.com/compinfo$!{li.company.id}.htm" target="_blank" #set($a=$!{li.company.name})#if($a.length()>10) title="$!{li.company.name}"#end> #printTitle($!{li.company.name} 14 "...")</a>
								#else
									<a href="http://$!{li.company.domainZz91}.zz91.com" target="_blank" #set($a=$!{li.company.name})#if($a.length()>10) title="$!{li.company.name}"#end> #printTitle($!{li.company.name} 14 "...")</a>
								#end
							</div>
                            <div class="sc-name"><a href="http://y.zz91.com/$!{li.market.words}/" target="_blank" #set($a=$!{li.market.name})#if($a.length()>10) title="$!{li.market.name}"#end>#printTitle($!{li.market.name} 13 "...")</a></div>
                        </li>
						#end
					#end
                </div>
            </div>
        </div>
		 <div class="info-list" style="display:none">
            <div class="info-list-mo">
                <div class="info-list-ul clear">
					#foreach($li in $page.records)
						#if($velocityCount<5)
                        <li>
							<a #if($!{li.company.membershipCode}=="10051003")href="http://www.zz91.com/ppc/productdetail$!{li.products.id}.htm"#elseif($!{li.company.membershipCode}=="10051000")href="http://trade.zz91.com/productDetails$!{li.products.id}.htm"#else href="http://$!{li.company.domainZz91}.zz91.com/products$!{li.products.id}.htm" #end target="_blank"><img src="http://img3.zz91.com/218x162/$!{li.picAddress}"  width="227" height="200"/></a>
                            <div class="gs-name">
								<a #if($!{li.company.membershipCode}=="10051003")href="http://www.zz91.com/ppc/productdetail$!{li.products.id}.htm"#elseif($!{li.company.membershipCode}=="10051000")href="http://trade.zz91.com/productDetails$!{li.products.id}.htm"#else href="http://$!{li.company.domainZz91}.zz91.com/products$!{li.products.id}.htm" #end target="_blank" #set($a=$!{li.products.title})#if($a.length()>10)title="$!{li.products.title}"#end>#printTitle($!{li.products.title} 10 "...")</a>
							</div>
                            <div class="gs-name">
								#if($!{li.company.membershipCode}=="10051003")
									<a href="http://www.zz91.com/ppc/index$!{li.company.id}.htm" target="_blank" #set($a=$!{li.company.name})#if($a.length()>10) title="$!{li.company.name}"#end> #printTitle($!{li.company.name} 14 "...")</a>
								#elseif($!{li.company.membershipCode}=="10051000")
									<a href="http://company.zz91.com/compinfo$!{li.company.id}.htm" target="_blank" #set($a=$!{li.company.name})#if($a.length()>10) title="$!{li.company.name}"#end> #printTitle($!{li.company.name} 14 "...")</a>
								#else
									<a href="http://$!{li.company.domainZz91}.zz91.com" target="_blank" #set($a=$!{li.company.name})#if($a.length()>10) title="$!{li.company.name}"#end> #printTitle($!{li.company.name} 14 "...")</a>
								#end
							</div>
                            <div class="sc-name"><a href="http://y.zz91.com/$!{li.market.words}/" target="_blank" #set($a=$!{li.market.name})#if($a.length()>10) title="$!{li.market.name}"#end>#printTitle($!{li.market.name} 13 "...")</a></div>
                        </li>
						#end
					#end
                </div>
            </div>
            <div class="info-list-mo">
                <div class="info-list-ul clear">
                   #foreach($li in $page.records)
						#if($velocityCount>4)
                        <li>
							<a #if($!{li.company.membershipCode}=="10051003")href="http://www.zz91.com/ppc/productdetail$!{li.products.id}.htm"#elseif($!{li.company.membershipCode}=="10051000")href="http://trade.zz91.com/productDetails$!{li.products.id}.htm"#else href="http://$!{li.company.domainZz91}.zz91.com/products$!{li.products.id}.htm" #end target="_blank"><img src="http://img3.zz91.com/218x162/$!{li.picAddress}"  width="227" height="200"/></a>
                            <div class="gs-name">
								<a #if($!{li.company.membershipCode}=="10051003")href="http://www.zz91.com/ppc/productdetail$!{li.products.id}.htm"#elseif($!{li.company.membershipCode}=="10051000")href="http://trade.zz91.com/productDetails$!{li.products.id}.htm"#else href="http://$!{li.company.domainZz91}.zz91.com/products$!{li.products.id}.htm" #end target="_blank" #set($a=$!{li.products.title})#if($a.length()>10)title="$!{li.products.title}"#end>#printTitle($!{li.products.title} 10 "...")</a>
							</div>
                            <div class="gs-name">
								#if($!{li.company.membershipCode}=="10051003")
									<a href="http://www.zz91.com/ppc/index$!{li.company.id}.htm" target="_blank" #set($a=$!{li.company.name})#if($a.length()>10) title="$!{li.company.name}"#end> #printTitle($!{li.company.name} 14 "...")</a>
								#elseif($!{li.company.membershipCode}=="10051000")
									<a href="http://company.zz91.com/compinfo$!{li.company.id}.htm" target="_blank" #set($a=$!{li.company.name})#if($a.length()>10) title="$!{li.company.name}"#end> #printTitle($!{li.company.name} 14 "...")</a>
								#else
									<a href="http://$!{li.company.domainZz91}.zz91.com" target="_blank" #set($a=$!{li.company.name})#if($a.length()>10) title="$!{li.company.name}"#end> #printTitle($!{li.company.name} 14 "...")</a>
								#end
							</div>
                            <div class="sc-name"><a href="http://y.zz91.com/$!{li.market.words}/" target="_blank" #set($a=$!{li.market.name})#if($a.length()>10) title="$!{li.market.name}"#end>#printTitle($!{li.market.name} 13 "...")</a></div>
                        </li>
						#end
					#end
                </div>
            </div>
        </div>
    </div>
    <div class="next-page">
        <a href="$!{address.front}/zt/market/hebei$!{industry}-page$!{left}.htm#3F">上一页</a>
		#foreach($li in [$start..$end])
			#if($li==$index)
					<a href="javascript:;" class="now-page">$index</a>
			#else
					<a href="$!{address.front}/zt/market/hebei$!{industry}-page$!{li}.htm#3F">$li</a>
			#end
		#end
		<a href="$!{address.front}/zt/market/hebei$!{industry}-page$!{right}.htm#3F">下一页</a>
    </div>
    <div class="foot">
       <div class="subject_foofer">
    			<p><a href="http://www.zz91.com/about/index.asp" rel="nofollow" target="_blank"><br />
    					关于我们</a> | <a href="http://www.recyclechina.com/" target="_blank">国际站</a> | <a href="http://www.zz91.com/service/ppt/index.asp" rel="nofollow" target="_blank">品牌通服务</a> | <a href="http://www.zz91.com/service/zst/" rel="nofollow" target="_blank">再生通服务</a> | <a href="http://www.zz91.com/cn/helpcenter/" rel="nofollow" target="_blank">新手指南</a> | <a href="http://www.zz91.com/webmap.html" target="_blank">网站地图</a> | <a href="http://www.zz91.com/hkfs/" rel="nofollow" target="_blank">支付方式</a> | <a href="http://www.zz91.com/about/question.asp" rel="nofollow" target="_blank">意见投诉</a> | <a href="http://www.zz91.com/about/linkus.asp" rel="nofollow" target="_blank">友情链接</a> | <a href="http://www.zz91.com/about/contactus.asp" rel="nofollow" target="_blank">客服中心</a> | <a href="http://www.zz91.com/about/zhaopin.asp" rel="nofollow" target="_blank">诚聘英才</a> | <a href="http://daohang.zz91.com/" target="_blank">产品导航</a><br />
    					ZZ91.COM 再生网 &copy; 版权所有
    					地址：浙江省杭州市江干区九盛路9号东方电子商务园A13栋 邮编：310019 <br />
    					客服热线：0571-56612345 56611111 传真：0571-56637777 <br />
    					<br />
    			</p>
    		</div>
    </div>
</body>
<script type="text/javascript">
    geiMo("j_ruzhu");
	geiMo("j_tuij");
    geiMo("j_hotsc")
    function geiMo(obj){
        $("."+ obj +" .title-sm span").on("click",function(){
            $(this).parent().find(".now_span").removeClass("now_span");
            $(this).addClass("now_span");
            var index = $(this).attr("index");
            $(this).parents("."+obj).find(".info-list").hide()
            $(this).parents("."+obj).find(".info-list").eq(index).show()
        })
    }
	$(".j_tui").on("click",function(){
        gotoWh("j_ruzhu")
    })
    $(".j_hou").on("click",function(){
        gotoWh("j_hotsc")
    })
    $(".j_hy").on("click",function(){
        gotoWh("j_tuij")
    })
    $(".gotop").on("click",function(){
        gotoWh("body")
    })
    function gotoWh(obj){
        if(obj=="body"){
            $("body").animate({"scrollTop":"0px"})
        }else{
            var soltop = $("."+ obj).offset().top;
            $("body").animate({"scrollTop":soltop+"px"})
        }
       
    }
</script>
</html>