<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
	#parse("/zz91/common/import.vm")
	#parse("/zz91/common/context.vm")
	<script type="text/javascript" src="$!{address.js}/admin/inquiry/export.js" ></script>
	
    <script type="text/javascript">

		Ext.onReady(function(){
        	var grid = new ast.ast1949.admin.inquiry.ProductResultGrid({
        		listUrl:Context.ROOT + Context.PATH + "/admin/inquiry/queryExportInquiry.htm?productId=$!{productId}",
        		region:"center",
				layout:"fit",
				toolbar:[],
				listeners:{
					"rowdblclick":function(g, rowIdx, e){
						g.showdetail(g.getStore().getAt(rowIdx).get("content"));
					}
				}
        	});
			
        	var viewport = new Ext.Viewport({
        		layout:"border",
        		items:[grid]
        	});
			
			grid.loadBySender("$!{account}");
        })
	</script>
</head>

<body>

</body>
</html>