<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
<title>zz91.crm.cs.index</title>
	#parse("/zz91/common/import.vm")
	#parse("/zz91/common/context.vm")
	<script type="text/javascript" src="$!{address.js}/admin/lib/ComboTree.js" ></script>
	<script type="text/javascript" src="$!{address.js}/crm/company.js" ></script>

<script type="text/javascript">
	Ext.onReady(function() {
	
		var companyForm= new ast.ast1949.crm.company.CompanyForm({
			title:"公司信息",
			companyId:"$!{companyId}",
			region:"center"
		});
		companyForm.buttons=null;
		companyForm.loadCompany();
	
		var viewport = new Ext.Viewport({
			layout : "border",
			items : [companyForm]
		});
	});
</script>

</head>

<body>

</body>
</html>