@charset "utf-8";
/* CSS Document */
html{color:#000; font-size:12px; font-family:"宋体";}
html,body,div,dl,dt,dd,ul,ol,li,ul,h1,h2,h3,pre,code,p,th,td,form,img{margin:0; padding:0; border:0px;}
input,select{margin:0; padding:0;}
dl,dt,dd,ul,ol,li,ul{list-style:none;}
.te_body{width:960px; margin:0px auto;}
.te_tit_border{border:solid 1px #088d27;}
.te_tit_name{font-size:14px; font-weight:bold; color:#FFF; background-image:url(images/zz91te_title_bj.jpg); background-repeat:repeat-x; height:27px; line-height:27px; padding-left:5px;border:solid 1px #c4eaca; border-bottom:0px;}
.te_classoone{font-size:12px; font-weight:bold; color:#000;}
.te_classoone:link{text-decoration:none;}
.te_classoone:visited{text-decoration:none; color:#000;}
.te_classoone:hover{text-decoration:none; color:#088d27;}
.te_classoone:active{text-decoration:none; color:#000;}
.te_classotwo{font-size:12px; color:#505050;}
.te_classotwo:link{text-decoration:none;}
.te_classotwo:visited{text-decoration:none; color:#505050;}
.te_classotwo:hover{text-decoration:underline; color:#088d27;}
.te_classotwo:active{text-decoration:none; color:#505050;}
.te_titlea{font-size:12px; color:#000;}
.te_titlea:link{text-decoration:none;}
.te_titlea:visited{text-decoration:none; color:#000;}
.te_titlea:hover{text-decoration:underline; color:#088d27;}
.te_titlea:active{text-decoration:none; color:#000;}
.lineheight30{line-height:30px;}

/*所有产品分类*/
.te_class{width:205px; float:left;}
.te_class_a{width:188px; height:40px; padding:8px; line-height:20px; border-bottom:dotted 1px #c8c8c8; border-top:solid 1px #FFF; background:url(images/zz91te_class_inco.gif) 185px 33px; background-repeat:no-repeat; position:relative; z-index:1;}
.active_cat{width:190px; height:40px; cursor:pointer; padding:8px; line-height:20px; border-bottom:dotted 1px #c8c8c8; background-color:#fffedb; border:solid 1px #088d27; border-right:0px; border-left:0px; position:relative; z-index:20000;}
.active_cat div{display:block;}
.h3_cat{display:none; width:300px; left:205px; margin-top:-49px; cursor:auto; position:absolute; z-index:1;}
.shadow{width:300px; border:solid 1px #088d27; background-color:#fffedb; padding:8px; position:inherit;}
.shadow_border ul li {float:left;width:60px;height:24px;position:inherit;}
.alltitle{background-color:#e1ffe6; height:30px; line-height:30px; text-align:center; font-size:14px; font-weight:bold; color:#0b8621; border-top:solid 1px #088d27;}
.alltitle a{color:#0b8621; text-decoration:none;}
.alltitle a:hover{color:#cc0000; text-decoration:underline;}

.te_cen{width:490px; margin-left:11px; float:left;}
.te_banner{width:490px; border:solid 1px #cccdcd;}
.te_banner_info{width:490px; margin-top:10px;}
.te_bannerinfotb{width:225px; line-height:24px; padding-left:8px; float:left;}
.te_bannerinfotb li{width:225px; border-bottom:dashed 1px #cecece; float:left;}
.te_bannerinfotb a{color:#505050; text-decoration:none;}
.te_bannerinfotb a:hover{color:#088d27; text-decoration:underline;}
.te_bannerinforb{width:225px; line-height:24px; padding-right:10px; float:right;}
.te_bannerinforb li{width:225px; border-bottom:dashed 1px #cecece; float:left;}
.te_bannerinforb a{color:#505050; text-decoration:none;}
.te_bannerinforb a:hover{color:#088d27; text-decoration:none;}


.te_7rx{width:238px; float:right;}
.te_7rx_claas li{width:79px; text-align:center; line-height:30px; float:left;}
.ssbj{cursor:pointer;border-bottom:solid 1px #bbbbbb; font-size:14px; color:#595959;text-decoration:none;}
.ssbjn{cursor:pointer;text-decoration:none;border-bottom:solid 1px #ff3000; font-size:14px; font-weight:bold; color:#F00;}
.dis{display:block;}
.undis{display:none;}
.te_7rx_img{width:75px; height:75px; margin-left:6px; float:left;}
.te_7rx_con{width:140px; height:75px; margin-left:6px; line-height:18px; float:left;}
.te_7rx_cons{width:235px; height:81px; padding-top:6px; float:left;}

.zz91-slides{position:relative;overflow:hidden;width:490px;height:215px;}
.zz91-slide-pic{overflow:hidden;width:490px;height:215px;}
.zz91-slide-pic img{width:488px;height:213px;border:1px solid #dbdbdb}
.zz91-slide-pic li.cur{display:block}
.zz91-slide-li{position:absolute;left:0;top:175px;bottom:0;border:1px solid #dbdbdb;border-top:none}
.zz91-slide-li li{float:left;width:162px;height:30px;padding-top:10px;line-height:30px;text-align:center}
.zz91-slide-li a:visited,.zz91-slide-li a:link{display:block;width:162px;height:30px;font-size:14px;color:#393939}
.zz91-slide-li .cur a:visited,.slide-li .cur a:link,.zz91-slide-li a:hover{color:#FF6F00;text-decoration:none}
.op li{background:url(images/zz91_2010flashNavbc01.gif) top no-repeat}
.op li.cur{background:url(images/zz91_2010flashNavbc01.gif) left -41px no-repeat}
.zz91-slide-txt span{display:none}

.teclasleft{width:708px; margin-top:8px; float:left;}
.terightinfo{width:240px; float:right;}
.teinfofban{padding:10px; background-color:#e8ffec;}
.teinfofbansa{height:37px; padding-top:5px; text-align:center; background-image:url(images/zz91te_03.jpg); background-repeat:no-repeat; background-position:center;}
.teinfofbansa:hover{height:37px; padding-top:5px; text-align:center; background-image:url(images/zz91te_03s.jpg); background-repeat:no-repeat; background-position:center;}
.teinfofbansb{height:37px; padding-top:5px; text-align:center; background-image:url(images/zz91te_06.jpg); background-repeat:no-repeat; background-position:center;}
.teinfofbansb:hover{height:37px; padding-top:5px; text-align:center; background-image:url(images/zz91te_06s.jpg); background-repeat:no-repeat; background-position:center;}
.teinfofbansc{height:37px; padding-top:5px; text-align:center; background-image:url(images/zz91te_08.jpg); background-repeat:no-repeat; background-position:center;}
.teinfofbansc:hover{height:37px; padding-top:5px; text-align:center; background-image:url(images/zz91te_08s.jpg); background-repeat:no-repeat; background-position:center;}
.ssbjf{width:111px; float:left; cursor:pointer; font-size:14px; color:#023a12;text-decoration:none;}
.ssbjnf{width:111px; float:left; cursor:pointer;text-decoration:none; font-size:14px; font-weight:bold; color:#FFF;}

.terightege{height:22px; line-height:22px; background-color:#fff6cc; text-align:right; padding-right:10px;}
.terightgew{height:22px; padding-left:10px;}
 
.tetitclass{width:708px; float:left;}
.tetitclass_a{width:708px; border-bottom:dotted 1px #c0c0c0; float:left;}
.tetitclass_b{background-color:#e1ffe6; font-size:14px; font-weight:bold; color:#0b8621; width:33px; height:88px; float:left;text-align:center; padding-top:45px;}
.tetitclass_c{width:653px; height:108px; padding:10px; float:left;}
.tetitclass_d{width:326px; float:left;}
.tetitclass_e{width:326px; line-height:20px; font-size:14px; font-weight:bold; color:#cc0000;}
.tetitclass_f{width:326px; line-height:18px;}
.tetitclass_f span{ color:#999;}
.tetitclass_f li{width:60px; float:left;}
.tetitclass_f a{color:#505050; text-decoration:none;}
.tetitclass_f a:hover{color:#088d27; text-decoration:underline;}

.teiput90{width:90px; height:20px; line-height:20px; border:solid 1px #c0c0c0; font-size:14px; color:#505050;}
.teiput165{width:165px; height:20px; line-height:20px; border:solid 1px #c0c0c0; font-size:14px; color:#505050;}

.scrpic{width:688px; height:185px; overflow:hidden; padding-top:10px; margin:0px auto;}
.listscrpic{width:478px; height:185px; overflow:hidden; padding-top:10px; margin:0px auto;}
.ScrCont{width:2740px;}
.cont{width:137px; height:185px; text-align:center; float:left;}
.cont a{color:#a35400; font-size:14px; text-decoration:none;}
.cont a:hover{color:#088d27; text-decoration:none;}
.cont span{font-size:14px; font-weight:bold; color:#F00;}
.listcont{width:137px; height:185px; text-align:center; float:left;}
.listcont a{color:#000; font-size:12px; text-decoration:none;}
.listcont a:hover{color:#088d27; text-decoration:none;}
.listcont span{font-size:12px; color:#999;}
#List1,#List2{float:left;}

.termcptj{padding-left:20px;}
.termcptj li{width:110px; height:30px; line-height:30px; float:left; text-align:center;}
.termcptj a{color:#1200ff; font-size:14px; text-decoration:none;}
.termcptj a:hover{color:#088d27; text-decoration:none;}

.tetiemcity{text-align:center; padding-top:20px;}
.tesosucp{height:40px; padding-left:15px; font-size:14px; padding-top:10px;}
.tesosuan{background-image:url(images/anpic.jpg); width:109px; height:34px; text-align:center; font-size:16px; color:#FFF; border:0px;}

.rTop{width:24px; height:75px; position:fixed; left:50%; margin-left:490px; bottom:10px; cursor:pointer; display:none;}
.rightgdmenu{z-index:100; position:absolute; left:50%; margin-left:490px; top:0px; position:fixed !important;top:expression(offsetParent.scrollTop+20);}
.rightgdtit{width:30px; background-color:#faf5dd; border:solid 1px #bbbbbb; margin-bottom:1px; font-size:14px; color:#000; text-align:center; padding-top:5px; padding-bottom:5px;}
.rightgdtit a{color:#000; font-size:14px; text-decoration:none;}
.rightgdtit a:hover{color:#088d27; text-decoration:none;}