<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6965885043949" version="0.0.1">
  <name>特教360</name>
  <description>tj 360</description>
  <author email="" href="">UZ Developer</author>
  <content src="html/home.html"/>
  <preference name="pageBounce" value="false"/>
  <preference name="appBackground" value=""/>
  <preference name="windowBackground" value="#FAFAFA"/>
  <preference name="frameBackgroundColor" value=""/>
  <preference name="hScrollBarEnabled" value="false"/>
  <preference name="vScrollBarEnabled" value="false"/>
  <preference name="autoLaunch" value="false"/>
  <preference name="autoUpdate" value="false"/>
  <preference name="fullScreen" value="false"/>
  <preference name="iOS7StatusBarAppearance" value="true"/>
  <permission name="call"/>
  <access origin="*"/>
  <feature name="personalCenter"/>
  <feature name="inputField"/>
  <feature name="downloadManager"/>
  <feature name="cityList"/>
  <feature name="calendar"/>
  <feature name="baiduMap">
    <param name="android_api_key" value="pHBZv0MrEG88MHXkyNj4LHTR"/>
    <param name="ios_api_key" value="EkbItWgiHNnap3qvzfiqwGkS"/>
  </feature>
  <feature name="weiXin">
    <param name="urlScheme" value="wx9c22ec5a4cc2007d"/>
    <param name="apiKey" value="wx9c22ec5a4cc2007d"/>
  </feature>
  <feature name="sinaWeiBo">
    <param name="urlScheme" value="wb2710821521"/>
    <param name="apiKey" value="2710821521"/>
    <param name="rgistUrl" value="http://www.tj360.org"/>
  </feature>
  <feature name="qq">
    <param name="urlScheme" value="tencent1102006376"/>
    <param name="apiKey" value="1102006376"/>
  </feature>
</widget>
