#set($layout="/layout/blank.vm")
<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>$!{pageTitle}</title>
<meta name="keywords" content="$!{pageKeywords}">
<meta name="description" content="$!{pageDescription}">
<link rel="shortcut icon" href="http://img0.zz91.com/front/images/logo/favicon.ico">
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/newindex/css/index.css"/>
<link rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.hack.css" />
<link rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.comm.css" />
<script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js" ></script>
<script type="text/javascript" src="http://img0.zz91.com/zz91/newindex/js/index.js"></script>
<script src="http://img0.zz91.com/front/js/search/zz91.search.js"></script>
<script language="javascript" src="http://img0.zz91.com/zz91/newindex/js/jquery.Sonline.js"></script>
<script type="text/javascript" src="http://img0.zz91.com/bbs/js/zz91.bbs.slide.js"></script>
</head>
<body>
<div class="Sonlineid"></div>
#cacheFragment("$!{address.fragment}/china/topbar.htm?&3","","","")
<div id="topBar" class="w990 mc">
	<div id="topBarInfo">
		<div id="topBarLogin">
		<script src="$!{address.front}/webst.htm?$date"></script>
		</div>
		$!{fragmentContext}
	</div>
</div>
#end
	
	<div id=mainBlock class="w990 mc topad">
		<script src="http://gg.zz91.com/show?p=88"></script>
		<div id="topadpic_mini" style="display:none">
			<script src="http://gg.zz91.com/show?p=235"></script>
		</div>
		<div id="topadpic_big" >
			<script src="http://gg.zz91.com/show?p=234"></script>
		</div>
	</div>
	<!--顶部Top-->
<div class="logosearch" id="logosearch">
    <div class="logo">
        <a href="http://www.zz91.com" target="_blank">
            <img src="http://img0.zz91.com/zz91/images/indexLogo.png" alt="ZZ91再生网">
        </a>
    </div>
    <!--end logo-->
    <div class="top_search">
        <form id="searchForm1" action="#" method="post" onSubmit="return zz91searchindex(this,0);">
        <div class="search">
            <div class="search_bar">
                <div class="nav1">
                    <ul>
                        <li class="searchnav_on" s-data="输入产品关键字，搜索产品供应信息！" value="1">产品</li>
                        <li s-data="输入关键字，搜索产品求购信息！ " value="2">求购</li>
                        <li s-data="输入您要搜索的报价产品关键字！" value="3">报价</li>
                        <li s-data="输入公司名称、地区、主营产品等" value="4">公司</li>
                        <li s-data="输入产品关键字，搜索对应产品图片" value="5">图片</li> 
                    </ul>
                </div>
                <div class="box">
                    <div class="left" style="position:relative; z-index:9000; clear:both">
                        <input name="keywords" id="TopKeywords" type="text" value="输入产品关键字，搜索产品供应信息！" class="searchtext" autocomplete="off">
                        <div id="searchresult" style="display:none"></div>
                        <input type="hidden" value="1" name="TopSeaType" id="TopSeaType">
                    </div>
                    <div class="right">
                        <a href="javascript:void(0)" data="1" class="search_a" id="search_a1"></a>
                    </div>
                </div>
            </div>
          </div>
        </form>
      <!--搜索--> 
    </div>
    <div class="top_right">
        <div class="top_right_left">
            或
        </div>
        <div class="top_right_right">
            让卖家找上门<br>
            <a href="http://trade.zz91.com/postoffer_step1.htm" target="_blank" style="color:#F00">发布产品 &gt; </a><br>
        </div>
    </div>
    <div style="clear:both"></div>
</div>
<div class="cb"></div>
<!--end LOGO搜索-->
<div id="nav2013">
    <ul>
        <li>
            <a href="http://www.zz91.com" class="on">首页</a>
        </li>
        <li>
            <a href="http://trade.zz91.com">交易中心</a>
        </li>
        <li>
            <a href="http://price.zz91.com">行情报价</a>
        </li>
        
        <li>
            <a href="http://company.zz91.com" target="_blank">公司黄页</a>
        </li>
        <li>
            <a href="http://huzhu.zz91.com" target="_blank">互助社区</a>
        </li>
        <li>
            <a href="http://map.zz91.com" target="_blank">再生地图</a>
        </li>
        <li>
            <a href="http://xianhuo.zz91.com" target="_blank">现货商城</a>
        </li>
        <li>
            <a href="http://www.huanbao.com" target="_blank">环保网</a>
        </li>
        <li class="icon_up"></li>
        <li>
            <a href="http://www.zz91.com/specialsubject/hjzw/" target="_blank">
                <font style="color:#FFF">效果提升热线：</font>
                <span style="color:#FF0; font-size:16px">0571-56611111</span>
            </a>
        </li>
    </ul>
    <div class="nav_down">
        <dl id="snav0" style="display:block">
            <dd>
                <a href="http://jinshu.zz91.com/" target="_blank">废金属网</a>
            </dd>
            <dd>
                <a href="http://suliao.zz91.com/index.htm" target="_blank">再生塑料网</a>
            </dd>
            <dd>
                <a href="http://shebei.zz91.com/" target="_blank">二手设备网</a>
            </dd>
            <dd>
                <a href="http://feitong.zz91.com/" target="_blank">废铜网</a>
            </dd>
            <dd>
                <a href="http://guijinshu.zz91.com/" target="_blank">贵金属频道</a>
            </dd>
            <dd>
                <a href="http://aqsiq.zz91.com/" target="_blank">AQSIQ/环保证</a>
            </dd>
            <dd class="icon"></dd>
            <dd>
                <a href="http://www.zz91.com/xiazai" target="_blank">行情研究院</a>
            </dd>
            <dd>
                <a href="http://mingxing.zz91.com" target="_blank">明星企业</a>
            </dd>
            <dd>
                <a href="http://zhanhui.zz91.com" target="_blank">再生展会</a>
            </dd>
            <dd>
                <a href="http://tech.zz91.com" target="_blank">再生技术</a>
            </dd>
            <dd>
                <a href="http://www.zz91.com/photo/" target="_blank">产品相册</a>
            </dd>
        </dl>
    </div>
    <!--end nav_down-->
</div>
<div style=" clear:both"></div>

<div style=" clear:both"></div>
<!--导航-->
<div class="m-banner">
	<script src="http://pyapp.zz91.com/showadscript/?code=90&type=index1"></script>
	<div style="clear:both"></div>
</div>
<!--左侧悬浮公告-->
<script src="http://gg.zz91.com/show?p=217"></script>
<!--对联广告-->
<script src="http://gg.zz91.com/show?p=354"></script>

<div class="mainblock">
	<div class="block1">
		<div class="b1-left">
            <div class="b1-Lbox">
                <div class="b1-Lbox-nav">
                    <div class="b1-Lnav-div1 fl" id="b1-nav1">
                        热门促销
                    </div>
                    <div class="b1-Lnav-div2 b1-Lnav-in fr" id="b1-nav2">
                        废料资讯
                    </div>
                    <div class="cb"></div>
                </div>
                <!--end b1-left-title-->
				#cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=100010191000&emre", "", "", "")
					<ul class="b1-Lbox-ul" id="b1-ul1">
					#foreach($index in $!{list})
						<li><a href="$!{index.link}" style="$!{index.style}" target="_blank">#printTitle($!{index.title} 15 '')</a></li>
					#end
					</ul>
				#end
                    
                #cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=10001005&size=3&rwmee", "", "", "")
					<ul class="b1-Lbox-ul" id="b1-ul2">
					#foreach($index in $!list)
						<li ><a href="$!{index.link}" target="_blank"><span style="$!{index.style}">#printTitle($!{index.title} 15 '')</span></a></li>
					#end
					</ul>
                #end
            </div>
            <!--end b1-Lbox-->
             <div class="b1-left-banner">
        		<script src="http://gg.zz91.com/show?p=477"></script>
            </div>
            <!--end b1-left-banner-->
            <div class="b1-Lbox">
                <div class="b1-Lbox-nav">
                    <div class="b1-Lnav-div3 fl" id="b1-nav3">
                        及时供应
                    </div>
                    <div class="b1-Lnav-div4 b1-Lnav-in fr" id="b1-nav4">
                        及时采购
                    </div>
                    <div class="cb"></div>
                </div>
                <!--end b1-left-title-->
		       #cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=10001002&size=3&ikeewr", "", "", "")
                    <ul class="b1-Lbox-ul" id="b1-ul3">
                    #foreach($index in $!{list})
                    <li >
                    <a href="$!{index.link}" title="$!{index.title}"  target="_blank" class="title">#printTitle($!{index.title} 15 '')</a>&nbsp;
					<a href="$!{index.link}">$!{nowTime}</a>
                    </li>
                    #end
                    </ul>
                #end

				#cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=10001003&size=3&sierer", "", "", "")
                    <ul class="b1-Lbox-ul" id="b1-ul4">
                    #foreach($index in $!list)
                    <li>
                    <a href="$!{index.link}" title="$!{index.title}" class="title" target="_blank">#printTitle($!{index.title} 15 '')</a>&nbsp;
                    <a href="$!{index.link}">$!{nowTime}</a>
                    </li>
                    #end
                    </ul>
                #end
            </div>
            <!--end b1-Lbox-->
        </div>
       <!--end b1-left-->

	   <div class="b1-center">
       		<div class="b1-center-banner">
            	<div class="slidecontainer" id="zz91slide">
                    <div class="toggleImg">
                    	<script src="http://gg.zz91.com/show?p=92"></script>
                        <script src="http://gg.zz91.com/show?p=93"></script>
                        <script src="http://gg.zz91.com/show?p=94"></script>
                    </div>
                    <div class="toggleBtn">      
                    </div>
                </div>
            </div>
            <!--end b1-center-banner-->
            <!--end b1-center-key-->
            <div class="b1-center-PictureScroll">
				#cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=100010191003&size=4&seedfafgsr", "", "", "")
    				#foreach($index in $!list)
                    	<div class="b1-item">
                        	<div class="b1-item-img">
                            	<a href="$!{index.link}"><img src="$!{address.thumb}$!{address.resource}/$!{index.pic}" /></a>
                            </div>
                            <!--end b1-item-img-->
                            <div class="b1-item-text">
                            	<a href="$!{index.link}">$!{index.title}</a><br />
        					<span>优质现货 欢迎洽谈</span>
                            </div>
                            <!--end b1-item-text-->
                        </div>
					#end
				#end
                <!--end b1-item-->
                <div class="cb"></div>
            </div>
            <!--end b1-center-PictureScroll-->
       </div>
       <!--end b1-center-->


        <!--登录 产品体验 限时抢购 start-->
		<div class="b1-right">
        	<div class="b1-right-user">
            	<div class="clearfix">
                    <div class="indexreg"><a href="$!{address.server}/register/register_stp1.htm" title="免费注册ZZ91再生网" >免费注册</a></div>
                    <div class="indexlogin"><a href="$!{address.server}/login.htm" title="快速登录ZZ91再生网">登录</a></div>
                    <div class="indexpost"><a href="$!{address.trade}/postoffer_step1.htm" target="_blank" title="快速发布供求" >发布供求</a></div>
            	</div>
                <div style="clear:both"></div>
                <!--end clearfix-->
                <div id="Js_tab1" class="tabBlock marginstyle01">
                    <div class="opporRegTit clearfix">
                        <h3 class="tab cur"><a href="$!{address.trade}" title="寻找商机">寻找商机</a> |</h3>
                        <h3 class="tab"><a href="$!{address.front}/register/register.htm" title="会员注册">会员注册</a></h3>
                    </div>
                    <!--end opporRegTit-->
                    <div class="opporReghiddencontent">
						#cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=100010151000&ar", "", "", "")
                            <ul>
                                #foreach($index in $list)
                                    <li>$!{index.title}</li>
                                #end
                            </ul>
                        #end
                    </div>
                     <!--end opporReghiddencontent-->
                    <div class="opporReghiddencontent" style="display:none">
						#cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=100010151001", "", "", "")
                            <ul>
                                #foreach($index in $!list)
                                    <li>$!{index.title}</li>
								#end
                            </ul>
                        #end
                    </div>
                    <!--end opporReghiddencontent-->
                </div>
                <!--end tabBlock-->

            </div>
            <!--end b1-right-user-->
            <div class="b1-right-NewUser">
            	<div class="b1-NewUser-title">
                	<a href="#">ZZ91新增客户推荐</a>
                </div>
                <!--end b1-NewUser-title-->
				<div class="b1-NewUser-content" id=b3-s2>
				#cacheFragment("$!{address.fragment}/company/recentZst.htm?size=100", "4", "", "")
                    <ul>
                        #foreach($comp in $list)
                        <li>
                            <a href="http://$!{comp.domainZz91}.zz91.com" title="$!{comp.name}"  target="_blank">
                            $!{comp.name}
                            </a>
                        </li>
                        #end
					</ul>
				#end
				</div>
				<!--end b1-NewUser-content-->
            </div>
            <!--end b1-right-NewUser-->
		</div>
       <!--end b1-right-->
		<div class="cb"></div>
    </div>
</div>
        <!--登录 产品体验 限时抢购 end-->

<div class="block2">
    <script src="http://pyapp.zz91.com/showadscript/?code=96&type=index2"></script>
</div>

<div class="mainblock">
    <!--end block1-->
    
    <!--end block2-->
	#parse("/newCategory.vm")
	<!--end block3-->
	<div class="block4">
    	<div class="b4-title">
        	<a href="#"><img src="http://img0.zz91.com/zz91/newindex/images/b4_title.jpg" /></a>
        </div>
        <!--end b4-title-->
        <div class="b4-content">
			#cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=100010191003&size=6&dfsf", "", "", "")
        	<ul>
				 #foreach($!index in $!list)
                	<li>
                    	<div class="b4-img">
							<a href="$!{index.link}" target="_blank">
								<img src="$!{address.thumb}$!{address.resource}/$!{index.pic}" />
							</a>
						</div>
                        <div class="b4-text"><a href="$!{index.link}">$!{index.title}</a></div>
                    </li>
				#end
                <div class="cb"></div>
            </ul>
			#end
        </div>
        <!--end b4-content-->
    </div>
	<!--end block4-->
    <link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.index.baojia.css"/>
    <div class="block5">
    	<div class="index_baojia" style="background-color:#f2f2f2">
            <div class="index_baojia_keywords">
            <strong style="font-weight:bold">废料关键字导航</strong>：
            #cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=10001018", "", "", "")
                #foreach($index in $!{list})
                <span>
					<a href="$!{index.link}" target="_blank" title="$!{index.title}">$!{index.title}</a> | </span>
                #end
            #end
            </div>
        </div>
    </div>
	    <!--end block5-->
    <div class="block6">
    	<div class="b6-item">
        	<div class="b6-item-title fb">
            	ZZ91服务
            </div>
            <!--end b6-item-title-->
            <ul>
            	<li><a href="http://www.zz91.com/service/zst/" target="_blank">再生通</a></li>
                <li><a href="http://www.zz91.com/service/ppt/index.asp" target="_blank">品牌通</a></li>
                <li><a href="http://www.zz91.com/service/baidu/yh.html" target="_blank">百度优化</a></li>
                <li><a href="http://www.zz91.com/specialsubject/hjzw/" target="_blank">黄金展位</a></li>
                <li><a href="#">标王</a></li>
                <li><a href="http://subject.zz91.com/huangye2013/index/" target="_blank">废料大黄页</a></li>
                <li><a href="#">独家广告</a></li>
                <li><a href="$!{address.mingxing}">明星企业</a></li>
                <div class="cb"></div>
            </ul>
        </div>
        
        <div class="b6-item">
        	<div class="b6-item-title fb">
            	市场商机
            </div>
            <!--end b6-item-title-->
            <ul>
            	<li><a href="$!{address.trade}/plastic.htm" target="_blank">废塑料</a></li>
                <li><a href="$!{address.trade}/waste.htm" target="_blank">二手设备</a></li>
                <li><a href="$!{address.trade}/metal.htm" target="_blank">废金属</a></li>
                <li><a href="$!{address.trade}/waste.htm" target="_blank">废电子电器</a></li>
                <li><a href="$!{address.trade}/waste.htm" target="_blank">纺织品</a></li>
                <li><a href="$!{address.trade}/waste.htm" target="_blank">废橡胶轮胎</a></li>
                <li><a href="$!{address.trade}/waste.htm" target="_blank">废纸</a></li>
                <li><a href="$!{address.trade}" target="_blank">其它废料</a></li>
                <div class="cb"></div>
            </ul>
        </div>
        
        <div class="b6-item2">
        	<div class="b6-item-title fb">
            	行情报价
            </div>
            <!--end b6-item-title-->
            <ul>
            	<li><a href="$!{address.huzhu}" target="_blank">废料资讯</a></li>
                <li><a href="$!{address.price}" target="_blank">废料行情</a></li>
                <li><a href="$!{address.price}/companyprice/">企业报价</a></li>
                <li><a href="$!{address.exhibit}" target="_blank">线下展会</a></li>
            </ul>
        </div>
        
        <div class="b6-item2">
        	<div class="b6-item-title fb">
            	废料索引
            </div>
            <!--end b6-item-title-->
            <ul>
            	<li><a href="http://www.zz91.com/zz91index/" target="_blank">废料地图</a></li>
                <li><a href="http://www.zz91.com/zz91index/p0-1.htm" target="_blank">废料大全</a></li>
                <li><a href="http://www.zz91.com/zz91index/c0-1.htm" target="_blank">废料企业名录</a></li>
                <li><a href="http://www.zz91.com/zz91index/tags-1.htm" target="_blank">废料关键字大全</a></li>
            </ul>
        </div>
        <div class="b6-right">
        	<div class="b6-right-img">
            	<img src="http://img0.zz91.com/zz91/newindex/images/2-dimensional.jpg" />
            </div>
            <div class="b6-right-text">
            	手机登录 : m.ZZ91.com <br />
				随时随地掌握最新废料商机
            </div>
            <div class="cb"></div>
            <div class="b6-focus">
    			<span class="b6-focus-title">关注我们：</span>
        		<span class=b6-focus-weibo1>
                    <span style="display:block;float:left"><wb:follow-button uid="1776990567" type="red_1" width="67" height="24" ></wb:follow-button></span>
                    <a href="http://t.qq.com/ASTOZZ91" class="b6-focus-weibo2" title="ZZ91废金属微博" target=_blank>废金属</a>
                    <a href="http://t.qq.com/t1229216973" class="b6-focus-weibo2" title="ZZ91再生资源微博" target=_blank>再生资源</a>
        		</span>
            </div>
            <!--end b6-focus-->
        </div>
        <!--end b6-right-->
        <div class="cb"></div>
    </div>
    <!--end block6-->
	  #set($members=["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"])
    <div class="block7">
    	<div class="b7-list">
        	<ul>
            	<li><span>按排行字母分类：</span></li>
				  #foreach($member in $members)
					<li><a href="zz91index/p-p${member}-1.htm" target="_blank">$member</a></li>
					<li>|</li>
                  #end
                <div class="cb"></div>
            </ul>
        </div>
        <!--end b7-list-->
        <div class="b7-link">
        	<div class="fl fb lh24">
            	友情链接：
            </div>
            
            <div class="b7-link-content fr">
            	<ul>
					#foreach($!link in $!friendLinkList)
                    	<li>
							<a href="$!{link.friendLinkDO.link}" target="_blank">$!{link.friendLinkDO.linkName}</a>
						</li>
                        <li>|</li>
					#end
                </ul>
            </div>
            <!--end b7-link-content-->
            <div class="cb"></div>
        </div>
        <!--end b7-link-->
    </div>
    <!--end block7-->
</div>
#cacheFragment("$!{address.fragment}/china/footer.htm?ik=index","","","")
    	$!{fragmentContext}
    #end
	#parse("/seo/analysis_body.vm")
	<script src="http://gg.zz91.com/show?p=89"></script>
	
</body>
</html>
#parse("/seo/analysis_foot.vm")
