#set($layout="/layout/blank.vm")
document.write('<div class="welcomeLogin">');
#if(${sessionUser})
	document.write('<span class="barWelcome">您好! #printTitle($!{sessionUser.account} 15 "...")! 欢迎来到ZZ91再生网!</span>');
	document.write('<span class="barGetLogin">');
		document.write('<a href="$!{address.myrc}" target="_blank">[生意管家]</a>');
	document.write('</span>');
	document.write('<span class="barGetLogin">');
		document.write('<a  href="$!{address.front}/logout_st.htm" >[退出]</a>');
	document.write('</span>');
#else
    document.write('<span class="barWelcome">您好!欢迎来到ZZ91再生网!</span>');
    document.write('<span class="barGetLogin">');
        document.write('<a href="$!{address.front}/login.htm">[登录]</a>');
    document.write('</span>');
    document.write('<span class="barGetLogin">');
        document.write('<a href="$!{address.front}/register/register_stp1.htm">[免费注册]</a>');
    document.write('</span>');
	
	##<span id=”qqLoginBtn”></span>
	document.write('<a href="$!{address.front}/accessToQQLogin.htm" target="_blank"><img src="$!{address.img}/zz91/china/images/qq_login.png" width="105" height="16" alt="使用QQ号码登录" /></a>');
	##document.write('<img src="$!{address.img}/zz91/china/images/qq_login.png" id="qqLoginBtn" width="105" height="16" />');
	
##	document.write('<form action="$!{address.front}/doLogin.htm" method="post" >');
##	document.write('<div class="top-caption">用户名：</div>');
##	document.write('<div class="top-box"><input type="text" class="top-box-text" name="username" /></div>');
##	document.write('<div class="top-caption">密码：</div>');
##	document.write('<div class="top-box"><input type="password" class="top-box-text" name="password" /></div>');
##	document.write('<div class="top-box"><input type="submit" class="top-box-button" value="登录" /></div>');
##	document.write('<div class="top-box">');
##		document.write('<a href="$!{address.china}/register/register_stp1.htm" target="_parent">');
##			document.write('<input type="button" class="top-box-button" value="注册" />');
##		document.write('</a>');
##	document.write('</div>');
##	document.write('<div class="top-box1">');
##		document.write('<a href="$!{address.china}/user/passwordReminder.htm">忘记密码</a>');
##		document.write('<a href="$!{address.china}/accessToQQLogin.htm" target="_blank">');
##			document.write('<img src="$!{address.img}/zz91/china/images/qq_login.png" width="105" height="16" alt="使用QQ号码登录" />');
##		document.write('</a>');
##	document.write('</div>');
##    document.write('</form>');
#end
document.write('</div>');