<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
	#parse("/zz91/common/import.vm")
	#parse("/zz91/common/context.vm")
	<script type="text/javascript" src="$!{address.js}/admin/credit/creditcompany/list.js" ></script>
    
	<script type="text/javascript">
		//定义变量
		var PAGE_CONST = new function(){
			this.RESULT_GRID = "RESULT_GRID";
		}
	
		Ext.onReady(function() {
        	//加载列表
        	var grid = new ast.ast1949.admin.credit.creditcompany.ResultGrid({
        		title:"资信参考人列表",
        		id:PAGE_CONST.RESULT_GRID,
        		listUrl:Context.ROOT+Context.PATH+"/admin/credit/creditcompany/list.htm",
        		region:'center',
        		autoScroll:true
        	});
			
    		var B=grid.getStore().baseParams||{};
    		B["checkStatus"] = "0";
    		grid.getStore().baseParams = B;
    		grid.getStore().reload({params:{"startIndex":0, "pageSize":Context.PAGE_SIZE}});
        	
        	var viewport = new Ext.Viewport({
        		layout:'border',
        		items:[grid]
        	});
        	
        });
	</script>
</head>
<body>
</body>
</html>