<ul>
	#cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=1008100010091000", "", "", "")
		#foreach($index in $!{list})
			<li>
				<a href="$!{index.link}" target="_blank" style="$!{index.style}" title="$!{index.title}">$!{index.title}</a>
			</li>
		#end
	#end
##    <li><a class="todayHot" target="_blank" href="#springUrl('/moreList_p3_t40_metal.htm')" title="今日废铜">今日废铜</a></li>
##    <li><a target="_blank" href="#springUrl('/moreList_p3_t41_metal.htm')" title="今日废铝">今日废铝</a></li>
##    <li><a target="_blank" href="#springUrl('/moreList_p3_t44_metal.htm')" title="废不锈钢">废不锈钢</a></li>
##	<li><a target="_blank" href="#springUrl('/moreList_p3_t43_metal.htm')" title="废锌/铅">废锌/铅</a></li> 
##    <li><a class="todayHot" target="_blank" href="#springUrl('/moreList_p3_t45_metal.htm')" title="今日废钢">今日废钢</a></li>
##    <li><a target="_blank" href="#springUrl('/moreList_p3_t42_metal.htm')" title="今日废铁">今日废铁</a></li>
##    <li><a target="_blank" href="#springUrl('/priceList_t47_metal.htm')" title="今日废镍">今日废镍</a></li>
##    <li><a target="_blank" href="#springUrl('/priceList_t49_metal.htm')" title="今日废钛">今日废钛</a></li>
##    <li><a target="_blank" href="#springUrl('/priceList_t48_metal.htm')" title="今日废钼">今日废钼</a></li>
##    <li><a target="_blank" href="#springUrl('/moreList_p66_metal.htm')" title="今日生铁">今日生铁</a></li>
##    <li><a href="#springUrl('/priceList_t32_c10_metal.htm')">金属日评</a></li>
##    <li><a target="_blank" href="#springUrl('/moreList_p67_metal.htm')" title="华通有色金属">华通有色金属</a></li>
##	<li><a target="_blank" href="#springUrl('/priceList_t52_metal.htm')" title="今日废电瓶">今日废电瓶</a></li>
##	<li><a target="_blank" href="#springUrl('/priceList_t46_metal.htm')" title="国外金属">国外金属</a></li>
##	<li><a target="_blank" href="#springUrl('/moreList_p64_metal.htm')" title="LME金属期货">LME金属期货</a></li>
##	<li><a target="_blank" href="#springUrl('/moreList_p64_metal.htm')" title="今日沪铜">今日沪铜</a></li>
##	<li><a target="_blank" href="#springUrl('/moreList_p64_metal.htm')" title="今日沪铝">今日沪铝</a></li>
##	<li><a target="_blank" href="#springUrl('/moreList_p64_metal.htm')" title="今日沪锌">今日沪锌</a></li>
##	<li><a target="_blank" href="#springUrl('/moreList_p67_metal.htm')" title="上海合金">上海合金</a></li>
##	<li><a target="_blank" href="#springUrl('/moreList_p67_metal.htm')" title="上海基本金属">上海基本金属</a></li>
##	<li><a target="_blank" href="#springUrl('/moreList_p67_metal.htm')" title="上海小金属">上海小金属</a></li>
##	<li><a target="_blank" href="#springUrl('/moreList_p67_metal.htm')" title="上海金属粉末">上海金属粉末</a></li>
##	<li><a target="_blank" href="#springUrl('/moreList_p67_metal.htm')" title="上海贵金属">上海贵金属</a></li>
</ul>