<div id="theme_pic" class="headTopic moveChild pointer" >
	<div class="clr"></div>
	<div id="description" class="description">
		<div id="topDesc" class="topDesc">$!{esiteConfig.slogan}</div>
		<div id="bottomDesc" class="bottomDesc">$!{esiteConfig.subSlogan}</div>
	</div>
</div>