<!DOCTYPE html>
<html>
<head>
	
    <meta charset="utf-8" />
    
	<title>$!{seoTitle}</title>
##    <meta name="description" content="$!{seoDescription}"/>
##    <meta name="keywords" content="$!{seoKeywords}" />
	
    #parse("/layout/import/base.vm")
    
	<link rel="stylesheet" href="$!{address.img}/huanbao/css/hb.trade.css?20111012" />
	<script src="$!{address.img}/huanbao/js/hb.comm.js"></script>
    
</head>
<body>
	#cacheFragment("$!{address.fragment}/fragment/page/topbar.htm?loginName=$!{epAuthUser.account}", "", "", "")
			$!{fragmentContext}
    #end

    #cacheFragment("$!{address.fragment}/fragment/page/header.htm?ik=technical&u", "", "", "")
        $!{fragmentContext}
    #end

    $screen_content
	
    #cacheFragment("$!{address.fragment}/fragment/page/footer.htm", "", "", "")
      $!{fragmentContext}
    #end

	#parse('/common/googleGA.vm')
</body>
</html>