<div style="clear:both"></div>
<div id="top3" class="main_box">
    <div class="left" style="border:none;">
		<div class="top3_left" id="dvZhuanTi">
            <div class="title">
                <h3><a id="hlHZYG" href="#springUrl('/list10371002.htm')">会展预告</a></h3>
            </div>
            <div class="content">
                 <div class="left">
        				<script type="text/javascript" src="$!{address.server}/ads/zz91ads.htm?placeId=414" ></script>
                 </div>
        		 
                 <div class="right"> 
                          #foreach($notice in $!noticeExhibitList)
        					#if($velocityCount==1)
                             <h4><a href="#springUrl('/details')$!{notice.id}.htm" target="_blank" title="$!{notice.name}">$!{notice.name}</a></h4>
                             <p>#printTitle($!{notice.content} 58 "...")</p>
        					 #end
        				  #end
                 </div>
        		 <div style="clear:both"></div>
            </div>
        </div>
		
		<div class="top3_left" id="dvZhuanTi" style="margin-top:8px;">
            <div class="title" >
    			<h3><a id="hlHZYG" href="#springUrl('/list10371003.htm')">会展专题</a></h3>
            </div>
            <div class="content">
                <div class="left">
                     ##set($adsPlacesId=415)
                     ##showAds($adsList415 $adsPlacesId)
					<script type="text/javascript" src="$!{address.server}/ads/zz91ads.htm?placeId=415" ></script>
                </div>
                <div class="right">
                    <script type="text/javascript" src="http://gg.zz91.com/show?p=73"></script>
                </div>
				<div style="clear:both"></div>
            </div>
        </div>
    </div>
	
    <div class="right">
        <div class="title">
            <h3><a id="hlHYZH" href="#springUrl('/list10371006.htm')">各行业展会</a></h3>
        </div>
        <div class="content">
            <div class="exhibitTitBox">
                    <span class="exhibitTit">展会名称</span>
                    <span class="exhibitStart">开始时间</span>
                    <span class="exhibitOver">结束时间</span>
                    <span class="exhibitPosition">地点</span>
            </div>
			<ul>
                #foreach($exhibit in $!industryExhibitList)
                    <li>
                        <span class="exhibitTit">
							<font style="color:#EB7700">[$!{exhibit.exhibitCategoryName}]</font>
							<a href="#springUrl('/details')$!{exhibit.exhibitDO.id}.htm" target="_blank">$!{exhibit.exhibitDO.name}</a>
						</span>
                        <span class="exhibitStart">$!date.format('yyyy-MM-dd',$!{exhibit.exhibitDO.startTime})</span>
                        <span class="exhibitOver">$!date.format('yyyy-MM-dd',$!{exhibit.exhibitDO.endTime})</span>
                        <span class="exhibitPosition">$!{exhibit.areaName}</span>
                    </li>
                #end
            </ul>
            <div style="clear:both"></div>
        </div>
    </div>
</div>
