/* CSS Document */

body {
	margin-left: 5px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 5px;
}
.searchtable {
	border: 2px solid #243F74;
	background-color: #F5FFD7;
}
.crm_tishi {
	background-color: #F6F6F6;
	padding: 2px;
	border: 1px solid #FF9900;
	color: #CC0000;
}
.tishi{
	line-height: 22px;
	background-color: #FF9;
	border: 1px solid #F90;
	font-size: 12px;
	padding-right: 10px;
	padding-left: 10px;
}
.laiyuan
{
	color: #633;
	background-color: #FF9;
	padding: 2px;
}
#duochangoder
{
	background-color: #FC0;
	border: 1px solid #060;	
}