#set( $layout = "/layout/default.vm" )
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/myrc/css/myrc_album.css" />
<div class="modules md1">
  <div class="album-mod-nav albox"><strong class="bold f14">相册管理</strong></div>
  <!--end album-mod-nav albox-->
  <div class="album-mod-main well mt15">
    <div class="well-body">
      <div class="web-tle">我的相册</div>
      <!--end web-tle-->
      <div class="web-box">
        <ul class="ablist clearfix">
          <li class="short2">
            <div class="item-wrap">
              <div class="item clearfix">
				#if($!{companyPhoto})
                <div class="ln ln0"> <a href="list.htm?albumId=2" title=""><img src="$!{address.img3}/190x182/$!{companyPhoto.picAddress}" /></a> </div>
				#else
				<div class="ln ln0"> <a href="list.htm?albumId=2" title=""><img src="http://img0.zz91.com/zz91/myrc/images/b1.png" /></a> </div>
				#end
                <!--end ln ln0-->
                <div class="ln ln1 f-d"><a href="list.htm?albumId=2" title="企业相册">企业相册（#if ($companyAlbum )$!{companyAlbum} #else 0 #end）</a></div>
                <!--end ln ln1 f-d--> 
              </div>
              <!--end item clearfix--> 
            </div>
            <!--end item-wrap--> 
          </li>
          <li class="short2">
            <div class="item-wrap">
              <div class="item clearfix">
                #if($!{productPhoto})
                <div class="ln ln0"> <a href="list.htm?albumId=3" title=""><img src="$!{address.img3}/190x182/$!{productPhoto.picAddress}"/></a> </div>
				#else
				<div class="ln ln0"> <a href="list.htm?albumId=3" title=""><img src="http://img0.zz91.com/zz91/myrc/images/b1.png" /></a> </div>
				#end
                <!--end ln ln0-->
                <div class="ln ln1 f-d"><a href="list.htm?albumId=3" title="产品相册">产品相册（#if ($!{productAlbum}) $!{productAlbum} #else 0 #end）</a></div>
                <!--end ln ln1 f-d--> 
              </div>
              <!--end item clearfix--> 
            </div>
            <!--end item-wrap--> 
          </li>
          <li class="short2">
            <div class="item-wrap">
              <div class="item clearfix">
                #if($!{bbsPhoto})
                <div class="ln ln0"> <a href="list.htm?albumId=4" title=""><img src="$!{address.img3}/190x182/$!{bbsPhoto.picAddress}"/></a> </div>
				#else
				<div class="ln ln0"> <a href="list.htm?albumId=4" title=""><img src="http://img0.zz91.com/zz91/myrc/images/b1.png" /></a> </div>
				#end
                <!--end ln ln0-->
                <div class="ln ln1 f-d"><a href="list.htm?albumId=4" title="互助相册">互助相册（#if ($!{bbsAlbum}) $!{bbsAlbum} #else 0 #end）</a></div>
                <!--end ln ln1 f-d--> 
              </div>
              <!--end item clearfix--> 
            </div>
            <!--end item-wrap--> 
          </li>
        </ul>
      </div>
      <!--end web-box--> 
    </div>
    <!--end well-body--> 
  </div>
  <!--album-mod-main well--> 
</div>

<script>
jQuery(function(){
	myrc.menu();	
})
</script>


<!--end content--> 