<!--import validator css-->
<link rel="stylesheet" style="text/css" href="$!{address.img}/lib/jquery/ux/validationEngine.css" />

<!--import validator js-->
<script type="text/javascript" src="$!{address.img}/lib/jquery/ux/validationEngine.js"></script>
<script type="text/javascript" src="$!{address.img}/lib/jquery/ux/languages/jquery.validationEngine-zh_CN.js"></script>

<!-- custom ajax validator -->
<script type="text/javascript">
jQuery(document).ready(function(){
	if(jQuery.validationEngineLanguage == undefined || jQuery.validationEngineLanguage.allRules == undefined ){
	}else {
		jQuery.validationEngineLanguage.allRules["ajaxAccount"]={
			"url":"#springUrl('/validate/account.htm')",
			"alertTextOk": "* 帐号名称可以使用",
			"alertText": "* 此账号已被其他人使用",
			"alertTextLoad": "* 正在确认帐号是否有其他人使用，请稍等。"
		};
		
		jQuery.validationEngineLanguage.allRules["ajaxEmail"]={
			"url":"#springUrl('/validate/email.htm')",
			"alertTextOk": "* 此Email可以使用",
			"alertText": "* 此Email已被其他人使用",
			"alertTextLoad": "* 正在确认帐号名称是否有其他人使用，请稍等。"
		};
		
		jQuery.validationEngineLanguage.allRules["ajaxMobile"]={
			"url":"#springUrl('/validate/mobile.htm')",
			"alertTextOk": "* 此号码可以使用",
			"alertText": "* 此号码已被其他人使用",
			"alertTextLoad": "* 正在确认手机号码是否被其他人注册，请稍等。"
		};
	}
});
</script>