#set($layout="/layout/blank.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>ZZ91废料百万优惠券大放送,会员费用折上折。终极钜惠，厚惠无期。</title>
        <meta name="description" content="ZZ91废料双十一来了，《中国再生资源大黄页》原价200元现价19.9元大秒杀，会员价降到冰点价。抢购热线 0571-56612345"/>
        <meta name="keywords" content="废料双十一,zz91再生网,再生通,中国再生资源大黄页"/>
        <link rel="shortcut icon" href="http://img0.zz91.com/front/images/logo/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
        <link rel="stylesheet" type="text/css" href="http://img0.zz91.com/subject/201411/css/11.css" />
		
		<link rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.comm.css">
			
        <script type="text/javascript" src="http://img0.huanbao.com/lib/jquery/jquery-1.8.0.min.js"></script>
        <script language="javascript" src="http://img0.zz91.com/subject/201411/js/jquery.Sonline.js"></script>
        <script src="http://img0.zz91.com/subject/201411/js/jquery.superslide.2.1.1.js" type="text/javascript"></script>
        <script type="text/javascript" src="http://img0.zz91.com/subject/201411/js/jquery.lightbox_me.js"></script>
		<script src="http://img0.zz91.com/lib/asto/asto-all-1.0.0.js"></script>
		
		<script src="http://img0.zz91.com/zz91/js/openoverlay.js"></script>
        
	    <link type="text/css" rel="stylesheet" href="http://img0.zz91.com/zz91/css/openoverlay.css">
        <style>
			.btn_confirm{cursor:pointer}
			.d-block-box3{width:65px;height:65px;background:url(http://img0.zz91.com/subject/201411/images/return_top.jpg) no-repeat;cursor:pointer}
		</style>
		
    </head>
	<body>
		#cacheFragment("$!{address.fragment}/china/topbar.htm","","","")
    		<div id="topBar">
                <div id="topBarInfo" style="width:990px;">
            		<div id="topBarLogin" style="width:600px;overflow:hidden;float:left;display:inline">
    					##<iframe src="$!{address.front}/status.htm" frameborder="0" width="450" height="28" allowTransparency="true" scrolling="no"></iframe>
    					<script src="$!{address.front}/webst.htm?$date" type="text/javascript" ></script>
    				</div>
            		$!{fragmentContext}
                </div>
            </div>
    	#end

		<div style="clear:both"></div>
		
        <div class="d-top">
            <div style="width:990px; margin:auto; position:relative">
                <div style="width:320px;height:80px;position:absolute;left:666px;top:480px;color:#FFF;font-size:16px; line-height:30px">
                    <div id="timer"></div>
                </div>
            </div>
        </div>
        <div class="double">
            <div class="d-main">
                <div class="m-top"></div>
                <div class="m-box">
                    <div id="c1" class="mb_c1">
						<img src="http://img0.zz91.com/subject/201411/images/draw.png" class="draw clickToGet" id="d1" />
					</div>
                    <div id="c2" class="mb_c2">
						<img src="http://img0.zz91.com/subject/201411/images/draw.png" class="draw clickToGet" id="d2" />
					</div>
                    <div id="c3" class="mb_c3">
						<img src="http://img0.zz91.com/subject/201411/images/draw.png" class="draw clickToGet" id="d3" />
					</div>
                    <div id="c4" class="mb_c4">
						<img src="http://img0.zz91.com/subject/201411/images/draw.png" class="draw clickToGet" id="d4" />
					</div>
                    <div id="c5" class="mb_c5">
						<img src="http://img0.zz91.com/subject/201411/images/draw.png" class="draw clickToGet" id="d5" />
					</div>
                </div>
                <!--end m-box-->
                <script type="text/javascript">
                    $(function(){
                    $("body").Sonline({
                    Position:"right",//left或right
                    Top:200,//顶部距离，默认200px
                    Effect:true, //滚动或者固定两种方式，布尔值：true或false
                    DefaultsOpen:true, //默认展开：true,默认收缩：false
                    Qqlist:"529125088|客服01,411179258|客服02,1556493280|客服03" //多个QQ用','隔开，QQ和客服名用'|'隔开
                    });
                    })	
                </script>
            </div>
            <!--end d-main-->
        </div>
        <!--end double-->
		
##        <div id="coupons1" class="tipp">
##            <div class="block">
##                <div class="login">用户名：<input type="text" name="name" value="" />
##                </div>
##                <div class="login">密&nbsp;&nbsp;码：<input type="text" name="pwd" value="" />
##                </div>
##            </div>
##            <div align="center" style="margin-top:10px;">
##                <div class="btn btn_confirm" id="suc_login" onclick="dismiss();">登陆</div>
##                <div class="btn btn_cancel" onclick="dismiss();">取消</div>
##            </div>
##        </div>
		
        <!--end 登陆弹框 no1-->
        <div id="coupons2" class="tipp">
            <h2>您是否确定领取该优惠券？</h2>
            <p class="red">该优惠券只限双十一当天购买<span id="couponName">再生通一年</span>服务使用！</p>
            <div align="center" style="margin-top:10px;">
                <div class="btn btn_confirm" id="suc_draw" onclick="dismiss();">确定</div>
                <div class="btn btn_cancel" onclick="dismiss();">取消</div>
            </div>
        </div>
        <div id="coupons3" class="tipp">
            <h2 style="font-size:16px; color:#F00; font-weight:bold">恭喜您，您已经领取<span class="couponName1">再生通一年</span>优惠券！</h2>
            <p class="red" style="color:#060">该优惠券只限双十一当天购买<span class="couponName1">再生通一年</span>服务使用！<br />咨询电话：0571-56612345</p>
            <div align="center" style="margin-top:10px;">
                <div class="btn btn_confirm" id="suc_drawok" onclick="dismiss();">确定</div>
            </div>
        </div>
		<div id="coupons4" class="tipp">
            <h2 style="font-size:16px; color:#F00; font-weight:bold">您的优惠券已经领完！</h2>
            <p class="red" style="color:#060">有问题请咨询：0571-56612345</p>
            <div align="center" style="margin-top:10px;">
                <div class="btn btn_confirm" id="suc_drawok" onclick="dismiss();">确定</div>
            </div>
        </div>
		#if($!{sessionUser})
            <input type="hidden" id="loginFlag" value="1" />
        #else
            <input type="hidden" id="loginFlag" value="0" />
		#end
		<input type="hidden" id="chooseId" value="" />
        <!--end 登陆弹框 no2-->
	
	
	<script type="text/javascript">
		var havemark=3;
		var expireFlag=0;
		jQuery(document).ready(function(){
		
			## 0:都不可领取，1:可领取会员券 2:可领取广告券 3:都可以领取
			#if($haveMark==0)
				jQuery("#c1").removeClass("mb_c1");
				jQuery("#c1").addClass("mb_g1");
				jQuery("#c2").removeClass("mb_c2");
				jQuery("#c2").addClass("mb_g2");
                jQuery("#c3").removeClass("mb_c3"); 
				jQuery("#c3").addClass("mb_g3");
				jQuery("#c4").removeClass("mb_c4"); 
				jQuery("#c4").addClass("mb_g4");
				jQuery("#c5").removeClass("mb_c5");
				jQuery("#c5").addClass("mb_g5");
				jQuery("#d1").css("display","none");
				jQuery("#d2").css("display","none");
				jQuery("#d3").css("display","none");
				jQuery("#d4").css("display","none");
				jQuery("#d5").css("display","none");
				havemark=$haveMark;
				expireFlag=$expireFlag;
			#elseif($haveMark==1)
				jQuery("#c5").removeClass("mb_c5");
				jQuery("#c5").addClass("mb_g5");
				jQuery("#d5").css("display","none");
				havemark=$haveMark;
				expireFlag=$expireFlag;
			#elseif($haveMark==2)
				jQuery("#c1").removeClass("mb_c1");
				jQuery("#c1").addClass("mb_g1");
				jQuery("#c2").removeClass("mb_c2");
				jQuery("#c2").addClass("mb_g2");
                jQuery("#c3").removeClass("mb_c3"); 
				jQuery("#c3").addClass("mb_g3");
				jQuery("#c4").removeClass("mb_c4"); 
				jQuery("#c4").addClass("mb_g4");
				jQuery("#d1").css("display","none");
				jQuery("#d2").css("display","none");
				jQuery("#d3").css("display","none");
				jQuery("#d4").css("display","none");
				havemark=$haveMark;
				expireFlag=$expireFlag;
			#end
			function selectmark(id){
				if (id=="d1"){
					
						jQuery("#c1").removeClass("mb_g1");
						jQuery("#c1").addClass("mb_c1");
						jQuery("#c2").removeClass("mb_c2");
						jQuery("#c2").addClass("mb_g2");
						jQuery("#c3").removeClass("mb_c3"); 
						jQuery("#c3").addClass("mb_g3");
						jQuery("#c4").removeClass("mb_c4"); 
						jQuery("#c4").addClass("mb_g4");
						jQuery("#d2").css("display","none");
						jQuery("#d3").css("display","none");
						jQuery("#d4").css("display","none");
						jQuery("#chooseId").val(1);
					
				}
				if (id=="d2"){
					
					jQuery("#c2").removeClass("mb_g2");
					jQuery("#c2").addClass("mb_c2");
					jQuery("#c1").removeClass("mb_c1");
					jQuery("#c1").addClass("mb_g1");
					jQuery("#c3").removeClass("mb_c3"); 
					jQuery("#c3").addClass("mb_g3");
					jQuery("#c4").removeClass("mb_c4"); 
					jQuery("#c4").addClass("mb_g4");
					jQuery("#d1").css("display","none");
					jQuery("#d3").css("display","none");
					jQuery("#d4").css("display","none");
					jQuery("#chooseId").val(2);
					
				}
				if (id=="d3"){
					
					jQuery("#c3").removeClass("mb_g3");
					jQuery("#c3").addClass("mb_c3");
					jQuery("#c2").removeClass("mb_c2");
					jQuery("#c2").addClass("mb_g2");
					jQuery("#c1").removeClass("mb_c1"); 
					jQuery("#c1").addClass("mb_g1");
					jQuery("#c4").removeClass("mb_c4"); 
					jQuery("#c4").addClass("mb_g4");
					jQuery("#d2").css("display","none");
					jQuery("#d1").css("display","none");
					jQuery("#d4").css("display","none");
					jQuery("#chooseId").val(3);
					
				}
				if (id=="d4"){
					
					jQuery("#c4").removeClass("mb_g4");
					jQuery("#c4").addClass("mb_c4");
					jQuery("#c2").removeClass("mb_c2");
					jQuery("#c2").addClass("mb_g2");
					jQuery("#c3").removeClass("mb_c3"); 
					jQuery("#c3").addClass("mb_g3");
					jQuery("#c1").removeClass("mb_c1"); 
					jQuery("#c1").addClass("mb_g1");
					jQuery("#d2").css("display","none");
					jQuery("#d3").css("display","none");
					jQuery("#d1").css("display","none");
					jQuery("#chooseId").val(4);
					
				}
				
				if (id=="d5"){
					jQuery("#c5").removeClass("mb_g5");
					jQuery("#c5").addClass("mb_c5");
					jQuery("#chooseId").val(5);
				}
			}
			if (expireFlag==0 && havemark==0){
				$('#coupons4').lightbox_me({
					overlaySpeed:0,
					lightboxSpeed:0,
					centered: true, 
					onLoad: function() { 
					}
				});
				e.preventDefault();
			}
			
    		## 登录弹出框
    		var loginBox=new Asto.util.PopupBox({
    			url:"$!{address.front}/miniLogin.htm?regfrom=10031037",
    			destUrl:"$!{address.front}/submitCallback.htm",
    			modal:true,
    			height:450,
    			width:631
    		});
			function reloadw(){
				window.location.reload();
			}
			jQuery(".clickToGet").click(function(e){
				if(jQuery("#loginFlag").val()==0){
					Asto.util.Callback.setSubmitCallback(function(success, data){
						closeoverlay();
						jQuery("#loginFlag").val(1)
        			});
					openoverlay('$!{address.front}/mini/login.htm?destUrl=$!{address.front}/submitCallback.htm&regfrom=10031037','注册/登录',750,430,0);
					//openoverlay('$!{address.front}/mini/login.htm?destUrl=$!{address.front}/travel/back.html','注册/登录',750,430,0);
				}else{
					var myclass=jQuery(this).attr("class");
					if (myclass.indexOf("mb_g")>0 && havemark!=3 && havemark!=1){
						alert("您已经领取过该优惠券，每个会员只能领取一份优惠券，不要重复领取！咨询电话：0571-56612345");
					}else{
						selectmark(jQuery(this).attr("id"));
						var name;
						var choosetype=jQuery("#chooseId").val()
						if(choosetype==1){
							name="来电宝";
						}else if(choosetype==2){
							name="再生通一年";
						}else if(choosetype==3){
							name="再生通两年";
						}else if(choosetype==4){
							name="金牌通";
						}else{
							name="广告";
						}
						jQuery("#couponName").html(name);
						$('#coupons2').lightbox_me({
							overlaySpeed:0,
							lightboxSpeed:0,
							centered: true, 
							onLoad: function() { 
							}
						});
						e.preventDefault();
					}
				}
			});
    	
    		jQuery("#suc_draw").click(function(){
    			if(jQuery("#loginFlag").val()==0){
    				Asto.util.Callback.setSubmitCallback(function(success, data){
						closeoverlay();
						jQuery("#loginFlag").val(1)
						jQuery.ajax({
            				url:"getOneCoupon.htm",
    						dataType:"json",
            				data:{
    							"serviceId":jQuery("#chooseId").val()
    						},
    						success:function(data){
    							if(data.success){
        							var name;
        							if(data.data==1){
        								name="来电宝";
        							}else if(data.data==2){
        								name="再生通一年";
        							}else if(data.data==3){
        								name="再生通两年";
        							}else if(data.data==4){
        								name="金牌通";
        							}else{
        								name="广告";
        							}
        							jQuery(".couponName1").html(name);
									jQuery("#c"+jQuery("#chooseId").val().toString()).removeClass("mb_c1");
									jQuery("#c"+jQuery("#chooseId").val().toString()).addClass("mb_g1");
        							$('#coupons3').lightbox_me({
        								overlaySpeed:0,
                    					lightboxSpeed:0,
                                		centered: true, 
                                		onLoad: function() { 
                                		}
                                	});
									
                            		e.preventDefault();
    							}else{
									alert("您已经领取过优惠券，每个会员只能领取一份优惠券，不要重复领取！咨询电话：0571-56612345");
								}
    						}
            			});
        			});
        			
    			}else{
    				jQuery.ajax({
        				url:"getOneCoupon.htm",
						dataType:"json",
        				data:{
							"serviceId":jQuery("#chooseId").val()
						},
						success:function(data){
							if(data.success){
    							var name;
    							if(data.data==1){
    								name="来电宝";
    							}else if(data.data==2){
    								name="再生通一年";
    							}else if(data.data==3){
    								name="再生通两年";
    							}else if(data.data==4){
    								name="金牌通";
    							}else{
    								name="广告";
    							}
    							jQuery(".couponName1").html(name);
    							$('#coupons3').lightbox_me({
    								overlaySpeed:0,
                					lightboxSpeed:0,
                            		centered: true, 
                            		onLoad: function() { 
                            		}
                            	});
                        		e.preventDefault();
								
								jQuery("#c"+jQuery("#chooseId").val().toString()).removeClass("mb_c1");
								jQuery("#c"+jQuery("#chooseId").val().toString()).addClass("mb_g1");
							}else{
								alert("您已经领取过该优惠券，每个会员只能领取一份优惠券，不要重复领取！咨询电话：0571-56612345");
								//alert("-_-! 获取优惠券失败请刷新重试！");
							}
						}
        			});
    			}
    		});
		});
		function dismiss(){
			$('#coupons2').trigger('close');
			$('#coupons3').trigger('close');
			$('#coupons4').trigger('close');
		}
    </script>
    </body>
</html>