<link rel="shortcut icon" href="$!{address.favicon}">
<link type="text/css" rel="stylesheet" href="$!{address.css}/zz91.hack.css" />
<link type="text/css" rel="stylesheet" href="$!{address.css}/zz91.comm.css" />
<script type="text/javascript" src="$!{address.js}/lib/jquery/jquery_lib/jquery-1.4.3.js"></script>
<script type="text/javascript" src="$!{address.js}/topbar/jquery.topbar.js"></script>
<script type="text/javascript" src="$!{address.js}/zz91.common.js"></script>