
<addrsss class="hb_address">
    <p class="hb_footer_pt">
        全国统一服务热线：0571-56633090 传真：0571-56637777 ##市场推广专线：0571-56633665
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2604876159&site=qq&menu=yes">
            <img border="0" src="http://wpa.qq.com/pa?p=2:2604876159:41" alt="点击这里给我发消息" title="点击这里给我发消息" style="float:right" class="foot_img"/>
        </a>
    </p>
    <p>法律顾问：京衡律师集团事务所 罗益群 律师 </p>
    <p>huanbao.com &copy;All Rights Reserved 中国环保网 版权所有</p>
</address>
