## 快捷导航
<div id="xixi" onmouseover="toBig()" onmouseout="toSmall()">
    <div class="quickz">
        <div class="quickzreg">
            <div class="quickzinco">
                <img src="$!{address.img}/huanbao/images/quick/Quick_06.jpg" width="14" height="14" />
            </div>
            <div class="quickztit">
                <a href="http://www.huanbao.com/myesite/regist.htm" target="_blank">免费注册</a>
            </div>
            <div class="quickzinfo">一分钟搞定</div>
            <div class="quickzclear"></div>
        </div>
        <div class="quickzlog">
            <div class="quickzinco">
                <img src="$!{address.img}/huanbao/images/quick/Quick_09.jpg" width="14" height="14" />
            </div>
            <div class="quickztits">
                <a href="http://www.huanbao.com/myesite/login.htm" target="_blank">快速登录</a>
            </div>
            <div class="quickzinfo">开启生意之旅</div>
            <div class="quickzclear"></div>
        </div>
        <div class="quickzfb">
            <div class="quickzinco">
                <img src="$!{address.img}/huanbao/images/quick/Quick_11.jpg" width="19" height="13" />
            </div>
            <div class="quickztit">
                <a href="http://www.huanbao.com/myesite/supply/publish_StpOne.htm" target="_blank">快速发布</a>
            </div>
            <div class="quickzinfo">更多的曝光机会</div>
            <div class="quickzclear"></div>
        </div>
		## QQ登录 按钮
        <div class="quickzfb">
            <div class="quickzinco">
                <img src="$!{address.img}/huanbao/images/quick/Quick_06.jpg" width="14" height="14" />
            </div>
            <div class="quickztit">
                <a href="$!{address.myesite}/qqLoginAnalysis.htm" ref="nofollow" target="_blank">
                    <img src="$!{address.img}/huanbao/www/images/qq_login.png" />
                </a>
            </div>
            <div class="quickzinfo">&nbsp;</div>
            <div class="quickzclear"></div>
        </div>
        <div class="quickzlogo">
            <a href="http://www.huanbao.com/" target="_blank">
                <img src="$!{address.img}/huanbao/images/quick/Quick_14.jpg" width="129" height="14" border="0" />
            </a>
        </div>
        <div class="quickzss">
            <form action="/search.htm" method="post">
                <input type="hidden" name="searchTypeValue" id="hbSearchTypeValue" value="0" />
                <div style="width:118px; height:28px; float:left;">
                    <input type="text" name="searchKeyWords" style="width:118px; height:24px; border:solid 1px #999; line-height:24px; color:#aca9a9;" value="请输入产品" onclick="this.value=''"   onblur="if(this.value==''){this.value='请输入产品'}" />
                </div>
                <div style="wdith:62px; height:28px; float:right;">
                    <input type="image" src="$!{address.img}/huanbao/images/quick/Quick_18.jpg" width="62" height="28" />
                </div>
            </form>
            <div class="quickzclear"></div>
        </div>
    </div>
</div>
