#set($layout="/layout/blank.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN">
<title>申请拿样弹出框</title>
<link rel="shortcut icon" href="$!{address.img}/front/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="$!{address.img}/front/css/zz91.base.css"/>
<link rel="stylesheet" type="text/css" href="$!{address.img}/zz91/newsample/css/yangFlips.css"/>
<script type="text/javascript" src="$!{address.img}/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js"></script>
<script type="text/javascript" src="$!{address.img}/zz91/newsample/js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="$!{address.img}/zz91/newsample/js/jcarousel.connected-carousels.js"></script>
<script src="$!{address.img}/lib/asto/asto-all-1.0.0.js"></script>
<script src="$!{address.img}/zz91/js/openoverlay.js"></script>
<script src="$!{address.img}/zz91/newsample/js/style.js" type="text/javascript"></script>


</head>
<body>
  <div class="yangNav">
  	  <ul>
      	 <li class="flierNav" id="sam-Ynav-div1"><a href="#springUrl('/apply_zxny.htm?sampleId=')$!{sampleId}" >在线拿样</a></li>
         <li class="curNav" id="sam-Ynav-div2">电话拿样</li>
      </ul>
  </div>
  <!--end yangNav-->
  <div class="yangInfo"></div>
  <!--end yangInfo-->
  <div class="yangContent">
    <!--end itemSam-->
    <div class="itemSam" id="part2" style="position:relative">
		#if($!{isSee})
			<div class="samInfo">
				<table class="infoTab" cellpadding="0" cellspacing="0">
					<tr>
						<td width="130" align="right">商家免费电话：</td>
						<td><span><img src='#springUrl('/viewContactInfo.htm')?key=$!{company.id}' /></span></td>
               	 	</tr>
					<tr>
						<td align="right">联系人：</td>
						<td>$!{account.contact}</td>
					</tr>
				</table>
		   </div>
		   <div class="samBox" style="padding-top:0"><a href="javascript:return false;" class="btnYang" onclick="nySubmit()">咨询后，立即拿样</a></div>
##		   <div class="sam-points">
##				<img src="http://img0.zz91.com/zz91/tradedetails/images/bell.jpg">
##					奖励：拿样付款后，可获得<span class="sam-credit">5个积分</span>(5元)。<a href="http://yang.zz91.com/score.htm" target="_blank">查看详情</a>
##				<img src="http://img0.zz91.com/zz91/newsample/images/horn_pic.jpg" class="hornPic" />
##		   </div>
	</div>
		#elseif($!{ssoUser}&&$!{ssoUser.membershipCode}!="10051000"&&$!{ssoUser.membershipCode}!="10051003")
			<div class="samInfo">
				<table class="infoTab" cellpadding="0" cellspacing="0">
					<tr>
						<td width="130" align="right">商家免费电话：</td>
						<td><span><img src='#springUrl('/viewContactInfo.htm')?key=$!{company.id}' /></span></td>
               	 	</tr>
					<tr>
						<td align="right">联系人：</td>
						<td>$!{account.contact}</td>
					</tr>
				</table>
		   </div>
		  <div class="samBox" style="padding-top:0"><a href="javascript:return false;" class="btnYang" onclick="nySubmit()">咨询后，立即拿样</a></div>
##		  <div class="sam-points">
##				<img src="http://img0.zz91.com/zz91/tradedetails/images/bell.jpg">
##					奖励：拿样付款后，可获得<span class="sam-credit">5个积分</span>(5元)。<a href="http://yang.zz91.com/score.htm" target="_blank">查看详情</a>
##				<img src="http://img0.zz91.com/zz91/newsample/images/horn_pic.jpg" class="hornPic" />
##		  </div>
	</div>
		#else
			#if($!{ldbFlag}==1)
			<div class="samInfo">
				<table class="infoTab" cellpadding="0" cellspacing="0">
						<tr id=pl>
							<td width="130" align="right">商家免费电话：</td>
							<td ><div class="chkLogin"><a id="showme" href="javascript:return false;">点击查看</a></div></td>
						</tr>
						<tr id=pd style="display:none">
						<td width="130" align="right">商家免费电话：</td>
						<td id=po><span></span></td>
               	 		</tr>
						<tr>
							<td align="right">联系人：</td>
							<td>$!{account.contact}</td>
						</tr>
				</table>
		   </div>
		   <div class="samBox" style="padding-top:0"><a href="javascript:return false;" class="btnYang" onclick="nySubmit()">咨询后，立即拿样</a></div>
##		   <div class="sam-points">
##				<img src="http://img0.zz91.com/zz91/tradedetails/images/bell.jpg">
##					奖励：拿样付款后，可获得<span class="sam-credit">5个积分</span>(5元)。<a href="http://yang.zz91.com/score.htm" target="_blank">查看详情</a>
##				<img id="horn_pic" style="display:none" src="http://img0.zz91.com/zz91/newsample/images/horn_pic.jpg" class="hornPic" />
##		   </div>
		   <img id="chk_pic" src="http://img0.zz91.com/zz91/newsample/images/chk_pic.jpg" class="hornPic" />
	</div>
			#elseif($!{ssoUser})
			<div class="samPart">
				<table class="partTab" cellpadding="0" cellspacing="0">
						<tr>
							<td align="right" width="130px">商家咨询电话：</td>
							<td><span class="sMsg">您现在是普通会员没有权限查看</span></td>
						</tr>
						<tr>
							<td align="right">联系人：</td>
							<td>$!{account.contact}</td>
						</tr>
				</table>
			</div>
        <!--end samPart-->
			<div class="samPart">
				<div class="partTab">
						<dl>
							<dt><span class="sMsg">我们为您推荐：</span></dt>
							<dd>1. 在线拿样付款成功，可直接查看卖家联系方式。</dd>
							<dd>2. 升级成为来电宝会员，可免费查看及公开联系方式。<a href="http://www.zz91.com/ppc" target="_blank" class="chkLink">立即升级</a></dd>
							<dd>3. 升级再生通，免费公开及查看，享受更多优质服务。<a href="http://www.zz91.com/zst" target="_blank" class="chkLink">立即升级</a></dd>
						</dl>
				</div>
			</div>
			<div class="samBox" ><a href="javascript:return false;"id="sambox1" class="btnYang" onclick="nySubmit()">立即在线拿样</a></div>
##			<div class="sam-points">
##				<img src="http://img0.zz91.com/zz91/tradedetails/images/bell.jpg">
##					奖励：拿样付款后，可获得<span class="sam-credit">5个积分</span>(5元)。<a href="http://yang.zz91.com/score.htm" target="_blank">查看详情</a>
##			</div>
	</div>
			#else
			<div class="samInfo">
				<table class="infoTab" cellpadding="0" cellspacing="0">
					<tr>
						<td width="130" align="right">商家免费电话：</td>
						<td><div class="chkLogin"><a href="javascript:return false;" onclick="nySubmit()" id="nyLogin">登陆后可查看</a></div></td>
					</tr>
					<tr>
						<td align="right">联系人：</td>
						<td>$!{account.contact}</td>
					</tr>
				</table>
			</div>
        <!--end samInfo-->
			<div class="samBox" style="padding-top:0"><a href="javascript:return false;" onclick="nySubmit()" class="btnYang">咨询后，立即拿样</a></div>
##			<div class="sam-points">
##				<img src="http://img0.zz91.com/zz91/tradedetails/images/bell.jpg">
##					奖励：拿样付款后，可获得<span class="sam-credit">5个积分</span>(5元)。<a href="http://yang.zz91.com/score.htm" target="_blank">查看详情</a>
##			</div>
				<img src="http://img0.zz91.com/zz91/newsample/images/chk_pic.jpg" class="hornPic" />
			#end
		#end
        <!--end samPart-->
        
     	<!--end samBox-->
     </div>  
    
		#if($!{sessionUser})
			<input type="hidden" id="loginFlag" value="1" />
		#else
			<input type="hidden" id="loginFlag" value="0" />
		#end<!--end itemSam-->
		<input type="hidden" id="vip" value="$!{vip}" />
  </div>
  
	<script type="text/javascript">
		jQuery(document).ready(function(){
		    ## ppc 付费点击
			jQuery("#showme").click(function(){
    			#if($!{ldbFlag}=="1")
    				if(confirm("查看客户联系方式，将会扣除“来电宝”信息点击费$!{clickFee}元，确定要查看吗？")){
    				jQuery.ajax({
    					url:'#springUrl("/nyToClick.htm")',
    					data:{"targetId":$!{company.id}},
						async: false 
    				});
					
    				}else{
    					return false;
    				}
    			#elseif($!{ldbFlag}=="0")
    				alert("“来电宝”信息费余额不足！请您充值后再试。");
    				return false;
    			#end
				var t="";
				#if($!{ldbTel})
					t=$!{ldbTel}
				#else
					t=$!{account.mobile}
				#end
				jQuery("#pl").hide();
				jQuery("#pd").show();
				jQuery("#po").html("<span><img src='#springUrl('/viewContactInfo.htm')?key=$!{company.id}'/></span>");
				jQuery("#chk_pic").hide();
				jQuery("#horn_pic").show();
			});
		});
		function nySubmit(){
				if(jQuery("#loginFlag").val()==0){
					parent.overtitle("登录/注册");
					window.location="#springUrl('/mini/nylogin.htm?nyType=2&sampleId=')"+$!{sampleId}+"&vip="+$!{vip};
				}else{
					if($!{cute}=="1"){
					alert("对不起，不能向自己拿样");
					  return false;
					}else{
						parent.closeoverlay();
						window.open ("#springUrl('/mngr')/createOrderPro${sampleId}.htm");
					}
					
				}
		}
    </script>
	
  <!--end yangContent-->
</body>
</html>