
a{color: #000000;text-decoration: none;}
a:hover{color: #FF5500;text-decoration: underline;}
body{font-size:12px; }
.meno{padding:3px; border:1px solid #333; width:160px; float:left}
.meno div{ margin:3px;}

.crmlink a{color: #1E00FF;text-decoration: none;}
.crmlink a:hover{color: #FF5500;text-decoration: underline;}
.crmlink span{float:left}

.CrmMsg{  padding:5px; font-size:12px; float:left; width:160px;}
.CrmMsg div{color:Red; width:150px;}
.annex a{color: #E24008;text-decoration: none;}
.annex a:hover{color: #E24008;text-decoration: underline;}

.right{margin-left:5px; border:1px solid #333; float:left; width:700px; }
.right div{ margin:5px 5px}

#AspNetPager1{ padding:5px 20px}
#AspNetPager1 div{ margin:0px; float:left;}