<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>查看编辑供求信息</title>
	<script type="text/javascript" src="#springUrl('/app/trade/tradecategory/category.js')" ></script>
	<script type="text/javascript" src="#springUrl('/app/trade/tradebuy/category.js')" ></script>
	<script type="text/javascript" src="#springUrl('/app/trade/tradebuy/editbuy.js')" ></script>
	<script type="text/javascript" src="#springUrl('/app/trade/tradebuy/buy.js')" ></script>
	<script type="text/javascript" src="#springUrl('/app/comp/details.js')" ></script>
	<script type="text/javascript" src="#springUrl('/app/syscommon/areaTree.js')" ></script>
	<script type="text/javascript" src="#springUrl('/app/auth/member/memberTree.js')" ></script>
	
	## ckeditor-js
	<script type="text/javascript" src="#springUrl('/js/ext-ckeditor/ckeditor/ckeditor.js')"></script>
	<script type="text/javascript" src="#springUrl('/js/ext-ckeditor/Ext.form.BasicForm.js')"></script>
	<script type="text/javascript" src="#springUrl('/js/ext-ckeditor/Ext.form.CKEditor.js')"></script>
	
    <script type="text/javascript" >
		Ext.onReady(function(){
			var buyForm = new com.zz91.trade.editbuy.buyForm({
				id:EDITBUY.BUY_FORM,
				title:"求购信息详情",
				layout:"fit",
				region:"center"
			});

			buyForm.loadRecord("$!{id}");
			
			var viewport = new Ext.Viewport({
				layout:"border",
				items:[buyForm]	
			});
		});
    </script>

</head>

<body>

</body>
</html>