#set($layout="/layout/defaultS.vm")
<script type="text/javascript" charset="utf-8" src="$!{address.css}/trade/product/bianji/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="http://img0.zz91.com/zz91/newprice/product/bianji/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="http://img0.zz91.com/zz91/newprice/product/bianji/lang/zh-cn/zh-cn.js"></script>
<script src="http://img0.zz91.com/zz91/js/province.js" type="text/javascript"></script>
##<script type="text/javascript" charset="utf-8" src="http://img0.taozaisheng.com/trade/comm/jquery.form.js"></script>
##<script src="$!{address.css}/lib/jquery/ajaxfileupload.js"></script>

<div class="nav nav2">
	<div class="nav-main">
		<div class="fl logoimg"><img src="$!{address.css}/trade/comm/logo_3.png" /></div>
		<div class="fr pay-steps">
			<ul class="pay-steps-list clearfix">
				<li class="clearfix frist-step this-paystep old-step">
					<span>1<em class="stepname">第一步：选择产品类别</em></span>
				</li>
				<li class="clearfix this-paystep">
					<span>2<em class="stepname">第二步：填写产品详情</em></span>
				</li>
				<li class="clearfix">
					<span>3<em class="stepname">第三步：发布成功</em></span>
				</li>
			</ul>
		</div>
	</div>
</div>
<form action="#springUrl('/goods/doStep2.htm')" method="post" id="subForm">
	<div class="content clearfix">
		<div class="secdstep-main">
			<div class="writeInfo">
				<div class="gettype-tt">
					填写基本信息
				</div>
				<div class="write-div">
					<i class="jgget">
						*
					</i>
					信息标题：
					<span class="give-sp">
						<input class="give-info-ipt info-title j_hasts"  id="XinTitle" name="title" />
						<i class="icon-delete iconfont">
							&#xe60a;
						</i>
    					<span class="red notipt">请输入标题</span>
					</span>
				</div>
				<div class="write-div">
					您选择的产品类别是：
					<span class="xztype">
						$!{firstTag} > $!{secondTag} #if($!{thirdTag}!="")> $!{thirdTag}#end
					</span>
					<input type="hidden" name="mainCategory" value="$!{mainCategory}" id="main_category"/>
					<a href="javascript:void(0)" class="blue annew-type j_rma">
						点击重选类别
					</a>
				</div>
				<div class="write-div">
					<i class="jgget">
						*
					</i>
					进口属性：是否为海外货源
					<span class="adroad-get">
						<label>
							<input name="isImport" type="radio" value="1" checked="" />
							是
						</label>
						<label>
							<input name="isImport" type="radio" value="0" />
							否
						</label>
					</span>
				</div>
				<div class="nature clearfix" style="position:relative;z-index:2">
					<span class="nature-title">
						产品属性:
					</span>
					<ul class="nature-ul">
						<li class="clearfix" style="position: relative;z-index:6">
							<span class="natureTl fl">
								<i class="jgget">
									*
								</i>
								级&nbsp;&nbsp;&nbsp;别：
							</span>
							<div class="xzselect fl">
								<input class="dangj-st j_hasts" placeholder="请输入或选择" name="level" id="jpcode"/>
								<i class="morexz j_morexz">
								</i>
								<div class="xuanqu-ul" id="level">
									<a href="javascript:void(0)">
										一级
									</a>
									<a href="javascript:void(0)">
										二级
									</a>
									<a href="javascript:void(0)">
										三级
									</a>
									<a href="javascript:void(0)">
										特级
									</a>
									<a href="javascript:void(0)">
										其他
									</a>
								</div>
							</div>
							<span class="red notipt">请输入或选择级别</span>
						</li>
						<li class="clearfix" style="position: relative;z-index:5">
							<span class="natureTl fl">
								<i class="jgget">
									*
								</i>
								颜&nbsp;&nbsp;&nbsp;色：
							</span>
							<div class="xzselect fl">
								<input class="dangj-st j_hasts" placeholder="请输入或选择" name="color" id="colorCode"/>
								<i class="morexz j_morexz">
								</i>
								<div class="xuanqu-ul">
									<a href="javascript:void(0)">
										白色
									</a>
									<a href="javascript:void(0)">
										黑色
									</a>
									<a href="javascript:void(0)">
										红色
									</a>
									<a href="javascript:void(0)">
										绿色
									</a>
									<a href="javascript:void(0)">
										灰色
									</a>
									<a href="javascript:void(0)">
										本色
									</a>
									<a href="javascript:void(0)">
										杂色
									</a>
									<a href="javascript:void(0)">
										黄色
									</a>
									<a href="javascript:void(0)">
										透明
									</a>
									<a href="javascript:void(0)">
										紫色
									</a>
									<a href="javascript:void(0)">
										棕色
									</a>
									<a href="javascript:void(0)">
										其他
									</a>
								</div>
							</div>
							<span class="red notipt">请输入或选择颜色</span>
						</li>
						<li class="clearfix" style="position: relative;z-index:4">
							<span class="natureTl fl">
								<i class="jgget">
									*
								</i>
								形&nbsp;&nbsp;&nbsp;态：
							</span>
							<div class="xzselect fl">
								<input class="dangj-st j_hasts" placeholder="请输入或选择" name="form" id="xingtaiCode"/>
								<i class="morexz j_morexz" onclick="pet()">
								</i>
								<div class="xuanqu-ul" id="pet">
									<a href="javascript:void(0)">
										颗粒
									</a>
									<a href="javascript:void(0)">
										破碎
									</a>
									<a href="javascript:void(0)">
										片状
									</a>
									<a href="javascript:void(0)">
										其它
									</a>
								</div>
							</div>
							<span class="red notipt">请输入或选择形态</span>
						</li>
						<li style="position: relative;z-index:3" class="clearfix">
							<span class="natureTl fl">
								用途级别：
							</span>
							<select class="setget" id="useLevel">
							</select>
							<input type="hidden" name="useLevel" id="ule">
							<span class="give-sp">
								<input class="give-info-ipt sm-into" placeholder="请填写具体用途" name="useIntro" />
								<i class="icon-delete iconfont">
									&#xe60a;
								</i>
							</span>
						</li>
						<li style="position: relative;z-index:2" class="clearfix">
							<span class="natureTl fl">
								加工级别：
							</span>
							<select class="setget" id="processLevel">
							</select>
							<input type="hidden" name="processLevel" id="ple">
							<span class="give-sp">
								<input class="give-info-ipt sm-into" placeholder="请填写具体说明" name="processIntro" />
								<i class="icon-delete iconfont">
									&#xe60a;
								</i>
							</span>
						</li>
						<li style="position: relative;z-index:1" class="clearfix">
							<span class="natureTl fl">
								特性级别：
							</span>
							<select class="setget" id="charLevel">
							</select>
							<input type="hidden" name="charLevel" id="cle">
							<span class="give-sp">
								<input class="give-info-ipt sm-into" placeholder="请填写具体说明" name="charIntro" />
								<i class="icon-delete iconfont">
									&#xe60a;
								</i>
							</span>
						</li>
						<li class="j_sxList">
							<div class="shux-li">
								<span class="natureTl">
									<input class="add-sx" placeholder="属性" name="attributeName" />
									：
								</span>
								<input class="add-sx-val" placeholder="属性值" name="attributeValue" />
								<a href="javascript:void(0)" class="blue j_removesx">
									删除
								</a>
							</div>
						</li>
						<li>
							<span class="add-moresx j_addsx">
								<i>
									+
								</i>
								添加产品属性
							</span>
							<span class="color-99">
								如果您觉得我们提供的产品属性无法满足您的需要，您可以手动添加产品属性
							</span>
						</li>
					</ul>
					<input type="hidden" name="goodAttribute" id="goodAttribute" />
				</div>
			</div>
			<div class="xiaoshou-main" style="z-index:1">
				<div class="gettype-tt">
					产品销售信息
				</div>
				<div class="nature clearfix">
					<span class="nature-title">
						交易信息:
					</span>
					<ul class="nature-ul">
						<li class="clearfix">
							<span class="natureTl fl">
								<i class="jgget">
									*
								</i>
								计量单位：
							</span>
							<select class="setget j_setget" id="unit">
								<option value="吨">
									吨
								</option>
								<option value="千克">
									千克
								</option>
							</select>
							<input type="hidden" name="unit" id="puint" value="吨" />
						</li>
						<li class="clearfix">
							<span class="natureTl fl">
								<i class="jgget">
									*
								</i>
								价&nbsp;&nbsp;&nbsp;格：
							</span>
							<input class="xin-into j_hasts" name="price" id="goodCode"/>
							元/
							<span class="j_heft">
								吨
							</span>
	##						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="color-99">此处只能填写数字不能填写价格区间</span>
							<span class="red notipt">请输入价格</span>
						</li>
						
						<li class="clearfix">
							<span class="natureTl fl">
								<i class="jgget">
									*
								</i>
								报价是否含税
							</span>
							<div class="xshou-radio fl">
								<label>
									<input name="hasTax" type="radio" value="0"  />
									含税
								</label>
								<label>
									<input name="hasTax" type="radio" value="1" checked=""/>
									不含税
								</label>
							</div>
						</li>
						<li>
							<span class="natureTl">
								<i class="jgget">
									*
								</i>
								可售数量：
							</span>
							<input class="xin-into j_hasts" name="quantity" id="quantityInt"/>
							<span class="j_heft">
								吨
							</span>
							<span class="red notipt">请输入数量</span>
						</li>
						<li>
							<span class="natureTl">
								<i class="jgget">
									*
								</i>
								最小起订量：
							</span>
							<input class="xin-into" name="number" id="numberInt" />
							<span class="j_heft">
								吨
							</span>
							<b style="display:none;color:red;" id="numberError">
								最小订单量不能大于可售数量，请修改！
							</b>
							<span style="color:red;display:none" class="redNotipt">请输入最小起订量</span>
##							<span class="red notipt">请输入最小起订量</span>
						</li>
						<li class="clearfix">
							<span class="natureTl fl">
								<i class="jgget">
									*
								</i>
								供货方式：
							</span>
							<div class="fl xshou-radio">
								<label>
									<input name="provideCode" type="radio" value="1" checked="" />
									现货
								</label>
								<label>
									<input name="provideCode" type="radio" value="0" />
									可订货生产
								</label>
							</div>
						</li>
						<li class="clearfix">
							<span class="natureTl fl">
								<i class="jgget">
									*
								</i>
								运&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费:
							</span>
							<div class="fl xshou-radio">
								<label>
									<input class="radioItem_yf" name="yf" type="radio" value="" />
									商议后调整
								</label>
								<label>
									<input class="radioItem_yf" name="yf" type="radio" value="" id="aa" />
									<input class="mey-ipt" id="RMB" disabled/>
									元
								</label>
								<label>
									<input class="radioItem_yf" name="yf" type="radio" value="" />
									包邮
								</label><span style="color:red" id="erroprice"></span>
							</div>
							<input name="fare" type="hidden" id="fare" />
						</li>
						<li>
							<span class="natureTl  fl">
								国家/地区:
							</span>
							<div class="fl post-uers-div" style="cursor:pointer;padding-left: 5px;border: 1px solid #ccc;height: 34px;margin-right: 5px;line-height: 34px;">
								<i class="post-uers-img">
								</i>
								<span class="post-uers-city" id="area_blue">
									--国家/地区--
								</span>
								<input type="hidden" name="location" id="areacode" />
							</div>
							<span class="red post_error" style="margin:0 0 0 15px;">
							</span>
							<div id="school-box">
								<h1>
									国家/地区
								</h1>
								<div id="country">
									<a href="javascript:getprovince('','10011000',1)" id="1">
										中国
									</a>
									<a href="javascript:getprovince('','1001',1)">
										其他国家
									</a>
								</div>
								<div id="school">
								</div>
							</div>
							<div class="cb">
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="xiangxi-main">
				<div class="gettype-tt">
					产品图片和详情
				</div>
				<ul class="xiangxi-ul">
					<li class="clearfix">
						<span class="natureTl fl">
							产品检测报告：
						</span>
						<div class="fl baogao-img bgImg">
							<span class="add-img j_imgAdd" value="2">
								+
							</span>
						</div>
					</li>
					<li class="clearfix">
						<span class="natureTl fl">
							<i class="jgget">
								*
							</i>
							产品图片：
							<br/>
							<span class="color-66 lunts">
								（轮播图）
							</span>
						</span>
						<div class="fl baogao-img pImg">
							<span class="add-img j_imgAdd" value="1">
								+
							</span><span style="color:red;display:none" id="erroPic">请上传产品图片</span>
						</div>
						<p class="img-tis">
							建议上传图片尺寸 760px×760px(此处最多上传5张图片)
						</p>
					</li>
					<li class="clearfix">
						<span class="natureTl fl">
							<i class="jgget">
								*
							</i>
							产品详情：
						</span>
						<div class="fl">
							<div style="width:100%">
								<script id="editor" type="text/plain" style="width:680px;height:300px;">
								</script>
								<input type="hidden" name="detail" id="detail" /><span style="color:red" id="errodetail"></span>
							</div>
						</div>
					</li>
					<li class="clearfix">
						<span class="natureTl fl">
							<i class="jgget">
								*
							</i>
							信息有效期：
						</span>
						<div class="fl data-xz">
							<label>
								<input name="limitDay" type="radio" value="10" checked="checked" />
								10天
							</label>
							<label>
								<input name="limitDay" type="radio" value="20" />
								20天
							</label>
							<label>
								<input name="limitDay" type="radio" value="30" />
								30天
							</label>
							<label>
								<input name="limitDay" type="radio" value="40" />
								40天
							</label>
						</div>
					</li>
				</ul>
			</div>
			<div class="btnList">
				<span class="next-pags">
					发布信息
				</span>
			</div>
		</div>
	</div>
</form>
<div style="display:none">  <!-- 点击重新选择类别 -->
	<div class="again-xz">
		<div class="again-top clearfix">
			<h2 class="fl">请重新选择产品所属类别</h2>
			<a href="javascript:void" class="fr j_close">关闭</a>
		</div>
		<div class="again-set">
			<input class="again-ipt"/><span class="again-btn">查找类别</span>
		</div>
		<div class="again-type clearfix">
			<select id='c1' name='c1' size='10' class="fl oneget">
				<option value="" >--一级分类--</option>
			</select>
			<select id='c2' name='c2' size='10' class="fl oneget">
				<option value="" >--二级分类--</option>
			</select>
			<select id='c3' name='c3' size='10' class="fl oneget">
				<option value="">--三级分类--</option>
			</select>
		</div>
		<div class="again-qd">
			<span class="again-qdbtn">确定</span>
		</div>
	</div>
</div>
<div style="display:none">
	<div class="add-img-pop">
		<div class="add-img-title">
			<span class="img-title-name">上传图片</span>
			<a href="javascript:void(0)" class="fr j_close_me">关闭</a>
		</div>
		<div class="add-img-type">
			<span class="img-type-name">选择您要上传图片的来源</span>
			<a href="javascript:void(0)" class="bendi_sc img-type-choice img-type-choice2" typeImg ="0" id="bendi_sc">本地上传</a>
			<a href="javascript:void(0)" class="xiangce_sc img-type-choice" typeImg ="1" id="xiangce_sc">相册上传</a>
		</div>
		<style>
			.upload-img a{display:inline-block; width:162px; height:100px; background:white; position:relative; overflow:hidden;}
			.upload-img a:hover{background:white;}
			.upload-img input{position:absolute; right:0; top:0; font-size:100px; opacity:0; filter:alpha(opacity=0);}
        </style>
		<div class="add-img-main">
			<div class="typeAdd">
				<div class="upload-img clearfix">
					<form action="#springUrl('/upload/ie6upload.htm')" enctype="multipart/form-data" method="post" target="testIframeName" name="uploadForm" class="uploadForm">
					<a class="upload-btn j_upload" style="cursor:pointer;" >
						添加图片
						<input type="file" name="uploadfile" class="uploadfile" />
					</a>
					<iframe name="testIframeName" id="iframeId" style="display:none" ></iframe>
						##<input type="file" name="uploadfile" class="uploadfile" />##style="display:none;"
						##<a href="javascript:void(0)" class="intoImg-btn" id="uploadSubmit" >上传图片</a> ##style="display:none;"
						##<input type="submit" value="上传" id="uploadSubmit"  />##style="display:none;"
						##<input type="text" id="ptype" name="ptype" value="" /> ##type="hidden"
						<input type="hidden" name="destUrl" value="$!{address.trade}/submitCallback.htm" />
					</form>
				</div>
				<p class="typeAdd-ts">
					提示：支持 .jpg , .jieg , .gif , .bmp , .png 格式的图片，图片大小不超过2M，<br />
					建议使用 .jpg 格式的图片，重复图片只能上传一次
				</p>
				<div class="intoImg">
					<a href="javascript:void(0)" class="intoImg-btn">插入图片</a>
				</div>
			</div>
			<div class="typeAdd" style="display:none">
				<div class="myphone">
					<div class="xz-class-ph">
						<select class="phoneClass" id="phoneClass">
							<option value="">我的相册</option>
							<option value="1">产品相册</option>
							<option value="2">检测报告</option>
							<option value="4">企业相册</option>
						</select>
						<span class="xz-pt">请从以下图片中选择你要上传的图片，重复图片只能上传1次</span>
					</div>
					<ul class="weblist-img clearfix j_xcup">
						#foreach($li in $list)
							<li>
								<img src="$!{address.img}$!{li.picAddress}" id="$!{li.id}" />
							</li>
						#end
					</ul>
					<div class="page-num">
						<span class="page-do" index="1">
							&lt;
						</span>
						<span class="page-do this-page">1</span>
						#if($!{size}>1)
							<span class="page-do">2</span>
						#end
						#if($!{size}>2)
							<span class="morepage"><i class="dianmore">...</i></span>
						#end
						<span class="page-do" index="$!{size}">></span>
					</div>
				</div>
				<p class="cximg-ts">已选择需上传的图片，点击以下图片，可撤销以选择的图片</p>
				<ul class="weblist-img clearfix j_addImg">
				</ul>
				<div class="intoImg">
					<a href="javascript:void(0)" class="intoImg-btn">插入图片</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function(){
    	var code  = jQuery("#main_category").val();
    	var category = new Asto.util.Selector({
    		selects : ["#c1", "#c2", "#c3"],
    		url : "#springUrl('/goods/goodsChild.htm')",
    		changeCallback : function(c, idx) {
    		}
    	});
    	category.init({
    		initCode:code,
    		rootCode:"1000"
    	});
		
		level($!{mainCategory},'','');
		
		var ue = UE.getEditor('editor',{});
		
		var newType=0;
		var newTypesx=0;
		$(".oneget option").live("click",function(){
            $(this).parent().find(".thistype").removeClass("thistype");
            $(this).addClass("thistype");
            var parentIndex = $(this).parents(".oneget").index();
            if(parentIndex==0){
                jQuery("#main_category").val($(this).val());
            }else if(parentIndex==1){
                 jQuery("#main_category").val($(this).val());
            }else{
                jQuery("#main_category").val($(this).val());
            }
		})

        $(".give-info-ipt").live("keyup",function(){
            if('placeholder' in document.createElement('input')){
                if(!$(this).val()==""){
                    $(this).parent().find(".icon-delete").show();
                }else{
                    $(this).parent().find(".icon-delete").hide();
                }
            }    
        });
        $(".icon-delete").live("click",function(){
            $(this).hide().parent().find(".give-info-ipt").val("")
        })

        $(".j_morexz").live("click",function(){
            $(".xuanqu-ul").hide();
            $(this).siblings(".xuanqu-ul").show();
        })
        $(".xuanqu-ul a").live("click",function(){
            var text = jQuery.trim($(this).html());
            $(this).parent().hide();
            $(this).parents(".xzselect").find(".dangj-st").val(text).css("color","#000");
        })
        $(".j_addsx").live("click",function(){
            var sxHtml ='<div class="shux-li">'
                            +'<span class="natureTl">'
                            +'<input class="add-sx" placeholder="属性" name="attributeName"/> ：'
                            +'</span>'
                            +'<input class="add-sx-val" placeholder="属性值" name="attributeValue"/>'
                            +'<a href="javascript:void(0)" class="blue j_removesx">删除</a>'
                        +'</div>';
            $(".j_sxList").append(sxHtml)
        })
        $(".j_sxList").delegate(".j_removesx","click",function(){
            $(this).parents(".shux-li").remove();
        })

        //单位变化
        $(".j_setget").live("change",function(){
            var heft = $(this).val();
            $(".j_heft").html(heft)
        })

        //判断是否点击了下拉菜单
        $(document).click(function(e){ 
            e = window.event || e; // 兼容IE7
            obj = $(e.srcElement || e.target);
            if (!$(obj).is(".j_morexz,.xuanqu-ul") ) { 
                $(".xuanqu-ul").hide();
            }
        }); 
        $(".j_rma").live("click",function(){
			var ie6=!-[1,];
			if(ie6){
				window.location.href = "#springUrl('/goods/post_step1.htm')";
				window.event.returnValue = false;
				return false;
			}
        	if(newTypesx==0){
        		newTypesx = $(".again-xz").clone(true);
            	$(".again-xz").remove();
        	}
            popHtml(newTypesx);
        })
        
        $("body").delegate(".img-type-choice","click",function(){
		   $("#bendi_sc").removeClass("img-type-choice2");
		   $("#xiangce_sc").addClass("img-type-choice2");
           var typeImg = $(this).attr("typeImg");
           var typeAdd = $(this).parents(".add-img-pop").find(".typeAdd");
           typeAdd.hide();
           typeAdd.eq(typeImg).show();
           locaTion();
        })
		
		$(".j_imgAdd").live("click",function(){
            newType= $(".add-img-pop").clone(true);
            var cls = jQuery(this).parent().attr("class");
            array = [];
			irray = [];
            if(cls.indexOf("bgImg")>0){
            	cl = "bgImg";
            }else{
            	cl = "pImg";
            }
            popHtml(newType);
		});
		
		## 最小订单量判断
		jQuery("#numberInt,#quantityInt").blur(function(){
			var i = jQuery("#quantityInt").val();
			var j = jQuery("#numberInt").val();
			if(parseInt(j)>parseInt(i)){
				jQuery("#numberError").show();
				$("html,body").animate({scrollTop:jQuery("#numberError").offset().top-100});
				return false;
			}else{
				jQuery("#numberError").hide();
			}
		});
		
        ##提交
        jQuery(".next-pags").click(function(){
			## 信息标题
    		if(jQuery("#XinTitle").val()==""){
    			$("html,body").animate({scrollTop:jQuery("#XinTitle").offset().top-100});
				$(".notipt").eq(0).show();
    				return false;
    		}else{
				$(".notipt").eq(0).hide();
			}
				
			##级   别
    		if(jQuery("#jpcode").val()==""){
    			$("html,body").animate({scrollTop:jQuery("#jpcode").offset().top-100});
				$(".notipt").eq(1).show();
    				return false;
    		}else{
				$(".notipt").eq(1).hide();
			}
			
			##颜   色
    		if(jQuery("#colorCode").val()==""){
    			$("html,body").animate({scrollTop:jQuery("#colorCode").offset().top-100});
				$(".notipt").eq(2).show();
    				return false;
    		}else{
				$(".notipt").eq(2).hide();
			}
			
			## 形   态
    		if(jQuery("#xingtaiCode").val()==""){
    			$("html,body").animate({scrollTop:jQuery("#xingtaiCode").offset().top-100});
				$(".notipt").eq(3).show();
    				return false;
    		}else{
				$(".notipt").eq(3).hide();
			}
			
			##价   格
    		if(jQuery("#goodCode").val()==""){
    			$("html,body").animate({scrollTop:jQuery("#goodCode").offset().top-100});
				$(".notipt").eq(4).show();
    				return false;
    		}else{
				$(".notipt").eq(4).hide();
			}
			
			##可售数量
    		if(jQuery("#quantityInt").val()==""){
    			$("html,body").animate({scrollTop:jQuery("#quantityInt").offset().top-100});
				$(".notipt").eq(5).show();
    				return false;
    		}else{
				$(".notipt").eq(5).hide();
			}
			
			##最小起订量
    		if(jQuery("#numberInt").val()==""){
    			$("html,body").animate({scrollTop:jQuery("#numberInt").offset().top-100});
				$(".redNotipt").show();
    				return false;
    		}else{
				$(".redNotipt").hide();
			}
			
			var boolCheck=$('input:radio[name="yf"]').is(":checked");
			if(!boolCheck){
				$("html,body").animate({scrollTop:jQuery('input:radio[name="yf"]').offset().top-100});
				$("#erroprice").html("请选择运费");
				return false;
			}else{
				$("#erroprice").html("");
			}
			
			var $pImg=$(".pImg span").length;
			if($pImg<3){
				$("html,body").animate({scrollTop:jQuery("#erroPic").offset().top-100});
				$("#erroPic").show();
				return false;
			}else{
				$("#erroPic").hide();
			}
			
			
			var detail = UE.getEditor('editor').getContent();
			if(!detail){
				$("html,body").animate({scrollTop:jQuery("#editor").offset().top-100});
				$("#errodetail").html("请填写产品详情");
				return false;
			}else{
				$("#errodetail").html("");
			}
			jQuery("#detail").val(detail);
			jQuery("#numberInt").blur();
			zuhe();
			yunfei();//提交运费
			// 附加属性
			jQuery(".add-sx").each(function(){
				if($(this).val().indexOf("属性")!=-1){
					$(this).val("");
				}
			});
			// 附加属性值
			jQuery(".add-sx-val").each(function(){
				if($(this).val().indexOf("属性值")!=-1){
					$(this).val("");
				}
			});
			// 附加级别属性
			jQuery(".sm-into").each(function(){
				if($(this).val().indexOf("请填写")!=-1){
					$(this).val("");
				}
			});
			jQuery.ajax({
				type: 'post',
				url: "#springUrl('/goods/publishGoods.htm')",
				data: jQuery("#subForm").serialize(),
				dataType:"json",
				success: function(data) {
					if(data.success){
						window.location="#springUrl('/goods/post_suc.htm')";
					}else{
						alert("发布失败请重试");
					}
				}
			});
		});
		
		##类别确认修改
    	 $(".again-qdbtn").live("click",function(){
            if($("#c3").val()){
            	 jQuery("#main_category").val($("#c3").val());
            	 level($("#c2").val(),'','1');
            	 jQuery(".xztype").html(jQuery("#c1").find("option:selected").html()+ " > " +jQuery("#c2").find("option:selected").html() + " > " + jQuery("#c3").find("option:selected").html());
            }else if($("#c2").val()){
            	 level($("#c2").val(),'','1');
                 jQuery("#main_category").val($("#c2").val());
                 jQuery(".xztype").html(jQuery("#c1").find("option:selected").html()+ " > " +jQuery("#c2").find("option:selected").html());
            }else if($("#c1").val()){
                jQuery("#main_category").val($("#c1").val());
                jQuery(".xztype").html(jQuery("#c1").find("option:selected").html());
            }
            $(".estopDiv").remove();
    		$(".pop-main").remove();
			selectJr(chengeVal);
       })
       	##地区
        var area_blue = $("#area_blue"); 
        popprovince = true; 
        area_blue.live("click",function(){
        	if (popprovince) { 
        		poparea(); 
        		popprovince = true; 
        	} 
        	var self = $(this), 
        	areacode = $("#areacode"); 
        	if (areacode.val() === "") { 
        		jQuery(".post_error").html("请选择国家/地区"); 
        		registerChecked = false; 
        	} else {
        		 jQuery(".post_error").html(""); 
        	}
        });
		
		## 图片上传方法 start
		var j_upload = "";
		jQuery(".uploadfile").change(function(){
			var picStatus=checkPicNum(cl);
			if(picStatus==0){
				alert("最多选5张！")
				return false;
			}
			jQuery(".uploadForm").submit();
    	});
		jQuery(".uploadForm").submit(function(){
    		Asto.util.Callback.setSubmitCallback(function (success, data) {
    			if(success){
    				array.push(data.url);
    				irray.push(data.pid);
    				jQuery(".j_upload").before("<span class=\"imgrq\">"+"<img src='http://img0.zz91.com/trade/product/images/loading.gif' id='loading"+data.pid+"' class=\"img-getup nontjz pic"+data.pid+"\"/>"+"<i class=\"closeimg \"></i></span>");
    				﻿var time;
                    var qim=new Image();
                    qim.src = "$!{address.img}"+data.url;
                    time = setInterval(function(){
                        if(qim.complete){
    						jQuery(".pic"+data.pid).attr("src","$!{address.img}"+data.url);
							##jQuery("#loading"+data.pid).attr("currentSrc","$!{address.img}"+data.url);
    						jQuery(".pic"+data.pid).removeClass("nontjz");
                            clearInterval(time);
                        }
                    },200)
    				changeBtn_bd();
    			}
    		});
    	});
		## 图片上传方法 end
		
		selectJr(chengeVal);
		
		##取消选中图片(内部)
		$("body").delegate(".closeimg","click",function(){
			var canclePic = $(this).prev().attr("src");
			for(var i=0;i<array.length;i++){
				if(canclePic.indexOf(array[i])!=-1){
					array[i] = "";
				}
			}
            $(this).parent().fadeOut(function(){
                $(this).remove();
				changeBtn_bd();
            });
        });
		
		##取消外部图片
		$("body").delegate(".closeimg1","click",function(){
            $(this).parent().fadeOut(function(){
                $(this).remove();
            });
			
			
			//获得删除的是检测报告还是产品图片
			var $del = jQuery(this).parent().parent().attr("class");
			var delClass=""
			if($del.indexOf("bgImg")>0){
				delClass="bgImg";
			}else{
				delClass = "pImg";
			}
			showAddPic(delClass);
        });
		
        ##相册上传图片
        $(".j_xcup li").live("click",function(){
            var imgPh = $(this).find("img").attr("src");
            var addImg = '<li><img src="'+ imgPh +'"><i class="closeimg"></i></li>';
			//当多余5张时弹出警告
			var picStatus=checkPicNum(cl);
			if(picStatus==0){
				alert("最多选5张！")
				return false;
			}
			if(picStatus==1){
	            $(".j_addImg").eq(1).append(addImg);
				changeBtn_bd();//按钮灰变蓝
	            locaTion();
	            array.push(imgPh); 
	            irray.push($(this).find("img").attr("id"));
			}
        });
		
		$(".radioItem_yf").change(function() {
			var boolCheck=$('input:radio[name="yf"]').eq(1).is(":checked");
			if(true==boolCheck){
				$("#RMB").removeAttr("disabled");
				$("#RMB").focus();
			}else{
				$("#RMB").attr("disabled","");
				$("#RMB").val("");
			}
		});
		
		## 初始化结束
		
	});
	
	function level(a,b,c){//a属性编码 b 三级属性
		var ulevel = "", ulev="", plevel = "", plev="", clevel = "", clev="", ele = "";
		jQuery.ajax({
			url:"#springUrl('/goods/getProperty.htm')",
			data:{"code":a},
			type:"post",
			async:false,
		      	dataType:"json",
		      	success:function(reg){
		      		if(c == ""){
			      		ulevel = ulevel +"<option value=\"\">请选择</option>";
			      		plevel = plevel +"<option value=\"\">请选择</option>";
			      		clevel = clevel +"<option value=\"\">请选择</option>";
		      		}
		      		ulev = ulev + "<a href=\"javascript:void(0)\" value=\"\">请选择</a>";
		      		plev = plev + "<a href=\"javascript:void(0)\" value=\"\">请选择</a>";
		      		clev = clev + "<a href=\"javascript:void(0)\" value=\"\">请选择</a>";
		      		if(reg.ulist){
		      			for(var i=0; i<reg.ulist.length;i++){
		      				if(c == ""){
		      					ulevel = ulevel + "<option value=\""+reg.ulist[i].code+"\">"+reg.ulist[i].label+"</option>";
		      				}
		      				ulev = ulev + "<a href=\"javascript:void(0)\" value=\""+reg.ulist[i].code+"\">"+reg.ulist[i].label+"</a>";
		      			}
		      			for(var i=0; i<reg.clist.length;i++){
		      				if(c==""){
		      					clevel = clevel + "<option value=\""+reg.clist[i].code+"\">"+reg.clist[i].label+"</option>";
		      				}
		      				clev = clev + "<a href=\"javascript:void(0)\" value=\""+reg.clist[i].code+"\">"+reg.clist[i].label+"</a>";
		      			}
		      			for(var i=0; i<reg.plist.length;i++){
		      				if(c==""){
		      					plevel = plevel + "<option value=\""+reg.plist[i].code+"\">"+reg.plist[i].label+"</option>";
		      				}
		      				plev = plev + "<a href=\"javascript:void(0)\" value=\""+reg.plist[i].code+"\">"+reg.plist[i].label+"</a>";
		      			}
		      		}else if(reg.chlist){
		      			for(var i=0;i<reg.chlist.length;i++){
		      				ele = ele + "<li class=\"clearfix "+b+"\"><span class=\"natureTl fl\">"+reg.chlist[i].code+"：</span><span class=\"give-sp fl\"><input class=\"give-info-ipt xin-into\" placeholder=\"请填写具体参数\" name=\"element\"/>"
		      				+"<i class=\"icon-delete iconfont\">&#xe60a;</i></span></li>";
		      			}
		      		}
		      	}
		});
		if(b==""){
			if(c==""){
				jQuery("#useLevel").html(ulevel);
				jQuery("#processLevel").html("").html(plevel);
				jQuery("#charLevel").html("").html(clevel);
			}
			jQuery("#useLevel").parent().find(".setmain").html(ulev);
			jQuery("#processLevel").parent().find(".setmain").html(plev);
			jQuery("#charLevel").parent().find(".setmain").html(clev);
		}else{
			jQuery("#charLevel").parent().parent().after(ele);
		}
	}
		##相册类型
		var type;
		var picString = "";
		##相册翻页
		var fanye = [];
		var pageString = "";
		$("body").delegate(".page-do","click",function(){
			picString = "";
			var index = jQuery(this).html();
			if(isNaN(index)){
			index = jQuery(this).attr("index");
		}
		var ck = jQuery(this).parent();
		page(index,type);
		ck.prev().html("");
		ck.prev().prepend(picString); 
		ck.html("");
		ck.prepend(pageString);
	});
	function page(a, b){
		jQuery.ajax({
  			url:"#springUrl('/goods/listPic.htm')",
  			data:{"index":a,"type":b},
			type:"post",
			async:false,
			dataType:"json",
			success:function(reg){
				picString = "";
				for(var i = 0; i < reg.list.length; i++){
					picString = picString + "<li><img src=\"$!{address.img}"+reg.list[i]+"\"></li>";
				}
				pageString = reg.pageString;
			}
		});
	}
	
	##类别
	function cate(a,b){
		jQuery.ajax({
			url:'#springUrl("/goods/catChild.htm")',
			data:{"parentCode":a},
			type:"post",
			async:false,
			dataType:"json",
			success:function(reg){
				if(reg.length>0){
					for(var i = 0; i < reg.length; i++){
						jQuery("#"+b).append("<a href=\"javascript:void(0)\">"+reg[i].label+"</a>");
					}
				}
			}
		});
	}
	##pet形态
	function pet(){
		var a = jQuery("#main_category").val().replace(/\s+/g,"");
		if(a && a == "100010011001"){
				jQuery("#pet").empty();
				jQuery("#pet").append("<a href=\"javascript:void(0)\">瓶片</a>").append("<a href=\"javascript:void(0)\">瓶砖</a>").append("<a href=\"javascript:void(0)\">瓶屑</a>");
		}
	}

    ##级别显示相应属性
    function chengeVal($this){
    	 var selectedVal = $this.parent().siblings(".selected").attr("id");
    	 if(selectedVal=="useLevel"){ 
    	 	jQuery("#ule").val($this.attr("value"));
    	 	jQuery(".useLevel").remove();
    	 	if($this.attr("value")!=""){
    	 		level($this.attr("value"),"useLevel");
    	 	}
    	 } 
    	 if(selectedVal=="processLevel"){
		 	jQuery("#ple").val($this.attr("value"));
    	 	jQuery(".processLevel").remove();
    	 	if($this.attr("value")!=""){
    	 		level($this.attr("value"),"processLevel");
    	 	}
    	 } 
    	 if(selectedVal=="charLevel"){
		 	jQuery("#cle").val($this.attr("value"));
    	 	jQuery(".charLevel").remove();
    	 	if($this.attr("value")!=""){
    	 		level($this.attr("value"),"charLevel");
    	 	}
    	 } 
    	 if(selectedVal=="unit"){ 
    	 	jQuery("#puint").val($this.attr("value"));
    	 } 
    	 if(selectedVal=="phoneClass"){
    	 	type = $this.attr("value");
    	 	var ck = $this.parent().parent().parent().next();
    	 	page(1,type);
    	 	ck.html("");
    	 	ck.prepend(picString);
  	        ck.next().html("");
  	        ck.next().prepend(pageString);
    	 }
    }
	
	//当多余5张时弹出警告
	function checkPicNum(cl){
		var imglength = ($(".upload-img span").length)/2;//有小菊花图片得除2
		var imglength_xc = $(".j_addImg li").length;
		var exist_bg_img_num=$(".bgImg .img-kuang").length;//获得已存在的检测报告的图片数量
		var exist_p_img=$(".pImg .img-kuang").length;//获得已存在的产品的图片数量
		if(cl=="bgImg"){
				//添加方式为检测报告
				if(imglength+imglength_xc+exist_bg_img_num==5){
					return 0;
				}else{
					return 1;
				}
			}
			if(cl=="pImg"){
				//添加方式为产品图片
				if(imglength+imglength_xc+exist_p_img==5){
					return 0;
				}else{
					return 1;
				}
			}
	}
	

	//相册和本地上传改变按钮状态
	function changeBtn_bd(){
		var imglength = $(".upload-img span").length;
		var imglength_xc = $(".j_addImg li").length;
		if(imglength>0||imglength_xc>0){
			$(".intoImg-btn").addClass("intoImg-btn2");
		}else{
			$(".intoImg-btn").removeClass("intoImg-btn2");
		}
	}
	
	$(".bendi_sc").click(function(){
		$(this).addClass("img-type-choice2");//将下划线加在‘本地’上
		$(".xiangce_sc").removeClass("img-type-choice2");//移除‘相册’的下划线
	})
	$(".xiangce_sc").click(function(){
		$(".bendi_sc").removeClass("img-type-choice2");
		$(this).addClass("img-type-choice2");
	})
	
    ##确认上传
	var array = []; //地址级
	var irray = [];
	var cl = "";//bg_img产品检测报告，p_img普通图片
	
	$("body").delegate(".intoImg-btn2","click",function(){
		var picAddr = "";
		for(var i = 0; i < array.length; i++){
			if(array[i]==""){
				continue;
			}
			if(array[i].indexOf("http://")!=-1){
				picAddr = picAddr + "<span class=\"img-kuang\"><i class=\"closeimg1\"></i><img src=\""+array[i]+"\" height=\"140\" width=\"190\">" + "<input type=\"hidden\" name=\""+cl+"\" value=\""+irray[i]+"\"></span>"
			}else{
				picAddr = picAddr + "<span class=\"img-kuang\"><i class=\"closeimg1\"></i><img src=\"$!{address.img}"+array[i]+"\" height=\"140\" width=\"190\">" + "<input type=\"hidden\" name=\""+cl+"\" value=\""+irray[i]+"\"></span>";
			}
		}
		irray = [];
     	jQuery("."+cl).prepend(picAddr);
     	$(".estopDiv").remove();
		$(".pop-main").remove();
		$(".intoImg-btn").removeClass("intoImg-btn2");//移除‘插入图片’的可选效果
		hideAddPic();//产品图片轮播图最多5张
		jQuery(".upload-img span").remove();
    });
	
    ##组合动态
    function zuhe(){
    	var newArray = jQuery("[name=element]");
    	var attribute = "";
    	for(var i=0;i<newArray.length;i++){
    		var a = newArray.eq(i).parent().prev().text() || newArray.eq(i).prev().find("input").val()+"：";
    		attribute = attribute + "|" + a + newArray.eq(i).val();
    	}
    	jQuery("#goodAttribute").val(attribute);
    }
	##运费提交
	function yunfei(){
		if($('input:radio[name="yf"]').eq(0).is(":checked")){
			$("#fare").val(-1);
		}
		if($('input:radio[name="yf"]').eq(1).is(":checked")){
			var rmb=$("#RMB").val();
			$("#fare").val(rmb);
		}
		if($('input:radio[name="yf"]').eq(2).is(":checked")){
			$("#fare").val(0);
		}
	}
	//关闭弹窗
    $(".j_close_me").live("click",function(){
		$("#bendi_sc").addClass("img-type-choice2");//将下划线加在‘本地’上
		$("#xiangce_sc").removeClass("img-type-choice2");//移除‘相册’的下划线
		$(".intoImg-btn").removeClass("intoImg-btn2");//移除‘插入图片’的可选效果
        $(".estopDiv").remove();
        $(".pop-main").remove();
		irray = [];//图片value数组也要清空
		jQuery(".upload-img span").remove();
    })
	
	//外部产品图片轮播图最多5张,隐藏“+”
	function hideAddPic(){
		var $bgImg=$(".bgImg span").length;
		var $pImg=$(".pImg span").length;
		if($bgImg>=6){
			//隐藏添加图片按钮
			$(".bgImg span:last").hide();
		}
		if($pImg>=6){
			//隐藏添加图片按钮
			$(".pImg span:last").hide();
		}
	}
	
	//外部产品图片轮播图最多5张,显示“+”
	function showAddPic(delClass){
		var $bgImg=$(".bgImg span").length;
		var $pImg=$(".pImg span").length;
		if($bgImg==6 && delClass=="bgImg"){
			//删完显示
			$(".bgImg span:last").show();
		}
		if($pImg==6 && delClass=="pImg"){
			$(".pImg span:last").show();
		}
	}
	
    $(".j_hasts").each(function(i,item){
        $(item).attr("index",i)
    })
    $(".j_hasts").bind("focus",function(){
        var indexipt = $(this).attr("index");
         $(".notipt").eq(indexipt).hide();
    })
    $(".j_hasts").bind("blur",function(){
        var indexipt = $(this).attr("index"); 
        $(".j_hasts").each(function(i,item){
            if(!$(item).val()){
                $(".notipt").eq($(item).attr("index")).show();
            }else{
                var thisval = $(item).val();
                var thispder = $(item).attr("placeholder");
                if(jQuery.browser.msie && (jQuery.browser.version == "6.0") && !jQuery.support.style && thisval==thispder){
                    $(".notipt").eq($(item).attr("index")).show();
                    return;
                }
                $(".notipt").eq($(item).attr("index")).hide()
            }
            if(indexipt==$(item).attr("index")){
    
                return false; 
            }
        })
    })
	
</script>