<article class="ni_newsblock_normal contblock_250 html5radius margintop8">
        <header class="ni_newsblock_normal_h">
				<a href="#springUrl("/list10001000.htm")"target="_blank"><h3 class="tit">热点专题</h3></a>
		</header>
        <section class="ni_newsblock_normal_l ni_newsblock_next_l">
	 		#cacheFragment("$!{address.fragment}/fragment/news/recommendZhuanti.htm?size=3&adfdssd","","","600")
    			#foreach($zt in $!{list})
					<div class="ni_hotsub_box">
                        <span class="ni_hotsub_box_img"><a href="$!{zt.targetUrl}" target="_blank"><img src="$!{address.thumb}$!{address.resource}$!{zt.photoPreview}&width=70&height=70" width="70" height="70" /></a></span>
                        <span class="ni_hotsub_box_cont">
                            <h5 class="epnewstit"><a href="$!{zt.targetUrl}"target="_blank">#printTitle($!{zt.title} 12 "")</a></h5>
                            <p class="epnewscont">#printTitle($!{zt.review} 17 "")...<a href="$!{zt.targetUrl}" title="查看详情" target="_blank">[详细]</a></p>
                        </span>
                        <div class="clear"></div>
                   </div>
				#end
			#end
               
        </section>
        <div class="clear"></div>
</article>