<section class="hb_mainblock newsindex_block_next">
	<div class="ni_block_next_l contblock_698 floatleft">
		#cacheFragment("$!{address.fragment}/fragment/news/categoryNews.htm?categoryCode=10001003&size=10&fgr","","","600")
		<article class="ni_newsblock_normal contblock_345 margintop8 html5radius floatleft">
			<header class="ni_newsblock_normal_h">
				<h3 class="tit"><a href="#springUrl('/list10001003.htm')" target="_blank">工程/案例</a></h3>
				#cacheFragment("$!{address.fragment}/fragment/news/newsSubCategory.htm?code=10001003&ders","","","300")
					<span >
						#foreach($subCategory in $!{sublist})
                           <a href="#springUrl("/list$!{subCategory.code}.htm")" target="_blank">$!{subCategory.name}</a>
						#end
					</span>
				#end
			</header>
                <section class="ni_newsblock_normal_l ni_newsblock_next_l">
                    <ul class="liststyleblack">
        			#foreach($l in $!{list})
						<li>
							<span class="ni_newsblocklist_tit_wid"><a href="#springUrl('/details')${l.id}.htm" target="_blank" title="${l.title}">#printTitle($!{l.titleIndex} 18 "")</a></span>
							<span class="ni_newsblocklist_date" title='#printFragmentDate("yyyy-MM-dd H:m:s" ${l.gmtPublish})'>#printFragmentDate("yyyy-MM-dd" ${l.gmtPublish})</span>
						</li>
					#end
                    </ul>
                </section>
		</article>
		#end
		
		#cacheFragment("$!{address.fragment}/fragment/exhibit/categoryExhibits.htm?categoryCode=10001010&size=10&iuret","","","600")
		<article class="ni_newsblock_normal contblock_345 margintop8 marginleft8 html5radius floatleft">
			<header class="ni_newsblock_normal_h"><h3 class="tit"><a href="$!{address.exhibit}" target="_blank">行业展会</a></h3></header>
                <section class="ni_newsblock_normal_l ni_newsblock_next_l">
                    <ul class="liststyleblack">
        			#foreach($l in $!{list})
						<li>
							<span class="ni_newsblocklist_tit_wid"><a href="$!{address.exhibit}/details${l.id}.htm" target="_blank" title="${l.name}">#printTitle($!{l.name} 18 "")</a></span>
							<span class="ni_newsblocklist_date">#printFragmentDate("yyyy-MM-dd",$!{l.gmtStart})</span>
						</li>
					#end
                    </ul>
                </section>
		</article>
		#end
        
		#cacheFragment("$!{address.fragment}/fragment/news/categoryNews.htm?categoryCode=10001002&size=10&oue","","","600")
		<article class="ni_newsblock_normal contblock_345 margintop8 html5radius floatleft">
			<header class="ni_newsblock_normal_h">
				<h3 class="tit">
					<a href="#springUrl('/list10001002.htm')" target="_blank">市场/行情</a>
				</h3>
					#cacheFragment("$!{address.fragment}/fragment/news/newsSubCategory.htm?code=10001002&uoers","","","300")
					<span >
						#foreach($subCategory in $!{sublist})
                           <a href="#springUrl("/list$!{subCategory.code}.htm")" target="_blank">$!{subCategory.name}</a>
						#end
					</span>
					#end
			</header>
                <section class="ni_newsblock_normal_l ni_newsblock_next_l">
                    <ul class="liststyleblack">
        			#foreach($l in $!{list})
						<li>
							<span class="ni_newsblocklist_tit_wid"><a href="#springUrl('/details')${l.id}.htm" target="_blank" title="${l.title}">#printTitle($!{l.titleIndex} 19 "")</a></span>
							<span class="ni_newsblocklist_date" title='#printFragmentDate("yyyy-MM-dd H:m:s" ${l.gmtPublish})'>#printFragmentDate("yyyy-MM-dd" ${l.gmtPublish})</span>
						</li>
					#end
                    </ul>
                </section>
		</article>
		#end
        
		#cacheFragment("$!{address.fragment}/fragment/news/categoryNews.htm?categoryCode=10001001&size=10&ouewq","","","600")
		<article class="ni_newsblock_normal contblock_345 margintop8 marginleft8 html5radius floatleft">
            <header class="ni_newsblock_normal_h">
				<h3 class="tit"><a href="#springUrl('/list10001001.htm')" target="_blank">政策法规</a></h3>
					#cacheFragment("$!{address.fragment}/fragment/news/newsSubCategory.htm?code=10001001&931","","","300")
					<span >
						#foreach($subCategory in $!{sublist})
                           <a href="#springUrl("/list$!{subCategory.code}.htm")" target="_blank">$!{subCategory.name}</a>
						#end
                    </span>
					#end
			</header>
                <section class="ni_newsblock_normal_l ni_newsblock_next_l">
                    <ul class="liststyleblack">
        			#foreach($l in $!{list})
						<li>
							<span class="ni_newsblocklist_tit_wid"><a href="#springUrl('/details')${l.id}.htm" target="_blank" title="${l.title}">#printTitle($!{l.titleIndex} 18 "")</a></span>
							<span class="ni_newsblocklist_date" title='#printFragmentDate("yyyy-MM-dd H:m:s" ${l.gmtPublish})'>#printFragmentDate("yyyy-MM-dd" ${l.gmtPublish})</span>
						</li>
					#end
                    </ul>
                </section>
		</article>
		#end
        <div class="clear"></div>
    </div>
    
    <div class="contblock_252 floatright margintop8">
    	<article class="ni_newsblock_normal contblock_250 html5radius">
                <header class="ni_newsblock_normal_h"><a href="#springUrl('/zhuanti/index.htm')"><h3 class="tit">热点专题</h3></a></header>
                <section class="ni_newsblock_normal_l ni_newsblock_next_l">
					#cacheFragment("$!{address.fragment}/fragment/news/recommendZhuanti.htm?size=3&adfds","","","600")
            			#foreach($zt in $!{list})
							<div class="ni_hotsub_box">
                                <span class="ni_hotsub_box_img"><a href="$!{zt.targetUrl}"><img src="$!{address.thumb}$!{address.resource}$!{zt.photoPreview}&width=70&height=70" width="70" height="70" /></a></span>
                                <span class="ni_hotsub_box_cont">
                                    <h5 class="epnewstit"><a href="$!{zt.targetUrl}">#printTitle($!{zt.title} 9 "")</a></h5>
                                    <p class="epnewscont">#printTitle($!{zt.review} 17 "")...<a href="$!{zt.targetUrl}" title="查看详情" target="_blank">[详细]</a></p>
                                </span>
                                <div class="clear"></div>
                           </div>
    					#end
					#end
               
                   
                	
                </section>
                <div class="clear"></div>
        </article>
		#cacheFragment("$!{address.fragment}/fragment/company/recommendCompany.htm?categoryCode=10001010&size=30&rige","","","600")
        <article class="ni_newsblock_normal contblock_250 margintop8 html5radius">
                <header class="ni_newsblock_normal_h"><h3 class="tit">推荐公司</h3></header>
                <section class="ni_newsblock_normal_l">
                <div id="topscroll" style="height: 280px">
                    <ul class="liststyleblack">
						 #foreach($l in $!{list})
                            <li><a href="$!{address.esite}/index${l.id}.htm" target="_blank" title="${l.name}">#printTitle($!{l.name} 18 "")</a></li>
						 #end
                    <div class="clear"></div>
                    </ul>
                </div>
                </section>
        </article>
        #end
        <script>
        function Marquee(){
			this.ID = document.getElementById(arguments[0]);
			this.Step = arguments[1];
			this.Width = arguments[2];
			this.Height = arguments[3];
			this.Timer = arguments[4];
			this.WaitTime = arguments[5];
			this.StopTime = arguments[6];
			if(arguments[7]){this.ScrollStep = arguments[7];}else{this.ScrollStep = this.Height;}
			this.CTL = this.StartID = this.Stop = this.MouseOver = 0;
			this.ID.style.overflowX = this.ID.style.overflowY = "hidden";
			this.ID.noWrap = true;
			this.ID.style.width = this.Width;
			this.ID.style.height = this.Height;
			this.ClientScroll = this.ID.scrollHeight;
			this.ID.innerHTML += this.ID.innerHTML;
			this.Start(this,this.Timer,this.WaitTime,this.StopTime);
			}
			Marquee.prototype.Start = function(msobj,timer,waittime,stoptime){
				msobj.StartID = function(){msobj.Scroll();}
				msobj.Continue = function(){
					if(msobj.MouseOver == 1){
						setTimeout(msobj.Continue,waittime);
					}
					else{
						clearInterval(msobj.TimerID);
						msobj.CTL = msobj.Stop = 0;
						msobj.TimerID = setInterval(msobj.StartID,timer);
					}
				}
				msobj.Pause = function(){
					msobj.Stop = 1; 
					clearInterval(msobj.TimerID); 
					setTimeout(msobj.Continue,waittime);
				}
				msobj.Begin = function(){
					msobj.TimerID = setInterval(msobj.StartID,timer);
					msobj.ID.onmouseover = function(){
						msobj.MouseOver = 1; 
						clearInterval(msobj.TimerID);
					}
					msobj.ID.onmouseout = function(){
						msobj.MouseOver = 0; 
						if(msobj.Stop == 0){
							clearInterval(msobj.TimerID); 
							msobj.TimerID = setInterval(msobj.StartID,timer);
						}
					}
				}
				setTimeout(msobj.Begin,stoptime);
			}
			Marquee.prototype.Scroll = function(){
				this.CTL += this.Step;
				if(this.CTL >= this.ScrollStep && this.WaitTime > 0) {
					this.ID.scrollTop += this.ScrollStep + this.Step - this.CTL; 
					this.Pause(); 
					return;
				}
				else { 
					if(this.ID.scrollTop>=this.ClientScroll){
						this.ID.scrollTop -= this.ClientScroll; 
					} 
					this.ID.scrollTop+=this.Step;
				}
			}
			new Marquee(
			    "topscroll", 
			    1,  
			    232, 
			    280, 
			    10,  
			    2000, 
			    1000, 
			    28
		    );
        </script>

      <article class="contblock_250 margintop8 html5radius">
			<script type="text/javascript" src="http://gg.zz91.com/show?p=132"></script>
      </article>
        
    </div>
    <div class="clear"></div>
</section>
