#set($layout="/layout/trade/qymapdefault.vm")

<div class="sonspace"></div>
<div class="header sonmenu_bj">
        <div class="sonmenu_left"></div>
        <div class="sonmenu_cen">
                <ul>
                    <li class="sonmenu_centit"><a href="$!{address.www}">首页</a></li>
                    <li class="sonmenu_centit"><a href="$!{address.www}/ws">污水处理</a></li>
                    <li class="sonmenu_centit"><a href="$!{address.www}/ys">原水处理</a></li>
                    <li class="sonmenu_centit"><a href="$!{address.www}/kq">空气净化</a></li>
                    <li class="sonmenu_centit"><a href="$!{address.www}/yj">材料药剂</a></li>
                    <li class="sonmenu_centit"><a href="$!{address.www}/beng">泵</a></li>
                    <li class="sonmenu_centit"><a href="$!{address.www}/fa">阀</a></li>
                    <li class="sonmenu_centit"><a href="$!{address.www}/fj">风机</a></li>
                    <li class="sonmenu_centit"><a href="$!{address.www}/hw">环卫设备</a></li>
                    <li class="sonmenu_centit"><a href="$!{address.www}/yqyb">仪器仪表</a></li>
                    <li class="sonmenu_centit"><a href="$!{address.www}/zh">综合设备</a></li>
                </ul>
        </div>
        <div class="sonmenu_right"></div>
        <div class="clear"></div>
</div>
<div class="sonspace"></div>
<div class="header">
  <div class="qyleft_oneclass">
			<div class="qyleft_oneclass_cpinfo">
				<ul >
					 #foreach($list in $!{page.records})
						<li><a href="#springUrl('/trade')/buy/detail$!{list.buy.id}.htm" target="_blank">#printTitle($!{list.buy.title} 18 "")</a></li>
					 #end
                </ul>
			<div class="clear"></div>
            </div>
			<div class="qypage">
				#if($!{search.category})
    					#set($sc="-c"+$!{search.category})
    			#end
				#staticPageNavp($!{page} "#springUrl('/trade/newb')" "$!{sc}" "")
			</div>
   </div>
</div>
