<div class="myrc-site-nav">
	<div class="wrapper">
		<div class="login-info">
			<span>欢迎您，$!{sessionUser.account}</span>
			<a href="$!{address.front}/logout.htm">退出</a>
		</div>
		<div class="quick-menu">
			<ul>
				<li><a href="../index.htm">塑料网首页</a></li>
				<li>|</li>
				<li><a href="#">塑料服务</a></li>
				<li>|</li>
				<li><a href="#">网站导航</a></li>
			</ul>
		</div>
	</div>
</div>