<div class="wrap st2 mt">
	<div class="wt"><h3>成功网商</h3></div>
    <div class="wc rank">
        <ul class="listBlack">
    	#foreach($c in $companyList)
            <li>
				#if( ${c.domainZz91} && ${c.domainZz91}!="" )
					<a href='http://${c.domainZz91}.zz91.com' target='_blank' class='a1' title='$!{c.name}'>
				#else
					<a href='#springUrl("/compinfo")$!{c.id}.htm' target='_blank' class='a1' title='$!{c.name}'>
				#end
					#printTitle($!{c.name} 18 "")
				</a>
			</li>
    	#end
    	</ul>
     </div>
</div>	 

<div class="wrap mt st2">
    <div class="wt"><h3 class="">热门地区产品</h3></div>
    <div class="wc plastic y clearfix">
        <ul class="plas_ul">
			<li ><a href="#springUrl('/')index-b10001001-c100110001010-p.htm">	浙江废金属</a></li>
			<li ><a href="#springUrl('/')index-b10001002-c100110001010-p.htm">	浙江废纸</a></li>
			<li ><a href="#springUrl('/')index-b10001002-c100110001010-p.htm">	浙江废塑料 </a></li>
			<li ><a href="#springUrl('/')index-b10001003-c100110001010-p.htm">	浙江废橡胶</a></li>
			<li ><a href="#springUrl('/')index-b10001004-c100110001010-p.htm">	浙江废纺织废皮革 </a></li>
			<li ><a href="#springUrl('/')index-b10001005-c100110001010-p.htm">	浙江废电子电器</a></li>
			<li ><a href="#springUrl('/')index-b10001006-c100110001010-p.htm">	浙江废玻璃 </a></li>
			<li ><a href="#springUrl('/')index-b10001007-c100110001010-p.htm">	浙江二手设备</a></li>
			<li ><a href="#springUrl('/')index-b10001003-c100110001014-p.htm">	山东废橡胶</a></li>
			<li ><a href="#springUrl('/')index-b10001004-c100110001014-p.htm">	山东废纺织</a></li>
			<li ><a href="#springUrl('/')index-b10001007-c100110001014-p.htm">	山东二手设备 </a></li>
			<li ><a href="#springUrl('/')index-b10001002-c100110001014-p.htm">	山东废纸</a></li>
			<li ><a href="#springUrl('/')index-b10001001-c100110001014-p.htm">	山东废金属</a></li>
			<li ><a href="#springUrl('/')index-b10001000-c100110001014-p.htm">	山东废塑料</a></li>
			<li ><a href="#springUrl('/')index-b10001003-c100110001018-p.htm">	广东废橡胶</a></li>
			<li ><a href="#springUrl('/')index-b10001004-c100110001018-p.htm">	广东废纺织</a></li>
			<li ><a href="#springUrl('/')index-b10001007-c100110001018-p.htm">	广东二手设备</a></li>
			<li ><a href="#springUrl('/')index-b10001002-c100110001018-p.htm">	广东废纸</a></li>
			<li ><a href="#springUrl('/')index-b10001001-c100110001018-p.htm">	广东废金属</a></li>
			<li ><a href="#springUrl('/')index-b10001000-c100110001018-p.htm">	广东废塑料</a></li>
			<li ><a href="#springUrl('/')index-b10001003-c100110001009-p.htm">	江苏废橡胶</a></li>
			<li ><a href="#springUrl('/')index-b10001004-c100110001009-p.htm">	江苏废纺织</a></li>
			<li ><a href="#springUrl('/')index-b10001007-c100110001009-p.htm">	江苏二手设备 </a></li>
			<li ><a href="#springUrl('/')index-b10001002-c100110001009-p.htm">	江苏废纸</a></li>
			<li ><a href="#springUrl('/')index-b10001001-c100110001009-p.htm">	江苏废金属</a></li>
			<li ><a href="#springUrl('/')index-b10001000-c100110001009-p.htm">	江苏废塑料</a></li>
		</ul>
	</div>

</div>

<div class="wrap st2 mt">
	<div class="wt"><h3> 最新公司库供求</h3></div>
    <div class="wc rank">
        <ul class="rank_ul listBlack">
			#cacheFragment("$!{address.fragment}/trade/newestTrade.htm?mainCode=&typeCode=10331000&size=5&21", "", "", "")
			#foreach($products in $productsList)
				<li>
					<a target="_blank" href="$!{address.trade}/productdetails$!{products.id}.htm"  title="$!{products.title}">
						<font color='#CC6600'>供应</font>#printTitle($!{products.title} 17 "")
					</a>
					<span>#printFragmentDate('MM-dd'  $!{products.refreshTime})</span>
				</li>
			#end
			#end
	
			#cacheFragment("$!{address.fragment}/trade/newestTrade.htm?mainCode=&typeCode=10331001&size=5&12", "", "", "")
			#foreach($products in $productsList)
				<li>
					<a target="_blank" href="$!{address.trade}/productdetails$!{products.id}.htm"  title="$!{products.title}">
						<font color='#CC6600'>求购</font>#printTitle($!{products.title} 15 "")
					</a>
					<span>#printFragmentDate('MM-dd'  $!products.refreshTime)</span>
				</li>
			#end
			#end
		</ul>
	</div>
 </div>
 


