<!--
推荐厂商
Add By Rolyer
-->
 <div class="businesscenter_right_title">推荐厂商</div>
 <div class="businesscenter_right_content">
	<ul id="recommend">
		#foreach($rv in $recommendedVendors)
			<li><a href="$!{rv.id}" target=_blank>$!{rv.name}</a></li>
		#end
	  </ul>
 </div>

<SCRIPT type=text/javascript>
		try{
			slideLine('recommend', 2500, 20, 20);
			slideLine('quiekoffer1', 2500, 20, 20);
		}catch(e) {}
	function slideLine(ul, delay, speed, lh) {
			var slideBox = (typeof ul == 'string')?document.getElementById(ul):ul;
			var delay = delay||1000, speed=speed||20, lh = lh||20;
			var tid = null, pause = false;
			var start = function() {
				tid=setInterval(slide, speed);
			}
			var slide = function() {
				if (pause) return;
				slideBox.scrollTop += 2;	
				if (slideBox.scrollTop % lh == 0) {
					clearInterval(tid);
					slideBox.appendChild(slideBox.getElementsByTagName('li')[0]);
					slideBox.scrollTop = 0;
					setTimeout(start, delay);
				}
			}
			slideBox.onmouseover=function(){pause=true;}
			slideBox.onmouseout=function(){pause=false;}
			setTimeout(start, delay);
		  }
</SCRIPT>