<!--main leader start-->
<section class="hb_positionleader">
     <span class="hb_leader_tit">
		<a href="$!{address.www}">首页</a> 
		&gt; 
		<a href="$!{address.exhibit}">环保展会</a> 
	 </span>
     <span class="hb_leader_tip">本周新增客户：<font class="fontorange">$!{weekAddAccount}</font>人</span>
     <div class="clear"></div>
</section>
<!-- main header end-->

<!--et center  main block start-->
<section class="hb_mainblock">
        <div  class="et_section1_l borderwhitegray html5radius floatleft" id="hbslide">
			<div class="toggleImg">
				<script type="text/javascript" src="http://gg.zz91.com/show?p=154"></script>
			</div>
			<div class="toggleBtn"></div> 
		</div>       
        <div class="et_section1_m marginleft8 ie6heighthacker floatleft">	
            <article class="et_section1_m_above borderwhitegray html5radius">
				#cacheFragment("$!{address.fragment}/fragment/exhibit/categoryExhibitDtos.htm?categoryCode=10001009&size=3","","","600")
                   <header class="et_section1_m_abheader">
                              <h3 class="paddingleft14 borderlightgreen-btm fontlightgreen html5radius"><a href="#springUrl('/list')10001009.htm"  target="_blank">环保展会预告</a></h3>
                   </header>
				   #if($!{list.size()} > 0)
						#set($topet = ${list.get(0)})
                           <section class="et_section1_m_sect1 backgroundgreen html5radius">
                                   <h3><a href="#springUrl('/details')${topet.exhibit.id}.htm" target="_blank" class="fontlightgreen" title="${topet.exhibit.name}">#printTitle(${topet.exhibit.name} 20 "")</a></h3>
                                   <div class="et_section1_m_sect1_ul marginleft20 marginright20">
                                       <p class="ext_items">
                                           <span class="itemsleft">开展时间：</span>
                                           <span class="itemsright">#printFragmentDate("yyyy-MM-dd" ${topet.exhibit.gmtStart}) 至 #printFragmentDate("yyyy-MM-dd" ${topet.exhibit.gmtEnd})</span>
                                       </p>
                                      
                                       <p class="ext_items">
                                          <span class="itemsleft">展览地点：</span>
                                          <span class="itemsright">$!{topet.exhibit.showName}</span>
                                       </p>
                                     
                                       <p class="ext_items">
                                           <span class="itemsleft"><font class="paddingright2em">行</font>业：</span>
                                           <span class="itemsright">$!{topet.industryCategoryName}</span>
                                       </p>
                                      
                                       <p class="ext_items">
                                           <span class="itemsleft"><font class="paddingright05em">主</font><font class="paddingright05em">办</font>方：</span>
                                           <span class="itemsright">#printTitle($!{topet.exhibit.organizers} 20 '')</span>
                                       </p>
    							 </div>
                           </section>
				   #end
					   <section class="et_section1_m_sect1_ul2 marginleft20 marginright20">
                            <ul>
								#foreach($li in $list)	
									#if($velocityCount>1)
                                       <li>
                                           <span>#printFragmentDate("yyyy-MM-dd" ${li.exhibit.gmtStart})</span>
                                           <span class="marginleft8"><a href="#springUrl('/details')${li.exhibit.id}.htm" title="${li.exhibit.name}" target="_blank">#printTitle(${li.exhibit.name} 20 '')</a></span>
                                       </li>
									#end
								#end 
							<div class="clear"></div>
                            </ul>   
                       </section>
				   <div class="clear"></div>
				#end
            </article>
			<div class="clear"></div>
            <article class="et_section1_m_below margintop8 borderwhitegray html5radius ie6heighthacker">
                   <header>
						<h3 class="paddingleft14 fontlightgreen et_bg html5radius">精彩回顾</h3>
                   </header>
                   <section class="carousel default ext_index_marquee">
                        <div class="gc_cont" id="gc_cont">	
                                <div class='indSlid_prev' id="prev_scroll"><a href="#this"></a></div>
                                <div class='indSlid_next' id="next_scroll"><a href="#this"></a></div>
                                <div class="new_cont_marq">
                                        <div id="new_cont_inside">
                        					<script type="text/javascript" src="http://gg.zz91.com/show?p=330"></script>
                                        </div>
                                </div>
                        </div>
                   </section> 
				    <div class="clear"></div>
            </article>
        </div>
        <div class="et_section1_r marginleft8 floatright">
            <div class="et_section1_r_above html5radius">
				#parse("/common/searchExhibit.vm")
            </div>
            <div class="et_section1_r_img margintop8 html5radius"><script type="text/javascript" src="http://gg.zz91.com/show?p=157"></script></div>
		</div>
         <div class="clear"></div>
</section>

<!--横幅广告 start-->
<section class="hb_mainblock margintop8">
       <div class="et_section2_img1"><script type="text/javascript" src="http://gg.zz91.com/show?p=156"></script></div>
       <div class="clear"></div>
</section>
<!--横幅广告 end-->

#parse('/common/indexList.vm')

#parse('/common/indexServBox.vm')
<!--百度联盟广告-->
#parse('/common/baiduSpread.vm')

#parse('/common/indexPartner.vm')

<script src="$!{address.img}/huanbao/js/hb.slide.js"></script>
<script>
		//幻灯初始化
		var s = new hb.exhibit.slide();
	    s.indexleftSlide({conter:"#hbslide",spd:500,intval:5000});
	
		//marquee
       //jQuery(".default .jCarouselLite").jCarouselLite({
       //     btnNext: ".default .ext_next",
       //     btnPrev: ".default .ext_prev"
       //});
	   //serverbox tab
		var extservbox =  new hb.exhibit.mtab()
        extservbox.exttabs({
    		tabbox:"#ext_servBox",
    		tabnav:"#ext_sBox_nav",
    		tabcont:"#ext_sBox_conts"
        });
		extservbox.IndexList();


jQuery(document).ready(function() {
jQuery('#new_cont_inside a:first').before(jQuery('#new_cont_inside a:last'));    
jQuery('#next_scroll a').click(function(){
var item_width = jQuery('#new_cont_inside a').outerWidth() + 8;
var left_indent = parseInt(jQuery('#new_cont_inside').css('left')) - item_width;
jQuery('#new_cont_inside:not(:animated)').animate({'left' : left_indent},500,function(){    
jQuery('#new_cont_inside a:last').after(jQuery('#new_cont_inside a:first')); 
jQuery('#new_cont_inside').css({'left' : '0px'});
}); 
});
jQuery('#prev_scroll a').click(function(){            
var item_width = jQuery('#new_cont_inside a').outerWidth() + 8;
var left_indent = parseInt(jQuery('#new_cont_inside').css('left')) + item_width;

jQuery('#new_cont_inside:not(:animated)').animate({'left' : left_indent},500,function(){            
jQuery('#new_cont_inside a:first').before(jQuery('#new_cont_inside a:last')); 
jQuery('#new_cont_inside').css({'left' : '0px'});
});  
});
});
</script>
<!--et center  main block end-->
