        <link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
        <link rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.base.css" />
        <link rel="stylesheet" href="http://img0.zz91.com/zz91/polymer/css/library-cp.css" />
        <script src="http://img0.zz91.com/lib/jquery/jquery-1.9.1.js"></script> 
        <script src="http://img0.zz91.com/zz91/polymer/js/comm.js"></script>  
		#set($layout="layout/yuanliaoLayout.vm")
		#set($in="3")
		#set($inflag=2)
		<style >
			a {
				cursor:pointer;
			}
        </style>
        <div class="pagecenter">
            <div class="clearfix firmindex-mo">
                <div class="fl firmindex-left clearfix">
                    <div class="addnews fl">
                        <div class="addnews-top clearfix">
                            <h3 class="fl">最新加入企业</h3>
                            <span class="fr addnews-all-firm">已加入<em class="red">2150</em>家企业</span>
                        </div>
                        <ul class="addnews-list">
							#foreach($in in $obj)
                            <li><a href="#springUrl('/comp')/detail$!{in.id}.html" target="_blank">$!{in.name}</a></li>
							#end
                        </ul>
                    </div>
                    <div class="firmband fr">
                        <div class="bandmain"></div>
                        <div class="band-pct">
                            <ul class="band-pct-ul clearfix">
                              #cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/indexByCode.htm?code=10231008&size=4", "", "", "")
                              #foreach($index in $!list)
								<li>
                                    <div class="band-pct-img"><a href="$!{index.link}" target="_blank"><img src="$!{address.resource}/$!{index.pic}" width="143" height="110" /></a></div>
                                    <p class="band-pct-name"> <a href="$!{index.link}" target="_blank">#printTitle($!{index.title} 8 '...')</a></p>
                                </li>
							  #end
							  #end
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="fr firmindex-right">
                    <div class="joinfirm">
                        <div class="jointitle">欢迎加入企业库</div>
                        <div class="joinmain">
                            <div class="cangain">您可以获得：</div>
                            <ul class="cangain-list">
                                <li><i class="dian"></i>搜索最新产品，寻求最新货源</li>
                                <li><i class="dian"></i>查看求购信息，寻找最新商机</li>
                                <li><i class="dian"></i>提供更全面的产品、企业推广</li>
                            </ul>
                            <a href="#springUrl('/user/register.html')" target="_blank" class="joinbtn">免费加入企业库</a>
                        </div>
                        <div class="resenews">
                            <h3 class="resetitle">免费发布信息</h3>
                            <p class="gorese">想要获取商机，立即 <a  class="resebtn">发布原料信息</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix firmindex-mo">
                <div class="fl firmindex-left">
                    <h2 class="titletop">企业分类</h2>
                    <div class="allfmtype">
                        <div class="clearfix allfmtype-mo">
                            <div class="fl fmtype-lf">
                                <h3 class="smfm">通用塑料</h3>
                                <div class="allfm-list clearfix">
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('abs')}.htm" target="_blank">ABS</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('gpps')}.htm" target="_blank">GPPS</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('hdpe')}.htm" target="_blank">HDPE</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('hips')}.htm" target="_blank">HIPS</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('ldpe')}.htm" target="_blank">LDPE</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('lldpe')}.htm" target="_blank">LLDPE</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pp')}.htm" target="_blank">PP</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pvc')}.htm" target="_blank">PVC</a></span>
                                    <span class="moreft"><a href="#springUrl('/comp/list-c')$!{prentMap.get('qttysl')}.htm" target="_blank">其他通用塑料</a></span>
                                </div>
                            </div>
                            <div class="fr fmtype-rt">
                                <h3 class="smfm">工程塑料</h3>
                                <div class="allfm-list clearfix">
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('as')}.htm" target="_blank">AS</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('asa')}.htm" target="_blank">ASA</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('eps')}.htm" target="_blank">EPS</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('eva')}.htm" target="_blank">EVA</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('kj')}.htm" target="_blank">K胶</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('mbs')}.htm" target="_blank">MBS</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pa1010')}.htm" target="_blank">PA1010</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pa11')}.htm" target="_blank">PA11</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pa12')}.htm" target="_blank">PA12</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pa46')}.htm" target="_blank">PA46</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pa6')}.htm" target="_blank">PA6</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pa610')}.htm" target="_blank">PA610</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pa612')}.htm" target="_blank">PA612</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pa66')}.htm" target="_blank">PA66</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pa6t')}.htm" target="_blank">PA6T</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pa9t')}.htm" target="_blank">PA9T</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pbt')}.htm" target="_blank">PBT</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pc')}.htm" target="_blank">PC</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pet')}.htm" target="_blank">PET</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pla')}.htm" target="_blank">PLA</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pmma')}.htm" target="_blank">PMMA</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pom')}.htm" target="_blank">POM</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('ppo')}.htm" target="_blank">PPO</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('ppe')}.htm" target="_blank">PPE</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('tpu')}.htm" target="_blank">TPU</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('slsz')}.htm" target="_blank">沙林树脂</a></span>
                                    <span class="moreft"><a href="#springUrl('/comp/list-c')$!{prentMap.get('qtgcsl')}.htm" target="_blank">其他工程塑料</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix allfmtype-mo">
                            <div class="fl fmtype-lf">
                                <h3 class="smfm">特种塑料</h3>
                                <div class="allfm-list clearfix">
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('lcp')}.htm" target="_blank">LCP</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pai')}.htm" target="_blank">PAI</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('peek')}.htm" target="_blank">PEEK</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pei')}.htm" target="_blank">PEI</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pes')}.htm" target="_blank">PES</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pfa')}.htm" target="_blank">PFA</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pi')}.htm" target="_blank">PI</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pps')}.htm" target="_blank">PPS</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('psu')}.htm" target="_blank">PSU</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('ptfe')}.htm"　target="_blank">PTFE</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pvdf')}.htm"　target="_blank">PVDF</a></span>
                                    <span class="moreft"><a href="#springUrl('/comp/list-c')$!{prentMap.get('qttzsl')}.htm" target="_blank">其他特种塑料</a></span>
                                </div>
                            </div>
                            <div class="fr fmtype-rt">
                                <h3 class="smfm">塑料合金</h3>
                                <div class="allfm-list clearfix">
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pa-abs')}.htm" target="_blank">PA/ABS</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pbt-abs')}.htm" target="_blank">PBT/ABS</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pbt-asa')}.htm" target="_blank">PBT/ASA</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pc-abs')}.htm" target="_blank">PC/ABS</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pc-pbt')}.htm" target="_blank">PC/PBT</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pc-pet')}.htm" target="_blank">PC/PET</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pc-ps')}.htm" target="_blank">PC/PS</a></span>
                                    <span><a href="#springUrl('/comp/list-c')$!{prentMap.get('pa-ptfe')}.htm" target="_blank">PA/PTFE</a></span>
                                    <span class="moreft"><a href="#springUrl('/comp/list-c')$!{prentMap.get('qtslhj')}.htm" target="_blank">其他塑料合金</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr firmindex-right">
                    <h2 class="titletop">热门地区</h2>
                    <div class="areahot clearfix">
                        <div class="areahot-cp fl">
							#cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/indexByCode.htm?code=1023101010041000&size=1","","","")
							#foreach($index in $!list)
                            <div class="areahot-img"><a href="$!{index.link}" target="_blank"><img src="$!{address.resource}/$!{index.pic}" width="98" height="43"></a></div>
                            <p class="areahot-tt"><a href="$!{index.link}" target="_blank">通用塑料</a></p>
							#end
							#end
                        </div>
                        <div class="areahot-list fr">
                            <ul class="areahot-list-ul">
						#cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/indexByCode.htm?code=102310101000&size=9","","","")
							#foreach($index in $!list)
                                <li><a href="$!{index.link}" target="_blank">$!{index.title}</a></li>
							#end
						#end
                            </ul>
                        </div>
                    </div>
                    <div class="areahot clearfix">
                        <div class="areahot-cp fl">
                            #cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/indexByCode.htm?code=1023101010041001&size=1","","","")
							#foreach($index in $!list)
                            <div class="areahot-img"><a href="$!{index.link}" target="_blank"><img src="$!{address.resource}/$!{index.pic}" width="98" height="43"></a></div>
                            <p class="areahot-tt"><a href="$!{index.link}" target="_blank">工程塑料</a></p>
							#end
							#end
                        </div>
                        <div class="areahot-list fr">
                            <ul class="areahot-list-ul">
							#cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/indexByCode.htm?code=102310101001&size=9","","","")
							#foreach($index in $!list)
                                <li><a href="$!{index.link}" target="_blank">$!{index.title}</a></li>
								#end
							#end
                            </ul>
                        </div>
                    </div>
                    <div class="areahot clearfix">
                        <div class="areahot-cp fl">
							#cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/indexByCode.htm?code=1023101010041002&size=1","","","")
							#foreach($index in $!list)
							<div class="areahot-img"><a href="$!{index.link}" target="_blank"><img src="$!{address.resource}/$!{index.pic}" width="98" height="43"</a></div>
                            <p class="areahot-tt"><a href="$!{index.link}" target="_blank">特种塑料</a></p>
							#end
							#end
                        </div>
                        <div class="areahot-list fr">
                            <ul class="areahot-list-ul">
                            #cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/indexByCode.htm?code=102310101002&size=9","","","")
							#foreach($index in $!list)
                                <li><a href="$!{index.link}" target="_blank">$!{index.title}</a></li>
								#end
							#end
                            </ul>
                            </ul>
                        </div>
                    </div>
                    <div class="areahot clearfix">
                        <div class="areahot-cp fl">
							#cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/indexByCode.htm?code=1023101010041003&size=1","","","")
							#foreach($index in $!list)
							<div class="areahot-img"><a href="$!{index.link}" target="_blank"><img src="$!{address.resource}/$!{index.pic}" width="98" height="43"</a></div>
                            <p class="areahot-tt"><a href="$!{index.link}" target="_blank">塑料合金</a></p>
							#end
							#end
                        </div>
                        <div class="areahot-list fr">
                            <ul class="areahot-list-ul">
                            #cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/indexByCode.htm?code=102310101003&size=9","","","")
							#foreach($index in $!list)
                                <li><a href="$!{index.link}" target="_blank">$!{index.title}</a></li>
								#end
							#end
                            </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix firmindex-mo">
                <div class="fl firmindex-left">
                    <div class="high-firm-top clearfix">
                        <h2 class="high-firm-title fl">优质供应商推荐</h2>
                        <div class="high-firm-type fr">
                            <span class="thisfty">通用塑料</span>
                            <span>工程塑料</span>
                            <span>特种塑料</span>
                            <span>塑料合金</span>
                        </div>
                    </div>

                    <div class="high-firm-list" style="display: block;">
                        <div class="clearfix firm-list-tg">
                            <span class="fl gsxif1">公司名称</span>
                            <span class="fl gsxif2">主营业务</span>
                            <span class="fl gsxif3">所在地区</span>
                        </div>
                        <ul class="firm-list-ul">
						#cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/indexByCode.htm?code=102310091000&size=9","","","")
							#foreach($index in $!list)
                            <li class="clearfix">
                                <span class="fl gsxif1"><a href="$!{index.marketWords}" target="_blank">#printTitle($!{index.company.name} 12 '...')</a></span>
                                <span class="fl gsxif2">#if($!{index.company.business}) #printTitle($!{index.company.business} 35 '...')  #end</span>
                                <span class="fl gsxif3">$!{index.address}</span>
                            </li>
							#end
						#end
                        </ul>
                    </div>

                    <div class="high-firm-list">
                        <div class="clearfix firm-list-tg">
                            <span class="fl gsxif1">公司名称</span>
                            <span class="fl gsxif2">主营业务</span>
                            <span class="fl gsxif3">所在地区</span>
                        </div>
                        <ul class="firm-list-ul">
                            #cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/indexByCode.htm?code=102310091001&size=9","","","")
							#foreach($index in $!list)
                            <li class="clearfix">
                                <span class="fl gsxif1"><a href="$!{index.marketWords}" target="_blank">#printTitle($!{index.company.name} 12 '...')</a></span>
                                <span class="fl gsxif2">#if($!{index.company.business}) #printTitle($!{index.company.business} 35 '...') #end</span>
                                <span class="fl gsxif3">$!{index.address}</span>
                            </li>
							#end
							#end
                        </ul>
                    </div>

                    <div class="high-firm-list">
                        <div class="clearfix firm-list-tg">
                            <span class="fl gsxif1">公司名称</span>
                            <span class="fl gsxif2">主营业务</span>
                            <span class="fl gsxif3">所在地区</span>
                        </div>
                        <ul class="firm-list-ul">
                            #cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/indexByCode.htm?code=102310091002&size=9","","","")
							#foreach($index in $!list)
                            <li class="clearfix">
                                <span class="fl gsxif1"><a href="$!{index.marketWords}" target="_blank">#printTitle($!{index.company.name} 12 '...')</a></span>
                                <span class="fl gsxif2">#if($!{index.company.business}) #printTitle($!{index.company.business} 35 '...') #end</span>
                                <span class="fl gsxif3">$!{index.address}</span>
                            </li>
							#end
							#end
                        </ul>
                    </div>

                    <div class="high-firm-list">
                        <div class="clearfix firm-list-tg">
                            <span class="fl gsxif1">公司名称</span>
                            <span class="fl gsxif2">主营业务</span>
                            <span class="fl gsxif3">所在地区</span>
                        </div>
                        <ul class="firm-list-ul">
                           #cacheFragment("$!{address.yuanliaoFragment}/fragment/yuanliao/indexByCode.htm?code=102310091003&size=9","","","")
							#foreach($index in $!list)
                             <li class="clearfix">
                                <span class="fl gsxif1"><a href="$!{index.marketWords}" target="_blank">#printTitle($!{index.company.name} 12 '...')</a></span>
                                <span class="fl gsxif2">#if($!{index.company.business}) #printTitle($!{index.company.business} 35 '...') #end</span>
                                <span class="fl gsxif3">$!{index.address}</span>
                            </li>
							#end
							#end
                        </ul>
                    </div>
                </div>
                <div class="fr firmindex-right">
                    <div class="mesgnew">
                        <h2 class="titletop titletop">塑料资讯</h2>
                        <ul class="mesgnew-list">
							#foreach($in in $!{js})
                            <li class="clearfix">
								<span class="fl mesgnew-name"><a href="$!{in.weburl}" target="_blank">#printTitle($!{in.title} 20 '...')</a></span>
                                <span class="fr color-66">$!{in.pubdate}</span>
                            </li>
							#end
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <script type="text/javascript">
       stObj("high-firm-type span","thisfty","click","high-firm-list");
	   $(".resebtn").click(function(){
	   		#if($!{sessionUser})
			window.open('$!{address.myrc}/myyuanliao/office_post1.htm');
			#else
			window.open('$!{address.yuanliao}/user/login.html?url=$!{address.myrc}/myyuanliao/office_post1.htm');
	   		#end
	   })
	   
    </script>
