<div class="subTitle">
<h4><a href="http://forum.zz91.com" target="_blank">再生互助</a></h4>
<div class="line"></div>
<div class="more"><a href="http://forum.zz91.com" target="_blank">&gt;&gt;更多</a></div>
</div>
<div class=cb></div>
<div id="help" align="left">
<div style="border:1px dashed #ccc;width:90%;margin-left:10px;">
<h5 align="center">
<a href='http://bbs.zz91.com/forum_show55672.html' target='_blank' title='pet瓶片加温发黄，客户老投诉。'>pet瓶片加温发黄，客户老投诉。</a>
</h5>
<div style="color:#666666; margin-left:5px;"><a href='http://bbs.zz91.com/forum_show55672.html' target='_blank'><font color=#666666>pet瓶片加温发黄，客户老投诉。首先小弟用</font></a></div>
</div>
<div class="left">
<ul>
#foreach($help in $helps)
	<li>·<a href='http://bbs.zz91.com/forum_show$!{help.helpID}.html' target='_blank' title='PET双面滑'>$!{help.helpName}</a></li>
#end 
</ul>
</div>
<div style="float:left; margin-bottom:3px;text-align:center;width:100%"><div style=''><a href='http://bbs.zz91.com/forum_show53649.html' target=_blank><img src='http://img.zz91.com/upimages/upload/2009/9/24103846.gif' border=0 alt='互助'></a></div></div>
</div>