<div class="subTitle">
<h4><a href="cn/news_More21.html" target="_blank">技术讲坛</a></h4>
<div class="line"></div>
<div class="more"><a href="cn/news_More21.html" target="_blank">&gt;&gt;更多</a></div>
</div>
<div id="tech" align="left">
<h5>
<a href='http://www.kl91.com/Article/New65907.html' target='_blank'  title='废旧塑料回收再生料的方法'>废旧塑料回收再生料的方法</a>
</h5>
<div class="subNav"> <a href="cn/news_More2101.html" target="_blank">废塑料</a> <a href="cn/news_More2102.html" target="_blank">废金属</a> <a href="cn/news_More2103.html" target="_blank">废纸橡胶</a> <a href="/cn/magazine" target="_blank"><strong>中国《资源再生》</strong></a> </div>
<div class="list">
#zz91UlTag('',"http://www.zz91.com/cn/offerlist",$newsList)
</div>
<div align="center"><div style=''><a href='http://www.kl91.com' target=_blank><img src='http://img.zz91.com/upimages/upload/2009/7/3164339.gif' border=0 alt='塑料颗粒网'></a></div></div>
</div>