    <div class="bodyCont moveChild mb">
    	<div class="bodyContTitle"> 
            <span class="titleLinkColor titleName t">认证信息</span>
        </div>
    	<div class="bodyContContent rightConteWidth">
    		<div class="bodyContContentRightCont mainTextColor">
    			<div class="AuthenticationInformation">
                	<div class="ai-title">
    					#if($!{attest.attestType} == "1")
                    	<span class="ai-title-left">
    						工商注册信息
    					</span>
    					#end
    					该信息于#printFragmentDate("yyyy年MM月dd日" $!{attest.checkTime})通过ZZ91再生网认证
                    </div>
                    <!--end ai-title-->
    				#if($!{attest.attestType} == "1")
                    <table class="ai-table">
                    	<tr>
                        	<td class="w120 fb f14 table-center">公司名称</td>
                            <td class="w232">$!{attest.companyName}</td>
                            <td class="w120 fb f14 table-center">注册号</td>
                            <td class="w232">$!{attest.registerCode}</td>
                        </tr>
                        <tr>
                        	<td class="w120 fb f14 table-center">注册地址</td>
                            <td class="w232">$!{attest.registerAddr}</td>
                            <td class="w120 fb f14 table-center">法定代表人</td>
                            <td class="w232">$!{attest.legal}</td>
                        </tr>
                         <tr>
                        	<td class="w120 fb f14 table-center">注册资本</td>
                            <td class="w232">人民币 $!{attest.registerCapital} 万元 </td>
                            <td class="w120 fb f14 table-center">公司类型</td>
                            <td class="w232">$!{attest.serviceType}</td>
                        </tr>
                         <tr>
                        	<td class="w120 fb f14 table-center">成立时间</td>
                            <td class="w232">#printFragmentDate("yyyy年MM月dd日" $!{attest.establishTime})</td>
                            <td class="w120 fb f14 table-center">营业期限</td>
                            <td class="w232">#printFragmentDate("yyyy年MM月dd日" $!{attest.startTime})至#printFragmentDate("yyyy年MM月dd日" $!{attest.endTime})</td>
                        </tr>
                         <tr>
                        	<td class="w120 fb f14 table-center">登记机关</td>
                            <td class="w232">$!{attest.organization}</td>
                            <td class="w120 fb f14 table-center">年检时间</td>
                            <td class="w232">$!{attest.inspectionTimeStr}</td>
                        </tr>
                        <tr>
                        	<td class="w120 fb f14 table-center">经营范围</td>
                            <td class="w232">$!{attest.business}</td>
                            <td class="w120 fb f14 table-center">申请人</td>
    						
                            <td class="w232">$!{attest.applicant}</td>
                            
                        </tr>
                    </table>
    				#else
                        <table class="ai-table">
                        	<tr>
                            	<td class="w120 fb f14 table-center">公司名称</td>
                                <td class="w232">$!{attest.companyName}</td>
                                <td class="w120 fb f14 table-center">公司地址</td>
                                <td class="w232">$!{attest.companyAddr}</td>
                            </tr>
                            <tr>
                            	<td class="w120 fb f14 table-center">身份证号码</td>
                                <td class="w232">$!{attest.idNumber}</td>
                                <td class="w120 fb f14 table-center">联系人</td>
                                <td class="w232">
									$!{attest.contact}
									#if($!{attest.sex}=="0")
            							先生
            						#else
            							女士
            						#end
								</td>
                            </tr>
                             <tr>
                            	<td class="w120 fb f14 table-center">电    话</td>
                                <td class="w232">$!{attest.tel}</td>
                                <td class="w120 fb f14 table-center">手    机</td>
                                <td class="w232">$!{attest.mobile}</td>
                            </tr>
                             <tr>
                            	<td class="w120 fb f14 table-center">主营行业</td>
                                <td class="w232">$!{attest.industry}</td>
                                <td class="w120 fb f14 table-center">服务类型</td>
                                <td class="w232">$!{attest.serviceType}</td>
                            </tr>
                             <tr>
                            	<td class="w120 fb f14 table-center">经营范围</td>
                                <td class="w232">$!{attest.business}</td>
                                <td class="w120 fb f14 table-center">申请人</td>
                                <td class="w232">$!{attest.applicant}</td>
                            </tr>
                        </table>
    				#end
                    <div class="zhang">
                    	<img src="http://img0.zz91.com/zz91/sincerity/images/zhang.gif">
                    </div>
                    <!--end zhang-->
                </div>
                <!--end AuthenticationInformation-->
            </div>
        </div>
    </div>
