#set( $layout = "/layout/myesiteLayout.vm" )
<div id="content2" class="bodyRight filter filterDom">
	#foreach($mainConfigList in $!{mainConfig})
		#if($!{mainConfigList.id}!="")
			#parse("/myesite/main/$!{mainConfigList.id}.vm")
		#end
	#end
</div>
