<div class="top_bar">
    <div class="container">
        <h1 class="grid_2 brand"><a href="#springUrl('/index.htm')" >生意管家</a></h1>
        <ul class="grid_6 top_nav">
            <li class="divider"></li>
            <li><a href="$!{address.www}" target="_blank">首页</a></li>
            <li><a href="$!{address.trade2}" target="_blank">产品中心</a></li>
            <li><a href="$!{address.trade}/buy/index.htm" target="_blank">买家中心</a></li>
            <li><a href="$!{address.news}" target="_blank">资讯中心</a></li>
            <li><a href="$!{address.exhibit}" target="_blank">展会频道</a></li>
            <li><a href="$!{address.company}" target="_blank">公司黄页</a></li>
			<li><a href="$!{address.mblog}" target="_blank">微交流</a></li>
        </ul>
        <form name="topSearch" id="topSearch" class="fr" method="GET" action="$!{address.trade2}/list.htm" target="_blank">
            <dl class="select" id="Js_select">
                <dt><em data-option="0">供应</em><span>&#9660;</span></dt>
                <dd>
                    <p data-option="0">供应</p>
                    <p data-option="1">求购</p>
                    <p data-option="2">资讯</p>
                    <p data-option="3">展会</p>
                    <p data-option="4">公司</p>
                </dd>
            </dl>
            <input type="text" class="field search_field" id="keywords" name="keywords" placeholder="请输入关键字搜索...">
            <input type="submit" class="btn search_btn" id="Js_search" value="搜索">
        </form>
    </div>
</div>
	
<script type="text/javascript" >
	jQuery(document).ready(function(){
		jQuery("#topSearch").submit(function(){
			if(jQuery("").val() == ""){
				alert("请输入关键词再搜索");
				return false;
			}
			
			var type=jQuery("#Js_select em").attr("data-option");
			
			if(type=="0"){
				jQuery(this).attr("action","$!{address.trade2}/list.htm");
				return true;
			}
			if(type=="1"){
				jQuery(this).attr("action","$!{address.www}/trade/buy/list.htm");
				return true;
			}
			if(type=="2"){
				jQuery(this).attr("action","$!{address.news}/search.htm");
				return true;
			}
			if(type=="3"){
				jQuery(this).attr("action","$!{address.exhibit}/search.htm");
				return true;
			}
			if(type=="4"){
				jQuery(this).attr("action","$!{address.company}/list.htm");
				return true;
			}
		});
	});
</script>