<link rel="stylesheet" type="text/css"  href="$!{address.img}/front/css/top/top.css"/>
<script language="javascript" type="text/javascript" src="$!{address.img}/front/js/top/top1.js"></script>
<script language="javascript" type="text/javascript" src="$!{address.img}/front/js/top/top2.js"></script>
<script language="javascript" type="text/javascript" src="$!{address.img}/front/js/top/top3.js"></script>
<script language="javascript" type="text/javascript" src="$!{address.img}/front/js/top/top4.js"></script>
<div id="box">
    <!--top2 start-->
    <div id="top2">
        <div id="top21" style=" text-align:right;">
            <a href="$!{address.server}/" target="_blank" title="中国最大最旺的网上废料贸易市场">
                <img src="$!{address.logo}/logo.gif"/>
            </a>
        </div>
        <div id="top22">
            <div id="top22_1">
                <div id="top22_11">
                    <ul id="topul1">
                        <li class="dis"  id="topli1" onclick="seachToggle(1)" >供应</li>
                        <li class="undis" id="topli2" onclick="seachToggle(2)" >求购</li>
                        <li class="undis" id="topli3" onclick="seachToggle(3)" >报价</li>
                        <li class="undis" id="topli4" onclick="seachToggle(4)" >资讯</li>
                        <li class="undis"  id="topli5" onclick="seachToggle(5)" >公司</li>
                    </ul>
                    <script>
                        function doKeyDown(){
                            if(event.keyCode==13) {
                                return topSearch();
                            }
                        }
                    </script>
                    <div id="show">
                        <input type="text" value="请输入您感兴趣的产品"  class="show" name="TopSeaKyeWord"  id="TopSeaKyeWord" onfocus="this.value=''" onblur="if(this.value==''){this.value='请输入您感兴趣的关键词！'}" onkeydown="return doKeyDown()" style=" float:left;"/>
                        <div id="sb1" >
                            <input type="hidden" value="1" name="TopSeaType"  id="TopSeaType"/>
                            <input type="button" value="" name="TopSeaSubmit"  id="TopSeaSubmit" onclick="return topSearch()"  />
                        </div>
                    </div>
                    <div id="sb2">
                        <a href="$!{address.server}/tags/" target="_blank">搜索排行榜</a>
                    </div>
                </div>
            </div>
            <div id="top22_2">
                <img src="$!{address.img}/front/images/top/top7.jpg" id="topimg1" />
                <!--公告向上滚动-->
                <nobr>
                    <div id="topscroll1" >
                        <ul>
                            <li>昨日共有()人次发送询盘商机</li>
                            <li>
                                <a href="$!{address.server}/subscribe/subscribeIndex.htm" target="_blank" style=" color:Red; text-decoration:none;">点此立即加入接收客户询盘商机</a>
                            </li>
                        </ul>
                    </div>
                </nobr>
                <nobr>
                    <div id="topscroll">
                    </div>
                </nobr>
            </div>
        </div>
    </div>
    <!--top2 end-->
    <!--top3 start-->
    <div id="top3">
        <img src="$!{address.img}/front/images/top/top8.jpg" id="img2" />
        #if(${topNavIndex} == 0)
            #set($itemClass0="navdis1")
            #set($itemDisplay0="")
            #else
                #set($itemClass0="unnavdis1")
                #set($itemDisplay0="none")
        #end
        #if(${topNavIndex} == 1)
            #set($itemClass1="navdis")
            #set($itemDisplay1="")
            #else
                #set($itemClass1="unnavdis")
                #set($itemDisplay1="none")
        #end
        #if(${topNavIndex} == 2)
            #set($itemClass2="navdis")
            #set($itemDisplay2="")
            #else
                #set($itemClass2="unnavdis")
                #set($itemDisplay2="none")
        #end
        #if(${topNavIndex} == 3)
            #set($itemClass3="navdis")
            #set($itemDisplay3="")
            #else
                #set($itemClass3="unnavdis")
                #set($itemDisplay3="none")
        #end
        #if(${topNavIndex} == 4)
            #set($itemClass4="navdis")
            #set($itemDisplay4="")
            #else
                #set($itemClass4="unnavdis")
                #set($itemDisplay4="none")
        #end
        #if(${topNavIndex} == 5)
            #set($itemClass5="navdis")
            #set($itemDisplay5="")
            #else
                #set($itemClass5="unnavdis")
                #set($itemDisplay5="none")
        #end
        #if(${topNavIndex} == 6)
            #set($itemClass6="navdis")
            #set($itemDisplay6="")
            #else
                #set($itemClass6="unnavdis")
                #set($itemDisplay6="none")
        #end
        #if(${topNavIndex} == 7)
            #set($itemClass7="navdis")
            #set($itemDisplay7="")
            #else
                #set($itemClass7="unnavdis")
                #set($itemDisplay7="none")
        #end
        #if(${topNavIndex} == 8)
            #set($itemClass8="navdis")
            #set($itemDisplay8="")
            #else
                #set($itemClass8="unnavdis")
                #set($itemDisplay8="none")
        #end
        #if(${topNavIndex} == 9)
            #set($itemClass9="navdis")
            #set($itemDisplay9="")
            #else
                #set($itemClass9="unnavdis")
                #set($itemDisplay9="none")
        #end
        #if(${topNavIndex} == 10)
            #set($itemClass10="navdis")
            #set($itemDisplay10="")
            #else
                #set($itemClass10="unnavdis")
                #set($itemDisplay10="none")
        #end
        #if(${topNavIndex} == 11)
            #set($itemClass11="navdis")
            #set($itemDisplay11="")
            #else
                #set($itemClass11="unnavdis")
                #set($itemDisplay11="none")
        #end
        <div   class="$!{itemClass0}" id="navli0">
            <a href="$!{address.server}/" target="_blank" >首页</a>
        </div>
        <!--unnavdis1为未选中时css，navdis为选中时-->
        <div   class="$!{itemClass1}" id="navli1">
            <a href="$!{address.server}/trade/" target="_blank" >交易中心</a>
        </div>
        <!--unnavdis为1到11的未选中时，navdis为选中是的dis-->
        <div   class="$!{itemClass2}" id="navli2">
            <a href="$!{address.price}/price/" target="_blank"  >报价资讯</a>
        </div>
        <div   class="$!{itemClass3}" id="navli3">
            <a href="$!{address.price}/channel/wasteMetal.htm" target="_blank" >废金属网</a>
        </div>
        <div   class="$!{itemClass4}" id="navli4">
            <a href="$!{address.price}/channel/wastePlastic.htm" target="_blank"  >废塑料网</a>
        </div>
        <div   class="$!{itemClass5}" id="navli5">
            <a href="$!{address.price}/channel/otherWaste.htm" target="_blank" >综合废料</a>
        </div>
        <div   class="$!{itemClass6}" id="navli6">
            <a href="$!{address.price}/companyprice/" target="_blank" >企业报价</a>
        </div>
        <div   class="$!{itemClass7}" id="navli7">
            <a href="$!{address.bbsServer}/bbs/index.htm" target="_blank" >再生互助</a>
        </div>
        <div   class="$!{itemClass8}" id="navli8">
            <a href="$!{address.server}/company/" target="_blank"  >公司黄页</a>
        </div>
        <div   class="$!{itemClass9}" id="navli9">
            <a href="$!{address.server}/map/" target="_blank"  >再生地图</a>
        </div>
        <div   class="$!{itemClass10}" id="navli10"  >
            <a href="$!{address.server}/periodical" target="_blank"  >废料商情</a>
        </div>
        <div   class="$!{itemClass11}" id="navli11">
            <a href="$!{address.server}/exhibit/" target="_blank"  >线下展会</a>
        </div>
        <div class="unnavdis12" id="navli12" onmouseover="navshow(12)" onmouseout="navout()">百宝箱</div>
        <img src="$!{address.images}/top/top11.jpg" style=" float:left;width:10px;height:32px;" />
        <!--menu0 start-->
        <div id="menu0" style="display:none;" >
        </div>
        <!--menu0 end-->
        <!--menu1 start-->
        <div id="menu1"     style="display:$!{itemDisplay1};" > <!-- onmouseover="navon(1)" onmouseout="navout(1)" 为top3中的函数-->
            <ul id="navul1">
                <li>&nbsp;&nbsp;<a href="$!{address.server}/trade" target="_blank">商机中心</a>
                    &nbsp;|&nbsp;</li>
                    <li>
                        <a href="$!{address.server}/trade/offerindex1.htm" target="_blank">废金属</a>
                        &nbsp;|&nbsp;</li>
                        <li>
                            <a href="$!{address.server}/trade/offerindex2.htm" target="_blank">废塑料</a>
                            &nbsp;|&nbsp;</li>
                            <li>
                                <a href="$!{address.server}/trade/offerindex3.htm" target="_blank">废橡胶</a>
                                &nbsp;|&nbsp;</li>
                                <li>
                                    <a href="$!{address.server}/trade/offerindex5.htm" target="_blank">废纸</a>
                                    &nbsp;|&nbsp;</li>
                                    <li>
                                        <a href="$!{address.server}/trade/offerindex4.htm" target="_blank">废纺织品</a>
                                        &nbsp;|&nbsp;</li>
                                        <li>
                                            <a href="$!{address.server}/trade/offerindex8.htm" target="_blank">废二手设备</a>
                                            &nbsp;|&nbsp;</li>
                                            <li>
                                                <a href="$!{address.server}/trade/offerindex6.htm" target="_blank">废电子电器</a>
                                            </li>
            </ul>
        </div>
        <!--menu1 end-->
        <!--menu2 start-->
        <div id="menu2"     style="display:$!{itemDisplay2};" >
            <ul id="navul2">
                <li>&nbsp;&nbsp;<a href="$!{address.price}/price" target="_blank">新闻中心</a>
                    &nbsp;|&nbsp;</li>
                    <li>
                        <a href="$!{address.price}/channel/wastePlastic.htm" target="_blank">废塑料网</a>
                        &nbsp;|&nbsp;</li>
                        <li>
                            <a href="$!{address.price}/channel/wasteMetal.htm" target="_blank">废金属网</a>
                            &nbsp;|&nbsp;</li>
                            <li>
                                <a href="$!{address.price}/channel/otherWaste.htm" target="_blank">综合废料</a>
                                &nbsp;|&nbsp;</li>
                                <li>
                                    <a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=47" target="_blank">再生技术</a>
                                    &nbsp;|&nbsp;</li>
                                    <li>
                                        <a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=46" target="_blank">企业访谈</a>
                                        &nbsp;|&nbsp;</li>
                                        <li>
                                            <a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=194" target="_blank">热点专题</a>
                                            &nbsp;|&nbsp;</li>
                                            <li>
                                                <a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=2" target="_blank">政策法规</a>
                                            </li>
            </ul>
        </div>
        <!--menu2 end-->
        <!--menu3 start-->
        <div id="menu3"       style="display:$!{itemDisplay3};"      >
            <ul id="navul3">
                <li>&nbsp;&nbsp;<a href="$!{address.price}/channel/wasteMetal.htm" target="_blank">废金属网</a>
                    &nbsp;|&nbsp;</li>
                    <li>
                        <a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=4" target="_blank">国内资讯</a>
                        &nbsp;|&nbsp;</li>
                        <li>
                            <a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=5" target="_blank">国外资讯</a>
                            &nbsp;|&nbsp;</li>
                            <li>
                                <a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=66" target="_blank">行情综述</a>
                                &nbsp;|&nbsp;</li>
                                <li>
                                    <a href="$!{address.price}/moreList_p17_metal.htm" target="_blank">废金属报价</a>
                                    &nbsp;|&nbsp;</li>
                                    <li>
                                        <a href="$!{address.price}/moreList_p18_metal.htm" target="_blank">新料报价</a>
                                        &nbsp;|&nbsp;</li>
                                        <li>
                                            <a href="$!{address.price}/priceList_t32_c10_metal.htm" target="_blank">金属日评</a>
                                            &nbsp;|&nbsp;</li>
                                            <li>
                                                <a href="$!{address.price}/priceList_t33_c10_metal.htm" target="_blank">金属周评</a>
                                            </li>
            </ul>
        </div>
        <!--menu3 end-->
        <!--menu4 start-->
        <div id="menu4"    style="display:$!{itemDisplay4};"     >
            <ul id="navul4">
                <li>&nbsp;&nbsp;<a href="$!{address.price}/channel/wastePlastic.htm" target="_blank">废塑料网</a>
                    &nbsp;|&nbsp;</li>
                    <li>
                        <a href="http://suliao.zz91.com" target="_blank">再生塑料</a>
                        &nbsp;|&nbsp;</li>
                        <li>
                            <a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=4" target="_blank">国内资讯</a>
                            &nbsp;|&nbsp;</li>
                            <li>
                                <a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=66" target="_blank">行情综述</a>
                                &nbsp;|&nbsp;</li>
                                <li>
                                    <a href="$!{address.price}/priceList_t21_plastic.htm" target="_blank">废料报价</a>
                                    &nbsp;|&nbsp;</li>
                                    <li>
                                        <a href="$!{address.price}/priceList_t22_plastic.htm" target="_blank">市场动态</a>
                                        &nbsp;|&nbsp;</li>
                                        <li>
                                            <a href="$!{address.price}/priceList_t21_plastic.htm" target="_blank">新料报价</a>
                                            &nbsp;|&nbsp;</li>
                                            <li>
                                                <a href="$!{address.price}/priceList_t34_c12_plastic.htm" target="_blank">塑料日评</a>
                                            </li>
            </ul>
        </div>
        <!--menu4 end-->
        <!--menu5 start-->
        <div id="menu5"    style="display:$!{itemDisplay5};"         >
            <ul id="navul5">
                <li>&nbsp;&nbsp;<a href="$!{address.price}/channel/otherWaste.htm" target="_blank">综合废料</a>
                    &nbsp;|&nbsp;</li>
                    <li>
                        <a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=4" target="_blank">国内资讯</a>
                        &nbsp;|&nbsp;</li>
                        <li>
                            <a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=5" target="_blank">国外资讯</a>
                            &nbsp;|&nbsp;</li>
                            <li>
                                <a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=66" target="_blank">行情综述</a>
                                &nbsp;|&nbsp;</li>
                                <li>
                                    <a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=166">焦点关注</a>
                                </li>
                                <li>
                                    <a href="$!{address.price}/moreList_p13_paper.htm" target="_blank">废纸报价</a>
                                    &nbsp;|&nbsp;</li>
                                    <li>
                                        <a href="$!{address.price}/priceList_t36_c14_paper.htm" target="_blank">橡胶评论</a>
                                        &nbsp;|&nbsp;</li>
                                        <li>
                                            <a href="$!{address.price}/moreList_p15_paper.htm" target="_blank">橡胶报价</a>
                                        </li>
            </ul>
        </div>
        <!--menu5 end-->
        <!--menu6 start-->
        <div id="menu6"     style="display:$!{itemDisplay6};"       >
            <ul id="navul6">
                <li>&nbsp;&nbsp;<a href="$!{address.price}/companyprice/" >企业报价</a>
                    &nbsp;|&nbsp;</li>
                    <li>
                        <a href="$!{address.price}/companyprice/index.htm?categoryCompanyPriceCode=1001" >废金属报价</a>
                        &nbsp;|&nbsp;</li>
                        <li>
                            <a href="$!{address.price}/companyprice/index.htm?categoryCompanyPriceCode=10001000" >废塑料报价</a>
                            &nbsp;|&nbsp;</li>
                            <li>
                                <a href="$!{address.price}/companyprice/index.htm?categoryCompanyPriceCode=10001001" >塑料颗粒报价</a>
                                &nbsp;|&nbsp;</li>
                                <li>
                                    <a href="$!{address.price}/companyprice/index.htm?categoryCompanyPriceCode=1002" >废纸报价</a>
                                    &nbsp;|&nbsp;</li>
                                    <li>
                                        <a href="$!{address.price}/companyprice/index.htm?categoryCompanyPriceCode=1003">综合废料报价</a>
                                    </li>
            </ul>
        </div>
        <!--menu6 end-->
        <!--menu7 start-->
        <div id="menu7"   style="display:$!{itemDisplay7};"      >
            <ul id="navul7">
                <li>&nbsp;&nbsp;<a href="http://bbs.zz91.com/" target="_blank">再生互助</a>
                    &nbsp;|&nbsp;</li>
                    <li>
                        <a href="http://bbs.zz91.com/group--c22--t--st--k--s_p.html" target="_blank">商务论坛</a>
                        &nbsp;|&nbsp;</li>
                        <li>
                            <a href="http://bbs.zz91.com/group--c27--t--st--k--s_p.html" target="_blank">金属论坛</a>
                            &nbsp;|&nbsp;</li>
                            <li>
                                <a href="http://bbs.zz91.com/group--c28--t--st--k--s_p.html" target="_blank">塑料论坛</a>
                                &nbsp;|&nbsp;</li>
                                <li>
                                    <a href="http://bbs.zz91.com/group--c29--t--st--k--s_p.html" target="_blank">综合废料</a>
                                    &nbsp;|&nbsp;</li>
                                    <li>
                                        <a href="http://bbs.zz91.com/group--c23--t--st--k--s_p.html" target="_blank">休闲娱乐</a>
                                        &nbsp;|&nbsp;</li>
                                        <li>
                                            <a href="http://bbs.zz91.com/group--c24--t--st--k--s_p.html">互助看台</a>
                                            &nbsp;|&nbsp;</li>
                                            <li>
                                                <a href="http://bbs.zz91.com/group--c30--t--st--k--s_p.html" target="_blank">商业防骗</a>
                                            </li>
            </ul>
        </div>
        <!--menu7 end-->
        <!--menu8 start-->
        <div id="menu8"      style="display:$!{itemDisplay8};"       >
            <ul id="navul8">
                <li>&nbsp;&nbsp;<a href="$!{address.server}/company/index.htm" target="_blank">公司黄页</a>
                    &nbsp;|&nbsp;</li>
                    <li>
                        <a href="$!{address.server}/company/index.htm?classifiedCode=10101003" target="_blank">优质客户库</a>
                        &nbsp;|&nbsp;</li>
                        <li>
                            <a href="$!{address.server}/company/index.htm?industryCode=10001000" target="_blank">废塑料企业大全</a>
                            &nbsp;|&nbsp;</li>
                            <li>
                                <a href="$!{address.server}/company/index.htm?industryCode=10001001" target="_blank">废金属企业大全</a>
                                &nbsp;|&nbsp;</li>
                                <li>
                                    <a href="$!{address.server}/company/index.htm?industryCode=10001002" target="_blank">废纸企业大全</a>
                                    &nbsp;|&nbsp;</li>
                                    <li>
                                        <a href="$!{address.server}/company/index.htm?industryCode=10001003" target="_blank">废橡胶企业大全</a>
                                    </li>
            </ul>
        </div>
        <!--menu8 end-->
        <!--menu9 start-->
        <div id="menu9"    style="display:$!{itemDisplay9}"       >
            <ul id="navul9">
                <li>&nbsp;&nbsp;<a href="$!{address.server}/map/index.htm" target="_blank">再生地图</a>
                    &nbsp;|&nbsp;</li>
                    <li>
                        <a href="http://map.zz91.com/Default.aspx?province=31" target="_blank">广东废料网</a>
                        &nbsp;|&nbsp;</li>
                        <li>
                            <a href="http://map.zz91.com/Default.aspx?province=15" target="_blank">浙江废料网</a>
                            &nbsp;|&nbsp;</li>
                            <li>
                                <a href="http://map.zz91.com/Default.aspx?province=27" target="_blank">山东废料网</a>
                                &nbsp;|&nbsp;</li>
                                <li>
                                    <a href="http://map.zz91.com/Default.aspx?province=21" target="_blank">江苏废料网</a>
                                    &nbsp;|&nbsp;</li>
                                    <li>
                                        <a href="http://map.zz91.com/Default.aspx?province=30" target="_blank">湖南废料网</a>
                                        &nbsp;|&nbsp;</li>
                                        <li>
                                            <a href="http://map.zz91.com/Default.aspx?province=14" target="_blank">河北废料网</a>
                                            &nbsp;|&nbsp;</li>
                                            <li>
                                                <a href="http://www.zz91.com/travel" target="_blank">ZZ91线下行</a>
                                            </li>
            </ul>
        </div>
        <!--menu9 end-->
        <!--menu10 start-->
        <div id="menu10"     style="display:$!{itemDisplay10};"        >
            <ul id="navul10">
                <li>&nbsp;&nbsp;<a href="http://www.zz91.com/cn/publish/sq/" target="_blank">废料商情</a>
                    &nbsp;|&nbsp;</li>
                    <li>
                        <a href="http://www.zz91.com/cn/publish/sq/fxfs.aspx" target="_blank">关于商情</a>
                        &nbsp;|&nbsp;</li>
                        <li>
                            <a href="http://www.zz91.com/cn/publish/sq/baojia.aspx" target="_blank">商情征订</a>
                        </li>
            </ul>
        </div>
        <!--menu10 end-->
        <!--menu11 start-->
        <div id="menu11"    style="display:$!{itemDisplay11};"          >
            <ul id="navul11">
                <li>&nbsp;&nbsp;<a href="http://www.zz91.com/cn/exhibit/" target="_blank">线下展会</a>
                    &nbsp;|&nbsp;</li>
                    <li>
                        <a href="http://www.zz91.com/subject/topic_index12_1.html" target="_blank">展会回顾</a>
                        &nbsp;|&nbsp;</li>
                        <li>
                            <a href="http://www.zz91.com/cn/publish/sq/" target="_blank">展会刊物</a>
                            &nbsp;|&nbsp;</li>
                            <li>
                                <a href="http://www.zz91.com/cn/exhibit/exhibitsList3.html" target="_blank">ZZ91合作展会</a>
                                &nbsp;|&nbsp;</li>
                                <li>
                                    <a href="http://www.zz91.com/travel" target="_blank">ZZ91线下行</a>
                                    &nbsp;|&nbsp;</li>
                                    <li>
                                        <a href="http://www.zz91.com/magazine/" target="_blank">协会杂志</a>
                                        &nbsp;|&nbsp;</li>
                                        <li>
                                            <a href="http://www.zz91.com/cn/publish/qingyuan.asp" target="_blank">产业园区</a>
                                        </li>
            </ul>
        </div>
        <!--menu11 end-->
        <!--menu12 start-->
        <div id="menu12"  style="display:none;position:absolute;z-index:80;" onmouseout="navgo()" onmouseover="navgo1()">
            <ul id="navul12">
                <li id="nali1" onmouseover="cc(1)">
                    <a href="http://aqsiq.zz91.com/" target="_blank">AQSIQ</a>
                </li>
                <li id="nali2" onmouseover="cc(2)">
                    <a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=209" target="_blank">热点专题</a>
                </li>
                <li id="nali3" onmouseover="cc(3)">
                    <a href="http://tech.zz91.com/" target="_blank">再生技术</a>
                </li>
                <li id="nali4" onmouseover="cc(4)">
                    <a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=46" target="_blank">名企访谈</a>
                </li>
                <li id="nali5" onmouseover="cc(5)">
                    <a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=2" target="_blank">政策法规</a>
                </li>
                <li id="nali6" onmouseover="cc(6)">
                    <a href="$!{address.bbsServer}/bbs/bbsTags.htm?tagsId=105" target="_blank">电子商务</a>
                </li>
            </ul>
        </div>
        <!--menu12 end-->
    </div>
    <!--top3 end-->
</div>
<script type="text/javascript" src="$!{address.img}/front/js/top/topSearch.js"></script>
