<div id="top2008">
    <div id="logo">
        <h1>
            <a href="http://www.zz91.com" title="中国再生资源交易网">中国再生资源交易网</a></h1>
    </div>
    <ul class="category topCate">
        <li class="veryLongBg"><a href="$!{address.server}/myrc/index.htm" target="_blank" class="topColor"><strong>
            生意管家<span>（原我的RC）</span></strong></a> </li>
        <li><a href="$!{bbsServer}/bbs" target="_blank" class="topColor"><strong>
            再生互助</strong></a> </li>
        <li class="longBg"><a href="$!{address.price}/price/" target="_blank"
            class="topColor"><strong>报价资讯中心</strong></a> </li>
        <li><a href="$!{address.server}/trade/" target="_blank" class="topColor"><strong>交易中心</strong></a>
        </li>
    </ul>
    <ul class="category">
        <li class="noPadding"><a href="http://www.zz91.com/cn/news_OtherMore13.html" target="_blank" class="otherColor">
            热门资讯</a></li>
        <li><a href="http://www.zz91.com/cn/exhibit" target="_blank" class="otherColor">行业展会</a>
            |</li>
        <li><a href="http://tech.zz91.com/" target="_blank" class="otherColor">再生技术</a> |</li>
        <li><a href="$!{address.price}/channel/ortherWaste.htm" target="_blank">废纸频道</a> |</li>
        <li><a href="$!{address.price}/channel/ortherWaste.htm" target="_blank">废橡胶频道</a> |</li>
        <li><a href="$!{address.price}/channel/wasteMetal.htm" target="_blank">废金属频道</a> |</li>
        <li><a href="$!{address.price}/channel/wastePlastic.htm" target="_blank">废塑料频道</a> |</li>
    </ul>
    <ul class="category">
        <li class="noPadding"><a href="http://www.zz91.com/subject/" target="_blank">热点专题</a></li>
        <li><a href="http://www.zz91.com/cn/news_More21.html" target="_blank">技术讲坛</a> |</li>
        <li><a href="http://www.zz91.com/cn/news_More16.html" target="_blank">外贸事务</a> |</li>
        <li><a href="http://www.zz91.com/cn/news_More27.html" target="_blank">成功网商</a> |</li>
        <li class="adjust"><a href="$!{address.server}/map/index.htm" target="_blank">再生地图</a> |</li>
        <li class="adjust"><a href="http://www.zz91.com/cn/news_More20.html" target="_blank">
            企业访谈</a> |</li>
        <li class="adjust"><a href="$!{address.price}/companyprice/" target="_blank">企业报价</a>
            |</li>
    </ul>
</div>