<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>zz91.admin.param.view</title>
	#parse("/zz91/common/import.vm")
	#parse("/zz91/common/context.vm")

    <script type="text/javascript" src="$!{address.js}/admin/periodical/view.js" ></script>
</head>

<body>

</body>
</html>