#set($layout="/layout/innerPageLayout.vm")
#parse("/common/importJqueryUi.vm")
<div class="favBox">
	<h3><s class="success"></s>收藏成功！</h3>
	<div class="content">标题：$!{title}</div>
	<input type="button" class="submitBtn" value="马上关闭" >
</div>
<script>
	jQuery(document).ready(function(){
		
		jQuery(".submitBtn").button();
		
		jQuery(".submitBtn").click(function(){
			godesturl();
		});
		
		setTimeout("godesturl()",5000);
	});
	
	function godesturl(){
		var param='?success=$!{success}&data=$!{data}';
		#if($!{destUrl}!="")
			window.location="$!{destUrl}"+param;
		#else
			window.location="#springUrl('/submitCallback.htm')"+param;
		#end
	}
</script>