@charset "utf-8";
/* CSS Document */
body{ width:958px; margin:0 auto;}
.left{ float:left;}
.right{ float:right;}
.mt8px{ margin-top:8px;}
/* nav */ 
.nav-ul{ height:30px; background:url(../images/mjzx_07.jpg) repeat-x; border:1px solid #0F8F00; border-bottom:1px solid #279A1A; border-radius:3px; margin-top:8px; padding-left:20px;_padding-left:15px;}
.nav-ul li{ float:left; font:bold 14px/30px '宋体'; text-align:center;}
.nav-ul li a{ display:block;color:#fff; padding:0 20px;}
.nav-ul li a:hover{ background-color:#fff; color:#1FA210; border-radius:2px; position:relative; top:2px;_top:1px;}

/*location*/
.location{ font:12px/28px '宋体'; color:#666; position:relative;}
.location a{ color:#666;}
.location span{ position:absolute;}
.location span a{ color:#0774AC;}

/**panel**/
.panel{ padding:1px; border:1px solid #E1E2E2; position:relative;}
.panel-body{ font:12px/20px '宋体'; padding:12px 15px 15px;}
.panel h3{ font:bold 14px/29px '宋体'; background-color:#F2F2F2; text-indent:14px;}
.panel h3 span{ position:absolute;font:12px '宋体'; color:#555; top:8px; right:13px;}
.panel h3 span a{ color:#555;}
.panel h3 span a:hover{color:#24A512;}


.mkt_l{ width:276px; padding:1px; border:1px solid #DDDEDE; font:14px/28px '宋体';}
.mkt_lr{ padding:10px 0 0 24px;}
.mkt_r{ border:1px solid #DCDDDD;}
.mksd_l{ background-color:#FAEBD0; border:1px solid #E0E1E1; position:relative; font:12px/33px '宋体';}
.mksd_l img{ position:absolute; top:-1px; left:-1px;}
.mksd_l table tr td{ text-align:right;}
.mksd_l table{ margin:66px 0 0 55px;}
.t_ipt{ width:225px; height:22px;}
.mksd_l textarea{ width:225px; height:63px;}
.mksd_l a{ font:bold 14px/28px '宋体';  color:#fff; background:url(../images/mjzx_35.jpg) no-repeat; display:block; width:102px; height:28px; text-align:center; margin:8px 0 0 158px;}
.mkt_l a{ background:url(../images/mjzx_17.jpg) no-repeat; display:block; width:113px; height:32px; font:13px/32px '宋体'; text-align:center; color:#555; margin-top:4px;}
.topul li{ width:42px; text-align:center;}
.top1{ background:url(../images/mht4_31.gif) no-repeat 0 3px;}
.top2{ background:url(../images/mht4_38.gif) no-repeat 0 3px;}
.top3{ background:url(../images/mht4_40.gif) no-repeat 0px 3px;}
.top_ul{ text-indent:6px;}
.ul_ht li{ position:relative;}
.time{ position:absolute; right:4px;}
.table_ul li{ border-bottom:1px dashed #E2DFDF;}
.mks_table{ background-color:#F7F7F7; font:bold 12px/29px '宋体';}
.mks_table tr td{ text-align:center;}
.td1{ width:256px; overflow:hidden;}
.td2{ width:96px;}
.td3{ width:102px;}
.td1bg{ background:url(../images/mjzx_26.jpg) no-repeat 90px 10px;}
.td2bg{ background:url(../images/mjzx_26.jpg) no-repeat 12px 10px;}
.td3bg{ background:url(../images/mjzx_26.jpg) no-repeat 30px 10px;}
.table_ul li table tr td{ text-align:center; font:12px/36px '宋体';}
.table_ul input{ background:url(../images/mjzx_31.jpg) no-repeat; width:63px; height:20px; border:none; cursor:pointer;}
.div_image{ float:left; overflow:hidden;}
.mksd_l .td_radio{ text-align:center;}
.td_radio input{ margin-left:6px; vertical-align:text-bottom; _vertical-align:middle;}
.panel-body a{ color:#464646;}
.panel-body a:hover{ color:#24a512;}
.search_input{ width:398px; height:25px; margin-right:8px;}
.search_btn{ background:url(../images/mjzx_39.jpg) repeat-x; border:1px solid #33AA15; width:86px; height:28px; color:#fff; font:bold 12px/28px '宋体';}
.btmsear{ height:29px; padding:18px 200px; border:1px solid #E9E9E9; background:url(../images/bg_03.jpg) repeat-x;}