<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
	<!-- for include js code -->
	#parse("/zz91/common/import.vm")
	#parse("/zz91/common/context.vm")
	
	<script type="text/javascript" >
		var PAGE_CONST = new function() {
			this.RULES_GRID="RULES_GRID";
		}
		
		Ext.onReady(function(){
        	var grid=new ast.ast1949.admin.score.rules.RulesGrid({
        		id:PAGE_CONST.RULES_GRID,
        		region:"center"
        	})
        	
        	var viewport=new Ext.Viewport({
        		layout:"border",
        		items:[grid]
        	})
        })
	</script>
	<script type="text/javascript" src="$!{address.js}/admin/score/rules/view.js"></script>
</head>

<body>
</body>
</html>