body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../list_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:11px;
    top:6px;
    width:961px;
    height:37px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:37px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../list_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:12px;
    top:83px;
    width:193px;
    height:65px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:65px;
}

.u3 {
    position:absolute;
    left:2px;
    top:24px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:738px;
    top:123px;
    width:220px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../list_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:12px;
    top:164px;
    width:240px;
    height:25px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:31px;
}

.u6 {
    position:absolute;
    left:2px;
    top:5px;
    width:236px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../list_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:584px;
    top:165px;
    width:185px;
    height:26px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:191px;
    height:32px;
}

.u8 {
    position:absolute;
    left:2px;
    top:6px;
    width:181px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../list_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:955px;
    height:3px;
}

.u9 {
    position:absolute;
    left:11px;
    top:152px;
    width:955px;
    height:10px;
    
}

.u10_line {
    background-image: url('../list_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:883px;
}

.u10 {
    position:absolute;
    left:777px;
    top:157px;
    width:10px;
    height:883px;
    
}

.u11 {
    position:absolute;
    left:796px;
    top:165px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../list_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:789px;
    top:185px;
    width:182px;
    height:190px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:182px;
    height:190px;
}

.u13 {
    position:absolute;
    left:2px;
    top:87px;
    width:178px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../list_files/u12_normal.png');
}

.u14_container {
    position:absolute;
    left:790px;
    top:379px;
    width:182px;
    height:190px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:182px;
    height:190px;
}

.u15 {
    position:absolute;
    left:2px;
    top:87px;
    width:178px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../list_files/u12_normal.png');
}

.u16_container {
    position:absolute;
    left:789px;
    top:576px;
    width:182px;
    height:190px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:182px;
    height:190px;
}

.u17 {
    position:absolute;
    left:2px;
    top:87px;
    width:178px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../list_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:13px;
    top:202px;
    width:758px;
    height:25px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:764px;
    height:31px;
}

.u19 {
    position:absolute;
    left:2px;
    top:5px;
    width:754px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:13px;
    top:238px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:122px;
    top:238px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:230px;
    top:238px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:601px;
    top:239px;
    width:169px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24_normal {
    background-image: url('../list_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:11px;
    top:277px;
    width:101px;
    height:23px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:29px;
}

.u25 {
    position:absolute;
    left:2px;
    top:4px;
    width:97px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../list_files/u24_normal.png');
}

.u26_container {
    position:absolute;
    left:121px;
    top:277px;
    width:101px;
    height:23px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:29px;
}

.u27 {
    position:absolute;
    left:2px;
    top:4px;
    width:97px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:230px;
    top:277px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29_normal {
    background-image: url('../list_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:420px;
    top:277px;
    width:61px;
    height:23px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:67px;
    height:29px;
}

.u30 {
    position:absolute;
    left:2px;
    top:4px;
    width:57px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../list_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:491px;
    top:278px;
    width:53px;
    height:21px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:27px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:551px;
    top:283px;
    width:18px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../list_files/u31_normal.png');
}

.u34_container {
    position:absolute;
    left:566px;
    top:278px;
    width:53px;
    height:21px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:27px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:641px;
    top:275px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:623px;
    top:358px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38 {
    position:absolute;
    left:245px;
    top:996px;
    width:31px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:295px;
    top:996px;
    width:47px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:504px;
    top:996px;
    width:47px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:606px;
    top:996px;
    width:47px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../list_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:649px;
    top:992px;
    width:58px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:714px;
    top:995px;
    width:47px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:352px;
    top:997px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_line {
    background-image: url('../list_files/u46_line.png');
}

.u46_line {
    position:absolute;
    left:0px;
    top:4px;
    width:768px;
    height:3px;
}

.u46 {
    position:absolute;
    left:13px;
    top:1035px;
    width:768px;
    height:10px;
    
}

.u47_line {
    background-image: url('../list_files/u47_line.png');
}

.u47_line {
    position:absolute;
    left:0px;
    top:4px;
    width:953px;
    height:3px;
}

.u47 {
    position:absolute;
    left:10px;
    top:1057px;
    width:953px;
    height:10px;
    
}

.u48 {
    position:absolute;
    left:623px;
    top:393px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49_normal {
    background-image: url('../list_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:1064px;
    top:320px;
    width:95px;
    height:98px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:95px;
    height:98px;
}

.u50 {
    position:absolute;
    left:2px;
    top:41px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:1092px;
    top:295px;
    width:41px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:1231px;
    top:295px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:1646px;
    top:342px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54 {
    position:absolute;
    left:1646px;
    top:377px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:1665px;
    top:295px;
    width:41px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:1466px;
    top:295px;
    width:41px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_line {
    background-image: url('../list_files/u57_line.png');
}

.u57_line {
    position:absolute;
    left:0px;
    top:4px;
    width:751px;
    height:3px;
}

.u57 {
    position:absolute;
    left:18px;
    top:422px;
    width:751px;
    height:10px;
    
}

.u58 {
    position:absolute;
    left:1046px;
    top:270px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../list_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:100px;
    top:272px;
    width:34px;
    height:34px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:34px;
    height:34px;
}

.u60 {
    position:absolute;
    left:2px;
    top:9px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_menu {
    background-image: url('../list_files/u61_menu.png');
}

.u61_menu {
    position:absolute;
    left:242px;
    top:81px;
    width:315px;
    height:35px;
}

#u61_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:32px;
}

#u62 {
    position:absolute;
    left:3px;
    top:3px;
    width:305px;
    height:25px
}

.u63_mouseOver {
    background-image: url('../list_files/u63_mouseOver.png');
}

.u63_normal {
    background-image: url('../list_files/u63_mouseOver.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_mouseOver {
    background-image: url('../list_files/u63_mouseOver.png');
}

.u65_normal {
    background-image: url('../list_files/u63_mouseOver.png');
}

.u65_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_mouseOver {
    background-image: url('../list_files/u63_mouseOver.png');
}

.u67_normal {
    background-image: url('../list_files/u63_mouseOver.png');
}

.u67_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:245px;
    top:120px;
    width:410px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u70 {
    position:absolute;
    left:665px;
    top:120px;
    width:58px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u71 {
    position:absolute;
    left:58px;
    top:360px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:57px;
    top:393px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:1196px;
    top:345px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:1193px;
    top:378px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:1453px;
    top:337px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:317px;
    top:368px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:512px;
    top:368px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:80px;
    top:326px;
    width:73px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:317px;
    top:326px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:512px;
    top:326px;
    width:71px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:641px;
    top:326px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:623px;
    top:453px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u83 {
    position:absolute;
    left:623px;
    top:488px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u84_line {
    background-image: url('../list_files/u84_line.png');
}

.u84_line {
    position:absolute;
    left:0px;
    top:4px;
    width:751px;
    height:3px;
}

.u84 {
    position:absolute;
    left:18px;
    top:517px;
    width:751px;
    height:10px;
    
}

.u85 {
    position:absolute;
    left:58px;
    top:455px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:57px;
    top:488px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:317px;
    top:463px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:512px;
    top:463px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:623px;
    top:544px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u90 {
    position:absolute;
    left:623px;
    top:578px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u91_line {
    background-image: url('../list_files/u91_line.png');
}

.u91_line {
    position:absolute;
    left:0px;
    top:4px;
    width:751px;
    height:3px;
}

.u91 {
    position:absolute;
    left:18px;
    top:608px;
    width:751px;
    height:10px;
    
}

.u92 {
    position:absolute;
    left:58px;
    top:546px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:57px;
    top:578px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:317px;
    top:554px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:512px;
    top:554px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:623px;
    top:628px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u97 {
    position:absolute;
    left:623px;
    top:663px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u98_line {
    background-image: url('../list_files/u98_line.png');
}

.u98_line {
    position:absolute;
    left:0px;
    top:4px;
    width:751px;
    height:3px;
}

.u98 {
    position:absolute;
    left:18px;
    top:692px;
    width:751px;
    height:10px;
    
}

.u99 {
    position:absolute;
    left:58px;
    top:630px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:57px;
    top:663px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:317px;
    top:638px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:512px;
    top:638px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:623px;
    top:712px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u104 {
    position:absolute;
    left:623px;
    top:747px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u105_line {
    background-image: url('../list_files/u105_line.png');
}

.u105_line {
    position:absolute;
    left:0px;
    top:4px;
    width:751px;
    height:3px;
}

.u105 {
    position:absolute;
    left:18px;
    top:776px;
    width:751px;
    height:10px;
    
}

.u106 {
    position:absolute;
    left:58px;
    top:714px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:57px;
    top:747px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:317px;
    top:722px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:512px;
    top:722px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:623px;
    top:796px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u111 {
    position:absolute;
    left:623px;
    top:831px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u112_line {
    background-image: url('../list_files/u112_line.png');
}

.u112_line {
    position:absolute;
    left:0px;
    top:4px;
    width:751px;
    height:3px;
}

.u112 {
    position:absolute;
    left:18px;
    top:860px;
    width:751px;
    height:10px;
    
}

.u113 {
    position:absolute;
    left:58px;
    top:798px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:57px;
    top:831px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:317px;
    top:806px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:512px;
    top:806px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:623px;
    top:880px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u118 {
    position:absolute;
    left:623px;
    top:915px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u119_line {
    background-image: url('../list_files/u119_line.png');
}

.u119_line {
    position:absolute;
    left:0px;
    top:4px;
    width:751px;
    height:3px;
}

.u119 {
    position:absolute;
    left:18px;
    top:944px;
    width:751px;
    height:10px;
    
}

.u120 {
    position:absolute;
    left:58px;
    top:882px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:57px;
    top:915px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:317px;
    top:890px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:512px;
    top:890px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:428px;
    top:326px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:421px;
    top:368px;
    width:62px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:419px;
    top:463px;
    width:62px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:419px;
    top:554px;
    width:62px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:419px;
    top:638px;
    width:62px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:419px;
    top:722px;
    width:62px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:419px;
    top:806px;
    width:62px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:419px;
    top:890px;
    width:62px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:1581px;
    top:295px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:1574px;
    top:337px;
    width:62px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

