<div class="nav">
    <ul>
        <li>
            <a href="$!{address.xiazai}">行情研究院</a>
        </li>
        <li>
            <a href="#springUrl('/list-c200510001000.htm')">早 参</a>
        </li>
        <li>
            <a href="#springUrl('/list-c200510001001.htm')">晚 报</a>
        </li>
        <li>
            <a href="#springUrl('/list-c200510001002.htm')">周 报</a>
        </li>
        <li>
            <a href="#springUrl('/list--%E9%87%91%E5%B1%9E.htm')">废金属</a>
        </li>
        <li>
            <a href="#springUrl('/list--%E5%A1%91%E6%96%99.htm')">废塑料</a>
        </li>
        <li>
            <a href="$!{address.price}" target="_blank">行情报价</a>
        </li>
        <li>
            <a href="$!{address.www}" target="_blank">首 页</a>
        </li>
    </ul>
</div>
