<!--
<table width="100%" bgcolor="#ffffff" class="filter2">
	<tr>
		<td>
			<span style="color:#ffffff;">enterprise9</span>
		</td>
	</tr>
</table>
-->
<table width="100%" bgcolor="#ffffff" class="filter2" style="word-break:break-all;">
	<tr>
		<td width="23%" align="center">
		</td>
		<td width="54%" align="center"><br />
			<table>
				<tr>
					<td align="center">
					</td>
				</tr>
				<tr>
					<td align="center">$!{company.address}</td>
				</tr>
				<tr>
					<td align="center">
						<a href="http://www.zz91.com/about/index.asp" target="_blank" onmousedown="return aliclick(this,'?tracelog=wp_home_channel')" >技术支持：杭州阿思拓信息科技有限公司</a>
					</td>
				</tr>
				<tr>
					<td align="center">
    						<a onmousedown="return aliclick(this,'?tracelog=website_end_diylogin')" href="$!{address.server}/login.htm" class="draft_no_link" target="_blank"><img src="$!{address.images}/esite/admin.gif" border="0" align="absmiddle" /></a>
					</td>
				</tr>
			</table>
		</td>
		<td width="23%" align="center">
    	</td>
	</tr>
</table>