<div id="content1" class="bodyLeft filter filterDom">
	#foreach($sideBarConfigList in $!{sideBarConfig})
		#if($!{sideBarConfigList.id}!="")
			#parse("/myesite/sidebar/$!{sideBarConfigList.id}.vm")
		#end
	#end
</div>
