#set( $layout = "/layout/myesiteLayout.vm" )
<div id="content2" class="bodyRight filterDom">
	#foreach($!{obj} in $!{navColumnConfig})
		#if($!{obj.id}==$!{myposition.code})
			#set($label=$!{obj.t})
		#end
	#end
##	<div id="company_index" class="bodyCont moveChild mb">
##		<div class="bodyContTitle"> 
##			<span class="titleLinkColor titleName t">
##				您所在的位置： <a href="#springUrl('index.htm')" target="_blank" style="color:#ffffff">首页</a> &gt;
##				<a href="#springUrl('gsdt.htm')" target="_blank" style="color:#ffffff">$label</a> &gt;
##				$!{news.title}
##			</span>
##		</div>
##	</div>
	<div id="company_index" class="bodyCont moveChild mb">
		<div class="bodyContTitle"> 
			<span class="titleLinkColor titleName t">
				您所在的位置： <a href="#springUrl('index.htm')" target="_blank" class="titleLinkColor">首页</a> &gt;
				<a href="#springUrl('gsdt.htm')" target="_blank" class="titleLinkColor">$label</a> &gt;
				$!{news.title}
			</span>
		</div>
		<div class="bodyContContent rel rightConteWidth">
            <div class="bodyContContentRightCont mainTextColor clearfix contentFix"> 
                $!{news.content}
				<br />
				<br />
				<div>
        		#if($!{lastNews.id} && $!{lastNews.id}>0)
    				<b>上一篇:</b>
                    <a href="#springUrl('/')news$!{lastNews.id}.htm" >#printTitle($lastNews.title 15 "")</a>
        		#end
				</div>
				<div>
				#if($!{nextNews.id} && $!{nextNews.id}>0)
    				<b>下一篇:</b>
                    <a href="#springUrl('/')news$!{nextNews.id}.htm" >#printTitle($nextNews.title 15 "")</a>
        		#end
				</div>
            <div style="clear: both;"></div>
				<a href="#springUrl('/gsdt.htm')">返回公司动态</a>
            </div>
        </div>
    </div>
</div>
$!{sendCheck}
