#set( $layout = "/layout/myesiteLayout.vm" )
<div id="content2" class="bodyRight  filterDom">
	#foreach($!{obj} in $!{navColumnConfig})
		#if($!{obj.id}==$!{myposition.code})
			#set($label=$!{obj.t})
		#end
	#end
##	<div id="company_index" class="bodyCont moveChild mb">
##		<div class="bodyContTitle"> 
##			<span class="titleLinkColor titleName t">
##				您所在的位置： <a href="#springUrl('index.htm')" target="_blank" style="color:#ffffff">首页</a> &gt; $label
##			</span>
##		</div>
##	</div>
    <div id="company_index" class="bodyCont moveChild mb">
        <div class="bodyContTitle"> 
            <span class="titleLinkColor titleName t">
				##公司动态
				您所在的位置： <a href="#springUrl('index.htm')" target="_blank" class="titleLinkColor">首页</a> &gt; $label
			</span>
        </div>
        <div class="bodyContContent rel rightConteWidth">
            <div class="bodyContContentRightCont mainTextColor clearfix"> 
                 #if(${esiteNewsList.size()}==0)
                    <div align="center">
                        尚未发布过公司动态！
                    </div>
                #end
                <div class="contacts">
                    <ul>
						#set($countshow=0)
                        #foreach($list in ${page.records})
                            <li>
                                <a href="#springUrl('/')news$!{list.id}.htm">
									$list.title</a>
                                 <font color="#999999">$date.format('yyyy-MM-dd',$list.postTime)</font>
                            </li>
							#set($countshow=1)
						#end
						#if($countshow==0)
							<li>暂时没有动态信息！</li>
						#end
                    </ul>
                </div>
				#myrcPageNav($page "#springUrl('/gsdt.htm')" "" "")
            </div>
        </div>
    </div>
</div>
