            <div class="fr right-center">
                <div class="problorm-main">
                    <h2>发货问题的争议处理（买家版）</h2>
                    <p class="problorm-zj">为了保障您交易的顺利完成，让您尽快收到商品，避免因为发货问题导致的交易纠纷，您应当提供正确有效的收货地址以及联系人、联系方式，以便卖家及时发货。</p>

                    <h3>【发货时间】</h3>
                    <p>1、 若您与卖家自行约定发货时间的，卖家须在您付款后按照约定在承诺的时间内发货；</p>
                    <p>2、 若您与卖家未约定发货时间的，卖家须在您付款后的七十二小时内进行发货；</p>
                    <p>3、 若您在卖家还未发货的时候已经申请了退款，卖家想继续发货的，需要卖家先征得您的同意。若卖家逾期发货，或者未经您的同意在您申请退款后强行发货的，卖家应当追回已经发出的商品，但您已经签收并且确认收货的除外。</p>

                    <h3>【收货地址】</h3>
                    <p>卖家应当按照订单约定的收货地址进行发货（您和卖家另行约定新收货地址的则按照新约定收货地址进行发货），同时需要负责把商品送到您的收货地址。如果商品要您到指定的地点自提的，则需要卖家在发货之前明确告诉您并征得您的同意。</p>

                    <h3>【发货物流】</h3>
                    <p>1、 卖家需要选择有揽收和签收凭证的运输方式发货。</p>
                    <p>2、 如果您和卖家约定了特定的承运人（比如物流公司）运送商品的，卖家应当按照约定进行委托。</p>
                    <p>3、 未经您的明确同意，卖家不得使用到付方式（指在委托承运人时不支付运费，而由收货人在收货时向承运人支付运费的运输方式）委托承运人（比如物流公司）发货。</p>
                    <p>如果卖家违反了上述任一要求，您有权利拒收商品，相应损失由卖家承担，不过您在拒收时请您注意保留有效凭证证实卖家存在违反的情形，以免卖家认为您无理由拒收商品，从而不愿承担相应责任。</p>
                    
                    <h3>一、发货问题的处理原则</h3>
                    <p>>>如卖家没有违反前述几项要求，且您收到商品后没有提出其他异议的，淘再生网将把款项支付给卖家。</p>
                    <p>>>如卖家违反了前述几项要求，导致您没有收到货、拒签商品或者签收后退回的，交易淘再生网做退款处理，运费由卖家承担。</p>
                    <p>>>若买卖双方采用当面交付商品的方式进行交易，因您未收到货产生的争议，交易做退款处理，但卖家可以证明您自认收到商品的除外；因商品表面不一致产生的争议，交易做打款处理，但您可以证明卖家自认商品存在表面不一致的除外。</p>
                    <p>>>如卖家提供有效凭证证明您已收到货，且您未提出其他异议的，淘再生网将把钱款支付给卖家。</p>

                    <h3>二、发货问题的举证</h3>
                    <p>>>如卖家没有按照发货时间要求发货的，淘再生网将依据物流公司系统内揽件记录的时间信息进行判定。如您有异议的，需按照淘再生网要求提供您与卖家约定发货时间的凭证给我们，以便淘再生网处理。</p>

                    <h3>三、发货问题相关的运费争议</h3>
                    <p>交易中的运费争议，根据“谁过错，谁承担”的原则处理，但买卖双方协商一致的除外。具体关于发货问题相应的运费争议，请您查看运费问题的争议处理篇。</p>

                    <h3>四、常见问题</h3>
                    <h3>>>我已经申请退款，跟卖家说不要了，但是卖家又把货发过来了，我该怎么办？</h3>
                    <p>1、 请您积极联系您的卖家协商，明确商品不需要的情况下，可以拒收商品，并且告诉卖家让卖家尽快追回商品；</p>
                    <p>2、 如您还需要商品，正常收货签收即可。</p>
                    <h3>>>我的收货地址写错了，卖家按照错误的地址发货了，我现在没收到商品，怎么办？</h3>
                    <p>请您核实商品在错误的地址有没有被签收，如果没有被签收，尽快联系卖家说明情况或联系物流公司给您转发；如果商品已经签收，由于您填写了错误的收件信息导致商品被签收的，风险需要您自行承担，交易淘再生网支持把钱款支付给卖家。因此淘再生网建议您在购买商品时确认收货地址是否正确，以免产生不必要的麻烦。</p>
                    <h3>>>我和卖家是当面交易的，钱给了卖家，卖家没给我货，怎么办？</h3>
                    <p>如您和卖家采用了当面交易的方式，相关的风险需要您自行承担。</p>
                </div>
            </div>
