            <div class="fr right-center">
                <div class="problorm-main">
                    <h2>争议处理（买家版）</h2>
                    <p class="problorm-zj">有交易,就会有交易纠纷。遇到交易纠纷，解决方法有:(1)您可以与卖家自行协商解决,(2)要求淘再生网介入处理，(3)通过司法途径等其它方式解决。如果您与卖家无法自行协商解决，也不愿意通过司法途径等其它方式解决交易纠纷，可以要求淘再生网介入处理。此时无论哪一方选择要求淘再生网介入帮助解决交易纠纷的，等同于双方都授权淘再生网作为独立的第三方，基于淘再生网自己的判断以及争议处理的原则，对买卖双方存在争议的交易款项归属或资金赔偿做出处理，且此授权不可撤销，因此请您和您的卖家谨慎申请。</p>
                    

                    <h3>一、争议处理构成</h3>
                    <p>争议处理包括售中争议处理和售后争议处理两种。</p>

                    <h3>【售中争议处理】</h3>
                    <p>指交易完结(系统显示“交易成功”或“交易关闭”时的状态)前买卖双方提起交易保障要求，淘再生网根据相关要求对交易款项归属作出处理的基本程序与标准。</p>
                
                    
                    <h3>【售后争议处理】</h3>
                    <p>指交易完结后买卖双方提起交易保障要求，淘再生网根据相关要求对交易赔偿作出处理的基本程序与标准。</p>
                    <p>符合《消费者保障服务协议》约定条件的买家在交易成功后发起的未收到货、商品描述不符、商品存在质量问题、卖家未履行售后服务或特色服务的维权要求的，处理原则与售中争议处理原则基本一致。</p>

                    <h3>二、争议处理的基本原则</h3>
                    <p>淘再生网对争议做出处理后，不免除买卖双方基于与淘再生网签署的其他协议、规则应当承担的责任。</p>
                 
                    <h3>关于淘再生网处理争议的申请条件</h3>
                    <div class="table-main">
                        <table width="100%" border="1">
                            <tr class="table-tt">
                                <td align="center" bgcolor="#3399ff">争议类型</td>
                                <td align="center" bgcolor="#3399ff">争议原因</td>
                                <td align="center" bgcolor="#3399ff">申请淘再生网处理争议条件</td>
                            </tr>
                            <tr>
                                <td rowspan="3" align="center">售中争议</td>
                                <td align="center">未收到商品</td>
                                <td rowspan="3" align="center"><p>付款后，确认收货前或在系统提示的超时打款的时限内提出退款 申请。</p></td>
                            </tr>
                            <tr>
                                <td align="center">商品与描述不符</td>
                            </tr>
                            <tr>
                                <td align="center">商品存在质量问题</td>
                            </tr>
                            <tr>
                                <td rowspan="2" align="center">售后争议</td>
                                <td align="center">假冒商品</td>
                                <td align="center">在货物签收后的十天内提出退款申请。</td>
                            </tr>
                            <tr>
                                <td align="center">描述不符</td>
                                <td align="center">在货物签收后的十天内提出退款申请。</td>
                            </tr>
                        </table>
                    </div>
                    <h3>关于淘再生网处理争议的受理范围</h3>
                    <div class="table-main">
                        <table width="100%" border="1">
                          <tr class="table-tt">
                            <td align="center" bgcolor="#3399ff">情形</td>
                            <td width="200" align="center" bgcolor="#3399ff">淘再生网</td>
                          </tr>
                          <tr>
                            <td>符合淘再生网处理争议的申请条件的</td>
                            <td align="center">受理</td>
                          </tr>
                          <tr>
                            <td>买卖双方经自行协商达成退款协议但尚未履行，一方或双方反悔，要求淘再生网介入</td>
                            <td align="center">受理</td>
                          </tr>
                          <tr>
                            <td>买家超出规定时限提出退款申请的</td>
                            <td align="center">不受理</td>
                          </tr>
                          <tr>
                            <td>没有通过平台支付，通过线下交易的，相应的争议</td>
                            <td align="center">不受理</td>
                          </tr>
                          <tr>
                            <td>货到付款交易产生的争议</td>
                            <td align="center">不受理</td>
                          </tr>
                          <tr>
                            <td>买卖双方经自行协商达成退款协议并履行完毕，一方或双方反悔产生争议的</td>
                            <td align="center">不受理</td>
                          </tr>
                          <tr>
                            <td>交易做不退货退款处理后，卖家需要取回商品的</td>
                            <td align="center">不受理</td>
                          </tr>
                          <tr>
                            <td>买卖双方实际交易商品与订单显示商品不一致，因实际交易商品产生的争议</td>
                            <td align="center">不受理</td>
                          </tr>
                          <tr>
                            <td>淘再生网驳回买家退款要求后，买家再次申请</td>
                            <td align="center">不受理</td>
                          </tr>
                          <tr>
                            <td>因商品存在危及人身财产安全的不合理危险，导致买家损失的</td>
                            <td align="center">不受理</td>
                          </tr>
                          <tr>
                            <td>卖家未在规定时间内提供退货地址，或者提供退货地址错误导致买家无法退货或操作退回商品后无法送达的，或者买家根据协议约定操作退货后，卖家无正当理由拒绝签收商品的，交易做退款处理，退货运费由卖家承担；卖家需要取回商品的</td>
                            <td align="center">不受理</td>
                          </tr>
                          <tr>
                            <td><p>买家逾期未根据协议约定或淘宝规定时间操作退货的，交易做打款处理。</p>
                            <p>交易款项支付给卖家后，买家再次要求退货的</p></td>
                            <td align="center">不受理</td>
                          </tr>
                          <tr>
                            <td>交易款项或保证金支付后，根据处理结果仍需卖家(或买家)承担责任的</td>
                            <td align="center">不受理</td>
                          </tr>
                        </table>
                    </div>

                    <h3>关于淘再生网处理争议的举证</h3>
                    <p>争议处理过程中，淘再生网有权要求您或卖家提供证明证据，且有权单方判断证据的有效性。</p>
                    <p>1、 凭证类型：针对淘再生网受理的各类型争议所需提供的全部证明文件，以淘再生网要求的内容为准。</p>
                    <p>2、 凭证要求：您需要对凭证的真实性、完整性、准确性和及时性负责，并承担违背此要求带来的后果。</p>
                    <p>3、 凭证通知：淘再生网处理争议期间，会通过网站系统、电子邮件、短信或电话等方式向买卖双方发送与争议处理相关的提示或通知。</p>

                    <h3>关于淘再生网处理争议的中止和恢复</h3>
                    <p>一般情况下，淘再生网介入处理争议后您需要按照淘再生网设定的流程执行，但在两种情况下，淘再生网会中止处理您和卖家之间的争议。</p>

                    <div class="table-main">
                        <table width="100%" border="1">
                          <tr class="table-tt">
                            <td width="33%" align="center" bgcolor="#3399ff">中止情形</td>
                            <td width="33%" align="center" bgcolor="#3399ff">中止条件</td>
                            <td align="center" bgcolor="#3399ff">恢复</td>
                          </tr>
                          <tr>
                            <td>买卖双方一致要求自行协商处理争议</td>
                            <td>双方应当在提出协商要求后的30天内自行操作交易款项，或向淘再生网提供协商结果，由淘再生网代为操作</td>
                            <td>逾期没有操作交易款项也没有向淘再生网告知协商结果的，淘再生网有权继续按照相关处理原则处理您与买家之前的争议</td>
                          </tr>
                          <tr>
                            <td>买卖任何一方通知淘再生网相应争议将通过司法途径解决</td>
                            <td><p>1） 您或您的卖家应当在通知淘再生网&ldquo;将通过司法途径解决争议&rdquo;后的7个工作日内向淘再生网提供司法机关的案件受理凭证；</p>
                            <p>2） 司法机关在受理案件后的六个月内需对交易款项做出延长交易帐期、划拨等处理结果</p></td>
                            <td>逾期没有操作交易款项也没有向淘再生网告知协商结果的，淘再生网有权继续按照相关处理原则处理您与买家之前的争议</td>
                          </tr>
                        </table>
                    </div>
                </div>
            </div>
