           <div class="fr right-center">
                <div class="right-top"><i></i>注册相关-注册流程</div>
                <div class="right-title">注册流程</div>
                <div class="right-gomo">
                    <div class="gomo-doho">1.点击网站首页左边顶部“免费注册”或是首页导航右下方“注册”</div>
                    <div class="gomo-img"><img src="http://img0.zz91.com/trade/help/images/contentimg1.png"></div>
                </div>
                <div class="right-gomo">
                    <div class="gomo-doho">2.输入您的手机号，点击下一步</div>
                    <div class="gomo-img"><img src="http://img0.zz91.com/trade/help/images/contentimg2.png"></div>
                </div>
                <div class="right-gomo">
                    <div class="gomo-doho">3.输入手机验证码，点击确认</div>
                    <div class="gomo-img"><img src="http://img0.zz91.com/trade/help/images/contentimg3.png"></div>
                </div>
                <div class="right-gomo">
                    <div class="gomo-doho">4.填写注册信息，点击确定</div>
                    <div class="gomo-img"><img src="http://img0.zz91.com/trade/help/images/contentimg4.png"></div>
                </div>
                <div class="right-gomo">
                    <div class="gomo-doho">5.注册成功</div>
                    <div class="gomo-img"><img src="http://img0.zz91.com/trade/help/images/contentimg5.png"></div>
                </div>
            </div>