            <div class="fr right-center">
                <div class="problorm-main">
                    <h2>运费问题的争议处理（买家版）</h2>
                    <p class="problorm-zj">运费在实物交易中是必不可少的一部分，因而关于运费的争议也是屡见不鲜。为了使交易双方能够在交易过程中清晰了解运费承担问题，减少关于运费的纠纷，卖家应当对运费的组成和承担进行清晰、准确的描述。运费由买家承担的，卖家应当按照实际发生的金额向买家收取运费。如果由于卖家的商品、描述、承诺等出现问题导致运费争议的，您应当在付款后，确认收货前或在淘再生网系统提示的超时打款的时限内提出退款申请。超出规定时限提出退款申请的，淘再生网不予受理。</p>
                    <p class="problorm-zj">同时请您注意：运费由您承担情况下，约定运费低于实际发生的运费的，不足部分淘再生网不予处理；货到付款交易产生的运费争议，淘再生网不予处理，需要您与您的卖家自行协商或通过其他途径解决。</p>

                    <h3>【发货时间】</h3>
                    <p>1、 若您与卖家自行约定发货时间的，卖家须在您付款后按照约定在承诺的时间内发货；</p>
                    <p>2、 若您与卖家未约定发货时间的，卖家须在您付款后的七十二小时内进行发货；</p>
                    <p>3、 若您在卖家还未发货的时候已经申请了退款，卖家想继续发货的，需要卖家先征得您的同意。若卖家逾期发货，或者未经您的同意在您申请退款后强行发货的，卖家应当追回已经发出的商品，但您已经签收并且确认收货的除外。</p>

                    <h3>一、运费问题的处理原则</h3>
                    <p>交易中的运费争议，根据“谁过错，谁承担”的原则处理，但买卖双方协商一致的除外。如果交易存在约定不清的情形，淘再生网无法确定是谁的责任，交易做退货退款处理，发货运费由卖家承担，退货运费由您承担。</p>

                    <h3>【约定运费的争议】</h3>
                    <p>运费由买家承担的，卖家应当按照实际发生的金额向您收取运费。</p>
                    <p>1、 若您支付的运费高于实际发生的运费的，超出部分做退款处理。</p>
                    <p>2、 如果实际发生的运费与商品描述的运费不一致，或者商品描述中对运费做出两个以上的不同描述的，卖家应当向您进行说明，并征得您的同意。若未与您清晰约定而出现争议的，淘再生网以有利于您的描述进行运费的处理。</p>
                    
                    <h3>【发货涉及的运费争议】</h3>
                    <p>如果卖家违反发货要求（发货问题的争议处理），导致您未收到货、拒绝签收商品或者签收后退回商品的，交易做退款处理，运费需要由卖家承担。</p>

                    <h3>【签收涉及的运费争议】</h3>
                    <p>1、 您依据签收规范（问题的争议处理）拒绝签收商品或者退回商品的，交易做退款处理，运费需要由卖家承担。</p>
                    <p>2、 若卖家按照约定发货后，收货人有收货的义务。收货人无正当理由拒绝签收商品，且卖家能够有效举证证实的，相关运费损失，承担方式如下：</p>

                    <div class="table-main">
                        <table width="100%" border="1">
                            <tr class="table-tt">
                                <td align="center" bgcolor="#3399fff">商品/场景</td>
                                <td align="center" bgcolor="#3399fff" width="100">商品包邮情况</td>
                                <td align="center" bgcolor="#3399fff">买家</td>
                                <td align="center" bgcolor="#3399fff">卖家</td>
                                <td align="center" bgcolor="#3399fff">淘再生网处理原则</td>
                                <td align="center" bgcolor="#3399fff">备注</td>
                            </tr>
                            <tr>
                                <td rowspan="2" align="center">支持：&ldquo;七天无理由退货&rdquo;服务商品</td>
                                <td align="center">包邮</td>
                                <td rowspan="2" align="center">买家需要像是七天无理由退货服务/拒收</td>
                                <td rowspan="2" align="center">/</td>
                                <td align="center">发货运费需要卖家承担，买家只需要承担退货运费</td>
                                <td rowspan="5" align="center">若您对发货运费价格</td>
                            </tr>
                            <tr>
                                <td align="center">非包邮</td>
                                <td align="center">由买家承担来回运费</td>
                            </tr>
                            <tr>
                                <td rowspan="3" align="center"><p>非&ldquo;七天无理由退货&rdquo;</p>
                                <p>商品</p></td>
                                <td rowspan="3" align="center">包邮/非包邮</td>
                                <td align="center">1、买家拒收（仅产生单程运费）</td>
                                <td rowspan="2" align="center">需要有效举证证实买家无理由拒收货物</td>
                                <td align="center">举证有效，由买家承担发货运费</td>
                            </tr>
                            <tr>
                                <td align="center">2、买家拒收（产生双程运费）</td>
                                <td align="center">举证有效，由买家承担来回运费</td>
                            </tr>
                            <tr>
                                <td align="center">3、买家因为自己的个人原因需要退货退款</td>
                                <td align="center">同意买家无理由退货的要求</td>
                                <td align="center">由买家承担来回运费</td>
                            </tr>
                        </table>
                    </div>

                    <h3>【退换货涉及的运费争议】</h3>
                    <p>1、 买卖双方达成退款协议，但未就退货运费进行约定的，需要由卖家承担与其发货相同货运方式的运费。</p>
                    <p>2、 商品在换货或维修过程中需要寄送且未约定运费承担方式的，由此产生的运费需由卖家承担。</p>
                    <p>3、 卖家未在规定时间内提供退货地址，或者提供退货地址错误导致您无法退货或操作退回商品后无法送达的，或者您根据协议约定操作退货后，卖家无正当理由拒绝签收商品的，交易做退款处理，退货运费由卖家承担。若卖家需要取回商品的，应当与您另行协商或通过其他途径解决，淘再生网不予处理。</p>
                    <p>4、 您根据协议约定或淘再生网做出的处理结果操作退货时，应当使用与卖家发货时相同的运输方式发货。除非得到卖家的明确同意，您不得使用到付方式支付运费。退货后，卖家有收货的义务。</p>
                    <p>5、 淘再生网处理争议期间，卖家同意退货或换货，但就运费的承担提出明确异议的，您应当先行退货，卖家签收商品后，由淘再生网根据本规范对运费承担做出处理。</p>

                    <h3>【物流涉及的运费争议】</h3>
                    
                    <p>未经您明确同意，若卖家使用到付方式（指在委托承运人时不支付运费，而由收货人在收货时向承运人支付运费的运输方式）委托承运人发货的，您有权拒绝签收商品；您签收商品的，到付运费超出约定运费的部分由卖家承担。</p>

                    <h3>【商品涉及的运费争议】</h3>
                    <p>1、 如果买家提供有效凭证证实收到商品有问题或是因为您承诺未履行而导致的退货退款，运费需要由您承担；</p>
                    <p> 2、支持“七天退货”的商品</p>
                    <div class="table-main">
                        <table width="100%" border="1">
                            <tr class="table-tt">
                                <td align="center" bgcolor="#3399FF">商品/场景</td>
                                <td align="center" bgcolor="#3399FF">买家</td>
                                <td align="center" bgcolor="#3399FF">是否包邮</td>
                                <td align="center" bgcolor="#3399FF">卖家</td>
                                <td align="center" bgcolor="#3399FF">淘再生网处理原则</td>
                            </tr>
                            <tr>
                                <td rowspan="2" align="center">支持：&ldquo;七天无理由退货&rdquo;服务商品</td>
                                <td rowspan="2" align="center">买家需要享受七天无理由退货服务</td>
                                <td align="center">包邮</td>
                                <td rowspan="2" align="center">/</td>
                                <td align="center">发货运费需要卖家承担，买家只需要承担退货运费</td>
                            </tr>
                            <tr>
                                <td align="center">非包邮</td>
                                <td align="center">由买家承担来回运费</td>
                            </tr>
                            <tr>
                                <td rowspan="3" align="center"><p>非&ldquo;七天无理由退货&rdquo;</p>
                                <p>商品</p></td>
                                <td rowspan="2" align="center">买家拒收</td>
                                <td align="center">仅产生单程运费</td>
                                <td rowspan="2" align="center"><p>需要有效举证证实买家无</p>
                                <p>理由拒收货物</p></td>
                                <td align="center">举证有效，由买家承担发货运费</td>
                            </tr>
                            <tr>
                                <td align="center">产生双程运费</td>
                                <td align="center">举证有效，由买家承担来回运费</td>
                            </tr>
                            <tr>
                                <td align="center">买家因为自己的个人原因（如不喜欢/不合适）需要退货退款</td>
                                <td align="center">包邮/非包邮</td>
                                <td align="center"><p>同意买家无理由退货</p>
                                <p>的要求</p></td>
                                <td align="center"><p>由买家承担来回运费，但若买家对发货运费价格有异议，</p>
                                  <p>卖家需要配合提供相关运费证明</p>
                                <p>（如带有价格的发货底单等有效收费证明）</p></td>
                            </tr>
                        </table>
                    </div>

                    <h3>二、运费问题的举证</h3>
                    <p>如果买卖双方对于运费价格有争议，买卖双方都有义务出具相应运费价格证明（如带有运费价格的发货单等），以便淘再生网核实。</p>


                    <h3>三、温馨提示</h3>
                    <h3>如何避免交易出现运费问题的争议呢？</h3>
                    <p>交易中的运费争议，根据“谁过错，谁承担”的原则处理，因此建议您在交易过程中1）如实进行商品描述，让买家在购买前能够清晰了解后再进行购买；2）发货前请做好商品质量检查，降低发生质量问题的概率；3）对于运输方式、价格等有特殊说明的，请在交易前及时告知买家并征得买家的同意。</p>

                    <h3>四、常见问题</h3>
                    <h3>如果买家自己填错了地址或者是旺旺上给我留言改地址，但是我没有看到，现在货物无法送达，产生运费了，该谁承担?</h3>
                    <p>如果是买家自己填错地址，或者是改地址的时候没有和您确认，相关运费由买家承担；但若买家已与您进行了确认，之后出现此问题的，相关运费就需要您承担了哦。</p>
                    
                    <h3>我同意买家退货，但是默认的退货地址是错误的，所以在同意退款协议后马上补充了新的退货地址，但是买家还是按照旧的地址发回，导致我收不到货。这时候产生的运费，由谁承担？</h3>
                    <p>如果您需要变更退货地址的，请您及时修改默认退货地址。若来不及修改只能通过重新约定的方式变更的，同样也请您通知您的买家进行确认；若未进行确认而买家使用了默认退货地址将货物退回的，产生的运费损失需要由您承担。</p>

                    <h3>买家收到商品表示有破损，当时出于服务的角度出发，没有让买家出具物流公章凭证就同意买家退货了，但是并没有约定运费，现在买家不愿意承担我的发货运费，怎么办？</h3>
                    <p>如果您同意买家退货，请您在买家退货前和买家明确运费承担情况哦。如果当时未主动与买家说明，且货物已经退回后再出现关于运费的争议，此时相关运费是需要您承担的哦。</p>

                    <h3>发布宝贝时运费模板设置了包邮，但我在宝贝描述中明确说明发到付件，后续买家拍下并付款，我发到付后，买家拒收商品退回，此时来回运费由谁承担？</h3>
                    <p>如果您需要使用到付的方式进行发货，请您在发货前通过阿里旺旺与您的买家进行说明，并征得买家确认后再进行发货。若只在宝贝描述中单方面说明未经买家明确同意，则买家有权拒签，相关运费损失及货物风险需要由您承担。</p>

                </div>
            </div>
