body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../我的旺铺-我的域名_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:9px;
    top:9px;
    width:961px;
    height:37px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:37px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../我的旺铺-我的域名_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:52px;
    width:156px;
    height:66px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:156px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:25px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../我的旺铺-我的域名_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:171px;
    top:53px;
    width:110px;
    height:61px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:67px;
}

.u5 {
    position:absolute;
    left:2px;
    top:23px;
    width:106px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../我的旺铺-我的域名_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:298px;
    top:54px;
    width:502px;
    height:61px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:502px;
    height:61px;
}

.u7 {
    position:absolute;
    left:2px;
    top:22px;
    width:498px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../我的旺铺-我的域名_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:12px;
    top:129px;
    width:952px;
    height:35px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:958px;
    height:41px;
}

.u9 {
    position:absolute;
    left:2px;
    top:10px;
    width:948px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../我的旺铺-我的域名_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:12px;
    top:218px;
    width:952px;
    height:253px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:958px;
    height:259px;
}

.u11 {
    position:absolute;
    left:2px;
    top:118px;
    width:948px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:35px;
    top:245px;
    width:109px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:35px;
    top:355px;
    width:109px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:167px;
    top:350px;
    width:101px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15_menu {
    background-image: url('../我的旺铺-我的域名_files/u15_menu.png');
}

.u15_menu {
    position:absolute;
    left:20px;
    top:131px;
    width:515px;
    height:35px;
}

#u15_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:512px;
    height:32px;
}

#u16 {
    position:absolute;
    left:3px;
    top:3px;
    width:505px;
    height:25px
}

.u17_mouseOver {
    background-image: url('../我的旺铺-我的域名_files/u17_mouseOver.png');
}

.u17_normal {
    background-image: url('../我的旺铺-我的域名_files/u17_mouseOver.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_mouseOver {
    background-image: url('../我的旺铺-我的域名_files/u17_mouseOver.png');
}

.u19_normal {
    background-image: url('../我的旺铺-我的域名_files/u17_mouseOver.png');
}

.u19_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_mouseOver {
    background-image: url('../我的旺铺-我的域名_files/u17_mouseOver.png');
}

.u21_normal {
    background-image: url('../我的旺铺-我的域名_files/u17_mouseOver.png');
}

.u21_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_mouseOver {
    background-image: url('../我的旺铺-我的域名_files/u17_mouseOver.png');
}

.u23_normal {
    background-image: url('../我的旺铺-我的域名_files/u17_mouseOver.png');
}

.u23_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_mouseOver {
    background-image: url('../我的旺铺-我的域名_files/u17_mouseOver.png');
}

.u25_normal {
    background-image: url('../我的旺铺-我的域名_files/u17_mouseOver.png');
}

.u25_container {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_line {
    background-image: url('../我的旺铺-我的域名_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:0px;
    top:4px;
    width:954px;
    height:3px;
}

.u27 {
    position:absolute;
    left:10px;
    top:499px;
    width:954px;
    height:10px;
    
}

.u28 {
    position:absolute;
    left:410px;
    top:355px;
    width:403px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:176px;
    top:294px;
    width:289px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:912px;
    top:458px;
    width:43px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:831px;
    top:91px;
    width:117px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:800px;
    top:58px;
    width:125px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_menu {
    background-image: url('../我的旺铺-我的域名_files/u33_menu.png');
}

.u33_menu {
    position:absolute;
    left:922px;
    top:50px;
    width:48px;
    height:37px;
}

#u33_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:34px;
}

#u34 {
    position:absolute;
    left:3px;
    top:3px;
    width:38px;
    height:27px
}

.u35_mouseOver {
    background-image: url('../我的旺铺-我的域名_files/u35_mouseOver.png');
}

.u35_normal {
    background-image: url('../我的旺铺-我的域名_files/u35_mouseOver.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:22px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:39px;
    height:28px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:29px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_menu {
    background-image: url('../我的旺铺-我的域名_files/u37_menu.png');
}

.u37_menu {
    position:absolute;
    left:32px;
    top:286px;
    width:140px;
    height:34px;
}

#u37_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:31px;
}

#u38 {
    position:absolute;
    left:3px;
    top:3px;
    width:130px;
    height:24px
}

.u39_mouseOver {
    background-image: url('../我的旺铺-我的域名_files/u39_mouseOver.png');
}

.u39_normal {
    background-image: url('../我的旺铺-我的域名_files/u39_mouseOver.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:0px;
    width:125px;
    height:19px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:25px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:171px;
    top:245px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:278px;
    top:354px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

