<section  class="hb_tradelist_r">
	<figure class="hbl_r_ad margintop8 html5radius"><img src="$!{address.img}/huanbao/images/ads/trade/tradelist/trlst02.gif"/></figure>
	<div>
	#if("$!{search.encodeKeywords}"!="")
    	<script type="text/javascript" src="http://gg.zz91.com/show?p=148&keywords=$!{search.encodeKeywords}"></script>
    #else
    	<script type="text/javascript" src="http://gg.zz91.com/show?p=148&keywords=$!{categoryName}"></script>
    #end
    </div>
    <div>
    	<script type="text/javascript" src="http://gg.zz91.com/show?p=219"></script>
    </div>
	
</section>