<div class="wrap">
			<div class="head">
				<h2 class="t">热门关键字</h2>
			</div>
			<div class="cont">
				<dl class="keyword_list">
					<dt>废塑料</dt>
					<dd>
            			<a href="$!{address.tech}/jishu/list-c1001-k%E8%A1%A8%E9%9D%A2%E9%97%AE%E9%A2%98.htm" target="_blank" title="表面问题">表面问题</a>
            			<a href="$!{address.tech}/jishu/list-c1001-k%E5%8F%98%E5%BD%A2%E9%97%AE%E9%A2%98.htm" target="_blank" title="变形问题">变形问题</a>
            			<a href="$!{address.tech}/jishu/list-c1001-k%E6%B0%94%E6%B3%A1.htm" target="_blank" title="气泡">气泡</a>
            			<a href="$!{address.tech}/jishu/list-c1001-k%E8%89%B2%E6%B3%BD%E9%97%AE%E9%A2%98.htm" target="_blank" title="色泽问题">色泽问题</a>
            			<a href="$!{address.tech}/jishu/list-c1001-k%E6%BA%A2%E6%96%99%E9%A3%9E%E8%BE%B9.htm" target="_blank" title="溢料飞边">溢料飞边</a>
            			<a href="$!{address.tech}/jishu/list-c1001-k%E5%8E%9A%E5%BA%A6%E9%97%AE%E9%A2%98.htm" target="_blank" title="厚度问题">厚度问题</a>
            			<a href="$!{address.tech}/jishu/list-c1001-k%E8%84%B1%E6%A8%A1%E9%97%AE%E9%A2%98.htm" target="_blank" title="脱模问题">脱模问题</a>
            			<a href="$!{address.tech}/jishu/list-c1001-k%E6%88%90%E5%9E%8B%E6%95%85%E9%9A%9C.htm"  target="_blank" title="成型故障">成型故障</a>
            			<a href="$!{address.tech}/jishu/list-c1001-k%E7%86%94%E6%8E%A5%E7%97%95.htm" target="_blank" title="熔接痕">熔接痕</a>
            			<a href="$!{address.tech}/jishu/list-c1001-k%E6%AC%A0%E6%B3%A8.htm" target="_blank" title="欠注">欠注</a>
					</dd>
				</dl>
				<dl class="keyword_list">
					<dt>废金属</dt>
					<dd>
          				<a href="$!{address.tech}/jishu/list-c1000-k%E5%B7%A5%E8%89%BA%E6%B5%81%E7%A8%8B.htm" target="_blank" title="工艺流程">工艺流程</a>
          				<a href="$!{address.tech}/jishu/list-c1000-k%E6%8B%86%E8%A7%A3.htm" target="_blank" title="拆解">拆解</a>
          				<a href="$!{address.tech}/jishu/list-c1000-k%E7%BB%BC%E5%90%88%E6%A0%87%E5%87%86.htm" target="_blank" title="综合标准">综合标准</a>
          				<a href="$!{address.tech}/jishu/list-c1000-k%E5%8D%95%E5%93%81%E5%B7%A5%E8%89%BA.htm" target="_blank" title="单品工艺">单品工艺</a>
          				<a href="$!{address.tech}/jishu/list-c1000-k%E4%BA%A7%E5%93%81%E5%88%86%E7%B1%BB.htm" target="_blank" title="产品分类">产品分类</a>
          				<a href="$!{address.tech}/jishu/list-c1000-k%E5%86%B6%E9%87%91%E5%B7%A5%E8%89%BA.htm" target="_blank" title="冶金工艺">冶金工艺</a>
          				<a href="$!{address.tech}/jishu/list-c1000-k%E6%B6%89%E5%8F%8A%E4%BA%A7%E5%93%81.htm" target="_blank" title="涉及产品">涉及产品</a>
          				<a href="$!{address.tech}/jishu/list-c1000-k%E6%96%B0%E5%B7%A5%E8%89%BA.htm" target="_blank" title="新工艺">新工艺</a>
          				<a href="$!{address.tech}/jishu/list-c1000-k%E5%88%86%E9%80%89.htm" target="_blank" title="分选">分选</a>
          				<a href="$!{address.tech}/jishu/list-c1000-k%E8%B4%A8%E9%87%8F%E6%A0%87%E5%87%86.htm" target="_blank" title="质量标准">质量标准</a>
					</dd>
				</dl>
				<dl class="keyword_list">
					<dt>其他</dt>
					<dd>
          				<a href="$!{address.tech}/jishu/list-c1003-k%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8.htm" target="_blank" title="技术应用">技术应用</a>
          				<a href="$!{address.tech}/jishu/list-c1003-k%E4%BA%A7%E5%93%81%E4%BB%8B%E7%BB%8D.htm" target="_blank" title="产品介绍">产品介绍</a>
          				<a href="$!{address.tech}/jishu/list-c1003-k%E6%8A%80%E6%9C%AF%E5%8A%A0%E5%B7%A5.htm" target="_blank" title="技术加工">技术加工</a>
          				<a href="$!{address.tech}/jishu/list-c1003-k%E5%B8%82%E5%9C%BA%E5%88%86%E6%9E%90.htm" target="_blank" title="市场分析">市场分析</a>
          				<a href="$!{address.tech}/jishu/list-c1003-k%E6%8A%80%E6%9C%AF%E5%89%8D%E6%B2%BF.htm" target="_blank" title="技术前沿">技术前沿</a>
          				<a href="$!{address.tech}/jishu/list-c1003-k%E5%86%8D%E7%94%9F%E5%BA%94%E7%94%A8.htm" target="_blank" title="再生应用">再生应用</a>
          				<a href="$!{address.tech}/jishu/list-c1003-k%E6%8A%80%E6%9C%AF%E5%89%8D%E6%B2%BF.htm" target="_blank" title="技术前沿">技术前沿</a>
          				<a href="$!{address.tech}/jishu/list-c1003-k%E8%84%B1%E5%A2%A8.htm" target="_blank" title="脱墨">脱墨</a>
          				<a href="$!{address.tech}/jishu/list-c1003-k%E6%A9%A1%E8%83%B6.htm" target="_blank" title="橡胶">橡胶</a>
          				<a href="$!{address.tech}/jishu/list-c1003-k%E5%B7%A5%E8%89%BA%E6%B5%81%E7%A8%8B.htm" target="_blank" title="工艺流程">工艺流程</a>
          				<a href="$!{address.tech}/jishu/list-c1003-k%E5%8D%B0%E5%88%B7.htm" target="_blank" title="印刷">印刷</a>
          				<a href="$!{address.tech}/jishu/list-c1003-k%E4%BA%A7%E5%93%81%E5%88%86%E7%B1%BB.htm" target="_blank" title="产品分类">产品分类</a>
					</dd>
				</dl>
			</div>
		</div>