#set($layout="/layout/blank.vm")


<header id="header"  class="header">
        <article class="hb_mastheadt">
                <div class="hb_logo">
                <script type="text/javascript" src="http://gg.zz91.com/show?p=200"></script>
                </div>
                <div class="hb_search">
                        <form action="$!{address.www}/search.htm" method="post" id="headerSearchForm" name="headerSearchForm">
                        <fieldset>
                        <legend  class="displaynone">hb搜索</legend>
                        <div class="hb_searchlist">
                                <ul class="hb_serchlist_ul" id="hbSearchType">
                                        <li class="srhyes">产品</li>
                                        <li >资讯</li>
                                        <li >展会</li>
                                        <li >公司库</li>
                                        <li >求购</li>
                                </ul>
                                <span class="search_hot">
                                随时给您新鲜...
                                <a class="gz-btn gz-weibo" href="http://weibo.com/huanbaocom" target="_blank" rel="nofollow">加关注</a>
                                <a class="gz-btn gz-qzong" href="http://t.qq.com/chinahuanbaowang" target="_blank" rel="nofollow">加关注</a>
                                </span>
                        </div>
                        <div class="hb_searcharea">
                            <label for="hbSearchKeyWords" class="hb_search_label" id="hbSearchKeyLabel">请输入您要的关键字</label>
                            <input type="text" class="hb_search_text" name="searchKeyWords" id="hbSearchKeyWords"/>
                            <input type="hidden" name="searchTypeValue" id="hbSearchTypeValue" value="0"/>
                            <input type="submit" value="找一下" class="hb_search_sub" id="hb_search_sub"/>
                        </div>
                        </fieldset>
                        </form>
                </div>
        </article>
        <div class="clear"></div>
</header>
<script>
//search slide
hb.util.search.slideSearchType({
	hbSearchType:"#hbSearchType",
	hbsearchTypeValue:"#hbSearchTypeValue",
	hbsearchKeyWords:"#hbSearchKeyWords",
	hbSearchKeyLabel:"#hbSearchKeyLabel"
});
$('.isSelectTip').css("left",40);

jQuery(document).ready(function(){
	
	var search = new hb.util.search.WWWSearch();
		
	jQuery("#headerSearchForm").submit(function(){
		var type=jQuery("#hbSearchTypeValue").val();
		var kw=jQuery("#hbSearchKeyWords").val();
		if(kw==""){
			alert("请输入关键字");
			return false;
		}
		
		if(type==0){
			window.open("$!{address.trade2}/list.htm?keywords="+encodeURI(kw));
			return false;
		}
		
		return true;
	});
});
</script>
<div class="header hb_dhbj">
        <div class="hb_dhbj_l hb_tradeleader_tit"></div>
        <div class="hb_dhbj_c hb_tradeleader_tit">
                <ul>
                        <li class="hb_dhbj_cas"><a href="$!{address.trade2}" target="_blank">产品首页</a></li>
                        <li class="hb_dhbj_ca"><a href="$!{address.trade2}/supply/index.htm" target="_blank">即时供应</a></li>
                        <li class="hb_dhbj_ca"><a href="$!{address.news}" target="_blank">资讯</a></li>
                        <li class="hb_dhbj_ca"><a href="$!{address.exhibit}" target="_blank">展会</a></li>
                        <li class="hb_dhbj_ca"><a href="$!{address.company}" target="_blank">公司库</a></li>
                        <li class="hb_dhbj_ca"><a href="$!{address.trade}/buy/index.htm" target="_blank">买家中心</a></li>
                </ul>
                <div class="clear"></div>     
        </div>
        <div class="hb_dhbj_r hb_tradeleader_tip"></div>
</div>

<div class="header hb_dhkey">
	<a href="$!{address.trade2}/wushui" target="_blank">污水处理设备</a> | 
	<a href="$!{address.trade2}/yuanshui" target="_blank">原水处理设备</a> | 
	<a href="$!{address.trade2}/kongqi" target="_blank">空气净化设备</a> | 
	<a href="$!{address.trade2}/cailiao" target="_blank">材料药剂</a> | 
	<a href="$!{address.trade2}/peijian" target="_blank">泵/阀/风机</a> | 
	<a href="$!{address.trade2}/huanwei" target="_blank">环卫设备</a> | 
	<a href="$!{address.trade2}/yiqiyibiao" target="_blank">仪器仪表</a> | 
	<a href="$!{address.trade2}/zonghe" target="_blank">综合设备</a>
</div>

