
#set($layout="/layout/blank.vm")

<div class="reginfo" id="hb_fjtz_p"><a href="#" onclick="document.getElementById('hb_fjtz_p').style.display='none';return false;" style="cursor:pointer"><img src="http://img0.huanbao.com/huanbao/images/header/reginfo.png" width="225" height="42" /></a></div>
<div class="hb_bar">
        <div class="hb_bar_contn">
                <div class="hb_bar_serve">
                        <ul>
							#if("$!{loginName}" != "")
            					<li class="hb_welcome">欢迎回来，$!{loginName}!</li>
            					<li><a href="$!{address.myesite}/supply/publish_StpOne.htm" rel="nofollow">快速发布</a></li>
            					<li><a href="$!{address.myesite}">生意管家</a></li>
            					<li><a href="$!{address.myesite}/logout.htm">注销</a></li>
            				#else
                                <li class="hb_welcome">欢迎访问<a href="$!{address.www}">中国环保网</a>!</li>
                                <li><a href="$!{address.myesite}/supply/publish_StpOne.htm" rel="nofollow">快速发布</a></li>
                                <li><a href="$!{address.myesite}/regist.htm" rel="nofollow">免费注册</a></li>
                                <li><a href="$!{address.myesite}/login.htm" ref="nofollow">登录</a></li>
							#end
                        </ul>
                        <div class="clear"></div>
                </div>
        <div class="hb_bar_navt">
                <ul id="hb_bar_navls">
                        <li>
                        <a>我的后台</a>
                                <ul class="hb_bar_nav_centert" id="hb_bar_nav_block">
                                        <li><a href="$!{address.myesite}" ref="nofollow" target="_blank">我的后台</a></li>
                                        <li><a href="$!{address.myesite}/message/receiveMessage.htm" ref="nofollow" target="_blank">查看询盘信息</a></li>
                                        <li><a href="$!{address.myesite}/supply/publish_StpOne.htm" rel="nofollow" target="_blank">发布供应信息</a></li>
                                        <li><a href="$!{address.myesite}/buy/publish_StpOne.htm" ref="nofollow" target="_blank">发布求购信息</a></li>
                                        <li><a href="$!{address.myesite}/supply/supply.htm" ref="nofollow" target="_blank">管理已发布信息</a></li>
                                </ul>
                        </li>
                        <div class="clear"></div>
                </ul>
        </div>
        <div class="astop_bar_adf" ><a alt="将环保网添加到收藏夹" class="addfavoritesbtn" onclick="hb.util.topBar.AddBookmark('环保网','$!{address.www}')">收藏我</a></div>
        <div class="clear"></div>
		</div>
</div>
<script>
	//预加载方法
	hb.util.topBar.HoverList();
</script>
