#set($layout="/layout/registerLayout.vm")
<div class="reg_container">
    <div class="reg_inner">
        <div class="wel_text">欢迎您注册zz91再生网，祝您生意更顺利</div>
			<div class="notice_wrap">
        #if($!{error}=="1")
				<em class="warn">激活错误，可能原因：账户已激活或连接不正确!</em>
		#else
				<em class="success">激活成功！</em>
		#end
			</div>
			<div class="go_target">
				<a href="$!{address.myrc}" class="single">登录生意管家</a>
			</div>
    </div>
</div>
