<script type="text/javascript" src="#springUrl('/app/sale/data.js')" ></script>
<script type="text/javascript" src="#springUrl('/app/gridCopy.js')" ></script>
<script type="text/javascript" >
	Ext.onReady(function(){
		var dataGrid=new com.zz91.ep.crm.DataGrid({
			layout:"fit",
			region:"center"
		});
				
		var viewport = new Ext.Viewport({
			layout:"border",
			items:[dataGrid]
		});
	})
</script>