<script type="text/javascript" src="#springUrl('/app/sale/registerData.js')" ></script>
<script type="text/javascript" src="#springUrl('/app/gridCopy.js')" ></script>
<script type="text/javascript" >
	Ext.onReady(function(){
		var regGrid=new com.zz91.ep.crm.RegDataGrid({
			layout:"fit",
			region:"center"
		});
		
		var viewport = new Ext.Viewport({
			layout:"border",
			items:[regGrid]
		});
	})
</script>