<script type="text/javascript"> 
    function ReSearch() {
    	var keyWord = document.getElementById("reKey").value;
		zz91Search.price({
            contextpath:"#springUrl('')",
            target:"_self",
            searchOptions:{
                keywords:keyWord
            }
        });
		return false;
    }
</script>
<div class="left">
    <div class="subDiv">
        <div class="title">
            <div class="searchKeyTit">
                <span class="linkSLW">
                    <a href="http://suliao.zz91.com/" target='_blank' title="再生塑料网">精确报价,买卖商机, 尽在再生塑料网</a>
				</span>
			</div>
		</div>
    
        <div class="subDiv_left1">
            <div class="nohaveKeyWord">ZZ91再生网提示：搜索不到关于 <font color="red">$!{title}</font> 的相关报价信息!</div>
            <div id="help">
    				<div class="helpTit">你可以缩短或修改您的搜索词，重新搜索</div>
                    <div class="searchReArea">
                         <input id="reKey" name="reKey" type="text" #if($!{title}) value="$!{title}" #else value="请输入您感兴趣的产品名称！"  #end />
                         <input id="btnReSearch" class="btnReSearch"  name="btnReSearch" type="button" value="重新搜索" onclick="ReSearch()" />
    					 <br />
                         <span style="color:#666">如把“PET最新价格”缩短为“PET”</span>
    				</div>
    				
                    <div class="helpTit">您也可以把要求购的信息免费发布到ZZ91再生网，让生意自动找上门</td></div>
                    <div class="searchReArea2">
                            <a href='$!{address.huzhu}' target='_blank'>找43万在线商人帮忙解答</a>
                            <a href='#springUrl("/companyprice")' target='_blank'>查看最新的企业报价</a>
                            <a href='$!{address.myrc}/mycompanyprice/saveCompanyPrice.htm' target='_blank'>发布我的报价</a>
            				<a href="#springUrl('/moreList_p17_metal.htm')" target='_blank'>废金属最新报价</a>
                            <a href="#springUrl('/priceList_t22_plastic.htm')" target='_blank'>废塑料最新报价</a>
                            <a href="#springUrl('/moreList_p13_paper.htm')" target='_blank'>废纸橡胶等最新报价</a>
    
    		        </div>
            </div>
        </div>
	</div>
</div>

