<div class="right1" id="right6">
 <div class="title">
		<div class="nav3_l"></div>
        <h3>
            <a href="$!{address.trade}" target="_blank" title="最新求购信息">最新求购信息</a>
        </h3>
        <span class="more">
            <a href="$!{address.trade}" target="_blank" title="更多最新求购信息">更多&gt;&gt;</a>
        </span>
    </div>
	<div class="content" >
        <ul>
			#cacheFragment("$!{address.fragment}/trade/newestTrade.htm?mainCode=$!{mainCode}&typeCode=10331001&size=6&pd11", "", "", "")
			#foreach($products in $productsList)
                <li>
                    <font color='#CC6600'>#printProductType($!{products.productsTypeCode} "[" "]")</font>
                    <a target="_blank" href="$!{address.trade}/productdetails$!{products.id}.htm"  title="$!{products.title}">
						#printTitle($!{products.title} 20 "")
					</a>
					<span>#printFragmentDate('yyyy-MM-dd' $!{products.refreshTime})</span>
                </li><br/>
			#end
			#end
            <div style="clear:both"></div>
        </ul>
    </div>
</div>





<div class="right1" id="right7">
 <div class="title">
		<div class="nav3_l"></div>
        <h3>
            <a href="$!{address.trade}" target="_blank" title="最新供求信息">最新供应信息</a>
        </h3>
        <span class="more">
            <a href="$!{address.trade}" target="_blank" title="更多最供应信息">更多&gt;&gt;</a>
        </span>
    </div>
	<div class="content" >
        <ul>
			#cacheFragment("$!{address.fragment}/trade/newestTrade.htm?mainCode=$!{mainCode}&typeCode=10331000&size=6&pd111", "", "", "")
			#foreach($products in $productsList)
                <li>
					<font color='#CC6600'>#printProductType($!{products.productsTypeCode} "[" "]")</font>
                    <a target="_blank" href="$!{address.trade}/productdetails$!{products.id}.htm"  title="$!{products.title}">
						#printTitle($!{products.title} 20 "")
						##$!date.format('yyyy-MM-dd',$!{products.refreshTime})
					</a>
					<span>#printFragmentDate('yyyy-MM-dd' $!{products.refreshTime})</span>
                </li><br/>
			#end
			#end
            <div style="clear:both"></div>
        </ul>
    </div>
</div>
