<div class="price_block ml clear">
    <div class="block_title">
        <h2 class="title_text">
            <a href='$!{address.huzhu}' target='_blank'>$!{keyword}行情综述</a>
        </h2>
    </div>
    <div class="block_content">
        <ul class="list">
            #foreach($bl in $bList)
                <li>
                    <a href='#if($!{bl.news.goUrl}!="") $!{bl.news.goUrl} #else $!{address.huzhu}/viewReply.htm?postId=$!{bl.news.bbsPostId} #end' target='_blank'  title='$!{bl.news.title}'>
						#printTitle($!{bl.news.title} 25 "")
                    </a>
                </li>
            #end
        </ul>
    </div>
</div>
