<div class="price_block ml clear">
    <div class="block_title">
        <h2 class="title_text">
            <a href="#springUrl('/moreList_p17_metal.htm')" target="_blank">各地废金属价格查询</a>
		</h2>
        <a href="#springUrl('/moreList_p17_metal.htm')" class="title_more" target="_blank">更多>></a>
    </div>
    <div class="block_content" id="prov">
		#cacheFragment("$!{address.fragment}/price/priceCategory.htm?id=3", "", "", "")
            #foreach($area in $list)
                <a href="#springUrl('/moreList_p17_a')$!{area.id}_metal.htm" target="_blank" title="$!{area.name}金属价格查询">$!{area.name}</a>
            #end 
		#end
    </div>
</div>
