<div class="right"> 
    ##parse("/price/vm_price/topTags.vm")
    
    #parse("/price/vm_price/priceCheck.vm")
    <div class="ads" id="pricesearchrightad1">
		<script type="text/javascript" src="http://gg.zz91.com/show?p=36"></script>
    </div>
    #parse("/price/vm_price/plasticPrice.vm")
    <div class="ads" id="pricesearchrightad2" style="margin-top:10px;">
    <script src="http://pyapp.zz91.com/showppctxtadscript/?keywords=$!{title}&showborder=1&showposition=1&m=5&amp;padding=&amp;w=358&amp;num=1"></script></div>
    </div>
    #parse("/price/vm_price/paperPrice.vm")
    #parse("/price/vm_price/news.vm")                
    <div class="ads" id="pricesearchrightad2">
		<script type="text/javascript" src="http://gg.zz91.com/show?p=37"></script>
    </div>
	 <div class="ads" id="pricesearchrightad2">
		<script type="text/javascript" src="http://gg.zz91.com/show?p=38"></script>
    </div>
</div>
