#set($layout="/layout/copperLayout.vm")
<div class="c_market">
    <div class="c_market_left">
        <dl>
            <dt>现货行情</dt>
            <dd class="divide">
                <a href="$!{address.jiage}/changjiangyouse/" target="_blank">长江有色&nbsp;</a>
                <a href="$!{address.jiage}/shanghaiguijinshu/" target="_blank">上海现货&nbsp;</a>
                <a href="$!{address.jiage}/huatongxianhuo/" target="_blank">华通现货&nbsp;</a>
                <a href="$!{address.jiage}/qihuo/a-hutong-1/" target="_blank">沪铜&nbsp;</a>
                <a href="$!{address.jiage}/qihuo/a-LMEjibenjinshu-1/" target="_blank">伦敦&nbsp;</a>
                <a href="$!{address.jiage}/feitong/" target="_blank">热点&nbsp;</a>
                <a href="$!{address.jiage}/feijinshuhangqingzongshu/" target="_blank">动态&nbsp;</a>
                <a href="$!{address.jiage}/feijinshupinglun/" target="_blank">日评&nbsp;</a>
                <a href="$!{address.jiage}/feijinshuzhoubao/" target="_blank">周评&nbsp;</a>
                <a  target="_blank">&nbsp;&nbsp;</a>
            </dd>
        </dl>
        <dl>
            <dt>市场供求</dt>
            <dd>
                <a href="http://trade.zz91.com/offerlist--mc100010011000.htm" target="_blank">废铜</a>
                <a href="http://trade.zz91.com/offerlist--a--p1--%E9%93%9C%E5%88%B6%E5%93%81.htm" target="_blank">铜制品</a>
                <a href="http://trade.zz91.com/offerlist--a1--p--%E9%93%9C%E6%9D%90.htm" target="_blank">铜材</a>
                <a href="http://trade.zz91.com/offerlist--mc1000100110001002.htm" target="_blank">黄杂铜</a>
                <a href="http://trade.zz91.com/offerlist--a--p1--%E5%85%89%E4%BA%AE%E9%93%9C.htm" target="_blank">光亮铜</a>
                <a href="http://trade.zz91.com/offerlist--a1--p--%E7%B4%AB%E9%93%9C.htm" target="_blank">紫铜</a>
                <a href="http://trade.zz91.com/offerlist--a--p1--%E9%93%9C%E7%9F%BF.htm" target="_blank">铜矿</a>
                <a href="http://trade.zz91.com/offerlist--a1--p1--%E9%A9%AC%E8%BE%BE%E9%93%9C.htm" target="_blank">马达铜</a>
                <a href="http://trade.zz91.com/offerlist--a--p1--%E6%B5%B7%E7%BB%B5%E9%93%9C.htm" target="_blank">海绵铜</a>
                <a href="http://trade.zz91.com/offerlist--a1--p1--%E9%93%9C%E5%90%88%E9%87%91.htm" target="_blank">铜合金</a>
            </dd>
        </dl>
    </div>
    <div class="c_market_right">
        <dl>
            <dt>废铜</dt>
            <dd class="divide">
                <a href="$!{address.jiage}/feitong/a-jiangzhehu/" target="_blank">江浙沪&nbsp;&nbsp;&nbsp;</a>
                <a href="$!{address.jiage}/feitong/a-tianjin/" target="_blank">天津&nbsp;&nbsp;&nbsp;</a>
                <a href="$!{address.jiage}/feitong/a-guangdong/" target="_blank">广东&nbsp;&nbsp;&nbsp;</a>
                <a href="$!{address.jiage}/feitong/a-nanhai/" target="_blank">广东南海</a>
            </dd>
        </dl>
        <dl>
            <dt>市场</dt>
            <dd>
                <a href="$!{address.jiage}/feitong/a-changge/" target="_blank">河南长葛</a>
                <a href="$!{address.jiage}/feitong/a-shandong/p1.html" target="_blank">山东临沂</a>
                <a href="$!{address.jiage}/feitong/a-miluo/" target="_blank">湖南汨罗</a>
                <a href="$!{address.jiage}/feitong/a-qingyuan/" target="_blank">清远</a>
            </dd>
        </dl>
    </div>
</div>
<div class="wrapper mt clearfix">
    <div class="leftCol">
        <div class="market_wrap">
            <h3 class="m_title">
                <span class="m_red">今日新增信息$!{copperCount}条</span>市场动态
            </h3>
            <div class="list_content">
                <ul class="list">
					#cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=100910001000&size=1&12", "", "", "")
						#foreach($gg in $list)
						<li>【公告】<a href="$!{gg.link}" target="_blank">$!{gg.title}</a></li>
						#end
					#end
					#cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=100910001001&size=1&32", "", "", "")
						#foreach($rd in $list)
						<li>【热点】<a href="$!{rd.link}" target="_blank">$!{rd.title}</a></li>
						#end
					#end
					#foreach($thq in $thqList)
						<li>【行情】<a href="$!{address.jiage}/detail/$!{thq.id}.html" target="_blank">$!{thq.title}</a></li>
					#end 
					#foreach($sdt in $sdtList)
						<li>【动态】<a href="$!{address.jiage}/detail/$!{sdt.id}.html" target="_blank">$!{sdt.title}</a></li>
					#end
                </ul>
            </div>
        </div>
        <div class="market_wrap mt">
            <h3 class="m_title">
                <span class="m_red"><a href="http://sms.zz91.com/" target="_blank">我要试用</a></span>报价短信
            </h3>
            <div class="list_content sms">
				#cacheFragment("$!{address.exadmin}/reborn-admin/sms/apps/priceForCopper.htm?smsCode=100010001000,100010001000&areaCode=1,2&890", "", "", "")
					#foreach($obj in $list)
						<dl>
                            <dt>#printFragmentDate('dd' $!{obj.gmtPost})日$!{obj.areaNodeName}$!{obj.categorySMSName}:</dt>
                            <dd>
                                <p>$!{obj.minPrice}-$!{obj.maxPrice}  #if($!{obj.upPrice} && $!{obj.upPrice}!=0)涨$!{obj.upPrice} #elseif($!{obj.downPrice} && $!{obj.downPrice}!=0)跌$!{obj.downPrice} #elseif($!{obj.downPrice}==0 && $!{obj.upPrice}==0) 持平 #end</p>
##                                <p>A00铝1540-15500跌50</p>
                            </dd>
						</dl>
					#end
				#end
            </div>
        </div>
    </div>
    <div class="centerCol">
        <div class="scroll_banner" id="Js_add">
            <div class="pic">
                <ul>
                    <li style="display:block">
						<a href="#" target="_blank"><script src="http://gg.zz91.com/show?p=92"></script></a>
					</li>
                    <li>
						<a href="#" target="_blank"><script src="http://gg.zz91.com/show?p=93"></script></a>
					</li>
                    <li>
						<a href="#" target="_blank"><script src="http://gg.zz91.com/show?p=94"></script></a>
					</li>
                </ul>
			</div>
			<div class="nav">
				<ul>
					<li class="cur">$!{indexAd.get("ad1")}</li>
					<li class="">$!{indexAd.get("ad2")}</li>
					<li class="">$!{indexAd.get("ad3")}</li>
				</ul>
			</div>
		</div>
        <div class="hot_product mt clearfix" id="Js_transition">
##			#cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=10091001&size=3&12", "", "", "")
##				#foreach($obj in $list)
##					<div class="pro_item">
##						<a href="$!{obj.link}"><img src="$!{address.resource}/$!{obj.pic}" width="148" height="88"/></a>
##						<div class="info">
##							<p></p>
##							<p>总量：</p>
##							<p></p>
##						</div>
##					</div>
##				#end
##			#end
			#cacheFragment("$!{address.fragment}/china/indexProductsDtoByCode.htm?code=10091001&size=3&878", "", "", "")
				#foreach($obj in $list)
					<div class="pro_item">
						<a href="$!{address.trade}/productdetails$!{obj.productsIndex.productsId}.htm" title="$!{obj.productsIndex.title}" target="_blank">
							#if($!{obj.productsIndex.pic} && $!{obj.productsIndex.pic}!="")
									<img src="$!{address.thumb}$!{address.resource}/$!{obj.productsIndex.pic}" width="148" height="88"/>
								#else
									<img src="http://img0.zz91.com/front/images/global/noimage.gif" width="148" height="88" />
							#end
						</a>
						<div class="info">
							<p>#printProductType($!{obj.productsIndex.productsType} "" "")：#printTitle($!{obj.productsIndex.title} 9 "")</p>
							<p>总量：$!{obj.productsIndex.quantity}$!{obj.productsIndex.quantityUnit}</p>
							<p>$!{obj.companyName}</p>
						</div>
					</div>
				#end
			#end
            
        </div>
    </div>
    <div class="rightCol">
        <div class="market_wrap">
            <h3 class="m_title">
                <span class="m_white"><a href="$!{address.jiage}/companyprice/index.htm?categoryCompanyPriceCode=10011002" target="_blank">更多</a></span>企业报价
            </h3>
            <div class="list_content">
                <ul class="list">
					#foreach($qybj in $qybjList)
						<li><a href="$!{address.jiage}/cdetail/$!{qybj.id}.html" class="l" target="_blank">#printTitle($!{qybj.title} 10 "")</a><span class="r">$!{qybj.minPrice}$!{qybj.priceUnit}</span></li>
					#end
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="wrapper mt adv clearfix">
	<script type="text/javascript" src="http://gg.zz91.com/show?p=487"></script>
</div>
<div class="wrapper clearfix">
<script src="http://pyapp.zz91.com/showppctxtadscript/?keywords=铜&amp;showborder=1&amp;showposition=&amp;m=5&amp;padding=10&amp;w=958&amp;num=5"></script>
</div>
<div class="wrapper clearfix">
	<div class="mainCol">
		<div class="market_wrap clearfix">
			<h3 class="m_title">
				#foreach($zxgq in $zxgqList) 
					<span class="m_white">#printFragmentDate('yy-MM-dd' $!{zxgq.products.refreshTime})【$!{zxgq.company.name}】发布了一条求购废铜信息</span>供求速递
				#end
			</h3>
			<div class="hot_reco">
				<h3 class="title">热门推荐</h3>
				<dl>
					<dt>搜索产品</dt>
					<dd>
						<a href="http://trade.zz91.com/offerlist--a--p--%E5%BA%9F%E9%93%9C%E4%B8%9D.htm" target="_blank">废铜丝</a>
						<a href="http://trade.zz91.com/offerlist--a--p--%E5%BA%9F%E9%93%9C%E7%BA%BF.htm" target="_blank">废铜线</a>
						<a href="http://trade.zz91.com/offerlist--a--p--%E5%BA%9F%E9%93%9C%E6%9D%BF%E7%BA%B8.htm" target="_blank">废铜板纸</a>
						<a href="http://trade.zz91.com/offerlist--a--p--%E5%BA%9F%E9%93%9C%E7%BA%BF%E5%9C%88.htm" target="_blank">废铜线圈</a>
						<a href="http://trade.zz91.com/offerlist--a--p--%E5%BA%9F%E9%93%9C%E6%B8%A3.htm" target="_blank">废铜渣</a>
						<a href="http://trade.zz91.com/offerlist--a--p--%E5%BA%9F%E9%93%9C%E5%9D%97.htm" target="_blank">废铜块</a>
						<a href="http://trade.zz91.com/offerlist--a--p--%E5%BA%9F%E9%93%9C%E6%96%99.htm" target="_blank">废铜料</a>
						<a href="http://trade.zz91.com/offerlist--a--p--%E5%BA%9F%E9%93%9C%E7%81%B0.htm" target="_blank">废铜灰</a>
						<a href="http://trade.zz91.com/offerlist--a--p--%E5%BA%9F%E9%93%9C%E7%AE%A1.htm" target="_blank">废铜管</a>
						<a href="http://trade.zz91.com/offerlist--a--p--%E5%BA%9F%E9%93%9C%E6%B3%A5.htm" target="_blank">废铜泥</a>
						<a href="http://trade.zz91.com/offerlist--a--p--%E5%BA%9F%E9%93%9C%E6%B0%B4.htm" target="_blank">废铜水</a>
						<a href="http://trade.zz91.com/offerlist--a--p--%E5%BA%9F%E9%93%9C%E6%B2%AB.htm" target="_blank">废铜沫</a>
						<a href="http://trade.zz91.com/offerlist--a--p--%E5%BA%9F%E9%93%9C.htm" target="_blank">废铜</a>
					</dd>
				</dl>
				<dl>
                    <dt>热门分类</dt>
                    <dd>
                        <a href="http://trade.zz91.com/offerlist--a--p--%E5%BA%9F%E5%88%B6%E5%93%81.htm" target="_blank">废制品</a>
						<a href="http://trade.zz91.com/offerlist--a--p--%E9%A9%AC%E8%BE%BE%E9%93%9C.htm" target="_blank">马达铜</a>
						<a href="http://trade.zz91.com/offerlist--a--p--%E5%85%89%E4%BA%AE%E9%93%9C.htm" target="_blank">光亮铜</a>
						<a href="http://trade.zz91.com/offerlist--a--p--%E9%BB%84%E6%9D%82%E9%93%9C.htm" target="_blank">黄杂铜</a>
						<a href="http://trade.zz91.com/offerlist--a--p--%E9%93%9C%E5%90%88%E9%87%91.htm" target="_blank">铜合金</a>
						<a href="http://trade.zz91.com/offerlist--a--p--%E6%B0%A7%E5%8C%96%E9%93%9C.htm" target="_blank">氧化铜</a>
						<a href="http://trade.zz91.com/offerlist--a--p--%E9%93%9C%E6%9D%90.htm" target="_blank">铜材</a>
						<a href="http://trade.zz91.com/offerlist--a--p--%E7%B4%AB%E9%93%9C.htm" target="_blank">紫铜</a>
                    </dd>
                </dl>
                <dl>
                    <dt>热门地区</dt>
                    <dd>
                        <a href="http://trade.zz91.com/offerlist--a--b100110001010--c--d--e--f--p1--%E5%BA%9F%E9%93%9C.htm" target="_blank">江浙沪</a>
                        <a href="http://trade.zz91.com/offerlist--a--b100110001000--c--d--e--f--p1--%E5%BA%9F%E9%93%9C.htm" target="_blank">北京</a>
                        <a href="http://trade.zz91.com/offerlist--a--b100110001018--c--d--e--f--p1--%E5%BA%9F%E9%93%9C.htm" target="_blank">广东</a>
                        <a href="http://trade.zz91.com/offerlist--a--b100110001014--c--d--e--f--p1--%E5%BA%9F%E9%93%9C.htm" target="_blank">山东</a>
                        <a href="http://trade.zz91.com/offerlist--a--b100110001005--c--d--e--f--p1--%E5%BA%9F%E9%93%9C.htm" target="_blank">辽宁</a>
                    </dd>
                </dl>
            </div>
            <div class="tab_Supply" id="Js_tab">
                <div class="nav clearfix">
                    <ul>
                        <li class="selected">供应</li>
                        <li>求购</li>
                    </ul>
                    <span><a href="http://trade.zz91.com/offerlist--mc100010011000.htm" target="_blank">废铜</a> | <a href="$!{address.trade}/offerlist--a1--p--%E5%BA%9F%E7%9F%BF.htm" target="_blank">铜矿</a> | <a href="$!{address.trade}/offerlist--a1--p--%E9%93%9C%E6%B3%A5.htm" target="_blank">铜泥</a> | <a href="$!{address.trade}/offerlist--a1--p--%E9%93%9C%E7%B2%89.htm" target="_blank">铜粉</a>
                    <a href="http://trade.zz91.com/" target="_blank">更多</a></span>
                </div>
                <div class="tab_box">
                    <div class="tabc">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th width="75">产品</th>
                                    <th width="65">价格</th>
                                    <th width="70">地区</th>
                                    <th width="60">日期</th>
                                    <th>企业名称</th>
                                </tr>    
                            </thead>
                            <tbody>
								#foreach($ftgy in $ftgyList)
									<tr>
										<td><a title="$!{ftgy.products.title}" href="$!{address.trade}/productdetails$!{ftgy.products.id}.htm" target="_blank">
											#if($!{ftgy.products.title})#printTitle($!{ftgy.products.title} 5 "")#else #end
										</a></td>
										<td>
											#if($!{ftgy.products.price})$!{ftgy.products.price}$!{ftgy.products.priceUnit}/$!{ftgy.products.quantityUnit}#else 面议 #end
										</td>
										<td>
											#if($!{ftgy.products.location})#printTitle($!{ftgy.products.location} 5 "")#else #end
										</td>
										<td>
											#printFragmentDate('yy-MM-dd' $!{ftgy.products.refreshTime})
										</td>
										<td><a href="$!{address.company}/compinfo$!{ftgy.products.companyId}.htm" title="$!{ftgy.company.name}" target="_blank">
											#if($!{ftgy.company.name})#printTitle($!{ftgy.company.name} 10 "")#else #end
										</a>
										</td>
									</tr>
								#end
                            </tbody>
                        </table>
                    </div>
                    <div class="hide tabc">
						<table width="100%">
                            <thead>
                                <tr>
                                    <th width="75">产品</th>
                                    <th width="75">价格</th>
                                    <th width="70">地区</th>
                                    <th width="60">日期</th>
                                    <th>企业名称</th>
                                </tr>    
                            </thead>
                            <tbody>
						#foreach($ftgq in $ftqgList)
							<tr>
								<td><a title="$!{ftgq.products.title}" href="$!{address.trade}/productdetails$!{ftgq.products.id}.htm" target="_blank">
									#if($!{ftgq.products.title})#printTitle($!{ftgq.products.title} 5 "")#else #end
								</a></td>
								<td>
									#if($!{ftgq.products.price})$!{ftgq.products.price}$!{ftgq.products.priceUnit}/$!{ftgq.products.quantityUnit}#else 面议 #end
								</td>
								<td>
									#if($!{ftgq.products.location})#printTitle($!{ftgq.products.location} 5 "")#else #end
								</td>
								<td>
									#printFragmentDate('yy-MM-dd' $!{ftgq.products.refreshTime})
								</td>
								<td><a href="$!{address.company}/compinfo$!{ftgq.products.companyId}.htm" title="$!{ftgq.company.name}" target="_blank">
									#if($!{ftgq.company.name})#printTitle($!{ftgq.company.name} 10 "")#else #end</a>
								</td>
							</tr>
						#end
						 </tbody>
                        </table>
					</div>
                </div>
            </div>
        </div>
        <div class="clearfix market_wrap mt">
            <h3 class="m_title"><span class="m_white"><a href="$!{address.jiage}/" target="_blank">更多</a></span>市场行情</h3>
            <div class="mark_content">
                <h4 class="subTitle">LME/期货价格</h4>
                <ul class="list">
	               #foreach($pro in $lmeList)
						<li><a href="$!{address.jiage}/detail/$!{pro.id}.html" class="l" target="_blank">$!{pro.title}</a></li>
					#end
                </ul>
                <div class="mark_link">
                    <a href="$!{address.jiage}/qihuo/a-hutong-1/" target="_blank">沪铜</a>
                    <a href="$!{address.jiage}/qihuo/a-hulv-1/" target="_blank">沪铝</a>
                    <a href="$!{address.jiage}/qihuo/a-LMEjibenjinshu-1/" target="_blank">LME</a>
                    <a href="$!{address.jiage}/qihuo/a-huxin-1/" target="_blank">沪锌</a>
                    <a href="$!{address.jiage}/qihuo/a-hugang-1/" target="_blank">沪钢</a>
                    <a  target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <a target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <a target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </div>
            </div>
            <div class="mark_content">
                <h4 class="subTitle">各地废铜价格</h4>
                <ul class="list">
					#foreach($gd in $gdbjList)
						<li><a href="$!{address.jiage}/detail/$!{gd.id}.html" class="l" target="_blank">$!{gd.title}</a></li>
					#end
                </ul>
                <div class="mark_link">
                    <a href="$!{address.jiage}/feitong/a-jiangzhehu/" target="_blank">江浙沪</a>
                    <a href="$!{address.jiage}/feitong/a-guangdong/" target="_blank">广东</a>
                    <a href="$!{address.jiage}/feitong/a-taizhou/" target="_blank">台州</a>
                    <a href="$!{address.jiage}/feitong/a-qingyuan/" target="_blank">清远</a>
                    <a href="$!{address.jiage}/feitong/a-fujian/" target="_blank">福建</a>
                    <a href="$!{address.jiage}/feitong/a-miluo/" target="_blank">汨罗</a>
                    <a href="$!{address.jiage}/feitong/a-changge/" target="_blank">长葛</a>
                    <a href="$!{address.jiage}/feitong/a-linyi/" target="_blank">临沂</a>
                </div>
            </div>
            <div class="mark_content">
                <h4 class="subTitle">现货铜价</h4>
                <ul class="list">
					#foreach($xhpro in $xhList)
    					<li><a href="$!{address.jiage}/detail/$!{xhpro.id}.html" class="l" target="_blank">$!{xhpro.title}</a></li>
    				#end
                </ul>
                <div class="mark_link">   
                    <a href="$!{address.jiage}/shanghaijibenjinshu/" target="_blank" >基本金属</a>         
                    <a href="$!{address.jiage}/huatongxianhuo/" target="_blank" >华通现货</a>
                    <a href="$!{address.jiage}/changjiangyouse/" target="_blank" >长江有色</a>         
                </div>
            </div>
        </div>
        <div class="market_wrap mt">
            <h3 class="m_title">
                <span class="m_white">
                    <a href="http://xiazai.zz91.com/search/result/?searchid=21" target="_blank">我要下载zz91废铜周报</a>
                    <a href="http://sms.zz91.com/" target="_blank">我要定制短信报价</a>
                    <a href="http://myrc.zz91.com/mysubscribe/subscribesms.htm" target="_blank">我要定制市场报价</a>
                </span>
                市场价格
            </h3>
            <table class="price_table">
                <thead>
                    <tr>
                        <th width="120">品名</th>
                        <th width="120">地区</th>
                        <th width="120">价格</th>
                        <th width="120">涨跌</th>
                        <th width="120">日期</th>
                        <th width="120">操作</th>
                    </tr>
                </thead>
                <tbody>
					#cacheFragment("$!{address.exadmin}/reborn-admin/sms/apps/priceForCopper.htm?smsCode=100010001000,100010001001,100010001002,100010001003,100010001021&areaCode=1,2,4,5,2&320", "", "", "")
						#foreach($obj in $list)
							<tr>
							<td>$!{obj.categorySMSName}</td>
							<td>$!{obj.areaNodeName}</td>
							<td>$!{obj.minPrice}-$!{obj.maxPrice}元/吨</td>
							<td>#if($!{obj.upPrice} && $!{obj.upPrice}!=0)涨$!{obj.upPrice} #elseif($!{obj.downPrice} && $!{obj.downPrice}!=0)跌$!{obj.downPrice} #elseif($!{obj.downPrice}==0 && $!{obj.upPrice}==0) 持平 #end</td>
							<td>#printFragmentDate('yy-MM-dd' $!{obj.gmtPost})</td>
							<td><a href="http://myrc.zz91.com/mysubscribe/subscribesms.htm" target="_blank">定制报价</a></td>
							</tr>
						#end
					#end
                </tbody>
            </table>
        </div>
        <div class="reco_product clearfix mt">
            <h3 class="vertical_title">为您推荐</h3>
            <div class="product_list">
				#foreach($gy in $vipgy)
                    <div class="item">
                        <div class="pic">
							<a href="http://$!{gy.company.domainZz91}.zz91.com/products$!{gy.products.id}.htm" title="$!{gy.products.title}" target="_blank">
								#if($!{gy.coverPicUrl} && $!{gy.coverPicUrl}!="")
									<img src="$!{address.resource}/$!{gy.coverPicUrl}" width="93" height="70" />
								#else
									<img src="http://img0.zz91.com/front/images/global/noimage.gif" width="93" height="70" />
								#end
							</a>
						</div>
                        <p><a href="http://$!{gy.company.domainZz91}.zz91.com/products$!{gy.products.id}.htm" title="$!{gy.products.title}" target="_blank">#printTitle($!{gy.products.title} 8 "")</a></p>
                    </div>
				#end
				#foreach($gq in $vipqg)
                    <div class="item">
                        <div class="pic">
							<a href="http://$!{gq.company.domainZz91}.zz91.com/products$!{gq.products.id}.htm" title="$!{gq.products.title}" target="_blank">
								#if($!{gq.coverPicUrl} && $!{gq.coverPicUrl}!="")
									<img src="$!{address.resource}/$!{gq.coverPicUrl}" width="93" height="70" />
								#else
									<img src="http://img0.zz91.com/front/images/global/noimage.gif" width="93" height="70" />
								#end
							</a>
						</div>
                        <p><a href="http://$!{gq.company.domainZz91}.zz91.com/products$!{gq.products.id}.htm" title="$!{gq.products.title}" target="_blank">#printTitle($!{gq.products.title} 8 "")</a></p>
                    </div>
				#end
            </div>
        </div>
    </div>
    <div class="rightCol">
        <div class="market_wrap clearfix">
            <h3 class="m_title">
                <span class="m_white"><a href="$!{address.jiage}/feijinshupinglun/" target="_blank">更多</a></span>
                日评
            </h3>
            <div class="list_content">
                <ul class="list">
					#foreach($rp in $rpList)
						<li><a href="$!{address.jiage}/detail/$!{rp.id}.html" target="_blank">$!{rp.title}</a></li>
					#end
                </ul>
            </div>
        </div>
        <div class="market_wrap mt">
            <h3 class="m_title">
                <span class="m_white"><a href="$!{address.jiage}/feijinshuzhoubao/" target="_blank">更多</a></span>周评
            </h3>
            <div class="list_content">
                <ul class="list">
					#foreach($zp in $zpList)
						<li><a href="$!{address.jiage}/detail/$!{zp.id}.html" target="_blank">$!{zp.title}</a></li>
					#end
                </ul>
            </div>
        </div>
        <div class="market_wrap mt">
            <h3 class="m_title">其它废金属价格</h3>
            <div class="list_content">
                <ul class="list">
					#foreach($price in $qtList)
    					<li><a href="$!{address.jiage}/detail/$!{price.id}.html" target="_blank">$!{price.title}</a></li>
    				#end
                </ul>
            </div>
        </div>
        <div class="market_wrap mt">
            <h3 class="m_title"><span class="m_white">今日热帖</span>再生互助</h3>
            <div class="list_content">
                <ul class="list">
					#cacheFragment("$!{address.fragment}/huzhu/newPost.htm?size=6&03222", "", "", "")
						#foreach($obj in $frontBbsPostList)
							 <li><a href="$!{address.huzhu}/viewReply$!{obj.id}.htm" target="_blank">$!{obj.title}</a></li>
						#end
					#end
                </ul>
                <div class="help_area">
                    <label for="search_help">求帮助</label>
                    <input name="" type="text" id="search_help" class="field">
                    <input type="submit" class="btn1" value="" id="btn1">
                    <a href="http://huzhu.zz91.com/" class="btn2" target="_blank">去提问</a>
                </div>
            </div>
        </div>
        <div class="market_wrap mt">
            <h3 class="m_title smaller">省物流 看货近 一键寻找最匹配商机</h3>
            <div class="list_content">
                <ul class="list double_col">
					<li><a href="http://map.zz91.com/guangdong.htm" target="_blank" title="广东废料网">广东废料网</a></li>
					<li><a href="http://map.zz91.com/zhejiang.htm" target="_blank" title="浙江废料网">浙江废料网</a></li>
					<li><a href="http://map.zz91.com/shandong.htm" target="_blank" title="山东废料网">山东废料网</a></li>
					<li><a href="http://map.zz91.com/jiangsu.htm" target="_blank" title="江苏废料网">江苏废料网</a></li>
					<li><a href="http://map.zz91.com/beijing.htm" target="_blank" title="北京废料网">北京废料网</a></li>
					<li><a href="http://map.zz91.com/shanghai.htm" target="_blank" title="上海废料网">上海废料网</a></li>
					<li><a href="http://map.zz91.com/tianjin.htm" target="_blank" title="天津废料网">天津废料网</a></li>
					<li><a href="http://map.zz91.com/hebei.htm" target="_blank" title="河北废料网">河北废料网</a></li>
					<li><a href="http://map.zz91.com/henan.htm" target="_blank" title="河南废料网">河南废料网</a></li>
					<li><a href="http://map.zz91.com/hunan.htm" target="_blank" title="湖南废料网">湖南废料网</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
jQuery(function(){
    fader("Js_add");
	
	jQuery("#btn1").click(function(){
		var keywords = jQuery("#search_help").attr("value");
		keywords = encodeURI(keywords);
		window.open("$!{address.huzhu}/search.htm?keywords="+keywords+"");
	});
	
    jQuery(function () {
        var tab = jQuery("#Js_tab"),
            nav = tab.find(".nav"),
            li = nav.find("li"),
            cont = tab.find(".tabc");
        li.mouseover(function () {
            jQuery(this).addClass("selected")
                .siblings().removeClass("selected"); 
            var index = li.index(this); 
            cont.eq(index).show()
                .siblings().hide(); 
        }).hover(function () {
            jQuery(this).addClass("hover");
        }, function () {
            jQuery(this).removeClass("hover");
        });
    });

    if (!Modernizr.csstransitions) {
        var p = jQuery("#Js_transition"),
            item = p.find(".pro_item");
        item.hover(function(){
            jQuery(this).find(".info").animate({
                "top": "38px",
                "opacity": 0.8    
            });
        }, function(){
            jQuery(this).find(".info").animate({
                "top": "88px",
                "opacity": 0    
            });
        });
    }
});

function fader(id) {
    var target = jQuery("#" + id),
        pic = target.find(".pic li"),
        nav = target.find(".nav li"),
        index = 0,
        auto;
    nav.on("mouseover", function(){
        if (nav.index(this) === index) {
            return;
        } else {
            jQuery(pic[index]).hide();
            jQuery(nav[index]).removeClass("cur");
            index = nav.index(this);
            jQuery(pic[index]).fadeIn(); 
            jQuery(nav[index]).addClass("cur");   
        }
    });
    function anim() {
        jQuery(pic[index]).hide();
        jQuery(nav[index]).removeClass("cur");
        index = index === 2 ? 0 : index + 1;
        jQuery(pic[index]).fadeIn();
        jQuery(nav[index]).addClass("cur");    
    }
    auto = setInterval(anim, 2000);
    target.hover(function(){
        clearInterval(auto);
    }, function(){
        auto = setInterval(anim, 2000);
    });
}
</script>
</body>
</html>