  #set( $layout = "/layout/blank.vm" )
  <?xml version="1.0" encoding="UTF-8" ?> 
  <data albumText="aaa" gap="-5" scrollSpeed="5">
	#foreach($!{list} in $!{list})
		<pic linkURL="" imgURL="$!{address.resource}/$!{uploadModel}/$!{list.picAddress}" imgText="" />
	#end
  </data>