<div class="main_box">
  <div class="zz91leader">当前位置：
	<a href="$!{address.front}">$!{siteInfo.site_name}</a>
	&gt;
	<a href="#springUrl('/')">交易中心</a>
	&gt;
	成功发布供求信息
  </div>
  <div style="clear:both"></div>
</div>

<div class="main_box">
   <div class="offertitle">
        <h3>发布成功</h3>
		<div class="offerTitR"></div>
		 <div style="clear:both"></div>
    </div>
  
    <div class="success_kuan">
		<p class="successInfo">恭喜，你的信息已经发布成功！</p>
        <p class="nextdo">接下来您可以:</p>
        <p class="nextdo"><a href="#springUrl('/productdetails')$!{productId}.htm">点击这里，查看刚刚发布的供求信息</a></p>
        <p class="nextdo"><a href="$!{address.myrc}/myproducts/office_post_list.htm?checkStatus=0&isExpired=0&isPause=0">点击这里，管理您发布的供求信息</a></p>
        <p class="nextdo"><a href="$!{address.myrc}">点击这里，进入我的生意管家</a></p>
        <p class="nextdo"><a href="#springUrl('/postoffer_step1.htm')">点击这里，继续发布供求信息</a></p>
    </div>
</div>
