<script type="text/javascript" src="#springUrl('/app/sale/allComp.js')" ></script>
<script type="text/javascript" src="#springUrl('/app/sale/simplySearch.js')" ></script>
<script type="text/javascript" src="#springUrl('/app/gridCopy.js')" ></script>
<script type="text/javascript" >
	Ext.onReady(function(){
		var grid=new com.zz91.ep.crm.allCompGrid({
			id:ALLCOMP.ALLCOMP_GRID,
			layout:"fit",
			region:"center"
		});
		
		Ext.getCmp("put-box").setVisible(false);
		Ext.getCmp("put-sea").setVisible(false);
		
		grid.loadComp("","","","","","","$!{search.star}");
		
		var viewport = new Ext.Viewport({
			layout:"border",
			items:[grid]
		});
		
		var form = new com.zz91.ep.crm.simipSearchForm({
			title:"高级搜索",
			collapsible: true,
			animCollapse: false,
			frame:true,
			titleCollapse:true,
			style: "position:absolute;right:0;bottom:26;z-index:101",
			width:600,
			targetGrid:grid
		});
		
		form.render(Ext.getBody());
		form.initSearchDto("","","","","","","$!{search.star}");
		form.resizer = new Ext.Resizable(form.el, {
			minHeight:50,
			minWidth:100,
			resizeElement : function(){
				var box = this.proxy.getBox();
				this.proxy.hide();
				form.setHeight(box.height);
				return box;
			}
		});
	})
</script>