#set($layout="/layout/defaultS.vm")
<script type="text/javascript" src="#springUrl('/app/util.js')"></script>
<script type="text/javascript" src="#springUrl('/app/admin/exhibit.js')"></script>
<script type="text/javascript">
	Ext.onReady(function(){
		var mainGrid=Ext.create("ast.ast1949.admin.exhibit.MainGrid",{
			region:"center"
		});
		
		Ext.create("Ext.container.Viewport",{
			layout:"border",
			items:[mainGrid]
		});
		
	});
</script>
