<script src="$!{address.img}/lib/asto/asto-all-1.0.0.js"></script>
<div class="container mt clearfix">
    <div class="grid_12">
        <ul class="breadcrumb">
            <li class="active">
				<a href="#springUrl('/myphone/index.htm')">来电宝</a>- 查看点击查看联系方式扣费记录
				<a href="#springUrl('/myphone/index.htm')" class="btn">返回来电宝</a>
			</li>
        </ul>
        <div class="well mt">
            <table class="table table-bordered table-condensed mt" id="myTable">
                <thead>
                    <tr>
						<th width="25%" class="tac">来访时间</th>
						<th width="25%" class="tac">来访用户</th>
                        <th width="30%" class="tac" >来访次数</th>
                        <th width="20%" class="tac" >点击费用</th>
                    </tr>
                </thead>
                <tbody>
					#if($!{page.records.size()}>0)
                    #foreach($obj in $!{page.records})
                        <tr>
                            <td class="tac">
								$!date.format('yyyy-MM-dd HH:mm:ss', $!{obj.phonePpcVisit.gmtTarget})
							</td>
							<td class="tac" id="${obj.phonePpcVisit.cid}">
								#if($!{maps.get($!{obj.phonePpcVisit.cid})}==1 || $!{mapf.get($!{obj.phonePpcVisit.cid})}==1)
									#if($!{mapn.get($!{obj.phonePpcVisit.cid}).membershipCode}=='10051000')
										<a href="$!{address.company}/compinfo${obj.phonePpcVisit.cid}.htm" target="_blank">$!{mapn.get(${obj.phonePpcVisit.cid}).name}</a>
									#elseif($!{mapn.get($!{obj.phonePpcVisit.cid}).membershipCode}=='10051003')
										<a href="http://www.zz91.com/ppc/index${obj.phonePpcVisit.cid}.htm" target="_blank">$!{mapn.get(${obj.phonePpcVisit.cid}).name}</a>
									#else
										<a href="http://$!{mapn.get(${obj.phonePpcVisit.cid}).domainZz91}.zz91.com" target="_blank">$!{mapn.get(${obj.phonePpcVisit.cid}).name}</a>
									#end
								#else
									<a onclick="offer(${obj.phonePpcVisit.cid})">点击付费查看</a>
								#end
							 </td>	
                            <td class="tac">
						        $!{obj.number}
							</td>
                            <td class="tac ${obj.phonePpcVisit.cid}">
								#if($!{mapf.get($!{obj.phonePpcVisit.cid})}==1)								
								   #if($!{mapn.get($!{obj.phonePpcVisit.cid}).buyDetails}=="1.0")
									   1.0元
								   #else
									   5.0元
								   #end
								#end
							</td>
                        </tr>
					#end
					#end
						<tr>
							<td colspan="4" style="text-align:right">余额：<b class="red">$!{phone.balance}0</b>元</td>
						</tr>
                </tbody>
            </table>
        </div>
    </div>
	#myrcPageNav($!{page} "#springUrl('/myphone/phonePpcVisit.htm')" "" "")
</div>
<script>
function offer(targetId){
           if(confirm("查看客户联系方式，将会扣除“来电宝”信息点击费（金额为5元/条），确定要查看吗？")){
		   jQuery.ajax({
    			url:'#springUrl("/myphone/insertClickLog.htm")',
    			data:{"targetId":targetId},
				type:"post",
				dataType:"json",
				success:function(reg){
				    if(reg.domain==1){
						if(reg.membershipCode==10051000){
							jQuery("#"+targetId).html("<a href=\"$!{address.company}/compinfo"+reg.id+".htm\" target=\"_blank\">"+reg.name+"</a>");
				 		}else if(reg.membershipCode==10051003){
				 			jQuery("#"+targetId).html("<a href=\"http://www.zz91.com/ppc/index"+reg.id+".htm\" target=\"_blank\">"+reg.name+"</a>");
    					}else{
					   	 jQuery("#"+targetId).html("<a href=\"http://"+reg.domainZz91+".zz91.com\" target=\"_blank\">"+reg.name+"</a>");
						}
						jQuery("."+targetId).html(reg.businessType+"元");
						jQuery(".red").html(reg.business+"0"+"元");
					}else{
					   alert("余额不足，请续费！");
					}
				}
			});
	}		
}
</script>
<script>
jQuery(function(){
	myrc.menu(1, 7);
})
</script>

