	<div class="pg_mk_p">
		<div class="pg_mkf_p">中国环保网$!{keywords}导航： <em class="nobold">供应:$!{keywords}</em></div>
		<div>
			<div class="pg_mksl_p">
				<div >
                <h3>
					<span>供应$!{keywords}</span>
					<em class="h3more">>><a href="$!{address.trade}/supply/index----$!{keywords}.htm">更多</a></em>
				</h3>
                </div>
				<ul>
					#foreach($l in $!{supplyList})
						<li>
							<a href="$!{address.esite}/detail$!{l.id}.htm" title="$!{l.title}">
								#printTitle($!{l.title} 25 "")
							</a>
						<span class="spmarl">#printFragmentDate("yyyy-MM-dd" $!{l.gmtPublish})</span>
						</li>
					#end
				</ul>
				<div><em class="morebm">>><a href="$!{address.trade}/supply/index----$!{keywords}.htm">更多</a></em></div>
			</div>
			<div class="pg_mksr_p">
				#cacheFragment("$!{address.fragment}/fragment/news/daohangNews.htm?categoryCode=$!{parentCode}&keyword=$!{keywordEncode}&size=10", "", "", "600")
				<div class="pg_mksrf_p">
					<h3>$!{keywords}信息</h3>
					<ul>
    					#foreach($l in $!{list})
							<li>
								<a href="$!{address.news}/details${l.id}.htm" target="_blank" title="$!{l.title}">
									#printTitle($!{l.titleIndex} 15 "")
								</a>
							</li>
    					#end
					</ul>
				</div>
				<div class="pg_mksrf_p">
					<h3>热门产品</h3>
                    <p>
						#foreach($value in $!{tags})
							#if($velocityCount%3 == 0)
							<a href="$!{address.www}/daohangList-$!{parentCode}--$!{value}.htm" ><em class="c139">$!{value}</em></a>
							#end
							#if($velocityCount%3 == 1)
							<a href="$!{address.www}/daohangList--$!{parentCode}--$!{value}.htm" ><em class="c077">$!{value}</em></a>
							#end
							#if($velocityCount%3 == 2)
							<a href="$!{address.www}/daohangList--$!{parentCode}--$!{value}.htm" ><em class="cF27">$!{value}</em></a>
							#end
						#end
					</p>
				</div>
				#end
				#cacheFragment("$!{address.fragment}/fragment/news/categoryNews.htm?categoryCode=1000&size=10", "", "", "600")
				<div class="pg_mksrf_p">
					<h3>环保资讯快递</h3>
					<ul>
						#foreach($l in $!{list})
						<li><a href="$!{address.news}/details${l.id}.htm" target="_blank" title="$!{l.title}">#printTitle($!{l.titleIndex} 21 "")</a></li>
						#end
					</ul>
				</div>
				#end
				#cacheFragment("$!{address.fragment}/fragment/company/keywordCompany.htm?keyword=$!{keywordEncode}&size=10", "", "", "600")
				<div class="pg_mksrf_p">
					<h3>供应$!{keywords}厂家</h3>
					<ul>
						#foreach($l in $!{list})
						<li><a href="$!{address.esite}/index$!{l.id}.htm" title="$!{l.name}">#printTitle($!{l.name} 23 "")</a></li>
						#end
					</ul>
				</div>
				#end
				#cacheFragment("$!{address.fragment}/fragment/exhibit/keywordExhibit.htm?keyword=$!{keywordEncode}&size=10", "", "", "600")
				<div class="pg_mksrf_p">
					<h3>相关$!{keywords}行业展会</h3>
					<ul>
						#foreach($l in $!{list})
						<li><a href="$!{address.exhibit}/details$!{l.id}.htm" title="$!{l.name}">#printTitle($!{l.name} 21 "")</a></li>
						#end
					</ul>
				</div>
				#end
			</div>
			<div class="clear"></div>
		</div>
	</div>