#set($layout="/layout/default.vm")
<section class="hb_mainblock margintop8">
    <article class="contblock_218 floatleft marginright8">
    	#cacheFragment("$!{address.fragment}/fragment/common/todayMarket.htm?index", "", "", "43200")
        <section class="todayMarket html5radius">
            <span class="tm_tit"><span class="tm_tit_txt">今日市场</span>
            	<span class="tm_tit_date">$!{dateTime}</span>
            </span>
            <ul>
                <li><span class="tm_lstit letterspacing3px">环保企业总数</span><span class="tm_lsnum">$!{allCompanyCount}</span></li>
                <li><span class="tm_lstit letterspacing3px">环保信息总数</span><span class="tm_lsnum">$!{allInfoCount}</span></li>
                <li><span class="tm_lstit">一周新增客户数</span><span class="tm_lsnum">$!{weekCompanyCount}</span></li>
                <li><span class="tm_lstit">一周新增信息量</span><span class="tm_lsnum">$!{weekInfoCount}</span></li>
                <div class="clear"></div>
            </ul>
        </section>
    	#end
    	#cacheFragment("$!{address.fragment}/fragment/news/recommendNews.htm?categoryCode=special&size=3", "", "", "600")
        <section class="spcialrepoart html5radius nor_box margintop8">
            <header class="tit">
    			<span class="font14"><a href="${address.news}/listspecial.htm" target="_blank">特别报道</a></span>
    		</header>
            <article class="nor_cont">
                <div class="nor_cont_img">
    				<script type="text/javascript" src="http://gg.zz91.com/show?p=112"></script>
    			</div>
                <div class="nor_cont_ls">
                    <ul class="liststyleorange">
                        #foreach($!l in ${list})
                        <li><a href="$!{address.news}/details$!{l.id}.htm" target="_blank" title="$!{l.title}">#printTitle($!{l.titleIndex} 9 "")</a></li>
                        #end
                    </ul>
                </div>
                <div class="clear"></div>
            </article>	
        </section>
        #end
		#cacheFragment("$!{address.fragment}/fragment/news/recommendNews.htm?categoryCode=focus&size=8", "", "", "600")
    	<section class="spcialrepoart html5radius nor_box margintop8">
            <header class="tit"><span class="font14"><a href="${address.news}/listfocus.htm" target="_blank">焦点关注</a></span></header>
            <article class="nor_cont sp_cont">	
                <ul class="liststyleblack">
        			#foreach($l in $list)
        				<li><a href="$!{address.news}/details$!{l.id}.htm" target="_blank" title='$!{l.title}'>#printTitle($!{l.titleIndex} 16 '')</a></li>
        			#end
                </ul>
            </article>	
        </section>
        #end
    </article> 
    <article class="contblock_470 floatleft">
        <section class="hbslide html5radius" id="hbslide">
            <div class="toggleImg">
                <script type="text/javascript" src="http://gg.zz91.com/show?p=109"></script>
            </div>
            <div class="toggleBtn"></div>  
        </section>
        <section class="html5radius nor_box margintop8 contblock_470">
            <div class="tit"><b>优秀企业推荐</b></div>
            <div class="gc_cont" id="gc_cont">	
        		<div class='indSlid_prev' id="prev_scroll"><a href="#this"></a></div>
        		<div class='indSlid_next' id="next_scroll"><a href="#this"></a></div>
        		<div class="new_cont_marq">
        			  <div id="new_cont_inside">
        		          <script type="text/javascript" src="http://gg.zz91.com/show?p=199"></script>
                      </div>
                </div>
            </div>
        </section>      
        <section class="html5radius comtype margintop8">
            <span class="tit">公司类型：</span>
            <ul>
                <li><a href="$!{address.company}/index--10001000--.htm" target="_blank">污水处理</a></li>
                <li><a href="$!{address.company}/index--10001001--.htm" target="_blank">原水处理</a></li>
                <li><a href="$!{address.company}/index--10001002--.htm" target="_blank">空气净化</a></li>
                <li><a href="$!{address.company}/index--10001006--.htm" target="_blank">仪器仪表</a></li>
        		<li><a href="$!{address.company}/index--10001005--.htm" target="_blank">环卫清洁设备</a></li>
        		<li><a href="$!{address.company}/index--10001004--.htm" target="_blank">通用配件</a></li>
            </ul>
        </section>
    </article>
    <article class="contblock_252 floatright">
        <section class="html5radius hbservicebox" id="hb_tabs">
            <div class="hb_tabs_nav html5radius" id="hb_tabs_nav">
                <span class="hb_tabs_login">登录</span>
                <span class="hb_tabs_reg">免费注册</span>
                <span class="hb_tabs_pub">快速发布</span>
            </div>
			<div class="clear"></div>
			<div class="hb_tabs_cont" id="hb_tabs_cont">
                <div id="loginDiv" class="hb_tabs_cont1">
                    #if($!{epAuthUser})
                	<p>您已经登录了，中国环保网欢迎您！</p>
        			<p>进入您的生意管家，开启新的生意渠道吧！</p>
        			<p><a href="$!{address.myesite}" target="_blank" class="idx_ser_abtn" id="idx_log_abtn">进入生意管家</a></p>	
        			#else
        			<form id='indexlogin2' action="#springUrl('/doLogin.htm')" mothod="post">
                        <ul class="idx_ser_lsform">
                            <li><label class="idx_ser_lab">账户：</label><input type="text" id="username" name="username" class="idx_ser_ipt"></li>
                            <li><label class="idx_ser_lab">密码：</label><input type="password" id="password" name="password" class="idx_ser_ipt"></li>
                            <li class="idx_ser_pwdrem">
								<input type="checkbox">
								<label class="idx_ser_lab">记住密码</label>
								<a href="${address.www}/user/find_pwf.htm">忘记密码</a>
							</li>
                            <input type="hidden" id="refurl" name="refurl" value="$!{address.www}"/>
                            <li><input type="submit" value="登  录" class="idx_ser_sub"><a href="${address.myesite}/regist.htm" class="idx_ser_sub">注  册</a><div class="clear"></div></li>
                        </ul>
                    </form>
        			#end
            	</div>
                <div class="hb_tabs_cont2">
                    <aside class="idx_ser_jion"><span class="fontgrey">还不是会员？</span><a href="$!{address.myesite}/regist.htm" title="点击注册加入中国环保网">马上加入</a></aside>
                    <ul class="idx_ser_ls">
                        <li class="ser_ls01">超过<em>20</em>万的环保设备客户</li>
                        <li class="ser_ls02">突破<em>220</em>万条环保设备商机</li>
                        <li class="ser_ls03">建商铺，做生意，结商友，做推广</li>
                    </ul>
                    <div class="idx_ser_jion">
        				<a href="$!{address.myesite}/regist.htm" target="_blank" class="idx_ser_abtn">马上免费注册</a>
        			</div>
                </div>
                <div class="hb_tabs_cont3">
                    <aside class="idx_ser_jion">
    					<span class="fontgrey">想要最快获得商机？</span><a href="$!{address.myesite}/supply/publish_StpOne.htm" ref="nofollow">马上发布</a>
                    </aside>
                    <ul class="idx_ser_ls">
                        <li class="ser_ls01">发布供求信息,让生意自动找上门</li>
                        <li class="ser_ls02">平台快速匹配,撮合网上接单</li>
                        <li class="ser_ls03">发布信息,客户成交几率增加3倍</li>
                    </ul>
    				<div class="idx_ser_jion">
    					<a href="$!{address.myesite}/supply/publish_StpOne.htm" ref="nofollow" target="_blank" class="idx_ser_abtn">快速发布</a>
    				</div>
                </div>
        	</div>
		</section>
		<section class="spcialrepoart html5radius nor_box margintop8">
			<header class="tit"><span class="font14">最新专题</span></header>
			<article class="nor_cont">
				<div class="nor_cont_img">
            		<script type="text/javascript" src="http://gg.zz91.com/show?p=113"></script>
            	</div>
				<div class="nor_cont_ls_wid">
                    <ul class="liststyleorange">
						#cacheFragment("$!{address.fragment}/fragment/news/categoryZhuanti.htm?size=3&newzta","","","600")
							#foreach($zt in $!{list})
								<li><a href="$!{zt.targetUrl}" target="_blank" title="#printTitle($!{zt.title} 12 '')">#printTitle($!{zt.title} 12 "")</a></li>
							#end
						#end
                        
                    </ul>
				</div>
				<div class="clear"></div>
				
			</article>	
		</section>
		#cacheFragment("$!{address.fragment}/fragment/exhibit/recommendExhibits.htm?categoryCode=recommendexhibit&size=1", "", "", "600")
		#set($topExhibit=${list.get(0)})
        <section class="spcialrepoart html5radius nor_box margintop8">
            <header class="tit">
				<span class="font14"><a href="$!{address.exhibit}" target="_blank">推荐环保展会</a></span>
			</header>
            <article class="nor_cont recommext">
                <span><a href="$!{address.exhibit}/details${topExhibit.id}.htm" target="_blank" title="${topExhibit.name}">#printTitle(${topExhibit.name} 16 "")</a></span>
                <p>时间:#printFragmentDate("yyyy.MM.dd" ${topExhibit.gmtStart})-#printFragmentDate("yyyy.MM.dd" ${topExhibit.gmtEnd})</p>
                <p>地址:${topExhibit.showName}</p>
            </article>	
        </section>
       #end
    </article>
    <div class="clear"></div>
</section>
<!--top block end-->
<!--ad blcok a-->
<section class="hb_mainblock">
	<div class="hb_indexad">
		<script type="text/javascript" src="http://gg.zz91.com/show?p=108"></script>
		<div class="clear"></div>
    </div>
    <div class="clear"></div>
</section>
<!--seconds block start-->
<section class="hb_mainblock margintop8">
    <article class="contblock_698 floatleft">
    	<!--new company start-->
    	<section class="newcompany html5radius">
            <span class="nc_tit"><a href="$!{address.company}/newc.htm" target="_blank">最新加入企业</a></span>
        	    <div id="newcp_out">
				      <div id="newcp_in">
				            <div id="newcp_l">
								#cacheFragment("$!{address.fragment}/fragment/company/newestCompany.htm?size=8&index","","","600")
                					#foreach($comp in $!{list})
                						<a href="$!{address.esite}/index$!{comp.id}.htm" target="_blank">$!{comp.name}</a>
                					#end
            					#end
							</div>
							<div id="newcp_r"></div>
					  </div>
                </div>
			<div class="clear"></div>			
        </section>
        <!--new company end-->
       <!--prod list start-->
        <section class="hbls margintop8 html5radius" id="hbls">
			#cacheFragment("$!{address.fragment}/fragment/trade/getAllCategory.htm", "", "", "86400")
			 #foreach($list1 in $!{supplyCategory})
        	<article class="hblsblock">
            	<header class="hblstit"><div class="normalstaus hblstiticon$velocityCount"><a href="$!{address.trade}/supply/index--$!{list1.categoryDomain.code}--.htm" taget="_blank">$!{list1.categoryDomain.name}</a></div></header>
                <section class="hblsdetails">
                	<aside class="hblshotwords">
                    	<span class="ht_tit">热搜词:</span>
                        <ul class="ht_words">
                            #foreach($tags in $!{list1.tagsList})
	                            #if($velocityCount<8)
									<li><a href="$!{address.trade}/supply/index----$!{tags}.htm" title="$!{tags}" taget="_blank">$!{tags}</a></li>
	                            #end
                            #end
                        </ul>
                        <span class="ht_more">
                        	<em class="ht_more_total">共有<strong class="fontorange fontbold">$!{list1.count}</strong>条</em>
                         	<em class="ht_more_btn">
								#if($!{list1.categoryDomain.code}==10001000)
									<a href="$!{address.trade2}/wushui" target="_blank" title="更多">&gt;&gt; 更多</a>
								#elseif($!{list1.categoryDomain.code}==10001001)
									<a href="$!{address.trade2}/yuanshui" target="_blank" title="更多">&gt;&gt; 更多</a>
								#elseif($!{list1.categoryDomain.code}==10001002)
									<a href="$!{address.trade2}/kongqi" target="_blank" title="更多">&gt;&gt; 更多</a>
								#elseif($!{list1.categoryDomain.code}==10001003)
									<a href="$!{address.trade2}/cailiao" target="_blank" title="更多">&gt;&gt; 更多</a>
								#elseif($!{list1.categoryDomain.code}==10001004)
									<a href="$!{address.trade2}/peijian" target="_blank" title="更多">&gt;&gt; 更多</a>
								#elseif($!{list1.categoryDomain.code}==10001005)
									<a href="$!{address.trade2}/huanwei" target="_blank" title="更多">&gt;&gt; 更多</a>
								#elseif($!{list1.categoryDomain.code}==10001006)
									<a href="$!{address.trade2}/yiqiyibiao" target="_blank" title="更多">&gt;&gt; 更多</a>
								#elseif($!{list1.categoryDomain.code}==10001007)
									<a href="$!{address.trade2}/zonghe" target="_blank" title="更多">&gt;&gt; 更多</a>
								#end
							</em>
                       	</span>
                        <div class="clear"></div>
                    </aside>
					
                   	<ul class="hblsdetailstb">
						#foreach($list2 in $!{list1.child})
							#if($velocityCount<7)
                        	<li class="hblsdetailstr">
                            	<a href="$!{address.trade}/supply/index--$!{list2.categoryDomain.code}--.htm" class="hbls_prodtit$!{list2.categoryDomain.name.length()}">$!{list2.categoryDomain.name}</a>
								<ul class="hblsdetailstd$!{list2.categoryDomain.name.length()}">
    								#foreach($list3 in $!{list2.child})
										##set($its=$!{list3.categoryDomain.name.length()} 
										#if($velocityCount<5)		
											<li><a href="$!{address.trade}/supply/index--$!{list3.categoryDomain.code}--.htm" title="$!{list3.categoryDomain.name}">#printTitle($!{list3.categoryDomain.name} 6 '') </a></li>
										#end
    								#end
                                </ul>
								
                            </li>
							#end
						#end
                    </ul>
                </section>
            </article>
			#end
            #end
			
			<article class="hblsblock">
            	<header class="hblstit"><div class="normalstaus hblstiticon9"><a href="$!{address.trade}/zw.htm" taget="_blank">热门导航</a></div></header>
                <section class="hblsdetails">
                   	<ul class="hblsdetailstbadd">
						<li><a href="$!{address.trade}/cp-310031.htm" target="_blank">气浮设备</a></li>
						<li><a href="$!{address.trade}/cp-320007.htm" target="_blank">曝气器</a></li>
						<li><a href="$!{address.trade}/cp-330012.htm" target="_blank">加药器</a></li>
						<li><a href="$!{address.trade}/cp-340031.htm" target="_blank">刮泥机</a></li>
						<li><a href="$!{address.trade}/cp-350019.htm" target="_blank">造纸污水处理</a></li>
						<li><a href="$!{address.trade}/cp-510007.htm" target="_blank">高纯水</a></li>
						<li><a href="$!{address.trade}/cp-520001.htm" target="_blank">软化水设备</a></li>
						<li><a href="$!{address.trade}/cp-530004.htm" target="_blank">供水设备</a></li>
						<li><a href="$!{address.trade}/cp-540001.htm" target="_blank">中水回用</a></li>
						<li><a href="$!{address.trade}/cp-550002.htm" target="_blank">净水器</a></li>
						<li><a href="$!{address.trade}/cp-560001.htm" target="_blank">原水处理</a></li>
						<li><a href="$!{address.trade}/cp-570001.htm" target="_blank">饮用水处理</a></li>
						<li><a href="$!{address.trade}/cp-580001.htm" target="_blank">海水淡化</a></li>
						<li><a href="$!{address.trade}/cp-590002.htm" target="_blank">循环水</a></li>
						<li><a href="$!{address.trade}/cp-511005.htm" target="_blank">杀菌器</a></li>
						<li><a href="$!{address.trade}/cp-512005.htm" target="_blank">反渗透设备</a></li>
						<li><a href="$!{address.trade}/cp-513002.htm" target="_blank">过滤器</a></li>
						<li><a href="$!{address.trade}/cp-060104.htm" target="_blank">废气处理设备</a></li>
						<li><a href="$!{address.trade}/cp-060207.htm" target="_blank">空气净化器</a></li>
						<li><a href="$!{address.trade}/cp-060303.htm" target="_blank">室内污染</a></li>
						<li><a href="$!{address.trade}/cp-060402.htm" target="_blank">加湿机</a></li>
						<li><a href="$!{address.trade}/cp-060501.htm" target="_blank">干燥设备</a></li>
						<li><a href="$!{address.trade}/cp-060602.htm" target="_blank">除尘器</a></li>
						<li><a href="$!{address.trade}/cp-060703.htm" target="_blank">脱硫除尘</a></li>
						<li><a href="$!{address.trade}/cp-060812.htm" target="_blank">酸雾净化</a></li>
						<li><a href="$!{address.trade}/cp-060902.htm" target="_blank">尾气净化</a></li>
						<li><a href="$!{address.trade}/cp-061001.htm" target="_blank">风淋室</a></li>
						<li><a href="$!{address.trade}/cp-410014.htm" target="_blank">滤膜</a></li>
						<li><a href="$!{address.trade}/cp-420030.htm" target="_blank">果壳滤料</a></li>
						<li><a href="$!{address.trade}/cp-430001.htm" target="_blank">絮凝剂</a></li>
						<li><a href="$!{address.trade}/cp-810021.htm" target="_blank">空调泵</a></li>
						<li><a href="$!{address.trade}/cp-820001.htm" target="_blank">柱塞泵</a></li>
						<li><a href="$!{address.trade}/cp-830010.htm" target="_blank">污水泵</a></li>
						<li><a href="$!{address.trade}/cp-840022.htm" target="_blank">计量泵</a></li>
						<li><a href="$!{address.trade}/cp-850001.htm" target="_blank">单级泵</a></li>
						<li><a href="$!{address.trade}/cp-860004.htm" target="_blank">管道泵</a></li>
						<li><a href="$!{address.trade}/cp-870001.htm" target="_blank">电动泵</a></li>
						<li><a href="$!{address.trade}/cp-890012.htm" target="_blank">衬氟泵</a></li>
						<li><a href="$!{address.trade}/cp-120101.htm" target="_blank">调节阀</a></li>
						<li><a href="$!{address.trade}/cp-120201.htm" target="_blank">流体阀</a></li>
						<li><a href="$!{address.trade}/cp-120303.htm" target="_blank">电动装置</a></li>
						<li><a href="$!{address.trade}/cp-120407.htm" target="_blank">活塞环</a></li>
						<li><a href="$!{address.trade}/cp-120501.htm" target="_blank">波纹管</a></li>
						<li><a href="$!{address.trade}/cp-120603.htm" target="_blank">换热器</a></li>
						<li><a href="$!{address.trade}/cp-120703.htm" target="_blank">法兰</a></li>
						<li><a href="$!{address.trade}/cp-090101.htm" target="_blank">罗茨风机</a></li>
						<li><a href="$!{address.trade}/cp-090202.htm" target="_blank">离心鼓风机</a></li>
						<li><a href="$!{address.trade}/cp-090303.htm" target="_blank">混流式风机箱</a></li>
						<li><a href="$!{address.trade}/cp-090402.htm" target="_blank">风扇</a></li>
						<li><a href="$!{address.trade}/cp-100107.htm" target="_blank">保洁车</a></li>
						<li><a href="$!{address.trade}/cp-100203.htm" target="_blank">清洗设备</a></li>
						<li><a href="$!{address.trade}/cp-100302.htm" target="_blank">生活垃圾</a></li>
						<li><a href="$!{address.trade}/cp-100406.htm" target="_blank">生态厕所</a></li>
						<li><a href="$!{address.trade}/cp-100501.htm" target="_blank">吸尘器</a></li>
						<li><a href="$!{address.trade}/cp-100609.htm" target="_blank">翻新机</a></li>
						<li><a href="$!{address.trade}/cp-100709.htm" target="_blank">喷雾器</a></li>
						<li><a href="$!{address.trade}/cp-100802.htm" target="_blank">破碎机</a></li>
						<li><a href="$!{address.trade}/cp-110101.htm" target="_blank">水质分析仪</a></li>
						<li><a href="$!{address.trade}/cp-110205.htm" target="_blank">密度测定仪</a></li>
						<li><a href="$!{address.trade}/cp-110301.htm" target="_blank">气体检测仪</a></li>
						<li><a href="$!{address.trade}/cp-110405.htm" target="_blank">湿度传感器</a></li>
						<li><a href="$!{address.trade}/cp-110501.htm" target="_blank">压力变送器</a></li>
						<li><a href="$!{address.trade}/cp-110603.htm" target="_blank">液位控制器</a></li>
						<li><a href="$!{address.trade}/cp-110705.htm" target="_blank">老化试验箱</a></li>
						<li><a href="$!{address.trade}/cp-110809.htm" target="_blank">色谱仪</a></li>
						<li><a href="$!{address.trade}/cp-110910.htm" target="_blank">电子温度计</a></li>
						<li><a href="$!{address.trade}/cp-111002.htm" target="_blank">电导率仪</a></li>
						<li><a href="$!{address.trade}/cp-111115.htm" target="_blank">PH仪表</a></li>
						<li><a href="$!{address.trade}/cp-111201.htm" target="_blank">滴定仪</a></li>
						<li><a href="$!{address.trade}/cp-111304.htm" target="_blank">粉尘仪</a></li>
						<li><a href="$!{address.trade}/cp-130104.htm" target="_blank">噪声控制</a></li>
						<li><a href="$!{address.trade}/cp-130207.htm" target="_blank">减震器</a></li>
						<li><a href="$!{address.trade}/cp-130311.htm" target="_blank">防腐工程</a></li>
						<li><a href="$!{address.trade}/cp-130403.htm" target="_blank">化工防腐</a></li>
						<li><a href="$!{address.trade}/cp-130501.htm" target="_blank">工控设备</a></li>
					</ul>
                </section>
            </article>
			
			##cacheFragment("$!{address.fragment}/fragment/tags/categoryTags.htm?categoryCode=100010011001&size=50","","","600")
			<!--  新增热门搜索功能   -->
			#*
			<article class="hblsblock">
            	<header class="hblstit"><div class="normalstaus hblstiticon9"><a href="$!{address.trade}/supply/index--1000--.htm" taget="_blank">热门导航</a></div></header>
                <section class="hblsdetails">
                   	<ul class="hblsdetailstbadd">
						#foreach($key in $!{tags.keySet()})
							<li><a href="$!{address.trade}/supply/index----$!{key}.htm" target="_blank">$key</a></li>
						#end
                    </ul>
                </section>
            </article>
			#end
		    *#
			
			<!--  新增热门搜索功能   -->
            <div class="clear"></div>
        </section>
        <!--prod list end-->
    </article>
<script type="text/javascript" src="http://img0.huanbao.com/huanbao/js/hb.index.comm.js"></script>
    <article class="contblock_252 floatright">
    	<script type="text/javascript">
/*首页中部广告下 234*60，创建于2013-5-9*/
var cpro_id = "u1280861";
</script>
<script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
		#cacheFragment("$!{address.fragment}/fragment/trade/recommendSupply.htm?size=20","","","600")
        <section class="html5radius nor_box ">
            <header class="tit"><span class="font14"><a href="$!{address.trade}/newg.htm" target="_blank">推荐产品</a></span></header>
            <article class="nor_cont">
             <div id="topscroll3" style="overflow-y: hidden; overflow-x: hidden; height:234px; width:232px;">
				<ul class="liststyleblack">
                   #foreach($l in $list)
						<li><a href="$!{address.trade2}/supply/detail$!{l.id}.htm" target="_blank">#printTitle($!{l.title} 18 "")</a></li>
					#end
                </ul>
				</div>
            </article>	
        </section>
		#end
		#cacheFragment("$!{address.fragment}/fragment/company/recommendCompany.htm?categoryCode=10001010&size=30&index","","","600")
        <section class="html5radius nor_box margintop8">
            <header class="tit"><span class="font14"><a href="$!{address.trade}/buy/list.htm">推荐公司</a></span></header>
            <article class="nor_cont">
                <div id="topscroll4" style="overflow-y: hidden; overflow-x: hidden; height:234px; width:232px;">
                    <ul class="liststyleblack">
						#foreach($l in $!{list})
						<li><a href="http://$!{l.domainTwo}.huanbao.com" target="_blank" title="${l.name}">#printTitle($!{l.name} 18 "")</a></li>
						#end
                    </ul>
                </div>
            </article>	
        </section>
		#end
		#cacheFragment("$!{address.fragment}/fragment/trade/recommendBuy.htm?size=10&wwwIndex","","","600")
        <section class="html5radius nor_box margintop8">
            <header class="tit"><span class="font14"><a href="$!{address.trade}/newb.htm" target="_blank">推荐求购信息</a></span></header>
            <article class="nor_cont">	
                <ul class="liststyleblack">
                   #foreach($l in $list)
						<li><a href="$!{address.trade}/buy/detail$!{l.id}.htm" target="_blank">#printTitle($!{l.title} 18 "")</a></li>
					#end
                </ul>
            </article>	
        </section>
		#end
        <section class="margintop8"><script type="text/javascript" src="http://gg.zz91.com/show?p=111"></script></section>

		#cacheFragment("$!{address.fragment}/fragment/trade/newestSupply.htm?size=10&wwwIndex","","","600")
        <section class="html5radius nor_box margintop8">
            <header class="tit"><span class="font14"><a href="$!{address.trade}/newg.htm" target="_blank">最新产品</a></span></header>
            <article class="nor_cont">	
                <ul class="liststyleblack">
                   #foreach($l in $!{list})
        				<li>
        					<a href="$!{address.trade2}/supply/detail$!{l.id}.htm">#printTitle($!{l.title} 18 "")</a>
        				</li>
        			#end
                </ul>
            </article>	
        </section>
		#end

		<!--
        <section class="html5radius nor_box margintop8">
            <header class="tit"><span class="font14"><a target="_blank" href="$!{address.news}/list10001005.htm">专家/论文</a></span></header>
            <article class="about-expert">	
              	<script type="text/javascript" src="http://gg.zz91.com/show?p=206"></script>
            </article>
        </section>
		-->
		
        <section class="html5radius nor_box margintop8">
            <header class="tit"><span class="font14"><a>企业动态</a></span></header>
            <article class="nor_cont">	
                <ul class="liststyleblack">
				#cacheFragment("$!{address.fragment}/fragment/company/newestCompNewsTop.htm?size=2","","","600")
                   #foreach($l in $topList)
						<li><a href="$!{address.esite}/newsDetails${l.id}.htm" target="_blank" title="${l.title}">#printTitle(${l.title} 18 "")</a></li>
				   #end
				#end  
				#cacheFragment("$!{address.fragment}/fragment/company/newestCompNewsSize.htm?size=8","","","600")
                   #foreach($l in $sizeList)
						<li><a href="$!{address.esite}/newsDetails${l.id}.htm" target="_blank" title="${l.title}">#printTitle(${l.title} 18 "")</a></li>
				   #end
				#end   
                </ul>
            </article>	
        </section>
		

		#cacheFragment("$!{address.fragment}/fragment/news/categoryNews.htm?categoryCode=10001009&size=10&oue","","","600")
		<section class="html5radius nor_box margintop8">
            <header class="tit"><span class="font14"><a href="$!{address.news}/list10001009.htm" target="_blank">名企专访</a></span></header>
            <article class="nor_cont">
                <ul class="liststyleblack">
                   #foreach($l in $list)
						<li><a href="$!{address.news}/details${l.id}.htm" target="_blank" title="${l.title}">#printTitle(${l.title} 16 "")</a></li>
					#end
                </ul>
            </article>
        </section>
		#end
    </article>
    <div class="clear"></div>
</section>

<!---new ads----->
<section class="hb_mainblock margintop8">
	<script type="text/javascript" src="http://gg.zz91.com/show?p=201"></script>
</section>
<!---new ads----->

<!--3rd block start-->
<section class="hb_mainblock margintop8 hb_newsblock">
	#cacheFragment("$!{address.fragment}/fragment/news/categoryNews.htm?categoryCode=10001003&size=4","","","600")
	<article class="hbnews_box">
    	<header class="hbnews_header"><span class="tit"><a class="news_zh" target="_blank" href="$!{address.news}/list10001003.htm">工程/案例</a><span class="news_inteval">|</span><span class="news_en">Engineering/Cases</span></span></header>
    		<section class="news_cont">
            		<div class="ns_cont_img">
            			<script type="text/javascript" src="http://gg.zz91.com/show?p=119"></script>
            		</div>
            		#if($list.size() > 0 )
                    <div class="ns_cont_info">
                        #set($topl=${list.get(0)})
                    	<span class="ns_tit">#printTitle(${topl.titleIndex} 12 '')</span>
                        <p class="ns_p">#printTitle(${topl.description} 28 "...")[<a href="$!{address.news}/details${topl.id}.htm" target="_blank" title="${topl.title}"  class="ns_more_btn">详细</a>]</p>
                    </div>
                    #end
                    <div class="clear"></div>
            </section>
			<section class="news_cont ns_ls">
            	<ul>
					#foreach($l in $list)
						#if($velocityCount>1)
							<li><a href="$!{address.news}/list$!{l.categoryCode}.htm" target="_blank" class="ns_iscatgy">[$!{l.htmlPath}]</a>
								<a href="$!{address.news}/details${l.id}.htm" target="_blank" title="${l.title}">#printTitle($!{l.titleIndex} 17 "")</a></li>
						#end
                    #end
                </ul>
            </section>
		
    </article>
    #end

    #cacheFragment("$!{address.fragment}/fragment/news/categoryNews.htm?categoryCode=10001002&size=6","","","600")
    <article class="hbnews_box marginleft8">
    	<header class="hbnews_header"><span class="tit"><a class="news_zh" target="_blank" href="$!{address.news}/list10001002.htm">市场/行情</a><span class="news_inteval">|</span><span class="news_en">Market/Industry Report</span></span></header>
        <section class="news_contl">
        		<div class="ns_cont_img">
					<script type="text/javascript" src="http://gg.zz91.com/show?p=121"></script>
				</div>
                <div class="ns_cont_img margintop8">
					<script type="text/javascript" src="http://gg.zz91.com/show?p=122"></script>
				</div>
        </section>
        <section class="news_contr ns_ls">
        	<ul class="liststyleorange">
				#foreach($l in $list)
                <li #if($velocityCount==4) class="margintop8" #end>
						<a href="$!{address.news}/details${l.id}.htm" target="_blank" title="${l.title}">#printTitle(${l.titleIndex} 17 "")</a></li>
				</li>
				#end
            </ul>
        </section>
    </article>
    #end
	
	#cacheFragment("$!{address.fragment}/fragment/news/categoryNews.htm?categoryCode=10001001&size=6","","","600")
    <article class="hbnews_box marginleft8">
    	<header class="hbnews_header"><span class="tit"><a class="news_zh" target="_blank" href="$!{address.news}/list10001001.htm">政策法规</a><span class="news_inteval">|</span><span class="news_en">Policies and Regulations</span></span></header>
        <section class="news_cont ns_lsh">
        	<ul class="liststyleblack">
            	#foreach($l in $list)
                <li>
						<a href="$!{address.news}/details${l.id}.htm" target="_blank" title="${l.title}">#printTitle(${l.titleIndex} 24 "")</a></li>
				</li>
				#end
            </ul>
        </section>
    </article>
	#end
    <div class="clear"></div>
</section>
<!--3rd block end-->

<!--4th block start-->
<section class="hb_mainblock margintop8 hb_newsblock">
	#cacheFragment("$!{address.fragment}/fragment/news/categoryNews.htm?categoryCode=100010061001&size=6","","","600")
    <article class="hbnews_box">
    	<header class="hbnews_header"><span class="tit"><a class="news_zh" target="_blank" href="$!{address.news}/list100010061001.htm">上市新闻</a><span class="news_inteval">|</span><span class="news_en">Listed News</span></span></header>
        <section class="news_cont ns_lsh">
        	<ul class="liststyleblack">
            	#foreach($l in $list)
                <li>
						<a href="$!{address.news}/details${l.id}.htm" target="_blank" title="${l.title}">#printTitle(${l.titleIndex} 24 "")</a></li>
				</li>
				#end
            </ul>
        </section>
    </article>
	#end

	#cacheFragment("$!{address.fragment}/fragment/exhibit/categoryExhibits.htm?categoryCode=10001010&size=6","","","600")
    <article class="hbnews_box">
    	<header class="hbnews_header"><span class="tit"><a class="news_zh" target="_blank" href="$!{address.exhibit}">环保展会</a><span class="news_inteval">|</span><span class="news_en">Environmental Exhibition</span></span></header>
        <section class="news_cont ns_lsh">
        	<ul class="liststyleblack">
            	#foreach($l in $list)
                <li>
					<a href="$!{address.exhibit}/details${l.id}.htm" target="_blank" title="${l.name}">#printTitle(${l.name} 24 "")</a></li>
				</li>
				#end
            </ul>
        </section>
    </article>
	#end

	#cacheFragment("$!{address.fragment}/fragment/news/categoryNews.htm?categoryCode=10001004&size=6","","","600")
    <article class="hbnews_box">
    	<header class="hbnews_header"><span class="tit"><a class="news_zh" target="_blank" href="$!{address.news}/list10001004.htm">前沿技术</a><span class="news_inteval">|</span><span class="news_en">Cutting-edge Technology</span></span></header>
        <section class="news_cont ns_lsh">
        	<ul class="liststyleblack">
            	#foreach($l in $list)
                <li>
					<a href="$!{address.news}/details${l.id}.htm" target="_blank" title="${l.title}">#printTitle(${l.titleIndex} 24 "")</a></li>
				</li>
				#end
            </ul>
        </section>
    </article>
	#end
	
    <div class="clear"></div>
</section>
<!--4th block end-->

<!--5th block start-->
<section class="hb_mainblock margintop8">
	<article class="html5radius nor_box">
    	<header class="tit"><span class="font14"><a href="#" target="_blank">环保子网</a></span></header>
        <article class="nor_cont">	
              	<section class="nor_cont_hbbox">
                	<p><img src="$!{address.img}/huanbao/images/index/partner/ws.jpg" alt="污水处理网"></p>
                    <span class="hb_tit"><a href="$!{address.www}/ws" title="污水处理网" target="_blank">污水处理网</a></span>
                </section>
                <section class="nor_cont_hbbox">
                	<p><img src="$!{address.img}/huanbao/images/index/partner/ys.jpg" alt="原水处理网"></p>
                    <span class="hb_tit"><a href="$!{address.www}/ys" rel="nofollow" title="原水处理网" target="_blank">原水处理网</a></span>
                </section>
                <section class="nor_cont_hbbox">
                	<p><img src="$!{address.img}/huanbao/images/index/partner/kq.jpg" alt="空气净化网"></p>
                    <span class="hb_tit"><a href="$!{address.www}/kq" rel="nofollow" title="空气净化网" target="_blank">空气净化网</a></span>
                </section>
                <section class="nor_cont_hbbox">
                	<p><img src="$!{address.img}/huanbao/images/index/partner/yj.jpg" alt="水处理药剂网"></p>
                    <span class="hb_tit"><a href="$!{address.www}/yj" title="水处理药剂网" target="_blank">水处理药剂网</a></span>
                </section>
                <section class="nor_cont_hbbox">
                	<p><img src="$!{address.img}/huanbao/images/index/partner/beng.jpg" alt="泵网"></p>
                    <span class="hb_tit"><a href="$!{address.www}/beng" title="泵网" rel="nofollow" target="_blank">泵网</a></span>
                </section>
                <section class="nor_cont_hbbox">
                	<p><img src="$!{address.img}/huanbao/images/index/partner/fa.jpg" alt="阀网"></p>
                    <span class="hb_tit"><a href="$!{address.www}/fa" title="阀网" rel="nofollow" target="_blank">阀网</a></span>
                </section>
				<section class="nor_cont_hbbox">
                	<p><img src="$!{address.img}/huanbao/images/index/partner/fj.jpg" alt="风机网"></p>
                    <span class="hb_tit"><a href="$!{address.www}/fj" title="风机网" rel="nofollow" target="_blank">风机网</a></span>
                </section>
                <section class="nor_cont_hbbox">
                	<p><img src="$!{address.img}/huanbao/images/index/partner/yqyb.jpg" alt="仪器仪表网"></p>
                    <span class="hb_tit"><a href="$!{address.www}/yqyb" title="仪器仪表网" rel="nofollow" target="_blank">仪器仪表网</a></span>
                </section>
				<section class="nor_cont_hbbox">
                	<p><img src="$!{address.img}/huanbao/images/index/partner/hw.jpg" alt="环卫清洁网"></p>
                    <span class="hb_tit"><a href="$!{address.www}/hw" title="环卫清洁网" rel="nofollow" target="_blank">环卫清洁网</a></span>
                </section>
                <section class="nor_cont_hbbox">
                	<p><img src="$!{address.img}/huanbao/images/index/partner/zh.jpg" alt="综合设备网"></p>
                    <span class="hb_tit"><a href="$!{address.www}/zh" title="综合设备网" rel="nofollow" target="_blank">综合设备网</a></span>
                </section>
                <div class="clear"></div>
            </article>
    </article>
</section>
<!--5th block end-->

 <!--6th block start-->
<section class="hb_mainblock margintop8">
<script type="text/javascript">
/*首页友情链接上部960*90，创建于2013-5-9*/
var cpro_id = "u1280864";
</script>
<script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
	<article class="html5radius nor_box">
    	<header class="tit"><span class="font14"><a href="#" target="_blank">合作媒体</a>友链合作:百度权重>=4 QQ：2658890695</span></header>
        <article class="nor_cont meida_partner">	
              <ul>
				#cacheFragment("$!{address.fragment}/fragment/common/friendLink.htm","","","600")
                    #foreach($item in $friendLink)
                    <li><a href="$item.value" target="_blank">$item.key</a></li>
    				#end
				#end
              </ul>
               <div class="clear"></div>
            </article>
    </article>
</section>
<!--6th block end-->

<script type="text/javascript">

    jQuery(document).ready(function() {
        jQuery('#new_cont_inside a:first').before(jQuery('#new_cont_inside a:last'));    
        jQuery('#next_scroll a').click(function(){
            var item_width = jQuery('#new_cont_inside a').outerWidth() + 8;
            var left_indent = parseInt(jQuery('#new_cont_inside').css('left')) - item_width;
            jQuery('#new_cont_inside:not(:animated)').animate({'left' : left_indent},500,function(){    
                jQuery('#new_cont_inside a:last').after(jQuery('#new_cont_inside a:first')); 
                jQuery('#new_cont_inside').css({'left' : '-107px'});
            }); 
        });
        jQuery('#prev_scroll a').click(function(){            
            var item_width = jQuery('#new_cont_inside a').outerWidth() + 8;
            var left_indent = parseInt(jQuery('#new_cont_inside').css('left')) + item_width;
            
            jQuery('#new_cont_inside:not(:animated)').animate({'left' : left_indent},500,function(){            
            jQuery('#new_cont_inside a:first').before(jQuery('#new_cont_inside a:last')); 
            jQuery('#new_cont_inside').css({'left' : '-107px'});
            });  
        });
        setInterval(function(){
            jQuery("#next_scroll a").click();
        }, 3000);
    });
    function hbtxtstrol(oid,iid,bid){
    	var speed=20;
    	var tab=document.getElementById(oid);
    	var tab1=document.getElementById(iid);
    	var tab2=document.getElementById(bid);
    	tab2.innerHTML=tab1.innerHTML;
    	function Marquee(){
    	if(tab2.offsetWidth-tab.scrollLeft<=0)
    	tab.scrollLeft-=tab1.offsetWidth
    	else{
    	tab.scrollLeft++;
    	}
    	}
    	var MyMar=setInterval(Marquee,speed);
    	tab.onmouseover=function() {clearInterval(MyMar)};
    	tab.onmouseout=function() {MyMar=setInterval(Marquee,speed)};
    }
	hbtxtstrol("newcp_out","newcp_l","newcp_r");
</script>
<script type="text/javascript" src="http://gg.zz91.com/show?p=515"></script>