#set($layout="/layout/blank.vm")
<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<title>询价/注册/登入</title>
<meta name="keywords" content="询价/注册/登入"/>
<meta name="description" content="询价/注册/登入"/>
<script src="$!{address.img}/lib/jquery/jquery-1.6.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="$!{address.img}/front/css/zz91.base.css"/>
<link rel="stylesheet" type="text/css" href="$!{address.img}/zz91/questionreg/css/reg.css"/>
</head>
<body>

<div class="DengLuZhuCe">                
    <!--main-->
    <div class="main">
            <div class="content">
                   <div class="ZhuCeChengGong">
                        <div class="img2">
                            <div class="ok3">
                            <a href="#">马上关闭</a>
                        	</div>
                        </div>
                   </div>
                   <!--end ZhuCeChengGong-->
            </div><!--end content-->
    </div>
    <!--end main-->
    </div>
<!--end DengLuZhuCe-->
<script>
jQuery(document).ready(function(){
	jQuery(".ok3 a").click(function(){
		window.location = "$!{destUrl}/submitCallback.htm";
	});
	function closequestion()
	{
		window.location = "$!{destUrl}/submitCallback.htm";
	}
	setTimeout(closequestion,2000);
});
</script>
</body>
</html>
