<div class="main_box">
    <div class="zz91leader">当前位置：
		<a href="$!{address.front}">$!{siteInfo.site_name}</a> &gt; 
		<a href="#springUrl('/')">公司黄页</a>
	</div>
	
	#parse("/company/vm_company/searchBar.vm")
    <div style="clear:both"></div>
	<div id="businesscenter">
		<div class="left">
			#if($!{totalPage}==0)
				#parse("/company/sorry.vm")
			#end
			<!--
			<div id="pnlCategory">
				<div class="categoryTitle" id="cateMetal">
					<div class="cate_title_1">
						<div class="cate_title_txt">废金属</div>
					</div>
					<div class="cate_title_3">
						<a href="$!{address.server}/company/company_list_g39_i10001001.htm" target="_blank">广东南海</a>
						<a href="$!{address.server}/company/company_list_g34_i10001001.htm" target="_blank">浙江永康</a>
						<a href="$!{address.server}/company/company_list_g33_i10001001.htm" target="_blank">河南长葛</a>
						<a href="$!{address.server}/company/company_list_g37_i10001001.htm" target="_blank">湖南汨罗</a>
						<a href="$!{address.server}/company/company_list_g36_i10001001.htm" target="_blank">宁波镇海</a>
                        <a href="$!{address.server}/company/company_list_g37_i10001001.htm" target="_blank">台州峰江</a>
                        <a href="$!{address.server}/company/company_list_g47_i10001001.htm" target="_blank">天津子牙</a>
					</div>
					<div class="cate_title_2"></div>
				</div>
				<div class="categoryDiv metalBg">
					<a href="$!{address.server}/company/index.htm?pc=10001000" target="_blank">钢铁</a> 
					<a href="$!{address.server}/company/index.htm?pc=100010011002" target="_blank">铜</a> 
					<a href="$!{address.server}/company/index.htm?pc=100010011003" target="_blank">铝</a> 
					<a href="$!{address.server}/company/index.htm?pc=100010011007" target="_blank">铅</a> 
					<a href="$!{address.server}/company/index.htm?pc=100010011009" target="_blank">镍</a> 
					<a href="$!{address.server}/company/index.htm?pc=100010011010" target="_blank">锌</a> 
					<a href="$!{address.server}/company/index.htm?pc=10001058" target="_blank">硅</a> 
					<a href="$!{address.server}/company/index.htm?pc=10001002" target="_blank">稀有金属</a> 
					<a href="$!{address.server}/company/index.htm?pc=10001003" target="_blank">贵金属</a> 
					<a href="$!{address.server}/company/index.htm?pc=10001004" target="_blank">再生金属</a> 
					<a href="$!{address.server}/company/index.htm?pc=100010051045" target="_blank">废五金</a> 
					<a href="$!{address.server}/company/index.htm?pc=100010051046" target="_blank">废变压器</a> 
					<a href="$!{address.server}/company/index.htm?pc=100010051047" target="_blank">废马达(电机)</a> 
					<a href="$!{address.server}/company/index.htm?pc=100010051049" target="_blank">废液</a> 
					<a href="$!{address.server}/company/index.htm?pc=100010051050" target="_blank">电线/电缆</a>  
					<a href="$!{address.server}/company/index.htm?pc=100010051059" target="_blank">废电路板</a> 
					<a href="$!{address.server}/company/index.htm?pc=100010051060" target="_blank">废线路板</a> 
					<a href="$!{address.server}/company/index.htm?pc=100010051061" target="_blank">二级板</a> 
					<a href="$!{address.server}/company/index.htm?pc=100010051258" target="_blank">废轴承</a>
				</div>
				<div class="categoryTitle" id="catePlastic">
					<div class="cate_title_1">
						<div class="cate_title_txt">废塑料</div>
					</div>
					<div class="cate_title_3">
						<a href="$!{address.server}/company/company_list_g21_i10001000.htm" target="_blank">山东莱州</a>   
						<a href="$!{address.server}/company/company_list_g20_i10001000.htm" target="_blank">山东临沂</a> 
						<a href="$!{address.server}/company/company_list_g15_i10001000.htm" target="_blank">浙江慈溪</a>
                        <a href="$!{address.server}/company/company_list_g53_i10001000.htm" target="_blank">余姚塑料城</a>
                        <a href="$!{address.server}/company/company_list_g14_i10001000.htm" target="_blank">金华东阳</a>
					    <a href="$!{address.server}/company/company_list_g18_i10001000.htm" target="_blank">江苏太仓</a>
						<a href="$!{address.server}/company/company_list_g19_i10001000.htm" target="_blank">江苏宿迁</a>
						<a href="$!{address.server}/company/company_list_g11_i10001000.htm" target="_blank">河北文安</a>
					</div>
					<div class="cate_title_2"></div>
				</div>
				<div class="categoryDiv plasticBg">
					<a href="$!{address.server}/company/index.htm?pc=100110071062" target="_blank">PP</a> 
					<a href="$!{address.server}/company/index.htm?pc=1001100710621112" target="_blank">BOPP</a> 
					<a href="$!{address.server}/company/index.htm?pc=1001100710621041" target="_blank">PPR</a> 
					<a href="$!{address.server}/company/index.htm?pc=1001100710621130" target="_blank">PPC</a> 
					<a href="$!{address.server}/company/index.htm?pc=100110071063" target="_blank">PE</a> 
					<a href="$!{address.server}/company/index.htm?pc=1001100710631001" target="_blank">HDPE</a> 
					<a href="$!{address.server}/company/index.htm?pc=1001100710631028" target="_blank">LDPE</a> 
					<a href="$!{address.server}/company/index.htm?pc=1001100710631121" target="_blank">LLDPE</a> 
					<a href="$!{address.server}/company/index.htm?pc=100110071064" target="_blank">PVC</a> 
					<a href="$!{address.server}/company/index.htm?pc=100110071065" target="_blank">PS</a> 
					<a href="$!{address.server}/company/index.htm?pc=1001100710651045" target="_blank">HIPS</a> 
					<a href="$!{address.server}/company/index.htm?pc=1001100710651044" target="_blank">EPS</a> 
					<a href="$!{address.server}/company/index.htm?pc=1001100710651189" target="_blank">GPPS</a> 
					<a href="$!{address.server}/company/index.htm?pc=100110071066" target="_blank">ABS</a> 
					<a href="$!{address.server}/company/index.htm?pc=100110071067" target="_blank">EVA</a>
					<a href="$!{address.server}/company/index.htm?pc=100110081068" target="_blank">PA</a> 
					<a href="$!{address.server}/company/index.htm?pc=100110081069" target="_blank">PET</a>  
					<a href="$!{address.server}/company/index.htm?pc=100110081070" target="_blank">POM</a>  
					<a href="$!{address.server}/company/index.htm?pc=100110081071" target="_blank">PPO</a>  
					<a href="$!{address.server}/company/index.htm?pc=100110081072" target="_blank">PC</a>  
					<a href="$!{address.server}/company/index.htm?pc=100110081078" target="_blank">PMMA</a> 
					<a href="$!{address.server}/company/index.htm?pc=100110081079" target="_blank">PPS</a>  
					<a href="$!{address.server}/company/index.htm?pc=100110081080" target="_blank">PU</a> 
					<a href="$!{address.server}/company/index.htm?pc=1001100910821127" target="_blank">PTFE</a> 
					<a href="$!{address.server}/company/index.htm?pc=100110091085" target="_blank">泡沫塑料</a> 
					<a href="$!{address.server}/company/index.htm?pc=10011012" target="_blank">塑料助剂</a> 
				</div>
				<div class="categoryTitle" id="cateOther">
					<div class="cate_title_1">
						<div class="cate_title_txt" >综合废料</div>
					</div>
					<div class="cate_title_3">
						<a href="$!{address.server}/company/company_list_g66_i10121002.htm" target="_blank">温州再生胶</a>  
						<a href="$!{address.server}/company/company_list_g64_i10121002.htm" target="_blank">宜山布料</a>   
						<a href="$!{address.server}/company/company_list_g55_i10121002.htm" target="_blank">贵屿电子</a>   
						<a href="$!{address.server}/company/company_list_g74_i10121002.htm" target="_blank">南通再生胶</a> 
					</div>
					<div class="cate_title_2"> </div>
				</div>
				<div class="categoryDiv otherBg">
					<a href="$!{address.server}/company/index.htm?pc=100510211176" target="_blank">电源</a>  
					<a href="$!{address.server}/company/index.htm?pc=100510211177" target="_blank">电表</a> 
					<a href="$!{address.server}/company/index.htm?pc=100510211178" target="_blank">废电脑显示器</a> 
					<a href="$!{address.server}/company/index.htm?pc=100510211179" target="_blank">旧电脑</a> 
					<a href="$!{address.server}/company/index.htm?pc=100510211180" target="_blank">主机</a> 
					<a href="$!{address.server}/company/index.htm?pc=100510211181" target="_blank">手机</a> 
					<a href="$!{address.server}/company/index.htm?pc=100510211184" target="_blank">电视机</a> 
					<a href="$!{address.server}/company/index.htm?pc=100510211187" target="_blank">液晶屏(LCD)</a> 
					<a href="$!{address.server}/company/index.htm?pc=10051022" target="_blank">办公设备</a>
					<a href="$!{address.server}/company/index.htm?pc=10021018" target="_blank">废轮胎</a> 
					<a href="$!{address.server}/company/index.htm?pc=100210171144" target="_blank">橡胶粉</a>
					<a href="$!{address.server}/company/index.htm?pc=100210171145" target="_blank">橡胶颗粒</a> 
					<a href="$!{address.server}/company/index.htm?pc=100210171146" target="_blank">橡胶破碎料</a> 
					<a href="$!{address.server}/company/index.htm?pc=10021019" target="_blank">废橡胶轮胎处理设备</a> 
					<a href="$!{address.server}/company/index.htm?pc=100410331316" target="_blank">纸箱</a> 
					<a href="$!{address.server}/company/index.htm?pc=100410281209" target="_blank">书刊</a> 
					<a href="$!{address.server}/company/index.htm?pc=100410271203" target="_blank">利乐包</a> 
					<a href="$!{address.server}/company/index.htm?pc=10041035" target="_blank">卡纸</a> 
					<a href="$!{address.server}/company/index.htm?pc=100410271197" target="_blank">牛皮纸</a>  
					<a href="$!{address.server}/company/index.htm?pc=100410271198" target="_blank">瓦楞纸</a> 
					<a href="$!{address.server}/company/index.htm?pc=10031068" target="_blank">牛仔布</a> 
				</div>
			</div>
			-->
			<!--公司列表 S-->
			#parse("/company/vm_company/CompanyList.vm")
			<!--公司列表 E-->
		</div>
    	<div class="right">
    		<!--box_1 S-->
    		#parse("/company/vm_company/RightBox_One.vm")
    		<!--金属集散中心 -->
    		#parse("/company/vm_company/MetalsCenter.vm")
    		<!--金属集散中心 S-->
    		#parse("/company/vm_company/PlasticsCenter.vm")
    		<!--登陆排行 S-->
    		#include("/company/vm_company/LogRanking.vm")
    		<!--Rbox3 b-->
    		#include("/company/vm_company/TradeRanking.vm")
    		<!--Rbox4 b-->
            #include("/company/vm_company/IncomeRanking.vm")
    		<!--Rbox5 b-->
    		#include("/company/vm_company/ExhibitRanking.vm")
    		<!--成功网商 S-->
    		#parse("/company/vm_company/Eboos.vm")
    		<div class="offerindex_adv"></div>
    	</div>
	</div>
</div>
<input name="hidVip" type="hidden" id="hidVip" />
<br />
<br />
<script type="text/javascript" src="${address.img}/front/js/company/search.js"></script>
