<div class="oc-nav">
    <ul>
        <li {% ifequal navnum "1" %}class=mon{%endifequal%}><a href="/s/{{keywords_hex|safe}}/">{{kname|safe}}首页</a></li>
        <li {% ifequal navnum "2" %}class=mon{%endifequal%}><a href="/c/{{keywords_hex|safe}}-1/" rel="nofollow">{{kname|safe}}价格</a></li>
        <li {% ifequal navnum "3" %}class=mon{%endifequal%}><a href="/s/{{keywords_hex|safe}}-1/">{{kname|safe}}供求</a></li>
        <li {% ifequal navnum "4" %}class=mon{%endifequal%}><a href="/e/{{keywords_hex|safe}}-1/">{{kname|safe}}商家</a></li>
        <!--<li {% ifequal navnum "5" %}class=mon{%endifequal%}><a href="/s/{{keywords_hex|safe}}-1/">{{kname}}</a></li>-->
        <li {% ifequal navnum "6" %}class=mon{%endifequal%}><a href="/d/{{keywords_hex|safe}}-1/">{{kname|safe}}资讯</a></li>
        <!--<li {% ifequal navnum "7" %}class=mon{%endifequal%}><a href="/b/{{keywords_hex|safe}}-1/">问答</a></li>-->
    </ul>
</div>
<div class="wrapper">
<!--<script type="text/javascript">
var sogou_ad_id=404782;
var sogou_ad_height=60;
var sogou_ad_width=960;
</script>
<script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>-->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 微门户 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5512236620584335"
     data-ad-slot="8274972003"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>