<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>MyPay</servlet-name>
		<servlet-class>com.llpay.client.pay.MyPayServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InfoQuery</servlet-name>
		<servlet-class>com.llpay.client.pay.InfoQueryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyNotify</servlet-name>
		<servlet-class>com.llpay.client.pay.MyNotifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyPay</servlet-name>
		<url-pattern>/myPay.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InfoQuery</servlet-name>
		<url-pattern>/infoQuery.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyNotify</servlet-name>
		<url-pattern>/notify.htm</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.llpay.client.config.InitSystem</listener-class>
	</listener>

</web-app>
