#set($layout='/layout/blank.vm')

<script>
$(document).ready(function(e) {
$(".sm-comments-textarea").click(function()
	{	
		texta=$(this);
		var x=$(this).offset().left;
		var y=$(this).offset().top;
		var textWidth=$(this).width();
		var textHeight=$(this).height();
		$("#textHide").css("width",parseInt(textWidth));
		$("#textHide").css("height",parseInt(textHeight));
		$("#textHide").css("top",y);
		$("#textHide").css("left",x);
		$("#floatxx").val(x);
		$("#floatyy").val(y);
	});
});
</script>
<div class="t-left-item">
    <div class="sm-item-img">
        <a href="#" onmouseover="heada(this);" onmouseout="headb(this);">
			#if($!{info.headPic})
			<img src="$!{address.thumb}$!{address.resource}$!{info.headPic}" style="width:50px;height:50px;"/>
			#else
			<img src="http://img0.huanbao.com/huanbao/mblog/images/heading_img3.jpg" />	
			#end
		</a>
        <div class="heada" onmouseover="heada2(this);" onmouseout="headb2(this);"></div>
        <div class="cb"></div>
    </div>
    <div class="sm-item-box">
        <div class="sm-item-title">
            <a class="sm-item-name" href="#springUrl('/ublog')$!{newMBlog.id}.htm">$!{info.name}:</a>
			 $!{newMBlog.content}
        </div>
        <!--end sm-item-title-->
		<div class="bc-item-content">
			#if($!{newMBlog.photoPath} && $!{newMBlog.photoPath}!="")
				#foreach($!{l} in $!{objList})
                 <img src="$!{address.thumb}$!{address.resource}$!{l.photoPath}.jpg" style="width:120px;height:91px;"/>
				#end
			#end
        </div>
        <div class="sm-item-box2">
            <div class="sm-item-date">
                10秒钟前
            </div>
            <div class="sm-item-right">
                <span onclick="sentComments(this,$!{newMBlog.id})">转发</span>|<a href="#springUrl('/originalMblog.htm?mblogId=')$!{newMBlog.id}"style="color:#006633;">评论</a>
            </div>
        </div>
        <!--end sm-item-box2-->
    </div>
    <!--end sm-item-box-->
	<div class="cb"></div>
</div>
<!--end t-left-item-->