#set($layout='/layout/blank.vm')
<script>
function textHide(obj){
	$(document).ready(function(e) {
			texta=$(this);
			var textleft=$(this).val().substring(0,$(this).position());
			var textright=$(this).val().substring($(this).position(),$(this).val().length);
			var x=$(this).offset().left;
			var y=$(this).offset().top;
			$("#textHide1").css("left",x);
			$("#textHide1").css("top",y);
			$("#text_left").val(textleft);
			$("#text_right").val(textright);
		});
}
</script>
<div class="sm-Forward-comments2">
    <div class="sm-Forward-img2">
        <a href="#"><img src="images/img3.jpg" /></a>
    </div>
    <div class="sm-Forward-box3">
        <div class="sm-box3-1"><a class="greed">文艺小暴龙：</a>真的好立体@毛茸茸 @yan欣</div>
        <div class="sm-box3-2">
            <div class="sm-box3-time">2分钟</div>
            <div class="sm-box3-comments" onclick='sm_Forward2(this)'>回复</div>
        </div>
    </div>
    <div class="cb"></div>
</div>
<!--end sm-Forward-comments2-->
<div class="sm-ForwardComments-small">
    <div class="sm-ForwardSmall-top"></div>
    <div class="sm-ForwardSmall-content">
        <textarea class="sm-ForwardSmall-textarea" onclick="textHide(this);"></textarea>
         <div class="sm-ForwardSmall-box1">
            <ul class="fl">
                <li class="sm-icon1" onclick="face(this);"></li>
                <li><input type="checkbox" class="sm-icon3" />同时转发到我的微文</li>
                <div class="cb"></div>
            </ul>
            <div class="sm-ForwardSmall-send fr" onClick="sm_ForwardReply2(this);"></div>
            <div class="bc-face">
                <div class="bc-face-top">
                    <div class="bc-close3 fr" onclick="closeface(this);"><img src="images/close2.jpg" /></div>
                    <div class="cb"></div>
                </div>
            </div>
            <!--end sm-face-->
            <div class="cb"></div>
         </div>
    </div>
</div>
<!--end sm-ForwardComments-small-->
