#set($layout='/layout/blank.vm')

<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
<link rel="stylesheet" type="text/css" href="http://img0.huanbao.com/huanbao/mblog/css/wei.css" />
<script type="text/javascript" src="http://img0.huanbao.com/lib/jquery/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="http://img0.huanbao.com/huanbao/mblog/js/wei.js"></script>

<div class="group">
	<form id="groupForm" name="groupForm" method="post" action="#springUrl('/doCreateGroupForInfo.htm')">
	<input type="hidden"name="tragetId" value="${tragetinfo.id}"/>
    <div class="g-content">
    	<div class="g-name">
        	<div class="g-name-title">
            	备注名称：
            </div>
            <div class="g-name-box">
            	<input type="text" class="g-name-text" id="noteName" name="noteName"/>
            </div>
            <!--end g-name-box-->
        </div>
        <!--end g-name-->
        <div class="g-block1">
        	<div class="g-block1-left fl">
            	为 <a href="#">${tragetinfo.name}</a> 选择分组
            </div>
            <div class="g-block1-right fr">
            	<a href="#">为什么要设置分组？</a>
            </div>
            <!--end g-block1-right-->
        </div>
        <!--end g-block1-->
        <div class="g-block2" id="g-block2">
        	<ul id="group_id">
            	<li><input type="radio" class="g-block2-checkbox" value="特别关注" name="groupId" id="checkGroupId"/>特别关注</li>
                <li><input type="radio" class="g-block2-checkbox" value="0" name="groupId" id="checkGroupId"/>默认分组</li>
				#foreach($group in $!{groupList})
					#if($!{group.groupName}=="特别关注")
					#else
					<li><input type="radio" class="g-block2-checkbox" value="$!{group.id}" name="groupId" id="checkGroupId"/>$!{group.groupName}</li>
					#end
				#end
                <div class="cb"></div>
            </ul>
        </div>
        <!--end g-block2-->
			
        <div class="g-new">
        	<a id="group_new">创建新分组</a>
            <div class="g-new-box">
            	<div class="g-box-textBox">
            		<input type="text" class="g-box-text" value="新分组">
                </div>
                <div class="g-box-new" onclick="addGroup(this);">创建</div>
                <div class="g-box-cancel">取消</div>
                <div class="cb"></div>
            </div>
            <!--end g-new-box-->
        </div>
        <!--end g-new-->
        <div class="g-anniu">
        	<ul>
            	<li><input type="button" class="g-save" value="保存"  onclick="ajaxCreatGroupForInfo(this,${tragetinfo.id});"/></li>
                <li><a href="javascript:parent.closefrme();">取消</a></li>
                <div class="cb"></div>
            </ul>
        </div>
		
        <div class="cb"></div>
        <!--end g-anniu-->
    </div>
    <!--end g-content-->
    </form>
</div>
<!--end group-->

