#set($layout='/layout/blank.vm')
<script>
//表情加载
jQuery(document).ready(function(e) {
$(".showface1 li").click(function(){
	$("#textInfo").val($("#textInfo").val() + $(this).attr("action-data"));
	var showFace=$(this).parent().parent().parent().parent().siblings("textarea").val();
	var textleft=showFace.substring(0,$(this).parent().parent().parent().parent().siblings("textarea").position());
	var textright=showFace.substring($(this).parent().parent().parent().parent().siblings("textarea").position(),showFace.length);
	    
	$("#text_left").val(textleft);
	$("#text_right").val(textright);
	$("#textHide1").html(textleft+$("#textInfo").val()+textright);
	$("#textInfo").val("");
	$(this).parent().parent().parent().parent().siblings("textarea").val($("#textHide1").html());
	$(this).parent().parent().parent().css("display","none");
 });
})



function textHide(obj){
	$(document).ready(function(e) {
			texta=$(obj);
			var x=$(obj).offset().left;
			var y=$(obj).offset().top;
			var textWidth=$(obj).width();
			var textHeight=$(obj).height();
			$("#textHide").css("width",parseInt(textWidth));
			$("#textHide").css("height",parseInt(textHeight));
			$("#textHide").css("top",y);
			$("#textHide").css("left",x);
			$("#floatxx").val(x);
			$("#floatyy").val(y);
		});
}
</script>
<div class="bc-item-comments2">
    <div class="bc-item-img2">
        <a href="#">
			#if($!{info.headPic})
			<img src="$!{address.thumb}$!{address.resource}$!{info.headPic}" style="width:30px;height:30px;"/>
			#else
			<img src="http://img0.huanbao.com/huanbao/mblog/images/heading_img4.jpg" />	
			#end	
		</a>
		
    </div>
    <div class="bc-item-box3">
        <div class="bc-box3-1">
			#if($!{tragetInfo})
			<a class="greed" href="#springUrl('/ublog')$!{info.id}.htm">$!{info.name}</a> :回复<a class="greed" href="#springUrl('/ublog')$!{tragetInfo.id}.htm">@$!{tragetInfo.name}：</a>$!{content}
			#else
			<a class="greed" href="#springUrl('/ublog')$!{info.id}.htm">$!{info.name}：</a>$!{content}	
			#end	
		</div>
        <div class="bc-box3-2">
            <div class="bc-box3-time">10秒钟</div>
            <div class="bc-box3-comments" onclick='reply2(this)'>回复</div>
        </div>
    </div>
    <div class="cb"></div>
</div>
<!--end bc-item-comments2-->
<div class="bc-comments-small">
    <div class="bc-small-top"></div>
    <div class="bc-small-content">
		回复@$!{info.name}:
        <textarea class="bc-small-textarea" onclick="textHide(this);"></textarea>
         <div class="bc-small-box1">
            <ul class="fl">
                <li class="bc-icon1" onclick="face(this);"></li>
                <li><input type="checkbox" class="bc-icon3" id="sentType$!{tragetId}"/>同时转发到我的微文</li>
                <div class="cb"></div>
            </ul>
            <div class="bc-small-send fr" onClick="replyb(this,$!{info.id},$!{tragetId},$!{mblogId},2);"></div>
            <div class="bc-face">
                <div class="bc-face-top">
                    <div class="bc-close3 fr" onclick="closeface(this);"><img src="http://img0.huanbao.com/huanbao/mblog/images/close2.jpg" /></div>
                    <div class="cb"></div>
                </div>
				<div class="bc-face-box">
                   <ul class="showface1">
                	<li action-data="[哈哈]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/laugh.gif" title="哈哈"/>
                    </li>
                    <li action-data="[太开心]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/mb_thumb.gif" title="太开心"  />
                    </li>
                    <li action-data="[爱你]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/lovea_thumb.gif"   title="爱你"/>
                    </li>
                    <li action-data="[闭嘴]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/bz_thumb.gif"   title="闭嘴"/>
                    </li>
                    <li action-data="[右哼哼]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/yhh_thumb.gif"   title="右哼哼"/>
                    </li>
                    <li action-data="[泪]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/sada_thumb.gif"  title="泪" />
                    </li>
                    <li action-data="[拜拜]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/88_thumb.gif"  title="拜拜"/>
                    </li>
                    <li action-data="[偷笑]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/heia_thumb.gif"  title="偷笑"/>
                    </li>
                    <li action-data="[惊讶]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/cj_thumb.gif" title="惊讶" />
                    </li>
                    <li action-data="[馋嘴]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/cza_thumb.gif" title="馋嘴"  />
                    </li>
                    <li action-data="[衰]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/cry.gif" title="衰"  />
                    </li>
                    <li action-data="[懒得理你]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/ldln_thumb.gif"   title="懒得理你"/>
                    </li>
                    <li action-data="[钱]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/money_thumb.gif"   title="钱"/>
                    </li>
                    <li action-data="[good]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/good_thumb.gif"   title="good"/>
                    </li>
                    <li action-data="[ok]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/ok_thumb.gif"   title="ok"/>
                    </li>
                    <li action-data="[耶]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/ye_thumb.gif"  title="耶"/>
                    </li>
                    <li action-data="[蛋糕]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/cake.gif"  title="蛋糕"/>
                    </li>
                    <li action-data="[怒骂]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/nm_thumb.gif" title="怒骂"/>
                    </li>
                    <li action-data="[抓狂]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/crazya_thumb.gif"  title="抓狂"/>
                    </li>
                    <li action-data="[汗]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/sweata_thumb.gif"  title="汗"/>
                    </li>
                </ul>
                <div class="cb"></div>
             </div>
				
            </div>
            <!--end bc-face-->
            <div class="cb"></div>
         </div>
    </div>
</div>
<!--end bc-comments-small-->


<div id='textHide1'></div>
<div id='tagBox1'>
<div class="bc-tagBox-title">请选择最近@的人或者直接输入</div>
    <li>5135351</li>
    <li>5135351</li>
</div>
<input type="hidden" id="text_left">
<input type="hidden" id="text_right">
<input type="hidden"  id="textInfo" value="" />
