#set($layout='/layout/blank.vm')

<script >
//表情加载
jQuery(document).ready(function(e) {
$(".showface1 li").click(function(){
	$("#textInfo").val($("#textInfo").val() + $(this).attr("action-data"));
	var showFace=$(this).parent().parent().parent().parent().siblings("textarea").val();
	var textleft=showFace.substring(0,$(this).parent().parent().parent().parent().siblings("textarea").position());
	var textright=showFace.substring($(this).parent().parent().parent().parent().siblings("textarea").position(),showFace.length);
	    
	$("#text_left").val(textleft);
	$("#text_right").val(textright);
	$("#textHide1").html(textleft+$("#textInfo").val()+textright);
	$("#textInfo").val("");
	$(this).parent().parent().parent().parent().siblings("textarea").val($("#textHide1").html());
	$(this).parent().parent().parent().css("display","none");
 });
})
</script>

## <script type="text/javascript" src="http://img0.huanbao.com/huanbao/mblog/js/wei.js"></script>
#foreach( $l in $!{dtoList})
	#if($!{velocityCount} <= 5)
		  <input type="hidden" value="#printFragmentDate("yyyy-MM-dd HH:mm" $!{l.comment.gmtCreated})" id="showTime$!{velocityCount}"/>
		  <input type="hidden"  value="$!{l.comment.mblogId}" id="showId"/> 
 <div class="p-item-comments2">
    <div class="p-item-img2">
        <a href="#springUrl('/ublog')$!{l.info.id}.htm">
			#if(${l.info.headPic} && $!{l.info.headPic}!="")	
    			<img src="$!{address.thumb}$!{address.resource}$!{l.info.headPic}"  style="width:30px;height:30px;"/>
    		#else
    			<img src="http://img0.huanbao.com/huanbao/mblog/images/heading_img4.jpg" />	
    		#end
		</a>
    </div>
    <div class="p-item-box3">
        <div class="p-box3-1">
			#if($!{l.mBlogInfo.name})
            <a class="greed" href="#springUrl('/ublog')$!{l.info.id}.htm">${l.info.name}</a> :回复<a class="greed" href="#springUrl('/ublog')$!{l.mBlogInfo.id}.htm">@${l.mBlogInfo.name}</a>：$!{l.comment.content}</div>
		   #else
			<a class="greed" href="#springUrl('/ublog')$!{l.info.id}.htm">${l.info.name}：</a>$!{l.comment.content}</div>
		   #end
        <div class="p-box3-2" >
            <div class="p-box3-time" id="showTimeId$!{velocityCount}">#printFragmentDate("yyyy-MM-dd HH:mm" $!{l.comment.gmtCreated})</div>
            <div class="p-box3-comments" onclick='reply3(this)'>回复</div>
        </div>
    </div>
    <div class="cb"></div>
</div>
<!--end p-item-comments2-->
<div class="p-comments-small">
    <div class="p-small-top"></div>
    <div class="p-small-content">
		回复@${l.info.name}:
       <textarea class="p-small-textarea"></textarea>
         <div class="p-small-box1">
            <ul class="fl">
                <li class="p-icon1" onclick="face(this);"></li>
                <li><input type="checkbox" class="p-icon3" id="pSent$!{l.comment.id}"/>同时转发到我的微文</li>
                <div class="cb"></div>
            </ul>
            <div class="p-small-send fr" onClick="replyd(this,$!{l.info.id},$!{l.comment.id},$!{l.comment.mblogId},2);"></div>
            <div class="bc-face">
                <div class="bc-face-top">
                    <div class="bc-close3 fr" onclick="closeface(this);"><img src="http://img0.huanbao.com/huanbao/mblog/images/close2.jpg" /></div>
                    <div class="cb"></div>
                </div>
				<div class="bc-face-box">
                    <ul class="showface1">
                	<li action-data="[哈哈]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/laugh.gif" title="哈哈"/>
                    </li>
                    <li action-data="[太开心]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/mb_thumb.gif" title="太开心"  />
                    </li>
                    <li action-data="[爱你]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/lovea_thumb.gif"   title="爱你"/>
                    </li>
                    <li action-data="[闭嘴]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/bz_thumb.gif"   title="闭嘴"/>
                    </li>
                    <li action-data="[右哼哼]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/yhh_thumb.gif"   title="右哼哼"/>
                    </li>
                    <li action-data="[泪]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/sada_thumb.gif"  title="泪" />
                    </li>
                    <li action-data="[拜拜]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/88_thumb.gif"  title="拜拜"/>
                    </li>
                    <li action-data="[偷笑]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/heia_thumb.gif"  title="偷笑"/>
                    </li>
                    <li action-data="[惊讶]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/cj_thumb.gif" title="惊讶" />
                    </li>
                    <li action-data="[馋嘴]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/cza_thumb.gif" title="馋嘴"  />
                    </li>
                    <li action-data="[衰]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/cry.gif" title="衰"  />
                    </li>
                    <li action-data="[懒得理你]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/ldln_thumb.gif"   title="懒得理你"/>
                    </li>
                    <li action-data="[钱]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/money_thumb.gif"   title="钱"/>
                    </li>
                    <li action-data="[good]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/good_thumb.gif"   title="good"/>
                    </li>
                    <li action-data="[ok]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/ok_thumb.gif"   title="ok"/>
                    </li>
                    <li action-data="[耶]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/ye_thumb.gif"  title="耶"/>
                    </li>
                    <li action-data="[蛋糕]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/cake.gif"  title="蛋糕"/>
                    </li>
                    <li action-data="[怒骂]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/nm_thumb.gif" title="怒骂"/>
                    </li>
                    <li action-data="[抓狂]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/crazya_thumb.gif"  title="抓狂"/>
                    </li>
                    <li action-data="[汗]">
                		<img src="http://img0.huanbao.com/huanbao/mblog/images/sweata_thumb.gif"  title="汗"/>
                    </li>
                </ul>
                <div class="cb"></div>
            </div>
            </div>
			 <!--end bc-face-->			
            <div class="cb"></div>
         </div>
    </div>
</div>
 #end	
#end





##<script >
##
##for(var i =1;i <=5;i++){
##    ##评论的时间
##	var commentTime=jQuery("#showTime"+i).val();
##    ##系统时间
##    var date=new Date();
##	var showDate=new Date(commentTime);
## 	if(date.getYear()-showDate.getYear() != 0){
## 	  jQuery("#showTimeId"+i).append(commentTime);
## 	}else if(date.getMonth()-showDate.getMonth() != 0){
## 	  jQuery("#showTimeId"+i).append(commentTime);
## 	}else if(date.getDate() - showDate.getDate() !=0){
##	  jQuery("#showTimeId"+i).append(commentTime);
## 	}else if((date.getHours()*60+date.getMinutes()) - (showDate.getHours()*60+showDate.getMinutes()) >=60){
## 	  jQuery("#showTimeId"+i).append((date.getHours() - showDate.getHours())+"小时前");	
## 	}else{
## 	  jQuery("#showTimeId"+i).append((date.getHours()*60+date.getMinutes()) - (showDate.getHours()*60+showDate.getMinutes())+"分钟前");
## 	}
##	
##	}
##</script>

<!--end p-comments-small-->
