<div class="main_box">
    <div class="foot">
        <p>
            <a href="http://www.zz91.com/about/index.asp" target="_blank">关于我们</a> | <a href="http://www.recyclechina.com/"
                target="_blank">国际站</a> | <a href="http://www.zz91.com/service/zst/" target="_blank">
                    再生通服务</a> | <a href="http://www.zz91.com/service/ppt/index.asp" target="_blank">品牌通服务</a>
            | <a href="http://www.zz91.com/cn/helpcenter/" target="_blank">新手指南</a> | <a href="http://www.zz91.com/webmap.html"
                target="_blank">网站地图</a> | <a href="http://www.zz91.com/service/ppt/pay.asp"
                    target="_blank">支付方式</a> | <a href="http://www.zz91.com/about/question.asp" target="_blank">
                        意见投诉</a> | <a href="http://www.zz91.com/about/linkus.asp" target="_blank">友情链接</a>
            | 
            <a href="http://www.zz91.com/about/contactus.asp" target="_blank">客服中心</a> | <a href="http://www.zz91.com/about/zhaopin.asp" target="_blank">诚聘英才</a></p>
        <p>
            客服热线：0571-56189191 56189188 传真：0571-56189111</p>
            <p>法律顾问：京衡律师集团事务所 罗益群 律师</p>
	    <p><a href="http://img.zz91.com/zz91images/pinshu.jpg" target="_blank">中国再生资源交易网为<strong>中国物资再生协会再生资源贸易协调工作委员会</strong>副会长单位</a></p>
        <p>
            版权所有 中国再生资源交易网 浙ICP备 05004848 RecycleChina All Rights Reserved</p>
        <p>
            <span class="orange">合作伙伴：中国有色金属工业协会再生金属分会 中国塑料协会塑料再生利用专业委员会 阿里巴巴 《资源再生》杂志</span></p>
        <div class="foot_bottom">
			<div style="margin-top:10px;text-align:center;">
                
                <a href="http://www.miibeian.gov.cn/" target="_blank"><img src="http://img.zz91.com/zz91images/备案.jpg" /></a>
                <img src="http://img.zz91.com/zz91images/ICP2.jpg" />
                <img src="http://img.zz91.com/zz91images/TOP.jpg" />
                <a href="http://www.hangzhou.cyberpolice.cn/web/index.aspx" target="_blank"><img src="http://img.zz91.com/zz91images/110.jpg" /></a>
                <a href="http://net.china.com.cn/index.htm" target="_blank"><img src="http://img.zz91.com/zz91images/举报.jpg" /></a>
			</div>
                <div class="clear"></div>
          </div>
    </div>
    <div align="center" style="clear: both; display: none;">

        <script language="javascript" src="http://count12.51yes.com/click.aspx?id=121011663&logo=1"></script>

    </div>
</div>
<br />
<br />
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6950614-4");
pageTracker._trackPageview();
} catch(err) {}</script>

<!--百度统计 begin-->
<script  type="text/javascript">
    var _bdhm_top = 0;
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    var _bdhm_tim = new Image(1, 1);
    _bdhm_tim.id = "bdhmPerimg";
    _bdhm_tim.src = _bdhmProtocol + "hm.baidu.com/_tt.gif?si=65d90fc6d307590b14e9e1800d4e8eab&rnd=" + Math.round(Math.random() * 2147483647);
    _bdhm_tim.onload = function() { _bdhm_top = 1; }
</script>
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F65d90fc6d307590b14e9e1800d4e8eab' type='text/javascript'%3E%3C/script%3E"));
</script>
<!--百度统计 end-->

<script language="javascript" src="http://www.zz91.com/stat/"></script>
</body>
</html>