<div id="UCOfferListRight1_Div1" style="border: 1px solid #4EA642; margin-top: 5px">
        <div class="rightTitle" align="center">
            <strong>
				<font style="font-size: 12px; color: #006600">相关企业报价</font>
			</strong>
		</div>
        <div class="rightDivA" style="padding: 2px;font-size:12px;">
            <table style="padding:0;margin:0;width:100%">
            	#foreach($companyPrice in $companyPriceList)
                <tr>
					<td width="58%"><a href="${address.price}/companyprice/priceDetails${companyPrice.companyPriceDO.id}.htm"
							target="_blank" title="${companyPrice.companyPriceDO.title}" style="font-size:12px;">$stringUtils.controlLength($!{companyPrice.companyPriceDO.title},18)</a></td>
					<td width="42%">$stringUtils.controlLength($!{companyPrice.companyPriceDO.price},8)</td>
				</tr>
        		#end
            </table>
        </div>
        <div align="right" style="padding: 5px">
            <a href="$!{address.price}/companyprice" target="_blank">
				<font color="#ff0000" style="font-size: 12px;">
					<strong>查看所有报价&gt;&gt;</strong>
				</font>
			</a>
		</div>
</div>