<div id="UCOfferListRight1_htmlDivTagsList" style="border: 1px solid #4EA642; margin-top: 5px">
        <div class="rightTitle" align="center">
            <strong><font style="font-size: 12px; color: #006600">此类相关标签</font></strong></div>
        <div class="rightDivA" style="padding: 5px">
        	<ul>
				  <li>
				  	#foreach($tag in $tagsList)
				  		#set($step=$velocityCount%3+1)
				  	<a href="$!{address.server}/tags/infoListByKey${tag.id}.htm" class=tag$step target=_blank>$!{tag.name}</a>
				  	#end
				  </li>
			</ul>
        </div>
        <div align="right" style="padding: 5px">
            <a href="$!{address.server}/tags" target="_blank"><font color="#ff0000" style="font-size: 12px;"><strong>
                查看所有标签&gt;&gt;</strong></font></a>
		</div>
</div>