<style>
	div {padding:2px;}
	.imptContent {padding:20px;}
</style>
<div class="imptContent">
<h3 >公司信息导入</h3>
<form action="#springUrl('/data/dataimport/impt.htm')" enctype="multipart/form-data" method="post">
	<h4>Excel Index</h4>
	<table border="0" cellpadding="2">
		<tr>
			<th>字段</th>
			<th>excel列（起始0）</th>
		</tr>
		<tr>
			<td>公司名称</td>
			<td><input type="text" value="" name="cname"/></td>
		</tr>
		<tr>
			<td style="color:red">会员类型</td>
			<td>
				<select name="memberCode">
					<option value="10011001">高级会员</option>
					<option value="10011000">普通客户</option>
				</select>
			</td>
			<td >此项必填</td>
		</tr>
		<tr>
			<td>联系人</td>
			<td><input type="text" value="" name="name"/></td>
		</tr>
		<tr>
			<td>性别</td>
			<td><input type="text" value="" name="sex"/></td>
		</tr>
		<tr>
			<td style="color:red">行业</td>
			
			<td>
				<select name="industryCode">
					#foreach($l in $!{industryList})
					<option value="${l.value}">${l.name}</option>
					#end
                </select>
			</td>
			<td >此项必填</td>
		</tr>
		<tr>
			<td style="color:red">业务类型</td>
			<td>
				<select name="bussinessCode">
					#foreach($l in $!{bussinessList})
    				<option value="${l.value}">${l.name}</option>
					#end
                </select>
			</td>
			<td >此项必填</td>
		</tr>
		<tr>
			<td>手机</td>
			<td><input type="text" value="" name="mobile"/></td>
		</tr>
		<tr>
			<td>电话</td>
			<td><input type="text" value="" name="phone"/></td>
		</tr>
		<tr>
			<td>QQ</td>
			<td><input type="text" value="" name="fax"/></td>
		</tr>
		<!--
		<tr>
			<td>用户名</td>
			<td><input type="text" value="" name="addressZip"/></td>
		</tr>
		-->
		<tr>
			<td>省份</td>
			<td><input type="text" value="" name="provinceName"/></td>
		</tr>
		<tr>
			<td>地区</td>
			<td><input type="text" value="" name="areaName"/></td>
		</tr>
		<tr>
			<td>公司地址</td>
			<td><input type="text" value="" name="address"/></td>
		</tr>
		<tr>
			<td>公司简介</td>
			<td><input type="text" value="" name="details"/></td>
		</tr>
		<tr>
			<td>用户类型</td>
			<td><input type="text" value="" name="useType"/></td>
		</tr>
	</table>
	<h4 >Excel文件</h4>
	<div><input type="file" name="excel" /></div>
	
	<div><input type="submit" name="importexcel" style="font-size:20px;color:red" value="确认填写正确后，点这里导入" /></div>
</form>
<hr />
</div>
