<div id="header">
    <div id="banner">
       <img src="$!{address.images}/score/integralSys_banner.gif" />
    </div>
    <div id="navigation">
        <ul>
            <li class="lihome">
                <a class="home" href="#springUrl('/index.htm')" title="积分商城首页"></a>
            </li>
            <li class="liearnpionts">
                <a class="earnpionts" href="#springUrl('/rule.htm')" title="如何快速赚取积分"></a>
            </li>
            <li class="liredeem">
                <a class="redeem" href="#springUrl('/goods.htm')" title="积分兑换"></a>
            </li>
            <li class="liservice">
                <a class="service" href="#springUrl('/annotated.htm')" title="积分服务宝典"></a>
            </li>
        </ul>
    </div>
</div>
