	
<script type="text/javascript" src="#springUrl('/app/crm/open.js')" ></script>
<script type="text/javascript" src="#springUrl('/app/crm/svr.js')" ></script>
<script type="text/javascript">
	Ext.onReady(function() {
		com.zz91.ep.crm.open.step1();
	});
</script>
