        <link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
        <link rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.base.css" />
        <link rel="stylesheet" href="http://img0.zz91.com/zz91/polymer/css/library-cp.css" />
		#set($layout="layout/yuanliaoLayout.vm")
		#set($inflag=3)
		#set($in=4)
        <div class="pagecenter clearfix">
            <div class="hangqi-mo clearfix">
                <div class="fl ggao-img"></div>
                <div class="fl day-hq">
                    <h2 class="titletop">每日价格行情</h2>
                    <div class="day-info">
						#if($!{list.size()}>0)
                        <h2 class="day-name" style="font-size:14px"><a href="#springUrl('/price/cdetail')$!{list.get(0).id}.html" target="_blank">#printTitle($!{list.get(0).title} 20 '...')</a></h2>
                        <p class="day-wen" style="font-size:14px">#if($!{list.get(0).content})　　#printTitle($!{list.get(0).content} 140 '... ') #if($!list.get(0).content.trim().length()>140)  <a href="#springUrl('/price/cdetail')$!{list.get(0).id}.html" target="_blank" class="orange-color">[查看更多]</a>  #end #end </p>
						#end
					</div>
                    <div class="dayinfo-list">
                        <ul class="clearfix">
							#set($ss = 0)
							#foreach($in in $list)
							#if($ss!=0)
                            <li class="clearfix">
                                <a href="#springUrl('/price/cdetail')$!{in.id}.html" target="_blank" class="fl">$!{in.title}</a>
                                <span class="fr color-99">#printFragmentDate('MM-dd' $!{in.gmtCreated})</span>
                            </li>
							#end
							#set($ss = $ss + 1)
							#end
                        </ul>
                    </div>
                </div>
                <div class="fr hotday-hq">
                    <h2 class="titletop">热点行情</h2>
                    <ul class="hotday-ul">
						#set($ss =1 )
						#foreach($in in $!{redian})
                        <li class="clearfix">
                            <em #if($ss<4) class="first-em" #end>$ss</em>
                            <a href="#springUrl('/price/cdetail')$!{in.id}.html" target="_blank">$!{in.title}</a>
                        </li>
						#set($ss = $ss + 1)
						#end
                    </ul>
                </div>
            </div>

            <div class="hangqi-mo clearfix hangqi-mo2">
                <ul class="mostprice-list clearfix">
                    <li class="mostprice-list-li">
                        <h2 class="titletop clearfix">
                            <span class="fl">塑料期货价格</span>
                            <a href="#springUrl('/price/list-1.html')" target="_blank" class="more">更多 >></a>
                        </h2>
                        <ul class="smtype-list">
							#foreach($in in $!{qh})
                            <li class="clearfix">
                                <a href="#springUrl('/price/cdetail')$!{in.id}.html" target="_blank" class="fl">$!{in.title}</a>
								<span class="fr color-99">#printFragmentDate('MM-dd' $!{in.gmtOrder})</span>
                            </li>
							#end
##							#foreach($in in $!{sp})
##							<li>
##                                <a href="#springUrl('/hq/priceDetail')$!{in.id}.htm" class="fl">$!{in.title}</a>
##								<span class="fr color-99">#printFragmentDate('MM-dd' $!{in.gmtOrder})</span>
##                            </li>
##							#end
                        </ul>
                    </li>
                    <li class="mostprice-list-li">
                        <h2 class="titletop clearfix">
                            <span class="fl">国内塑料市场价格</span>
                            <a href="#springUrl('/price/list-2.html')" target="_blank" class="more">更多 >></a>
                        </h2>
                        <ul class="smtype-list">
							#foreach($in ni $!{gn})
                            <li class="clearfix">
                                <a href="#springUrl('/price/cdetail')$!{in.id}.html" target="_blank" class="fl">$!{in.title}</a>
								<span class="fr color-99">#printFragmentDate('MM-dd' $!{in.gmtOrder})</span>
                            </li>
							#end
                        </ul>
                    </li>
                    <li class="mostprice-list-li">
                        <h2 class="titletop clearfix">
                            <span class="fl">余姚塑料城价格</span>
                            <a href="#springUrl('/price/list-3.html')" target="_blank" class="more">更多 >></a>
                        </h2>
                        <ul class="smtype-list">
							#foreach($in in $!{yuyao})
                            <li class="clearfix">
                                <a href="#springUrl('/price/cdetail')$!{in.id}.html" target="_blank" class="fl">$!{in.title}</a>
								<span class="fr color-99">#printFragmentDate('MM-dd' $!{in.gmtOrder})</span>
                            </li>
							#end
                        </ul>
                    </li>
                    <li class="mostprice-list-li">
                        <h2 class="titletop clearfix">
                            <span class="fl">国内石化出厂价</span>
                            <a href="#springUrl('/price/list-4.html')" target="_blank" class="more">更多 >></a>
                        </h2>
                        <ul class="smtype-list">
							#foreach($in in $!{shihua})
                            <li class="clearfix">
                                <a href="#springUrl('/price/cdetail')$!{in.id}.html" target="_blank" class="fl">$!{in.title}</a>
								<span class="fr color-99">#printFragmentDate('MM-dd' $!{in.gmtOrder})</span>
                            </li>
							#end
                        </ul>
                    </li>

                    <li class="mostprice-list-li">
                        <h2 class="titletop clearfix">
                            <span class="fl">国内塑料市场概况</span>
                            <a href="#springUrl('/price/list-5.html')" target="_blank" class="more">更多 >></a>
                        </h2>
                        <ul class="smtype-list">
							#foreach($in in $!{sc})
                            <li class="clearfix">
                                <a href="#springUrl('/price/cdetail')$!{in.id}.html" target="_blank" class="fl">$!{in.title}</a>
                                <span class="fr color-99">#printFragmentDate('MM-dd' $!{in.gmtOrder})</span>
                            </li>
							#end
                        </ul>
                    </li>
                    <li class="mostprice-list-li">
                        <h2 class="titletop clearfix">
                            <span class="fl">塑料新料市场行情</span>
                            <a href="#springUrl('/price/list-6.html')" target="_blank" class="more">更多 >></a>
                        </h2>
                        <ul class="smtype-list">
							#foreach($in in $!{hq})
                            <li class="clearfix">
                                <a href="#springUrl('/price/cdetail')$!{in.id}.html" target="_blank" class="fl">$!{in.title}</a>
                                <span class="fr color-99">#printFragmentDate('MM-dd' $!{in.gmtOrder})</span>
                            </li>
							#end
                        </ul>
                    </li>
                    <li class="mostprice-list-li">
                        <h2 class="titletop clearfix">
                            <span class="fl">国内塑料市场评论</span>
                            <a href="#springUrl('/price/list-7.html')" target="_blank" class="more">更多 >></a>
                        </h2>
                        <ul class="smtype-list">
							#foreach($in in $!{pinglun})
                            <li class="clearfix">
                                <a href="#springUrl('/price/cdetail')$!{in.id}.html" target="_blank" class="fl">#printTitle($!{in.title} 20 '...')</a>
                                 <span class="fr color-99">#printFragmentDate('MM-dd' $!{in.gmtOrder})</span>
                            </li>
							#end
                        </ul>
                    </li>
                    <li class="mostprice-list-li">
                        <h2 class="titletop clearfix">
                            <span class="fl">原油期货价格</span>
                            <a href="#springUrl('/price/list-8.html')" class="more" target="_blank">更多 >></a>
                        </h2>
                        <ul class="smtype-list">
							#foreach($in in $!{js})
                            <li class="clearfix">
                                <a href="#springUrl('/price/cdetail')$!{in.id}.html" target="_blank" class="fl">#printTitle($!{in.title} 20 '...')</a>
                                <span class="fr color-99">#printFragmentDate('MM-dd' $!{in.gmtOrder})</span>
                            </li>
							#end
                        </ul>
                    </li>
                </ul>
            </div>


            <div class="hangqi-mo clearfix">
                <div class="hangqi-left fl">
                    <div class="clearfix price-title">
                        <span class="fl price-title-name">企业报价</span>
                        
                        <a href="#springUrl('/price/clist.htm')" class="fr" target="_blank">更多 >></a>
                        <div class="fr price-type-st">
                            <a href="javascript:void(0)" class="top this-pt" id="PP">PP</a>
                            <a href="javascript:void(0)" class="top" id="ABS">ABS</a>
                            <a href="javascript:void(0)" class="top" id="GPPS">GPPS</a>
                            <a href="javascript:void(0)" class="top" id="HDPE">HDPE</a>
                            <a href="javascript:void(0)" class="top" id="LDPE">LDPE</a>
                            <a href="javascript:void(0)" class="top" id="PVC">PVC</a>
                        </div>
                    </div>

                    <table cellpadding="0" cellspacing="0" width="100%" class="price-tb">
                        <tr class="start">
                            <th width="240">产品</th>
                            <th width="140">价格</th>
                            <th width="160">所在地</th>
                            <th>商家</th>
                            <th width="140">发布时间</th>
                        </tr>
						#set($pp=0)
						#foreach($in in $!{qiye})
							#if($pp<8)
                        <tr class="hideshow">
                            <td><span class="pading-td"><a href="#springUrl('/price/detail')$!{in.id}.html" target="_blank">#printTitle($!{in.title} 17 '...')</a></span></td>
                            <td align="center">#if($!{in.minPrice}&&$!{in.minPrice}!="") $!{in.minPrice}-$!{in.maxPrice}$!{in.priceUnit} #else #substr($!{in.price} $!{in.priceUnit}) #end</td>
                            <td align="center">$!{in.province} $!{in.areaName}</td>
                            <td><span class="pading-td"><a href="#springUrl('/firm/detail')$!{in.companyId}.htm"  target="_blank">$!{in.companyName}</a></span></td>
                            <td align="center">#printFragmentDate('MM-dd' $!{in.postTime})</td>
                        </tr>
						#set($pp=$pp + 1)
							#end
						#end
                    </table>
                </div>
				#parse("/common/location.vm")
            </div>
        </div>
    </body>
    <script type="text/javascript">
##       stObj("price-type-st a","this-pt","click")
		

	   jQuery(".top").click(function(){
	   $(".this-pt").removeClass("this-pt");
	   $(this).addClass("this-pt");
	   var code="";
	   var str="";
	   	if(jQuery(this).parent().attr("class") == "fr price-type-st" && jQuery(this).attr("class")=="top this-pt"){
    		code = jQuery(this).attr("id");
    	}
		jQuery.ajax({
		url:"#springUrl('/price/queryByCode.htm')",
		data:{"code":code},
		async:'false',
		type:'get',
		dataType:'json',
		success:function(reg){
		$(".hideshow").hide();
		var leng=0;
		if(reg.list.length>=7){
			leng=8
		}else{
			leng=reg.list.length;
		}
		for(var i=0;i<leng;i++){
			var a=reg.list[i];
			var title=a.title;
			if(title!=""&&title.length>17){
			 title=title.substring(0,17)+"...";
			}
			var price=0;
			if(a.minPrice){
				price=a.minPrice+"-"+a.maxPrice+""+a.priceUnit;
			}else{
				price=a.price;
				if(!isNaN(price)){
				  price=price+""+a.priceUnit;
				}
			}
			str=str+"<tr class=\"hideshow\"><td><span class=\"pading-td\">"+"<a target='_blank' href='$!{address.yuanliao}/price/comDetail.htm?id="+a.id+"'>"+title+"</a></span></td><td align=\"center\">"+price+"</td><td align=\"center\">"+a.province+""+a.areaName+"</td><td align=\"center\"><a target=\"_blank\" href='$!{address.yuanliao}/firm/detail"+a.companyId+".htm' >"+a.companyName+"</td><td align=\"center\"><span class=\"pading-td\">"+getTime(Number(a.postTime.month),Number(1))+"-"+a.postTime.date+"</span></td></tr>";
		}
		jQuery(".price-tb").find("tr:last").after(str);
		}
		})
		})
		function getTime(a,b){
		return a+b;
		}
    </script>
</html>