        <link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
        <link rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.base.css" />
        <link rel="stylesheet" href="http://img0.zz91.com/zz91/polymer/css/library-cp.css" />
	<style>
		   td{
		    height: 38px;
			background: #fff;
			text-align: center;
			border: 1px solid #ccc;
			width: 279px;
			}
			tr{
			display: table-row;
			vertical-align: inherit;
			border-color: inherit;
			}
			tbody{
			    display: table-row-group;
				vertical-align: middle;
				border-color: inherit;
			}
			table{
			margin-top: 20px;
			}
			a {
					cursor:pointer;
				}
			.viewPrice p{
			    margin-top: 25px;
				line-height: 22px;
				text-indent: 2em;
			}
    </style>
		#set($layout="/layout/yuanliaoLayout.vm")
		#set($inflag=3)
		#set($in=4)
        <div class="pagecenter clearfix">
            <div class="fl hq-view-left">
                <h2 class="view-seat">
                    当前位置：<a href="#springUrl('/hq/index.htm')">行情报价首页</a>  >
					#if($!{keyword}=="每日价格行情"||$!{keyWords}=="每日价格行情")
                    <a href="#springUrl('/price/list-0.html')">$!{keyword}$!{keyWords}</a>  >  
					#elseif($!{keyword}=="塑料期货价格"||$!{keyWords}=="塑料期货价格")
					<a href="#springUrl('/price/list-1.html')">$!{keyword}$!{keyWords}</a>  >  
					#elseif($!{keyword}=="国内塑料市场价格"||$!{keyWords}=="国内塑料市场价格")
					<a href="#springUrl('/price/list-2.html')">$!{keyword}$!{keyWords}</a>  > 
					#elseif($!{keyword}=="余姚塑料城价格"||$!{keyWords}=="余姚塑料城价格")
					<a href="#springUrl('/price/list-3.html')">$!{keyword}$!{keyWords}</a>  > 
					#elseif($!{keyword}=="国内石化出厂价"||$!{keyWords}=="国内石化出厂价")
					<a href="#springUrl('/price/list-4.html')">$!{keyword}$!{keyWords}</a>  > 
					#elseif($!{keyword}=="国内塑料市场概况"||$!{keyWords}=="国内塑料市场概况")
					<a href="#springUrl('/price/list-5.html')">$!{keyword}$!{keyWords}</a>  > 
					#elseif($!{keyword}=="国内塑料市场评论"||$!{keyWords}=="国内塑料市场评论")
					<a href="#springUrl('/price/list-7.html')">$!{keyword}$!{keyWords}</a>  > 
					#elseif($!{keyword}=="塑料新料市场行情"||$!{keyWords}=="塑料新料市场行情")
					<a href="#springUrl('/price/list-8.html')">$!{keyword}$!{keyWords}</a>  > 
					#else
					 #if($!{keyword}&&$!{keyword}!=""||$!{keyWords}&&$!{keyWords}!="") <a href="#springUrl('/price/search.htm')?keyWords=$!{keyword}$!{keyWords}">$!{keyword}$!{keyWords}</a>  > #end
                    #end
					<span class="crent-seat">$!{price.price.title}</span>
                </h2>
                <div class="viewcnt">
                    <p class="view-title">$!{price.price.title}</p>
                    <p class="view-into-time">发布日期：#printFragmentDate('yyyy-MM-dd' $!{price.price.gmtCreated})</p>
##                    <p class="moery-change-see">1人民币 = 0.1516美元（1美元 = 6.4051人民币）</p>
##                    <div class="moery-change">
##                        <input class="import-moery"/>
##                        <select class="start-moery">
##                            <option>人民币</option>
##                        </select>
##                        兑换
##                        <select class="last-moery">
##                            <option>美元</option>
##                        </select>
##                        <input type="submit" name="Submit" value="转换" class="change-btn"/> 
##                    </div>
						<div class="viewPrice" style="font-size:14px">
						$!{price.price.content}
						</div>
                    <div class="one-other-view">
                        <p><span class="fweight fweight1">下一篇</span>：#if(!$!{list2})暂无 #else <a href="#springUrl('/price/cdetail')$!{list2.id}.html?keyword=$!{keyword}">$!{list2.title}</a> #end</p>
                        <p><span class="fweight fweight2">上一篇</span>：#if(!$!{list3})暂无 #else <a href="#springUrl('/price/cdetail')$!{list3.id}.html?keyword=$!{keyword}">$!{list3.title}</a> #end</p>
                    </div>
                    <div class="other-price">
                        <div class="other-price-list clearfix">
                            <a href="#springUrl('/price/list-0.html')" target="_blank">每日价格行情</a>
                            <a href="#springUrl('/price/list-1.html')" target="_blank">塑料期货价格</a>
                            <a href="#springUrl('/price/list-2.html')" target="_blank">国内塑料市场价格</a>
                            <a href="#springUrl('/price/list-3.html')" target="_blank">余姚塑料城价格</a>
                            <a href="#springUrl('/price/list-4.html')" target="_blank">国内石化出厂价</a>
                            <a href="#springUrl('/price/list-5.html')" target="_blank">国内塑料市场概况</a>
                            <a href="#springUrl('/price/list-7.html')" target="_blank">国内塑料市场评论</a>
							<a href="#springUrl('/price/list-8.html')" target="_blank">原油期货价格</a>
                        </div>
                    </div>
                </div>
            </div>
           #parse("/common/detailright.vm")
        </div>
    </body>
    <script type="text/javascript">
##	   $(".other-price-list").find("a").click(function(){
##	   		var code=$(this).attr("class");
##			if(code!=""){
##			 window.location.href="#springUrl('/hq/list.htm')?code="+code+"&falg=1";
##			}	   
##	   })
	   $(".viewPrice a").contents().unwrap();
	   
    </script>
</html>