<div class="topRight" >
	<div id="tagsad1" class="topFirst" >
		##showAds(73 "tagsad1")
        <script type="text/javascript" src="http://gg.zz91.com/show?p=187"></script>
	</div>
	<div class="latestOffer">
		<div class="latestLeft"><a href="$!{address.server}/tags" target="_blank">热门<br />标签</a></div>
		<div class="latestRight">
			<div id="quiekoffer1">
				#foreach($hot in ${hotTags.keySet()})
					<a href="$!{address.tags}/tagssearchList/$hotTags.get($!{hot})/" class="" target="_blank" title="$!{hot}">$!{hot}</a>
				#end
			</div>
			<div class="innerRight">
				#if($!{sessionUser.account})
					<a href="$!{address.myrc}/myproducts/office_post1.htm" target="_blank">发布<br />供求</a>
				#else
					<a href="#springUrl('/postoffer_step1.htm')" target="_blank">发布<br />供求</a>
				#end
			</div>
		</div>
	</div>
</div>