<!DOCTYPE html> 
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>$!{seoTitle}</title>
		<link type="text/css" rel="stylesheet" href="$!{address.css}/zz91.company.css" />
        <meta name="keywords" content="$!{seoKeywords}" />
        <meta name="description" content="$!{seoDescription}" />
        #parse("/common/importS.vm")
        #parse("/common/contextS.vm")
    </head>
    <body>
        <div id="fl_ltop" style="right:0;top:400;position:absolute;display:none;">
            <a href="#" onClick="showAd();return false;">
                <img src="$!{address.img}/front/images/root/replay.jpg" />
            </a>
        </div>
        #cacheFragment("$!{address.fragment}/china/topbar.htm","","","")
        <div id="topBar">
            <div id="topBarInfo">
                <div id="topBarLogin">
                    <iframe src="$!{address.front}/status.htm" frameborder="0" width="450" height="28" allowTransparency="true" scrolling="no"></iframe>
                </div>
                $!{fragmentContext}
            </div>
        </div>
        #end
		## 登录状态下方 横幅广告
		<div class="main_box">
			<script type="text/javascript" src="http://gg.zz91.com/show?p=358"></script>
		</div>
        #cacheFragment("$!{address.fragment}/china/header.htm?ik=esite","","","")
        $!{fragmentContext}
        #end
		$screen_content
    	#cacheFragment("$!{address.fragment}/china/footer.htm","","","")
        	$!{fragmentContext}
        #end
    	#parse("/seo/analysis_body.vm")
    </body>
</html>
#parse("/seo/analysis_foot.vm")
