body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../管理信息_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:16px;
    top:611px;
    width:642px;
    height:166px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:648px;
    height:172px;
}

.u1 {
    position:absolute;
    left:2px;
    top:75px;
    width:638px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:27px;
    top:619px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_line {
    background-image: url('../管理信息_files/u3_line.png');
}

.u3_line {
    position:absolute;
    left:0px;
    top:4px;
    width:639px;
    height:3px;
}

.u3 {
    position:absolute;
    left:18px;
    top:638px;
    width:639px;
    height:10px;
    
}

.u4_normal {
    background-image: url('../管理信息_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:696px;
    top:611px;
    width:263px;
    height:166px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:172px;
}

.u5 {
    position:absolute;
    left:2px;
    top:75px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:708px;
    top:628px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../管理信息_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:9px;
    top:9px;
    width:961px;
    height:37px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:37px;
}

.u8 {
    position:absolute;
    left:2px;
    top:10px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../管理信息_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:10px;
    top:52px;
    width:156px;
    height:66px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:156px;
    height:66px;
}

.u10 {
    position:absolute;
    left:2px;
    top:25px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../管理信息_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:171px;
    top:53px;
    width:110px;
    height:61px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:67px;
}

.u12 {
    position:absolute;
    left:2px;
    top:23px;
    width:106px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../管理信息_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:298px;
    top:54px;
    width:502px;
    height:61px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:502px;
    height:61px;
}

.u14 {
    position:absolute;
    left:2px;
    top:22px;
    width:498px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../管理信息_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:12px;
    top:129px;
    width:952px;
    height:35px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:958px;
    height:41px;
}

.u16 {
    position:absolute;
    left:2px;
    top:10px;
    width:948px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../管理信息_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:12px;
    top:174px;
    width:952px;
    height:95px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:958px;
    height:101px;
}

.u18 {
    position:absolute;
    left:2px;
    top:40px;
    width:948px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:27px;
    top:183px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../管理信息_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:12px;
    top:341px;
    width:952px;
    height:233px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:958px;
    height:239px;
}

.u21 {
    position:absolute;
    left:2px;
    top:108px;
    width:948px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_line {
    background-image: url('../管理信息_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:0px;
    top:4px;
    width:952px;
    height:3px;
}

.u22 {
    position:absolute;
    left:12px;
    top:366px;
    width:952px;
    height:10px;
    
}

.u24 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_line {
    background-image: url('../管理信息_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:0px;
    top:4px;
    width:947px;
    height:3px;
}

.u27 {
    position:absolute;
    left:12px;
    top:789px;
    width:947px;
    height:10px;
    
}

.u29 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:16px;
    top:0px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_line {
    background-image: url('../管理信息_files/u34_line.png');
}

.u34_line {
    position:absolute;
    left:0px;
    top:4px;
    width:952px;
    height:3px;
}

.u34 {
    position:absolute;
    left:12px;
    top:543px;
    width:952px;
    height:10px;
    
}

.u35 {
    position:absolute;
    left:61px;
    top:349px;
    width:34px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:195px;
    top:349px;
    width:34px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:320px;
    top:349px;
    width:34px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:525px;
    top:349px;
    width:70px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:419px;
    top:349px;
    width:65px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:661px;
    top:349px;
    width:34px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:623px;
    top:381px;
    width:29px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:658px;
    top:381px;
    width:29px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:693px;
    top:381px;
    width:63px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:12px;
    top:307px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45 {
    position:absolute;
    left:122px;
    top:307px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u46 {
    position:absolute;
    left:235px;
    top:307px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47 {
    position:absolute;
    left:352px;
    top:307px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48 {
    position:absolute;
    left:89px;
    top:553px;
    width:29px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:131px;
    top:553px;
    width:63px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:448px;
    top:585px;
    width:31px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:498px;
    top:585px;
    width:47px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:707px;
    top:585px;
    width:47px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:809px;
    top:585px;
    width:47px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../管理信息_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:852px;
    top:581px;
    width:58px;
    height:20px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:917px;
    top:584px;
    width:47px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:555px;
    top:586px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:15px;
    top:280px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_menu {
    background-image: url('../管理信息_files/u59_menu.png');
}

.u59_menu {
    position:absolute;
    left:20px;
    top:131px;
    width:515px;
    height:35px;
}

#u59_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:512px;
    height:32px;
}

#u60 {
    position:absolute;
    left:3px;
    top:3px;
    width:505px;
    height:25px
}

.u61_mouseOver {
    background-image: url('../管理信息_files/u61_mouseOver.png');
}

.u61_normal {
    background-image: url('../管理信息_files/u61_mouseOver.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_mouseOver {
    background-image: url('../管理信息_files/u61_mouseOver.png');
}

.u63_normal {
    background-image: url('../管理信息_files/u61_mouseOver.png');
}

.u63_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_mouseOver {
    background-image: url('../管理信息_files/u61_mouseOver.png');
}

.u65_normal {
    background-image: url('../管理信息_files/u61_mouseOver.png');
}

.u65_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_mouseOver {
    background-image: url('../管理信息_files/u61_mouseOver.png');
}

.u67_normal {
    background-image: url('../管理信息_files/u61_mouseOver.png');
}

.u67_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_mouseOver {
    background-image: url('../管理信息_files/u61_mouseOver.png');
}

.u69_normal {
    background-image: url('../管理信息_files/u61_mouseOver.png');
}

.u69_container {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:831px;
    top:91px;
    width:117px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:800px;
    top:58px;
    width:125px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_menu {
    background-image: url('../管理信息_files/u73_menu.png');
}

.u73_menu {
    position:absolute;
    left:922px;
    top:50px;
    width:48px;
    height:37px;
}

#u73_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:34px;
}

#u74 {
    position:absolute;
    left:3px;
    top:3px;
    width:38px;
    height:27px
}

.u75_mouseOver {
    background-image: url('../管理信息_files/u75_mouseOver.png');
}

.u75_normal {
    background-image: url('../管理信息_files/u75_mouseOver.png');
}

.u75_container {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:22px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:39px;
    height:28px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:29px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:275px;
    top:280px;
    width:345px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:27px;
    top:208px;
    width:523px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:27px;
    top:236px;
    width:457px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../管理信息_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:50px;
    top:378px;
    width:50px;
    height:50px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u81 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../管理信息_files/u80_normal.png');
}

.u82_container {
    position:absolute;
    left:50px;
    top:434px;
    width:50px;
    height:50px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u83 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../管理信息_files/u80_normal.png');
}

.u84_container {
    position:absolute;
    left:50px;
    top:490px;
    width:50px;
    height:50px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u85 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:158px;
    top:381px;
    width:107px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:299px;
    top:381px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:396px;
    top:381px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:508px;
    top:381px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:623px;
    top:434px;
    width:29px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:658px;
    top:434px;
    width:29px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:693px;
    top:434px;
    width:63px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:158px;
    top:434px;
    width:107px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:299px;
    top:434px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:396px;
    top:434px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:508px;
    top:434px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:623px;
    top:490px;
    width:29px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:658px;
    top:490px;
    width:29px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:693px;
    top:490px;
    width:63px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:158px;
    top:490px;
    width:107px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:299px;
    top:490px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:396px;
    top:490px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:508px;
    top:490px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:1079px;
    top:349px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_line {
    background-image: url('../管理信息_files/u105_line.png');
}

.u105_line {
    position:absolute;
    left:0px;
    top:4px;
    width:952px;
    height:3px;
}

.u105 {
    position:absolute;
    left:999px;
    top:398px;
    width:952px;
    height:10px;
    
}

.u107 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:1048px;
    top:381px;
    width:34px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:1182px;
    top:381px;
    width:34px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:1307px;
    top:381px;
    width:34px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:1512px;
    top:381px;
    width:70px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:1406px;
    top:381px;
    width:65px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:1648px;
    top:381px;
    width:34px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:1610px;
    top:413px;
    width:29px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:1645px;
    top:413px;
    width:29px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../管理信息_files/u80_normal.png');
}

.u118_container {
    position:absolute;
    left:1037px;
    top:410px;
    width:50px;
    height:50px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u119 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:1145px;
    top:413px;
    width:107px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:1286px;
    top:413px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:1383px;
    top:413px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:1495px;
    top:413px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:1145px;
    top:445px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

