#set($layout="/layout/blank.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>会员注册</title>
	</head>
	<script src="$!{address.img}/lib/jquery/jquery-1.6.2.min.js"></script>
	<script src="$!{address.img}/zz91/quikreg/js/login.js" type=text/javascript></script>
	<link rel="stylesheet" type="text/css" href="$!{address.img}/zz91/quikreg/css/base.css"/>
	<link rel="stylesheet" type="text/css" href="$!{address.img}/zz91/purchase/css/reg.css"/>
	<script>
	/*导航*/
	$(document).ready(function() {
    	$("#nav2").mouseover(function(){
			$(this).css("background","#3399ee");
			$(this).find("a").css("color","#FFF");
		});
	$("#nav2").mouseout(function(){
			$(this).css("background","#FFF");
			$(this).find("a").css("color","#3399ee");
		});
	});
	</script>
	<body>
		<div class="snav">
			<ul>
				<li id="nav2">
					#if($!{loginType} && $!{loginType}=='1')
                    <a href="#springUrl('/mini/login_trust.htm?destUrl=')$!{destUrl}&regfrom=$!{regfrom}&loginType=1">登&nbsp;录</a>
					#else
					<a href="#springUrl('/mini/login_trust.htm?destUrl=')$!{destUrl}&regfrom=$!{regfrom}" >登&nbsp;录</a>	
					#end
				</li>
				<li class="nav2">
					#if($!{loginType} && $!{loginType}=='1')
						<a href="#springUrl('/mini/new_reg_trust.htm?destUrl=')$!{destUrl}&regfrom=$!{regfrom}&loginType=1" style="color:#FFF">注&nbsp;册</a>
					#else
						<a href="#springUrl('/mini/new_reg_trust.htm?destUrl=')$!{destUrl}&regfrom=$!{regfrom}" style="color:#FFF">注&nbsp;册</a>
					#end
				</li>
			</ul>
		</div>
      <div class="info2">
            <span class="info2_zi">欢迎加入ZZ91，开启废料生意网上之旅!</span>
        </div>
		<input type="hidden" id="gongsi_hidden" value="0" />
        <div class="content">
            <div class="info1" style="width:710px">
                <form action="#springUrl('/mini/new_reg_stp2_trust.htm')" method="post" id="form_register">
                	<div class="box">
                    	<div class="box-title">
                        	<span class="red">*</span>注册身份：
                        </div>
                        <div class="box-content">
							#if($!{regiestType})
    							<input type="radio" name="regiestType" class="regiest-radio" value="公司" id="gongsi_radio"#if($!{regiestType} && $!{regiestType}=='公司') checked="checked" #end/>公司
                                <input type="radio" name="regiestType" class="regiest-radio" value="个人" id="geren_radio"  #if($!{regiestType} && $!{regiestType}=='个人') checked="checked"#end/>个人<span class="post_error">无营业执照请选择“个人”</span>
							#else	
                            	<input type="radio" name="regiestType" class="regiest-radio" value="公司" id="gongsi_radio" checked="checked" />公司
                                <input type="radio" name="regiestType" class="regiest-radio" value="个人" id="geren_radio" />个人
							#end
                        </div>
                        <!--end box-content-->
                        <div class="cb"></div>
                    </div>
                    <!--end box-->
                <div class="box-left">
                    <div class="box">
                    	<div class="box-title">
                        	<span class="red">*</span>手机号：
                        </div>
                        <div class="box-content">
                        	<input type="text" class="box-text"  id="js_register_account_phone" name="mobile" value="$!{companyAccount.mobile}"/>
                            <span class=post_error>请输入手机号</span>
                        </div>
                        <!--end box-content-->
                        <div class="cb"></div>
                    </div>
                    <!--end box-->
                    <div class="box">
                    	<div class="box-title">
                        	<span class="red">*</span>密码：
                        </div>
                        <div class="box-content">
                        	<input name="password" type="password" class="box-text" id="js_register_password" />
                            <span class="post_error1">输入密码</span>
                            <br/>
                            <ul class="check">
                                <li id="weak" style="background:#666"></li>
                                <li id="middle" style="background:#666"></li>
                                <li id="strength" style="background:#666"></li>
                            </ul>

                        </div>
                        <!--end box-content-->
                        <div class="cb"></div>
                    </div>
                    <!--end box-->
                    
                    <div class="box">
                    	<div class="box-title">
                        	<span class="red">*</span>确认密码：
                        </div>
                        <div class="box-content">
                            <input type="password" class="box-text" name="passwordConfirm" id="js_register_password_confirm" />
                            <span class="post_error">请再输一次</span>
                        </div>
                        <!--end box-content-->
                        <div class="cb"></div>
                    </div>
                    <!--end box-->
                    
                    <div class="box">
                    	<div class="box-title">
                        	<span class="red">*</span>姓名：
                        </div>
                        <div class="box-content">
                        	 <input type="text" class="box-text2" name="contact" id="js_register_name" value="$!{companyAccount.contact}" />
                            <input name='sex' type="radio" value="0"  checked="checked" />
                            先生
                            <input name='sex' type="radio" value="1" />
                            女士
                            <span class=post_error>填写您的真实姓名</span>
                        </div>
                        <!--end box-content-->
                        <div class="cb"></div>
                    </div>
                    <!--end box-->
                 </div>
                 <div class="box-right" id="gongsi" #if($!{regiestType} && $!{regiestType}=="个人") style="display:none;" #end>
                 	<div class="box">
                    	<div class="box-title">
                        	<span class="red">*</span>邮箱：
                        </div>
                        <div class="box-content">
                        	<input type="text" class="box-text" name="email" id="js_register_email"value="$!{companyAccount.email}"  />
                            <span class=post_error>请输入邮箱</span>
                        </div>
                        <!--end box-content-->
                        <div class="cb"></div>
                    </div>
                    <!--end box-->
                    <div class="box">
                    	<div class="box-title">
                        	<span class="red">*</span>公司名称：
                        </div>
                        <div class="box-content">
                        	<input type="text" class="box-text" name="name" id="js_register_company" value="$!{company.name}" />
                            <span class=post_error>输入您的公司名称</span>

                        </div>
                        <!--end box-content-->
                        <div class="cb"></div>
                    </div>
                    <!--end box-->
                    <div class="box">
                    	<div class="box-title">
                        	<span class="red">*</span>主营业务：
                        </div>
                        <div class="box-content">
                        	<input type="text" class="box-text" name="business" id="js_register_business" value="$!{company.business}"/>
                            <span class=post_error>请填写您的主营业务</span>

                        </div>
                        <!--end box-content-->
                        <div class="cb"></div>
                    </div>
                    <!--end box-->
                    <div class="box">
                    	<div class="box-title">
                        	<span class="red">*</span>国家/地区：
                        </div>
                        <div class="box-content">
                        	<div class="area_blue" id="area_blue">----地区----</div>
                            <input type="hidden" name="areaCode" id="areacode" />
                            <div id="school-box">
                                <h1>选择城市</h1>
                                <div id="country">
                                    <a id="1" href="#" onClick="getprovince('','10011000',1)">中国</a>
                                    <a href="#" onClick="getprovince('','1001',1)">其他国家</a>
                                </div>
                                <div id="school"></div>
                            </div>
                            <span class=post_error></span>
                        </div>
                        <!--end box-content-->
                        <div class="cb"></div>
                    </div>
                    <!--end box-->
                 </div>
                 <!--end box-right-->
                 <div class="cb"></div>
                    <div class="box">
                    	<div class="box-title">
                        	<span class="red">*</span>验证码：
                        </div>
                        <div class="box-content">
                        	<input type="text" id="verifyCode" name="verifyCode" class="text" tabindex="1" value="" size="16" />
							<img src='http://img0.zz91.com/front/images/global/loading.gif' align="absmiddle" id='codeImg' style="cursor:pointer" width="100"  title="看不清楚?点击图刷新验证码！"/>
                        </div>
                        <!--end box-content-->
                        <div class="cb"></div>
                    </div>
                    <!--end box-->
                    <div class="ok">
                        <a href="javascript:openoverlay('#springUrl("/mini/clause.htm")','服务条款',500,200,0);">点击阅读服务条款</a>
                        <br/>
                        <input class="submit" type="submit"  value="" />
                    </div>
					<input type="hidden" value="$!{destUrl}" name="destUrl"/>
					<input type="hidden" value="$!{regfrom}" name="regfrom"/>
                </form>
            </div>
        </div>
    </body>
	<script type="text/javascript" >
	jQuery(document).ready(function(){
	
		#if($!{error}=="3")
            alert("验证码填写错误！");
        #end
		
		#if($!{company.areaCode})
			getprovince('$!{addressLabel}','$!{company.areaCode}',0)
		#end
		
		jQuery("#codeImg").attr("src", "#springUrl('/validationcode/vcode.htm?')"+new Date()); 
		jQuery("#codeImg").click(function(){
			jQuery(this).attr("src", "#springUrl('/validationcode/vcode.htm?')"+new Date());
		});
		
		#if($!{regiestType}=='个人')
			getprovince('', '10011000', 1);
			jQuery("#gongsi").css("display","none");
			jQuery(".box").css("width","510px");
			jQuery(".box-content").css("width","410px");
			jQuery(".box-text").css("width","282px");
			jQuery(".box-text2").css("width","182px");
			jQuery("#gongsi_hidden").val("0");
		#end
		
	});
</script>
</html>
