<div class="clear"></div>
<section class="tdl_btnsearch margintop8">
        <form id="bootomSearchForm" name="bootomSearchForm" action="$!{addresss.www}/search.htm" method="post"> 
         <fieldset>
         	<legend class="displaynone">中国环保网搜索</legend> 
            <div class="tdl_searchlist"> 
               <ul class="tdl_serchlist_ul" id="tdlSearchType"> 
                    <li class="tdlsrhyes">产品</li> 
                    <li>资讯</li> 
                    <li>展会</li> 
                    <li>公司库</li> 
               </ul>
            </div> 
            <div class="tdl_searcharea"> 
                <label for="tdlSearchKeyWords" class="tdl_search_label" id="tdlSearchKeyLabel">$!{bwKey}</label> 
                <input type="text" class="tdl_search_text" name="searchKeyWords" id="tdlSearchKeyWords" value="$!{search.keywords}"> 		
                <input type="hidden" name="searchTypeValue" id="tdlSearchTypeValue" value="0"> 
                <input type="submit" value="找一下" class="tdl_search_sub" id="tdlSearchSub"> 
            </div>
         </fieldset> 
        </form>
		<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery("#bootomSearchForm").submit(function(){
				var kw=jQuery("#tdlSearchKeyWords").val();
				kw=encodeURI(kw);
				window.location="#springUrl('/trade/supply/index')"+"--$!{search.category}--"+kw+"--$!{search.propertyValue}--$!{search.group}--$!{search.region}--$!{search.time}--"+jQuery("#searchPriceFrom").val()+"--"+jQuery("#searchPriceTo").val()+"--$!{search.showStyle}--$!{page.sort}--$!{page.dir}"+"--s0--l$!{page.limit}.htm";
				return false;
			});
		});
        </script>
</section>