#cacheFragment("$!{address.fragment}/fragment/tags/categoryTags.htm?categoryCode=100010001004&size=50","","","3600")
<aside class="tdl_interest margintop8">
 		<header class="tdl_ist_t">你可能感兴趣的:</header>
        <ul class="tdl_ist_ls">
     		 #foreach($key in $!{tags.keySet()})
    			<li><a href="#springUrl('/trade/buy/list--')${tags.get($key)}.htm">$key</a></li>
			#end
        </ul>
</aside>
#end