#set($layout="/layout/loginAndSign.vm")
##import css
##head##
#set($head="login")
#parse("/common/login/head.vm")

<div class="wrapper login-wrap">
	<form id="form1" action="doLogin.htm" method="post">
		<fieldset class="login-field">
			<legend>请输入会员名(或Email)和密码，按“登录”即可</legend>
			#if($result==0)
				<p>
					<span style="color:red">帐号或密码错误，请重试！</span>
				</p>
			#end
			<p>
				<label for="username" class="t">用户名或Email：</label>
				<input type="text" name="username" id="username" class="field tran" value="$!{username}" />
			</p>
			<p>
				<label for="psw" class="t">密码：</label>
				<input type="password" name="psw" id="psw" class="field tran" />
			</p>
			<p class="btns">
				<input type="submit" value="登录" class="btn_s3" />
				<a href="/front/register/registerStep1.htm" class="btn_s3_grey">注册</a>
			</p>
		</fieldset>
		<input type="hidden" name="url" value="$!{url}" />
	</form>
	<div class="forget">
		<a href="password.htm">忘记密码？</a>
		<a href="password.htm">忘记会员名？</a>
	</div>
</div>
## foot ##
#parse("/common/login/footer.vm")