#set( $layout = "/layout/blank.vm" )
<script type="text/javascript">
	#if($!{errorsign})
		window.location = "$!{address.front}/error.htm?s=1"
	#else
		window.location = "$!{address.front}/error.htm"
	#end
</script>