<div id="wmsw">
<div class="title" style="margin-top:0px;background-image:url(/images/index/34hour.gif); height:28px">
<h3><a href="/cn/news_more_m13.html" target="_blank">24小时新闻台</a></h3>
<div class="keywords"></div>
<div class="more"><a href="/cn/news_more_m13.html" target="_blank">&gt;&gt;更多</a></div>
</div>
<div class=cb></div>
<div class="contentDiv" >
<div class="topContent">
<div class="pic left" style="padding-top:3px "><div style=''><a href='http://ppt.zz91.com/' target=_blank><img src='$!{address.upImages}/upload/2009/9/3014566.JPG' border=0 alt='新闻看台'></a></div></div>
<div class="left rightDiv" style="float:right; width:220px">
#zz91UlTag('class="contentList"',"",$newsList)
</div>
<div class=cb></div>
</div>
<div class=cb></div>
#zz91UlTag('class="contentList"',"",$newsList)
<div class=cb></div>
</div>
</div>