<DIV id=MainPromotionBanner2 class="marginBottom3 left" style="border:0px solid #999; margin-bottom:0px; height:35px">
  <DIV id=SlidePlayer2>
  <UL class=Slides>
  <LI>
<IFRAME marginWidth=0 marginHeight=0 src="../indexGG.asp?id=1023" frameBorder=0 width=986 scrolling=no  height=35></IFRAME>
  </LI>
  <LI>
<IFRAME marginWidth=0 marginHeight=0 src="../indexGG.asp?id=1024" frameBorder=0 width=986 scrolling=no  height=35></IFRAME>
  </LI>
  </UL>
  </DIV>
</DIV>
<SCRIPT type=text/javascript>
TB.widget.SimpleSlide.decorate('SlidePlayer2', {eventType:'mouse', effect:'scroll',autoPlayTimeout:'7'});
</SCRIPT>
  
<div class=cb></div>
