@charset "utf-8";
/* hack */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
textarea{resize:none}
* { margin: 0; padding: 0; }
fieldset, img { border:0; }
a{text-decration:none;}
/* remember to define focus styles! */
:focus { outline: 0; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: normal; font-weight: normal; }
h1, h2, h3, h4, h5, h6 { }
abbr, acronym { border: 0; font-variant: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; background-color:#fff}

code, kbd, samp, tt { font-size: 100%; }
/*@purpose To enable resizing for IE */


/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select {  *font-size:100%;
}
body { font-size:12px; font-family: "宋体", Arial, Helvetica, sans-serif; color:#303030; }
ol, ul, li { list-style: none; }
img { border:none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
caption, th { text-align: left; }
sup, sub { font-size: 100%; vertical-align: baseline; }
/* remember to highlight anchors and inserts somehow! */
:link, :visited, ins { text-decoration: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
#clear, .clear {clear: both;}


/***htm5 tags display block***/
header,nav,article,section,aside,footer,figure{display:block}
/**hack end*/


/* topbar */
.hb_bar{height:30px;line-height:29px;background:url(http://img0.huanbao.com/huanbao/images/esite2/msb1_34.gif) repeat-x;border-bottom:#E8E6E6 1px solid; border-top:#E8E6E6 1px solid;}
.hb_bar_contn{width:958px;margin:0 auto;}
.hb_bar_nav{float:left;padding-right:20px; position:relative;z-index:999;}
.hb_bar_nav ul li,.hb_bar_serve ul li{ float:left;padding-left:12px}
.hb_bar_nav ul li{ border: 1px solid #FBFBFB; border-bottom-color:#F5F5F5; height:24px; line-height:20px;   padding:0 16px 0 12px;padding-right:16px;margin-top:3px}
.hb_bar_nav ul li.ishover{ background-position:right -94px; background-color:#FFF; border-color:#E7E7E7; border-bottom-color:#FFF;border-radius:3px 3px 0 0 ; -webkit-border-radius:3px 3px 0 0 ; -moz-border-radius:3px 3px 0 0 ;}
.hb_bar_nav ul li ul{ background:#FFF; border:1px solid #E7E7E7; border-top:none;border-top-color:#FFF; position:absolute; top:29px; display:none;border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px; -moz-border-radius:0 0 3px 3px}
.hb_bar_nav ul li ul li{ padding:0; border:none; background-image:none; background-color:#FFF; text-indent:1em}
.hb_bar_nav ul li ul li a{ display:block; height:24px; line-height:24px}
.hb_bar_nav ul li ul li a:hover{ background-color:#E7E7E7;color:#F60}
.hb_bar_nav ul li ul li ul{ display:block;position:static;border:none;border-radius:0}
.hb_bar_nav ul li ul li ul li{ width:80px;border:none}
.hb_bar_nav ul li ul li ul li a{color:#0774ac}
.hb_bar_nav ul li ul li ul li a:hover{color:#F60}
.hb_bar_nav_web{left:0;width:320px;height:220px}
.comm_em_red em{color:#ED1C24;font-weight:bold}
.hb_bar_nav_serv{ left:78px;width:120px;}
.hb_bar_nav_assis{ left:168px;width:120px;}
.hb_bar_nav_center{ left:246px;width:120px;}
.hb_bar_nav_serv li,.hb_bar_nav_assis li,.hb_bar_nav_center li{width:100%}

.hb_bar_serve {float:left;color:#0774ac} 
.hb_bar_serve a{color:#0774ac}
.hb_welcome{ color:#333; padding-right:36px}
.astop_bar_adf{width:340px;float:right}
.astop_bar_adf input{ margin:5px 4px 0 4px;float:right; vertical-align:text-bottom;}
.astop_bar_adf button{ float:right;_margin-top:2px;}
.astop_bar_adf label{ float:right;}
.astop_bar_adf button{border:none; background:none; width:54px; cursor:pointer; margin-left:6px;position:relative; top:5px;_top:1px;}
/* topbar end yinyong 'hb'*/
/* top */
.msb_top{background:url(http://img0.huanbao.com/huanbao/images/esite2/topbg_03.gif) no-repeat; height:140px;}
.msb_top_l{ float:left; width:160px; height:72px; padding:30px 27px 38px 30px;}
.msb_top_c{ float:left; width:504px; height:80px; overflow:hidden; padding-top:32px;}
.msb_top_c h1{ font:bold 30px '宋体'; color:#ff0;}
.msb_top_c p{ color:#fff; line-height:24px;}
.msb_top_r{ float:left;background:url(http://img0.huanbao.com/huanbao/images/esite2/topig_06.gif) no-repeat; width:217px; height:28px; border:1px solid #A1A2A2; font:14px '宋体'; margin:92px 0 0 10px;}
.msb_top_r span{ position:relative; bottom:2px;}
.msb_top_rs1{ margin-left:77px;}
.msb_top_rs2{ margin-left:16px;}
.rs2_year{ font:bold 24px '宋体'; color:#f00; margin-right:4px; margin-left:2px; position:relative; top:2px;}
/***public***/
/*body*/
body a:hover{color:#24A512;}
body button{ cursor:pointer;}
.fontw{ font-weight:bold;}
.lefe{ float:left;}
.right{ float:right;}
.mt8px{ margin-top:8px;}
.ti2em{ text-indent:2em;}
/* nav */ 
.nav-ul{ height:31px; background:url(http://img0.huanbao.com/huanbao/images/esite2/msb1_07.gif) repeat-x; border:1px solid #568C2C; border-radius:3px; margin-top:8px;}
.nav-ul li{ float:left; width:119px; font:bold 14px/31px '宋体'; text-align:center;}
.nav-ul li a{ display:block;color:#fff;}
.nav-ul li a:hover{ background-color:#B0FB52; color:#164800;}

/*location*/
.location{ font:12px/28px '宋体'; color:#666; position:relative;}
.location a{ color:#666;}
.location span{ position:absolute;}
.location span a{ color:#0774AC;}
/* mainblock */
.mk-sidebar{ width:246px; float:left;}
.mk-body{ width:704px; float:right;}
.panel{ border:1px solid #BFC1BF; position:relative;}
.panel-body{ padding:12px 9px 9px; font:12px/20px '宋体';_height:1%;}
.panel-body img{ border:1px solid #D8D9D8; padding:2px;}
.panel-body-p{ text-indent:2em; float:right;}
.panel h3{ font:bold 14px/27px '宋体'; border-bottom:2px solid #1D9A03; background:url(http://img0.huanbao.com/huanbao/images/esite2/msb06_19.gif) repeat-x;}
.panel h3 span{ position:absolute;font:12px '宋体'; color:#555;}
.panel h3 span a{ color:#555;}
.panel h3 span a:hover{color:#24A512;}
.panel h3 td{ width:122px; text-align:center; color:#fff; background:url(http://img0.huanbao.com/huanbao/images/esite2/msb1_24.gif) repeat-x; border:1px solid #1D9A03; border-bottom:none;}

.sb-list-ul li ul{ padding:6px 0 10px 38px;}
.sb-list-ul li ul li a{ color:#333;}
.sb-list-ul li h4{ font:bold 14px/30px '宋体'; color:#262626; background:url(http://img0.huanbao.com/huanbao/images/esite2/msb1_29.gif) no-repeat; text-indent:40px;}

.pb-lidl li{ float:left; padding:2px 0 6px 0;}
.pb-lidl li dl{ text-align:center;}
.pb-lidl li dl dd{ padding-top:6px;}

.pb-ultime li{ text-indent:16px; position:relative;_top:30px; background:url(http://img0.huanbao.com/huanbao/images/esite2/point_13.gif) no-repeat 6px 8px;}
.pb-ultime li span{ position:absolute; right:8px;}
.pb-ultime li a{ color:#555;}
.pb-ultime li a:hover{ color:#24A512;}

.pb-ulpage li{ border-bottom:1px solid #BBBBBB;}
.pb-ulpage li h4{ font:bold 14px/34px '宋体'; color:#0774ac;}
.pb-ulpage li p{ overflow:hidden;}
/***public end***/

.panel h3 .list-off{ color:#1D9A03; cursor:pointer; background:url(http://img0.huanbao.com/huanbao/images/esite2/msb11_03.gif) repeat-x; border:none;}
.list-on{cursor:pointer;}

.sb-search{ background:url(http://img0.huanbao.com/huanbao/images/esite2/msb1_22.gif) repeat-x; height:46px; border:1px solid #1D9509; border-radius:3px;}
.sb-search input{ height:26px; width:158px; border:none; border-top:1px solid #717171; margin:8px 0 0 10px;}
.sb-search button{ width:63px; height:27px; margin:8px 0 0 4px;}
/*mainblock end*/
/*footer*/
.msb_footer{ line-height:28px; border:1px solid #C7C9C7; padding-top:12px; margin:0 auto; margin-top:12px; background-color:#F4F5F5; text-align:center; color:#555;}
.msb_servnav a{ color:#555;}
.msb_ftp{ color:#B7B6B6; width:646px; margin:0 auto; border-top:1px dashed #D8DBD8; padding:8px 0px;}
/*footer end */

/*contact*/
.table_add{ width:678px; margin:20px 0; font:12px/30px '宋体'; color:#555;}
.table_add_tdl{ width:120px; text-align:center; font-weight:bold;}
.table_add_tdr{ text-indent:16px;}
/*list*/
.msb3_page{ padding:20px 90px;}
.msb3_page button{ border:none; background:none;}
.msb3_page button img{ width:33px; height:15px;  border:none; background:none; padding:0;}
.msb3_page input{ width:20px; }
.msb3_page table td{ padding:0 6px;}
.msb3_page a{ color:#555;}
.list_search{ background:url(http://img0.huanbao.com/huanbao/images/esite2/msb3b_03.gif) no-repeat; width:55px; height:21px; border:none; color:#fff;}
.list_input{ width:180px; height:18px; margin-right:4px;}
/*detail message*/
.msb_dmtb{ font:12px/36px '宋体'; margin-left:16px;}
.msb_dmtb tr{ border-bottom:1px dashed #999;}
/* honor */
.wd328pb12{width:334px;padding-bottom:12px;}
/*product show*/
.pshow_h4{ width:678px; font:14px/28px '宋体'; color:#262626; background-color:#eeefee; text-align:center; margin:6px 0 18px 0;}
.pshow_p p{ font:12px/32px '宋体'; border-bottom:1px dashed #e1e1e1;}
.gd_p{ height:60px;}
.pshow_p button{ background:url(http://img0.huanbao.com/huanbao/images/esite2/msb06_06.gif) no-repeat; font:14px/28px '宋体'; width:120px; height:28px; border:1px solid #C74802; border-radius:3px; cursor:pointer; margin-right:10px;}
.pshow_p table{ margin-top:12px;}
.msb_ditb{ font:12px/30px '宋体'; text-align:center; margin:15px 0 30px;}
.jytj_btn{ background:url(http://img0.huanbao.com/huanbao/images/esite2/msb6_03.gif) no-repeat; width:155px; height:29px; border:none; margin:15px 0 8px 4px;}
.jytj_tb{ margin:0px 6px; line-height:28px; color:#555;}
.xunjia_tb{ margin:0 0 0 50px;}
.xunjia_tb input{ width:444px;height:26px;}
.xunjia_tb textarea{ width:444px;height:184px;}
.xunjia_tb p{ font:12px/18px '宋体'; height:24px; color:#F27800; text-indent:16px;}
.xunjia_btn{ background:url(http://img0.huanbao.com/huanbao/images/esite2/msb06_23.gif) no-repeat; width:81px; height:24px; border:none; color:#fff; margin:20px 0 30px 300px;}
.collmess{ background:url(http://img0.huanbao.com/huanbao/images/esite2/msb06_09.gif) no-repeat 0px 5px; padding-left:18px;}
.collmess a{ color:#0774ac;}
.succ_time{ font:bold 14px/28px '宋体'; height:28px; background-color:#eeeeee;}
.st_span1{ margin-left:12px;}
.st_span2{ margin-left:458px;}
.suct_td{ width:540px; text-indent:24px;}
.suct_tab{ font:14px/35px '宋体';}
.suct_td a{ color:#555;}
.ul-point{ margin-top:12px;}
.ul-point li{ background:url(http://img0.huanbao.com/huanbao/images/esite2/point_13.gif) no-repeat 10px 16px; border-bottom:1px dashed #DFE0DE;}