<script type="text/javascript" src="#springUrl('/app/trade/tradesupply/bwList.js')" ></script>
<script type="text/javascript">
Ext.onReady(function(){
       var grid=new com.zz91.trade.bw.grid({
		id:BW.BWID,
		region:"center",
	});
	   
	var viewport=new Ext.Viewport({
		layout:"border",
		items:[grid]	
	});
});
</script>