<div class="wrap st1" style="height: 151px;overflow: hidden;">
    <div class="wt">
		<h3><a href="http://www.zz91.com/zt/zhuantimore62.html" target="_blank">展会回顾</a></h3>
    </div>
    <div class="wc">
		#cacheFragment("$!{address.fragment}/china/indexByCode.htm?code=10021001&size=6", "", "", "")
			<ul id="slid-zhhg"> ##class="img-hlist" style="height:130px;_height:130px;"
				#foreach($!index in $!list)
					<li style="text-align:center;width:105px;"> ##height:110px;
					<a href="$!{index.link}">
						<img src="$!{address.resource}$!{index.pic}" width="100" height="85" />
					</a>
					<a href="$!{index.link}">
						#printTitle($!{index.title} 7 " ")
					</a>
					</li>
				#end
			</ul>
		#end
		<script>
	    jQuery(document).ready(function(){
		    jQuery("#slid-zhhg").anythingSlider({
                theme: 'minimalist-square',
                resizeContents: false,
                showMultiple: 2,
                buildArrows: false,
                buildNavigation: false,
                buildStartStop: false,
                autoPlay: true
		    });
	    });
        </script>
    </div>
</div>