<div id="search_in_site" class="bodyCont moveChild" style="margin-bottom:7px;">
    <div class="clr"></div>
    <div class="rel fl zindex900">
        <div class="edit_left">
            <div class="editdiv">
                <a href="javascript:void(0);"  onmousedown="return aliclick(this,'?tracelog=dndiy_edit_zttp')"  class="editCtrl">
                    <img border="0" src="$!{address.images}/esite/edit.gif"/>
                </a>
            </div>
        </div>
    </div>
    <div class="rel fl size0 zindex999">
        <div class="editList editListLeft">
            <ul>
                <li onMouseOver="this.className='onHover';" onMouseOut="this.className='';">
                    <a href="#" class="moveUp block ml10px" onClick="Move.moveUp(this.parentNode.parentNode.parentNode.parentNode.parentNode,7);return false;" onFocus="this.blur()">上移板块</a>
                </li>
                <li onMouseOver="this.className='onHover';" onMouseOut="this.className='';">
                    <a href="#" class="movedown block ml10px" onClick="Move.moveDown(this.parentNode.parentNode.parentNode.parentNode.parentNode,7);return false;" onFocus="this.blur()">下移板块</a>
                </li>
                <li onMouseOver="this.className='onHover';" onMouseOut="this.className='';">
                    <a href="#" class="editTitle block ml10px" onClick="Move.editTitle(this.parentNode.parentNode.parentNode.parentNode.parentNode);return false;" onMouseDown="return aliclick(this,'?tracelog=dndiy_btn_edittitle')" onFocus="this.blur()">编辑标题</a>
                </li>
                <!--
                <li onMouseOver="this.className='onHover';" onMouseOut="this.className='';">
                <a href="#" class="editCont block ml10px" onclick='editContent("http://athena.china.alibaba.com/mysite/recommend_album_view.htm");' onMouseDown="return aliclick(this,'?tracelog=dndiy_btn_editcontent')" onFocus="this.blur();">编辑内容</a>
                </li>
                -->
                <li onMouseOver="this.className='onHover';" onMouseOut="this.className='';">
                    <a href="#" class="editStyle block ml10px" onClick="openDesignDiv('setStyleDetail','editModule','editTopicImg');" onMouseDown="return aliclick(this,'?tracelog=dndiy_btn_editstyle')" onFocus="this.blur()">编辑风格</a>
                </li>
                <li onMouseOver="this.className='onHover';" onMouseOut="this.className='';">
                    <a href="#" class="add block ml10px" onClick="Move.insert(this.parentNode.parentNode.parentNode.parentNode.parentNode,'edit_left');return false;" onFocus="this.blur()">插入板块</a>
                </li>
                <li onMouseOver="this.className='onHover';" onMouseOut="this.className='';">
                    <a href="#" class="del block ml10px" onClick=" Move.remove(this.parentNode.parentNode.parentNode.parentNode.parentNode);  return false;" onFocus="this.blur()">删除板块</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bodyContTitle">
        #set($navTitle="站内搜索")
        #foreach($sideBar in $!{sideBarConfig})
            #if(${sideBar.id} == "search_in_site")
                #set($navTitle=${sideBar.title})
            #end
        #end
        <span class="fl b titleLinkColor titleName"  onclick="Move.editTitle(this.parentNode.parentNode);">$!{navTitle}</span>
    </div>
    <div class="bodyContContent">
        <input class="ml10px" type="text" name="keywords_text_1" value="输入产品关键字" size="13" onFocus="javascript:funcFocus(this)" onKeyPress="javascript:funcEnter()" disabled=false />
        <input class="ml5" type="button" value="搜索" onMouseDown="return aliclick(this,'?tracelog=website_search')" onClick="javascript:funcSearch()" disabled="false" />
        <div class="clr"></div>
    </div>
</div>
