 <ul class="nav">
        <li #if($!{areaKey}==100110001018) class="cur" #end> 
		<a
			#if($!{keywords}) href="$!{address.map}/info-guangdong-$!{keywords}.htm"
			#else href="$!{address.map}/guangdong.htm" 
			#end
			>广东</a></li>
        <li #if($!{areaKey}==100110001010) class="cur"#end><a #if($!{keywords}) href="$!{address.map}/info-zhejiang-$!{keywords}.htm" #else href="$!{address.map}/zhejiang.htm" #end>浙江</a></li>
        <li #if($!{areaKey}==100110001014) class="cur" #end> <a #if($!{keywords}) href="$!{address.map}/info-shandong-$!{keywords}.htm" #else href="$!{address.map}/shandong.htm" #end>山东</a></li>
        <li #if($!{areaKey}==100110001009) class="cur" #end><a #if($!{keywords}) href="$!{address.map}/info-jiangsu-$!{keywords}.htm" #else href="$!{address.map}/jiangsu.htm" #end>江苏</a></li>
        <li #if($!{areaKey}==100110001000) class="cur" #end><a #if($!{keywords}) href="$!{address.map}/info-beijing-$!{keywords}.htm" #else href="$!{address.map}/beijing.htm" #end>北京</a></li>
        <li #if($!{areaKey}==100110001008) class="cur" #end><a #if($!{keywords}) href="$!{address.map}/info-shanghai-$!{keywords}.htm" #else href="$!{address.map}/shanghai.htm" #end>上海</a></li>
        <li #if($!{areaKey}==100110001001) class="cur" #end><a #if($!{keywords}) href="$!{address.map}/info-tianjin-$!{keywords}.htm" #else href="$!{address.map}/tianjin.htm" #end>天津</a></li>
        <li #if($!{areaKey}==100110001002) class="cur" #end><a #if($!{keywords}) href="$!{address.map}/info-hebei-$!{keywords}.htm" #else href="$!{address.map}/hebei.htm" #end>河北</a></li>
        <li #if($!{areaKey}==100110001015) class="cur" #end><a #if($!{keywords}) href="$!{address.map}/info-henan-$!{keywords}.htm" #else href="$!{address.map}/henan.htm" #end>河南</a></li>
        <li #if($!{areaKey}==100110001017) class="cur" #end><a #if($!{keywords}) href="$!{address.map}/info-hunan-$!{keywords}.htm" #else href="$!{address.map}/hunan.htm" #end>湖南</a></li>
    </ul>