<div class="grey_wrap">
    <div class="wrap_head">特色集散地</div>
    <div class="wrap_content">
        <dl class="place bdb">
            <dt>废金属</dt>
            <dd>
                <a href="http://company.zz91.com/company_list_g39_i10001001.htm">广东南海</a>
                <a href="http://company.zz91.com/company_list_g34_i10001001.htm">浙江永康</a>
                <a href="http://company.zz91.com/company_list_g33_i10001001.htm">河南长葛</a>
                <a href="http://company.zz91.com/company_list_g37_i10001001.htm">湖南泪罗</a>
                <a href="http://company.zz91.com/company_list_g36_i10001001.htm">宁波镇海</a>
                <a href="http://company.zz91.com/company_list_g35_i10001001.htm">台州峰江</a>
                <a href="http://company.zz91.com/company_list_g47_i10001001.htm">天津子牙</a>
                <a href="http://company.zz91.com/company_list_g38_i10001001.htm">山东临祈</a>
                <a href="http://company.zz91.com/company_list_g42_i10001001.htm">聊城金属城</a>
                <a href="http://company.zz91.com/company_list_g32_i10001001.htm">江苏太仓</a>
                <a href="http://company.zz91.com/company_list_g45_i10001001.htm">湖南郴州</a>
                <a href="http://company.zz91.com/company_list_g30_i10001001.htm">天津静海</a>
                <a href="http://company.zz91.com/company_list_g29_i10001001.htm">辽宁大石桥</a>
                <a href="http://company.zz91.com/company_list_g61_i10001001.htm">河北邢台</a>
                <a href="http://company.zz91.com/company_list_g48_i10001001.htm">安徽界首</a>
                <a href="http://company.zz91.com/company_list_g87_i10001001.htm">四川新津</a>
                <a href="http://company.zz91.com/company_list_g44_i10001001.htm">福建全通</a>
                <a href="http://company.zz91.com/company_list_g42_i10001001.htm">山东聊城</a>
            </dd>
        </dl>
        <dl class="place">
            <dt>废塑料</dt>
            <dd>
				<a href="$!{address.company}/company_list_g39_i10001000.htm" target="_blank">广东南海</a>
                <a href="$!{address.company}/company_list_g26_i10001000.htm" target="_blank">广东顺德</a>
                <a href="$!{address.company}/company_list_g83_i10001000.htm" target="_blank">汕头贵屿</a>
        		<a href="$!{address.company}/company_list_g20_i10001000.htm" target="_blank">山东临沂</a>
                <a href="$!{address.company}/company_list_g21_i10001000.htm" target="_blank">山东莱州</a>
                <a href="$!{address.company}/company_list_g63_i10001000.htm" target="_blank">浙江温州</a>
                <a href="$!{address.company}/company_list_g54_i10001000.htm" target="_blank">烟台龙口</a>
        		<a href="$!{address.company}/company_list_g15_i10001000.htm" target="_blank">浙江慈溪</a>
                <a href="$!{address.company}/company_list_g53_i10001000.htm" target="_blank">余姚塑料城</a>
                <a href="$!{address.company}/company_list_g13_i10001000.htm" target="_blank">浙江台州</a>
                <a href="$!{address.company}/company_list_g14_i10001000.htm" target="_blank">金华东阳</a>
        		<a href="$!{address.company}/company_list_g16_i10001000.htm" target="_blank">江苏徐州</a>
                <a href="$!{address.company}/company_list_g17_i10001000.htm" target="_blank">江苏兴化</a>
                <a href="$!{address.company}/company_list_g18_i10001000.htm" target="_blank">江苏太仓</a>
                <a href="$!{address.company}/company_list_g19_i10001000.htm" target="_blank">江苏宿迁</a>
                <a href="$!{address.company}/company_list_g11_i10001000.htm" target="_blank">河北文安</a>
                <a href="$!{address.company}/company_list_g6_i10001000.htm" target="_blank">河北定州</a>
                <a href="$!{address.company}/company_list_g82_i10001000.htm" target="_blank">湖南汨罗</a>
                <a href="$!{address.company}/company_list_g25_i10001000.htm" target="_blank">安徽五河县</a>
        		<a href="$!{address.company}/company_list_g22_i10001000.htm" target="_blank">河南安阳</a>
        		<a href="$!{address.company}/company_list_g23_i10001000.htm" target="_blank">河南长葛</a>
        		<a href="$!{address.company}/company_list_g24_i10001000.htm" target="_blank">河南漯河</a>
            </dd>
        </dl>
    </div>
</div>
