<div class="tip">
	#if($!{areaKey}=="100110001018") 
	广东<br/>
	废塑料<br/>
	汕头：潮阳区贵屿镇（很多做废塑料的）澄海区再生塑料市场（破碎料及颗较多，PC及PP为主，因为澄海本身就是玩具城，对这方面的需求较大）<br/>
	佛山：顺德区杏坛镇，世界目前最大的进口废塑料集散地（本地人自己经营，主要以造粒为主，造粒者规模都较大，常用的再生料都有）<br/>
	深圳：观兰镇福民工业区（上百家）<br/>
	惠州：类似仓库（很多进口来的再生料都在这里寄仓，买家直接到这里提货，种类很齐全）揭阳：揭东县炮台镇（经营者比较分散，但到处可见，经营的再生料档次较低，主要有PP、LDPE、LLPE）<br/>
	东莞：漳木头塑料市场（主要经营颗粒，品种齐全，市场规模较大）<br/>
	中山：废旧塑料回收<br/>
	废金属<br/>
	江门：将建设5座规模化废旧物资分拣集散加工中心<br/>
	佛山：南海大沥镇（废旧金属回收１７００多家）澜石国际金属交易中心（不锈钢市场）<br/>
	园区<br/>
	清远：中国清远再生资源示范基地，主要集中在龙塘、石角两镇，已成为全国最大的废<br/>
	旧金属拆解基地和再生资源集散。<br/>
	肇庆：肇庆市亚洲金属资源再生工业基地<br/>
	吴川：吴川环保再生资源产业园<br/>
	佛山：南海区大沥镇联滘工业园<br/>
	#end
	#if($!{areaKey}=="100110001010") 
	浙江<br/>
	废塑料<br/>
	宁波：慈溪桥头镇(废塑料市场)，宗汉（１０００多家），历山（ＰＢＴ回料），石堰	（PVC回料），师桥（少量），横河（少量）余姚塑料城，周巷（５００多家），泗门（几百家） 台州：路桥区新桥镇(周边几百家)路桥化工市场(４０多家)<br/>
	温州：瑞安（５００家）丁田镇(大慨三四百家)乐清市柳市镇(很多规模都很小)<br/>
	绍兴：镜湖新区灵芝镇(有几百家)<br/>
	金华：东阳画溪镇(１０００多家，以ＰＶＣ为主)浦江县（两三百家，以ＰＰ、ＰＥ为主）废金属<br/>
	金华：永康芝英镇废旧金属材料市场<br/>
	丽水：仙居县(国内最大的白银集散地)<br/>
	嘉兴：秀洲区王江泾镇栋梁村不锈钢交易市场<br/>
	绍兴：永宁废旧金属交易，废旧金属物资交易集散中心<br/>
	温州：乐清柳市镇<br/>
	镇海：废金属拆解、贸易为主<br/>
	台州：废金属拆解，品种有铜、铝、不锈钢、矽钢片等<br/>
	园区：永康再生资源工业园区 、锋江台州再生金属园区 、宁波镇海再生资源加工园（废金属）<br/>
	#end
	#if($!{areaKey}=="100110001014") 
	山东<br/>
	废塑料<br/>
	济南：章丘党家镇西沟头村（山东第二大废塑料市场）、章丘白云湖镇(百来家)<br/>
	聊城：东昌府区郑家（很多）<br/>
	临沂：临沂塑料市场（位于北园路中段南北两侧）、沂南县辛集镇(周边很多)<br/>
	烟台：莱州路旺镇孙家村（路旺塑料市场）<br/>
	莱州：沙河镇傅王村（几百家）<br/>
	青岛：平度市明村镇(二十来家)<br/>
	废金属<br/>
	潍坊：东邢、西牟、刘家庄、草庙社区的四个废旧物资回收市场<br/>
	临沂：华东有色金属交易城（７００多家）<br/>
	园区<br/>
	河东区临沂循环经济产业基地<br/>
	烟台再生资源加工园区<br/>
	#end
	#if($!{areaKey}=="100110001009") 
		江苏<br/>
	废塑料<br/>
	兴化市：高垛村<br/>
	苏州市：北桥镇（上千家）浒墅关运河村望亭镇<br/>
	宿迁：耿车镇（三四千家，以PP、PE、PVC为主）启东：吕四镇<br/>
	苏州：苏州市工业园区车坊金园开发区、相城区北桥镇（１０００家左右）、浒关镇运河村 常州：常州小河塑料市场<br/>
	盐城：工程塑料、ABS<br/>
	废金属<br/>
	兴化：戴南镇（全国最大的不锈钢废料集散地）、南京铁心桥地区南京雨南废旧金属市场<br/>
	吴江：七都<br/>
	扬州：扬州市废旧金属物资交易市场<br/>
	园区<br/>
	太仓再生资源进口加工园区<br/>
	江苏邳州再生铅循环经济示范区（国内首个）<br/>
	张家港进口废汽车压件拆解加工试点园区<br/>
	兴化市资源再生园：华东最大的塑料垃圾处理中心<br/>
	#end
	#if($!{areaKey}=="100110001000") 
		北京市场。<br/>
	#end
	#if($!{areaKey}=="100110001008") 
		上海：<br/>
	每年都有大量废旧物资通过上海港运往长三角及周边地区，上海市长江路和温川废塑料仓库比较集中。<br/>
	废塑料<br/>
	长江西路和温川路废塑料仓库比较集中<br/>
	废金属<br/>
	上海宝山等周边地区<br/>
	#end
	#if($!{areaKey}=="100110001001") 
		天津:<br/>
	废塑料<br/>
	静海县大丰堆镇<br/>
	废金属<br/>
	天津市静海县子牙镇<br/>
	园区<br/>
	天津子牙环保产业园<br/>
	#end
	#if($!{areaKey}=="100110001002") 
		河北<br/>
	废塑料<br/>
	廊坊：文安县尹村文安废塑料市场（较大的废塑料市场）、文安县霸州文安县东营村（一些小型加工厂）唐山：丰润区沙流河镇玉田（分布在各个村庄）<br/>
	石家庄：10个废旧物资市场、10个废钢铁集散中心正定县树路村（全村大部分做这一行）<br/>
	保定：顺平县高于铺塑料交易市场（北方最大的废旧塑料交易市场）、定州市周村大吴村<br/>
	废料市场（山东第二大废料市场）、雄县龙湾乡、望都<br/>
	废金属<br/>
	保定：安新西淀（半个镇一两百家）<br/>
	邢台：废旧钢材市场<br/>
	望都：废旧钢铁、铜合金、进口与加工<br/>
	园区<br/>
	文安东都再生资源环保产业基地<br/>
	#end
	#if($!{areaKey}=="100110001015") 
		河南<br/>
	废塑料<br/>
	安阳：废塑料加工集散地<br/>
	漯河：废塑料加工集散地<br/>
	废金属<br/>
	长葛：大周镇，四大市场，即中原有色金属交易市场、中州铝型材市场、河南不锈钢市场<br/>
	和大周金属炉料市场。<br/>
	郑州市:上街区电子废弃物回收基地。<br/>
	#end
	#if($!{areaKey}=="100110001017")
		湖南<br/>
	废塑料<br/>
	湖南汨罗（新市镇）<br/>
	株洲<br/>
	废金属<br/>
	团山：团山金属再生资源大市场<br/>
	安化：安化（全国三大钨钴钼废料等有色金属集散地之一）<br/>
	永兴县：永兴县回收白银<br/>
	园区<br/>
	株洲：长株潭再生资源中心<br/>
	郴州：永兴县郴州有色金属产业园区<br/>
	永州：湖南省永州铜业循环经济工业园<br/>
	#end
</div>