#set($layout='/layout/default.vm')
<link rel="stylesheet" href="http://img0.zz91.com/trade/priceindex/css/deal.css" />
<link rel="stylesheet" href="http://img0.zz91.com/trade/capital/css/moneyMg.css" />
#parse("/common/menu.vm")
<div class="content clearfix">
    <div class="chuli-main">
        <div class="chuli-time">
            <i class="chuli-time-tb"></i>
				<p class="txts">提现申请已提交，等待处理</p>
        </div>
        <div class="chuli-tell">为了您的资金安全，我们的工作人员会在两个工作日内联系您核实并安排提现</div>
            <div class="chuli-next">
            <a href="index.htm" class="blue">继续提现</a> |
            <a href="index.htm" class="blue">返回资金管理</a>
        </div>
    </div>
</div>