/* hb.hack.css*/
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
textarea{resize:none}
* { margin: 0; padding: 0; }
fieldset, img { border: 0; }
a{text-decration:none;}
/* remember to define focus styles! */
:focus { outline: 0; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: normal; font-weight: normal; }
h1, h2, h3, h4, h5, h6 { }
abbr, acronym { border: 0; font-variant: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
code, kbd, samp, tt { font-size: 100%; }
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select {  *font-size:100%;
}
body { font-size:12px; font-family: "宋体", Arial, Helvetica, sans-serif; color:#303030; }
ol, ul, li { list-style: none; }
img { border:none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
caption, th { text-align: left; }
sup, sub { font-size: 100%; vertical-align: baseline; }
/* remember to highlight anchors and inserts somehow! */
:link, :visited, ins { text-decoration: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
#clear, .clear {clear: both;}
/***htm5 tags display block***/
header,nav,article,section,aside,footer,figure{display:block}

/* hb.common.css*/
body{ background-color:#FFF }
body a{ color:#27272C}
body a:hover{ color:#24A512;text-decoration:none}  
/**** top bar******/
.hb_bar{height:30px;line-height:30px;background-image:url(../images/header/hb_bar_bg.gif)}
.hb_bar_contn{width:958px;margin:0 auto;}
.hb_bar_nav{float:left;padding-right:20px; position:relative;z-index:999;left:200px}
.hb_bar_nav ul li,.hb_bar_serve ul li{ float:left;padding-left:12px}
.hb_bar_nav ul li{ border: 1px solid #FBFBFB; border-bottom-color:#F5F5F5; height:24px; line-height:20px;  background:url(../images/header/asto_baricon.gif) right -64px no-repeat;  padding:0 16px 0 12px;padding-right:16px;margin-top:3px}
.hb_bar_nav ul li.ishover{ background-position:right -94px; background-color:#FFF; border-color:#E7E7E7; border-bottom-color:#FFF;border-radius:3px 3px 0 0 ; -webkit-border-radius:3px 3px 0 0 ; -moz-border-radius:3px 3px 0 0 ;}
.hb_bar_nav ul li ul{ background:#FFF; border:1px solid #E7E7E7; border-top:none;border-top-color:#FFF; position:absolute; top:29px; display:none;border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px; -moz-border-radius:0 0 3px 3px}
.hb_bar_nav ul li ul li{ padding:0; border:none; background-image:none; background-color:#FFF; text-indent:1em}
.hb_bar_nav ul li ul li a{ display:block; height:24px; line-height:24px}
.hb_bar_nav ul li ul li a:hover{ background-color:#E7E7E7;color:#F60}
.hb_bar_nav ul li ul li ul{ display:block;position:static;border:none;border-radius:0}
.hb_bar_nav ul li ul li ul li{ width:80px;border:none}
.hb_bar_nav ul li ul li ul li a{color:#0774ac}
.hb_bar_nav ul li ul li ul li a:hover{color:#F60}
.hb_bar_nav_web{left:0;width:320px;height:220px}
.comm_em_red em{color:#ED1C24;font-weight:bold}
.hb_bar_nav_serv{ left:78px;width:120px;}
.hb_bar_nav_assis{ left:168px;width:120px;}
.hb_bar_nav_center{ left:246px;width:120px;}
.hb_bar_nav_serv li,.hb_bar_nav_assis li,.hb_bar_nav_center li{width:100%}

.hb_bar_serve {float:left;color:#0774ac} 
.hb_bar_serve a{color:#0774ac}
.hb_welcome{ color:#333; padding-right:36px}
.astop_bar_adf{width:70px;float:right}
a.addfavoritesbtn{ display:block;padding-left:20px; background:url(../images/header/asto_baricon.gif)  left top no-repeat; display:block; width:52px; height:30px}
a.addfavoritesbtn:hover{ background-position:left -30px}  
   
/**** header******/
.header{width:958px;margin:0 auto}

.hb_masthead{width:958px;height:103px;margin:18px auto; position:relative}
.hb_logo{position:absolute;width:348px;height:103px;
}
.hb_webh1{ position:absolute;left:-10000px}
.hb_search{position:absolute;width:588px;height:103px;left:370px; z-index:99}
.hb_searchlist{width:588px;height:30px;}
.hb_serchlist_ul{position:absolute;width:340px;height:38px;z-index:4;padding-left:32px}
.isSelectTip{ display:block;height:8px;width:30px;background:url(../images/header/hb_srhyes.gif) left bottom no-repeat;left:40px;top:30px;_top:26px; position:absolute}

.hb_serchlist_ul li{height:38px;line-height:38px;float:left;display:block;width:48px;color:#999;text-align:center;cursor:pointer}
.hb_serchlist_ul li.srhyes{color:#464646;font-weight:bold;cursor:default}
.search_hot{display:block;position:absolute;right:12px;padding-left:20px;width:72px;height:30px; background:url(../images/global/hb_arrange.gif) left center no-repeat;line-height:30px;}
.search_btn a{color:#5a5a5a;}
.hb_search_label{position:absolute;left:6px;top:36px;color:#9e9e9e;width:475px; height:34px; font:normal 14px/34px "宋体"; text-indent:32px; background:url(../images/header/hb_magnifier.gif) 4px 6px no-repeat;z-index:3}
.hb_searcharea{width:588px;height:44px;background:url(../images/header/hb_search.gif) left top no-repeat}
.hb_search_text{position:absolute;left:6px;top:38px;width:456px; height:28px; font:normal 14px/28px 'Microsoft Yahei' "宋体";border:none;_border:0;z-index:2;padding:0px 8px 0px 8px;color:#464646;}

.hb_search_sub,.hb_search_sub_hover{position:absolute;width:102px;color:#606060;border:none;cursor:pointer; font: bold 16px/34px '宋体';height:34px; left:480px;top:35px; background:url(../images/header/hb_search.gif) -480px -5px no-repeat}
.hb_search_sub_hover{ background-position:-480px -49px;color:#464646}

.hb_keywords{width:500px;height:15px;border:solid 1px red;color:#0774ac;}
.hb_search_hotkey{color:#0774ac;float:left;height:24px; line-height:24px;margin-left:12px}
.hb_search_hotkey_t{ width:80px; float:left}
.hb_search_hotkey a{padding-right:12px;color:#0774ac;float:left;}
.hb_nav{position:relative;width:958px;height:62px;margin:0 auto;background:url(../images/header/hb_nav.gif) no-repeat}

.hb_nav_top{width:583px;height:30px;margin:0px 0px 0px 4px;}
ul.nav_top_ul{ padding-left:2px;}
.nav_top_ul li{display:block;float:left;height:34px;}
.nav_top_ul a{display:block;width:95px;line-height:32px;padding-top:2px;text-decoration:none;text-align:center;font-size:14px;font-weight:bold;color:#464646}

a.curtchnl{ background:url(../images/header/hb_nav.gif) -863px -63px no-repeat; color:#FFF;font-weight:bold;}
a.curtchnl:hover{ cursor:default;color:#FFF}

.hb_nav_notice{position:absolute;width:280px;height:20px;top:12px;left:658px;} 
.hb_nav_notice a {color:#8a5800}

.hb_nav_content{width:910px;height:28px}
.hb_nav_content ul{ float:left; text-indent:2em}
.hb_nav_content ul li{float:left;color:#FFF;font: normal  12px/28px '宋体'}
.hb_nav_content ul li a{ color:#469906}
.hb_nav_content ul li a:hover{color:#464646}

/**regist header**/
.regheader{ padding:12px 0}
.reg_sitename{ position:absolute; left:-10000px}
.reglogo{ width:500px; float:left}
.reg_logoimg{ float:left}
.hbreg{ font:normal bold 30px/50px 'Microsoft YaHei' '黑体'; float:left; color:#969696}
.regserv{ width:300px; float:right; line-height:18px; text-align:right;padding:20px 10px 0 0;}
.regtipls{ line-height:18px;}
.regproposal{ padding-left:18px; background:url(../images/header/reg_03.gif) left 2px no-repeat}
.backwww{ color:#f60}


/**** trade list  header******/
.hb_tradelst_header{ width:958px;  height:138px; margin:0 auto; position:relative}
.hb_tradelst_logo{ width: 180px; height:70px; position:absolute; left:0; top:12px }
.hb_tradelst_search{  width:958px; height:81px; background:url(../images/header/hb_tradelist_03.gif) left top no-repeat;position:absolute; left:0; top:56px}
.hb_tradelst_srhtype{ width:712px; height:35px; line-height:35px;padding-left:246px; }
.hb_tradelst_srhtype li{ width:77px; background:url(../images/header/hb_tradelist_03.gif) right -89px no-repeat;float:left; text-align:center; font:normal bold 14px/35px '宋体';color:#5C5C5C}
.hb_tradelst_srhtype li.hb_tradelst_selected{ background-position:left -81px;color:#FFF}
.hb_tradelst_srhform{ width:958px; height:46px}
.hb_tradelst_srhform label{width:372px;height:28px;line-height:28px;position:absolute;left:234px;top:46px;z-index:10;padding-left:24px;font-size:13px;color:#5C5C5C}
.hb_tradelst_search_ipt{  width:370px; height:26px; line-height:26px;position:absolute; left:260px; top:46px; border:none;_border:0; z-index:9}
.hb_tradelst_search_btn{ width:93px; height:26px; background:none;position:absolute; left:630px; top:46px; border:none; cursor:pointer; color:#FFF; font:normal bold 14px/26px '宋体'}
/*********leader*************/
.hb_leader_tit{float:left}
.hb_leader_tip{float:right}

/**** footer******/	
.hb_footer,.hb_company_footer{ position:relative;line-height:28px; border-top:2px solid #1fa210; padding-top:12px; margin:0 auto; margin-top:12px; width:958px; text-align:center}
.hb_footer .hb_footer_pt{margin-left:190px;*margin-left:-80px;_margin-left:-80px;width:500px}
.foot_img{position:absolute;display:block;width:71px;height:22px;right:200px;top:40px}
.hb_company_footer{border-top:5px solid #0761ae }

/********* common style ********/
.hb_mainblock{width:958px;margin:0 auto}
.hb_positionleader{ line-height:30px; width:934px; margin:0 auto; padding:0 12px;}

/*line-height:24px*/
.liststyleblack,.liststyleblack li{ background:url(../images/global/hb_listblack.gif) left 11px no-repeat}
.liststyleorange,.liststyleorange li{ background:url(../images/global/hb_listorange.gif) left 11px no-repeat}
.liststyleblue,.liststyleblue li{ background:url(../images/global/hb_listblue.gif) left 11px no-repeat}
.liststylegray,.liststylegray li{ background:url(../images/global/hb_listgray.gif) left 11px no-repeat}
/*line-height:28px*/
.liststyleblackH,.liststyleblackH li{ background:url(../images/global/hb_listblack.gif) left 13px no-repeat}
.liststyleorangeH,.liststyleorangeH li{ background:url(../images/global/hb_listorange.gif) left 13px no-repeat}
 
 
.floatleft{ float:left}
.floatright{ float:right}
 
.borderwhitegray{ border:1px solid #c3c8b8}
.bordergrey{border:1px solid  #a8a8a8}
.noborder{ border:none; _border:0}
.borderlightgreen{ border:solid 1px #c7dcbd}
.bordergreen{border:solid 1px #28a713}

.borderblue-bottom{border-bottom:3px solid #0761ae}
.borderlightgreen-btm{ border-bottom:solid 1px #c7dcbd}
.libordergreybtm{border-bottom:dashed 1px #eaebec}
.borderblue-top{border-top:1px solid #0761ae}
.borderlightblue{border:1px solid #6bb5ea}
.backgroundgrey{background:#ededed}
.backgroundgreen{background:#e8f5e1}
.backgroundwhite{background:#fff}

.fontorange{color:#f27800}
.fontblue{color:#0074ac}
.fontbrown{color:#8a5800}
.fontbold{ font-weight:bold}
.fontnormal{ font-weight:normal}
.fontgrey{color:#908f8f}
.bordergery{color:#dddddd}
.borderblack{color:#776060}
.fontredorange{color:#c00}
.fontred{color:#f00}
.fontgreen{color:#055a03}
.fontlightgreen{color:#0d7201}
.fontbtnbg{color:#773904}
.font555{color:#555555}
.fontwhite{color:#fff}
.a_fontred{color:#f00; text-decoration:underline;}


.letterspaceing1{ letter-spacing:1em;_padding-right:1px}
.letterspaceing2{ letter-spacing:2em;_padding-right:1px}

.margintop8{ margin-top:8px}
.margintop16{ margin-top:16px }

.marginbottom8{ margin-bottom:8px}
.marginbtm16{ margin-bottom:16px }

.marginleft8{ margin-left:8px}
.marginleft16{ margin-left:16px}
.marginleft20{ margin-left:20px}
.marginleft22{ margin-left:22px}

.marginright8{ margin-right:8px}
.marginright16{ margin-right:16px}

.margin8{ margin:8px }
.margin16{margin:16px}
.marginlr8{margin:0px 8px}
.marginlr16{margin:0px 16px 8px}
.margintb8{margin:8px 0px}

.paddingleft14{ padding-left:14px}
.paddingleft20{ padding-left:20px}

.padding8{ padding:8px }
.padding16{ padding:16px }
.paddingbtm8{ padding-bottom:8px }
.paddingleft8{ padding-left:8px }
.paddingright2em{ padding-right:2em}
.paddingright1em{padding-right:1em}
.paddingright05em{padding-right:0.5em}

.arginauto{margin:auto}

.ie6heighthacker{height:1%}

.txtcenter{ text-align:center}
.txtright{ text-align:right}
.txtleft{ text-align:left}
.txtindent{text-indent:2em}

.html5radius{ border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px}
.displaynone{ display:none}

h1.tit{ font-size:16px}
h2.tit{ font-size:14px}
h3.tit{ font-size:14px}
h4.tit{ font-size:12px}
h5.tit{ font-size:12px}
h6.tit{ font-size:12px}

h1.titnormal{ font-size:12px}
h2.titnormal{ font-size:12px}
h3.titnormal{ font-size:12px}
h4.titnormal{ font-size:12px}
h5.titnormal{ font-size:12px}
h6.titnormal{ font-size:12px}

.font28{font-size:28px}
.font24{font-size:24px}
.font20{font-size:20px}
.font16{font-size:16px}
.font14{font-size:14px}
.font13{font-size:13px}
/**content block width**/
.contblock_218{ width:218px}
.contblock_252{ width:252px}
.contblock_250{ width:250px}
.contblock_298{ width:298px}
.contblock_300{ width:300px}
.contblock_390{ width:390px}
.contblock_470{ width:468px}
.contblock_698{ width:698px}
.contblock_345{ width:343px}
.contblock_312{ width:312px}

/***404error style*****/
.hb-notice{font:bold 15px/22px '宋体';color:#333333}
.hb-notice-conts p{line-height:24px;font-size:14px;color:#333333}
.hb-notice-conts p a{color:#396}
.hb-notice-conts p a:hover{color:#6C6;border-bottom:solid 1px #6c6}

/**float message**/
.notice_box{position:fixed;border:solid 1px #FFF1A8;padding:4px;background:#FFF1A8;margin-left:580px;border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px;z-index:2000;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop))}

/*****p ellipsis style*****/
.p_ellipsis {word-wrap:break-word;overflow:hidden;text-overflow:ellipsis}

/* 放假通知 start */
.hb_fjtz_p{ background:url(../images/header/fjtz.jpg) no-repeat; height:71px; width:958px; margin:0 auto; position:relative; font:12px; font-family:"宋体";}
.hb_fjtz_p p{ position:absolute; line-height:16px;  left:110px; top:10px; width:780px;}
.hb_fjtz_p span{ position:absolute; right:26px; top:30px;}
.hb_fjtz_p em{color:#BB1405; font-weight:bold;}
/* 放假通知 end */
