#set( $layout = "/layout/esiteLayout.vm" )
<div id="content2" class="bodyRight filter filterDom">
	#foreach($mainConfigList in $!{mainConfig})
		#if($!{mainConfigList.id}!="")
			#parse("/myrc/esite/main/$!{mainConfigList.id}.vm")
		#else
            <div id="emptyDiv_main_${velocityCount}">
            <script type="text/javascript">
            	Move.insert(document.getElementById("emptyDiv_main_${velocityCount}"),'edit_right');
            </script>
            </div>
		#end
	#end
	
	#*
	#if($!{mainListSize}>0)
    	#foreach($!{mainList} in $!{mainList})
    		#if($!{mainList.id.length()}>0)
    			#parse("/myrc/esite/main/$!{mainList.id}.vm")
    		#else
    			#parse("/myrc/esite/main/company_index.vm")
    		#end
    	#end
	#else
		#parse("/myrc/esite/main/company_index.vm")
	#end
	*#
</div>