<link rel="shortcut icon" href="$!{address.img}/front/favicon.ico">
<!--import common css-->
<link rel="stylesheet" type="text/css" href="$!{address.img}/front/css/zz91.base.css"/>
<link type="text/css" rel="stylesheet" href="$!{address.img}/zz91/css/zz91.common.css">
<link rel="stylesheet" type="text/css" href="$!{address.img}/zz91/2014price/css/2014price.css"/>

##http://img0.zz91.com/front/css/zz91.price.css

<!--import common js-->
<script src="$!{address.img}/lib/jquery/jquery-1.6.2.min.js"></script>
<script src="$!{address.img}/lib/asto/asto-all-1.0.0.js"></script>
<script type="text/javascript" src="$!{address.js}/zz91.common.js"></script>
<script src="$!{address.img}/zz91/2014price/js/2014price.js"></script>

