@charset "utf-8";
/* CSS Document */
html{color:#2c2c2c; font-size:12px;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,pre,code,p,th,td,form,img{margin:0; padding:0; border:none; font-family:"宋体";}
input,select{margin:0; padding:0;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul,li{list-style:none;}
.twodody5{width:1421px; height:500px; margin:0 auto;}
.twodody4{width:1421px; height:400px; margin:0 auto;}