<script type="text/javascript">
	jQuery(document).ready(function(){
		#if($js)
			$!{js}
		#end

		jQuery("#codeImg").click(function(){
    		$(this).attr("src", "$!{address.china}/validationcode/vcode.htm?"+new Date());
    	});
		
		$("#codeImg").attr("src", "$!{address.china}/validationcode/vcode.htm?"+new Date()); 
		
	});
</script>