#set( $layout = "/layout/myrcLayout.vm" )
<table width="100%" border="0" cellspacing="10" cellpadding="0">
<tbody>
    <tr>
      <td valign="top">
	  <!--begin-->
	  <form id="form2" name="form2" method="post" action="#springUrl('/mymessage/sendMessage.htm')" onsubmit="return subsrt(this)">
          <script>
    	  function subsrt(frm)
    	  {
    	  	if (frm.content.value=="")
    		{
    			alert("请输入留言内容");
    			return false;
    		}
    	  }
    	  </script>
    	  <div>
    		<a href="javascript:history.back(1)">
    			<img src="$!{address.images}/company/bot2.gif" width="66" height="24" border="0"></a>
    	  </div>
    	  <div class="officetitle">给“$!{company.name}”公司留言</div>
    	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
    			<tr>
                  <td height="50" align="left">
    				<table width="100%" border="0" cellspacing="0" cellpadding="2" class="productskuang">
                    <tbody>
						<tr>
							<td width="150" height="30" align="right">标题：</td>
							<td>
                               <input type="text" name="title" id="title">
                               <input name="senderId" type="hidden" id="senderId" value="$!{sender.id}">
								<input name="receiverId" type="hidden" id="receiverId" value="$!{receiver.id}">
							</td>
                    	</tr>
                        <tr>
							<td height="30" align="right">内容：</td>
							<td><textarea name="content" id="content" cols="45" rows="10"></textarea></td>
                        </tr>
                        <tr>
							<td height="30" align="right">&nbsp;</td>
							<td><input name="button" type="submit" class="buttonbg" id="button" value="提交"></td>
                    	</tr>
                  	</tbody>
    				</table>
				  </td>
            	</tr>
          	</tbody>
    	  </table>
	  </form>
	  <!--end-->
	  </td>
    </tr>
</tbody>
</table>