<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>$!{pageTitle}</title>
	<meta name="keywords" content="$!{pageKeywords}" />
	<meta name="description" content="$!{pageDescription}" />
	<link rel="shortcut icon" href="$!{address.images}/logo/favicon.ico">
	<link type="text/css" rel="stylesheet" href="$!{address.css}/zz91.hack.css" />
	<link type="text/css" rel="stylesheet" href="$!{address.css}/zz91.comm.css" />
	<link type="text/css" rel="stylesheet" href="$!{address.css}/zz91.exhibit.css">
	<script type="text/javascript" src="$!{address.js}/lib/jquery/jquery_lib/jquery-1.4.3.js"></script>
	<script type="text/javascript" src="$!{address.js}/topbar/jquery.topbar.js"></script>
	<script type="text/javascript" src="$!{address.js}/zz91.common.js"></script>
	<script type="text/javascript" src="$!{address.js}/zz91.exhibit.js"></script>
	#parse("/common/context.vm")
	#parse("/seo/analysis_head.vm")
</head>
<body>
    <div id="fl_ltop" style="right:0;top:400;position:absolute;display:none;">
    	<a href="javascript:void(0)" onClick="showAd();return false;">
    		<img src="$!{address.images}/root/replay.jpg" />
    	</a>
    </div>
	#cacheFragment("$!{address.fragment}/china/topbar.htm","","","")
		<div id="topBar">
            <div id="topBarInfo">
        		<div id="topBarLogin">
                <iframe src="$!{address.front}/status.htm" frameborder="0" width="450" height="28" allowTransparency="true" scrolling="no"></iframe>
                </div>
        		$!{fragmentContext}
            </div>
        </div>
	#end
	#cacheFragment("$!{address.fragment}/china/header.htm?ik=index","","","")
		$!{fragmentContext}
	#end
	$screen_content
	#cacheFragment("$!{address.fragment}/china/footer.htm","","","")
    	$!{fragmentContext}
    #end
	#parse("/seo/analysis_body.vm")
</body>
</html>
#parse("/seo/analysis_foot.vm")
