#set($layout="/layout/securityDefault.vm")
#set($in="2")
  <link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
  <link rel="stylesheet" href="http://img0.zz91.com/trade/comm/comm.css" />
  <link rel="stylesheet" href="http://img0.zz91.com/trade/information/css/infoment.css" />
  <script type="text/javascript" src="http://img0.taozaisheng.com/trade/comm/jquery-form.js"></script>
 <!--[if IE 6]> 
        <script src="http://img0.zz91.com/trade/comm/clarity.js"></script> 
        <script type="text/javascript">  
        DD_belatedPNG.fix('img');
        DD_belatedPNG.fix('.foot-sq-img a');
        DD_belatedPNG.fix('i');
        </script>  
    <![endif]-->
    <div class="content clearfix">
       #parse("/common/left_1.vm")
        <div class="ads-main fr">
            <div class="add-ads">
                <div class="add-warn">
                    <span>如实填写以下信息，网站核实后，将被标记“个体认证”，并排序优先。 该信息只用于网站认证，将不会用于其他途径或泄露给第三方。</span>
                </div>
                <div class="add-form one-true">
					<form action="" method="post" id="form1">
                    <ul class="form-list">
                        <li class="clearfix">
                            <div class="form-title"><span>公司名称：</span></div>
                            <input class="one-true-info" name="companyName" id="companyName" value="$!{one.companyName}"/><span style="color:red" id="errcompanyName"></span>
                        </li>
                        <li class="clearfix">
                            <div class="form-title"><span>公司地址：</span></div>
                            <input class="one-true-info" name="companyAddress" id="companyAddress" value="$!{one.companyAddress}"/><span style="color:red" id="errcompanyAddress"></span>
                        </li>
##                        <li class="clearfix">
##                            <div class="form-title"><span>注册地址：</span></div>
##                            <input class="one-true-info" name="regitAddress" id="regitAddress" value="$!{one.regitAddress}"/><span style="color:red" id="errregitAddress"></span>
##                        </li>
                        <li class="clearfix">
                            <div class="form-title"><span>身份证号：</span></div>
                            <input class="one-true-info one-my-id" name="idCard" id="idCard" value="$!{one.idCard}"/><span style="color:red" id="erridCard"></span>
                        </li>
                        <li class="clearfix">
                            <div class="form-title"><span>联系人：</span></div>
                            <input class="one-true-info one-callnum" name="name" id="name" value="$!{one.name}"/><span style="color:red" id="errname"></span>
                            <label class="sex-opt" ><input name="sex" onclick="fun(0)" id="nan" type="radio" value="" checked="true" />先生 </label>
                            <label class="sex-opt" ><input name="sex" onclick="fun(1)" id="nv" type="radio" value="" />女士 </label> 
							<input type="hidden" value="0" id="maxsex"  name="maxsex" value="$!{one.one.maxsex}"/>
                        </li>
                        <li class="clearfix">
                            <div class="form-title"><span>电话：</span></div>
                            <input class="tele-nifo" name="code" id="code" value="$!{one.code}"/> - 
                            <input class="tele-nifo" name="phone" id="phone" value="$!{one.phone}"/> -
                            <input class="tele-nifo tele-nifo-last" name="codePhone" id="codePhone" value="$!{one.codePhone}"/><span style="color:red" id="errcodePhone"></span>
                            <div class="phone-ts">例如：86 - 0571 - 56612345</div>
                        </li>
                        <li class="clearfix">
                            <div class="form-title"><span>手机号码：</span></div>
                            <input class="form-info" name="mobile"  id="mobile" value="$!{one.mobile}"/><span style="color:red" id="errmobile"></span>
                        </li>
                        <li class="clearfix">
                            <div class="form-title"><span>主营业务：</span></div>
                            <input class="one-true-info" name="operation" id="operation" value="$!{one.operation}"/><span style="color:red" id="erroperation"></span>
                        </li>
                        <li class="clearfix">
                            <div class="form-title"><span>服务类型：</span></div>
                            <input class="one-true-info" name="serviceType" id="serviceType" value="$!{one.serviceType}"/><span style="color:red" id="errserviceType"></span>
                        </li>
                        <li class="clearfix">
                            <div class="form-title"><span>经营范围：</span></div>
                            <textarea class="one-txea" name="business" id="business">$!{one.business}</textarea><span style="color:red" id="errbusiness"></span>
                        </li>
                        <li class="clearfix">
                            <div class="form-title"><span>申请人：</span></div>
                            <input class="form-info" name="applicant" id="applicant" value="$!{one.applicant}"/><span style="color:red" id="errapplicant"></span>
                        </li>
                        <li class="clearfix">
                            <div class="form-title"><span>上传身份证图片：</span></div>
                            <div class="firmimg-main fl">
                                <div class="firmimg-list firmimg-list2 clearfix">
									#foreach($in in $picAddress.keySet())
									<span class="img-kuang">
									     <i po="$picAddress.get($in)"></i>
        								 <img src="$!{address.img}$!{in}" class="firm-img">
										 <input type="hidden" name="picAddress" value="$picAddress.get($in)" />
									</span>
									#end
									 <div class="addimg2"></div>
              			  </form>
									<form action="" method="post" enctype="multipart/form-data" id="form3" target="testIframeName">
										<div class="addimg" style="z-index:2;position:relative;cursor:pointer;top:0px;"><input type="file" id="uploadfile" name="uploadfile" style="position:absolute;left:0;top:0;width:80px;height:80px;cursor:pointer;opacity:0;FILTER: alpha(opacity: 0);Z-INDEX: 2;"  /><i class="add-sx"></i><i class="add-hx"></i></div>
										<input type="hidden" value="4" name="targetType">
									</form>
									<span style="color:red" id="errpicAddress"></span>
                                </div>
                                <p class="bookimg-ts">您可将身份证正、反面扫描、或用数码相机拍成照片。上传所花费时间是 由图片大小决定的，大的图片会占用比较长的上传时间。</p>
								<p class="bookimg-ts">此处最多上传5 张图片。</p>
                            </div>
                        </li>
                    </ul>
                    <span class="add-btn add-frim" id="submit1">提交</span>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">

	    ##上传图片
　　		$(".addimg").click(function(){
		var leng = $(".firmimg-list2 img").length;
		if(leng>=5){
		alert("最多上传５张图片");
		return false;
		}
		});
    	jQuery("#uploadfile").change(function(){
	    ajaxSubmitForm();
##		var formDate = new FormData(jQuery(this).parent()[0]);
##		formDate.append("targetType", 4);
##	    		jQuery.ajax({
##        			url:"#springUrl('/upload/ieupload.htm')",
##        			data:formDate,
##        			type: "POST",
##        			cache: true,
##        			async: false,
##        			dataType:"json",
##        			contentType:false,
##        			processData:false,
##        			success: function(data) {
##					$(".addimg").before("<span class=\"img-kuang\"><i></i><img src="+"$!{address.img}"+data.url+" class=\"firm-img\" id='load"+data.pid+"'>"+"<input type=\"hidden\" name=\"picAddress\" value=\""+data.pid+"\"></span>");
##                	﻿var time;
##                    var qim=new Image();
##					qim.src = "$!{address.img}"+data.url;
##                	time = setInterval(function(){
##                            if(qim.complete){
##								jQuery("#load"+data.pid).attr("src","$!{address.img}"+data.url);
##                                clearInterval(time);
##                            }
##                      },200)
##					}
##        		});
	})
	
	 function ajaxSubmitForm() {
            var value = $("#uploadfile").val();
            if (value=="") {
                alert("请先选择文件");
                return false;
            }
            if (!value.match(/.jpg|.jpeg|.gif|.png|.bmp/i)) {
                alert("文件格式错误");
                return false;
            }
            var option = {
                url : '#springUrl('/upload/ieupload.htm')',
                type : 'POST',
                dataType : 'json',
                headers : {"ClientCallMode" : "ajax"}, //添加请求头部
                success : function(data) {
					$(".addimg2").before("<span class=\"img-kuang\"><i></i><img src="+"http://img0.zz91.com/trade/product/images/loading.gif"+" class=\"firm-img\" id='load"+data.pid+"'>"+"<input type=\"hidden\" name=\"picAddress\" value=\""+data.pid+"\"></span>");
                	﻿var time;
                    var qim=new Image();
					qim.src = "$!{address.img}"+data.url;
                	time = setInterval(function(){
                            if(qim.complete){
								jQuery("#load"+data.pid).attr("src","$!{address.img}"+data.url);
								//console.log(jQuery("#load"+data.pid));
                                clearInterval(time);
                            }
                      },2000)
                },
                error: function(data) {
                    alert(JSON.stringify(data) + "--上传失败,请刷新后重试");
                }
             };
            $("#form3").ajaxSubmit(option);
            return false; //最好返回false，因为如果按钮类型是submit,则表单自己又会提交一次;返回false阻止表单再次提交
        }
	
     ##删除图片
	  $(".firmimg-list").delegate(".img-kuang i","click",function(){
##          var i=$(this).attr("po");
          $(this).parent().remove();
  })

            $(document).ready(function(){
            $("form :input").blur(function() {
                 if($("#companyName").val()==""){
				   $("#errcompanyName").html("请填写公司名称");
				   return false;
				 }else{
				    $("#errcompanyName").html("");
				 }
				 if($("#companyAddress").val()==""){
				   $("#errcompanyAddress").html("请填写公司地址");
				   return false;
				 }else{
				    $("#errcompanyAddress").html("");
				 }
				 if($("#regitAddress").val()==""){
				   $("#errregitAddress").html("请填写注册地址");
				   return false;
				 }else{
				    $("#errregitAddress").html("");
				 }
				 if($("#idCard").val()==""){
				   $("#erridCard").html("请填写身份证号码");
				   return false;
				 }else{
				    $("#erridCard").html("");
				 }
				 if($("#name").val()==""){
				   $("#errname").html("请填写联系人");
				   return false;
				 }else{
				    $("#errname").html("");
				 }
				if($("#codePhone").val()==""&&$("#mobile").val()==""){
				   $("#errcodePhone").html("请填一种联系方式");
				   $("#errmobile").html("请填一种联系方式");
				   return false;
				 }else{
				    $("#errcodePhone").html("");
					$("#errmobile").html("");

				 }
				if($("#operation").val()==""){
				   $("#erroperation").html("请填写主营业务");
				   return false;
				 }else{
				    $("#erroperation").html("");
				 }
				if($("#serviceType").val()==""){
				   $("#errserviceType").html("请填写服务类型");
				   return false;
				 }else{
				    $("#errserviceType").html("");
				 }
##				if($("#business").val()==""){
##				   $("#errbusiness").html("请填写经营范围");
##				   return false;
##				 }else{
##				    $("#errbusiness").html("");
##				 }
				if($("#applicant").val()==""){
				   $("#errapplicant").html("请填写申请人");
				   return false;
				 }else{
				    $("#errapplicant").html("");
				 }
				if($("#picAddress").val()==""){
				   $("#errpicAddress").html("请上传证件照");
				   return false;
				 }else{
				    $("#errpicAddress").html("");
				 }
            });
            });
            
            $(document).ready(function() {
                   #if($!{one.maxsex}){
            	      if($!{one.maxsex}==1){
            		  $("#nv").attr("checked","true");
					  document.getElementById("maxsex").value=1;
            		  }else{
            		  $("#nan").attr("checked","true");
					  document.getElementById("maxsex").value=0;
            		  }
            	   }
				   #end
             });
            
            function fun(s){
                 if(s==0){
            	  document.getElementById("maxsex").value=0;
            	 }
            	 if(s==1){
            	   document.getElementById("maxsex").value=1;
            	 }
            }
            
            jQuery("#submit1").click(function(){
             if($("#companyName").val()==""){
				   $("#errcompanyName").html("请填写公司名称");
				   return false;
				 }else{
				    $("#errcompanyName").html("");
				 }
				 if($("#companyAddress").val()==""){
				   $("#errcompanyAddress").html("请填写公司地址");
				   return false;
				 }else{
				    $("#errcompanyAddress").html("");
				 }
				 if($("#regitAddress").val()==""){
				   $("#errregitAddress").html("请填写注册地址");
				   return false;
				 }else{
				    $("#errregitAddress").html("");
				 }
				 if($("#idCard").val()==""){
				   $("#erridCard").html("请填写身份证号码");
				   return false;
				 }else{
				    $("#erridCard").html("");
				 }
				 if($("#name").val()==""){
				   $("#errname").html("请填写联系人");
				   return false;
				 }else{
				    $("#errname").html("");
				 }
				if($("#codePhone").val()==""&&$("#mobile").val()==""){
				   $("#errcodePhone").html("请填一种联系方式");
				   $("#errmobile").html("请填一种联系方式");
				   return false;
				 }else{
				    $("#errcodePhone").html("");
					$("#errmobile").html("");

				 }
				if($("#operation").val()==""){
				   $("#erroperation").html("请填写主营业务");
				   return false;
				 }else{
				    $("#erroperation").html("");
				 }
				if($("#serviceType").val()==""){
				   $("#errserviceType").html("请填写服务类型");
				   return false;
				 }else{
				    $("#errserviceType").html("");
				 }
##				if($("#business").val()==""){
##				   $("#errbusiness").html("请填写经营范围");
##				   return false;
##				 }else{
##				    $("#errbusiness").html("");
##				 }
				if($("#applicant").val()==""){
				   $("#errapplicant").html("请填写申请人");
				   return false;
				 }else{
				    $("#errapplicant").html("");
				 }
				 var $imgLength = $(".firmimg-list2 .img-kuang").length;
				 if($imgLength<1){
					$("#errpicAddress").html("请上传证件照");
					return false;
				}
##				if($("#picAddress").val()==""){
##				   $("#errpicAddress").html("请上传证件照");
##				   return false;
##				 }else{
##				    $("#errpicAddress").html("");
##				 }
                 if(document.getElementById("maxsex").value==""){
            	   document.getElementById("maxsex").value=0;
            	 }
                 var da=$("#form1").serialize();
            	 jQuery.ajax({
            		   url:"#springUrl('/certification/addOne.htm')",
            		   type:'post',
            		   datatype:'json',
            		   data:da,
            		   cache:false,
            		   success:function(data){
                       ajaxob=eval("("+data+")");
            		   var b=ajaxob.success;
            		   if(b){
            		    window.location.reload();
            			 }
            		   }
            		  });
            })

</script>
