#set( $layout = "/layout/innerPageLayout.vm" )
#if($!{error}==1)
	<div class="alert"> 您必需选择一个系列</div>
#end
<form id="form1" name="form1" method="post" action="#springUrl('/myproducts/doCreateGroupContact.htm')">
	<input type="hidden" name="ids" value="$!{ids}" />
	<table class="table table-bordered table-condensed mt">
        <thead>
            <tr>
                <th></th>
                <th class="tac">排序</th>
                <th class="tac">类别名称</th>
                <th class="tac">类别描述</th>
            </tr>
        </thead>
        <tbody>
            #foreach($group in $!{groupList})
            <tr>
                <td class="tac">
                    <input type="radio" value="$!{group.id}" name="groupId">
                </td>
                <td class="tac">$!{group.seriesOrder}</td>
                <td class="tac">$!{group.name}</td>
                <td class="tac">$!{group.seriesDetails}</td>
            </tr>
        #end
        </tbody>
    </table>
    <div class="form-actions">
		<input type="submit" id="submitBtn" value="提 交" class="btn btn-primary"> 
    </div>
</form>