<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>$!{seoTitle}</title>
        <meta name="keywords" content="$!{seoKeywords}" />
        <meta name="description" content="$!{seoDescription}" />
        <link rel="shortcut icon" href="$!{address.css}/trade/favicon.ico" />
        <link rel="stylesheet" href="$!{address.css}/trade/comm/comm.css" />
        <link rel="stylesheet" href="$!{address.css}/trade/product/css/issue.css" />
        <link rel="stylesheet" href="$!{address.css}/trade/comm/comm-pop.css" />
        <link rel="stylesheet" href="$!{address.css}/trade/comm/selectJr.css" />
		<script src="$!{address.css}/lib/jquery/jquery-1.8.0.min.js"></script>
		##<script src="$!{address.css}/lib/jquery/jquery-1.9.1.js"></script>
        <script src="$!{address.css}/trade/comm/input-plt.js"></script>
        <script src="$!{address.css}/lib/asto/asto-all-1.0.0.js"></script>
        <script src="$!{address.css}/trade/comm/comm.js"></script>
		
        <!--[if IE 6]> 
            <script src="$!{address.css}/trade/comm/clarity.js"></script>
            <script type="text/javascript">
            DD_belatedPNG.fix('img');
            DD_belatedPNG.fix('.pay-steps-list span');
            DD_belatedPNG.fix('.info-img');
     		DD_belatedPNG.fix('.now-nav i');
        	DD_belatedPNG.fix('.myuse-dl dd i');
        	$(function(){
            	$(".deal-fixed").css("margin-top",$(window).height()-$(".deal-fixed").height()+"px")
        	})
            </script>
        <![endif]-->
    </head>
    <body>
		<script src="$!{address.www}/china/top.htm?$!{date.getSystemTime()}" type="text/javascript"></script>
		$screen_content
		<script src="$!{address.www}/china/button.htm" type="text/javascript"></script>
		#parse("/seo/analysis_body.vm")
     </body>
</html>