
.assess-name{
	font-size: 14px;
	color: #00a2ff;
}
.assess-tip{
	float: right;
	font-size: 12px;
	color: #ff0000
}
.assess-mos{
	font-size: 14px;
	color: #404040
}
.assess-time{
	font-size: 10px;
	color:#959595;
}
.assess-answer{
	float: right;
	color: #959595;
	position: relative;
	font-size: 10px;
}
.assess-answer i{
	position: absolute;
	width: 20px;
	height: 15px;
	background-image: url(../image/imageslist.png);
    background-size:320px;
    background-position: -131px -157px;
    left: -17px;
    top: 6px;
    color: #404040
}
.answer-list{
	padding: 4px 8px;
	background-size: #f2f2f2;
	position: relative;
}
.answer-list li:first-child{
	border-top: 1px solid #e1e1e1
}
.answer-list li{
	padding: 0px 8px;
	border-color: #e1e1e1;
	border-width:0 1px 1px 1px;
	border-style: solid;
	background-color: #f6f6f6;
}
.hf-more{
	text-align: center;
	line-height: 30px;
	color: #00a2ff
}
.tape-ask{
	padding: 0 10px;
	color: #959595
}
.sanjiao{
	height: 19px;
	width: 25px;
	background-image: url(../image/imageslist.png);
    background-size:320px;
    background-position: -114px -174px;
    position: absolute;
    top: -10px;
}