#set($layout = "/layout/compnews/defaultS.vm")


<link rel="stylesheet" type="text/css" href="http://img0.huanbao.com/huanbao/tech/css/JiShuZhongXin.css"/>




<div class="main">
#parse("/common/compnews/menu.vm")
    <div class="ListEmpty">
    	<div class="le-left">
            <div class="le-left-info">
                <span class="le-info-text">
                    非常抱歉
                </span>
                <span class="le-info-text">
                    暂时没有找到您需要的“$!{keywords}”相关文章！
                </span>
                <span class="le-info-text2">
                    您可以利用我们以下建议帮助您找到您所需的文章
                </span>
                <span class="le-info-text3">
                    我们建议您：
                </span>
                <span class="le-info-methods">
                    <span class="le-orange">方法一：</span>免费发布技术文章，分享您的技术领域知识
                </span>
                <span class="le-info-img"><a href="#springUrl('/compnews/technicalarticles/publish.htm')"><img src="http://img0.huanbao.com/huanbao/tech/images/FaBuJiShu.jpg"></a></span>
            </div>
            <!--end info-->
            <div class="le-left-other">
                <div class="le-other-title">
                    <a href="#">其他公司技术文章</a>
                </div>
                <ul>
					#foreach($l in $!{list})
						#if($velocityCount==5)
					      </ul>
						  <ul>
        				  <li><a href="#springUrl('/compnews/technicalarticles/details')$!{l.id}.htm">$!{l.title}</a></li>
						#else
                          <li><a href="#springUrl('/compnews/technicalarticles/details')$!{l.id}.htm">$!{l.title}</a></li>	
						#end
					#end	
                </ul>
                <div style="clear:both"></div>
            </div>
            <!--end other-->
    	</div>
    	<!--end 列表搜空页 left-->
    	<div class="le-right">
    		<div class="le-right-title">
                <span class="le-orange">方法二：</span>按产品所属类别查找
            </div>
            <div class="le-content">
                <span class="le-content-title"><a href="#">污水处理</a></span>
                <ul>
                    <li style="margin-left:0"><a href="$!{address.www}/trade/supply/index--100010001000--.htm">固液分离</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010001001--.htm">曝气设备</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010001002--.htm">加药反应</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010001004--.htm">污泥处理</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010001006--.htm">污水工程</a></li>
                </ul>
                <div style="clear:both"></div>
                <span class="le-content-title"><a href="#">原水处理设备</a></span>
                <ul>
                    <li style="margin-left:0"><a href="$!{address.www}/trade/supply/index--100010011000--.htm">纯水制取设备</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010011001--.htm">软化水设备</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010011002--.htm">供水设备</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010011004--.htm">杀菌消毒设备</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010011005--.htm">其他原水处理设备</a></li>
                </ul>
                <div style="clear:both"></div>
                <span class="le-content-title"><a href="#">空气净化设备</a></span>
                <ul>
                    <li style="margin-left:0"><a href="$!{address.www}/trade/supply/index--100010021000--.htm">废气处理</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010021001--.htm">油烟处理</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010021002--.htm">除尘装置</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010021003--.htm">空气净化</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010021004--.htm">其它辅助设备</a></li>
                </ul>
                <div style="clear:both"></div>
                <span class="le-content-title"><a href="#">环保材料药剂</a></span>
                <ul>
                    <li style="margin-left:0"><a href="$!{address.www}/trade/supply/index--100010031000--.htm">过滤材料</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010031001--.htm">水处理滤料</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010031002--.htm">水处理化学品</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010031003--.htm">填料</a></li>
                </ul>
                <div style="clear:both"></div>
                <span class="le-content-title"><a href="#">泵/阀/风机</a></span>
                <ul>
                    <li style="margin-left:0"><a href="$!{address.www}/trade/supply/index--100010041000--.htm">泵</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010041001--.htm">阀</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010041002--.htm">风机排风</a></li>
                </ul>
                <div style="clear:both"></div>
                <span class="le-content-title"><a href="#">环卫清洁设备</a></span>
                <ul>
                    <li style="margin-left:0"><a href="$!{address.www}/trade/supply/index--100010051000--.htm">环卫车辆</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010051001--.htm">垃圾处理</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010051002--.htm">环保厕所</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010051003--.htm">清洗清洁设备</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010051004--.htm">清洁用品</a></li>
                </ul>
                <div style="clear:both"></div>
                <span class="le-content-title"><a href="#">仪器仪表</a></span>
                <ul>
                    <li style="margin-left:0"><a href="$!{address.www}/trade/supply/index--100010061000--.htm">水质检测分析</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010061001--.htm">气体检测分析</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010061002--.htm">实验室常用设备</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010061003--.htm">光学仪表</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010061004--.htm">电化学仪表</a></li>
                </ul>
                <div style="clear:both"></div>
                <span class="le-content-title"><a href="#">其他环保设备</a></span>
                <ul>
                    li style="margin-left:0"><a href="$!{address.www}/trade/supply/index--100010071000--.htm">噪声振动治理设备</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010071001--.htm">固废处理设备</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010071002--.htm">环保工程服务</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010071003--.htm">防腐设备</a></li>
                    <li><a href="$!{address.www}/trade/supply/index--100010071004--.htm">绿化/景观</a></li>
                </ul>
                <div style="clear:both"></div>
        	</div>
    	<!--end 列表搜空页 right-->
    </div>
    <!--end 列表搜空页-->
</div>
<!--end main-->
</div>


<div style="clear:both"></div>
<!--end main-->
<!--底部 start-->




