<div class="orderright fl">
	<div class="state-main">
		<div class="state-now">
			<i class="icon-big-ts iconfont">&#xe60d;</i>
			订单状态：交易成功，等待买家评价
		</div>
		#foreach($obj in $logisticsMap.get("data"))
			#if($velocityCount==1)
				#set($newtime=$obj.time)
				#set($context=$obj.context)
			#end
		#end
		<div class="dd-close">物流： 联邦物流   运单号：$!{logisticsNo}</div>
		<div class="dd-close dd-close-third">
			$!newtime
			<span class="orange">$!context</span>
		</div>
		<div class="state-cando color-99">如果买家10天后未评价，系统将自动默认为好评。</div>
	</div>
</div>
