#set($layout="/layout/defaultS.vm")
<script type="text/javascript" src="#springUrl('/app/util.js')"></script>
<script type="text/javascript" src="#springUrl('/app/admin/company.js')"></script>
<script type="text/javascript">
	Ext.onReady(function(){
		
		var companyGrid=Ext.create("ast.ast1949.admin.company.MainGrid",{
			region:"center",
			myToolbar:[{
				text:"高级搜索",
				iconCls:"find16",
				id:"adsearch",
				handler:function(){
					companyGrid.advanceSearch(this);
				}
			},"-",{
				text:"编辑",
				iconCls:"edit16",
				handler:function(){
					var record=this.up("grid").getSelectionModel().getLastSelected();
					window.open(Context.ROOT+"/zz91/crm/company/detail.htm?companyId="+record.get("id")); 
				}
				
			}],
			queryUrl:Context.ROOT+"/zz91/crm/company/queryCompany.htm"
		});
		
		Ext.create("Ext.container.Viewport",{
			layout:"border",
			items:[companyGrid]
		});
		
	});
</script>
