#MRcalendar  {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 16px; PADDING-TOP: 0px
}
#MRcalendar  A {
	DISPLAY: block; COLOR: #000; TEXT-DECORATION: none
}
#MRcalendar  A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #ccc
}
#MRcalendar {
	BORDER-RIGHT: #666 1px solid; BORDER-TOP: #666 1px solid; BORDER-LEFT: #666 1px solid; WIDTH: 156px; BORDER-BOTTOM: #666 1px solid; FONT-FAMILY: verdana, Arial,"ו",sans-serif; POSITION: absolute; BACKGROUND-COLOR: #efefef
}
#MRcalendar TD {
	TEXT-ALIGN: center
}
#MRcalendar THEAD TR TH {
	LINE-HEIGHT: 20px
}
#MRcalendar TBODY TR TD A {
	FONT-SIZE: 12px; WIDTH: 20px; FONT-FAMILY: Tahoma,verdana,helvetica, Arial,sans-serif
}
#MRcalendar TFOOT TR TD A {
	FONT-SIZE: 9px; LINE-HEIGHT: 20px
}
#MRcalendar .su {
	COLOR: red
}
#MRcalendar .su A {
	COLOR: red
}
#MRcalendar .st {
	COLOR: green
}
#MRcalendar .st A {
	COLOR: green
}
#MRcalendar .no A {
	FONT-WEIGHT: normal; COLOR: #ccc
}
#MRcalendar .today A {
	COLOR: #f00; BACKGROUND-COLOR: #aaa
}
#MRcalendar .none A {
	COLOR: #000
}
#MRcalendar .su A:hover {
	COLOR: #fff
}
#MRcalendar .st A:hover {
	COLOR: #fff
}
#MRcalendar .no A:hover {
	COLOR: #fff
}
#chagemonthbar {
	
}
