<div class="container mt clearfix">
	<div class="grid_12">
		<form id="formSpot" method="post" action="doEditPromotions.htm">
			<div class="control-group">
				<label class="control-label">标题：</label><input type="text" name="title" class="field" value="$!{spotPromotions.title}" />
			</div>
			<div class="control-group">
				<label class="control-label">促销价：</label><input type="text" name="promotionsPrice" class="field" />
			</div>
			<div class="control-group">
				<label class="control-label">价格单位：</label><input type="text" name="priceUnit" class="field" value="$!{spotPromotions.priceUnit}" />
			</div>
			<div class="control-group">
				<label class="control-label">数量：</label><input type="text" name="quantity" class="field" value="$!{spotPromotions.quantity}" />
			</div>
			<div class="control-group">
				<label class="control-label">数量单位：</label><input type="text" name="quantityUnit" class="field" value="$!{spotPromotions.quantityUnit}" />
			</div>
			<div class="control-group">
				<label class="control-label">过期时间：</label><input name="expiredTimeStr" type="date" id="expiredTimeStr" value="$!date.format('yyyy-MM-dd',$!{spotPromotions.expiredTime})" class="field" />
			</div>
			<div class="form-actions">
				<input type="submit" value="提交促销审核" name="btSubmit" id="btSubmit" class="btn btn-primary">
			</div>
			<input type="hidden" name="id" value="$!{id}" />
		</form>
	</div>
</div>
