<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>$!{seoTitle}</title>
		<meta name="keywords" content="$!{seoKeywords}" />
		<meta name="description" content="$!{seoDescription}" />
        <link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
        <link rel="stylesheet" href="http://img0.zz91.com/trade/comm/comm.css" />
        <link rel="stylesheet" href="http://img0.zz91.com/trade/help/css/help.css" />
        <script src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
        <!--[if IE 6]> 
            <script src="http://img0.zz91.com/trade/comm/clarity.js"></script> 
            <script type="text/javascript">
            DD_belatedPNG.fix('i');
            </script>
        <![endif]-->
    </head>
    <body>
        <div class="topband"></div>
        <div class="clearfix helpcenter">
            <div class="fl leftnav">
                <div class="navmain">
                    <h2 class="nanbig-tt"><i></i>注册相关</h2>
                    <div class="navlist">
                        <h3 class="navsmall-tt"><i></i>注册相关</h3>
                        <ul class="navlist-ul">
                            <li><a href="#springUrl('/help/index.htm?step=0&step2=0&step3=0')">注册流程</a></li>
                            <li><a href="#springUrl('/help/index2.htm?step=0&step2=0&step3=1')">更换绑定手机</a></li>
                            <li><a href="#springUrl('/help/index3.htm?step=0&step2=0&step3=2')">更换密码</a></li>
                        </ul>
                    </div>
                </div>
                <div class="navmain navmain2">
                    <h2 class="nanbig-tt"><i></i>交易相关</h2>
                    <div class="navlist">
                        <h3 class="navsmall-tt"><i></i>买家入口</h3>
                        <ul class="navlist-ul">
                            <li><a href="#springUrl('/help/index4.htm?step=1&step2=0&step3=0')">如何买货</a></li>
                            <li><a href="#springUrl('/help/index5.htm?step=1&step2=0&step3=1')">如何委托买货</a></li>
                            <li><a href="#springUrl('/help/index6.htm?step=1&step2=0&step3=2')">如何自己找货</a></li>
                            <li><a href="#springUrl('/help/index7.htm?step=1&step2=0&step3=3')">买家如何下订单</a></li>
                        </ul>
                        <h3 class="navsmall-tt"><i></i>卖家入口</h3>
                        <ul class="navlist-ul">
                            <li><a href="#springUrl('/help/index8.htm?step=1&step2=1&step3=0')">发布产品</a></li>
                        </ul>
                    </div>
                </div>
                <div class="navmain navmain3">
                    <h2 class="nanbig-tt"><i></i>常见问题</h2>
                    <div class="navlist">
                        <h3 class="navsmall-tt"><i></i>我是买家</h3>
                        <ul class="navlist-ul">
                            <li><a href="#springUrl('/help/index9.htm?step=2&step2=0&step3=0')">发货问题的争议处理</a></li>
                            <li><a href="#springUrl('/help/index11.htm?step=2&step2=0&step3=1')">签收问题的争议处理</a></li>
                            <li><a href="#springUrl('/help/index13.htm?step=2&step2=0&step3=2')">运费问题的争议处理</a></li>
                            <li><a href="#springUrl('/help/index15.htm?step=2&step2=0&step3=3')">争议处理</a></li>
                        </ul>
                        <h3 class="navsmall-tt"><i></i>我是卖家</h3>
                        <ul class="navlist-ul">
                            <li><a href="#springUrl('/help/index10.htm?step=2&step2=1&step3=0')">发货问题的争议处理</a></li>
                            <li><a href="#springUrl('/help/index12.htm?step=2&step2=1&step3=1')">签收问题的争议处理</a></li>
                            <li><a href="#springUrl('/help/index14.htm?step=2&step2=1&step3=2')">运费问题的争议处理</a></li>
                            <li><a href="#springUrl('/help/index16.htm?step=2&step2=1&step3=3')">争议处理</a></li>
                        </ul>
                    </div>
                </div>
            </div>
			$screen_content
    </div>
	</body>
	</html>