<div class="access">
	#if($!{sessionUser})
	<div id="nav" class="tracksub" >
	 <ul >
        <li><a id="services" class="top_link"><span class="down">快速通道</span></a>
				<ul>
                    <li class="li1"><a href="#springUrl('/myposted.htm')">我的家</a></li>
					<li class="li2"><a href="#springUrl('/postReply.htm')">发表新帖</a></li>
                    <li class="li3"><a href="$!{address.www}">ZZ91首页</a></li>
					##<li class="li3"><a href="#">热点通道</a></li>
					##<li class="li4"><a href="#">技术通道</a></li>
				</ul>
        </li>
       </ul>
       </div>
	#else
	<div id="nav" class="tracksub" >	
		<ul>
            <li><a id="services" class="top_link" ><span class="down">快速通道</span></a>
				<ul>
                    ##<li class="li1"><a href="#springUrl('/myposted.htm')">我的家</a></li>
					<li class="li4"><a href="$!{address.front}/register/register.htm">会员注册</a></li>
                    <li class="li3"><a href="$!{address.www}">ZZ91首页</a></li>
				</ul>
			</li>
        </ul>
    </div>
	#end
 </div>