<div class="report_content3">
    <div class="report_content3_1">
      <div class="report_content3_1_1">
      	  谁回复过我的帖子？
      </div>
      <div class="report_content3_1_2">
      <ul>
    	#if($!{bbsReplyListSize}==0)
        <li style="color:red">
      	  没人回复我的帖子
        </li> 
    	#else
    		#foreach($!{bbsReplyList} in $!{bbsReplyList})
    			<li>
    				<a href="#springUrl('/othersreply')$!{bbsReplyList.userProfilerId}.htm" target="_blank">
    					#if($!{bbsReplyList.picturePath})
    						#if($velocityCount<=6)
    							<img src="$!{address.resource}/$!{bbsReplyList.picturePath}" class="report_content1_1_img2"/>
    						#end
    					#else
    						<img src="$!{address.img}/bbs/images/150_no_avatar.gif" class="report_content1_1_img2"/>
    					#end
    				</a>
    				<a href="#springUrl('/othersposted')$!{bbsReplyList.userProfilerId}.htm" target="_blank" title="$!{bbsReplyList.nickname}" >
    						#if($!{bbsReplyList.nickname})#printTitle($!{bbsReplyList.nickname} 7 "")#else匿名#end 
    				</a>
              </li>
    		#end
    	#end	
    	</ul>
    </div>
					  
         <div class="report_content3_1_3">
  	     	最新动态
 	 	 </div>
		 #cacheFragment("$!{address.fragment}/huzhu/newPost.htm?size=6&r" "" "" "")
          <div class="report_content3_1_4">
  	     	   <ul>
				#if($!{frontBbsPostListSize}==0)
               		<li> 无最新动态</li>
				#else
					#foreach($!{frontBbsPostList} in $!{frontBbsPostList})
                    <li><a href="#springUrl('/viewReply')$!{frontBbsPostList.id}.htm" target="_blank" title="$!{frontBbsPostList.title}">
							#printTitle($!{frontBbsPostList.title} 12 "")
						</a>
					</li>
					#end
				#end	
               </ul>
 	    </div>
		#end
    </div>
    <div class="report_content3_2">
   	  	  <a href="$!{address.myrc}/myfeedback/member.htm" target="_blank">意见反馈</a>
    </div>
</div>   
<!--end-->