#set($layout="/layout/blank.vm")
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi = medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta name="apple-touch-fullscreen" content="YES">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="shortcut icon" href="http://img0.zz91.com/front/images/logo/favicon.ico">
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/zt/iphon/css/base-min.css" />
<title>双十一秒杀手机页_ZZ91再生网(原中国再生资源交易网)</title>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/zt/iphon/css/miaosha.css" />
<script src="http://img0.zz91.com/zz91/js/openoverlay.js"></script>
<link type="text/css" rel="stylesheet" href="http://img0.zz91.com/zz91/css/openoverlay.css">
</head>
<body>
	<style>
			
		.logo-div{
        	border:1px solid #e1e1e1;
        	background: #fff;
        }
		
		.ass-tg{
        	text-align: center;
        	line-height: 30px;
        	font-weight: bold;;
        	font-size: 14px;
        	padding: 10px 0
        }
		
		.sea-btn{
        	padding: 0 40px 30px;
        }
		
		.sea-btn span{
        	display: inline-block;
        	background: #009944;
        	color: #fff;
        	padding: 5px 20px;
        }
		
		.gb-btn{
        	float: right;
        }
		
    </style>
<!-- <div class="tanc">
	<div class="logo-div">
		<div class="logo-top"><span class="close j_close">关闭</span></div>
		<div class="buy-info">
			<div class="buy-tg">2015商务大全</div>
			<div class="newbuy">秒杀价：59.9元/本</div>
			<div class="buydu">
				<span class="m_jia">-</span>1<span class="m_jd">+</span><span>本</span>
			</div>
			<div class="allmoery">金额：<span>59.9</span>元</div>
			<div class="btn"><span class="">确认购买</span></div>
		</div>
	</div>
</div> -->
	<div class="logo"><img src="http://img0.zz91.com/zz91/zt/iphon/images/ms-log.jpg" width="100%"></div>
	<div class="nav">
		<div class="nav-mo">
			<div class="nav-bd"></div>
			<div class="nav-cnt">
				<h3>抄底秒杀</h3>
				<p>绝版限量  秒完即止   1-10号每天3次限量秒杀   9种服务 任你秒</p>
			</div>
			<div class="nav-bd"></div>
		</div>
		<div class="nav-mo">
			<div class="nav-bd"></div>
			<div class="nav-cnt">
				<h3>离下一个秒杀时间还有</h3>
				<p class="nav-time" id="djsStr">
				</p>
			</div>
			<div class="nav-bd"></div>
		</div>
	</div>
	<div class="ms-ts">
		<div class="ms-ts-titel">抄底秒杀<span></span></div>
		<div class="ms-ts-p">
			<p>本次秒杀产品包含：2015商务大全、热门推荐广告</p>
			<p>APP置顶广告</p>
			<p>APP独家广告、2016年商务大全彩色半版广告</p>
		</div>
	</div>
	<div class="day-xz">	
	</div>
	<div class="cplist">
	</div>
	
	#if($!{sessionUser})
		<input type="hidden" id="loginFlag" value="1" />
	#else
		<input type="hidden" id="loginFlag" value="0" />
	#end
	<input type="hidden" id="nameStr" name="name" value="" />
	<input type="hidden" id="money" value="" />
</body>
<script id="info-list" type="text/html">
<div class="cp-mo">
	<div class="cp-mo-img">
		<img src="{{ d[0].smallImg }}" width="167">
		<div class="startTime">
			<div>9:00</div>
			<div>开始</div>
		</div>
	</div>
	<div class="cp-mo-info">
		<div class="cp-info-tg">{{ d[0].msTitle }}<span>{{ d[0].msTitle_fb }}</span></div>
		<s class="cp-old-mey">原价:{{ d[0].oldMoery }}</s>
		<div class="cp-new-mey">秒杀价：{{ d[0].newMoery }}</div>
		<span class="cp-btn-no" pop="{{ d[0].pop }}" listnub="{{ d[0].listnub }}">
			立即秒杀
		</span>
	</div>
</div>
<div class="cp-mo">
	<div class="cp-mo-info">
		<div class="cp-info-tg">{{ d[1].msTitle }}<span>{{ d[1].msTitle_fb }}</span></div>
		<s class="cp-old-mey">原价:{{ d[1].oldMoery }}</s>
		<div class="cp-new-mey">秒杀价：{{ d[1].newMoery }}</div>
		<span class="cp-btn-no" pop="{{ d[1].pop }}" listnub="{{ d[1].listnub }}">立即秒杀</span>
	</div>
	<div class="cp-mo-img">
		<img src="{{ d[1].smallImg }}" width="167">;
		<div class="startTime startTime2">
			<div>15:00</div>
			<div>开始</div>
		</div>
	</div>
</div>
<div class="cp-mo">
	<div class="cp-mo-img">
		<img src="{{ d[2].smallImg }}" width="167">
		<div class="startTime">
			<div>20:00</div>
			<div>开始</div>
		</div>
	</div>
	<div class="cp-mo-info">
		<div class="cp-info-tg">{{ d[2].msTitle }}<span>{{ d[2].msTitle_fb }}</span></div>
		<s class="cp-old-mey">原价:{{ d[2].oldMoery }}</s>
		<div class="cp-new-mey">秒杀价：{{ d[2].newMoery }}</div>
		<span class="cp-btn-no" pop="{{ d[2].pop }}" listnub="{{ d[2].listnub }}">立即秒杀</span>
	</div>
</div>
</script>
<script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js" ></script>
<script type="text/javascript" src="http://img0.zz91.com/zz91/zt/iphon/js/laytpl.js"></script>
<script type="text/javascript" src="http://img0.zz91.com/zz91/zt/iphon/js/miaosha.js"></script>
<script type="text/javascript" src="http://img0.zz91.com/zz91/zt/iphon/js/comm.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function(){
		timer();
	});
	function timer()
	{
		var nt = new Date();
		var ntD ="" + nt.getDate();
		var ntH = nt.getHours();
		if(ntH<9){
			ntH=9
		}else if(15>ntH>=9){
			ntH=15
		}else{
			ntH=20
		}
		var ts = (new Date(2015, 11, ntD, ntH, 0, 0)) - (new Date());//计算剩余的毫秒数
		var hh = parseInt(ts / 1000 / 60 / 60 % 24, 10);//计算剩余的小时数
		var mm = parseInt(ts / 1000 / 60 % 60, 10);//计算剩余的分钟数
		var ss = parseInt(ts / 1000 % 60, 10);//计算剩余的秒数
		hh = checkTime(hh);
		mm = checkTime(mm);
		ss = checkTime(ss);
		jQuery("#djsStr").html("<span>"+hh+"</span> 时 <span>"+mm+"</span> 分 <span>"+ss+"</span> 秒");
	##	setInterval("timer()",1000);
	}
	function checkTime(i)  
    {  
       if (i < 10) {  
           i = "0" + i;  
        }  
       return i;  
    }
</script>
	<!--baidu analysis-->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff41f07cad5c54cf66717306958dd62ed' type='text/javascript'%3E%3C/script%3E"));
</script>
</html>