#set($layout="/layout/blank.vm")
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi = medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta name="apple-touch-fullscreen" content="YES">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/zt/iphon/css/base-min.css" />
<title>双十一活动页_ZZ91再生网(原中国再生资源交易网)</title>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/zt/iphon/css/djin.css" />
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/zt/iphon/css/weikuan.css" />
<link rel="shortcut icon" href="http://img0.zz91.com/front/images/logo/favicon.ico">
<script src="http://img0.zz91.com/zz91/js/openoverlay.js"></script>
<link type="text/css" rel="stylesheet" href="http://img0.zz91.com/zz91/css/openoverlay.css" />
</head>
<body>
<!-- <div class="tanc">
	<div class="logo-div">
		<div class="ass-tg">恭喜您领券成功，请到生意管家查看领券编码。</div>
		<div class="btn"><span class="j_close">关闭</span></div>
	</div>
</div> -->
	<div class="logo"><img src="http://img0.zz91.com/zz91/zt/iphon/images/logimg.jpg" width="100%"></div>
	<div class="nav">
		<div class="nav-mo">
			<div class="nav-bd"></div>
			<div class="nav-cnt">
				<div class="nav-cnt-tl">
					<h3>预付定金</h3>
					<p>定金疯狂膨胀5倍（11.1-11.10）</p>
				</div>
				<div class="nav-cnt-tl">
					<h3>领取优惠券</h3>
					<p>享受折上折（11.1-11.10）</p>
				</div>
			</div>
			<div class="nav-bd"></div>
		</div>
		<!-- <div class="nav-mo">
			<div class="nav-bd"></div>
			<div class="nav-cnt">
				<div class="nav-cnt-tl">
					<h3>抄底秒杀</h3>
					<p>不等11.11  提前嗨</p>
				</div>
				<div class="nav-cnt-tl">
					<a href="#" class="ms_an">
						<img src="http://img0.zz91.com/zz91/zt/iphon/images/ms_an.png" width="67" height="57">
					</a>
				</div>
			</div>
			<div class="nav-bd"></div>
		</div> -->
	</div>
	<div class="dj-ts">
		<img src="http://img0.zz91.com/zz91/zt/iphon/images/dj-ts2.png" width="100%">
	</div>
	<div class="dj-list">
		<div class="dj-list-mo">
			<div class="dj-moery">
				<img src="http://img0.zz91.com/zz91/zt/iphon/images/weikimg1.jpg" width="100%">
				<span class="span-btn wk-btn" index="0"><img src="http://img0.zz91.com/zz91/zt/iphon/images/wkfimg.png" width="50%"></span>
			</div>
			<div class="dj-kb"></div>
			<div class="dj-moery">
				<img src="http://img0.zz91.com/zz91/zt/iphon/images/weikimg2.jpg" width="100%">
				<span class="span-btn wk-btn" index="1"><img src="http://img0.zz91.com/zz91/zt/iphon/images/wkfimg.png" width="50%"></span>
			</div>
		</div>
		<div class="dj-list-mo">
			<div class="dj-moery">
				<img src="http://img0.zz91.com/zz91/zt/iphon/images/weikimg3.jpg" width="100%">
				<span class="span-btn wk-btn" index="2"><img src="http://img0.zz91.com/zz91/zt/iphon/images/wkfimg.png" width="50%"></span>
			</div>
			<div class="dj-kb"></div>
			<div class="dj-moery">
				<img src="http://img0.zz91.com/zz91/zt/iphon/images/weikimg4.jpg" width="100%">
				<span class="span-btn wk-btn" index="3"><img src="http://img0.zz91.com/zz91/zt/iphon/images/wkfimg.png" width="50%"></span>
			</div>
		</div>
	</div>
	<div class="yhlist">
		<div class="dj-ts"><img src="http://img0.zz91.com/zz91/zt/iphon/images/yhui-ts.png" width="100%"></div>
		<div class="yhui-lq">
			<div class="yhui-ul">
				<div class="yhui-mo">
					<div class="hd-over"><img src="http://img0.zz91.com/zz91/zt/iphon/images/overimg.png" width="98"></div>
					<div class="yhui-info info-xj">￥<span class="yh-xj">49</span></div>
					<div class="yhui-info info-moery">满2000元使用</div>
					<div class="yhui-info"><span class="yhui-btn">立即领取<span></div>
				</div>
				<div class="dj-kb"></div>
				<div class="yhui-mo">
					<div class="hd-over"><img src="http://img0.zz91.com/zz91/zt/iphon/images/overimg.png" width="98"></div>
					<div class="yhui-info info-xj">￥<span class="yh-xj">99</span></div>
					<div class="yhui-info info-moery">满3000元使用</div>
					<div class="yhui-info"><span class="yhui-btn">立即领取<span></div>
				</div>
			</div>
			<div class="yhui-ul">
				<div class="yhui-mo">
					<div class="hd-over"><img src="http://img0.zz91.com/zz91/zt/iphon/images/overimg.png" width="98"></div>
					<div class="yhui-info info-xj">￥<span class="yh-xj">149</span></div>
					<div class="yhui-info info-moery">满4000元使用</div>
					<div class="yhui-info"><span class="yhui-btn">立即领取<span></div>
				</div>
				<div class="dj-kb"></div>
				<div class="yhui-mo">
					<div class="hd-over"><img src="http://img0.zz91.com/zz91/zt/iphon/images/overimg.png" width="98"></div>
					<div class="yhui-info info-xj">￥<span class="yh-xj">199</span></div>
					<div class="yhui-info info-moery">满5000元使用</div>
					<div class="yhui-info"><span class="yhui-btn">立即领取<span></div>
				</div>
			</div>
		</div>
		<div class="zhuy">
			<p>注：</p>
			<p>1.优惠券以及定金抵用仅限11.11当天使用</p>
			<p>2.已付的定金和已领优惠券，在11.11活动当天，可以在已优惠的会员服务价格上抵用相应金额</p>
			<p>3.每个账号限购1张定金抵用券，每个账号限领1张优惠券。</p>
			<p>4.本次活动最终解释权归ZZ91再生网所有</p>
		</div>
	</div>
	#if($!{sessionUser})
		<input type="hidden" id="loginFlag" value="1" />
	#else
		<input type="hidden" id="loginFlag" value="0" />
	#end
	<input type="hidden" id="money" />
</body>
<script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js" ></script>
<script type="text/javascript" src="http://img0.zz91.com/zz91/zt/iphon/js/comm.js"></script>
<script type="text/javascript" src="http://img0.zz91.com/zz91/zt/iphon/js/weikuan.js"></script>
</html>