<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8">
    <title>铜价格_最新铜行情_二手废铜报价资讯-ZZ91再生网</title>
    <meta name="keywords" content="废铜,铜价格,最新铜行情,废铜报价">
    <meta name="description" content="ZZ91再生网旗下废铜网,为您提供精准的各地区今日废铜价格,最新铜行情,废铜回收,二手废铜报价资讯,让你在废铜回收采购中,节省宝贵的时间。">
	<link type="text/css" rel="stylesheet" href="http://img0.zz91.com/zz91/css/zz91.common.css">
		<link href="http://img0.zz91.com/zz91/price/css/zz91.price.copper.css" rel="stylesheet" type="text/css">
	<script src="http://img0.zz91.com/lib/asto/modernizr.js"></script>
    <script src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
	<script src="http://img0.zz91.com/front/js/zz91.common.js"></script>
</head>
	<body>
		<div id="fl_ltop" style="right:0;top:400;position:absolute;display:none;">
			<a href="#" onclick="showAd();return false;">
				<img src="http://img0.zz91.com/front/images/root/replay.jpg" />
			</a>
		</div>
		
		## 登录状态 网站顶部导航
		#cacheFragment("$!{address.fragment}/china/topbar.htm","","","")
    		<div id="topBar">
                <div id="topBarInfo">
            		<div id="topBarLogin">
                    <iframe src="$!{address.front}/status.htm" frameborder="0" width="450" height="28" allowTransparency="true" scrolling="no"></iframe>
                    </div>
            		$!{fragmentContext}
                </div>
            </div>
    	#end
		<!-- header start -->
		<div class="clear"></div>
		<div id="header" class="clearfix">
			<div class="logo">
				#cacheFragment("$!{address.fragment}/china/header.htm?ik=feitong&020","","","")
					$!{fragmentContext}
				#end
			</div>
        </div>
        <!-- header end -->
		
		$screen_content
		
		#cacheFragment("$!{address.fragment}/china/footer.htm","","","")
        	$!{fragmentContext}
        #end
    </body>
</html>