<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>$!{seoTitle}</title>
	<meta name="keywords" content="$!{seoKeywords}" />
	<meta name="description" content="$!{seoDescription}" />
	
	#parse("/common/importS.vm")
	#parse("/common/contextS.vm")
	#parse("/seo/analysis_head.vm")
	
</head>
<body>
    <div id="fl_ltop" style="right:0;top:400;position:absolute;display:none;">
    	<a href="#" onClick="showAd();return false;">
    		<img src="$!{address.images}/root/replay.jpg" />
    	</a>
    </div>
	#cacheFragment("$!{address.fragment}/china/topbar.htm","","","")
		<div id="topBar" style="background:#deeac6;height:60px;">
			<div class="top-new">
        		欢迎加入ZZ91，开启废料生意网上之旅！
        	</div>
            <div id="topBarInfo" style="width:990px">
        		<div id="topBarLogin" style="width:600px;overflow:hidden;float:left;display:inline">
					##<iframe src="$!{address.front}/status.htm" frameborder="0" width="450" height="28" allowTransparency="true" scrolling="no"></iframe>
					<script src="$!{address.front}/webst.htm?$date" type="text/javascript" ></script>
				</div>
        		$!{fragmentContext}
            </div>
        </div>
	#end
	<div id="mainBlock">
	<script type="text/javascript" src="http://gg.zz91.com/show?p=88"></script>
	</div>
	#cacheFragment("$!{address.fragment}/china/header.htm?ik=index","","","")
		$!{fragmentContext}
	#end
	$screen_content
	#cacheFragment("$!{address.fragment}/china/footer.htm","","","")
    	$!{fragmentContext}
    #end
	#parse("/seo/analysis_body.vm")
	<script type="text/javascript" src="http://gg.zz91.com/show?p=89"></script>
</body>
</html>
#parse("/seo/analysis_foot.vm")

