<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>废金属_废塑料_废纸_纺织废料_再生资源_废橡胶_ZZ91再生网</title>
        <meta name="keywords" content="废金属,废塑料,废纸,纺织废料,再生资源,废橡胶,废铜,废铝,废铁,企业报价,塑料颗粒,二手设备" />
        <meta name="description" content="ZZ91再生网是中国最大最旺的网上废料贸易市场,这里为您精选了废金属,废塑料,废纸,废橡胶,纺织废料,废旧设备,废电子电器,废玻璃,废皮革,废铜,废铝,废铁,企业报价,塑料颗粒,二手设备等各类废料供求信息.公司黄页.行业资讯.价格行情.展会信息等。" />
        <link type="text/css" rel="stylesheet" href="$!{address.img}/front/css/zz91.comm.css" />
        <link rel="shortcut icon" href="$!{address.img}/front/favicon.ico" />
        <script src="$!{address.img}/lib/jquery/jquery-1.6.2.min.js"></script>
        <script src="$!{address.img}/zz91/js/2015reg.js" type=text/javascript></script>
        <script src="$!{address.img}/zz91/js/province.js" type=text/javascript></script>
        <script src="$!{address.img}/zz91/js/openoverlay.js"></script>
        <link type="text/css" rel="stylesheet" href="$!{address.img}/zz91/css/openoverlay.css" />
        <link rel="stylesheet" type="text/css" href="$!{address.img}/zz91/css/reg/base.css"/>
        <link rel="stylesheet" type="text/css" href="$!{address.img}/zz91/css/reg/index.css"/>
		<link type="text/css" rel="stylesheet" href="$!{address.img}/front/css/zz91.comm.css" />
        #parse("/seo/analysis_head.vm")
    </head>
    <body>
		#cacheFragment("$!{address.fragment}/china/topbar.htm","","","")
			<div id="topBar">
				<div id="topBarInfo">
					<div id="topBarLogin">
						##<iframe src="$!{address.front}/status.htm" frameborder="0" width="450" height="28" allowTransparency="true" scrolling="no"></iframe>
						<script src="$!{address.front}/webst.htm?$date" type="text/javascript" ></script>
					</div>
					$!{fragmentContext}
				</div>
			</div>
		#end

		## 注册页面公用顶部
		<div class="top">
			<div class="header">
				<div style="float:left; width:500px">
					<img src="$!{address.img}/zz91/images/logo.png" align="absmiddle" style="float:left" />
					<div style="line-height:60px; height:60px; font-size:24px; font-weight:bold; float:left; width:100px; margin-left:50px">
						<font size="+2">
							<strong>免费注册</strong>
						</font>
					</div>
				</div>
				<div class="right">
					<p>
						<a href="$!{address.china}/login.htm">登录</a>｜
						<a href="$!{address.www}">返回首页</a>｜
						<a href="http://help.zz91.com">新手指南</a>｜
						<img src="$!{address.img}/zz91/css/image/icon2.png" /><a href="http://about.zz91.com/contact.html">提意见</a>
					</p>
					<span>如需帮助，请拨打<span style="red">0571-56612345</span></span>
				</div>
			</div>
		</div>

		$screen_content
		
		#cacheFragment("$!{address.fragment}/china/footer.htm","","","")
			$!{fragmentContext}
		#end

		#parse("/seo/analysis_body.vm")
	
	</body>
</html>
#parse("/seo/analysis_foot.vm")