<!doctype html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>$!{seoTitle}</title>
	<meta name="keywords" content="$!{seoKeywords}" />
	<meta name="description" content="$!{seoDescription}" />
	
	<link rel="stylesheet" type="text/css" href="$!{address.css}/zz91.base.css"/>
	<link rel="stylesheet" type="text/css" href="$!{address.img}/zz91/forgetpasswd/css/index.css"/>
    <link rel="shortcut icon" href="http://img0.zz91.com/front/images/logo/favicon.ico">
    <link rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.hack.css" />
    <link rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.comm.css" />
    <script src="http://img0.zz91.com/front/js/zz91.common.js"></script>
	<script src="http://img0.zz91.com/lib/jquery/jquery-1.6.2.min.js"></script>
    <script src="http://img0.zz91.com/front/js/topbar/jquery.topbar.js"></script>
	<script src="$!{address.img}/zz91/forgetpasswd/js/forgetpasswd.js"></script>
	#parse("/common/context.vm")
	#parse("/seo/analysis_head.vm")
	## QQ登录接入 验证
	##<meta property="qc:admins" content="1030130677622116375" />
	
</head>
<body>
	
    
	#cacheFragment("$!{address.fragment}/china/topbar.htm?&3","","","")
		<div id="topBar">
            <div id="topBarInfo">
        		<div id="topBarLogin">
                ##<iframe src="$!{address.front}/status.htm" frameborder="0" width="450" height="28" allowTransparency="true" scrolling="no"></iframe>
				
				<script src="$!{address.front}/webst.htm?$date"></script>
				
                </div>
        		$!{fragmentContext}
            </div>
        </div>
	#end
	
	$screen_content
	#cacheFragment("$!{address.fragment}/china/footer.htm","","","")
    	$!{fragmentContext}
    #end
	
</body>
</html>
#parse("/seo/analysis_foot.vm")

