<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>$!{seoTitle}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
<link rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.base.css" />
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/fuwuNew/css/zz91.service.css" />
<link type="text/css" rel="stylesheet" href="$!{address.css}/zz91.comm.css" />
<link type="text/css" rel="stylesheet" href="$!{address.img}/zz91/css/openoverlay.css">
<script type="text/javascript" src="http://img0.zz91.com/lib/jquery/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="http://img0.zz91.com/zz91/fuwuNew/js/zz91.service.js"></script>
<script type="text/javascript" src="http://img0.zz91.com/zz91/fuwuNew/js/dd.js"></script>
<script src="$!{address.img}/zz91/js/openoverlay.js"></script>
	
<!--[if IE 6]>  
    <script type="text/javascript" src="js/dd_png.js"></script>  
    <script type="text/javascript">  
    DD_belatedPNG.fix('img');
    DD_belatedPNG.fix('.corelist .core-box'); 
    </script>  
<![endif]--> 
</head>
#if($y=="1")
<body>
    #parse("/service/head1.vm")
	$screen_content
</body>
</html>
#elseif($y=="2")
<body>
	#parse("/service/head2.vm")
	$screen_content
</body>
</html>
#end