<div class="well">
    <div class="well-body">
        <form id="searchForm" name="searchForm" method="get" action="#springUrl('/mycompanycustomers/list.htm')">
            <label for="name">联系人：</label>
            <input name="name" type="text" class="field input-medium" id="name" value="$!{customer.name}">
            <label for="company">公司名称：</label>
            <input name="company" type="text" class="field input-medium" id="company" value="$!{customer.company}">
            <label for="tel">电话：</label>
            <input name="tel" type="text" class="field input-medium" id="tel" value="$!{customer.tel}">
            <label for="mobile">手机：</label>
            <input name="mobile" type="text" class="field input-medium" id="mobile" value="$!{customer.mobile}">
            <input name="Submit2" type="submit" class="btn btn-small" id="searchBtn" value="搜  索">
        </form>
    </div>
</div>