#set($layout="/layout/default.vm")
<script src="$!{address.img}/huanbao/js/jquery/jquery-1.6.4.min.js"></script>
<script src="$!{address.img}/huanbao/js/jquery/jquery.validate.min.js"></script>
<div class="ea_mk_p">
	<div class="ea_mkf_p">
		<div>
			<form id="fpwForm" action="/user/sendEmail.htm" method="post">
			<div class="ea_merei_p ea_findi_p"><p id="errormessage" class="inputerror">$!{errormessage}</p>
			<span>用户名/注册邮箱：</span><span><input id="emailOrAccount"  name="emailOrAccount" value="$!{emailOrAccount}"/></span>
			<button type="submit">提交</button>
			<span></span>
			</form>
		</div>
			
			<div class="ea_mrms_p">
				<p><em class="F27800">温馨提示：</em></p>
				<p>1.请输入您在环保网注册的“用户名”或者注册时填写的“邮箱”来找回密码</p>
				<p>2.或者直接拨打客服热线：0571-56633090</p>
			</div>
		</div>
	</div>
</div>
<script>

</script>