##<div class="main_box" style="text-indent:1em;">
##当前位置：ZZ91再生网 > <a href="$!{address.trade}/shebei/gongsi">二手设备黄页</a> > $!{company.name}
##</div>
#set($loName=$!{company.name})
#parse("/common/gsLocation.vm")
<div class="main_box">
	<div class="trtwo_sbleft">
		<div class="trtwo_comhomecompany"><span>普通会员</span>$!{company.name}</div>
		<div class="trtwo_sp"></div>
		<div>
			<ul>
				<li class="trtwo_comhometitlea"><a href="#springUrl('/companyHome')$!{company.id}.htm">公司首页</a></li>
				<li class="trtwo_comhometitlec"><a href="#springUrl('/supply')$!{company.id}.htm">供  应</a></li>
				<li class="trtwo_comhometitlec"><a href="#springUrl('/buy')$!{company.id}.htm">求  购</a></li>
				<li class="trtwo_comhometitlec"><a href="#springUrl('/gsjx')$!{company.id}.htm">公司介绍</a></li>
				<li class="trtwo_comhometitlec"><a href="#springUrl('/contact')$!{company.id}.htm">联系方式</a></li>
			</ul>
			<div class="clear"></div>
		</div>
		<div class="trtwo_sp"></div>
		<div class="trtwo_border">
			<div class="trtwo_comhomecompanyname">公司简介</div>
			<div class="trtwo_comhomegsjs">#printTitle($!{company.details} 100 "")</div>
		</div>
		<div class="trtwo_sp"></div>
		<div class="trtwo_border">
			<div class="trtwo_comhomecompanyname">主营业务</div>
			##<div class="trtwo_comhomegsjs">#printTitle($!{company.mainProductSupply} 100 "")</div>
			<div class="trtwo_comhomegsjs">
				#if(${company.mainProductSupply}&&$!{company.mainProductSupply}!="")
					#printTitle($!{company.mainProductSupply} 100 "")
				#else
					#printTitle($!{company.mainProductBuy} 100 "")
				#end
			</div>
		</div>
		<div class="trtwo_sp"></div>
		<div class="trtwo_border">
			<div class="trtwo_comhomecompanyname">主营方向</div>
			<div class="trtwo_comhomegsjs">
				<font color="#FF0000">销售：</font>#if(${company.mainProductSupply}&&${company.mainProductSupply}!="")#printTitle($!{company.mainProductSupply} 100 "")#end<br />
				<font color="#FF0000">求购：</font>#if(${company.mainProductBuy}&&${company.mainProductBuy}!="")#printTitle($!{company.mainProductBuy} 100 "")#end
			</div>
		</div>
		<div class="trtwo_sp"></div>
		<div class="trtwo_border">
			<div class="trtwo_comhomecompanyname">供求信息</div>
			<div class="trtwo_comhomegyqg">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="trtwo_comhomegy">标题</td>
						<td class="trtwo_comhomeqg">发布时间</td>
					</tr>
					#foreach($supply in $!{listSupply})
						<tr>
							<td class="trtwo_comhomelistinfo"><a href="#springUrl('/pdetail')$!{supply.id}.htm" title="$!{supply.title}">
								#printTitle($!{supply.title} 15 "...")</a>
							</td>
							<td class="trtwo_comhomelistinfo">#printFragmentDate('yyyy-MM-dd' $!{supply.gmtShow})</td>
						</tr>
					#end
				</table>
			</div>
		</div>
		<div class="trtwo_sp"></div>
		<div class="trtwo_border">
			<div class="trtwo_comhomecompanyname">求购信息</div>
			<div class="trtwo_comhomegyqg">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="trtwo_comhomegy">标题</td>
						<td class="trtwo_comhomeqg">发布时间</td>
					</tr>
					#foreach($buy in $!{listBuy})
						<tr>
							<td class="trtwo_comhomelistinfo"><a href="#springUrl('/pdetail')$!{buy.id}.htm" title="$!{buy.title}">#printTitle($!{buy.title} 15 "...")</a></td>
							<td class="trtwo_comhomelistinfo">#printFragmentDate('yyyy-MM-dd' $!{buy.gmtShow})</td>
						</tr>
					#end
				</table>
			</div>
		</div>
	</div>
	<div class="trtwo_sbright">
		#parse("/common/gsRightInfo.vm")
		<div class="trtwo_sp"></div>
		#parse("/common/gsRightCompany.vm")
	</div>
	<div class="clear"></div>
</div>