@charset "gb2312";
A
{
COLOR:#000000; TEXT-DECORATION:none
}
A:hover
{
TEXT-DECORATION:underline; color:#005FA9
}
A.a2
{
COLOR:#005FA9; TEXT-DECORATION:none
}
A.a2:hover
{
TEXT-DECORATION:underline; color:#000000
}
A.a1
{
COLOR:#005FA9; TEXT-DECORATION:underline
}
A.a1:hover
{
TEXT-DECORATION:underline; color:#000000
}
A.a1:visited
{
color:#A367B1
}
BODY
{
MARGIN:0px 0px 0px 0px; TEXT-ALIGN:center; color:#000000; FONT-SIZE:12px; 
background:url(../images/background.jpg) #c6cfd0 repeat-x
}
table,td
{
FONT-FAMILY:??ì?; FONT-SIZE:12px; color:#000000
}
input,textarea
{
font-family:??ì?; font-size:12px
}

.table01
{
width:754px
}
.table02
{
width:558px
}
.table03
{
width:272px
}
.table04
{
width:190px
}

.td01
{
width:554px; vertical-align:top
}
.td02
{
width:10px
}
.td03
{
width:272px; vertical-align:top
}
.td04
{
width:190px; vertical-align:top
}
.td05
{
background-color:#F5F3F4; width:10px; vertical-align:bottom
}

.left_01
{
height:32px; width:20px; background-image:url(../images/left_01.gif)
}
.left_02
{
background-image:url(../images/left_02.gif)
}
.left_03
{
height:20px; width:20px; background-image:url(../images/left_03.gif)
}
.left_04
{
height:24px; width:20px; background-image:url(../images/left_04.gif)
}
.left_05
{
height:20px; width:20px; background-image:url(../images/left_05.gif)
}
.left_06
{
height:24px; width:12px; background-image:url(../images/left_06.gif)
}
.left_07
{
background-image:url(../images/left_07.gif)
}
.left_08
{
height:20px; width:12px; background-image:url(../images/left_08.gif)
}
.left_09
{
height:32px; width:20px; background-image:url(../images/left_09.gif)
}
.left_10
{
background-image:url(../images/left_10.gif)
}
.left_11
{
height:20px; width:20px; background-image:url(../images/left_11.gif)
}
.left_12
{
height:33px; width:20px; background-image:url(../images/left_12.gif)
}
.left_13
{
background-image:url(../images/left_13.gif)
}
.left_14
{
height:39px; width:20px; background-image:url(../images/left_14.gif)
}
.left_14_1
{
height:20px; width:20px; background-image:url(../images/left_14_1.gif)
}
.right_01
{
height:32px; width:20px; background-image:url(../images/right_01.gif)
}
.right_02
{
background-image:url(../images/right_02.gif)
}
.right_03
{
height:20px; width:20px; background-image:url(../images/right_03.gif)
}
.right_04
{
height:24px; width:13px; background-image:url(../images/right_04.gif)
}
.right_05
{
height:20px; width:13px; background-image:url(../images/right_05.gif)
}
.right_06
{
background-image:url(../images/right_06.gif)
}
.right_07
{
height:20px; width:20px; background-image:url(../images/right_07.gif)
}
.right_08
{
height:20px; width:20px; background-image:url(../images/right_08.gif)
}
.right_09
{
height:32px; width:20px; background-image:url(../images/right_09.gif)
}
.right_10
{
background-image:url(../images/right_10.gif)
}
.right_11
{
height:20px; width:20px; background-image:url(../images/right_11.gif)
}
.right_12
{
height:33px; width:20px; background-image:url(../images/right_12.gif)
}
.right_13
{
background-image:url(../images/right_13.gif)
}
.right_14
{
height:32px; width:20px; background-image:url(../images/right_14.gif)
}
.right_14_1
{
height:20px; width:20px; background-image:url(../images/right_14_1.gif)
}
.center_01
{
background-image:url(../images/center_01.gif); padding-bottom:3px; font-family:oúì?; font-weight:bolder; 
font-size:14px; color:#555555
}
.center_02
{
background-color:#ffffff; padding:5px
}
.center_02_
{
background-color:#ffffff; padding:5px
}
.center_03
{
background-image:url(../images/center_03.gif)
}
.center_04
{
background-image:url(../images/center_04.gif);padding-bottom:3px;font-family:oúì?; 	font-weight:bolder;font-size:14px;color:#555555;vertical-align:bottom;font-style: normal;
}
.center_05
{
background-image:url(../images/center_05.gif)
}
.center_06
{
	background-image:url(../images/center_06.gif);
	padding-bottom:3px;
font-family:oúì?; 		font-weight:bolder;
	font-size:14px;
	color:#555555;
	vertical-align:bottom;
	font-style: normal;
	font-family: "黑体";
}
.center_07
{
background-image:url(../images/center_07.gif)
}
.center_08
{
	background-color:#ffffff;
	padding-top:5px;
	padding-bottom:5px;
	vertical-align: top;
}
.center_09
{
background-image:url(../images/center_09.gif); padding-bottom:3px; font-family:oúì?; font-weight:bolder; 
font-size:14px; color:#555555
}
.center_10
{
background-color:#E5EAF0; padding:5px
}
.center_11
{
background-image:url(../images/center_11.gif)
}
.center_12
{
background-image:url(../images/center_12.gif)
}
.center_13
{
background-color:#ffffff; padding:0px
}
.center_14
{
	background-image:url(../images/center_14.gif);
	padding-bottom:7px;
font-family:oúì?; 	font-weight:bolder;
	font-size:14px;
	color:#555555;
	vertical-align:bottom;
	font-style: italic;
}
.center_14_1
{
	background-image:url(../images/center_14_1.gif);
	padding-bottom:7px;
font-family:oúì?; 	font-weight:bolder;
	font-size:14px;
	color:#555555;
	vertical-align:bottom;
	font-style: italic;
}
v
.top01
{
height:15px; background-image:url(../images/top01.gif)
}
.top02
{
padding:10px; background-image:url(../images/top02.gif); vertical-align:top
}
.top03
{
height:15px; background-image:url(../images/top03.gif)
}

.end1
{
widht:754px; padding:20px; line-height:150%; font-size:10px; color:#333333; font-family:Arial
}
.end2
{
font-family:Arial; color:#333333; font-size:12px
}
.end3
{
color:#333333
}
.end4
{
height:33px; width:10px; background-image:url(../images/menu_left.gif)
}
.end5
{
background-image:url(../images/menu_center.jpg)
}
.end6
{
height:33px; width:10px; background-image:url(../images/menu_right.gif)
}
.end7
{
width:700px; background-image:url(../images/top_logo2.jpg)
}
.end8
{
width:451px
}

.m1
{
height:23px; font-size:13px; background:url(../images/me02.gif); text-indent:8px; padding-top:3px
}
.m2
{
height:23px; font-size:13px; text-indent:8px; padding-top:3px
}
.m3
{
padding-bottom:3px; padding-left:8px; padding-top:8px
}
.m4
{
	color:#0000CC;
	text-decoration: underline;
}
.rowline1
{
background-color:#EDEFF0;height:1px
}
.graytext {
	color: #808080;
}

.center_text
{
font-family:oúì?; 	font-weight:bolder;
	font-size:14px;
	color:#333333;
	vertical-align:bottom;
	font-style: italic;
}
.searchadvtext {
	font-family: "宋体";
	font-size: 13px;
	color: #005FA9;
	font-weight: bold;
}
.ttext1 {
	font-family: "宋体";
	font-size: 13px;
	color: #005FA9;
}

.bgcolor1 {
	background-color: #E5EAF0;
}
.21height {
	height: 21px;
}.ttext2 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}.ttext_title {
	font-family: "宋体";
	font-size: 13px;
	font-weight: bold;
	color: #005FA9;
}.ttext_title1 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
}
.ttext_b1 {
	font-weight: bold;
}
.notviewed {
	font-weight: bold;
	background-color: #FFFFFF;
	color: #0033CC;
	font-size: 12px;
}
.advsearch1 {
	background: #EEEEEE;
	border: 1px #CCCCCC;
}
.xiaxian {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.putt {
    font-size: 12px;
	color: #000000;
	background-image: url(../newimages/button_bg.gif);
	height: 21px;
	width: 70px;
	border: none;
	padding-top: 3px;
}
.putt1 {
	background-image: url(../newimages/button_bg1.gif);
	height: 21px;
	border: none;
	width: 150px;
	padding-top: 3px;
}
td {
	font-size: 12px;
}
