#set($layout="/layout/resetPasswordLayout.vm")
<div class="forgot">
    <!--end f-header-->
    <div class="f-content">
    <div class="f-back">
    	<div class="f-back-title">我忘记了登录名</div>
        <!--end f-login-title-->
        <div class="f-back-box">
        	<div class="f-back-img">
            	<a href="#springUrl('/user/mobileforauth.html')"><img src="$!{address.img}/zz91/forgetpasswd/images/back_img1.jpg" /></a>
            </div>
            <div class="f-back-img">
            	<a href="#springUrl('/user/mailforauth.html')"><img src="$!{address.img}/zz91/forgetpasswd/images/back_img2.jpg" /></a>
            </div>
            
        </div>
        <!--end f-back-box-->
    </div>
    <!--end f-back-->
    </div>
    <!--end f-content-->
</div>
<!--end forgot-->