#set($layout="/layout/resetPasswordLayout.vm")
<div class="forgot">
    <!--end f-header-->
    <div class="f-content">
    <div class="f-mobile ">
    	<div class="f-mobile-title">
        	我忘记了用户名。
    </div>
       
        <!--end f-back-box-->
        <div class="f-mobile-box2">
        	<div class="f-mobile-text1 fl">
            	您找回的会员名:
            </div>
			<div class="f-mobile-text1 fl" style="color:#ff0000">
				$!{username}
            </div>
           
			
            <!--end f-mobile-obtain-->
            <div class="f-mobile-text2 fl">
                您可以：1. <a href="#springUrl('/user/login.html')">直接登录</a>，
                2. 忘记密码，<a href="#springUrl('/user/forgetpassword.html')">点此找回 </a>
            </div>
            <!--end f-mobile-text1-->
            <div class="cb"></div>
        </div>
        
    </div>
    <!--end f-back-->
    </div>
    <!--end f-content-->
</div>
<!--end forgot-->
