#set($layout="/layout/resetPasswordLayout.vm")
<style>
	.f-header{
		height : 85px;
	}
	.m-content{
		 font-size : 15pt;
		 margin : 80px 0 80px 270px;
		 font-weight:bold;
	}
</style>
<div class="forgot">
	<div class="f-header">
    	<img src="$!{address.img}/zz91/forgetpasswd/images/21.jpg" class="fl" />
    </div>
    <!--end f-header-->
    <div class="m-content">
		<span id="validate">正在验证......</span>
      	<div style="clear:both"></div>
    </div>
    <!--end f-login-->
    </div>
    <!--end f-content-->
</div>
<!--end forgot-->
<script>
	$(document).ready(function(){
		if("$!{in}"=="1"){
				location.href = "#springUrl('/doLogin.htm')";
		}else{
			jQuery("#validate").html("验证失败");
		}
	})
</script>