/*********hb company topbar start**********/
input{vertical-align:middle}
.hb_company_bar{height:35px;line-height:35px;background-image:url(../images/company/company_idx_bg.gif)}
.company_topbar_logo{display:block;width:51px;height:21px;float:left;margin:7px 30px 7px 0px;_margin:7px 15px 7px 0px}
.hb_compbar_r{display:block;float:right}
.compbar_input{height:18px;width:160px;*margin-top:6px;_margin-top:0px;}
.company_bar_ipt,.company_bar_radio,.company_topbar_schtxt a{display:block;margin-left:8px;_margin-top:6px;float:left}
.company_topbar_schtxt a{_margin-top:0px;width:54px;text-align:center;background:url(../images/company/company_01.gif) no-repeat left -70px}

/*********hb company topbar end**********/

/*********hb company header start**********/
.company_header{position:relative;height:178px;background:url(../images/company/company_00.gif) no-repeat;width:958px;margin:0 auto}
.company_header h1,.company_header img,.company_header_r{position:absolute}
.company_header img{top:42px;left:25px}
.company_header h1{font-size:30px;color:#000;left:190px;top:70px}
.company_header_r{height:29px;width:239px;right:0px;top:8px;background:url(../images/company/company_red.gif) no-repeat}
.company_header_rl,.company_header_rr,.company_header_r_num{display:block;font-size:13px;float:left}
.company_header_rl{color:#FF0;margin:8px 26px 8px 60px;*margin:8px 20px 8px 60px;_margin:8px 20px 8px 30px}
.company_header_rr{color:#FFF;margin-top:8px}
.company_header_r_num{color:#ff0;font-size:20px;margin:4px}
/*********hb company header end**********/

/*********hb company mainblock start******/
.hb_mainblock,.compy_ml_newprod,.compy_ml_group,.compy_ml_links,.compy_ml_sch,.compy_mainb_r_intro,.compy_mainb_r_prods,.compy_mainb_r_psttxt,.compy_mainb_r_top,.compy_hstscore_title,.compy_certificate,.compy_mainb_r_askprice,.compy_mainb_r_otherprods,.compy_mainb_r_protop,.compy_prodts_section3{height:1%;margin-top:8px}
.compy_mainb_l{width:216px;float:left}
.compy_ml_img img{margin:5px 5px 2px 5px;*margin:5px}
.compy_ml_newprod h3,.compy_ml_group h3,.compy_ml_links h3,.compy_ml_sch h3,.compy_mainb_r_intro h3,.compy_mainb_r_prods h3,.compy_mainb_r_psttxt h3,.compy_hstscore_title h3,.compy_certificate h3,.compy_mainb_r_askprice h3,.compy_mainb_r_otherprods h3,.compy_mainb_r_protop h3,.compy_prodts_section3 h3{margin:8px 8px 0px 8px;width:80px}
.compy_l_newprod_ul,.compy_ml_group_ul,.compy_ml_links ul,.compy_ml_sch_contaner,.compy_mainb_r_i_conts,.compy_mainb_r_i_ul,.compy_mainb_psttxt_ul,.compy_mainb_r_prods form,.compy_hstscore_bordertop,.compy_certificate_bordertop,.compy_certificate_d2,.compy_certificate_bottom,.compy_mainb_r_askprice form,.borderblue-top{margin:0px 8px 8px 8px}
.compy_ml_newprod h3{width:60px}
.compy_l_newprod_ul li{padding:8px 0px 0px 16px;background:url(../images/global/add_01.gif) no-repeat left 6px}
.compy_l_newprod_ul li ul li{background:url(../images/global/add_01.gif) no-repeat left -18px}
.compy_ml_group h3{width:80px;}
.compy_ml_group_ul_li{height:60px;*height:68px;_height:60px}
.compy_ml_group_ul_li li{padding:4px;margin:6px 6px 2px 0px;*margin:4px 4px 4px 0px;_margin:3px 4px 3px 0px;float:left}
.compy_ml_links h3{width:90px}
.compy_ml_links ul li{padding-top:8px}
.compy_ml_sch h3{width:90px}
.compy_ml_sch_contaner{position:relative;display:block;margin:0px 8px 26px 8px;padding:14px 0px;}
.compy_ml_sch_ipt{display:block;float:left}
.compy_ml_sch_ipt input{height:22px;width:100px;margin-right:8px;}
.compy_ml_sch_ipt,.compy_ml_sch_txt a{position:absolute;display:block}
.compy_ml_sch_txt a{background:url(../images/company/company_01.gif) no-repeat left -42px;width:62px;height:25px;line-height:25px;right:30px;*right:22px;_right:30px;text-align:center;top:14px;*top:15px;_top:16px}
.compy_mainb_r{width:732px;height:1%;float:right}
.compy_mainb_nav{height:33px;background:url(../images/company/company_nav_bg.gif) repeat-x}
.compy_mainb_nav_l,.compy_mainb_nav ul li{float:left}
.compy_mainb_nav ul li{display:block;height:33px;line-height:33px}
.compy_mainb_nav ul li a{display:block;color:#333;padding:0px 30px;background:url(../images/company/company08.gif) no-repeat left}
.compy_mainb_nav ul li a:hover{color:black;text-decoration:underline}
.compy_mainb_r_intro h3{width:60px}
.compy_mainb_r_i_conts{text-indent:2em;padding:8px 0px}
.compy_mainb_r_i_ul li{float:left;width:164px;margin:8px 12px 17px 0px;_margin:8px 10px 36px 0px; }
.compy_mainb_rli_img img{margin:6px;}
.compy_mainb_r_i_ul li div,.compy_mainb_r_i_conts{line-height:23px}
/*********hb company mainblock end******/
/*********hb company introduce start******/
.compy_intrdce_img img{display:block;margin:8px auto}
.compy_mainb_r_i_conts p{margin:16px 0px 8px 0px}
.compy_mainb_r_psttxt h3{width:120px}
.compy_psttxt_above ul,.compy_contact_top{height:35px;background:#f4f6f7}
.compy_psttxt_above ul li{margin:0px 90px;_margin:0px 70px;line-height:35px;float:left}
.compy_psttxt_below{margin-top:8px}
.compy_psttxt_below_li{height:30px;*height:20px;_height:28px}
.compy_psttxt_below_li div{margin-right:60px;_margin-right:40px;float:left}
.compy_psttxt_bolow_reply{_margin-left:20px}
.compy_psttxt_bolow_replylst{margin-left:50px;}
/*********hb company introduce start******/

/********hb company products lists start****/
.company_marinb_r_page{margin-bottom:16px;font-size:14px;text-align:center}
/********hb company products lists end*****/

/********hb company contact start****/
.compy_contact_top{padding-left:80px;margin-left:8px;font:bold 14px/35px '宋体'}
.compy_contact_info,.compty_contact_btn,.compty_contact_btn a{display:block;float:left}
.compty_contact_btn{font-size:12px}
.compty_contact_btn a,.company_leavemst_btn a{display:block;margin:5px 0px 5px 20px;width:87px;height:25px;text-align:center;line-height:25px;background:url(../images/company/company_02.gif) no-repeat left -176px;color:white}
.compty_contact_btn a:hover,.company_leavemst_btn a:hover{color:white;background:url(../images/company/company_02.gif) no-repeat left -216px}
.compy_contact_addrinfo{margin:0px 0px 8px 80px}
.compy_contact_addrinfo div{margin:8px 0px}
/********hb company contact end*****/

/*******hb company leavemessage start*****/
.company_leavemsg_title,.company_leavemsg_tip,.company_leavemsg_conts,.company_leavemst_btn{margin:20px 0px 20px 90px}
.company_leavemsg_title_l,.company_leavemsg_conts_l{display:block;width:70px;height:24px;line-height:24px;text-align:right;float:left}
.company_leavemsg_tip{padding-left:80px}
.company_leavemsg_title_r input,.company_leavemsg_conts_r textarea{margin-left:15px;width:400px;height:24px}
.company_leavemsg_conts_r textarea{height:200px}
.company_leavemst_btn a{margin:0px auto}
/******hb company leavemessage end*****/

/*******hb company honstscore start*****/
.compy_hstscore_bordertop{*padding-top:20px}
.compy_hstscore_title h3{width:110px}
.compy_hstscore_title table{margin:20px auto;width:710px;height:120px}
.compy_hstscore_title table tr td{border:solid 1px #908f8f}
.compy_hstscore_table_l{width:200px;background:#eeeeee;text-align:center}
.compy_hstscore_table_r{padding-left:15px}
/*******hb company honstscore end*****/

/*******hb company certificate start*****/
.company_cetfca_t{padding-left:30px;height:35px;line-height:35px;background:url(../images/company/company_catfca_bg.gif)}
.company_cetfca_t1_ul{height:26px;line-height:26px;background:#e7e7e7}
.company_cetfca_t1_ul li{padding:0px 45px;float:left}
.company_cetfca_t2_ul{margin:20px 0px 0px 10px}
.company_cetfca_t2_ul li{float:left}
.compy_cetfc_li1{height:120px;width:110px}
.compy_cetfca_li2,.compy_cetfca_li3,.compy_cetfca_li4,.compy_cetfca_li5{text-align:center;width:170px;padding:45px 0px}
.compy_cetfca_li3{width:120px}
.compy_cetfca_li4{width:130px}
.compy_cetfca_li5{width:150px}
.compy_cetfca_t_oth{padding-left:30px;background:#e7e7e7;height:40px;font:bold 12px/40px '宋体'}
/*******hb company certificate end*****/

/*******hb company products info start****/
.compy_mainb_r_askprice h3,.compy_mainb_r_protop h3{width:60px}
.compy_mainb_r_otherprods h3{width:168px}
.compy_prodts_info_r_img{margin-top:8px;float:left}
.compy_prodts_info_r_img img{margin:4px}
.compy_prodts_info_r_txt{width:465px;margin:8px 0px 0px 16px;float:left}
.compy_prodts_infor_l{height:28px;line-height:28px;border-bottom:dashed 1px #908f8f}
.compy_prodts_btnl,.compy_prodts_btnr,.compy_prodts_collect{margin-top:8px;display:block;float:left}
.compy_prodts_btnl a,.compy_prodts_btnr a{display:block;margin-right:25px;height:33px;width:134px;background:url(../images/company/company_02.gif) no-repeat;font:bold 14px/33px '宋体';text-align:center;color:#fff}
.compy_prodts_btnl a:hover,.compy_prodts_btnr a:hover{color:#fff;background:url(../images/company/company_02.gif) left -45px }
.compy_prodts_collect{margin-top:16px;padding-left:20px;background:url(../images/global/start_02.gif) no-repeat}
.compy_r_otherprods_btn a{display:block;height:31px;width:89px;margin-right:4px;background:url(../images/company/company_02.gif) left -90px;font:bold 14px/31px '宋体';text-align:center;color:#fff;float:left}
.compy_r_otherprods_btn a:hover{color:#fff;background:url(../images/company/company_02.gif) left -133px;}
.compy_r_otherprods_table table,.compy_prodts_section3 table{margin:20px auto;height:30px;width:710px}
.compy_r_otherprods_l{width:60px}
.compy_r_otherprods_mid h4{font-weight:500}
.compy_prodts_section3 h3{width:60px}
.compy_prodts_section3 table{height:60px}
.compy_prodts_st3_td{width:60px;text-align:right}
.compy_prodts_st3_btn a{display:block;width:155px;height:29px;background:url(../images/company/company_01.gif) no-repeat;text-align:center;font:normal 12px/29px '宋体'}
.compy_r_otherprods_table{*padding-top:10px}
/*******hb company products info end*****/