/* asto ep  news style  hetao138@gmail.com*/
.hb_mainblock a:hover{border-bottom:1px solid #0D7201; color:#0D7201}
.epnewscont{ line-height:24px}
.epnewstit {font: bold 14px/28px '宋体';color: #111}
.adblock a:hover{ border-bottom:none}

.pages{ text-align:center; font:normal 14px/36px '宋体';color:#69686c; margin:24px 24px 24px 0; float:right}
.pages a{ color:#0774ac; border:1px solid #F6F6F6; padding:8px;color:#69686c;float:left}
.pages a:hover{ background-color:#EFEFEF; color:#111; border-bottom-color:#F60}
.pages a.currentpage{background-color:#F6F6F6; color:#111;border-bottom-color:#F60;color:#69686c;font-weight:bold; cursor:default}

.ni_newsblock_normal{ border:1px solid #E5E3E3; background:url(../images/news/hb_news_titbg.gif) repeat-x left top;}
.ni_newsblock_normal_h{  line-height:28px; height:28px; margin:0 10px; border-bottom:1px solid #eae7e7;}
.ni_newsblock_normal_h_noborder{  line-height:28px; height:28px; margin:0 10px}
.ni_newsblock_max_h{  line-height:36px; height:36px; margin:0 10px; border-bottom:1px solid #eae7e7;}
.ni_newsblock_normal_h .tit{ width:100px}
.ni_newsblock_normal_l,.ni_newsblock_freedom_l{padding:4px 12px}
.ni_newsblock_normal_l li{ line-height:28px; height:28px;padding-left:8px; vertical-align:bottom/*ie6 双倍边距 hacher*/}
.ni_newsblock_freedom_l li{ float:left;line-height:28px; width:70px; height:28px;overflow:hidden; text-align:center; padding:0 2px}
.new_tit_normal{font:normal bold 16px/36px 'Microsoft YaHei' 'Arial' '黑体';height:36px;}
.ni_top_flash{ width:294px; border:1px solid #c3c8b8; height:224px; padding:2px}
.ni_top_flash img{ width:294px; height:224px}
.weibo_qq,.weibo_sina{ float:right; background:url(../images/news/hb_icon_wb.gif) left -8px no-repeat; padding-left:2.5em}
.weibo_sina{ background-position:left -46px}


/****top middle****/
.ni_top_new{ width:388px; border:1px solid #E5E3E3}
.ni_top_newest{ background:url(../images/news/hb_news_03.gif) left top no-repeat; padding-top:24px;padding:18px 0 5px 0;_padding:23px 0 5px 0}
.ni_top_newest h3.tit{ font:normal bold 18px/28px 'Microsoft YaHei' '黑体'; text-align:center}
.ni_top_newest h3.tit a{ color:#0d7201}
.ni_top_newest h3.tit a:hover{ border-bottom-color:#0d7201}
.ni_top_newest_about{ line-height:24px; text-align:center; color:#8a8989}
.ni_top_newest_about a{ color:#8a8989;padding:0 2px}
.ni_top_newest_about a:hover{ color:#8a8989; border-bottom-color:#8a8989}
.ni_top_hot{ border-top:1px dotted #efeeee; padding:0 0 4px 0}
.ni_top_hot h3.tit{ font:normal bold 18px/36px 'Microsoft YaHei' '黑体'; text-align:center}
.ni_top_hot h3.tit a{ color:#0d7201; background:url(../images/news/hb_news_10.gif) right top no-repeat; padding-right:32px}
.ni_top_hot_dsp{ line-height:20px; padding:0 12px; text-indent:2em;color:#8a8989}

.ni_top_newslist{font:normal 14px/24px '宋体'; padding:0px 12px 8px 12px}
.ni_top_exhibit_exp{ padding:4px 0}
.ni_top_exhibit{border-top: 1px dotted #EFEEEE; padding:0 12px 9px 12px}
.ni_top_exhibit_exp span{ display:block}
.ni_top_exhibit_exp a:hover{ border-bottom:none}
.exhibit_exp_box{ width:120px; text-align:center; float:left}
.exp_box_img img{ height:96px; width:100px; padding:2px; border:1px solid #c3c8b8}
.exp_box_tit{ line-height:24px; height:24px}

.news_infobox{ border:1px solid #C3C8B8; border-bottom:0}
.news_infobox_tabs{ height:24px; font:normal bold 14px/28px '宋体'; color:#555}
.news_infobox_tabs span{ display:block; float:left; text-align:center}
.ifb_tabs_cont{ border-bottom:1px solid #C3C8B8; display:none;height: 146px;_height: 143px}
.ifb_tabs_01{ border-right:1px solid #C3C8B8; width:123px}
.ifb_tabs_02{border-bottom:1px solid #C3C8B8;width:124px}
.ifb_tabs_03{ border-bottom:1px solid #C3C8B8;border-right:1px solid #C3C8B8;width:123px}
.isselected{ color:#F60}
.newstabsiocn01{ background:url(../images/global/icon/10094.gif) 16px 8px no-repeat}
.newstabsiocn02{ background:url(../images/global/icon/10578.gif) 16px 8px no-repeat}
.newstabsiocn03{ background:url(../images/global/icon/10078.gif) 10px 8px no-repeat}
.newstabsiocn04{ background:url(../images/global/icon/10076.gif) 10px 8px no-repeat}
.newstabsiocn05{ background:url(../images/global/icon/10021.gif) 12px 8px no-repeat}
.newstabsiocn06{ background:url(../images/global/icon/10454.gif) 16px 8px no-repeat}

.news_num_icon{ background-image:url(../images/news/hb_news_num.gif); background-repeat:no-repeat; text-indent:1.2em; line-height:28px; height:28px; overflow:hidden}
.news_num_icon01{ background-position:left 3px}
.news_num_icon02{ background-position:left -27px}
.news_num_icon03{ background-position:left -57px}
.news_num_icon04{ background-position:left -87px}
.news_num_icon05{ background-position:left -117px}
.news_num_icon06{ background-position:left -147px}
/*********block next************/
.ni_newsblock_next_l{ height:280px}
.ni_newsblock_next_l span{ display:block; float:left}
.ni_newsblock_next_l  li a:hover{ color:#0774ac; border-bottom-color:#0774ac}
.ni_newsblocklist_tit{ width:178px; overflow:hidden}
.ni_newsblocklist_area{ width:50px; text-align:center}
.ni_newsblocklist_date{ width:80px;color:#b9b7b7; text-align:center}

.ni_hotsub_box{ margin:12px 0}
.ni_hotsub_box span{ display:block}
.ni_hotsub_box_img{ float:left; width:80px}
.ni_hotsub_box_img img{ height:70px; width:70px; padding:1px; border:1px #efefef solid}
.ni_hotsub_box_img a:hover{ border-bottom:none}
.ni_hotsub_box_cont{ float:left; width:146px}

/*********block 3rd************/
#hb_mainblock_3rd .ni_newsblock_normal{ height:296px; overflow:hidden}
.ni_newsblock_normal_c{ padding:7px 12px 0 12px}
.ni_c_img{ width:80px; float:left;}
.ni_c_img a:hover{ border-bottom:none}
.ni_c_img img{ border:1px solid #EFEFEF; padding:1px; height:70px; width:70px}
.ni_c_cont{ width:208px; float:left }

.ni_newsblock_normal_b{ width:102px; float:left; text-align:center; float:left; padding:16px 0}
.ni_b_img{ width:98px; float:left;}
.ni_b_img a:hover{ border-bottom:none}
.ni_b_img img{ border:1px solid #EFEFEF; padding:1px; height:70px; width:70px}
.ni_b_tit{ font:normal bold 13px/24px '宋体'; text-align:center} 

/*********news list *********/
.nl_list{ border:1px solid #e5e3e3; padding-bottom:24px;}
.nl_list .tit{ height:28px; font:normal bold 14px/28px '宋体'; border-bottom:1px solid #e5e3e3; padding:0 1em; background:url(../images/news/hb_news_titbg.gif) repeat-x}
.nl_list_topbg{ background-color:#EFEFEF; float:left; padding-top:24px; margin-bottom:12px; border-bottom:1px dotted #e5e3e3}
.nl_list li{ float:left; line-height:24px; font-size:14px;padding:0 24px 0 36px;}
.nl_list li a:hover{ border-bottom:none;color:#F60}
.nl_list li span{ display:block; float:left}
span.nl_list_tit{ width:398px; float:left; }
span.nl_list_date{ width:120px; float:left; color:#999}
span.nl_list_clicknum{ width:120px;color:#999}
.nl_list_block{ margin-bottom:18px}
.nl_liststyle li{ background:url(../images/global/hb_listblack.gif) 24px 11px no-repeat}
.nl_list_topbg li{ background:url(../images/news/hb_news_listbg.gif) 24px 8px no-repeat}
.ni_c_cont_r{ width:145px; float:left }

.ni_newsblock_normal_r_box{ padding-left:4px}
.ni_newsblock_normal_r_b{ width:82px; float:left; text-align:center; float:left; padding-top:8px}
.ni_r_b_img{ width:78px; float:left;}
.ni_r_b_img a:hover{ border-bottom:none}
.ni_r_b_img img{ border:1px solid #EFEFEF; padding:1px; height:70px; width:70px}
.ni_r_b_tit{ font:normal bold 13px/24px '宋体'; text-align:center} 

/***********details********/
.nd_details{ border:1px solid #e5e3e3; padding-bottom:24px}
.nd_details .tit{ font:normal bold 24px/108px '宋体'; text-align:center}
.nd_details_info{ text-align:center; color:#999; margin-top:-10px; margin-bottom:10px}
.nd_details_info a{color:#999; padding-right:12px}
.nd_details_tip{ margin:0 24px; border-top:1px solid #e5e3e3;border-bottom:1px solid #e5e3e3; background-color:#f9f9f9; padding:8px 12px; line-height:24px; margin-bottom:24px; color:#6c6f6d}
.nd_details_content{ padding:24px 36px; font-size:14px; line-height:24px;}
.nd_details_articlejump{ line-height:36px; padding:0 24px}
.article_previous{ float:left}
.article_next{ float:right}
.nd_details_btninfo{ background-color:#f9f9f9; line-height:36px; margin:0 12px; padding:0 12px; margin-bottom:-18px}
.nd_details_btninfo_l{ padding-right:24px; float:left}
.nd_details_btninfo_r{ float:right}
.nd_details_btnli li{ width:325px; float:left}

.nd_details_asideblock{ height:38px; position:relative; padding:0 24px}
.nd_asideblock_lab{ position:absolute;left:108px; top:6px;color:#999; z-index:2; height:24px; line-height:24px; padding:0 4px; width:280px;}
.nd_asideblock_ipt{ position:absolute; height:24px; border:1px solid #C3C8B8; width:280px; left:108px; top:6px; z-index:1}
.nd_asideblock_btn{ position:absolute; left:400px;top:6px; background:url(../images/news/hb_news_btnbg.gif) no-repeat; height:25px; width:59px; border:none; color:#555; cursor:pointer}

/*zz91slide */
.container{ width:322px;height:225px; position:relative; z-index:1; border:1px solid #ccc; padding:2px; background-color:#F0F0F0;}
.toggleBtn{ position:absolute; right:4px; bottom:4px; z-index:3; }
.toggleBtn a{ background:#999; margin:0 1px; padding:6px; border:1px solid #FFF; font:normal bold 14px/18px '宋体'; color:#000; text-decoration:none; display:block; float:left; opacity:0.8; -moz-opacity:0.8; filter:alpha(opacity:80);}
.toggleBtn a.selected{ background:#050; border:1px solid #FFF; color:#FFF;text-decoration:underline;}
.toggleImg{ position:absolute; z-index:2; height:225px; width:322px; }
.toggleImg a{ position:absolute; display:none;}
.toggleImg img{ width:322px; height:225px;}
.adblock1{width:982px}
.adblock1 img{ margin-right:8px}
