@charset "utf-8";
/* CSS Document */
/********postbuy  search last  start**********/
.buysch_lst_nav{padding-left:16px}
.buysch_lst_top{margin:8px 0px 0px;height:1%}
.buysch_lst_top_above h1,.buysch_lst_mid h3,.buysch_lst_foot{height:42px;line-height:42px;background:url(../images/trade/postoffer/pstofr_one_bg.gif);text-align:center}
.buysch_above_l,.buysch_above_m{margin:16px 0px 0px 22px;_margin:16px 0px 0px 11px;width:280px;float:left}
.buysch_above_l_img{padding:6px;border:solid 1px #dddddd}
.buysch_above_l_info{padding:8px 0px 0px 0px;height:24px;line-height:24px;text-align:center}
.buysch_above_collect,.buysch_above_big{display:block;padding-left:24px}
.buysch_above_collect{margin-left:50px;_margin-left:25px;background:url(../images/trade/postoffer/buysch_lst.gif) left 136px;float:left}
.buysch_above_big{margin-right:50px;_margin-right:25px;background:url(../images/trade/postoffer/buysch_lst.gif) 2px 90px;float:right}
.buysch_above_m{width:290px;_margin-left:22px;padding-top:16px}
.buysch_above_m_top ul,.buysch_above_m_botom ul{display:block;height:24px;line-height:24px;border:solid 1px #776060;border-style:none none dashed none;}
.buysch_above_m_top ul li,.buysch_above_m_botom ul li{padding-right:8px;font-weight:bold;float:left}
.buysch_above_m_center{margin:8px 0px 8px 0px;height:35px;text-align:center}
.buysch_m_btn_l a,.buysch_m_btn_r a{display:block;background:url(../images/trade/postoffer/buysch_lst.gif) left -82px;width:139px;font:bold 14px/35px '宋体';color:white }
.buysch_m_btn_l{background:url(../images/trade/postoffer/buysch_lst.gif) left -82px;float:left}
.buysch_m_btn_r{float:right}
.buysch_above_m_botom ul{border:none}
.buysch_above_m_botom ul li{font-weight:500}
.buysch_above_r{margin:16px 22px 0px 0px;_margin:16px 11px 0px 0px;width:290px;border:solid 1px #dddddd;float:right}
.buysch_above_r h3{background:url(../images/trade/postoffer/pstbuy_sech_lst_03.gif) repeat-y;height:30px;padding-left:194px;font:normal 12px/30px '宋体';color:#908f8f;}
/*****not vip style********/
.buysch_above_r_notice,.buysch_above_r_btn{display:block;margin:50px 67px;text-align:center;width:156px;height:30px;line-height:30px}
.buysch_above_r_btn{background:url(../images/trade/postoffer/buysch_lst.gif) -167px -84px}
/*****not vip style********/
/*****vip style*********/
.buysch_above_r_ul,.buysch_lst_below_ul{margin:16px 0px 4px 10px;*margin:8px 0px 4px 10px}
.buysch_above_r_li li,.buysch_lst_below_li li{display:block;padding:7px 4px;*padding:3px 4px;float:left}
.buysch_lst_above_r_vpbtn{margin-bottom:14px;height:32px;line-height:32px}
.buysch_lst_vpbtn_l a,.buysch_lst_vpbtn_r a{background:url(../images/trade/postoffer/pstbuy_lst_btn00.gif) no-repeat left 2px;margin-left:14px;width:124px;text-align:center;display:block;float:left}
/*****vip style*********/
.buysch_lst_top_below{margin:16px 0px 0px 16px;width:920px;}
.buysch_lst_top_below h3{height:42px;line-height:42px;border-style:solid none none none}
.buysch_lst_top_below table{width:920px}
.buysch_lst_top_below table tr td{height:30px;text-align:center;border:solid 1px #a8a8a8}
.buysch_tbelow_td{width:90px;background:#ededed}
.buysch_tbelow_block_t{height:1%;margin:24px auto;width:466px}
.buysch_tbelow_block_t h4{padding-left:10px;background:url(../images/trade/postoffer/buysch_lst.gif);height:33px;color:white;font:bold 14px/33px '宋体'}
/*******not vip style*******
.buysch_tbelow_block_txt{padding-top:30px;*height:140px;border-style:none solid solid solid;}
.buysch_tbelow_block_conts,.buysch_tbelow_block_btn{display:block;margin:30px auto;height:30px;text-align:center}
.buysch_tbelow_block_btn{background:url(../images/trade/postoffer/buysch_lst.gif) 154px -148px;font:normal 12px/30px '宋体'}
******not vip style********/
/******vip style**********/
.buysch_lst_below_ul{margin:20px 40px}
.buysch_tbelow_block_txtvip{height:1%;background:#ffffff}
/******vip style**********/
.buysch_tbelow_block_botom{margin-top:16px;text-align:center}
.buysch_lst_mid{margin-top:8px}
.buysch_lst_mid h3{padding-left:16px;text-align:left}
/****
.buysch_lst_mid_ul{margin:9px auto;width:920px;height:300px}
.buysch_lst_mid_ul ul{height:30px;line-height:30px;float:left}
.buysch_lst_mid_ul ul li{text-align:center;float:left}
.buysch_mid_ul_li1,.buysch_mid_ul_li2,.buysch_mid_ul_li3,.buysch_mid_ul_li4{border:solid 1px white;border-style:none solid none none}
.buysch_mid_ul_li1{width:110px;}
.buysch_mid_ul_li2{width:335px;}
.buysch_mid_ul_li3{width:220px;}
.buysch_mid_ul_li4{width:140px;}
.buysch_mid_ul_li5{width:110px;}
***/
.buysch_lst_mid_ul{margin:9px auto;*margin:4px auto;width:920px;height:300px}
.buysch_lst_mid_li li{width:100px;display:block;height:30px;*height:20px;_height:15px;line-height:30px;*line-height:20px;_line-height:15px;text-align:center;float:left}
.buysch_lst_mid_li{height:30px;}
.buysch_lst_mid_li .buysch_lstmid_li1{width:110px}
.buysch_lst_mid_li .buysch_lstmid_li2{width:335px}
.buysch_lst_mid_li .buysch_lstmid_li3{width:220px}
.buysch_lst_mid_li .buysch_lstmid_li4{width:140px}
.buysch_lst_mid_li .buysch_lstmid_li5{width:110px}
.lstbg{background:#e3e3e3}
.buysch_lst_botom{margin-top:8px;padding-bottom:16px;background:#f4f4f4}
.buysch_lst_botom h3{margin-left:16px;height:40px;line-height:40px;border-style:none none dashed none}
.buysch_lst_botom_titleform,.buysch_lst_botom_emaiform{margin:16px 210px 0px;height:24px;line-height:24px;}
.buysch_lst_botom_areaform{margin:16px 210px 0px} 
.buysch_lst_form_txt{display:block;width:100px;text-align:right;float:left}
.buysch_lst_form_ipt{display:block;margin-left:8px;float:left}
.buysch_lst_form_ipt input,.buysch_lst_form_area textarea{width:320px;height:22px;border:solid 1px #a8a8a8}
.buysch_lst_form_area textarea{margin-left:8px;*margin-left:14px;_margin-left:12px;height:160px}
.buysch_lst_botom_sure a{display:block;width:156px;height:30px;margin:20px auto 10px;background:url(../images/trade/postoffer/buysch_lst.gif) left -148px;text-align:center;line-height:30px}
.buysch_lst_foot{margin-top:8px;border:solid 1px #ececec}
.buysch_lst_ftsch_l,.buysch_lst_foot_input{display:block;height:30px;width:90px;margin:5px 0px 5px 240px;*margin-left:240px;_margin-left:120px;line-height:30px;border:solid 1px #ececec;float:left}
.buysch_lst_ftsch_l{padding-right:20px;background:url(../images/trade/postoffer/buysch_lst.gif) 76px -208px}
.buysch_lst_foot_input,.buysch_lst_foot_r a{width:300px;margin:5px 5px 8px 5px}
.buysch_lst_foot_input input{width:300px;height:30px;border:none;background:none}
.buysch_lst_foot_r a{display:block;width:88px;height:31px;background:url(../images/trade/postoffer/buysch_lst.gif) 123px -83px;font:normal 12px/30px '宋体';color:white;float:left}
/********postbuy  search last  start**********/


/******postbuy search noresulst start*******/
.trade_buysch_norstblock{margin-top:16px}
.buysch_norslt_top{height:30px;background:url(../images/trade/postoffer/pstbuy_shchno_bg.gif);padding-left:16px;font:500 12px/31px '宋体'}
.buysch_norslt_top_l{display:block;float:left}
.buysch_norslt_top_r{padding-right:16px;float:right}
.buysch_norslt_conts{margin-top:8px}
.buysch_norslt_conts_l{width:540px;float:left}
.norslt_cl_top_t{margin:36px}
.norslt_cl_top_t_l{width:120px;height:120px;display:block;float:left}
.norslt_cl_top_t_r{display:block;float:right}
.norslt_cl_top_txt,.norslt_cl_top_txt2{display:block;font-size:16px;padding-top:16px;color:#256a00}
.norslt_cl_top_txt2{padding-left:20px;background:url(../images/trade/postoffer/pstbuy_schno_06.gif) no-repeat left 16px;font-size:14px;color:#f27800}
.buysch_norslt_cl_top h3{margin-left:8px;font-size:14px}
.buysch_norslt_conts_mid,.buysch_norslt_conts_btm{background:#f3f3f3;margin:23px 20px 0px 0px;padding:20px 0px 20px 6px;*padding:20px 0px 34px 6px;_padding:20px 0px 20px 6px;}
.buysch_norslt_conts_mid{margin:12px 20px 0px 0px;}
.norslt_conts_mid_t,.norslt_conts_mid_sch,.norslt_conts_btm_top,.norslt_conts_btm_btm{display:block;font-size:14px;height:16px;}
.norslt_conts_mid_t,.norslt_conts_btm_top{margin-bottom:8px}
.norslt_conts_mid_t .fontgrey{margin-left:22px}
.norslt_conts_mid_sch input{width:385px;height:26px;border:solid 1px #a8a8a8;color:#aeadad;font:normal 12px/26px '宋体';float:left}
.norslt_conts_mid_btn{display:block;background:url(../images/trade/postoffer/pstbuy_schno_11.gif);width:94px;height:26px;line-height:26px;border-left:none;text-align:center;float:left}
.norslt_conts_btm_btn{display:block;background:url(../images/trade/postoffer/pstbuy_schno_15.gif);width:135px;height:30px;line-height:30px;text-align:center;float:left}
.norslt_conts_btm_txt,.norslt_conts_btm_num{display:block;float:left;height:30px;line-height:30px;margin-left:14px}
.norslt_conts_btm_txt{margin-left:90px}
.norslt_conts_btm_num{background:url(../images/trade/postoffer/pstbuy_schno_18.gif) no-repeat left 8px;padding-left:22px}
.buysch_norslt_conts_r{background:#f3f3f3;width:414px;height:428px;float:right}
.buysch_norslt_conts_r h3{margin:8px 16px}
.buysch_norslt_lists{margin:0px 16px;padding:8px 16px 0px;background:white}
.buysch_norslt_lists_li li{display:block;margin:8px 0px;*margin:9px 0px;_margin:8px 0px;padding-right:8px;float:left}
.buysch_norslt_lists_li h4{height:16px;color:#145900;font-size:14px;}
/******postbuy search noresulst end*******/













