/********trade post commheader ********/
.trade_postoffer_header{position:relative;width:908px;height:70px;margin:8px auto;}
.postoffer_quit{position:absolute;top:0px;right:0px;line-height:20px;width:252px;display:block;height:50px;margin:16px 0px}
.postoffer_quit_help{margin-left:54px}

/** trade post index start****/
.trade_pstoferindex_cont{height:395px;background:url(../images/trade/postoffer/post_index_bg.gif)}
.trade_pstoferindex_cont .fontorange{display:block;padding:140px 0px 70px 0px;text-align:center;}
.pstoferindex_cont_afford,.pstoferindex_cont_buy{display:inline-block;width:241px;height:37px;}
a.pstoferindex_cont_afford{margin-left:220px;background:url(../images/trade/postoffer/post_indexbtn.gif) no-repeat;float:left;}
a.pstoferindex_cont_afford:hover{ background-position:left -144px}
a.pstoferindex_cont_buy{margin-right:220px;background:url(../images/trade/postoffer/post_indexbtn.gif) no-repeat left -60px;float:right;}
a.pstoferindex_cont_buy:hover{ background-position:left -194px}
.trade_pstoferindex_bottom{margin:8px auto;height:170px;}
.pstoferindex_bottom_l{width:700px;float:left;}
.pstoferindex_bottom_l .fontbold,.pstoferindex_bottom_r .fontbold{height:30px;line-height:30px;margin-left:8px;border:dashed 1px #d9e7d9;border-style:none none dashed none;color:#13751f;font-size:16px}
.bottom_l_t,.bottom_l_p{display:block;}
.bottom_l_t,.bottom_l_tt{font-size:14px;margin:16px 0px 0px 16px;}
.bottom_l_p,.bottom_l_pt{background:url(../images/trade/postoffer/post_indexbtn.gif) no-repeat 140px -115px;height:40px}
.bottom_l_p a,.bottom_l_pt a{margin:40px;line-height:30px}
.bottom_l_pt{background:none;}
.pstoferindex_bottom_r{width:238px;border:solid 1px #cddfcd;float:right}
.pstoferindex_bottom_r ul{margin:8px 0px 8px 8px;}
.pstoferindex_bottom_r ul li{line-height:24px;background:url(../images/global/list01.gif) no-repeat left;padding-left:8px;}
/** trade post index end****/


/****pstofer stpone  start******/
.trade_postofferone_top,.trade_postoffertwo_top,.trade_pstofone_top,.trade_pstbuyone_conts h3,.trade_pstbuyone_bottom h3{height:42px;background:url(../images/trade/postoffer/pstofr_one_bg.gif)}
.top_r_f,.top_r_s,.top_r_t,.postoffer_search_btn,.postoffer_next,.postoffertwo_hder_title,.postoffertwo_neck_title,.postoffer_foot_titile{font-weight:bold;}
.trade_postofferone_top .fontbold,.trade_postoffertwo_top .fontbold{margin:12px 26px;font-size:14px;float:left;}
.mainb_top_r{display:block;float:right;}
.top_r_f,.top_r_s,.top_r_t{height:40px;display:block;padding:0px 26px 0px 34px;font-size:14px;line-height:40px;float:left;}
.top_r_f{background:url(../images/trade/postoffer/poststp_bg.gif) no-repeat left 8px}
.top_r_s{background:url(../images/trade/postoffer/poststp_bg.gif) no-repeat left -90px}
.top_r_t{background:url(../images/trade/postoffer/poststp_bg.gif) no-repeat left -124px}
.trade_postofferone_neck{height:44px}
.postofferone_neck_l,.postofferone_neck_r{margin:16px 30px;padding-left:16px;}
.postofferone_neck_l{background:url(../images/trade/postoffer/postoff.gif) no-repeat left -198px;font-size:14px;float:left}
.postofferone_neck_r{float:right}
.trade_postofferone_search{margin-left:44px;}
.postofferone_search_area,.postofferone_search_btn{height:26px;margin-left:40px;}
.postofferone_search_area{width:320px;border:solid 1px #d7e5d7;}
.postofferone_search_btn{width:103px;height:27px;background:url(../images/trade/postoffer/postoff.gif) left -106px no-repeat;border:none;font-size:18px;font-weight:bold;}
.trade_postofferone_type{padding-top:20px;margin:16px 30px;height:280px;border:solid 1px #e0e0e0;border-style:dashed none none none;}
.postoferone_type_l,.postoferone_type_m,.postoferone_type_r{display:block;width:260px;height:220px;margin-left:26px;border:solid 1px #d7e5d7;float:left; }
.type_top_sel,.type_l_sel,.type_m_sel,.type_r_sel{width:260px;height:220px;border:none;background:none;line-height:24px;padding:10px}
.type_top_sel{width:320px;height:26px;}
.trade_postofferone_foot{height:90px;margin-top:10px;}
.postoffer_foot{display:block;margin:0px 0px 16px 26px;}
.postoffer_next{display:block;width:231px;height:40px;background:url(../images/trade/postoffer/postoff.gif) no-repeat;) no-repeat;margin:16px auto;text-align:center;line-height:40px;font-size:16px;color:white;}
/*****pstofer stpone end***/



/*****pstofer stptwo start************/
.trade_postblock{width:958px;margin:0 auto;border:solid 1px #c9c8c8}
.postoffertwo_hder_title,.postoffertwo_hder_nav,.postoffertwo_hder_notice{margin:16px 0px 0px 10px;}
.trade_postoffertwo_hder{height:45px;margin:0 auto;}
.postoffertwo_hder_title{padding-left:16px;margin-left:30px;_margin-left:15px;background:url(../images/trade/postoffer/postoff.gif) no-repeat left -198px;font-size:14px;float:left;}
.postoffertwo_hder_nav{display:block;width:270px;float:left;}
.back_txt{display:block;width:101px;height:27px;background:url(../images/trade/postoffer/postoff.gif) no-repeat left -60px;margin:8px 0px 0px 0px;line-height:27px;text-align:center;color:#353534;float:left;}
.postoffertwo_hder_notice{display:block;width:270px;margin-right:24px;color:#908f8f;float:right;}
.trade_postoffertwo_neck{width:900px;height:36px;margin:0px auto;line-height:36px;border:solid 1px #c9c8c8;border-style:solid none solid none;}
.postoffertwo_neck_title{font-size:14px;padding-left:16px;background:url(../images/trade/postoffer/postoff.gif) no-repeat left -188px;float:left;}
.postoffertwo_neck_r{color:#908f8f;line-height:36px;float:right;}
.postoffer_editor_title,.postoffer_upload_title,.postoffer_form_title{display:block;margin:16px 0px 16px 40px;font-size:12px;font-weight:100}
.postoffer_form_title{margin-left:68px;}
.postoffer_form{display:block;width:690px;border:solid 1px #c9c8c8;margin:0 auto;}
.postoffer_form label{display:block;margin:20px 0px 20px 60px;}
.postoffer_form label input{width:200px;height:20px;margin-left:20px;border:solid 1px #c9c8c8;}
.trade_postoffertwo_editor{width:900px;margin:16px auto;}
.trade_postoffertwo_infotitle{margin:16px 0px 16px 54px}
.trade_postoffertwo_infotitle input{width:400px;height:20px;border:solid 1px #c9c8c8;}
.postoffer_upload_title{margin-left:67px;}
.postoffer_upload,.postoffer_upload img{margin-left:65px;}
.postoffer_upload img,.pstbuyone_editor img{border:solid 1px #c9c8c8}
.postoffer_upload{display:block;}
.postoffer_upload_bottom{display:block;width:101px;height:27px;margin:16px 0px 0px 125px;*margin:16px 0px 0px 66px;_margin:16px 0px 0px 66px}
.postoffer_editor{display:block;border:solid 1px #c9c8c8;margin-left:100px;}
.trade_postoffertwo_editor{margin:0 auto;}
.trade_postoffertwo_editor p{margin:10px 0px 0px 98px;}
.postoffer_foot_titile{display:block;background:url(../images/trade/postoffer/postoff.gif) no-repeat left -198px;width:879px;padding:0px 0px 16px 16px;margin:16px 0px 16px 46px;border:solid 1px #c9c8c8;font-size:14px;border-style:none none solid none}
.trade_postoffertwo_foot{height:350px;}
.postoffer_info_valid,.postoffer_score,.titnormal,.postoffer_foot_notice p{margin-left:90px;}
.postoffer_foot_notice p{margin:8px 0px 0px 155px;}
.postoffer_info_valid input{margin-left:15px;}
.postoffer_score a{margin-right:26px;float:right;}
.postoffer_score,.titnormal,.postoffer_foot p{margin-top:8px;}
.postoffer_foot_read{display:block;margin:24px auto;text-align:center;} 
/*****pstofer stptwo end************/


/*********pstbuy  stpone  start*******/
.trade_pstbuynoe_leader,.trade_pstbuyone_bottom h3{height:30px;line-height:30px;padding-left:16px}
.trade_pstbuynoe_leader .fontbold{font-size:14px;color:#096107}
.trade_pstbuyone_conts h3{padding-left:16px;line-height:42px}
.pstbuyone_form{margin:8px 0px 0px 20px;height:26px;line-height:26px}
.pstbuyone_l_txt,.pstbuyone_form .fontbold{display:block;width:120px;text-align:right;float:left}
.pstbuyone_m_elems{display:block;margin:0 8px;float:left}
.pstbuyone_form input,.pstbuyone_form select{width:200px;height:20px;border:1px solid #c9c8c8}
.pstbuyone_form .fontbold{float:left}
.pstbuyone_dashline{display:block;height:16px;width:810px;border:dashed 1px #c9c8c8;border-style:none none dashed none;float:right}
.pstbuyone_editor,.pstbuyone_editor_notice{margin:8px 0px 0px 142px}
.pstbuyone_editor_notice p{line-height:20px}
.pstbuyone_bottom_tips{margin:8px 0px 0px 80px}
.pstbuyone_bottom_tips p{line-height:24px}
.pstbuyone_bottom_tips .fontgrey{margin-left:60px;_margin-left:30px}
.pstbuyone_bottom_clause,.pstbuyone_bottom_pstbtn a{display:block;margin:16px 0px;text-align:center}
.pstbuyone_bottom_pstbtn a{background:url(../images/trade/postoffer/postoff.gif) no-repeat 368px -285px;color:white;font:bold 16px/40px '宋体'}
/*********pstbuy  stpone  end******/


/*********postbuy stptwo start***************/
.trade_pstbuytwo_above{position:relative;height:308px;background:url(../images/trade/postoffer/pstbuy_stptwo_bg.gif)}
.pstbuytwo_above_conts{position:absolute;left:130px;top:60px;width:700px}
.pstbuytwo_above_conts aside{background:url(../images/trade/postoffer/postoff.gif) no-repeat 220px -236px;height:24px;line-height:24px;text-align:center;font-size:14px}
.pstbuytwo_conts_server h3{margin:36px 0 26px;}
.pstbuytwo_conts_server p{display:block;height:22px;margin-bottom:8px;line-height:22px;font-size:14px}
.pstbuytwo_conts_server p .pstbuytwo_p_l{display:block;float:left}
.pstbuytwo_conts_server a{display:block;width:78px;text-align:center;margin-right:100px;_margin-right:50px;background:url(../images/trade/postoffer/postoff.gif) left -153px no-repeat;float:right}
.trade_pstbuytwo_below{margin-top:8px;height:194px;*height:208px;_height:194px;background:#f2f3f4}
.trade_pstbuytwo_below h3{display:block;height:40px;line-height:40px;margin-left:30px}
.trade_pstbuytwo_below ul{line-height:30px;border:solid 1px white;border-style:solid none none none;float:left}
.trade_pstbuytwo_below ul li{margin-left:30px;_margin-left:15px;padding-right:74px;float:left}
/*************postbuy stptwo end**********/

/*************hb findprice start*****/
.trade_findprice_block,.trade_infocomp_block{border:solid 2px #27a518;border-style:solid none none none}
.trade_findprice_block h3{background:url(../images/trade/postoffer/postoff.gif) no-repeat 16px -186px;height:40px;line-height:40px;padding-left:32px;border-style:none none dashed none}
.fdprc_conts,.fdprc_conts_mid,.fdprc_conts_botom{margin:22px 0px 0px 240px;height:54px}
.fdprc_conts_l{display:block;margin-right:20px;width:84px;height:20px;line-height:20px;text-align:right;float:left}
.fdprc_conts_r{display:block;margin-top:3px;float:left}
.fdprc_conts_r_top{padding-left:16px;background:url(../images/trade/postoffer/findprice.gif) no-repeat left -69px;}
.fdprc_conts_r ul li{line-height:20px}
.fdprc_conts_mid{height:22px}
.fdprc_conts_mid_ipt{display:block;float:left}
.fdprc_conts_mid input,.fdprc_conts_botom textarea{height:20px;width:300px;border:none}
.fdprc_conts_botom,.fdprc_conts_botom textarea{height:160px}
.fdprc_conts_botom textarea{border:solid 1px #a8a8a8}
.fdprc_botom_btn a{display:block;width:91px;height:29px;line-height:29px;background:url(../images/trade/postoffer/findprice.gif) no-repeat;}
.fdprc_foot,.fdprc_botom_btn a{margin:16px auto 0px;text-align:center}
/*************hb findprice end*****/
/*************hb infocomp start****/
.trade_infocomp_block h3{background:url(../images/trade/postoffer/findprice.gif) no-repeat left -121px;border-style:none none dashed none;font:500 12px/40px '宋体'}
.infocomp_top_notice,.trade_infocomp_block h3{height:40px;line-height:40px;padding-left:20px}
.trade_infocomp_block table{margin:0 auto;text-align:center;border:8px solid #ebebeb}
.trade_infocomp_block table td{width:132px}
.trade_infocomp_tr1{height:35px;}
.trade_infocomp_tr2{height:78px;}
.trade_infocomp_tr3,.trade_infocomp_tr4,.trade_infocomp_tr5,.trade_infocomp_tr6,.trade_infocomp_tr7{height:50px}
.trade_infocomp_tr2,.trade_infocomp_tr4,.trade_infocomp_tr6{background:white;}
.infocomp_bg{background:url(../images/trade/postoffer/findprice.gif) no-repeat 20px -82px}

/*************hb infocomp end*****/


