<!--中部图片 begin--> 
<div id="theme_pic" class="headTopic moveChild pointer" >
    <div class="clr"></div>
    <div class="rel fr zindex900">
        <div class="edit">
            <div class="editdiv">
                <a href="javascript:void(0);"  onmousedown="return aliclick(this,'?tracelog=dndiy_edit_zttp')"  class="editCtrl">
                    <img border="0" src="$!{address.images}/esite/edit.gif"/>
                </a>
            </div>
        </div>
    </div>
    <div class="rel fr size0 zindex999">
        <div class="editList editListTop">
            <ul>
                <li onmouseover="this.className='onHover';" onmouseout="this.className='';">
                    <a href="#" class="moveUp block ml10px" onclick="Move.moveUp(this.parentNode.parentNode.parentNode.parentNode.parentNode,0);return false;" onfocus="this.blur()">上移板块</a>
                </li>
                <li onmouseover="this.className='onHover';" onmouseout="this.className='';">
                    <a href="#" class="movedown block ml10px" onclick="Move.moveDown(this.parentNode.parentNode.parentNode.parentNode.parentNode,0);return false;" onfocus="this.blur()">下移板块</a>
                </li>
                <li onmouseover="this.className='onHover';" onmouseout="this.className='';">
                    <a href="#" class="editStyle block ml10px" onclick="openDesignDiv('setStyleDetail','editTopicImg','editTopicImg');" onmousedown="return aliclick(this,'?tracelog=dndiy_btn_editstyle')" onfocus="this.blur()">编辑风格</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="description" class="description">
        <div id="topDesc" class="topDesc"></div>
        <div id="bottomDesc" class="bottomDesc"></div>
    </div>
</div>
<!--中部图片 end--> 