<script type="text/javascript" src="js/tr_zz.js"></script>
<!--头部结束-->
<div class="main_box" style="text-indent:1em;">
当前位置：ZZ91再生网 > <a href="#springUrl('/jiaoyi')">二手设备交易中心</a>
</div>
<div class="main_box">
<div class="trtwo_left">
        <div class="trtwo_leftclasstit"><img src="$!{address.img}/shebei/trade/images/trade_04.jpg" width="240" height="33" /></div>
        <div class="trtwo_leftinfosp"></div>
    	<div class="trtwo_leftinfo">
			#foreach($fCode in $!{allCode})
				
			  <div class="trtwo_left_class">
					
                    <div class="trtwo_left_classd">
						<a href="#springUrl('/list')$!{fCode.categoryProducts.code}.htm">$!{fCode.categoryProducts.label}</a>
					</div>
                    <div class="trtwo_left_classx">
						<ul>
						#foreach($sCode in $!{fCode.listProducts})
							<li>
								<a href="#springUrl('/list')$!{sCode.code}.htm">$!{sCode.label}</a>
							</li>
                        #end
						</ul>
						<div class="clear"></div>
                    </div>
			  </div>
			#end
      </div>
</div>
<div class="trtwo_right">
	<div class="trtwo_border trtwo_right_ban">
		<div class="trtwo_right_bansa"><a href="$!{address.trade}/postoffer_step1.htm"><img src="$!{address.img}/shebei/trade/images/dhname.gif" width="183" height="29" /></a></div>
		<div class="trtwo_right_bansb"><a href="http://www.zz91.com/service/newzst/"><img src="$!{address.img}/shebei/trade/images/dhname.gif" width="183" height="29" /></a></div>
		<div class="trtwo_right_bansc"><a href="$!{address.huzhu}"><img src="$!{address.img}/shebei/trade/images/dhname.gif" width="183" height="29" /></a></div>
	</div>
	<div class="trtwo_sp"></div>
	<div class="trtwo_border">
<script type="text/javascript" language="javascript">
function g(o){
	return document.getElementById(o);
}
function HoverLil(n){
	for(var i=1;i<3;i++){
		g('ltbc_0'+i).className='trtwo_right_undis';
	}
	g('ltbc_0'+n).className='trtwo_right_dis';
}
</script>
 <div class="trtwo_right_tit_name">最新废旧二手设备供求信息</div>
    <div class="trtwo_right_imgino">
            <ul>
                <li class="trtwo_right_ssbjn" onclick="HoverLil(1);"></li>
                <li class="trtwo_right_ssbj" onclick="HoverLil(2);"></li>
            </ul>
    </div>
    <div id="ltbc_01" class="trtwo_right_undis">
            <ul style="padding-top:10px;">
				#foreach($buy in $!{listBuy})
                    <li class="trtwo_right_gew"><span>#printFragmentDate('yyyy-MM-dd' $!{buy.gmtShow})</span>
					<a href="#springUrl('/pdetail')$!{buy.id}.htm" target="_blank">#printTitle($!{buy.title} 10 "")</a>
					</li>
				#end
            </ul>
    </div>
	<div id="ltbc_02" class="trtwo_right_dis">
		<ul style="padding-top:10px;">
			#foreach($supply in $!{listSupply})
				<li class="trtwo_right_gew"><span>#printFragmentDate('yyyy-MM-dd' $!{supply.gmtShow})</span>
					<a href="#springUrl('/pdetail')$!{supply.id}.htm" target="_blank">#printTitle($!{supply.title} 10 "")</a>
				</li>
			#end
			<li class="trtwo_right_ege"><a href="#"><b>更多>></b></a></li>
		</ul>
	</div>
</div>
<div class="trtwo_sp"></div>
<div class="trtwo_border">
	<div class="trtwo_right_tit_name">二手设备最新加入商家</div>
	<div>
		<ul style="padding-top:10px;">
			#foreach($company in $!{newCompany})
				<li class="trtwo_right_gew"><span>#printFragmentDate('yyyy-MM-dd' $!{company.gmtShow})</span>
					<a href="#springUrl('/companyHome')$!{company.id}.htm" target="_blank" title="$!{company.name}">#printTitle($!{company.name} 10 "")</a>
				</li>
			#end
			<li class="trtwo_right_ege"><a href="#springUrl('/gongsi')" target="_blank"><b>更多>></b></a></li>
		</ul>
	</div>
</div>
<div class="trtwo_sp"></div>
<div class="trtwo_border">
	<div class="trtwo_right_tit_name">最新二手设备行业资讯</div>
	<div>
		<ul style="padding-top:10px;">
			#foreach($newInfo in $!{news})
				<li class="trtwo_right_gew"><span>#printFragmentDate('yyyy-MM-dd' $!{newInfo.gmtShow})</span>
					<a href="$!{address.price}/news/zixun/zxdetails$!{newInfo.id}.htm" target="_blank" title="$!{newInfo.title}">#printTitle($!{newInfo.title} 10 "")</a>
				</li>
			#end
			<li class="trtwo_right_ege"><a href="$!{address.price}/news/zixun/list1000--t0.htm" target="_blank"><b>更多>></b></a></li>
		</ul>
	</div>
</div>
<div class="trtwo_sp"></div>
<div class="trtwo_border">
	<div class="trtwo_right_tit_name">最新二手设备报价</div>
	<div>
		<ul style="padding-top:10px;">
			#foreach($price in $!{prices})
				<li class="trtwo_right_gew"><span>#printFragmentDate('yyyy-MM-dd' $!{price.gmtShow})</span>
					<a href="$!{address.price}/news/baojia/bjdetails$!{price.id}.htm" target="_blank" title="$!{price.title}">#printTitle($!{price.title} 10 "")</a>
				</li>
			#end
			<li class="trtwo_right_ege"><a href="$!{address.price}/news/baojia/list1000--t1.htm" target="_blank"><b>更多>></b></a></li>
		</ul>
	</div>
</div>
</div>
<div class="clear"></div>
</div>
