<!--优质废料商推荐-->
<div class="te_tit_border" style="width:708px;">
	<div class="te_tit_name">
		<ul>
			<li style="width:620px; float:left;">优质废料商推荐</li>

			<li style="float:left; padding-top:2px;">
				<img src="$!{address.img}/zz91/trade/images/zz91te_left.jpg" width="23" height="22" style="cursor:pointer;" class="plistChange" />
			</li>
			<li style="width:50px; text-align:center; float:right; padding-top:2px;">
				<img src="$!{address.img}/zz91/trade/images/zz91te_right.jpg" width="23" height="22" style="cursor:pointer;" class="plistChange"/>
			</li>
			
		</ul>
	</div>

	<div class="scrpic">
		#foreach($plist in [$!gyProductList,$!qgProductList])
		<div id="plist$velocityCount" #if(1 < $velocityCount) style="display:none;" #end>
			#foreach($obj in $plist)
				#if($velocityCount<=5)
					<div class="cont">
						<ul>
							<li>
								<a href="#springUrl('/productdetails')$!{obj.products.id}.htm" target="_blank">
									#if($!{obj.coverPicUrl} && $!{obj.coverPicUrl}!="")
    									<img src="$!{address.thumb}$!{address.resource}/$!{obj.coverPicUrl}&width=120&height=100" width="120" height="100" />
    								#else
    									<img src="http://img0.zz91.com/front/images/global/noimage.gif" width="120" height="100" />
    								#end
								</a>
							</li>
							<li>
								<a href="#springUrl('/productdetails')$!{obj.products.id}.htm" target="_blank" title="$!{obj.products.title}">#printTitle($!{obj.products.title} 9 "")</a>
								<br /><br />
								<span>
									$!{obj.products.minPrice}
									#if(${obj.products.maxPrice} && ${obj.products.maxPrice}>0)
										-${obj.products.maxPrice}
									#end
									$!{obj.products.priceUnit}
									#if(${obj.products.quantityUnit} && ${obj.products.quantityUnit.length()}>0)
										/
										${obj.products.quantityUnit}
									#end
								</span>
							</li>
							<li style="padding-top:5px;">
								<a href="$!{address.front}/inquiry/inquiryApi.htm?productId=$!{obj.products.id}" target="_blank">
									<img src="$!{address.img}/zz91/trade/images/zz91te_gwly.jpg" width="98" height="20" alt="给我留言" title="$!{obj.products.title}" />
								</a>
							</li>
						</ul>
					</div>
				#end
			#end
		</div>
		#end
		
	</div>
</div>
<!--结束优质废料商推荐-->
<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery(".plistChange").click(function(){
			jQuery("#plist1").fadeToggle();
			jQuery("#plist2").fadeToggle();
		});
	});
</script>
