<div class="te_7rx te_tit_border">
	<div class="te_tit_name">优质废料商推荐</div>
    <div class="tj_7rx_claas" >
        <ul id="tj0">
        <li class="ssbjn">供应</li>
        <li class="ssbj">求购</li>
        </ul>
    </div>		
    <div>
        <ul id="tj0List">
            <li>
                <div id="plist1">
			<!-- $!{tjgyProductList.size()}	-->	
			#if($!{tjgyProductList.size()}>9)
				    #foreach($obj in $!tjgyProductList)
                    <div class="tjcont">
                        <ul>
                            <li>
                            <a href="#springUrl('/productdetails')$!{obj.products.id}.htm" target="_blank">
                            #if($!{obj.coverPicUrl} && $!{obj.coverPicUrl}!="")
                            <img src="$!{address.thumb}$!{address.resource}/$!{obj.coverPicUrl}&width=110&height=90" width="110" height="90" />
                            #else
                            	<img src="http://img0.zz91.com/front/images/global/noimage.gif" width="110" height="90" />
                            #end
                            </a>
                            </li>
                            <li>
                            <a href="#springUrl('/productdetails')$!{obj.products.id}.htm" target="_blank" title="$!{obj.products.title}">#printTitle($!{obj.products.title} 7 "")</a>
                            <br />
                            </li>
                            <li style="padding-top:5px;">
								<a href="$!{address.front}/inquiry/inquiryApi.htm?productId=$!{obj.products.id}" target="_blank">
									<img src="$!{address.img}/zz91/trade/images/zz91te_gwly.jpg" width="98" height="20" alt="在线询价" title="$!{obj.products.title}" />
								</a>
                            </li>
                        </ul>
                    </div>
				#end
				
			#else
                #foreach($obj in $!gyProductList)
                    <div class="tjcont">
                        <ul>
                            <li>
                            <a href="#springUrl('/productdetails')$!{obj.products.id}.htm" target="_blank">
                            #if($!{obj.coverPicUrl} && $!{obj.coverPicUrl}!="")
                            <img src="$!{address.thumb}$!{address.resource}/$!{obj.coverPicUrl}&width=110&height=90" width="110" height="90" />
                            #else
                            	<img src="http://img0.zz91.com/front/images/global/noimage.gif" width="110" height="90" />
                            #end
                            </a>
                            </li>
                            <li>
                            <a href="#springUrl('/productdetails')$!{obj.products.id}.htm" target="_blank" title="$!{obj.products.title}">#printTitle($!{obj.products.title} 7 "")</a>
                            <br />
                            </li>
                            <li style="padding-top:5px;">
								<a href="$!{address.front}/inquiry/inquiryApi.htm?productId=$!{obj.products.id}" target="_blank">
									<img src="$!{address.img}/zz91/trade/images/zz91te_gwly.jpg" width="98" height="20" alt="在线询价" title="$!{obj.products.title}" />
								</a>
                            </li>
                        </ul>
                    </div>
				#end
			#end
                </div>
            </li>
            <li style="display:none;">
                <div id="plist2">
			<!-- $!{tjqgProductList.size()}	-->	
			#if($!{tjqgProductList.size()}>9)
				   #foreach($obj in $!tjqgProductList)
                    	<div class="tjcont">
                            <ul>
                                <li>
                                <a href="#springUrl('/productdetails')$!{obj.products.id}.htm" target="_blank">
                                #if($!{obj.coverPicUrl} && $!{obj.coverPicUrl}!="")
                                <img src="$!{address.thumb}$!{address.resource}/$!{obj.coverPicUrl}&width=110&height=90" width="110" height="90" />
                                #else
                                	<img src="http://img0.zz91.com/front/images/global/noimage.gif" width="110" height="90" />
                                #end
                                </a>
                                </li>
                                <li>
                                <a href="#springUrl('/productdetails')$!{obj.products.id}.htm" target="_blank" title="$!{obj.products.title}">#printTitle($!{obj.products.title} 7 "")</a>
                                <br />
                                </li>
                                <li style="padding-top:5px;">
									<a href="$!{address.front}/inquiry/inquiryApi.htm?productId=$!{obj.products.id}" target="_blank">
										<img src="$!{address.img}/zz91/trade/images/zz91te_gwly.jpg" width="98" height="20" alt="在线询价" title="$!{obj.products.title}" />
									</a>
                                </li>
                            </ul>
                    	</div>
					#end
				
				#else
                    #foreach($obj in $!qgProductList)
                    	<div class="tjcont">
                            <ul>
                                <li>
                                <a href="#springUrl('/productdetails')$!{obj.products.id}.htm" target="_blank">
                                #if($!{obj.coverPicUrl} && $!{obj.coverPicUrl}!="")
                                <img src="$!{address.thumb}$!{address.resource}/$!{obj.coverPicUrl}&width=110&height=90" width="110" height="90" />
                                #else
                                	<img src="http://img0.zz91.com/front/images/global/noimage.gif" width="110" height="90" />
                                #end
                                </a>
                                </li>
                                <li>
                                <a href="#springUrl('/productdetails')$!{obj.products.id}.htm" target="_blank" title="$!{obj.products.title}">#printTitle($!{obj.products.title} 7 "")</a>
                                <br />
                                </li>
                                <li style="padding-top:5px;">
									<a href="$!{address.front}/inquiry/inquiryApi.htm?productId=$!{obj.products.id}" target="_blank">
										<img src="$!{address.img}/zz91/trade/images/zz91te_gwly.jpg" width="98" height="20" alt="在线询价" title="$!{obj.products.title}" />
									</a>
                                </li>
                            </ul>
                    	</div>
					#end
			#end
                </div>
            </li>
        </ul>
    </div>
</div>