#if(!$!{hotType})
	#set($hotType="废金属")
#end
<!--废金属行情综述-->
<div class="te_tit_border">
    <div class="te_tit_name">$!{hotType}行情综述</div>
    <div>
        <ul style="padding-top:10px;">
			#cacheFragment("$!{address.fragment}/price/paparPriceReview.htm?typeId=$!{pricetypeId}&size=10&td", "", "", "")
				#foreach($tn in $!{list})
					<li class="terightgew">
						<span style="float:left;">
							<font color="#0b8621">·</font>
							<a href="$!{address.jiage}/detail/$!{tn.id}.html" target="_blank" title="$!{tn.title}" class='a1'>#printTitle($!{tn.title} 16 "")</a>
						</span>
					</li>
				#end
			#end
            <li class="terightege">
                <a href="$!{address.jiage}" class="te_classoone" target="_blank">更多>></a>
            </li>
        </ul>
    </div>
</div>
<!--结束废金属行情综述-->