<!--废塑料优质商家推荐-->
<div class="te_tit_border">
    <div class="te_tit_name">优质商家推荐</div>
    <div>
        <ul style="padding-top:15px;">
			#foreach($obj in $vipCompanyList)
                <li class="yzsj_compay">
					<span #if($velocityCount <=3 ) class="yzsj_inco" #else class="yzsj_incos" #end>$velocityCount</span>
                    <span>
						<a href= #if($!{obj.domainZz91.length()}>0) "http://$!{obj.domainZz91}.zz91.com" #else "$!{address.company}/compinfo$!{obj.id}.htm" #end target="_blank" class="te_classotwo">#printTitle($obj.name 15 "")</a>
                    </span>
                </li>
			#end
        </ul>
    </div>
</div>
<!--结束废塑料优质商家推荐-->