#set($layout="/layout/promptLayout.vm")
<div class="pd">
	<div class="alert alert-info">
    	<strong>注意：</strong>
		您最多只能创建两级类别
    </div>
</div>
#set($action="#springUrl('/supply/addGroup.htm')")
#if($!{id} >0 )
	#set($action="#springUrl('/supply/updateGroup.htm')")
#end
<div class="mt">
<form id="editForm" name="editForm" method="post" action="$!{action}" >
	<input type="hidden" name = "id" value="$!{tradeGroup.id}">
	<div class="control-group">
		
		<label for="tags" class="control-label">
			<span class="red">*</span>父类别：
		</label>
		<div class="controls">
			<div class="group">
				<select class="groupSel" name="parentId" #if($!{childAvalibe} == "1") disabled #end >
					<option value="0" selected >一级类别</option>
					#foreach($groups in $!{list})
						#if($!{id} != $!{groups.id})
						#if($!{groups.id}==${tradeGroup.parentId})
								<option value="$!{groups.id}" selected>$!{groups.name}</option>
						#else
								<option value="$!{groups.id}" >$!{groups.name}</option>
						#end
						#end
					#end
				</select>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label for="tags" class="control-label">
		<span class="red">*</span>类别名称：
		</label>
		<div class="controls">
			<input name="name" type="text" id="groupName" value= "$!{tradeGroup.name}" class="field input-xlarge validate[required,maxSize[20]]">
		</div>
	</div>
		
	<div class="control-group">
		<label for="quantity" class="control-label">
			排序：
		</label>
		
		<div class="controls">
			<input name="sort" type="text" id="sort" class="field input-small validate[custom[number],max[9999]]" value="$!{tradeGroup.sort}">
		</div>
		
	</div>
		
	<div class="form-actions">
		<input type="submit" id="submitBtn" class="btn btn-primary" value="提交">
	</div>
</form>
</div>
#parse("/common/importValidate.vm")
<script type="text/javascript">
jQuery(document).ready(function(){
	
	jQuery("#editForm").validationEngine("attach");
	
##	jQuery("#submitBtn").click(function(){
##		window.parent.Asto.util.Callback.submit("true", "");
##	});
});

	
function changeAction(id){
	if(id==null){
		document.editForm.action="#springUrl('/supply/addGroup.htm')"
	}else{
		document.editForm.action="#springUrl('/supply/updateGroup.htm')"
	}
}
</script>
