<div id="category_nav" class="bodyCont moveChild" style="margin-bottom:7px;">
  <div class="clr"></div>
  <div class="bodyContTitle">
    #set($navTitle="产品分类")
    #foreach($sideBar in $!{sideBarConfig})
    	#if(${sideBar.id} == "category_nav")
    		#set($navTitle=${sideBar.title})
    	#end
    #end
	<span class="fl b titleLinkColor titleName" >${navTitle}</span>
  </div>
  <div class="bodyContContent">
	<ul>
		#foreach($!{mostseriesList} in $!{category_nav})
    	<LI class="bb1 shenglie" title="$!{mostseriesList.name}">
			<IMG class="mt8 mr10 ml25" src="$!{address.images}/esite/icon_arrow11_right_08x.gif">
			<SPAN>
				<a href="$!{esiteAddress}/myesite/zxgq.htm?sid=$!{mostseriesList.id}" class="draft_no_link">
					$!{mostseriesList.name}
				</a>
			</SPAN>
    	</LI>
    	#end
		#foreach($!{mostseriesList} in $!{mostseriesList})
    	<LI class="bb1 shenglie" title="$!{mostseriesList.name}">
    		<IMG class="mt8 mr10 ml25" src="$!{address.images}/esite/icon_arrow11_right_08x.gif">
    			<SPAN>
    				<a href="$!{address.server}/myesite/mysite_offer.htm?cd=$!{companyDO.id}&sd=$!{mostseriesList.id}&sign=2" class="draft_no_link">$!{mostseriesList.name}
    				</a>
    			</SPAN>
    	</LI>
		#end
		<li>
			<SPAN>
				<a href="$!{esiteAddress}/myesite/zxgq.htm" class="draft_no_link shenglie198 block f1 topicLink">
					未分类类别
				</a>
			</SPAN>
		</li>
	</ul>
	<div class="clr"></div>
  </div>
</div>