<div id="category_nav" class="bodyCont moveChild" style="margin-bottom:7px;">
    <div class="clr"></div>
    <div class="bodyContTitle">
        #set($navTitle="联系方式")
        #foreach($sideBar in $!{sideBarConfig})
            #if(${sideBar.id} == "contact_side")
                #set($navTitle=${sideBar.title})
            #end
        #end
        <span class="fl b titleLinkColor titleName"  >$!{navTitle}</span>
    </div>
    <div class="bodyContContent">
        <ul class="mainTextColor">
            <li>公司名：&nbsp;&nbsp;$!{company.name}</li>
            <li >联系人：&nbsp;&nbsp;$!{contact_side.contact}</li>
            <li >电&nbsp;&nbsp;&nbsp;&nbsp;话： $!{contact_side.telCountryCode} $!{contact_side.telAreaCode}  $!{contact_side.tel}</li>
            <li >移动电话： $!{contact_side.mobile}</li>
            <li >传&nbsp;&nbsp;&nbsp;&nbsp;真： $!{contact_side.faxCountryCode} $!{contact_side.faxAreaCode} $!{contact_side.fax}</li>
            <li >地&nbsp;&nbsp;&nbsp;&nbsp;址： $!{contact_side.address}</li>
            <li>公司主页：         
                <a class="draft_no_link" href="#">$!{contact_side.website}</a>
                <br/>
            </li>
        </ul>
        <div class="clr"></div>
    </div>
</div>
