<script type="text/javascript" src="#springUrl('/app/crmlink/tradesupply/editsupply.js')" ></script>
<script type="text/javascript">
Ext.onReady(function(){
	var grid=new com.zz91.trade.editsupply.listTradePropertyValueGird({
		id:EDITSUPPLY.SUPPLY_GRID,
		title:"专业属性信息",
		layout:"fit",
		region:"center"
	});
	
	grid.getStore().baseParams["categoryCode"]=$!{categoryCode};
	grid.getStore().baseParams["id"]=$!{id};
	
	new Ext.Viewport({
		layout:"border",
		items:[grid]	
	});
})
</script>