<h4>数据导入日志：</h4>

<div >
	共耗时：$!{costTime} 毫秒 <br />
	共处理数据：$!{importLog.size()} 条
</div>

<div >
	<a href="#springUrl('/data/supply/initImpt.htm')" >返回继续导</a>
</div>
<hr />

<ul>
#foreach($log in $!{importLog.keySet()})
	<li>$!log： $importLog.get(${log})</li>
#end
</ul>