<script type="text/javascript" src="#springUrl('/app/data/supply.js')"></script>

<script type="text/javascript" >
	Ext.onReady(function(){
		var grid = new com.zz91.data.supply.Grid({
			region:"center"
		});
		
		var viewport = new Ext.Viewport({
			layout:"border",
			items:[grid]
		});
		
	});
</script>